.container {
    width: 100%;
    height: 100%;
    overflow: auto;
}
.left-panel {
    
    min-height: 380px;
    min-width: 420px;
    position: relative;
    height: 100%;

    overflow: hidden;

    background: #4da1ff;
    -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, .25);
       -moz-box-shadow: 0 0 4px 0 rgba(0, 0, 0, .25);
            box-shadow: 0 0 4px 0 rgba(0, 0, 0, .25);
    &-bg-top {
        position: absolute;
        top: 0;
        right: 0;

        width: 215px;
        height: 108px;

        background: transparent url("./images/left-panel/left-bg-top.png") 0 0 no-repeat;
    }
    &-bg-center {
        position: absolute;
        bottom: 0;
        left: 0;

        width: 100%;
        height: 495px;

        background: transparent url("./images/left-panel/left-bg-center.png") 0 0 no-repeat;
    }
    &-bg-bottom {
        position: absolute;
        right: 0;
        bottom: 10px;

        width: 100%;
        height: 230px;

        background: transparent url("./images/left-panel/left-bg-bottom.png") 0 0 no-repeat;
    }
    &.in-showsub > .left-panel-cover {
        display: block;
    }
    &-cover {
        position: absolute;
        z-index: 5;
        top: 0;
        left: 0;

        display: none;
        overflow: hidden;

        width: 100%;
        height: 100%;

        background: rgba(0, 0, 0, .6);
         > .save-loading {
            position: absolute;
            top: 40%;
            left: 50%;

            width: 80px;
            height: 80px;
            margin: -40px 0 0 -40px;

            background: url("./images/left-panel/save-loading.gif") center no-repeat;
        }
    }
}

/* 触发按钮 */

.logo-box {
    margin-left: 40px;
}

.app-start-trigger {
    position: absolute;
    top: 4px;
    left: 10px;

    width: 40px;
    height: 40px;

    cursor: pointer;

    background: transparent url("./images/top/icon-win.png") center no-repeat; // &:hover {
    //     background-image: url("./images/left-panel/win-blue2.png");
    // }
    // &.active {
    //     z-index: 5000;
    //     background-color: #8395a9;
    // }
}

.left-panel-header {
    position: relative;
    z-index: 1;

    height: 40px;
    padding: 0 20px;

    line-height: 40px;

    color: #fff;
    &-name {
        font-size: 18px;
    }
    &-icon {
        width: 20px;
        height: 100%;

        cursor: pointer;

        background: transparent url("./images/left-panel/icon-settings.png") center no-repeat;
    }
}

.left-panel-body {
    position: absolute;
    top: 40px;
    right: 20px;
    bottom: 18px;
    left: 20px;

    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    background: rgba(248, 248, 248, .88);
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, .15);
       -moz-box-shadow: 0 0 4px rgba(0, 0, 0, .15);
            box-shadow: 0 0 4px rgba(0, 0, 0, .15);
}

.app-list {
    overflow: hidden;

    height: 100%;
    padding-top: 15px;
}

.apps-pages-list {
    -webkit-transition: margin-left .3s ease-in-out;
       -moz-transition: margin-left .3s ease-in-out;
         -o-transition: margin-left .3s ease-in-out;
            transition: margin-left .3s ease-in-out;
     > .apps-page-content {
        width: 372px;
    }
}

.app-item {
    float: left;

    width: 124px;
    height: 110px;
    padding-top: 10px;

    font-size: 14px;

    cursor: pointer;
     > .icon {
        display: block;

        margin: 0 auto;
    }
     > .name {
        position: relative;
        top: -30px;

        display: block;

        // margin: 0 20px;

        line-height: 20px;

        text-align: center;

        color: #fff;
    }
}

.apps-page-bar {
    position: absolute;
    bottom: 0;

    width: 100%;
    height: 50px;

    text-align: center;
    @at-root {
        .apps-page-btn {
            -webkit-user-select: none;
               -moz-user-select: none;
                -ms-user-select: none;
                    user-select: none;
            display: inline-block;
            overflow: hidden;

            width: 20px;
            height: 30px;
            margin: 0 5px;

            font-size: 12px;
            line-height: 30px;

            cursor: pointer;

            color: #fff;
            background: url("./images/left-panel/other-page.png") center no-repeat;
            &.active {
                background-image: url("./images/left-panel/active-page.png");
            }
        }
        .apps-page-prev {
            display: block;
            float: left;

            width: 30px;
            height: 30px;
            margin-left: 10px;

            cursor: pointer;

            background: url("./images/left-panel/prev-btn.png") center no-repeat;
            &:hover {
                background-image: url("./images/left-panel/prev-btn-h.png");
            }
            &.disabled {
                cursor: not-allowed;

                background-image: url("./images/left-panel/prev-btn.png");
                &:hover {
                    background-image: url("./images/left-panel/prev-btn.png");
                }
            }
        }
        .apps-page-next {
            display: block;
            float: right;

            width: 30px;
            height: 30px;
            margin-right: 10px;

            cursor: pointer;

            background: url("./images/left-panel/next-btn.png") center no-repeat;
            &:hover {
                background-image: url("./images/left-panel/next-btn-h.png");
            }
            &.disabled {
                cursor: not-allowed;

                background-image: url("./images/left-panel/next-btn.png");
                &:hover {
                    background-image: url("./images/left-panel/next-btn.png");
                }
            }
        }
    }
}

.sub-apps {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;

    overflow: hidden;

    width: 360px;
    height: 480px; // transition: all .3s ease-in-out;   -webkit-transform: scale(.1);
      -moz-transform: scale(.1);
       -ms-transform: scale(.1);
        -o-transform: scale(.1);
           transform: scale(.1);
    -webkit-transform-origin: 0 0;
       -moz-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
         -o-transform-origin: 0 0;
            transform-origin: 0 0;

    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
    background: rgba(255, 255, 255, .3); // transition: transform .3s  ease-out;
    &.show {
        top: 30px;
        left: 30px;

        -webkit-transform: scale(1);
           -moz-transform: scale(1);
            -ms-transform: scale(1);
             -o-transform: scale(1);
                transform: scale(1);
    }
    &.trans {
        -webkit-transition: all .3s cubic-bezier(.18, .89, .32, 1.28);
           -moz-transition: all .3s cubic-bezier(.18, .89, .32, 1.28);
             -o-transition: all .3s cubic-bezier(.18, .89, .32, 1.28);
                transition: all .3s cubic-bezier(.18, .89, .32, 1.28);
    }
     > .sub-apps-name {
        height: 40px;

        font-size: 16px;
        line-height: 40px;

        text-align: center;

        color: #fff;
    }
     > .sub-apps-list {
        position: absolute;
        top: 40px;
        right: 5px;
        bottom: 0;
        left: 5px;

        padding: 0 10px;
        &:after {
            display: block;
            clear: both;

            content: "";
        }
    }
    .app-item {
        width: 110px;
        height: 110px;
         > .name {
            margin: 0 10px;

            font-size: 13px;
        }
    }
}

// 顶部样式调整
.top {
    min-width: 1100px;
}

.list-first {
    display: none;
}

.top-right-content {
    height: 100%;
}

.top-right {
    height: 100%;
    padding-top: 0;
     > a,
    .user,
     > .top-icon-qrcode {
        width: 35px;
        height: 100%;
        margin: 0;
        padding: 0;
    }
    .remind {
        background: transparent url("./images/top/icon-remind.png") center no-repeat;
        &:hover,
        &.active {
            background-color: rgba(228, 241, 255, .12);
            background-image: url("./images/top/icon-remind-h.png");
        }
    }
    .top-icon-qrcode {
        position: relative;

        cursor: pointer;

        background: transparent url("./images/top/icon-qrcode.png") center no-repeat;
        &:hover,
        &.active {
            background-color: rgba(228, 241, 255, .12);
            background-image: url("./images/top/icon-qrcode-h.png");
        }
        &.active {
             > .top-qrcode-box {
                // position: absolute;
                display: block;
            }
        }
    }
    .top-qrcode-box {
        position: absolute;
        top: 52px;
        left: 50%;

        display: none;

        padding: 6px;

        -webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;
        -webkit-transition: -webkit-transform .3s ease-in-out;
           -moz-transition:         transform .3s ease-in-out, -moz-transform .3s ease-in-out;
             -o-transition:      -o-transform .3s ease-in-out;
                transition: -webkit-transform .3s ease-in-out;
                transition:         transform .3s ease-in-out;
                transition:         transform .3s ease-in-out, -webkit-transform .3s ease-in-out, -moz-transform .3s ease-in-out, -o-transform .3s ease-in-out;
        -webkit-transform: scale(0);
           -moz-transform: scale(0);
            -ms-transform: scale(0);
             -o-transform: scale(0);
                transform: scale(0);
        -webkit-transform-origin: 50% 0;
           -moz-transform-origin: 50% 0;
            -ms-transform-origin: 50% 0;
             -o-transform-origin: 50% 0;
                transform-origin: 50% 0;

        background: #255ba4;

        // filter: opacity(0);
        // opacity: 0;
        &:after {
            position: absolute;
            top: -10px;
            left: 50%;

            display: block;

            width: 0;
            height: 0;
            margin-left: -5px;

            content: "";

            border: 5px solid transparent;
            border-bottom-color: #255ba4;
        }
        &.show {
            -webkit-transform: scale(1);
               -moz-transform: scale(1);
                -ms-transform: scale(1);
                 -o-transform: scale(1);
                    transform: scale(1);
            // filter: opacity(1);
            // opacity: 100;
        }
    }
    .top-icon-skin {
        background: transparent url("./images/top/icon-skin.png") center no-repeat;
        &:hover,
        &.active {
            background-color: rgba(228, 241, 255, .12);
            background-image: url("./images/top/icon-skin-h.png");
        }
    }
    .chart {
        background: transparent url("./images/top/icon-chart.png") center no-repeat;
        &:hover,
        &.active {
            background-color: rgba(228, 241, 255, .12);
            background-image: url("./images/top/icon-chart-h.png");
        }
    }
    .head-img {
        width: 100%;
        height: 100%;

        opacity: 0;

        -webkit-filter: opacity(0);
                filter: opacity(0);
    }
    .user {
        background: transparent url("./images/top/icon-user.png") center no-repeat;
        &:hover,
        &.active {
            background-color: rgba(228, 241, 255, .12);
            background-image: url("./images/top/icon-user-h.png");
        }
    }
    .top-icon-quit {
        background: transparent url("./images/top/icon-quit.png") center no-repeat;
        &:hover,
        &.active {
            background-color: rgba(228, 241, 255, .12);
            background-image: url("./images/top/icon-quit-h.png");
        }
    }
    .remind-num,
    .remind-msg-num {
        margin-top: 10px;
    }
}
