/*!
*“聚通用”智慧政府大数据管理平台新点数据平台 (比对源选择) 层叠样式表
*author:guli
*date:2020-11-12
*version:9.4.1
*/

body {
    background: url('../images/bg/bodybg.jpg') center center no-repeat;
    background-size: 100% 100%;
}

.choose-outer {
    height: 100%;
    padding: 14px;
    padding-top: 10px;
    background: #fff;
}

.choose {
    /* min-height: 100%; */
    /* background: url('../images/bg/bg.png') center center no-repeat; */
    background-size: 100% 100%;
    color: #fff;
    font-size: 15px;
    padding: 0 12px;
    border-radius: 4px;
    font-family: "SourceHanSansCN-Light";
}

.steps {
    display: flex;
    padding: 24px 0;
    justify-content: center;
    align-items: center;
}

.step {
    display: flex;
    line-height: 42px;
    align-items: center;
    font-size: 18px;
    color: #b1b3b8;
}

.step-num {
    width: 25px;
    text-align: center;
    line-height: 25px;
   background: #d6d6d6;
    color: #fff;
    font-size: 16px;
    margin-right: 10px;
    border-radius: 50%;
}

.step-tt {
    color: #999;
}

.step-line {
    width: 75px;
    height: 2px;
    background-color: #d4d4d4;
    margin: 0 6px;
}

.step.active {
    padding: 0 20px;
    background-color: #2590eb;
    border-radius: 21px;
    font-size: 20px;
    color: #fff;
    font-family: "SourceHanSansCN-Regular";
}

.step.active .step-num {
    color: #2590eb;
    background: url('../images/bg/step-num-activebg.png') center center no-repeat;
}

.step.active .step-tt {
    color: #fff;
}

.kinds,
.options {
    padding: 0 12px;
    border-radius: 4px;
    background: #f5f5f5;
}

.kinds-tt {
    border-bottom: 1px dashed #ddd;
    padding: 16px 0;
    position: relative;
}

.kinds-tt-inner {
    display: flex;
    flex-wrap: wrap;
    padding-right: 80px;
    line-height: 30px;
    height: 30px;
    overflow: hidden;
}

.kinds-tt-inner.height {
    height: 60px;
}

.kind-tt {
    width: 8.3333%;
    text-align: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.kind-tt-inner {
    width: 130px;
    color: #5c5c5c;
    border-radius: 4px;
    padding: 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.kind-tt:hover .kind-tt-inner,
.kind-tt.active .kind-tt-inner {
    color: #fff;
    background-color: #2590eb;
}

.kinds-tt-arrow {
    position: absolute;
    width: 44px;
    height: 44px;
    background: url('../images/icon/down-arrow.png') center center no-repeat;
    top: 10px;
    right: 0;
    cursor: pointer;
}

.kinds-tt-arrow.usable {
    background: url('../images/icon/down-usable.png') center center no-repeat;
}

.kinds-tt-arrow.up {
    background: url('../images/icon/up-arrow.png') center center no-repeat;
}

.kinds-ct {
    padding: 25px 16px;
    position: relative;
}

.kinds-ct.padding {
    padding: 10px 16px;
}

.kinds-arrow {
    position: absolute;
    width: 44px;
    height: 44px;
    top: 39px;
    cursor: pointer;
    transition: all ease 200ms;
}

.kinds-left-arrow {
    background: url('../images/icon/left-arrow.png') center center no-repeat;
    left: -14px;
}

.kinds-left-arrow:hover {
    background-image: url('../images/icon/left-arrow-h.png');
}

.kinds-left-arrow.usable {
    background: url('../images/icon/left-usable.png') center center no-repeat;
}

.kinds-right-arrow {
    background: url('../images/icon/right-arrow.png') center center no-repeat;
    right: -14px;
}

.kinds-right-arrow:hover {
    background-image: url('../images/icon/right-arrow-h.png');
}

.kinds-right-arrow.usable {
    background: url('../images/icon/right-usable.png') center center no-repeat;
}

.kinds-ct-inner {
    position: relative;
    height: 82px;
    overflow: hidden;
}

.kinds-move {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.kinds-move.move {
    transition: left ease 2s;
}

.kinds-move-items {
    width: 100%;
}

.kinds-move-item {
    width: 8.33333%;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.kinds-move-item:hover .kinds-move-img,
.kinds-move-item.active .kinds-move-img {
    background-color: #fff;
    border: 1px solid #2590eb;
}

.kinds-move-img {
    width: 56px;
    height: 56px;
    border: 1px solid transparent;
    background-color: #e3e4e7;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}

.kinds-move-tt {
    margin-top: 10px;
    line-height: 15px;
    color: #5c5c5c;
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.options {
    height: calc(100% - 417px);
    margin-top: 14px;
    padding: 0;
}

.options-tt {
    display: flex;
    height: 48px;
    align-items: center;
    padding: 0 12px;
    padding-top: 5px;
}

.options-tt-txt {
    color: #2590eb;
    font-size: 18px;
    line-height: 16px;
    padding-left: 8px;
    border-left: 4px solid #2590eb;
    font-family: "SourceHanSansCN-Medium";
    margin-right: 15px;
}

.options-inner {
    /* height: calc(100% - 48px); */
    padding: 10px 12px;
}

.options-tt-tip {
    color: #999;
}

.option {
    margin-bottom: 14px;
    position: relative;
}

.option-tt {
    line-height: 50px;
    padding-left: 17px;
    font-family: "SourceHanSansCN-Medium";
    font-size: 18px;
    color: #5c5c5c;
    background-color: #e3e4e7;
    position: relative;
}

.option-tt>* {
    color: #5c5c5c;
}

.option-tt-tip {
    font-size: 15px;
    font-family: "SourceHanSansCN-Light";
    color: #5c5c5c;
}

.option-detail {
    position: absolute;
    line-height: 52px;
    font-size: 15px;
    font-family: "SourceHanSansCN-Light";
    top: 0;
    right: 32px;
    cursor: pointer;
    display: none;
}

.option-delete {
    position: absolute;
    width: 21px;
    height: 21px;
    background: url('../images/icon/option-delete.png') center center no-repeat;
    top: -10px;
    right: -5px;
    cursor: pointer;
    display: none;
}

.option-ct {
    border: 1px dashed #ddd;
    height: 115px;
    padding: 13px 5px;
    border-top: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.option-ct.active {
    justify-content: left;
}

.option-ct.height {
    height: auto;
}

.option-ct-init {
    display: flex;
    align-items: center;
}

.option-init-tip {
    font-size: 16px;
    font-family: "SourceHanSansCN-Light";
    color: #999;
    line-height: 26px;
    margin-left: 11px;
}

.option-add {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 58px;
    border: 1px dashed #ddd;
    cursor: pointer;
}

.option-add-icon {
    width: 17px;
    height: 17px;
    background: url('../images/icon/add-icon.png') center center no-repeat;
    margin-right: 4px;
}

.option-add-text {
    color: #5c5c5c;
}

.option-ct-txt {
    width: 10%;
    height: 44.5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.option-ct-txt-inner {
    width: 110px;
    text-align: center;
    line-height: 30px;
    border-radius: 4px;
    background-color: #E3E4E7;
    cursor: pointer;
    color: #999;
    border: 1px solid transparent;
    transition: all ease 200ms;
}

.option-ct-txt-inner:hover {
    background-color: #fff;
    border-color: #2590eb;
}

.item-arrow {
    position: absolute;
    width: 30px;
    height: 15px;
    background: url('../images/icon/item-down.png') center center no-repeat;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    cursor: pointer;
    display: none;
}

.ui-state-active {
    border: 1px solid #077afc;
}

.crash {
    height: 57px;
    display: flex;
    align-items: center;
}

.crash-way {
    margin-right: 36px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.crash-way.active .crash-way-icon {
    background: url('../images/icon/ways-icon.png') center center no-repeat;
    border-color: transparent;
}

.crash-way-icon {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid #ddd;
    margin-right: 7px;
}

.choose-btns {
    width: calc(100% + 24px);
    height: 70px;
    margin-left: -12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.choose-btn {
    width: 88px;
    line-height: 35px;
    border-radius: 4px;
    border: 1px solid #ddd;
    color: #5c5c5c;
    text-align: center;
    cursor: pointer;
}

.choose-save {
    border-color: transparent;
    color: #fff;
    margin-right: 11px;
    background-color: #2590eb;
}

.choose-next.usable {
    background-color: #2590eb;
    color: #fff;
}

@media screen and (min-width: 1800px)and (max-width: 2000px) {
    .option-ct-txt {
        width: 7.14%;
    }
}

@media screen and (min-width: 1500px)and (max-width: 1799px) {
    .option-ct-txt {
        width: 8.33%;
    }
}

/* question1 */

.step.active {
    position: relative;
    padding-right: 40px;
}

.tip {
    position: absolute;
    right: 12px;
    width: 16px;
    height: 16px;
    background: url('../images/icon/tip.png') center center no-repeat;
}


/* question1 */


/* question3 */

.kinds-tt-inner {
    width: calc(100% - 200px);
}

.kinds-tt-arrow {
    right: 200px;
}

.my-textbox {
    position: absolute;
    right: 0;
    top: 16px;
    line-height: 32px;
    height: 32px;
    width: 200px;
}

.my-textbox .mini-textbox-border {
    border: 1px solid #ddd;
    background-color: transparent !important;
    border-radius: #;
}

.my-textbox .mini-textbox-input,
.mini-textboxlist .mini-textboxlist-input {
    padding-right: 28px;
}

.my-search {
    position: absolute;
    color: #4a5e7e;
    right: 6px;
    top: 24px;
}


/* question3 */


/* question6 */

.crash {
    height: 80px;
    align-items: inherit;
    position: relative;
    margin-top: 15px;
}

.crash-tt {
    line-height: 80px;
    margin-right: 14px;
    color: #5c5c5c;
}

.crash-way {
    height: 30px;
    margin-top: 50px;
}

.crash-way-name {
    color: #5c5c5c;
}

.crash-icon {
    position: absolute;
    width: 68px;
    height: 45px;
    top: 5px;
}

.inner-link {
    background: url('../images/icon/inner-link.png') center center no-repeat;
    background-size: 100% 100%;
    left: 119px;
}

.right-link {
    left: 223px;
    background: url('../images/icon/right-link.png') center center no-repeat;
    background-size: 100% 100%;
}

.item-arrow.active {
    background: url('../images/icon/item-up.png') center center no-repeat;
}

/* question6 */