/*!
*“聚通用”智慧政府大数据管理平台新点数据平台 (结果显示字段配置) 层叠样式表
*author:guli
*date:2020-11-16
*version:9.4.1
*/

body {
    /* background: url('../images/bg/bodybg.jpg') center center no-repeat; */
    background-size: 100% 100%;
    padding: 14px;
    padding-top: 10px;
}

.show {
    height: 100%;
    /* background: url('../images/bg/bg.png') center center no-repeat; */
    /* background-size: 100% 100%; */
    color: #fff;
    font-size: 15px;
    border-radius: 4px;
    font-family: "SourceHanSansCN-Light";
}

.steps {
    display: flex;
    padding: 24px 0;
    justify-content: center;
    align-items: center;
}

.step {
    display: flex;
    line-height: 42px;
    align-items: center;
    font-size: 18px;
    color: #b1b3b8;
}

.step-num {
    width: 25px;
    text-align: center;
    line-height: 25px;
    background-color: #d6d6d6;
    color: #fff;
    font-size: 16px;
    margin-right: 10px;
    border-radius: 50%;
}

.step-tt {
    color: #999;
}

.step-line {
    width: 75px;
    height: 2px;
    background-color: #d4d4d4;
    margin: 0 6px;
}

.step-line.active {
    background-color: #2590EB;
}

.step.active {
    padding: 0 20px;
    background-color: #2590eb;
    font-size: 20px;
    color: #fff;
    font-family: "SourceHanSansCN-Regular";
    border-radius: 21px;
}

.step.active .step-num {
    color: #2590eb;
    background: url('../images/bg/step-num-activebg.png') center center no-repeat;
}

.step.active .step-tt {
    color: #fff;
}

.show-ct {
    height: calc(100% - 160px);
    width: 100%;
    padding: 12px;
    padding-top: 0;
}

.show-ct-inner {
    height: 100%;
    background-color: #f5f5f5;
}

.show-tt {
    height: 58px;
    padding-left: 17px;
    display: flex;
    align-items: center;
}

.show-tt-txt {
    font-size: 18px;
    line-height: 16px;
    padding-left: 8px;
    border-left: 4px solid #2590eb;
    color: #2590eb;
    font-family: "SourceHanSansCN-Medium";
    margin-right: 15px;
}

.show-tt-tip {
    color: #999;
}

.show-items {
    height: calc(100% - 58px);
    padding: 0 18px;
}

.show-item {
    margin-bottom: 14px;
}

.show-item-hd {
    height: 50px;
    background-color: #e3e4e7;
    padding-left: 17px;
}

.show-item-tt {
    color: #5c5c5c;
    font-size: 18px;
    font-family: "SourceHanSansCN-Medium";
    margin-right: 15px;
    line-height: 50px;
    max-width: 185px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.select-ct {
    width: calc(100% - 200px);
    height: 50px;
    padding-top: 10px;
}

.select-ct-inner {
    display: flex;
    width: fit-content;
    white-space: nowrap;
}

.select-item {
    margin: 0 5px;
    padding: 0 12px;
    line-height: 30px;
    background-color: #2590eb;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 4px;
}
.select-item >* {
    color: #fff;
}

.select-delete {
    width: 12px;
    height: 12px;
    background: url('../images/icon/delete-select.png') center center no-repeat;
    margin-left: 10px;
    display: none;
}

.select-item:hover .select-delete {
    display: block;
}

.show-item-bd {
    padding: 0 17px;
    max-height: 190px;
    border: 1px dashed #ddd;
    border-top: none;
}

.show-item-inner {
    padding: 14px 0;
    display: flex;
    flex-wrap: wrap;
}

.show-text-outer {
    width: 10%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.show-text {
    width: 110px;
    text-align: center;
    line-height: 30px;
    border-radius: 4px;
    background-color: #e3e4e7;
    cursor: pointer;
    color: #5c5c5c;
    transition: all ease 200ms;
}

.show-text.disabled {
    opacity: 1;
    background-color: #2590eb;
    color: #fff;
}

.show-text:hover {
    background-color: #fff;
    border: 1px solid #077afc;
}

.show-text.disabled {
    pointer-events: none;
}

.show-btns {
    height: 70px;
    /* border-bottom-left-radius: 8px; */
    /* border-bottom-right-radius: 8px; */
    /* border: 1px solid #274d86; */
    /* background-color: #1b2d4b; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.show-btn {
    width: 88px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    color: #5c5c5c;
    border-radius: 4px;
    margin: 0 5.5px;
    cursor: pointer;
}

.show-save {
   color: #fff;
   background-color: #2590eb;
}

.show-pre {
   border: 1px solid #ddd;
}

.show-begin {
    border: 1px solid #ddd;
}

.show-begin.usable {
    border-color: #2590eb;
   background-color: #2590eb;
    color: #fff;
}

@media screen and (min-width: 1800px)and (max-width: 2000px) {
    .show-text-outer {
        width: 7.14%;
    }
}

@media screen and (min-width: 1500px)and (max-width: 1799px) {
    .show-text-outer {
        width: 8.33%;
    }
}
.step.active {
    position: relative;
    padding-right: 40px;
}

.tip {
    position: absolute;
    right: 12px;
    width: 16px;
    height: 16px;
    background: url('../images/icon/tip.png') center center no-repeat;
}


/* question1 */


/* question8  */

.all-select,
.all-not-select {
    margin: 10px 5px;
    color: #fff;
    line-height: 30px;
    background: #2590eb;
    border-radius: 4px;
    background-size: 100% 100%;
    text-align: center;
    width: 70px;
}

.all-select:hover,
.all-not-select:hover {
    cursor: pointer;
    opacity: 0.8;
}

.select-ct {
    width: calc(100% - 360px);
    height: 50px;
    padding-top: 10px;
}
