/*
 * 作者：guotq
 * 时间：2017-06-13 10:32:49
 * 描述：第三种搜索框皮肤
 */

.em-srhbar {
	position: relative;
	height: 40px;
	margin-left: 10px;
	margin-right: 10px;
}

.em-srhbar .em-srhbar-input {
	width: 100%;
	height: 40px;
	margin: 0;
	border: 2px solid #7ba7ab;
	border-radius: 5px;
	font-size: .80rem;
	background: #f9f0da;
	color: #9e9c9c;
}

.em-srhbar .em-srhbar-btn {
	position: absolute;
	top: 0;
	right: 0;
	width: 42px;
	height: 39px;
	border: none;
	background: #7ba7ab;
	border-radius: 0 5px 5px 0;
}

.em-srhbar .em-srhbar-btn:before {
	content: '\e466';
	margin-left: -2px;
	font-family: Muiicons;
	font-size: 22px;
	font-weight: 500;
	color: #f9f0da;
}
