/*
 * 作者：guotq
 * 时间：2017-06-13 10:32:49
 * 描述：皮肤1
 */

.em-srhbar {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	margin-left: 10px;
	margin-right: 10px;
	overflow: auto;
}

.em-srhbar .em-srhbar-input {
	width: 100%;
	height: 33px;
	margin-right: 10px;
	margin-bottom: 0;
	padding: 0 0 0 10px;
	font-size: .85rem;
}

.em-srhbar .em-srhbar-input:focus {
	border: 1px solid #007aff;
}
