.ruleScaleBox {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9;
    overflow: hidden;
    –webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.ruleScaleBox:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9;
    display: block;
    width: 18px;
    height: 18px;
    background-color: #e5e8ec;
}

.ruleScaleRuler_h,
.ruleScaleRuler_v,
.ruleRefLine_v,
.ruleRefLine_h,
.ruleRefDot_h,
.ruleRefDot_v {
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    z-index: 9;
}

.ruleScaleRuler_h {
    width: 100%;
    height: 18px;
    background-image: url(./images/ruler/ruler_h.png);
    background-repeat: repeat-x;
    background-color: #e5e8ec;
    left: 18px;
}

.ruleScaleRuler_v {
    width: 18px;
    height: 100%;
    background-image: url(./images/ruler/ruler_v.png);
    background-repeat: repeat-y;
    background-color: #e5e8ec;
    top: 18px;
}

.ruleScaleRuler_v .n,
.ruleScaleRuler_h .n {
    position: absolute;
    font: 10px/1 Arial, sans-serif;
    color: #8f96a2;
    cursor: default;
}

.ruleScaleRuler_v .n {
    width: 8px;
    left: 3px;
    word-wrap: break-word;
}

.ruleScaleRuler_h .n {
    top: 1px;
}

.ruleRefLine_v,
.ruleRefLine_h,
.ruleRefDot_h,
.ruleRefDot_v {
    z-index: 10;
}

.ruleRefLine_h {
    width: 100%;
    height: 3px;
    top: -10000px;
    background: url(./images/ruler/line_h.png) repeat-x left center;
    cursor: row-resize;
}

.ruleRefLine_v {
    width: 3px;
    height: 100%;
    left: -10000px;
    background: url(./images/ruler/line_v.png) repeat-y center top;
    cursor: col-resize;
}

.ruleRefDot_h {
    width: 100%;
    height: 3px;
    background: url(./images/ruler/line_dot.png) repeat-x left 1px;
    cursor: row-resize;
    top: -10px;
}

.ruleRefDot_v {
    width: 3px;
    height: 100%;
    background: url(./images/ruler/line_dot.png) repeat-y 1px top;
    cursor: col-resize;
    left: -10px;
}
