.top {
    background-image: url("./images/top-bg.png");
}
 .top-portal-curr,
 .top-portal-trigger{
    background-color:#f5555c;
 }
 .showPanel .top-portal-trigger, 
 .top-portal-trigger:hover {
     background-color: #ffa801;
 }
.top-portal-box-inner {
    background-color: #242a36;
}
.item-first.select {
    background: #ffa801;
}

.menu-down {
    background: url("./images/top-menu.png");
}

.list-first.showPanel .menu-down {
    background: url("./images/top-menu-close.png");
}

.list-first.showPanel {
    color: #fff;
    background: #242a36;
}

.item-first {
    color: #fff;
}

.item-first:hover {
    background: #4c505a;
}

.item-first.select:hover {
    background: #ffa801;
}

.quick-menu-header {
    background: #f5555c;
}

.quick-menu-list {
    background-color: #242a36;
}

.quick-menu.opened > .quick-menu-header{
    background: #b90410;
}

.quick-menu-item:hover {
    background: #ffa801;
}

.quick-menu-toolbar {
    background: #f5555c;
}

.quick-menu-btn:hover {
    background: #ffa801;
}

.search-input {
    border-color: #de3f49;
    background: #a1070d;
}

.center-line {
    border-color: #e78a8d;
}

.remind {
    background: url("./images/top-remind.png");
}

.chart {
    background: url("./images/top-msg.png");
}

.menu-search {
    background: url("./images/top-search.png");
}

.remind-num,
.remind-msg-num {
    color: #de3f49;
    background: #fff;
}


.left-menu {
    background: #fff;
}
.top-name {
    background: #ffa801;
}
.icon-triggle {
    background-color: #ffa801;
}
.left-menu-icon {
    color: #e33142;
}
.item-link {
    color: #111;
}
.left-menu.wide .item-link:hover,
.top-item > .item-link:hover,
.top-item.open > .item-link {
    background-color: #fff2f3;
}

.top-item > .left-menu-sub .item-link {
    color: #fff;
}
.left-menu.wide .top-item > .left-menu-sub .item-link {
    color: #111;
}

.top-item.open > .item-link,
.top-item.active > .item-link {
    color: #111;
}
.left-menu.wide .menu-trigger {
    background-image: url("./images/menu-trigger.png");
}
.left-menu.wide .open > .item-link > .menu-trigger {
    background-image: url("./images/slide-down.png");
}
.ft {
    background-color: #242a36;
}
.tabs-nav-item,
.ft .tn-tabs-nav-item {
    color: #fff;
    border-color: #242a36;
    background-color: #5b5f68;
}
.tabs-nav-item:hover,
.ft .tn-tabs-nav-item:hover {
    background: #cf141b;
}
.tabs-nav-item:hover>.tabs-nav-item-close {
    background: url(images/close-btn.png) center no-repeat;
}
.tabs-nav-item.active:hover,
.ft .tn-tabs-nav-item.active:hover {
    background: #cf141b;
}
.tabs-nav-name,
.ft .tn-tabs-nav-name {
    color: #fff;
}
.tabs-nav-item.active,
.ft .tn-tabs-nav-item.active {
    background: #cf141b;
}
.tabs-nav-item-refresh,
.ft .tn-tabs-nav-item-refresh {
    background-image: url("./images/refresh.png") !important;
}
.bottom-tab-box,
.ft .tn-bottom-tab-box {
    background: #242a36;
}
.drop-btn,
.ft .tn-drop-btn {
    background: url("images/bottom-btn.png") center center no-repeat;
}
.drop-btn:hover,
.ft .tn-drop-btn:hover {
    background-image: url("images/bottom-btn.png");
}
.user-box {
    /* background:#242a36; */
}
.info,
.setting,
.setting-item,
.cancel-out {
    background-color:#242a36;
    border-color:#383f4e;
}
.setting-item:hover {
    background-color: #a50f16;
}
.cancel-out>.role-change,
.cancel-out>.loginout {
    background:#ffa801;
}
.bottom-slide-box,
.slide-list {
    background-color:#fff;
}
.slide-list-item:hover {
    background-color:#ebf5ff;
    color:#498cc5;
}
.msg-panel {
    border-top-color:#b30c13;    
}
.msg-panel-head {
    color: #242a36;
}
.menu-search-history>.content-head, .menu-search-result>.content-head {
    background-image: url(images/msg-titleicon.png);
}
.msg-category-head, .msg-result-head, .msg-history-head {
    background-image: url(images/msg-titleicon.png);
}
.msg-panel-hide {
    background-image: url(images/icon-toright.png);
}
.msg-srh-icon {
    background: url(images/search-bg.png);
}
.msg-srh-input {
    border-color:#b30c13;
}
.new-remind-wrap {
    background: #ffa801;
}
.new-remind-wrap:before {
    border-bottom-color:#ffa801;
}