/*
 * @Author: chends
 * @Date: 2018-07-11 09:24:29
 * @LastEditors: chends
 * @LastEditTime: 2018-07-20 09:58:02
 * @Description: grace 默认皮肤
 */
@import "../../util.scss";
// $headerBgImg : url("./images/header/bg.jpg");
// 下拉列 hover 颜色和背景
$panelItemColor: #ffffff;
$panelItemBg: #0f3780;
$protalBg: rgba(61, 157, 242, .16);

.header-container {
  background: #1f2957;
}

.portal {
  @at-root {
    .top-portal-cate-item:hover {
      background: $panelItemBg;
    }

    .portal-box-inner,
    .top-portal-cate-item.active {
      background: $panelItemBg;
      color: $panelItemColor;
    }

    .top-portal-item:hover {
      background: #1b2c6d !important;
      color: #fff;
    }

    .portal-category-list {
      background: #1b2c6d;
    }

    .portal-curr {
      background-color: $protalBg;
    }

    .portal-trigger {
      background-color: $protalBg;
      border-left-color: #051038;

      &:after {
        background: url(./images/header/portal-trigger.png) center no-repeat;
      }
    }

    &.active {
      .portal-curr {
        background-color: #455986;
      }

      .portal-trigger {
        background-color: #637499;
      }
    }
  }

  @at-root {
    .top-portal-cate-item {
      color: $panelItemColor;
    }

    &.multi {
      .top-portal-cate-item:hover {
        background: $panelItemBg;
      }

      .portal-box-inner,
      .top-portal-cate-item.active {
        background: $panelItemBg;
        color: $panelItemColor;
      }

      .top-portal-item:hover {
        background: #1b2c6d;
        color: #fff;
      }

      .portal-category-list {
        background: #1b2c6d;
      }
    }
  }
}

// 快捷菜单
.quick-menu-list {
  background: #1b2c6d;
  color: #a8bdf3;
}

.quick-menu-header {
  background-color: $protalBg;
  color: #a8bdf3;
}

.quick-menu-item:hover,
.top-portal-item:hover {
  color: $panelItemColor;
  background: $panelItemBg;
}

.user-action-item:hover {
  color: $panelItemColor;
}

.header-search .classify-search-input {
  border-color: #313d73;
}

.header-search .classify-search-input::-webkit-input-placeholder {
  color: #475f9e;
}

.top-menu-wrap {
  @at-root {
    .top-menu-trigger {
      background-color: $protalBg;

      &:hover {
        background-color: rgba(61, 157, 242, .5);
      }
    }

    &.hold-color {
      color: #fff;
      background: #2285d9;
    }

    .top-menu-item {
      color: #a8bdf3;

      &:hover,
      &.active {
        color: #fff;
      }
    }

    &.active {
      color: #fff;
      background: #1b2c6d;

      .top-menu-trigger {
        background: rgba(61, 157, 242, 0.5);

        &:after {
          background: url(./images/header/menu-close.png) center no-repeat;
        }
      }

      .top-menu-item {
        color: #a8bdf3;

        &:hover,
        &.active {
          color: #fff;
          background: #0f3780;
          @include box-shadow(0 0 1px rgba(0, 0, 0, 0.3));
        }
      }
    }
  }
}

// 搜索
.header-search .classify-search-btn {
  background-image: url(./images/header/icon-search.png) !important;
}

.classify-search-history-panel,
.classify-search-classify-panel {
  background: #1b2c6d;
  color: #a8bdf3;
}

.classify-search-history-footer {
  color: #a8bdf3;
  border-top-color: #051038;

  :hover {
    color: #fff
  }
}

.classify-search-history-panel.empty .classify-search-history-list {
  color: #a8bdf3;
}

.classify-search-history-footer-icon {
  background: url(./images/search/icon-del.png) center no-repeat;
}

// 头部按钮
.header-actions-area {
  @at-root {
    .user-info-summary .user-portrait {
      background: #162f65;
    }

    .header-search {
      .classify-search-history-item {
        >.classify-search-history-remove {
          color: $panelItemColor;
        }

        &:hover,
        &.active {
          color: $panelItemColor;
          background: $panelItemBg;
        }
      }

      .classify-search-classify-item {

        &:hover,
        &.active {
          background: $panelItemBg;
        }

        .classify-search-classify-kw {
          color: $panelItemColor;
        }
      }
    }

    .header-action-btn-tip {
      // color: $panelItemColor;
      z-index: 1;
    }

    .header-action-btn.remind {
      background: url(./images/header/remind.png) center no-repeat;
    }

    .header-action-btn.theme {
      background: url(./images/header/theme.png) center no-repeat;
    }

    .header-action-btn.help {
      background: url(./images/header/help.png) center no-repeat;
    }

    .header-action-btn.chart {
      background: url(./images/header/msg.png) center no-repeat;
    }

    .new-remind-wrap {
      background: #2590eb;

      &:before {
        border-bottom-color: #2590eb
      }
    }

    .ie8 {
      .header-search .classify-search-input {
        background: #1f4d8c;
      }
    }
  }

}

// 左侧菜单
.main.left-narrow .left-nav-trigger {
  background-image: url(./images/leftmenu/outside.png);
}

.left-nav {
  background-color: #313a69;

  @at-root {
    .left-nav-trigger {
      background: url(./images/leftmenu/inside.png) center no-repeat;
    }

    .left-menu-header {
      background: #313a69;
      color: rgba(91, 180, 253, 1);
      font-weight: 700;
      border-bottom: 1px solid #262e5d;

      &:hover {
        color: rgba(91, 180, 253, 1);
      }
    }

    .left-menu-item.level-1 {
      >.left-menu-link {
        &:hover {
          background: #0f3780;
          color: #fff;

          &:before {
            content: "";
            width: 2px;
            height: 36px;
            left: 0;
            top: 0;
            background-color: #3d9df2;
            position: absolute;
          }

          >.left-menu-trigger {
            background-image: url(./images/leftmenu/menu-right-w.png);
          }
        }
      }

      &.opened>.left-menu-link {
        background: #0f3780;
        color: #fff;

        &:before {
          content: "";
          width: 2px;
          height: 36px;
          left: 0;
          top: 0;
          background-color: #3d9df2;
          position: absolute;
        }

        >.left-menu-trigger {
          background-image: url(./images/leftmenu/menu-down-w.png);
        }
      }
    }

    .left-menu-link {
      color: $panelItemColor;

      &:hover {
        background: #0f3780;
        color: #fff;

        &:before {
          content: "";
          width: 2px;
          height: 36px;
          left: 0;
          top: 0;
          background-color: #3d9df2;
          position: absolute;
        }
      }
    }

    .left-menu-trigger {
      background: url(./images/leftmenu/menu-right.png) center no-repeat;
    }

    .main.left-narrow {
      .left-menu-sub-inner {
        background: #0d1842;
      }

      .left-nav-trigger {
        background-color: #313a69;
      }

      .left-menu-item.level-2 {
        margin-left: -30px;

        .left-menu-link {
          color: #fff;

          &:hover {
            background: #2a3a92;
          }

          >.left-menu-trigger {
            background-image: url(./images/leftmenu/menu-right-w.png);
          }
        }
      }
    }

    .ie8 {

      /* 不支持旋转 需要换图片 */
      .opened>.left-menu-link>.left-menu-trigger {
        background-image: url(./images/leftmenu/menu-down.png);
      }
    }
  }
}

.main.left-narrow .left-menu-item.level-1.opened>.left-menu-link {
  background: #0d1842;
  color: #3d9df2;
}

.main.left-narrow .left-menu-item.level-1>.left-menu-link:hover {
  background: #0d1842;
  color: #3d9df2;
}

.main.left-narrow .left-menu-item.level-1.opened>.left-menu-link:before,
.main.left-narrow .left-menu-item.level-1>.left-menu-link:before {
  display: none;
}

/* tabs nav 样式 */

.main-content-tab-wrap {
  background: #031651;

  @at-root {
    .tabsnav-tabs-item {
      background: #06174f;
      border-color: #102360;
      color: #5777c7;
      @include transition(all .2s ease-out);

      &.fixed {
        color: #fff;
        background: #1b53c6;

        &:hover,
        &.active {
          background-color: #0087ff;
          color: #fff;
        }
      }

      &:hover,
      &.active {
        background-color: #0d1f5d;
        color: #a8bdf3;
      }
    }

    .tabsnav-contextmenu-item:hover,
    .tabsnav-quicknav-item:hover {
      color: $panelItemColor;
      background-color: $panelItemBg;
    }

    .tabsnav-quicknav-trigger {
      background: url(./images/tabsnav/trigger-btn.png) center no-repeat;
    }
  }
}

/* 右侧消息 */

.msg-panel {
  border-top-color: #2285d9;
  border-left-color: #2a389e;

  /* remind */
  @at-root {
    .msg-panel-hide {
      background: url('images/right-msg/icon-toright.png');
    }

    .message-content-wrap {
      &.empty {
        background-image: url(./images/right-msg/no-msg.png);
      }
    }

    .msg-category-head,
    .msg-result-head,
    .msg-history-head {
      &:after {
        background: #2285d9;
      }
    }

    .msg-category-num {
      color: $panelItemColor;
    }

    .msg-category-remove {
      &:hover {
        background: url('images/right-msg/icon-msgdel-hover.png')
      }
    }

    .msg-list-item {

      &:hover,
      &.newmsg:hover {
        color: $panelItemColor;
      }
    }

    .msg-item-ignore {
      &:hover {
        background: url('images/right-msg/icon-eye-hover.png')
      }
    }
  }

  /* emsg */
  @at-root {
    .msg-panel-detail {
      background-color: #2a389e;
    }

    .msg-panel-head {
      background-color: #2a389e;
      border-color: #2a389e;
    }

    .emsg-recent-list.empty {
      background: url('images/right-msg/no-exun.png') no-repeat 50% 130px
    }

    .emsg-ignore-icon {
      background: #2590eb;

      &:hover {
        background: #2285d9;
      }
    }

    .emsg-recent-item {
      border-color: #051038;
    }

    .emsg-recent-item:hover {
      background: $panelItemBg;
    }

    .msg-panel-head.tab>.panel-hd-tab.active,
    .msg-panel-head.tab>.panel-hd-tab:hover {
      color: $panelItemColor
    }
  }
}

.msg-panel-content {
  background-color: #0a1b50;
}

.msg-panel-head.tab>.panel-hd-tab {
  color: #fff;
}

.msg-panel-head.tab>.panel-hd-tab.active,
.msg-panel-head.tab>.panel-hd-tab:hover {
  background-color: #0a1b50;
  color: #00baff;
}

.emsg-recent-message {
  color: #a8bdf3;
}

.emsg-recent-record>h2>.emsg-user-name {
  color: #fff;
}

/* exun skin*/
// 色值复写
// 左侧背景
$emsg_left_bg:#2590eb;
// 发送按钮颜色
$emsg_send_btn_bg:#2590eb;
// 自己消息内容的背景色
$my_words_bg:#bfe2ff;
@import "../../../../../js/widgets/emsg/emsg-skin.scss";


// 消息中心
.msg-center {
  .mc-header {
    background-color: #253776;
    color: #fff;
    border-bottom-color: #051038;
  }

  .msg-search {
    border-color: #3d9df2;

    .msg-search-icon {
      background-image: url(./images/msgcenter/msg-search.png);
    }

    &.msg-search-focus {
      background-color: #1b2c6d;
      border-color: #3d9df2;
    }

    .msg-search-input {
      color: #fff;
    }
  }

  .msg-tabs {
    background-color: #253776;

    .msg-tab-text {
      color: #a8bdf3;
    }

    .msg-tab.active,
    .msg-tab:hover {
      background-color: #0f3780;
      color: #a8bdf3;
    }
  }

  .msg-content {
    background-color: #0a1b50;

    // .msg-clearall {
    //   background-color: #ff9e64;
    // }
    .msg-item-container {
      background-color: #253776;

      .msg-item-top {
        color: #475f9e;
      }

      .msg-type-name {
        color: #a8bdf3;
      }

      .msg-item-title {
        color: #5e7ac3;

        a {
          color: #1890ff;
        }
      }

      .msg-user {
        color: #1890ff;
      }
    }

    .msg-time-tip {
      background-color: #021039;
      color: #475f9e;
      border-radius: 2px;
    }

    .msg-item.msg-readed .msg-item-container .msg-item-more * {
      color: #475f9e;
    }

    .msg-item-link {
      color: #475f9e;
    }

    &.active {
      .msg-edit-btn {
        background-image: none;
      }
    }
  }

  .msg-num-tip {
    background: #ff5a5a;
  }
}

.msg-nomore {
  background-color: #021039;
}
.msg-nomore:after {
  background-color: #021039;
  color: #475f9e;
}
.mc-hd-close {
  background-image: url(./images/msgcenter/msg-close.png);
}

.mc-hd-recovery {
  background-image: url(./images/msgcenter/msg-recovery.png);
}

.mc-hd-max {
  background-image: url(./images/msgcenter/msg-max.png);
}

.mc-hd-set {
  background-image: url(./images/msgcenter/msg-set.png);
}

.mc-hd-refresh {
  background-image: url(./images/msgcenter/msg-refresh.png);
}

.msgopera-tab {
  color: #475f9e;

  &.active {
    color: #a8bdf3;
  }
}

.msg-edit-btn {
  background-image: url(./images/msgcenter/msg-edit.png);
}

.msg-order-btn {
  background-image: url(./images/msgcenter/msg-desc.png);
}

.msg-order-btn.msg-order-asc {
  background-image: url(./images/msgcenter/msg-asc.png);
}

.msg-ignore {
  background-image: url(./images/msgcenter/msg-ignore.png);
}

// 消息中心-高级设置
.detail-span-name,
.detail-span-switch {
  background-color: #10235b;
  color: #fff;
}

.detail-span-sub {
  background-color: #0a1b50;
  color: #a8bdf3;
}

.win-msg .mini-panel-header,
.detail-footer,
.row-header {
  border-color: #2640a9;
}

// 个人信息
.user-action-panel-inner {
  background: #1b2c6d;

  .user-action-item {
    color: #a8bdf3;
  }

  .user-action-item.person-info {
    background-image: url(./images/header/info-setting.png);
  }

  .user-action-item>[class*=modicon],
  .user-action-item>[class*=action-icon] {
    color: #a8bdf3;
  }

  .user-info-detail {
    border-bottom-color: #051038;

    &>.user-name {
      color: #a8bdf3;
    }

    &>.user-dept {
      color: #a8bdf3;
    }
  }
}