/**!
 * 统计看板
 * date:2021-03-02
 * author: heying;
 */

.cont {
    min-width: 1080px;
}

/* 总览 */
.stattotal {
    font-size: 0;
    height: 60px;
    line-height: 58px;
    border: 1px solid rgb(229, 237, 252);
    background-color: rgb(245, 248, 254);
    box-sizing: border-box;

    &>li {
        position: relative;
        display: inline-block;
        vertical-align: top;
        width: 33.33%;
        height: 100%;
        padding: 0 10px;
        font-size: 14px;
        text-align: center;
        color: rgb(51, 57, 79);
        box-sizing: border-box;

        &:last-child {
            width: 33.34%;
        }

        &+li:before {
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            width: 1px;
            height: 36px;
            margin-top: -18px;
            background-color: rgba(229, 237, 252, .8);
        }

        &.proj {
            .stattotal-name {
                background: url(../images/stattotal-icon1.png) no-repeat center left;
            }
        }

        &.ind {
            .stattotal-name {
                background: url(../images/stattotal-icon2.png) no-repeat center left 4px;
            }
        }

        &.indexset {
            .stattotal-name {
                background: url(../images/stattotal-icon3.png) no-repeat center left 10px;
            }
        }
    }

    &-name {
        display: inline-block;
        vertical-align: top;
        padding-left: 46px;
    }

    &-val {
        display: inline-block;
        vertical-align: top;
        font-size: 20px;
        margin-left: 35px;

        &:after {
            content: attr(data-unit);
            margin-left: 4px;
            font-size: 14px;
        }
    }
}

.volume {
    margin-top: 14px;

    &-echart {
        margin-top: 10px;
        height: 246px;
    }
}

.hotind {
    margin-top: 14px;

    &-cont {
        height: 262px;
        padding: 13px 7px 0 7px;
        box-sizing: border-box;
    }


    &-tablebox {
        position: relative;
        width: 28%;
        height: 240px;
        padding: 6px 2px 0 0;
        background-color: rgb(244, 246, 252);
        box-sizing: border-box;

        &:before {
            content: "";
            position: absolute;
            top: 44px;
            left: 13px;
            right: 13px;
            height: 1px;
            background-color: rgb(229, 237, 252);
        }
    }

    &-table {
        width: 100%;
        font-size: 14px;
        table-layout: fixed;

        th {
            height: 28px;
            padding: 6px 15px 6px 6px;
            color: rgb(110, 115, 132);
            line-height: 20px;
            text-align: center;
        }

        td {
            height: 26px;
            text-align: center;
            padding: 6px 15px 6px 6px;
            line-height: 20px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        .indname {
            text-align: left;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        .sorttitle {
            padding: 6px 6px 6px 13px;
            text-align: left;
        }

        .sort {
            font-style: italic;
            padding: 0 19px 0 13px;
        }

        tbody {
            tr {
                cursor: pointer;
                border-right: 3px solid transparent;

                &:hover {
                    background-color: rgb(237, 239, 247);
                    border-right-color: rgb(237, 239, 247);
                }

                &.active {
                    background-color: rgb(237, 239, 247);
                    border-right-color: rgb(30, 198, 227);
                }
            }
        }

    }

    &-echart {
        width: 72%;
        height: 100%;
    }
}

.ranking {
    margin-top: 14px;

    &-cont {
        margin-top: 6px;
        padding: 0 8px;
        box-sizing: border-box;
    }

    &-tablebox {
        margin-top: 8px;
        height: 248px;
    }
}

.exhibit,
.warning {
    width: calc(50% - 12px);

}




// .overview {
//     font-size: 0;
//     height: 98px;

//     &-item {
//         position: relative;
//         display: inline-block;
//         vertical-align: top;
//         width: calc(33.33% - 10px);
//         height: 100%;
//         padding: 15px 15px 0 15px;
//         margin-left: 15px;
//         text-align: center;
//         border-radius: 2px;
//         box-sizing: border-box;

//         &:nth-child(3n+1) {
//             margin-left: 0;
//             width: calc(33.34% - 10px);
//         }

//         &.overviewbg1 {
//             background: #37adec linear-gradient(-90deg, rgba(255, 255, 255, 0.31) 0%, rgba(255, 255, 255, 0) 100%);
//         }

//         &.overviewbg2 {
//             background: #528aeb linear-gradient(-90deg, rgba(255, 255, 255, 0.31) 0%, rgba(255, 255, 255, 0) 100%);
//         }

//         &.overviewbg3 {
//             background: #6a6eeb linear-gradient(-90deg, rgba(255, 255, 255, 0.31) 0%, rgba(255, 255, 255, 0) 100%);
//         }

//         &.check {
//             .viewitem {
//                 margin-top: 13px;
//                 min-width: 136px;
//             }
//         }

//         &:before {
//             content: "";
//             position: absolute;
//             left: 50%;
//             top: 50%;
//             width: 20px;
//             height: 20px;
//             margin: -10px 0 0 -10px;
//             background: url(../images/overview-arrow.png) no-repeat center;
//         }
//     }
// }

// .viewitem {
//     display: inline-block;
//     vertical-align: top;
//     max-width: calc(50% - 35px);
//     // width: calc(50% - 35px);
//     margin-left: 56px;
//     font-size: 14px;
//     color: #fff;
//     line-height: 24px;
//     text-indent: 8px;

//     &:first-child {
//         margin-left: 12px;
//     }

//     &-val {
//         font-size: 20px;
//         padding-right: 4px;
//     }

//     &-ind {
//         min-width: 136px;
//         height: 24px;
//         margin-top: 2px;
//         padding-right: 10px;
//         border-radius: 2px;
//         background-color: rgba(0, 0, 0, .07);
//         box-sizing: border-box;
//     }

//     &-indtxt {
//         font-size: 13px;
//         margin-right: 8px;
//     }

//     &-part {
//         display: inline-block;
//         vertical-align: top;
//         max-width: calc(50% - 35px);
//         margin-left: 56px;
//         font-size: 14px;
//         color: rgb(244, 246, 252);
//         line-height: 34px;

//         &>li {
//             border: 1px solid transparent;

//             &+li {
//                 border-top-color: rgb(156, 188, 244);
//             }
//         }
//     }

//     &-partval {
//         margin-left: 8px;
//         font-size: 18px;
//     }
// }

// /* 今日运行（调度）概览 */
// .run {
//     margin-top: 14px;

//     &-cont {
//         padding-bottom: 16px;
//     }
// }

// .runtotal {
//     height: 64px;
//     margin: 14px 4px 0 4px;
//     line-height: 62px;
//     background-color: rgb(245, 248, 254);
//     border: 1px solid rgb(229, 237, 252);
// }