.request-content {
	padding-left: 20px;
	height: 100%;
}

.search-bar {
	height: 27px;
	padding-top: 15px;
}

.timerange {
	font-size: 12px;
	color: #2a3542;
}

.timerange>li {
	float: left;
	min-width: 40px;
	padding: 0 5px;
	height: 25px;
	border: 1px solid #dde5f0;
	margin-right: -1px;
	line-height: 25px;
	text-align: center;
	cursor: pointer;
}

.timerange>li.active2, .timerange1>li.active2, .timerange2>li.active2 {
	background: #0896d5;
	color: #fff;
	border-top-color: #0896d5;
	border-bottom-color: #0896d5;
}

.timerange1 {
	font-size: 12px;
	color: #2a3542;
}

.timerange1>li {
	float: left;
	min-width: 40px;
	padding: 0 5px;
	height: 25px;
	border: 1px solid #dde5f0;
	margin-right: -1px;
	line-height: 25px;
	text-align: center;
	cursor: pointer;
}

.timerange2 {
	font-size: 12px;
	color: #2a3542;
}

.timerange2>li {
	float: left;
	min-width: 40px;
	padding: 0 5px;
	height: 25px;
	border: 1px solid #dde5f0;
	margin-right: -1px;
	line-height: 25px;
	text-align: center;
	cursor: pointer;
}

.custome-time {
	font-size: 12px;
	float: right;
	margin-right: 25px;
}

.custome-time>span {
	color: #0896d5;
	margin: 0 5px;
}

.custome-time>input[type=text] {
	width: 133px;
	height: 25px;
	border: 1px solid #dde5f0;
	line-height: 24px;
	padding-left: 5px;
	color: #999;
	border-radius: 2px;
	background: url("../images/dropdown-icon.png") no-repeat 114px center;
	cursor: pointer;
}

.chart-block {
	border: 1px solid #dde5f0;
	margin-top: 25px;
	margin-right: 25px;
}