// $checked-color: #fff;
// $checked-bg: #658db5;
// $unchecked-color: #cfcece;
// $unchecked-bg: #f9f9f9;
$checked-color: #658db5;
$checked-bg: #fff;
$unchecked-color: #cfcece;
$unchecked-bg: #f9f9f9;
$checkbox-height: 14px;
$duration: .2s;
// 权限颜色
$blue: #2586d9;
$red: red;
$yellow: #ffbc00;
.tree-container {
    // position: absolute;
    // top: 40px;
    // left: 0;
    // right: 0;
    // bottom: 0;
    // overflow: auto;
    position: relative;

    max-width: 1200px;
    margin: 10px auto;
    padding: 0 20px;
}

.tips-box {
    padding: 0 20px;
}

.tip-item {
    display: inline-block;
    & + & {
        margin-left: 10px;
    }
    &.blue {
        color: $blue;
    }
    &.red {
        color: $red;
    }
    &.yellow {
        color: $yellow;
    }
}

.cb-container {
    position: relative;

    display: inline-block;

    margin-left: 10px;

    line-height: 26px;

    color: #000;
    &.blue {
        color: $blue;
    }
    &.red {
        color: $red;
    }
    &.yellow {
        color: $yellow;
    }
    &.asblock {
        display: block;

        margin-left: 0;
    }
    &.disabled {
        cursor: not-allowed;
        // opacity: 0.6;
        // filter: alpha(opacity=60);
         > .cb-show {
            opacity: .4;

            filter: alpha(opacity=40);
        }
         > .cb-cb,
         > .cb-show,
         > .cb-label {
            cursor: not-allowed;
        }
    }
}

.cb-cb {
    position: absolute;
    z-index: 1;
    top: 6px;
    left: 0;

    display: inline-block;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    width: $checkbox-height;
    height: $checkbox-height;

    vertical-align: top;

    opacity: 0;

    filter: alpha(opacity=0);
}

.cb-show {
    position: absolute;
    z-index: 0;
    top: 6px;
    left: 0;

    display: inline-block;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    width: $checkbox-height;
    height: $checkbox-height;

    cursor: pointer; // border: $checkbox-height * .1 solid $unchecked-color;

// background: $unchecked-bg;

    background: url("./images/checkbox.png");
}

.cb-cb:checked + .cb-show {
    // border-color: $checked-bg;
    // background: $checked-bg;
    background: url("./images/checkbox-checked.png");
}

.cb-cb.half-checked + .cb-show {
    border-color: $checked-bg;
    background: $checked-bg;
}

.cb-label {
    margin-left: $checkbox-height;
    padding-left: 5px;

    line-height: 26px;

    vertical-align: top;
}

// 2级缩进
.cb-container.level-1 + .check-group {
    padding-left: 46px;
}

// 三级缩进
.cb-container.level-2 + .check-group {
    padding-left: 36px;
}

// 三级之后统一显示在一行内
.cb-container.level-3 + .check-group,
.cb-container.level-4 + .check-group,
.cb-container.level-5 + .check-group,
.cb-container.level-6 + .check-group,
.cb-container.level-7 + .check-group {
    display: inline;
}

// .check-group > .check-group {
//     padding-left: 30px;
// }
.ie8 {
    .cb-show {
        background: url("./images/checkbox.png");
    }
    .cb-container.checked {
         > .cb-show {
            background: url("./images/checkbox-checked.png");
        }
    }
}
