body {
    background: #f2f6fe;
}

.fs-head {
    height: 49px;
    padding: 0 22px;
    border-bottom: 1px solid #d9d9d9;
    border-bottom: 0 rgba(0, 0, 0, .15);
    box-shadow: 0 1px 5px rgba(0, 0, 0, .2);
    background-color: #fff;
}

.fs-category {
    display: inline-block;
}

.fs-category-item {
    position: relative;
    float: left;
    font-size: 1.6rem;
    color: #333;
    padding: 0 20px;
    line-height: 49px;
    height: 49px;
    box-sizing: border-box;
    cursor: pointer;
}

.fs-category-item.active,
.fs-category-item:hover {
    color: #0d75cd;
    /* font-weight: 700; */
    border-bottom: 2px solid #0d75cd;
}

.fs-category-item.more {
    background: url(images/cate-down.png) 56px 24px no-repeat;
}

.fs-category-item.more.active,
.fs-category-item.more:hover {
    background-image: url(images/cate-down-active.png);
}

.fs-category-more {
    position: absolute;
    display: none;
    top: 45px;
    left: 0;
    color: #666;
    background: #fff;
    box-shadow: 0 0 5px #e8e8e8;
    z-index: 12;
}

.fs-category-item.more:hover>.fs-category-more {
    display: block;
}

.fs-category-more>.fs-category-item {
    line-height: 30px;
    height: 30px;
    padding: 0 20px;
    white-space: nowrap;
}

.fs-category-more>.fs-category-item:hover,
.fs-category-more>.fs-category-item.active {
    color: #0d75cd;
    background: #f1f8ff;
    border-bottom: none;
}

.fs-search {
    float: right;
    padding: 7px 0;
}

.fs-search-input {
    width: 320px;
    padding: 0 10px;
    height: 32px;
    line-height: 32px;
    border: 1px solid #2dabec;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.fs-search-btn {
    float: right;
    height: 34px;
    width: 74px;
    border: none;
    background: #2dabec;
    color: #fff;
    letter-spacing: 1px;
    cursor: pointer;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.fs-condition {
    line-height: 40px;
    height: 40px;
    padding: 0 22px;
    font-size: 1.4rem;
    color: #666;
    background: #f2f6fe;
}

.fs-sort {
    display: inline-block;
}

.fs-sort-item {
    float: left;
    padding: 0 15px 0 10px;
    background: right center no-repeat;
}

.fs-sort-item.up {
    background-image: url(images/sort-up.png);
}

.fs-sort-item.down {
    background-image: url(images/sort-down.png);
}

.sort-lbl {
    cursor: pointer;
}

.fs-advs-switch {
    float: right;
    padding-left: 15px;
    color: #0d75cd;
    background: url(images/advs-down.png) left center no-repeat;
    cursor: pointer;
}

.fs-advs-switch.active {
    background: none;
}

.fs-content {
    position: absolute;
    top: 91px;
    bottom: 0;
    width: 100%;
    background: #f2f6fe;
    padding-bottom: 20px;
}

body.hide-condition .fs-condition {
    display: none;
}

body.hide-condition .fs-content {
    top: 51px;
    padding-top: 20px;
}

.fs-content-left {
    position: relative;
    height: 100%;
    margin: 0 20px;
    border: 1px solid #ddd;
    border: 0 rgba(0, 0, 0, .2);
    box-shadow: 0 0 5px rgba(0, 0, 0, .15);
}

.fs-content-right {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    width: 350px;
    height: 100%;
    box-shadow: -2px -2px 2px #ececec;
}

.fs-content.showright>.fs-content-left {
    margin-right: 350px;
}

.fs-content.showright>.fs-content-right {
    display: block;
}

.fs-grid {
    position: absolute;
    top: 0;
    bottom: 41px;
    width: 100%;
    background: #fff;
    padding-top: 14px;
}

.fs-grid.no-pager {
    bottom: 0;
}

.fs-grid.empty {
    background: url(images/nodata.png) center no-repeat;
}

.fs-grid-item {
    height: 135px;
    /* padding: 0 22px; */
    padding: 0 10px;
    margin: 0 14px;
    box-sizing: border-box;
    overflow: hidden;
}

.fs-grid-item:hover {
    background-color: #f1f8ff;
}
.fs-grid-type {
    float: left;
    width: 100px;
    height: 100%;
    border-bottom: 1px dashed #e9edf5;
    box-sizing: border-box;
}

.fs-type-border {
    width: 100%;
    height: 100px;
    margin: 17px 0;
    padding-top: 70px;
    border: 1px solid #efefef;
    box-sizing: border-box;
    text-align: center;
    background: url(images/email.png) center 10px no-repeat #fff;
}

.fs-grid-info {
    height: 100%;
    margin-left: 100px;
    padding-left: 10px;
    border-bottom: 1px dashed #e9edf5;
    box-sizing: border-box;
}

.fs-info-hd {
    line-height: 48px;
    height: 48px;
    overflow: hidden;
}

.fs-info-title {
    float: left;
    max-width: 70%;
    font-size: 1.6rem;
    color: #0d75cd;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
}

.fs-info-operation {
    float: right;
}

.fs-operation-btn {
    display: inline-block;
    height: 25px;
    line-height: 25px;
    padding: 0 20px;
    margin-left: 4px;
    box-sizing: border-box;
    border: 1px solid #2dabec;
    border-radius: 2px;
    color: #2dabec;
    cursor: pointer;
}

.fs-operation-btn:hover {
    background: #2dabec;
    color: #fff;
}

.fs-info-bd {
    line-height: 22px;
    height: 44px;
    color: #666;
}

.fs-info-ft {
    line-height: 44px;
}

.fs-info-time {
    color: #999;
}

.fs-info-ri {
    float: right;
    line-height: 28px;
    margin-top: 8px;
    padding: 0 5px;
    color: #0d75cd;
    cursor: pointer;
}

.fs-info-ri:hover {
    background-color: #2dabec;
    color: #fff;
}

.fs-ri-title {
    line-height: 40px;
    margin: 0 10px 5px;
    font-size: 1.6rem;
    color: #0d75cd;
    border-bottom: 1px dashed #ddd;
}

.fs-ri-close {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background: url(images/close.png) center no-repeat;
}

.fs-ri-list {
    position: absolute;
    width: 100%;
    top: 46px;
    bottom: 0;
}

.fs-ri-list.empty {
    background: url(images/nori.png) center no-repeat;
}

.fs-ri-item {
    line-height: 36px;
    width: 100%;
    box-sizing: border-box;
    padding: 0 10px;
    color: #3d4b62;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
}

.fs-ri-item:hover {
    background-color: #dcefff;
}

.fs-grid-pager {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
}

.fs-advs-content>.fui-form {
    max-width: 890px;
    margin: 0 auto;
    padding: 5px 22px;
}

.fs-time-choice {
    width: 262px;
}

.fs-advs-content {
    position: absolute;
    top: 91px;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    z-index: 11;
    box-shadow: 0 -3px 5px rgba(0, 0, 0, .15);
}

.fs-advs-ft {
    height: 61px;
    padding: 17px 0;
    box-sizing: border-box;
    margin: 0 22px;
    border-top: 1px dashed #d9d9d9;
    text-align: center;
}

.fs-advs-btn {
    width: 80px;
    line-height: 26px;
    background: #51a6ef;
    color: #fff;
    border: none;
    cursor: pointer;
}

.fs-advs-btn.grey {
    background: #b3b3b3;
}

.fs-advs-blabk {
    position: absolute;
    top: 263px;
    bottom: 0;
    width: 100%;
    background: #bfbfbf;
}

/* 分类背景图片配置 */

.fs-type-border.email {
    background-image: url(images/email.png);
}

.fs-type-border.info {
    background-image: url(images/info.png);
}

.fs-type-border.document {
    background-image: url(images/document.png);
}

/* 用户 */

.fs-grid .module-item,
.fs-grid .user-item {
    font-size: 15px;
    font-size: 1.5rem;
    box-sizing: border-box;
    height: 90px;
    border-bottom: 1px dashed #e9edf5;
    position: relative;
    color: #666;
    margin: 0 14px;
    padding: 0 10px;
}

.user-item .kw,
.module-item .kw,
.user-inone .kw,
.module-inone .kw {
    color: #f05324;
}

.fs-grid .sublist-item:hover {
    background: #f1f8ff;
}

.user-item .user-portrait {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    position: absolute;
    top: 50%;
    left: 10px;
    margin-top: -20px;
    overflow: hidden;
}

.user-item .user-info {
    margin-left: 60px;
    line-height: 89px;
    padding: 0;
}

.user-item .user-info:after {
    clear: both;
    content: "";
    display: block;
}

.user-info .name,
.user-info .position,
.user-info .dept {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.user-info .name {
    float: left;
    width: 120px;
    font-size: 15px;
    font-size: 1.5rem;
}

.user-info .position {
    float: left;
    width: 120px;
    font-size: 14px;
    font-size: 1.4rem;
}

.user-info .dept {
    position: absolute;
    left: 310px;
    right: 180px;
    font-size: 14px;
    font-size: 1.4rem;
}

.user-info .user-actions {
    position: absolute;
    right: 0;
    width: 180px;
    height: 30px;
    top: 50%;
    margin-top: -15px;
    line-height: 0;
}

.user-actions>* {
    width: 30px;
    height: 30px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: inline-block;
    cursor: pointer;
}

.user-actions>span+span {
    margin-left: 30px;
}

.user-actions .mail {
    background-image: url("./images/user/mail.png");
}

.user-actions .mail:hover {
    background-image: url("./images/user/mail-h.png");
}

.user-actions .msg {
    background-image: url("./images/user/msg.png");
}

.user-actions .msg:hover {
    background-image: url("./images/user/msg-h.png");
}

.user-actions .sms {
    background-image: url("./images/user/phone.png");
}

.user-actions .sms:hover {
    background-image: url("./images/user/phone-h.png");
}

/* 模块 */

.module-item {
    line-height: 89px;
}

.module-item .icon-module {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top: 50%;
    left: 10px;
    margin-top: -20px;
    color: #fff;
    font-size: 20px;
    font-size: 2rem;
    text-align: center;
    line-height: 40px;
}

.module-item .module-info {
    position: absolute;
    left: 80px;
    width: 160px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.module-item .module-fullpath {
    position: absolute;
    left: 240px;
    right: 90px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.module-item .module-path {
    display: inline-block;
    font-size: 14px;
    font-size: 1.4rem;
    cursor: text;
}

.module-item .module-path.hasLink {
    cursor: pointer;
}

.module-item .module-path+.module-path {
    padding-left: 20px;
    position: relative;
}

.module-item .module-path+.module-path:before {
    position: absolute;
    left: 5px;
    content: ">";
}

.module-item .module-btn {
    position: absolute;
    height: 26px;
    right: 20px;
    line-height: 24px;
    top: 50%;
    margin-top: -13px;
    padding: 0 14px;
    background: transparent;
    box-sizing: border-box;
    border-radius: 3px;
    border: 1px solid #2dabec;
    cursor: pointer;
    transition: all .1s ease-out;
}

.module-item .module-btn:hover {
    color: #fff;
    background: #2dabec;
}

/* 全部下用户和模块样式调整 */

.fs-grid-item.user-inone,
.fs-grid-item.module-inone {
    position: relative;
}

.fs-grid-item.user-inone:after,
.fs-grid-item.module-inone:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-bottom: 1px dashed #e9edf5;
}

.user-inone .grid-item-title,
.module-inone .grid-item-title {
    line-height: 30px;
    padding-top: 4px;
}

.user-inone>.count,
.module-inone>.count {
    position: absolute;
    right: 12px;
    bottom: 0;
    color: #999;
}

.user-inone .view-all,
.module-inone .view-all {
    position: absolute;
    height: 26px;
    right: 12px;
    line-height: 24px;
    top: 10px;
    background: transparent;
    box-sizing: border-box;
    color:#0d75cd;
    cursor: pointer;
    transition: all .1s ease-out;
    outline: none;
    border:none;
}

.user-inone .view-all:hover,
.module-inone .view-all:hover {
    color:#0d75cd;
}

.user-inone .view-all:focus,
.module-inone .view-all:focus {
    outline: none;
}

.user-inone .position,
.user-inone .user-actions {
    display: none;
}

.user-inone .user-list {
    position: absolute;
    left: 12px;
    right: 80px;
    height: 80px;
    overflow: hidden;
}

.user-inone .user-list:after {
    content: "";
    clear: both;
    display: block;
}

.user-inone .user-item {
    float: left;
    border: none;
    height: 100%;
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.user-inone .user-item+.user-item {
    margin-left: 20px;
}

.user-inone .user-info {
    padding: 10px 0;
    line-height: 30px;
}

.user-inone .name {
    float: none;
    /* width: 100%; */
    display: inherit;
}

.user-inone .dept {
    position: static;
    display: block;
}

.module-inone .module-fullpath,
.module-inone .module-btn {
    display: none;
}

.module-inone .module-list {
    position: absolute;
    left: 12px;
    right: 80px;
    overflow: hidden;
    height: 80px;
}

.module-inone .module-list:after {
    content: "";
    clear: both;
    display: block;
}

.module-inone .module-item {
    float: left;
    width: 200px;
    border: none;
    height: 100%;
    position: relative;
    line-height: 80px;
}

.module-inone .module-item+.module-item {
    margin-left: 20px;
}

.module-inone .module-info {
    position: static;
    margin-left: 60px;
}

