
.ajax-loading {
    background-image: url("images/ajaxloading.gif");
}

.fui-header {
    background: #90693d;
}

/**
 * 左侧菜单
 */
.fui-sidebar {
    background: #887750;
}

.fui-nav.second,
.fui-overall-content {
    background: #fafafa;
}

.fui-sidebar-toggle {
    border-top-color: #958663;
}

.fui-overall-link {
    background: #a3906d;
}

.fui-nav-link:hover,
.fui-nav-item.top > .fui-nav-link:hover,
.fui-nav-link.active,
.fui-nav-item.opened > .fui-nav-link {
    background: #fafafa;
}

.fui-overall.opened > .fui-overall-link,
.fui-overall-link:hover {
    background: #c9ba98;
}

.fui-nav-title {
    border-bottom-color: #f4f1e9;
}

.fui-overall-navs > .fui-nav.second {
    border-right-color: #f4f1e9;
}

.fui-nav.second .fui-nav-item.opened > .fui-nav-link,
.fui-nav.second .fui-nav-link.active,
.fui-nav.second .fui-nav-link:hover {
    background: #e7f1f2;
}

.fui-nav-link,
.fui-nav-edit {
    color: #666;
}

.fui-overall-footer {
    background-color: #c9ba98;
}

.fui-scroller-left,
.fui-scroller-left.disabled:hover {
    background-image: url(images/aside/icon-left.png);
}

.fui-scroller-right,
.fui-scroller-right.disabled:hover {
    background-image: url(images/aside/icon-right.png);
}
.fui-nav-text > .keynote {
    color: #ff3d00;
}

/**
 * tab
 */
.fui-main-head {
    background: url(images/tab-bar/tabbar-bg.png);
}
.fui-main-tab {
	background: #c9ba98;
}
.fui-main-tab.active, .fui-main-tab:hover {
    color: #fff;
    background: #887750;
}
.fui-tab-refresh {
    background-image: url(images/tab-bar/icon-refresh.png);
}
.fui-tab-close {
    background-image: url(images/tab-bar/icon-tabdel.png);
}
.fui-taboperation-close {
    background-image: url(images/tab-bar/icon-delete.png);
}
.fui-taboperation-more {
    background-image: url(images/tab-bar/icon-more.png);
}

.icon-info {
    background-image: url(images/msg/icon-message.png);
}
.icon-attention {
    background-image: url(images/msg/icon-attention.png);
}
.icon-emsg {
    background-image: url(images/msg/icon-emessage.png);
}
.icon-organization {
    background-image: url(images/msg/icon-org.png);
}