.todo-container {
    height: 100%;
    line-height: 30px;
    font-size: 13px;
    font-size: .13rem;
    overflow: auto;
    padding: 15px 0;
    @at-root {
        .todo-item {
            position: relative;
            padding:0 15px;
            // margin-left: 10px;
            // background: url("./images/dot33.gif") 0 center no-repeat;
            &:hover {
                background-color: #ebf5ff;
            }
            @at-root &-link {
                font-size: 14px;
                font-size: .14rem;
                display: block;
                margin-right: 60px;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                color:inherit;
                color:#555;
            }
            @at-root &-date {
                position: absolute;
                top:0;
                right: 0;
                display: block;
                width: 50px;
                text-align: right;
                padding-right: 14px;
                color:#999
            }
        }
    }
}