/**
 * 作者: 郭天琦
 * 创建时间: 2017/06/27
 * 版本: [1.0, 2017/06/27 ]
 * 版权: 江苏国泰新点软件有限公司
 * 描述: tabview实例样式
 */

.em-tabview {
    overflow: hidden;
}

.em-tabview-title {
    width: 33.333333%;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.em-tabview-title.cur {
    color: #f00;
    border-bottom: 1px solid #f00;
}

.em-tabview-head {
    position: relative;
}

.em-tabview-body {
    display: flex;
    width: 300%;
    height: 100%;
    overflow: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
}

.em-tabview-body ul {
    width: 100%;
}