/* extended by Mr.Prime */
body {
    padding: 20px 15px;
}
/* 隐藏效果 */
[conceal="0"] {
    display: inline-block;
}

[conceal="1"] {
    border: 1px dashed #bbb;
    color: #999;
}

input {
    color: #999;
    border: 1px solid #aaa;
    box-sizing: border-box;
    height: 24px;
    line-height: 24px;
    /*position: relative;*/
    padding-left: 5px;
    display: inline-block;
}

/* 多行输入框 */
input.textarea {
    height: 50px;
    width: 200px;
}

/* 富文本输入框 */
input.richeditor {
    height: 50px;
    width: 200px;
    color: #999;
}

/* 日期选择控件 */
input.datetextbox {
    background: url(../images/controls/calendar.png) no-repeat right center transparent;
}

/* 日期选择控件 */
input.datetimetextbox {
    background: url(../images/controls/calendartime.png) no-repeat right center transparent;
}

/* 下拉菜单 */
input.dropdowntextbox {
    background: url(../images/controls/select.png) no-repeat right center transparent;
}

/* checkboxlist */
input.checkboxlist {
    border: none;
    padding-left: 0;
    width: 18px;
    height: 18px;
    background: url(../images/controls/checkbox.png) no-repeat left center transparent;
}
/* radiobuttonlist */
input.radiobuttonlist {
    border: none;
    padding-left: 0;
    width: 18px;
    height: 18px;
    background: url(../images/controls/radio.png) no-repeat left center transparent;
}

/* 文件上传 */
input.fileupload {
    border: none;
    padding-left: 20px;
    width: 150px;
    color: #999;
    background: url(../images/controls/fileupload.png) no-repeat left center transparent;
}

/* Grid */
input.datagrid 
{
    background: url(../images/controls/datagrid.png) no-repeat right center transparent;
}

/* GridNew */
input.datagridnew 
{
    background: url(../images/controls/datagridnew.png) no-repeat right center transparent;
}

/* calculatecontrol */
input.calculatecontrol 
{
    border: none;
    padding-left: 0;
    width: 18px;
    height: 18px;
    background: url(../images/controls/calculatecontrol.png) no-repeat right center transparent;
}

/* 宏控件 */
input.macro {
    border: none;
    padding-left: 0;
    width: 18px;
    height: 18px;
    background: url(../images/controls/macro.png) no-repeat left center transparent;
}

/* 组织架构选择 */
input.orgsel {
    border: none;
    padding-left: 0;
    width: 18px;
    height: 18px;
    background: url(../images/controls/orgselect.png) no-repeat left center transparent;
}
/* word文档编辑 */
input.ntko {
    border: none;
    padding-left: 0;
    width: 18px;
    height: 18px;
    background: url(../images/controls/ntko.png) no-repeat left center transparent;
}
/* 图片插入 */
input.epimage {
    border: none;
    padding-left: 0;
    width: 18px;
    height: 18px;
    background: url(../images/controls/ntko.png) no-repeat left center transparent;
}
/* 可扩展控件默认图标 */
input.extensiblecontrol {
    border: none;
    padding-left: 20px;
    width: 150px;
    color: #999;
    background: url(../images/controls/macro.png) no-repeat left center transparent;
}
