/*
 * @Author: chends
 * @Date: 2018-07-11 09:24:57
 * @LastEditors: chends
 * @LastEditTime: 2018-07-20 09:57:45
 * @Description: grace 蓝绿皮肤
 */
 @import "../../util.scss";
$headerBgImg : url("./images/header/bg.png");

// 下拉列 hover 颜色和背景
$panelItemColor: #1ebce7;
$panelItemBg: #e1f8fb;

.header-container {
    background-image: $headerBgImg;
}

.portal {
    @at-root {
        .top-portal-cate-item {
            color: #038bac;
            color: rgba(3,139,172,.5);
        }
        &.multi {
            .top-portal-cate-item{
                color: #666;
                &:hover {
                    background: $panelItemBg;
                }
            }
            .portal-box-inner,
            .top-portal-cate-item.active {
                background: #bfedf2;
                color: #666;
            }
            .top-portal-item:hover {
                background: #abe4eb;
                background: rgba(137,213,224,.37);
                color: #666
            }
        }
    }
}

.quick-menu-item:hover,
.top-portal-item:hover {
    color: $panelItemColor;
    background: $panelItemBg;
}

.user-action-item:hover {
    color: $panelItemColor;
}

.top-menu-wrap {
    @at-root {
        &.hold-color {
            color: #038bac;
            background: #bfedf2;
        }
        &.active {
            color: #038bac;
            background: #bfedf2;
            .top-menu-trigger {
                background: #fff;
                &:after {
                    background: url(./images/header/menu-close.png) center no-repeat;
                }
            }
            .top-menu-item {
                &:hover,
                &.active {
                    color: #fff;
                    background: #09bdd9;
                }
            }
        }
    }
}

// 头部按钮
.header-actions-area {
    @at-root {
        .header-search {
            .classify-search-history-item {
                >.classify-search-history-remove {
                    color: $panelItemColor;
                }
                &:hover,
                &.active {
                    color: $panelItemColor;
                    background: $panelItemBg;
                }
            }
            .classify-search-classify-item {
                &:hover,
                &.active {
                    background: $panelItemBg;
                }
                .classify-search-classify-kw {
                    color: $panelItemColor;
                }
            }
        }
        .header-action-btn-tip {
            // color: $panelItemColor;
        }
        .new-remind-wrap {
            background: #02b8b5;
            &:before {
                border-bottom-color: #02b8b5
            }
        }
        .ie8 {
            .header-search .classify-search-input { 
                background: #08a0bc;
            }
        }
    }
    
}

// 左侧菜单
.left-nav {
    @at-root {
        .left-menu-header {
            background: #02b8b5;
        }
        .left-menu-item.level-1 {
            >.left-menu-link {
                &:hover {
                    background: #0fc7b7;
                    color: #fff;
                    >.left-menu-trigger {
                        background-image: url(./images/leftmenu/menu-right-w.png);
                    }
                }
            }
            &.opened>.left-menu-link {
                background: #0fc7b7;
                color: #fff;
                >.left-menu-trigger {
                    background-image: url(./images/leftmenu/menu-down-w.png);
                }
            }
        }
        .left-menu-link {
            color: #038bac;
            &:hover {
                background: #d6f4f3;
                background: rgba(15,199,183,.11);
            }
        }
        .left-menu-trigger {
            background: url(./images/leftmenu/menu-right.png) center no-repeat;
        }
        .main.left-narrow {
            .left-menu-sub-inner {
                background: #0fc7b7;
            }
            .left-nav-trigger {
                background-color: #02b8b5;
            }
            .left-menu-item.level-2 {
                margin-left: -30px;
                .left-menu-link {
                    color: #fff;
                    &:hover {
                        background: #02b8b5;
                    }
                    >.left-menu-trigger {
                        background-image: url(./images/leftmenu/menu-right-w.png);
                    }
                }
            }
        }
        .ie8 {
            /* 不支持旋转 需要换图片 */
            .opened>.left-menu-link>.left-menu-trigger {
                background-image: url(./images/leftmenu/menu-down.png);
            }
        }
    }
}

/* tabs nav 样式 */

.main-content-tab-wrap {
    background: #d2edf6;
    @at-root {
        .tabsnav-tabs-item {
            background: #ddf2f8;
            background: rgba(255,255,255, 0.25);
            border-color: transparent;
            color: #038bac;
            @include transition(all .2s ease-out);
            &.fixed {
                color: #fff;
                background: #09bdd9;
            }
            &:hover,
            &.active {
                background-color: #02b8b5;
                color: #fff;
            }
        }
        .tabsnav-contextmenu-item:hover,
        .tabsnav-quicknav-item:hover {
            color: $panelItemColor;
            background-color: $panelItemBg;
        }
        .tabsnav-quicknav-trigger {
            background: url(./images/tabsnav/trigger-btn.png) center no-repeat;
        }
    }
}

/* 右侧消息 */

.msg-panel {
    border-top-color: #09bdd9;
    /* remind */
    @at-root {
        .msg-panel-hide {
            background: url('images/right-msg/icon-toright.png');
        }
        .message-content-wrap {
            &.empty {
                background-image: url(./images/right-msg/no-msg.png);
            }
        }
        .msg-category-head,
        .msg-result-head,
        .msg-history-head {
            &:after {
                background: #09bdd9;
            }
        }
        .msg-category-num {
            color: $panelItemColor;
        }
        .msg-category-remove {
            &:hover {
                background: url('images/right-msg/icon-msgdel-hover.png')
            }
        }
        .msg-list-item {
            &:hover,
            &.newmsg:hover {
                color: $panelItemColor;
            }
        }
        .msg-item-ignore {
            &:hover {
                background: url('images/right-msg/icon-eye-hover.png')
            }
        }
    }
    /* emsg */
    @at-root {
        .emsg-recent-list.empty {
            background: url('images/right-msg/no-exun.png') no-repeat 50% 130px
        }
        .emsg-ignore-icon {
            background: #09bdd9;
            &:hover {
                background: #02b8b5;
            }
        }
        .emsg-recent-item:hover {
            background: $panelItemBg;
        }
        .msg-panel-head.tab>.panel-hd-tab.active,
        .msg-panel-head.tab>.panel-hd-tab:hover {
            color: $panelItemColor
        }
    }
}

/* exun skin*/
// 色值复写
// 左侧背景
$emsg_left_bg:#0fc7b7;
// 发送按钮颜色
$emsg_send_btn_bg:#02b8b5;
// 自己消息内容的背景色
$my_words_bg:#c6efee;
@import "../../../../emsg/emsg-skin.scss";
