/*#region E讯 */

.emsg-dialog { width: 800px; height: 540px; position: absolute; border-radius: 5px; box-shadow: 0 0 9px rgba(0,0,0,0.2); color: #0b3a51; z-index: 100; display: none; }

.emsg-user-img { width: 42px; height: 42px; border-radius: 50%;}

.emsg-user-img > img { display: block; width: 100%; height: 100%; border-radius: 50%;}

.emsg-dialog-head > .emsg-user-img { float: left;}

.emsg-dialog-left { height: 520px; width: 200px; float: left; background: #359fd9; border-top-left-radius: 5px; border-bottom-left-radius: 5px; padding: 10px 0; }

.emsg-dialog-left > .emsg-dialog-scroll { height: 100%; overflow: hidden; }

.emsg-dialog-right { background: #fcfcfc; margin-left: 200px; height: 100%; border-top-right-radius: 5px; border-bottom-right-radius: 5px; }

.emsg-session-list { }

.emsg-session-list > .emsg-session-item { padding: 6px 11px 6px 9px; height: 34px; line-height: 34px; position: relative; cursor: pointer; }

.emsg-session-list > .emsg-session-item:hover { background: #54b2e5; }

.emsg-session-list > .emsg-session-item:hover > .emsg-remove { display: block; }

.emsg-session-list > .emsg-session-item.active { background: #b8dff4; }

.emsg-session-item > .emsg-user-img { width: 34px; height: 34px; float: left; }

.emsg-session-item > .emsg-user-name { margin-left: 45px; width: 115px; overflow: hidden; -ms-text-overflow: ellipsis; -o-text-overflow: ellipsis; text-overflow: ellipsis; white-space: nowrap; }

.emsg-session-item > .emsg-remove { display: none; position: absolute; right: 11px; bottom: 14px; width: 17px; height: 17px; background-image: url("images/emsg-icon.png"); background-repeat: no-repeat; background-color: #54b2e5; background-position: 0 -50px; cursor: pointer; z-index: 10; }

.emsg-session-item.active:hover > .emsg-remove { background-color: #b8dff4; }

.emsg-session-item > .emsg-remove:hover { background-position: -25px -50px; }

.emsg-not-read { display: inline-block; width: 7px; height: 7px; border-radius: 50%; background: #ff3d00;}

.emsg-session-item .emsg-not-read { position: absolute; right: 15px; top: 20px; z-index: 8; -webkit-animation: new-msg 0.4s linear 20; -moz-animation: new-msg 0.4s linear 20; -o-animation: new-msg 0.4s linear 20; animation: new-msg 0.4s linear 20; }

@-webkit-keyframes new-msg {
    0% { opacity: 0.2; }

    100% { opacity: 1; }
}

@-moz-keyframes new-msg {
    0% { opacity: 0.2; }

    100% { opacity: 1; }
}

@-ms-keyframes new-msg {
    0% { opacity: 0.2; }

    100% { opacity: 1; }
}

@keyframes new-msg {
    0% { opacity: 0.2; }

    100% { opacity: 1; }
}


.emsg-dialog-head { position: relative; padding: 8px 0 8px 15px; height: 42px; line-height: 42px; border-bottom: 1px solid #d6d6d7; }

.emsg-session-info { margin-left: 53px; font-size: 16px; }

.emsg-group-info { line-height: 22px; }

.emsg-session-info > .emsg-curr-name { max-width: 300px; overflow: hidden; display: inline-block; -ms-text-overflow: ellipsis; -o-text-overflow: ellipsis; text-overflow: ellipsis; white-space: nowrap; }

.emsg-group-info > .emsg-curr-name { border: 1px solid transparent; border-radius: 2px; padding: 0 20px 0 3px; line-height: 24px; height: 24px; vertical-align: middle; }

.emsg-session-info > .emsg-not-read { margin: 0 0 12px 12px; -webkit-animation: new-msg 0.4s linear 20; -moz-animation: new-msg 0.4s linear 20; -o-animation: new-msg 0.4s linear 20; animation: new-msg 0.4s linear 20; }

.emsg-group-info > .emsg-not-read { margin: 0 0 0 12px; }

.emsg-group-rename { font-size: 16px; height: 24px; line-height: 24px; padding: 0 20px 0 3px; border: 1px solid #d6d6d7; outline: none; background: transparent; border-radius: 2px; color: #0b3a51; display: none; font-family: "Microsoft YaHei"; vertical-align: middle; }

.emsg-group-info > .emsg-curr-name:hover { border-color: #d6d6d7; }

.emsg-group-date { font-size: 12px; color: #999; line-height: 22px; display: block; vertical-align: middle; }

.emsg-top-bar { position: absolute; right: 65px; top: 15px; }

.emsg-create-group,
.emsg-write-email,
.emsg-quit-group { display: inline-block; width: 30px; height: 30px; background: url("images/emsg-icon.png") no-repeat; cursor: pointer; margin: 0 8px; }

.emsg-create-group { background-position: -227px 3px; }

.emsg-write-email { background-position: -277px 3px; }

.emsg-quit-group { background-position: -324px 3px; display: none; }

.emsg-group-info .emsg-quit-group { display: inline-block; }

.emsg-create-group:hover { background-position: -227px -37px; }

.emsg-write-email:hover { background-position: -277px -37px; }

.emsg-quit-group:hover { background-position: -324px -37px; }

.emsg-dialog-close,
.emsg-dialog-min { display: block; position: absolute; width: 14px; height: 14px; background: url("images/emsg-icon.png") no-repeat; cursor: pointer; }

.emsg-dialog-close { top: 8px; right: 10px; background-position: -50px -25px; }

.emsg-dialog-min { top: 8px; right: 31px; background-position: -25px -25px; }

.emsg-dialog-min.max { background-position: 0 -25px; }

.emsg-message-panel { height: 310px; overflow-y: auto; }

.emsg-message-tab { min-height: 310px; padding: 0 20px 0 15px; }

.emsg-message-inner { height: 100%; }

.emsg-load { height: 22px; padding-top: 7px; font-size: 12px; color: #999; text-align: center; }

.emsg-load > .emsg-load-link { cursor: pointer; }

.emsg-load-icon { display: inline-block; width: 11px; height: 11px; margin: 0 5px -1px 0; background: url("images/emsg-icon.png") no-repeat; }

.emsg-load-icon.more { background-position: -130px 0; }

.emsg-load-icon.loading { background-position: -180px 0; }

.emsg-load-icon.nomore { background-position: -155px 0; }

.emsg-message-list { padding-bottom: 20px; }

.emsg-message-item { margin-top: 10px; overflow: hidden; }

.emsg-message-item > .emsg-message { font-size: 13px; }

.emsg-message > .emsg-message-time,
.emsg-message > .emsg-message-name { color: #999; }

.emsg-message > .emsg-message-name { margin-right: 10px; }

.emsg-message > .emsg-message-content { overflow: hidden; }

.emsg-message > .emsg-message-content > div { -moz-border-radius: 12px; -webkit-border-radius: 12px; border-radius: 12px; padding: 5px 10px; position: relative; font-size: 13px; line-height: 24px; -ms-word-break: break-all; word-break: break-all; }

.emsg-message > .emsg-message-content > div:after { border-style: solid; content: ""; display: block; position: absolute; width: 0; }

/*.emsg-message > .emsg-message-content a { text-decoration: underline; color: #258eef; }*/

.emsg-message-item.receive > .emsg-user-img { float: left; margin: 5px 0; }

.emsg-message-item.receive > .emsg-message { margin-left: 55px; }

.emsg-message-item.receive .emsg-message-content > div { background: #d4dde6; margin-left: 12px; float: left; margin-right: 10px; }

.emsg-message-item.receive .emsg-message-content > div:after { border-color: #d4dde6 transparent transparent transparent; border-width: 8px 0 5px 12px; top: 8px; left: -11px; }

.emsg-message-item.send > .emsg-user-img { float: right; margin: 5px 0; }

.emsg-message-item.send > .emsg-message { margin-right: 55px; }

.emsg-message-item.send > .emsg-message > .emsg-message-time { display: block; text-align: right; }

.emsg-message-item.send .emsg-message-content > div { background: #a8daf6; margin-right: 12px; float: right; margin-left: 10px; }

.emsg-message-item.send .emsg-message-content > div:after { border-color: #a8daf6 transparent transparent transparent; border-width: 8px 12px 5px 0; top: 8px; right: -11px; }

.emsg-message-tip { text-align: center; color: #999; font-size: 13px; margin-top: 10px; }

.emsg-tip-icon { display: inline-block; width: 14px; height: 14px; margin: 0 5px -2px 0; background: url("images/emsg-icon.png") no-repeat -155px -25px; }

.emsg-tip-important { color: #3d4b62; }

.emsg-message-inputbox { border-top: 1px solid #d6d6d7; height: 170px; }

.emsg-dialog-tool { padding: 5px 10px; height: 32px; }

.emsg-emotion-icon,
.emsg-file-icon { display: block; float: left; width: 32px; height: 32px; background: url("images/emsg-icon.png") no-repeat; cursor: pointer; border: 0 none; outline: none; }

.emsg-emotion-icon { background-position: -374px 6px; }

.emsg-emotion-icon:hover { background-position: -374px -34px; }

.emsg-file-icon { position: relative; background-position: -424px 5px; }

.empty-tootip { position: relative; }

.emsg-file-icon:after,
.empty-tootip:after { display: none; position: absolute; content: ""attr(data-tooltip)""; height: 29px; border: 1px solid #a7adaf; border-radius: 2px; line-height: 29px; text-align: center; box-shadow: 0 0 2px rgba(0,0,0,0.16); background: #fff; font-size: 12px; z-index: 9; }

.emsg-file-icon:after { width: 108px; bottom: 35px; left: -34px; }

.empty-tootip:after { display: block; width: 132px; bottom: 35px; right: 0; color: #666; }

.emsg-file-icon:before,
.empty-tootip:before { display: none; position: absolute; content: ''; width: 13px; height: 6px; background: url("images/emsg-icon.png") no-repeat -130px -25px; z-index: 10; }

.emsg-file-icon:before { bottom: 30px; left: 15px; }


.empty-tootip:before { display: block; bottom: 30px; right: 32px; }

.emsg-file-icon:hover { background-position: -424px -35px; }

.emsg-file-icon:hover:after,
.emsg-file-icon:hover:before { display: block; }

.emsg-history-link { width: 78px; height: 22px; float: right; line-height: 22px; display: inline-block; cursor: pointer; color: #666; text-align: center; font-size: 12px; border: 1px solid transparent; border-radius: 3px; }

.emsg-history-icon { display: inline-block; width: 11px; height: 11px; margin: 0 5px -1px 0; background: url("images/emsg-icon.png") no-repeat -205px 0; }

.emsg-history-link:hover { background: #f5f5f5; border-color: #e1e5e6; }

.emsg-message-text { width: 580px; margin: 0 auto; border: 0 none; height: 90px; outline: none; overflow-y: auto; -ms-word-break: break-all; word-break: break-all; }

.emsg-btn-send { border: 0 none; width: 80px; height: 28px; line-height: 28px; color: #fff; text-align: center; float: right; margin-right: 10px; background: #32ade6; border-radius: 3px; cursor: pointer; }

.emsg-dialog.min { width: 250px !important; height: 42px !important; }

.emsg-dialog.min.bottom { bottom: 0 !important; right: 0 !important; }

.emsg-dialog.min > .emsg-dialog-left { display: none; }

.emsg-dialog.min > .emsg-dialog-right { overflow: hidden; margin-left: 0; border-top-left-radius: 5px; border-bottom-right-radius: 0; }

.emsg-dialog.min .emsg-top-bar,
.emsg-dialog.min .emsg-message-panel,
.emsg-dialog.min .emsg-message-inputbox { display: none; }

.emsg-dialog.min .emsg-dialog-head { padding-top: 5px; }

.emsg-dialog.min .emsg-dialog-head .emsg-user-img { width: 35px; height: 35px; }

.emsg-dialog.min .emsg-dialog-head .emsg-session-info { margin-left: 40px; line-height: 33px !important; }

.emsg-dialog.min .emsg-dialog-head .emsg-group-date { display: none !important; }

.emsg-dialog.min .emsg-session-info > .emsg-curr-name { width: 100px; padding-right: 0; }

.emsg-dialog.min .emsg-group-info > .emsg-curr-name:hover { border-color: transparent; }

.emsg-mindialog { position: absolute; right: 0; bottom: 0; width: 250px; height: 42px; }

.emsg-dialog-transfer { border: 2px dotted gray; }

.emotion-panel { z-index: 999; width: 372px; height: 186px; left: 200px; top: 165px; padding: 10px; display: none; font-size: 12px; background: #fff; overflow: hidden; position: absolute; border: 1px solid #E8E8E8; }

.emotion-panel .face-list { width: 372px; list-style: none; }

.emotion-panel .face-list > li { float: left; list-style: none; }

.emotion-panel .face-list .face { z-index: 1; float: left; width: 26px; height: 22px; cursor: pointer; overflow: hidden; padding: 4px 2px; position: relative; text-align: center; margin: -1px 0 0 -1px; border: 1px solid #e8e8e8; _display: inline; }

.emotion-panel .face-list .face:hover { z-index: 2; border: 1px solid #0095cd; }

.emotion-panel .face-list .face > img { border: 0; vertical-align: top; }

.eimg { border: 0 none; width: 22px; height: 22px; vertical-align: middle; margin: 0 3px; }

.emsg-cgroup-layer { z-index: 110; display: none; background-color: #000; bottom: 0; left: 0; opacity: 0.3; position: absolute; right: 0; top: 0; }

.emsg-cgroup-dialog { position: absolute; width: 500px; height: 400px; background: #fff; z-index: 111; display: none; -moz-user-select: none; -ms-user-select: none; -webkit-user-select: none; user-select: none; box-shadow: 0 0 9px rgba(0,0,0,0.2); }

.emsg-cgroup-bar { border-top: 1px solid #ccc; text-align: right; }

.emsg-cgroup-bar > .emsg-btn-ok,
.emsg-cgroup-bar > .emsg-btn-cancle { border: 0 none; border-radius: 3px; color: #fff; cursor: pointer; font-size: 13px; height: 28px; line-height: 28px; text-align: center; text-decoration: none; width: 80px; margin: 8px; }

.emsg-cgroup-title { line-height: 32px; font-size: 16px; color: #fff; background: #519be1; padding-left: 10px; }

.emsg-cgroup-close { color: #fff; cursor: pointer; font-size: 24px; line-height: 30px; margin-right: 5px; }

.emsg-group-close:hover { color: #ddd; }

.emsg-cgroup-body { height: 325px; }

.emsg-cgroup-left { float: left; position: relative; width: 50%; height: 100%; }

.emsg-cgroup-right { border-left: 1px solid #ccc; float: right; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; position: relative; width: 50%; height: 100%; }

.emsg-cgroup-src { padding-top: 4px; height: 260px; overflow-y: auto; }

.emsg-cgroup-desc { overflow-y: auto; height: 296px; }

.emsg-cgroup-header { font-size: 14px; font-weight: 700; height: 28px; line-height: 28px; padding-left: 10px; background-color: #eeeded; border-bottom: 1px solid #f96d41; color: #f96d41; }

.emsg-cgroup-filter { border: 1px solid #ddd; color: #666; display: block; height: 24px; line-height: 24px; margin: 6px auto 0; outline: 0 none; padding-left: 6px; width: 230px; }

.emsg-cgroup-list { list-style: outside none none; margin: 0; overflow: auto; padding: 0; }

.emsg-cgroup-item { line-height: 26px; padding-left: 15px; position: relative; }

.emsg-cgroup-additem { display: inline-block; width: 15px; height: 15px; background: url("images/emsg-icon.png") no-repeat -50px -50px; cursor: pointer; margin: 0 30px 1px 10px; vertical-align: middle; visibility: hidden; }

.mini-tree-node-hover .emsg-cgroup-additem { visibility: visible; }

.emsg-cgroup-item:hover { background: #f7f7f7; }

.emsg-cgroup-item > .remove { color: #f96d41; cursor: pointer; font-size: 22px; line-height: 22px; position: absolute; right: 30px; display: none; }

.emsg-cgroup-item:hover > .remove { display: inline; }

.emsg-cgroup-bar > .emsg-btn-ok { background-color: #f96e40; }

.emsg-cgroup-bar > .emsg-btn-ok:hover { background-color: #f97f41; }

.emsg-cgroup-bar > .emsg-btn-cancle { background-color: #18a6b5; margin-right: 20px; }

.emsg-cgroup-bar > .emsg-btn-cancle:hover { background-color: #0dc0d5; }


@-webkit-keyframes zoomflash {
    0% { -webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1); -o-transform: scale(1); transform: scale(1); }

    40% { -webkit-transform: scale(1.02); -moz-transform: scale(1.02); -ms-transform: scale(1.02); -o-transform: scale(1.02); transform: scale(1.02); }

    60% { -webkit-transform: scale(1.02); -moz-transform: scale(1.02); -ms-transform: scale(1.02); -o-transform: scale(1.02); transform: scale(1.02); }

    100% { -webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1); -o-transform: scale(1); transform: scale(1); }
}

@-moz-keyframes zoomflash {
    0% { -webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1); -o-transform: scale(1); transform: scale(1); }

    40% { -webkit-transform: scale(1.02); -moz-transform: scale(1.02); -ms-transform: scale(1.02); -o-transform: scale(1.02); transform: scale(1.02); }

    60% { -webkit-transform: scale(1.02); -moz-transform: scale(1.02); -ms-transform: scale(1.02); -o-transform: scale(1.02); transform: scale(1.02); }

    100% { -webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1); -o-transform: scale(1); transform: scale(1); }
}

@-ms-keyframes zoomflash {
    0% { -webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1); -o-transform: scale(1); transform: scale(1); }

    40% { -webkit-transform: scale(1.02); -moz-transform: scale(1.02); -ms-transform: scale(1.02); -o-transform: scale(1.02); transform: scale(1.02); }

    60% { -webkit-transform: scale(1.02); -moz-transform: scale(1.02); -ms-transform: scale(1.02); -o-transform: scale(1.02); transform: scale(1.02); }

    100% { -webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1); -o-transform: scale(1); transform: scale(1); }
}

@keyframes zoomflash {
    0% { -webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1); -o-transform: scale(1); transform: scale(1); }

    40% { -webkit-transform: scale(1.02); -moz-transform: scale(1.02); -ms-transform: scale(1.02); -o-transform: scale(1.02); transform: scale(1.02); }

    60% { -webkit-transform: scale(1.02); -moz-transform: scale(1.02); -ms-transform: scale(1.02); -o-transform: scale(1.02); transform: scale(1.02); }

    100% { -webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1); -o-transform: scale(1); transform: scale(1); }
}

.zoom { -moz-animation: zoomflash 180ms ease-in-out 1; -o-animation: zoomflash 180ms ease-in-out 1; -webkit-animation: zoomflash 180ms ease-in-out 1; animation: zoomflash 180ms ease-in-out 1; }
/*#endregion */

/*#region 上传 */
.webuploader-container { position: relative; }

.webuploader-element-invisible { position: absolute !important; clip: rect(1px 1px 1px 1px); /* IE6, IE7 */ clip: rect(1px,1px,1px,1px); }

.webuploader-pick { position: relative; display: inline-block; cursor: pointer; padding: 16px 16px; color: #fff; text-align: center; border-radius: 3px; overflow: hidden; }

.webuploader-pick-hover { }

.webuploader-pick-disable { opacity: 0.6; pointer-events: none; }

.emsg-file-uploader { position: relative; min-width: 200px; padding-right: 85px; }

.emsg-file-name { color: #3d4b62; display: block; font-size: 13px; }

.emsg-file-size { color: #999999; display: block; line-height: 24px; font-size: 12px; }

.emsg-uploader-process { width: 200px; height: 5px; border-radius: 3px; background: #d9f1fc; visibility: hidden; }

.emsg-process-inner { width: 0; height: 5px; border-radius: 3px; background: #359fd9; }

.emsg-uploader-status { display: none; top: 5px; right: 5px; width: 15px; height: 15px; position: absolute; background: url("images/emsg-icon.png") no-repeat -205px 0; }

.emsg-file-down { outline: none; }

.emsg-file-reupload { color: #eb090a; float: right; font-size: 12px; position: absolute; right: 25px; top: 0; cursor: pointer; display: none; }

.emsg-uploader-status.success { display: block; background-position: -25px -75px; }

.emsg-uploader-status.fail { display: block; background-position: -50px -75px; }

.emsg-uploader-status.down { display: block; background-position: 0 -75px; }
/*#endregion */
