html,
body {
    min-width: 1080px;
    // overflow-y: auto;
}

.content-wrap {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    height: 56px;
    background: #fff;
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, .15);
    .logo {
        margin-left: 10px;
        margin-top: 11px;
    }
    .header-nav {
        height: 28px;
        margin-top: 14px;
        font-size: 14px;
    }
    .nav-list {
        line-height: 0;
    }
    .nav-item {
        position: relative;
        display: inline-block;
        line-height: 28px;
        padding: 0 5px;
        margin: 0 10px;
        color: #444;
        transition: all .2s ease-out;
        &:after {
            content: "";
            position: absolute;
            left: 50%;
            margin-left: -13px;
            display: block;
            width: 26px;
            height: 2px;
            background: #12adf6;
            transform-origin: 50% 50%;
            transition: all .2s ease-out;
            transform: scale(0);
        }
        &:hover,
        &.active {
            color: #12adf6;
            &:after {
                transform: scale(1);
            }
        }
        @at-root .ie8 {
            // IE8 兼容
            .nav-item:after {
                width: 0;
            }
            .nav-item:hover:after,
            .nav-item.active:after {
                width: 26px;
            }
        }
    }
    .nav-link {
        color: inherit;
    }
}

.top {
    height: 130px;
    background: #14bff7;
    background: linear-gradient(to right, #14bff7, #0e8bf3);
    >.content-wrap {
        // background: 
    }
}

.footer {
    text-align: center;
    color: #cccccc;
    font-size: 12px;
    height: 36px;
    ;
    line-height: 36px;
}