/**
 * showcase通用样式
 */

* {
    -webkit-user-select: none;
}

/*
 * 需要定制位置
 */

.data-list {
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    background-color: #fff;
}

.list-item {
    position: relative;
    overflow: hidden;
    padding: 11px 15px;
    -webkit-touch-callout: none;
}

.list-item:after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 15px;
    height: 1px;
    content: '';
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    background-color: #c8c7cc;
}

.list-item:active {
    background: #F5F5F5;
}

.msg-title {
    display: block;
    font-size: 15px;
    margin: 5px;
}

.msg-fs14 {
    font-size: 14px;
    color: #999;
}

.msg-date {
    float: right;
    margin: 5px;
}

.list-item a,
.navbar-header a {
    text-decoration: none;
    color: #18B4FE;
}

.nav-tips {
    font-size: 14px;
    padding: 12px;
    border-bottom: 1px solid #c8c7cc;
    color: red;
}

.navbar-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 44px;
    line-height: 44px;
    text-align: center;
    border-bottom: 1px solid #c8c7cc;
    background-color: #FFFFFF;
    z-index: 999;
}

.nav-control {
    position: fixed;
    top: 45px;
    left: 0;
    width: 100%;
    height: 44px;
    line-height: 17px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

.nav-control .active {
    border-bottom: 1px solid #FF6990;
    color: #FF6990;
}

.nav-control p {
    display: inline-block;
    width: 32%;
    padding: 5px 0;
}

.nav-btn-left {
    position: absolute;
    top: 0;
    left: 0;
    padding: 12px;
    line-height: 22px;
}

.content {
    padding-top: 45px;
}

.notice {
    padding: 5px;
    text-align: center;
}

.btn-switch {
    display: inline-block;
    margin-top: 14px;
    font-size: 14px;
    padding: 3px 15px;
    text-align: center;
    border: 1px solid #FF6990;
    border-radius: 20px;
    color: #FF6990;
}

.common-hidden {
    display: none !important;
}

/**
 * totop插件
 */

.common-totop {
    position: fixed;
    z-index: 9990;
    right: 10px;
    bottom: 30px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-image: url(img/gotop/img_backtop_btn@2x.png);
    background-size: 100% 100%;
}

.common-fade-in {
    -webkit-animation: common-fade-in 0.5s linear forwards;
    animation: common-fade-in 0.5s linear forwards;
}

.common-fade-out {
    pointer-events: none;
    -webkit-animation: common-fade-out 0.5s linear forwards;
    animation: common-fade-out 0.5s linear forwards;
}

@-webkit-keyframes common-fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes common-fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes common-fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes common-fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
 /*提示容器*/
 .em-tips {
     display: none;
     position: fixed;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     z-index: 8;
     background: #fff;
 }

 /*提示图标样式*/
 .em-tips img {
     display: block;
     width: 90px;
     height: 90px;
     transform: translate(-50%, -50%);
     margin-top: 45vh;
     margin-left: 50%;
 }

 /*提示文字样式*/
 .em-tips p {
     color: #97B3DE;
     font-size: 13px;
     margin-top: 0;
     transform: translate(-0%, -200%);
     display: inline-block;
     text-align: center;
     width: 100%;
 }


/*自定义纵向顶部菜单*/

.em-transition-vertical {
    overflow: hidden;
    height: 0px;
    /*background: #3c80e6;*/
    transition: height 100ms linear;
    -webkit-transition-duration: height 100ms linear;
    -moz-transition: height 100ms linear;
    -o-transition-property: height 100ms linear;
}

.em-tab-bar-list.mui-table-view {
    z-index: 999;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
}

.em-tab-bar-list .mui-table-view-cell img {
    width: 26px;
    height: 26px;
    vertical-align: middle;
}

.em-tab-bar-list .mui-table-view-cell span {
    margin-left: 10px;
}

.em-tab-bar-list .mui-table-view-cell.selected .em-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(./img/default/img_selected.png);
    background-size: 100% 100%;
    vertical-align: middle;
    float: right;
    margin-right: 10px;
}

.em-tab-bar-list .mui-table-view-cell.selected span {
    color: #3c80e6;
}

/*筛选事项*/

.em-filter-tab {
    position: fixed;
    z-index: 999;
    width: 100%;
    overflow: hidden;
    padding: 0px;
    background-color: #fff;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    top: 0;
    display: flex;
    justify-content: center;
    text-align: center;
}

.em-filter-tab>div {
    position: relative;
    /* float: left; */
    width:100%;
    list-style: none;
    text-align: center;
    font-size: 15px;
    color: #666;
    padding: 15px;
    display: inline-block;
}

.em-filter-tab>div.active {
    color: #3c80e6;
}

.em-filter-tab>div:last-child {
    border-left: 1px solid #ccc;
}

.em-filter-tab>div span.em-filter-item {
    margin-right: 5px;
}

/*箭头*/

.em-filter-tab>div .em-arrow-down {
    position: absolute;
    top: 55%;
    transform: translate(0%, -50%);
    width: 0;
    height: 0;
    border-top: 6px solid #ddd;
    border-left: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-right: 6px solid transparent;
}

.em-filter-tab>div.active .em-arrow-down {
    top: 44%;
    /* bottom: 8px; */
    border-top: 6px solid transparent;
    border-left: 6px solid transparent;
    border-bottom: 6px solid #3c80e6;
    border-right: 6px solid transparent;
    transform: translate(0%, -50%);
}

.search.minirefresh-wrap,
.search.em-todo-matter-wrapper,
.search.em-transition-vertical {
    margin-top: 53px !important;
}
