/*筛选*/

.em-filter-tab {
    position: fixed;
    z-index: 10;
    width: 100%;
    overflow: hidden;
    padding: 15px;
    background-color: #fff;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.em-filter-tab>div {
    position: relative;
    float: left;
    width: 50%;
    list-style: none;
    text-align: center;
    font-size: 15px;
    color: #666;
}

.em-filter-tab>div.active {
    color: #3c80e6;
}

.em-filter-tab>div:first-child {
    border-right: 1px solid #ccc;
}

.em-filter-tab>div span.em-filter-item {
    margin-right: 5px;
}


/*箭头*/

.em-filter-tab>div .em-arrow-down {
    position: absolute;
    top: 6px;
    width: 0;
    height: 0;
    border-top: 6px solid #ddd;
    border-left: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-right: 6px solid transparent;
}

.em-filter-tab>div.active .em-arrow-down {
    top: auto;
    bottom: 8px;
    border-top: 6px solid transparent;
    border-left: 6px solid transparent;
    border-bottom: 6px solid #3c80e6;
    border-right: 6px solid transparent;
}

.minirefresh-wrap,
.em-todo-matter-wrapper {
    top: 53px !important;
}

