.wizard-bar {
    height: 70px;
	line-height: 32px;
}
/* 向导条目 */
.wizard-item {
    display: inline-block;
    text-align: center;
    position: relative;
    font-size: 14px;
    box-sizing: border-box;
    
    margin-left: 0;
    line-height: 14px;
    padding: 38px 0 0 0;
    min-width: 100px;
    vertical-align: top;
}

/* 默认状态 */
.wizard-item.default {
	color: #fff;
	background-color: #3498DB
}
.wizard-item.default:after {
	border-left-color: #3498DB;
}
/* 已完成状态 */
.wizard-list .wizard-item.done {
    color: #3d9df2;
    cursor: pointer;
}

/* .wizard-list .wizard-item.done */

.wizard-list .wizard-item.done::before {
    background-color: #3d9df2;
}

.wizard-list .wizard-item.done::after {
    background-color: #3d9df2;
}

.wizard-list .wizard-item.done.not-done::after {
    background-color: #e6e6e6;
}

.wizard-list .wizard-item.done>span::before {
    border: 2px solid #3d9df2;
}
/* 激活状态 */
.wizard-item.active {
    color: #3d9df2;
	/* background-color: #F39C12; */
}

.wizard-list .wizard-item.has-active::after {
    background-color: #3d9df2;
}

.wizard-list .wizard-item.active>span::before {
    background-color: #3d9df2;
    border: 2px solid #3d9df2;
}

.wizard-list .wizard-item.active::before {
	background-color: #3d9df2;
}
/* 锁死状态 */
.wizard-item.disabled {
    opacity: .4;
    cursor: no-drop !important;
}
.wizard-item.disabled:after {
	border-left-color: #c8c8c8;
}
/* 错误状态 */
.wizard-item.error {
    color: #fa4e3c;
}

.wizard-list .wizard-item.error::before {
    background-color: #3d9df2;
}

.wizard-list .wizard-item.has-error::after {
    background-color: #3d9df2;
}

.wizard-list .wizard-item.error>span::before {
    border: 2px solid #fa4e3c;
    background-color: #fa4e3c;
}

/* 具体页面容器 */
.wizard-content {
	position: absolute;
	top:72px;
	width: 100%;
	bottom: 49px;
}

/* 向导 按钮导航 */
.wizard-nav {
    position: absolute;
    width: 100%;
    height: 32px;
    padding: 8px 0;
    bottom: 0;
    border-top: 1px solid #ebebeb;
}
.wizard-nav-wrap {
    text-align: center;
}

/* 后箭头 颜色与背景保持一致 */
.wizard-list .wizard-item>span:before {
	content: " ";
	display: block;
	width: 8px;
	height: 8px;
    border: 2px solid #cfcfcf;
    border-radius: 50%;
	position: absolute;
	left:50%;
    top: 13px;
    background: #fff;
    margin-left: -6px;
    z-index: 2;
}

/* 前箭头 颜色与主体保持一致 */
.wizard-list .wizard-item:after {
	content: " ";
    position: absolute;
    left:  53%;
    right: 0;
    top: 18px;
    height: 2px;
    width: auto;
    border: none;
    background-color: #e6e6e6;
}

.wizard-list .wizard-item::before {
	content: " ";
    position: absolute;
    left: 0;
    right: 53%;
    top: 18px;
    height: 2px;
    width: auto;
    border: none;
    background-color: #e6e6e6;
}

.wizard-list .wizard-item:first-child::before {
   display: none;
}

.wizard-list .wizard-item:last-child::after {
  display: none;
}

/* 默认 */

.wizard-list .wizard-item.default {
    color: #333;
    
    background: transparent;
    min-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.wizard-list {
    white-space: nowrap;
    overflow: hidden;
    height: 60px;
}

