/**!
* 数字驾驶舱
* date:2021-04-12
* author: qxy
*/

@import './mixin.scss';
body {
    .fui-content {
        >div {
            height: 100%;
            background: url(../../images/bigscreen/bg.jpg) 0 0/100% 100% no-repeat;
        }
    }
}

.header {
    @include remCalc(height, 281px);
    @include remCalc(font-size, 32px);
    color: #fff;
    background: url(../../images/bigscreen/header-bg.png) 0 0/100% 100% no-repeat;
}

::-webkit-input-placeholder {
    color: #6488B8;
}

:-moz-placeholder {
    color: #6488B8;
}

::-moz-placeholder {
    color: #6488B8;
}

:-ms-input-placeholder {
    color: #6488B8;
}

.placeholder {
    color: #6488B8;
}


/* logo */

.logo-con {
    @include remCalc(width, 1200px);
    @include remCalc(height, 104px);
    background: url(../../images/bigscreen/logo.png) center 0 no-repeat;
    @include remCalc(background-size, 1010px, 67px);
    @include remCalc(background-position-y, 37px);
    span {
        display: none;
    }
}


/* 导航 */

.nav {
    @include remCalc(height, 122px);
    @include remCalc(margin, 0, 1000px, 0, 1300px);
}

.nav-level {
    .level-parent {
        display: block;
        @include remCalc(width, 502x);
        @include remCalc(height, 127px);
        @include remCalc(margin, 3px, 0, 0, -46px);
        @include remCalc(padding-top, 17px);
        text-align: center;
        @include remCalc(line-height, 82px);
        @include remCalc(font-size, 46px);
        font-family: "PMZD";
        color: #fff;
        background: url(../../images/bigscreen/return-nav.png) 0 0/100% 100% no-repeat;
        box-sizing: border-box;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 100%;
        overflow: hidden;
        text-shadow: 0 0 6px rgba(32, 219, 238, 1);
    }
}

.swiper-nav {
    height: 100%;
    @include remCalc(padding, 0, 28px, 0, 28px);
    &.swiper-level-nav {
        width: calc(100% - 1.9rem);
    }
    .swiper-btn {
        z-index: 2;
        position: absolute;
        @include remCalc(top, 49px);
        @include remCalc(width, 16px);
        @include remCalc(height, 30px);
        background-size: 100% 100%;
        cursor: pointer;
        &.swiper-prev {
            left: 0;
            background-image: url(../../images/bigscreen/swiper-prev.png);
        }
        &.swiper-next {
            right: 0;
            background-image: url(../../images/bigscreen/swiper-next.png);
        }
    }
}

.nav-item {
    position: relative;
    display: block;
    height: 100%;
    @include remCalc(padding, 0, 85px);
    text-align: center;
    @include remCalc(line-height, 122px);
    @include remCalc(font-size, 45px);
    color: #6488B8;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    &.active {
        font-family: "PMZD";
        color: #fff;
        background: url(../../images/bigscreen/nav-active.png) 0 0/100% 100% no-repeat;
        text-shadow: 0 0 6px rgba(32, 219, 238, 1);
    }
}


/* 搜索 */

.info-con-line {
    position: relative;
    @include remCalc(height, 122px);
    box-sizing: border-box;
    &::after {
        position: absolute;
        bottom: 0;
        left: 0;
        content: "";
        @include remCalc(width, 4px);
        @include remCalc(height, 108px);
        background: url(../../images/bigscreen/header-line.png) 0 0/100% 100% no-repeat;
    }
}

.search-con {
    @include remCalc(padding, 0, 40px, 0, 42px);
    .search-btn {
        display: block;
        @include remCalc(width, 55px);
        @include remCalc(height, 59px);
        @include remCalc(margin-top, 41px);
        background-image: url(../../images/bigscreen/search-ico.png);
        background-size: 100% 100%;
    }
}

.search-wrap {
    display: none;
    z-index: 2;
    position: absolute;
    @include remCalc(top, 114px);
    @include remCalc(right, 8px);
    @include remCalc(width, 443px);
    &::before {
        position: absolute;
        @include remCalc(top, -8px);
        @include remCalc(right, 46px);
        content: "";
        @include remCalc(width, 15px);
        @include remCalc(height, 9px);
        background: url(../../images/bigscreen/search-triangle.png) 0 0/100% 100% no-repeat;
    }
    input {
        width: 100%;
        @include remCalc(height, 45px);
        @include remCalc(padding, 0, 15px);
        @include remCalc(font-size, 25px);
        color: #fff;
        border: 1px solid #2663DC;
        background: #0B2F52;
        outline: 0;
        box-sizing: border-box;
    }
}

.search-result {
    display: none;
    @include remCalc(padding, 4px);
    background-color: #041e3e;
    border: 1px solid #2663DC;
    border-top: none;
    li {
        @include remCalc(height, 68px);
        @include remCalc(padding-left, 68px);
        @include remCalc(line-height, 68px);
        @include remCalc(font-size, 30px);
        @include remCalc(background-position-x, 20px);
        background-position-y: center;
        background-repeat: no-repeat;
        transition: all ease 200ms;
        cursor: pointer;
        &[data-type="0"] {
            background-image: url(../../images/bigscreen/search-subject.png);
            @include remCalc(background-size, 26px, 26px);
        }
        &[data-type="1"] {
            background-image: url(../../images/bigscreen/search-target.png);
            @include remCalc(background-size, 27px, 27px);
        }
        &:hover {
            background-color: rgba(17, 44, 94, 0.8);
        }
    }
}


/* 消息 */

.notice-con {
    @include remCalc(padding, 38px, 40px, 0, 52px);
    .notice-btn {
        display: block;
        @include remCalc(width, 43px);
        @include remCalc(height, 59px);
        background-image: url(../../images/bigscreen/notice-ico.png);
        background-size: 100% 100%;
    }
    .notice-num {
        position: absolute;
        @include remCalc(top, 38px);
        @include remCalc(right, 28px);
        @include remCalc(width, 23px);
        @include remCalc(height, 23px);
        @include remCalc(font-size, 16px);
        text-align: center;
        @include remCalc(line-height, 23px);
        border-radius: 50%;
        background: #D13939;
    }
}


/* 登录信息 */

.user-con {
    @include remCalc(padding, 20px, 41px, 0, 35px);
    >div {
        @include remCalc(margin-right, 130px);
        text-align: right;
    }
    .welcome {
        @include remCalc(margin-bottom, 22px);
        @include remCalc(line-height, 32px);
        .dep {
            display: inline-block;
            vertical-align: top;
            @include remCalc(max-width, 285px);
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
    .datetime {
        @include remCalc(line-height, 32px);
        color: #6488B8;
        .time {
            @include remCalc(margin-left, 18px);
        }
        .day {
            @include remCalc(margin-left, 28px);
        }
    }
    .quit-btn {
        display: block;
        @include remCalc(width, 80px);
        @include remCalc(height, 81px);
        @include remCalc(margin-top, -2px);
        background-image: url(../../images/bigscreen/quit.png);
        background-size: 100% 100%;
    }
}


/* 返回驾驶舱 */

.back-cockpit {
    @include remCalc(width, 229px);
    @include remCalc(height, 82px);
    @include remCalc(margin, 32px, 42px, 0, 0);
    background: url(../../images/bigscreen/back-cockpit.png) 0 0/100% 100% no-repeat;
    transition: all ease 200ms;
    &:hover {
        background-image: url(../../images/bigscreen/back-cockpit-h.png);
    }
}


/* 当前位置 */

.loc {
    @include remCalc(margin-top, 46px);
    text-align: right;
    .loc-now {
        display: inline-block;
        @include remCalc(width, 406px);
        @include remCalc(padding-left, 52px);
        text-align: left;
        @include remCalc(line-height, 24px);
        @include remCalc(font-size, 30px);
        @include remCalc(line-height, 41px);
        background: url(../../images/bigscreen/loc-ico.png) 0 center no-repeat;
        @include remCalc(background-size, 34px, 41px);
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        box-sizing: border-box;
        cursor: pointer;
    }
    .loc-whole {
        z-index: 5;
        display: none;
        position: absolute;
        @include remCalc(top, 230px);
        left: 50%;
        @include remCalc(margin-left, -439.5px);
        @include remCalc(width, 879px);
        @include remCalc(height, 1081px);
        @include remCalc(padding, 42px, 20px, 0);
        text-align: left;
        background: rgba(11, 35, 70, 0.97);
        border: 1px solid #2663DC;
        box-sizing: border-box;
        @include remCalc(border-radius, 14px);
    }
    .loc-clarify {
        @include remCalc(height, 57px);
        @include remCalc(padding, 0, 0, 0, 48px);
        @include remCalc(line-height, 52px);
        @include remCalc(font-size, 30px);
        >li {
            position: relative;
            float: left;
            width: 33.33%;
            @include remCalc(padding-bottom, 5px);
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            &::after {
                display: none;
                position: absolute;
                bottom: 0;
                left: 0;
                content: "";
                @include remCalc(width, 90px);
                @include remCalc(height, 3px);
                background: #67dbff;
            }
            &.chosen {
                a {
                    color: #3d5b82;
                }
            }
            &.active {
                &::after {
                    display: block;
                }
                a {
                    color: #fff;
                }
            }
        }
        a {
            color: #909A9A;
        }
    }
    .area-list {
        @include remCalc(height, 915px);
        @include remCalc(margin-top, 27px);
        box-sizing: border-box;
        overflow: auto;
        li {
            @include remCalc(height, 100px);
            @include remCalc(padding-left, 48px);
            @include remCalc(line-height, 100px);
            transition: all ease 200ms;
            cursor: pointer;
            @include remCalc(border-radius, 5px);
            &:hover {
                background: #244268;
            }
        }
    }
}


/* iframe */

.iframe-con {
    position: absolute;
    @include remCalc(top, 245px);
    left: 0;
    bottom: 0;
    right: 0;
    iframe {
        width: 100%;
        height: 100%;
    }
}


/* 特殊字体 */

@font-face {
    font-family: "PMZD";
    src: url(../../fonts/pangmen.eot) format('embedded-opentype'), url(../../fonts/pangmen.woff) format('woff'), url(../../fonts/pangmen.ttf) format('trueType');
}