/**!
* 数字驾驶舱-数字晾晒台指标
* date:2021-02-24
* author: xulei;
*/

@import './mixin.scss';
.fui-content {
    background: rgba(11, 35, 70, .97)
}

.info-table {
    @include remCalc(padding, 0, 30px);
    li {
        @include remCalc(height, 82px);
        @include remCalc(line-height, 82px);
        @include remCalc(margin-bottom, 20px);
        @include remCalc(font-size, 30px);
        color: #fff;
        background: rgba(36, 66, 104, .47);
        @include remCalc(border-radius, 15px);
        transition: all .2s;
        >p {
            float: left;
            width: 50%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            @include remCalc(padding-left, 30px);
            box-sizing: border-box;
        }
    }
}

.operation {
    &-btns {
        float: left;
        width: 50%;
        height: 100%;
        font-size: 0;
        text-align: right;
    }
    &-btn {
        display: inline-block;
        vertical-align: top;
        @include remCalc(width, 37px);
        @include remCalc(margin-right, 38px);
        height: 100%;
        background-position: center center;
        background-repeat: no-repeat;
        transition: all ease 200ms;
        span {
            display: none;
        }
        &.feedback-btn {
            background-image: url(../../images/bigscreen/digital_drying/ico1.png);
            @include remCalc(background-size, 22px, 26px);
            &:hover {
                background-image: url(../../images/bigscreen/digital_drying/ico1-h.png);
            }
        }
        &.startred-btn {
            background-image: url(../../images/bigscreen/digital_drying/ico2.png);
            @include remCalc(background-size, 26px, 29px);
            &:hover {
                background-image: url(../../images/bigscreen/digital_drying/ico2-h.png);
            }
        }
        &.comparison-btn {
            background-image: url(../../images/bigscreen/digital_drying/ico3.png);
            @include remCalc(background-size, 37px, 23px);
            &:hover {
                background-image: url(../../images/bigscreen/digital_drying/ico3-h.png);
            }
        }
        &.subscribe-btn {
            background-image: url(../../images/bigscreen/digital_drying/ico4.png);
            @include remCalc(background-size, 24px, 26px);
            &:hover {
                background-image: url(../../images/bigscreen/digital_drying/ico4-h.png);
            }
        }
    }
}