/**!
* 数字驾驶舱-操作中心
* date:2021-04-14
* author: qxy
*/

@import './mixin.scss';
.fui-left-bd {
    background: transparent;
    padding: 0;
}

.fui-left {
    background-color: rgba(36, 66, 104, .47);
    border-right: none;
    @include remCalc(width, 301px);
    top: 0;
    height: auto;
    @include remCalc(border-radius, 15px);
    @include remCalc(bottom, 28px);
    @include remCalc(left, 33px);
    &.closed {
        background: transparent;
        margin-left: -2.28rem;
    }
}

.fui-left-toggle {
    display: none;
}

.fui-right {
    @include remCalc(margin-left, 358px);
    transition: none;
    height: calc(100% - .1018rem);
    background-color: rgba(36, 66, 104, .47);
    @include remCalc(border-radius, 15px);
}


/* 左侧 */

.operation {
    &-tabs {
        @include remCalc(padding, 20px, 10px);
    }
    &-tab {
        position: relative;
        @include remCalc(height, 70px);
        @include remCalc(line-height, 70px);
        @include remCalc(margin-bottom, 30px);
        cursor: pointer;
        overflow: hidden;
        &.active {
            background-color: #244268;
            @include remCalc(border-radius, 5px);
        }
        &:not(.active):hover {
            background-color: #244268;
            @include remCalc(border-radius, 5px);
        }
        &:nth-child(1) {
            .operation-tab-icon {
                background-image: url(../../images/bigscreen/operate_center/icon-operation-tab1.png);
                @include remCalc(background-size, 64px, 69px);
                @include remCalc(background-position, -3px, 0);
            }
        }
        &:nth-child(2) {
            .operation-tab-icon {
                background-image: url(../../images/bigscreen/operate_center/icon-operation-tab2.png);
                @include remCalc(background-size, 67px, 67px);
                @include remCalc(background-position, -6px, 3px);
            }
        }
        &:nth-child(3) {
            .operation-tab-icon {
                background-image: url(../../images/bigscreen/operate_center/icon-operation-tab3.png);
                @include remCalc(background-size, 69px, 73px);
                @include remCalc(background-position, -6px, 0);
            }
        }
        &:nth-child(4) {
            margin-bottom: 0;
            .operation-tab-icon {
                background-image: url(../../images/bigscreen/operate_center/icon-operation-tab4.png);
                @include remCalc(background-size, 68px, 68px);
                @include remCalc(background-position, -6px, 3px);
            }
        }
        &-icon {
            @include remCalc(width, 53px);
            height: 100%;
            margin-top: -.01rem;
            text-align: center;
            line-height: .74rem;
            background-repeat: no-repeat;
            img {
                display: none;
            }
        }
        &-text {
            @include remCalc(font-size, 30px);
            @include remCalc(width, 216px);
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .operation-num-tip {
            position: absolute;
            @include remCalc(width, 28px);
            @include remCalc(height, 28px);
            @include remCalc(line-height, 28px);
            text-align: center;
            @include remCalc(font-size, 20px);
            background-color: #f25252;
            border-radius: 50%;
            @include remCalc(top, 22px);
            @include remCalc(right, 10px);
        }
    }
}


/* 右侧 */

.msg-operation {
    @include remCalc(padding, 20px, 45px, 0, 42px);
    &.hidden+.msg-lists {
        height: calc(100% - .38rem);
    }
}

.msgopera {
    &-tab-container {
        @include remCalc(padding, 18px, 31px, 0, 17px);
        @include remCalc(line-height, 56px);
        .msg-clearall {
            @include remCalc(width, 44px);
            @include remCalc(height, 44px);
            background: url(../../images/bigscreen/operate_center/icon-msg-clearall.png) no-repeat center;
            background-size: 100% 100%;
            @include remCalc(margin-top, 6px);
            cursor: pointer;
        }
    }
    &-tab {
        @include remCalc(font-size, 30px);
        color: #3d5b82;
        @include remCalc(margin, 0, 27px);
        cursor: pointer;
        &.active {
            color: #eaffff;
            border-bottom: solid #67dbff;
            @include remCalc(border-bottom-width, 3px);
            .num {
                color: #67dbff;
            }
        }
    }
}

.msg {
    &-content {
        height: 100%;
    }
    &-lists {
        @include remCalc(padding, 0, 45px, 0, 42px);
        height: calc(100% - .6rem);
        overflow: auto;
        box-sizing: border-box;
        &.no-data {
            background: url(../../images/bigscreen/operate_center/nodata.png) no-repeat center;
            background-size: 1.2rem 1.2rem;
        }
    }
    &-time-item {
        @include remCalc(margin-top, 23px);
        text-align: center;
        @include remCalc(line-height, 38px);
        color: #465a7d;
        span {
            display: inline-block;
            height: 100%;
            @include remCalc(padding, 0, 20px);
            @include remCalc(font-size, 24px);
            color: #5f8bc3;
            @include remCalc(border-radius, 5px);
            background: #142e4d;
        }
    }
    &-item {
        @include remCalc(padding, 20px, 26px);
        background-color: #244268;
        color: #eaffff;
        @include remCalc(margin-top, 20px);
        @include remCalc(border-radius, 10px);
        &.isfeedback {
            .feedback {
                display: block;
            }
            .msg-item-operation {
                display: none;
            }
        }
        .warn {
            color: #f25252;
        }
        &-head {
            @include remCalc(line-height, 32px);
            @include remCalc(font-size, 30px);
            .name {
                color: #67dbff;
                @include remCalc(margin-right, 20px);
            }
            .tips {
                color: #87a5ca;
            }
            .date {
                @include remCalc(font-size, 24px);
                color: #89a7cd;
            }
            .tag {
                @include remCalc(margin-top, 4px);
                &-item {
                    margin-right: .1rem;
                    @include remCalc(width, 28px);
                    @include remCalc(height, 28px);
                    text-align: center;
                    @include remCalc(font-size, 18px);
                    @include remCalc(line-height, 28px);
                    @include remCalc(border-radius, 5px);
                    &.supervise {
                        color: #97844c;
                        background-color: #f3e798;
                    }
                    &.priority {
                        color: #a26932;
                        background-color: #fabb7d;
                    }
                }
            }
        }
        &-content {
            overflow: hidden;
            @include remCalc(margin, 9px, 0, 18px);
            @include remCalc(max-height, 38px);
            @include remCalc(font-size, 28px);
            @include remCalc(line-height, 38px);
            color: #fff;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        &-operation {
            .mini-button {
                @include remCalc(width, 105px);
                @include remCalc(height, 32px);
                @include remCalc(margin-right, 10px);
                text-align: center;
                @include remCalc(line-height, 32px);
                @include remCalc(font-size, 18px);
                color: #244268;
                background: #75b2d9;
                @include remCalc(border-radius, 5px);
                border: none;
                &:hover {
                    background: #67dbff;
                    border: none;
                }
                &.mini-button-disabled {
                    opacity: 1;
                    color: #244268 !important;
                    border: none !important;
                    background: #4b6b94 !important;
                }
            }
            .lgnore-btn {
                @include remCalc(width, 28px);
                @include remCalc(height, 17px);
                @include remCalc(margin-top, 7px);
                background: url(../../images/bigscreen/operate_center/icon-lgnore.png) no-repeat center;
                background-size: 100% 100%;
            }
        }
        &-info {
            @include remCalc(margin, 10px, 0, 18px);
            &>li {
                width: 50%;
                @include remCalc(font-size, 24px);
                @include remCalc(line-height, 38px);
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                &:first-child {
                    width: 100%;
                }
            }
        }
    }
}


/* 反馈信息 */

.feedback {
    display: none;
    border-top: 1px solid #175a78;
    &-title {
        color: #87a5ca;
        @include remCalc(font-size, 30px);
        @include remCalc(line-height, 36px);
        @include remCalc(margin, 15px, 0);
    }
    .mini-textarea {
        width: 100%;
        @include remCalc(height, 106px);
        @include remCalc(margin-bottom, 18px);
        .mini-textbox-border {
            height: 100%;
            border: none;
            background: #3d5b82;
            @include remCalc(border-radius, 10px);
            .mini-textbox-input {
                @include remCalc(font-size, 26px);
                @include remCalc(line-height, 30px);
                @include remCalc(padding, 8px, 10px, 8px, 15px);
            }
        }
    }
    .mini-button {
        @include remCalc(width, 105px);
        @include remCalc(height, 32px);
        @include remCalc(margin-right, 10px);
        text-align: center;
        @include remCalc(line-height, 32px);
        @include remCalc(font-size, 18px);
        color: #244268;
        background: #75b2d9;
        @include remCalc(border-radius, 5px);
        border: none;
        &:hover {
            background: #67dbff;
            border: none;
        }
        &.mini-btn-info {
            background: #4b6b94;
        }
    }
}


/* 已反馈列表 */

.feedback {
    &-list {
        color: #6ebdc6;
        border-top: 1px solid #3D5B82;
        @include remCalc(margin-top, 24px);
    }
    &-item {
        @include remCalc(padding-bottom, 18px);
        @include remCalc(font-size, 24px);
        color: #fff;
        border-bottom: 1px solid #3D5B82;
        &:nth-child(n+3) {
            display: none;
        }
        &-head {
            line-height: 2.5;
            &>span {
                @include remCalc(margin-right, 10px);
            }
        }
        &-content {
            @include remCalc(line-height, 42px);
            @include remCalc(max-height, 84px);
            overflow: hidden;
        }
    }
    &-more {
        text-align: center;
        @include remCalc(padding, 24px, 0, 10px);
        line-height: 1;
        @include remCalc(font-size, 24px);
        &-btn {
            color: #62d0f6;
            &.fold {
                display: none;
            }
        }
    }
    &-detail {
        display: none;
        &.showall {
            height: auto !important;
            .feedback-more-btn {
                display: none;
                &.fold {
                    display: inline-block;
                    background: none;
                }
            }
            .feedback-item {
                display: block;
            }
        }
    }
}


/* 操作栏 */

.searchbox {
    width: 1rem !important;
    @include remCalc(height, 36px);
    @include remCalc(line-height, 36px);
    .mini-textbox-border,
    .mini-buttonedit-border {
        border: none;
        background: #0b2548;
        @include remCalc(border-radius, 5px);
    }
    .mini-buttonedit-input {
        @include remCalc(font-size, 24px);
        padding-left: .04rem !important;
        color: #fff;
    }
    .mini-buttonedit-button {
        @include remCalc(width, 32px);
    }
    .mini-buttonedit-icon {
        @include remCalc(width, 26px);
        @include remCalc(height, 26px);
        @include remCalc(line-height, 26px);
        @include remCalc(margin, -13px, 0, 0, -13px);
        @include remCalc(font-size, 24px);
        &::before {
            font-weight: normal !important;
            color: #fff;
        }
    }
}

.mini-popupedit {
    width: .6618182rem !important;
    @include remCalc(height, 36px);
    @include remCalc(line-height, 36px);
    background: url(../../images/bigscreen/operate_center/status-chosen.png) 0 center no-repeat;
    @include remCalc(background-position-x, 9px);
    @include remCalc(background-size, 21px, 21px);
    .mini-textbox-border,
    .mini-buttonedit-border {
        border: none;
        background: transparent;
        @include remCalc(padding-right, 32px);
    }
    .mini-buttonedit-input {
        padding-left: .145455rem !important;
        color: #6ae9ff;
        @include remCalc(font-size, 28px);
    }
    .mini-buttonedit-button {
        @include remCalc(width, 17px);
        background: transparent !important;
    }
    .mini-buttonedit-icon {
        @include remCalc(width, 17px);
        @include remCalc(height, 11px);
        @include remCalc(margin, -5.5px, 0, 0, -8.5px);
        @include remCalc(line-height, 11px);
        background: url(../../images/bigscreen/operate_center/chosen-down.png) 0 0/100% 100% no-repeat !important;
        &::before {
            display: none;
        }
    }
}

.mini-popup {
    border-color: #2663DC;
    background: transparent;
    .mini-listbox-border {
        background: rgba(11, 37, 72, .9);
    }
    .mini-listbox {
        .mini-listbox-item {
            &:hover {
                background: rgba(36, 66, 104, 0.6);
            }
        }
        .mini-listbox-item-selected {
            background: #244268;
        }
        td {
            color: #fff;
            @include remCalc(font-size, 24px);
            @include remCalc(line-height, 30px);
            @include remCalc(padding, 10px, 0, 10px, 40px);
        }
    }
}

.condition {
    .mini-popupedit {
        width: .8727273rem !important;
        background-image: url(../../images/bigscreen/operate_center/status-chosen2.png);
        @include remCalc(background-size, 28px, 23px);
        @include remCalc(background-position-x, 3px);
    }
}


/* 关注指标信息 */

.normopera {
    &-container {
        @include remCalc(padding, 20px, 20px, 0, 20px);
        height: 100%;
        box-sizing: border-box;
    }
    &-list {
        height: calc(100% - .218182rem);
        @include remCalc(margin-top, 19px);
        overflow: auto;
        @include remCalc(padding-right, 10px);
    }
    &-item {
        width: calc(50% - .036363rem);
        @include remCalc(height, 152px);
        @include remCalc(border-radius, 10px);
        box-sizing: border-box;
        border: 1px solid transparent;
        background-color: rgb(36, 66, 104);
        @include remCalc(margin-bottom, 20px);
        @include remCalc(padding, 16px, 27px, 0);
        transition: all .2s;
        cursor: pointer;
        &:nth-child(even) {
            @include remCalc(margin-left, 20px);
        }
        &:hover,
        &.active {
            border-color: #37b0ec;
        }
        .title {
            @include remCalc(font-size, 30px);
            color: #67dbff;
            line-height: 1;
            @include remCalc(margin-bottom, 10px);
        }
        .info {
            color: #fff;
            @include remCalc(font-size, 24px);
            @include remCalc(line-height, 41px);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}


/* 关注指标信息-小弹窗 */

.mini-menu-border {
    border: 1px solid #2663DC;
    .mini-menu-inner {
        @include remCalc(padding, 8px);
        text-align: left;
        background: rgba(11, 31, 66, .93);
    }
    .mini-menuitem {
        @include remCalc(margin-bottom, 4px);
        @include remCalc(line-height, 38px);
        background: #1e5378;
        @include remCalc(border-radius, 5px);
        &:last-child {
            margin-bottom: 0;
        }
    }
    .mini-menuitem-hover {
        background-color: rgba(33, 202, 255, .43);
        .mini-menuitem-text {
            color: #fff;
        }
    }
    .mini-menuitem-inner {
        @include remCalc(padding, 0, 10px);
        @include remCalc(font-size, 24px);
    }
    .mini-menuitem-text {
        color: #67dbff;
    }
}

::-webkit-input-placeholder {
    color: #3d5b82;
}

 :-moz-placeholder {
    color: #3d5b82;
}

 ::-moz-placeholder {
    color: #3d5b82;
}

 :-ms-input-placeholder {
    color: #3d5b82;
}

.placeholder {
    color: #3d5b82;
}