/**!
* 数字驾驶舱-操作中心
* date:2021-04-14
* author: qxy
*/

@import './mixin.scss';
.fui-notice {
    @include remCalc(margin, 0, 30px);
    @include remCalc(padding, 40px, 40px, 0);
    @include remCalc(line-height, 30px);
    color: #fff;
    @include remCalc(font-size, 24px);
    background: rgba(36, 66, 104, .47);
    @include remCalc(border-radius, 15px, 15px, 0, 0);
    .fui-form {
        @include remCalc(padding, 17px, 0, 20px, 26px);
        background: #244268;
        @include remCalc(border-radius, 10px);
    }
    .form-inner {
        max-width: 100%;
    }
    .form-row {
        @include remCalc(padding, 0);
        &:first-child {
            @include remCalc(padding-bottom, 14px);
            @include remCalc(font-size, 30px);
            color: #6ae9ff;
        }
    }
}

.fui-content {
    @include remCalc(margin, 0, 30px);
    @include remCalc(padding, 20px, 40px, 0);
    background: rgba(36, 66, 104, .47);
    @include remCalc(border-radius, 0, 0, 15px, 15px);
    .fui-form {
        padding: 0;
    }
    .form-inner {
        max-width: 100%;
    }
    .form-row {
        @include remCalc(padding, 15px, 0);
    }
    .form-label {
        width: 100%;
        @include remCalc(margin-bottom, 12px);
        text-align: left;
        @include remCalc(line-height, 30px);
        color: #fff;
        @include remCalc(font-size, 28px);
    }
    .form-control.span5 {
        width: 100%;
        padding: 0
    }
    .mini-textbox,
    .mini-buttonedit {
        @include remCalc(height, 60px);
        @include remCalc(line-height, 60px);
    }
    .mini-textbox-border,
    .mini-buttonedit-border {
        border: 0;
        background: #244268;
        @include remCalc(border-radius, 10px);
    }
    .mini-textarea .mini-textbox-input,
    .mini-textbox-input,
    .mini-buttonedit-input {
        @include remCalc(font-size, 28px);
        padding-left: .0945455rem !important;
    }
}

.fui-toolbar-bottom {
    @include remCalc(height, 146px);
    @include remCalc(padding, 40px, 0, 0, 0);
    background: transparent;
    .mini-button {
        @include remCalc(width, 173px);
        @include remCalc(height, 63px);
        text-align: center;
        @include remCalc(line-height, 63px);
        @include remCalc(font-size, 30px);
        color: #244268;
        background: #6ae9ff;
        @include remCalc(border-radius, 10px);
        border: none;
        &:hover {
            background: #67dbff;
            border: none;
        }
        &.mini-btn-info {
            color: #75b2d9;
            background: #244268;
        }
    }
}

::-webkit-input-placeholder {
    color: #3d5b82;
}

 :-moz-placeholder {
    color: #3d5b82;
}

 ::-moz-placeholder {
    color: #3d5b82;
}

 :-ms-input-placeholder {
    color: #3d5b82;
}

.placeholder {
    color: #3d5b82;
}