/*
 * 广西自治区数字一体化智能运维平台
 * date: 2019-04-15
 * author : 程姣姣
 */


@function r($num) {
  @return $num/100+rem; // 生成rem
  //@return $num + px; // 生成px
}

@function p($num) {
  @return percentage($num/100); // 生成百分比
}

* {
  font-size: r(14);
}

.total-count>li {
  float: left;
  width: r(261);
  height: r(83);
  margin-left: r(21);
  padding: r(15) r(12) 0 r(24);
  text-align: right;
  font-size: r(18);
  background: url(../images/total-bg1.png) no-repeat 0;
  background-size: 100% 100%;

  p {
    margin-bottom: r(-6);
    text-align: left;
    font-size: r(20);
    color: #E8FD15;

    span {
      font-size: r(36);
      font-family: 'AGENCYB';
      padding-right: r(4);
    }
  }

  &:nth-child(2) {
    margin-left: r(24);
    background: url(../images/total-bg2.png) no-repeat 0;
    background-size: 100% 100%;

    p {
      color: #10BCF4;
    }
  }
}

.count-top {
  height: r(212);
  overflow: hidden;

  .count-left {
    float: left;
    width: r(298);

    .guage-count {
      p {
        float: right;
        width: r(64);
        height: r(30);
        margin-right: r(35);
        margin-top: r(-35);
        text-align: center;
        line-height: r(28);
        font-size: r(16);
        background: rgba(8, 11, 62, 1);
        border: 1px solid rgba(7, 50, 80, 1);

        span {
          padding-right: r(6);
          font-size: r(21);
          color: #31FFF3;
          font-family: 'AGENCYB';
        }
      }

      .gauge-con {
        position: relative;
        width: r(164);
        height: r(75);
        margin: r(68) auto 0;
        background: url(../images/gauge-bg.png) no-repeat 0;
        background-size: 100% 100%;

        .gauge {
          position: absolute;
          left: r(15);
          top: 0;
          width: r(120);
          height: r(60);
          overflow: hidden;

          div {
            display: block;
            width: r(120);
            height: r(60);
            background: url(../images/gauge.png) no-repeat 0;
            background-size: 100% 100%;
            transform-origin: center bottom;
            transform: rotate(-180deg);
            transition: all .5s;
          }
        }

        .pointer {
          position: absolute;
          left: r(8);
          bottom: r(-4);
          width: r(84);
          height: r(30);
          background: url(../images/pointer.png) no-repeat 0;
          background-size: 100% 100%;
          transform: rotate(-180deg);
          transform-origin: r(66) r(10);
          transform: rotate(0);
          transition: all .5s;
        }
      }
    }

    li {
      height: r(26);
      padding-left: r(15);
      line-height: r(26);
      overflow: hidden;

      &:nth-child(1) {
        margin-top: r(8);
      }

      p {
        float: right;

        span {
          padding-right: r(4);
          font-size: r(20);
          color: #31FFF3;
          font-family: 'AGENCYB';
        }
      }
    }
  }

  .trend-chart {
    float: left;
    width: r(312);
    height: 100%;

    .chart {
      height: r(190);
    }
  }
}

.line-chart {
  .chart {
    height: r(210);
  }
}

// 调用流量
.max-count {
  width: r(131);
  margin: r(40) r(10) 0;
  text-align: center;

  .max-con {
    height: r(105);
    padding-top: r(25);
    margin-bottom: r(10);
    background: url(../images/circle.png) no-repeat center;
    background-size: 100% 100%;

    p {
      padding-top: r(4);
      font-size: r(12);
    }

    span {
      padding-right: r(6);
      font-size: r(22);
      color: #31FFF3;
      font-family: 'AGENCYB';
    }
  }

  h5 {
    width: r(78);
    height: r(25);
    margin: 0 auto;
    line-height: r(24);
    text-align: center;
    color: #31FFF3;
    font-size: r(12);
    background: rgba(4, 31, 108, 0.49);
    border: 1px solid rgba(25, 149, 255, 1);
    box-shadow: 0 0 r(20) #1995ff inset;
    border-radius: r(12);
  }
}

// 响应时间
.response-count {
  .count-left {
    padding-top: r(48);
    text-align: center;

    span {
      display: inline-block;
      width: r(174);
      height: r(154);
      background: url(../images/hourglass.png) no-repeat center center;
      background-size: 100% 100%;
    }
  }
}

// 流程
.process-count {
  position: relative;
  height: r(490);
  margin: r(-110) 0 r(10);

  // +1
  &.start {
    .add {
      animation: add 2s ease-in-out forwards;
    }
  }

  .process-items {

    &>li {
      position: absolute;
      width: r(277);
      height: r(190);
      padding-top: r(20);
      text-align: center;
      font-size: r(18);
      background: url(../images/process-item1.png) no-repeat center top;
      background-size: 100% r(142);

      &:nth-child(1) {
        left: r(35);
        top: r(170);

        p {
          background-image: url(../images/process-icon1.png);
          background-size: r(60) r(70);

          &.collect {
            animation: add 2s ease-in-out forwards;
          }
        }
      }

      &:nth-child(2) {
        left: r(435);
        top: r(320);

        p {
          background-image: url(../images/process-icon2.png);
          background-size: r(67) r(57);
        }
      }

      &:nth-child(3) {
        left: r(1036);
        top: r(28);

        p {
          background-image: url(../images/process-icon3.png);
          background-size: r(66) r(76);
        }
      }

      &:nth-child(4) {
        left: r(1600);
        top: r(74);

        p {
          background-image: url(../images/process-icon4.png);
          background-size: r(67) r(57);
        }
      }

      p {
        height: r(70);
        margin-bottom: r(55);
        line-height: r(55);
        text-align: center;
        color: #31FFF3;
        font-size: r(20);
        background-position: center center;
        background-repeat: no-repeat;

        span {
          font-size: r(36);
          font-family: 'AGENCYB';
        }
      }

      .add {
        position: absolute;
        left: 0;
        top: r(90);
        width: 100%;
        text-align: center;
        font-size: r(30);
        font-weight: bold;
        color: #E1FF16;
        transform: scale(0);
      }
    }

    .warning-con {
      right: r(260);
      bottom: r(6);
      background: url(../images/process-warning.png) no-repeat center top;
      background-size: 100% r(142);

      p {
        background-image: url(../images/warning-icon.png);
        background-size: r(59) r(59);
        color: #FF4C15;
      }

      .add {
        color: #FF4C15;
      }
    }

    .model-analyse {
      left: r(670);
      top: r(30);
      width: r(570);
      height: r(575);
      padding-top: r(390);
      font-size: r(22);
      font-weight: bold;
      background: url(../images/process-item2.png) no-repeat 0;
      background-size: 100% 100%;

      .analyse-lists {
        li {
          position: absolute;
          width: r(200);
          height: r(55);
          line-height: r(55);
          text-align: right;
          padding-right: r(50);
          font-size: r(16);
          color: #31FFF3;
          background: url(../images/sub-item1.png) no-repeat right top;
          background-size: r(182) r(55);

          &:nth-child(1) {
            top: r(166);
            left: r(30);
            animation: subMove 5s linear infinite;
          }

          &:nth-child(2) {
            top: r(240);
            left: r(-16);
            animation: subMove 4s linear infinite;
          }

          &:nth-child(3) {
            top: r(184);
            right: r(8);
            text-align: left;
            padding-right: 0;
            padding-left: r(50);
            background: url(../images/sub-item2.png) no-repeat left top;
            background-size: r(182) r(55);
            animation: subMove 4.5s linear infinite;
          }
        }
      }
    }
  }

  // 线、箭头
  .process-lines {
    li {
      position: absolute;
      width: r(900);
      height: r(1);
      border-top: 2px dashed #cec81d;
      box-shadow: 0 0 r(20) #cec81d;

      p {
        margin-top: r(8);
        font-size: r(16);
        color: #E8FD15;
        text-align: center;
      }

      .arrow {
        position: absolute;
        left: 0;
        top: r(-16);
        width: r(75);
        height: r(28);
        background: url(../images/arrow.png) no-repeat 0 0;
        background-size: 100% 100%;
        opacity: 0;

        &:nth-child(1) {
          animation: arrowMove 6s linear infinite;
        }

        &:nth-child(2) {
          animation: arrowMove 6s 3s linear infinite;
        }
      }

      &:nth-child(1) {
        left: r(216);
        top: r(210);
        transform: rotate(-9deg);
      }

      &:nth-child(2) {
        left: r(208);
        top: r(350);
        width: r(330);
        transform: rotate(22deg);
      }

      &:nth-child(3) {
        right: r(240);
        top: r(160);
        width: r(450);
        transform: rotate(-173deg);

        p {
          transform: rotate(173deg);
        }
      }

      &:nth-child(4) {
        right: r(230);
        top: r(270);
        width: r(680);
        transform: rotate(-194deg);

        p {
          transform: rotate(181deg);
        }
      }

      &:nth-child(5) {
        left: r(600);
        top: r(400);
        width: r(280);
        transform: rotate(-10deg);

        p {
          margin-top: r(-34);
        }
      }

      &.warning-line {
        right: r(438);
        top: r(380);
        width: r(465);
        transform: rotate(5deg);
        border-color: #ff4d18;

        .arrow {
          background: url(../images/warning-arrow.png) no-repeat 0;
          background-size: 100% 100%;
        }
      }
    }
  }

  .warning {
    opacity: 0;
    transition: opacity .5s;
  }

  &.isWarning {
    .warning {
      opacity: 1;
    }
  }

  // API预警情况
  .warning-box {
    position: absolute;
    left: r(50);
    top: r(215);
    width: r(271);
    height: r(279);
    background: url(../images/warning-box.png) no-repeat 0 0;
    background-size: 100% 100%;

    h6 {
      height: r(54);
      line-height: r(54);
      font-size: r(24);
      font-weight: bold;
      color: #ff4c15;
      text-align: center;
    }

    .warning-scroll {
      margin: 0 r(6);
      overflow: hidden;

      li {
        float: left;
        width: r(258);
      }

      .info-row {
        margin-top: r(4);
        line-height: r(25);

        span {
          float: left;
          width: r(90);
          text-align: right;
          font-weight: bold;
        }

        p {
          float: left;
          width: r(165);
          color: #ff4c15;
        }

        &:nth-child(2n) {
          p {
            color: #00e4ff;
          }
        }
      }
    }
  }
}

@keyframes add {
  0% {
    top: r(90);
    transform: scale(0);
  }

  100% {
    top: r(-18);
    transform: scale(1);
  }
}

@keyframes subMove {

  0%,
  100% {

    transform: translateY(r(0));
  }

  50% {
    transform: translateY(r(30));
  }
}

@keyframes arrowMove {
  0% {
    left: 0;
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  100% {
    left: 100%;
    opacity: 0;
  }
}