.ajax-loading {
    background-image: url("images/ajaxloading.gif");
}

.fui-header {
    background: #495893;
}

/**
 * 左侧菜单
 */
.fui-sidebar {
    background: #37457a;
}

.fui-nav.second,
.fui-overall-content {
    background: #495893;
}

.fui-sidebar-toggle {
    border-top-color: #6874a5;
}

.fui-overall-link {
    background: #fc902f;
    color: #fff;
}
.fui-overall-icon {
    background-image: url(images/aside/icon-globalnav.png);
}
.fui-nav-link:hover,
.fui-nav-item.top > .fui-nav-link:hover,
.fui-nav-link.active,
.fui-nav-item.opened > .fui-nav-link {
    background: #5d6eac;
}

.fui-overall.opened > .fui-overall-link,
.fui-overall-link:hover {
    background: #fc902f;
}

.fui-nav-title {
    color: #fc902f;
    border-bottom-color: #5464a2;
}
.fui-nav-item.opened > .fui-nav-link,
.fui-nav-item.top > .fui-nav-link:hover,
.fui-nav-link.active,
.fui-nav-link:hover,
.fui-nav-edit:hover {
    color: #fc902f;
}

.fui-overall-navs > .fui-nav.second {
    border-right-color: #5464a2;
}
.fui-nav-link {
    color: #fff;
}

.fui-nav.second .fui-nav-item.opened > .fui-nav-link,
.fui-nav.second .fui-nav-link.active,
.fui-nav.second .fui-nav-link:hover {
    background: #5464a2;
}

.fui-overall-footer {
    background-color: #495893;
}

.fui-scroller-left,
.fui-scroller-left.disabled:hover {
    background-image: url(images/aside/icon-left.png);
}

.fui-scroller-right,
.fui-scroller-right.disabled:hover {
    background-image: url(images/aside/icon-right.png);
}


/**
 * tab
 */
.fui-main-head {
    background: url(images/tab-bar/tabbar-bg.png);
}
.fui-main-tab {
	background: #9aa5cf;
}
.fui-main-tab.active, .fui-main-tab:hover {
    color: #fff;
    background: #435186;
}
.fui-tab-refresh {
    background-image: url(images/tab-bar/icon-refresh.png);
}
.fui-tab-close {
    background-image: url(images/tab-bar/icon-tabdel.png);
}

.icon-info {
    background-image: url(images/msg/icon-message.png);
}
.icon-attention {
    background-image: url(images/msg/icon-attention.png);
}
.icon-emsg {
    background-image: url(images/msg/icon-emessage.png);
}
.icon-organization {
    background-image: url(images/msg/icon-org.png);
}