.cate-header:before {
    border-color: #192b76;
}
.sumary-title {
    color: #ddd;
}
.detail-span-name,
.detail-span-switch {
    background-color: #10235b;
    color: #fff;
}
.detail-span-sub {
    background-color: #0a1b50;
    color: #a8bdf3;
}
.win-msg .mini-panel-header,
.detail-footer,
.row-header {
    border-color: #2640a9;
}