@import url(../../../js/widgets/tabsnav/tabsnav.css);

@keyframes showPanel {
    0% {
        z-index: -2;
        visibility: hidden
    }

    1% {
        z-index: 10;
        visibility: visible
    }

    100% {
        z-index: 10;
        visibility: visible
    }
}

@keyframes hidePanel {
    0% {
        z-index: 10;
        visibility: visible
    }

    1% {
        z-index: 10;
        visibility: visible
    }

    100% {
        z-index: -2;
        visibility: hidden
    }
}

@font-face {
    font-family: SourceHanSansCN-Bold;
    src: url(./fonts/SourceHanSansCN-Bold.woff) format("woff"),
    url(./fonts/SourceHanSansCN-Bold.ttf) format("truetype"),
    url(./fonts/SourceHanSansCN-Bold.eot) format("embedded-opentype")
}

html,
body {
    min-width: 1300px
}

.font-0 {
    font-size: 0
}

.relative {
    position: relative
}

.ver-md {
    vertical-align: middle
}

.ver-inner-md::after {
    content: '';
    width: 0;
    height: 100%;
    display: inline-block;
    vertical-align: middle
}

.box-inline {
    display: inline-block
}

.box-block {
    display: block
}

.hide-scroll {
    -ms-scroll-chaining: chained;
    -ms-overflow-style: none;
    -ms-content-zooming: zoom;
    -ms-scroll-rails: none;
    -ms-content-zoom-limit-min: 100%;
    -ms-content-zoom-limit-max: 500%;
    -ms-scroll-snap-type: proximity;
    -ms-scroll-snap-points-x: snapList(100%, 200%, 300%, 400%, 500%);
    -ms-overflow-style: none;
    scrollbar-width: none
}

.hide-scroll::-webkit-scrollbar {
    display: none
}

.theme-bg-img {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.header-container {
    position: relative;
    /* height: 81px;
    height: .81rem; */
    height: 60px;
    background-color: transparent;
    background-size: 100% 100%;
    background-size: cover;
    line-height: 30px;
    line-height: .3rem;
    font-size: 14px;
    font-size: .14rem;
    background: url(./images/header/top-bg.png) center no-repeat;
    background-size: 100% 100%;
    padding-left: 20px
}

.sys-logo-wrap {
    overflow: hidden;
    float: left;
    height: 100%
}

@keyframes showBoxShadow {
    99% {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none
    }

    100% {
        -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15)
    }
}

.header-actions-area {
    float: right;
    box-sizing: border-box;
    height: 100%;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.header-action-btns {
    line-height: 24px;
    padding: 2px 0
}

.header-action-btn {
    position: relative;
    float: left;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    cursor: pointer
}

.header-action-btn:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .66;
    content: ""
}

.header-action-btn.help:before {
    background: url("./images/header/help.png") center no-repeat
}

.header-action-btn.theme:before {
    background: url("./images/header/theme.png") center no-repeat
}

.header-action-btn.remind:before {
    background: url("./images/header/remind.png") center no-repeat
}

.header-action-btn.chart:before {
    background: url("./images/header/msg.png") center no-repeat
}

.header-action-btn:hover,
.header-action-btn.active {
    background-color: rgba(255, 255, 255, 0.3)
}

.header-action-btn:hover:before,
.header-action-btn.active:before {
    opacity: 1
}

.header-action-btn+.header-action-btn {
    margin-left: 8px
}

.header-action-btn-tip {
    position: absolute;
    top: -7px;
    left: 50%;
    line-height: 14px;
    height: 14px;
    padding: 0 4px;
    background: #f73f07;
    color: #fff;
    font-size: 12px;
    border-radius: 7px
}

.home-btn {
    display: inline-block;
    width: 150px;
    height: 40px;
    cursor: pointer;
    background: url(./images/header/home.png) center no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
    line-height: 36px;
    color: #dfe3e3;
    font-size: 16px;
    padding-left: 48px;
    box-sizing: border-box
}

.user-info {
    position: relative;
    display: inline-block;
    height: 100%;
    width: 134px
}

.user-info-summary {
    position: relative;
    cursor: pointer;
    width: 100%;
    height: 40px;
    background: url(./images/header/user-bg.png) center no-repeat;
    background-size: 100% 100%
}

.user-info-name {
    display: inline-block;
    height: 100%;
    line-height: 36px;
    color: #dfe3e3;
    font-size: 16px;
    padding-left: 48px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.user-info-summary .user-portrait {
    display: block;
    border-radius: 50%;
    margin-right: auto;
    margin-left: auto;
    width: 28px;
    height: 28px
}

.user-action-panel {
    position: absolute;
    right: 10px;
    top: 65px;
    max-height: 500px;
    overflow: auto;
    z-index: -1;
    border-radius: 4px;
    overflow: hidden;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity .2s ease-out;
    -moz-transition: opacity .2s ease-out;
    -o-transition: opacity .2s ease-out;
    transition: opacity .2s ease-out;
    -webkit-animation: hidePanel .2s ease-out;
    -moz-animation: hidePanel .2s ease-out;
    animation: hidePanel .2s ease-out
}

.user-action-panel-inner {
    min-width: 126px;
    min-width: 1.26rem;
    transform: translateY(-100%);
    background: #2e3747;
    border: 1px solid #434b55;
    border-radius: 4px;
    -webkit-box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.3);
    box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.3);
    -webkit-transition: transform .2s ease-out;
    -moz-transition: transform .2s ease-out;
    -o-transition: transform .2s ease-out;
    transition: transform .2s ease-out
}

.user-info.active .user-action-panel {
    z-index: 10;
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-animation: showUserBoxShadow .2s ease-out forwards, showPanel .2s ease-out forwards;
    -moz-animation: showUserBoxShadow .2s ease-out forwards, showPanel .2s ease-out forwards;
    animation: showUserBoxShadow .2s ease-out forwards, showPanel .2s ease-out forwards
}

.user-info.active .user-info-summary {
    background-image: url(./images/header/user-bg-active.png)
}

.user-info.active .user-action-panel-inner {
    transform: translateY(0)
}

@keyframes showUserBoxShadow {
    99% {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none
    }

    100% {
        -webkit-box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.15);
        box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.15)
    }
}

.user-action-list {
    max-height: 400px;
    max-height: calc(500px - 0.8rem - 20px);
    overflow: auto;
    color: #dfe2e3;
    font-size: 14px;
    padding: 10px 0
}

.user-action-item {
    position: relative;
    color: #dfe2e3;
    font-size: 15px;
    height: 32px;
    line-height: 32px;
    font-size: .15rem;
    line-height: .3rem;
    height: .3rem;
    padding-left: 36px;
    padding-left: .36rem;
    padding-right: 14px;
    max-width: 160px;
    transition: all .1s ease-out;
    background-repeat: no-repeat;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis
}

.user-action-item.change-pwd:after {
    content: '';
    width: 32px;
    height: 32px;
    background: url("./images/header/change-pwd.png") center no-repeat;
    position: absolute;
    top: 0;
    left: 0
}

.user-action-item:hover {
    background: url(./images/header/user-item-active.png) center no-repeat;
    background-size: 100% 100%
}

.user-action-item.logout:after {
    content: '';
    width: 32px;
    height: 32px;
    background: url("./images/header/logout.png") center no-repeat;
    position: absolute;
    top: 0;
    left: 0
}

.user-action-item>[class*='modicon'],
.user-action-item>[class*='action-icon'] {
    position: absolute;
    width: 16px;
    height: 16px;
    width: .16rem;
    height: .16rem;
    color: #aaa;
    top: 8px;
    top: .08rem;
    left: 14px;
    font-size: 14px !important;
    font-size: .14rem !important
}

.main {
    position: absolute;
    /* top: 81px;
    top: .81rem; */
    top: 60px;
    left: 0;
    right: 0;
    bottom: 0
}

.main-content-cover {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 60px;
    bottom: .6rem;
    right: 0;
    background: rgba(0, 0, 0, 0.15)
}

.tabsnav-quicknav-trigger {
    display: none
}

.main.left-narrow .left-nav {
    width: 46px;
    width: .46rem
}

.main.left-narrow .main-content {
    margin-left: 46px;
    margin-left: .46rem
}

.main.left-none .left-nav {
    display: none
}

.main.left-none .main-content {
    margin-left: 0
}

.left-nav {
    z-index: 1;
    position: absolute;
    /* width: 273px;
    width: 2.73rem; */
    width: 204px;
    top: 0;
    bottom: 0;
    left: 0;
    font-size: 14px;
    font-size: .14rem;
    color: #abb2bf;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.left-nav::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 179px;
    height: 852px;
    background: url(./images/left-bg.png) center no-repeat;
    background-size: 100% 100%;
    transform: translate(0,-50%);
}

.left-menu-box {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    width: 203px;
    transform: translate(0, -50%);
}

.left-menu-top {
    display: block;
    width: 45px;
    height: 34px;
    background: url(./images/left/menu-top.png) center no-repeat;
    background-size: 100% 100%;
    margin-left: 40px;
    margin-bottom: 30px;
    cursor: pointer;
}

.left-menu-bottom {
    display: block;
    width: 45px;
    height: 34px;
    background: url(./images/left/menu-bottom.png) center no-repeat;
    background-size: 100% 100%;
    margin-left: 40px;
    cursor: pointer
}

.left-menu-list {
    height: 370px;
    overflow: hidden;
}

.left-menu-innerlist {
    margin-top: 0;
    transition-duration: .5s;
    overflow: hidden
}

.left-menu-item {
    font-family: SourceHanSansCN-Bold;
    height: 64px;
    line-height: 60px;
    cursor: pointer;
    text-align: center;
    padding-right: 64px;
    color: #abb2bf;
    font-size: 24px;
    margin-bottom: 10px;
    text-align: right;
}

.left-menu-item.active {
    background: url(./images/left/menuhover.png) center no-repeat;
    background-size: 100% 100%;
    color: #fff;
    font-size: 26px
}

.sub-menu-list {
    width: 183px;
    background: url(./images/left/submenu-bg.png) center no-repeat;
    background-size: 100% 100%;
    position: fixed;
    top: 0;
    left: 213px;
    overflow: auto;
    padding: 10px 0;
    box-sizing: border-box
}

.sub-menu-item {
    width: 100%;
    height: 40px;
    line-height: 40px;
    color: #a0a7b4;
    font-size: 18px;
    text-align: center
}

.sub-menu-item:hover {
    background: url(./images/left/sub-item-bg.png) center no-repeat;
    background-size: 100% 100%;
    cursor: pointer
}

.main-content {
    position: relative;
    /* margin-left: 273px;
    margin-left: 2.73rem; */
    margin-left: 204px;
    height: 100%;
    overflow: hidden;
    -webkit-transition: margin-left .2s ease-out;
    -moz-transition: margin-left .2s ease-out;
    -o-transition: margin-left .2s ease-out;
    transition: margin-left .2s ease-out
}

.main-content-inner {
    position: relative;
    height: 100%
}

.main-content-ifr-wrap {
    position: absolute;
    top: 15px;
    left: 0;
    right: 15px;
    bottom: 60px;
    bottom: .6rem;
    overflow: hidden;
    background: url(./images/iframe-bg.png) center no-repeat;
    background-size: 100% 100%
}

.main-content-tab-wrap {
    position: absolute;
    bottom: 10px;
    height: 40px;
    height: .4rem;
    left: 0;
    right: 0;
    z-index: 4;
    background: url(./images/tabs-bg.png) center no-repeat;
    background-size: 100% 100%
}

.main-content .tabsnav-tabs-item {
    background: transparent;
    border-right: 5px solid transparent;
    color: #666;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out
}

.main-content .tabsnav-tabs-item .tabsnav-tabs-name {
    background: linear-gradient(to top, rgba(65, 106, 183, .4), rgba(25, 31, 59, .4));
    color: #dfe2e3;
    border-radius: 4px;
    font-size: 15px
}

.main-content .tabsnav-tabs-item.active .tabsnav-tabs-name {
    background: linear-gradient(to top, #016ffb, #121c3c);
    color: #fff
}

.main-content .tabsnav-tabs-item.active .tabsnav-tabs-close:before {
    color: #fff
}

.tabsnav-tabs-item:hover,
.tabsnav-tabs-item.active {
    background-color: transparent
}

.main-content .tabsnav-tabs-list {
    margin-right: 0
}

.main-content .tabsnav-tabs-item,
.main-content .tabsnav-tabs-name,
.main-content .tabsnav-tabs-refresh,
.main-content .tabsnav-tabs-close,
.main-content .tabsnav-quicknav-trigger,
.main-content .tabsnav-scroll-btn {
    height: 40px;
    height: .4rem;
    line-height: 40px;
    line-height: .4rem
}

.main-content .tabsnav-quicknav-box {
    z-index: 3;
    padding: 4px 0
}

.main-content .tabsnav-tabs-close {
    top: 0;
    display: none
}

.main-content .tabsnav-tabs-close:before {
     content: '×';
    color: #7a858e;
    font-size: 20px
}

.main-content .tabsnav-tabs-item:hover>.tabsnav-tabs-close {
    background: 0;
    display: block
}

.main-content .tabsnav-quicknav-trigger {
    opacity: 1
}

.main-content .tabsnav-quicknav-trigger.disabled {
    opacity: .6
}

.main-content .tabsnav-quicknav-trigger,
.main-content .tabsnav-quicknav-trigger.disabled:hover {
    background: url("./images/bottom-btn.png") center no-repeat
}

.main-content .tabsnav-quicknav-trigger:hover {
    background: url("./images/bottom-btn-hover.png") center no-repeat
}

.main-content .tabsnav-tabs-refresh {
    background: url("./images/tab-refresh.png") center no-repeat
}

.main-content .tabsnav-tabs-item.active>.tabsnav-tabs-refresh,
.main-content .tabsnav-tabs-item:hover>.tabsnav-tabs-refresh {
    background-image: url(./images/tab-refresh.png)
}

.main-content.notabs .main-content-ifr-wrap {
    bottom: 0
}

.main-content.notabs .main-content-tab-wrap {
    display: none
}

.main-content.tabs-top .main-content-ifr-wrap {
    top: 49px;
    top: calc(0.3rem + 2px + 16px + 1px);
    bottom: 0
}

.main-content.tabs-top .main-content-tab-wrap {
    top: 0;
    height: 49px;
    height: calc(0.3rem + 2px + 16px + 1px)
}

.main-content.tabs-top .tabsnav-tabs-item,
.main-content.tabs-top .tabsnav-tabs-name,
.main-content.tabs-top .tabsnav-tabs-refresh,
.main-content.tabs-top .tabsnav-tabs-close,
.main-content.tabs-top .tabsnav-quicknav-trigger,
.main-content.tabs-top .tabsnav-scroll-btn {
    height: 49px;
    line-height: 49px;
    height: calc(0.3rem + 2px + 16px + 1px);
    line-height: calc(0.3rem + 2px + 16px + 1px)
}

.main-content.tabs-top .tabsnav-quicknav-trigger {
    transform: rotateX(180deg)
}

.main-content.tabs-top .main-content-cover {
    top: 49px;
    top: calc(0.3rem + 2px + 16px + 1px);
    bottom: 0
}

.tabsnav-tabs-refresh {
    right: 2px
}

/* @media (max-width: 1366px) { */
    /* .header-container {
        height: 60px;
    }
    .main {
        top: 60px;
        top: .6rem;
    }
    .left-nav {
        width: 204px;
        width: 2.04rem;
    }
    .main-content {
        margin-left: 204px;
        margin-left: 2.04rem;
    } */
/* } */