.diy-form {
    &-row {
        &:after {
            content: "";
            display: block;
            clear: both;
        }
    }

    [class^="span-"],
    [class*="span-"] {
        box-sizing: border-box;
        float: left;
    }

    @for $i from 1 through 12 {
        .span-#{$i} {
            width: 100% / 12 * $i;
        }
    }
    &-label {
        color:#666;
    }
    .des {
        color:#999;
    }
} 