.fui-form.show-border .form-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    padding: 0;

    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
}

.fui-form.show-border .form-row:first-child {
    border-top: 1px solid #ddd;
}

.fui-form.show-border .form-label {
    padding-top: 6px;
    padding-bottom: 6px;
}

.fui-form.show-border .form-label.required:after {
    right: 2px;

    margin-top: 6px;
}

.fui-form.show-border .form-control {
    padding-top: 6px;
    padding-right: 6px;
    padding-bottom: 6px;
    /* border-left: 1px solid #ddd;
    border-right: 1px solid #ddd; */
}

.fui-form.show-border .form-label ,
.fui-form.show-border .form-control {
    border-left: 1px solid #ddd;
}

.fui-form.show-border .form-label:first-child {
    border-left: none;
}

.fui-form.show-border .form-control > * {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    min-height: 26px;
}
/* 
.fui-form.show-border .form-label {
    width: auto;
}

.fui-form.show-border .form-control.span1 {
    width: auto;
}

.fui-form.show-border .form-control.span2 {
    width: auto;
}

.fui-form.show-border .form-control.span3 {
    width: auto;
}

.fui-form.show-border .form-control.span4 {
    width: auto;
}

.fui-form.show-border .form-control.span5 {
    width: auto;
} */

/* 2 */
/* .fui-form.show-border .form-row > .form-label:first-child:nth-last-child(2) {
    width: 16.6667%;
}

.fui-form.show-border .form-row > *:first-child:nth-last-child(2) + * {
    width: 83.3333%;
} */

/* 4 */
/* .fui-form.show-border .form-row > *:first-child:nth-last-child(4) {
    width: 16.6667%;
}

.fui-form.show-border .form-row > *:first-child:nth-last-child(4) + * {
    width: 33.3333%;
}

.fui-form.show-border .form-row > *:first-child:nth-last-child(4) ~ * {
    width: 33.3333%;
}

.fui-form.show-border .form-row > *:first-child:nth-last-child(4) ~ .form-label {
    width: 16.6667%;
} */

/* 6 */
/* .fui-form.show-border .form-row > *:first-child:nth-last-child(6) {
    width: 16.6667%;
}

.fui-form.show-border .form-row > *:first-child:nth-last-child(6) + * {
    width: 16.6667%;
}

.fui-form.show-border .form-row > *:first-child:nth-last-child(6) ~ * {
    width: 16.6667%;
}

.fui-form.show-border .form-row > *:first-child:nth-last-child(6) ~ *:nth-of-type(2) {
    width: 16.6667%;
}

.fui-form.show-border .form-row > *:first-child:nth-last-child(6) ~ *:nth-of-type(3) {
    width: 16.6667%;
}

.fui-form.show-border .form-row > *:first-child:nth-last-child(6) ~ * {
    width: 16.6667%;
} */
