/**
 * 作者： Gejie
 * 创建时间：2018/11/26
 * 版本： [1.0, 2018/11/26]
 * 版权： 江苏国泰新点软件有限公司
 * 描述： 意见反馈——提交失败
**/

body,
.mui-content {
    background-color: #fff;
}

.g-feedback-tips-img {
    background-color: #fff;
    margin: 23% 0 7%;
}

.g-feedback-tips-img img {
    display: block;
    width: 75px;
    height: 75px;
    margin: 0 auto;
}

.g-feedback-tips-f {
    margin: 0;
    padding: 0 0 1.5%;
    font-size: 18px;
    color: #3c80e6;
    text-align: center;
}

.g-feedback-tips-l {
    margin: 0;
    padding: 0 0 22%;
    font-size: 14px;
    color: #97b3de;
    text-align: center;
}

.g-feedback-retry {
    display: block;
    margin: 0 auto;
    width: 64%;
    font-size: 16px;
    border-radius: 5px;
    line-height: 2.1;
}
