/**!
 * [滨州北海新区智慧城市建设]
 * date:2018-12-24
 * author: [gaojing];
 */


html,body {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.content {
	position: relative;
	height: 100%;
	overflow: hidden;
}

video {
	position: absolute;
    width: 100%;
    height: 100%;
    object-fit: fill;
    z-index: -1;
}

.card-wrap {
    overflow: hidden;
    width: 972px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -486px;
    margin-top: -192.5px;
    height: 385px;
    z-index: 2;

}

.swiper-container {
    width: 1100px;
    height: 385px;
    position: absolute;
    left: 50%;
    margin-left: -550px;
}

.swiper-slide img {
	width: 100%;
	height: 100%;
}