html {
    /*position: fixed;*/
}

body {
    min-width : 820px;
}

.ajax-loading {
    position : absolute;
    z-index : 9999;
    top : 0;
    right : 0;
    bottom : 0;
    left : 0;

    background : url("../../../css/images/ajaxloading.gif") center no-repeat;
}

/* 背景图片 */

.fui-bgimg {
    position : absolute;
    z-index : -1;

    width : 100%;
    height : 100%;
}


/* 主界面头部 */

.fui-header {
    position : relative;
    z-index : 1000;

    height : 42px;

    background : #2683b8;
}

.fui-header-brand {
    margin-left : 20px;
    padding-top : 5px;
}

.fui-header-brand > img {
    vertical-align : top;
}


/* 搜索区域 */

.fui-nav-search {
    position : relative;

    width : 130px;
    height : 28px;
    margin-top : 6px;
    margin-right : 10px;
}

.fui-nav-search > input {
    font-size : 12px;
    line-height : 26px;

    width : 30px;
    height : 26px;
    padding : 0  30px 0 10px;

    -webkit-transition : width .4s ease-in-out;
            transition : width .4s ease-in-out;

    color : #fff;
    border : none;
    border-bottom : 1px solid #293948;
    outline : none;
    background : transparent;
}
.fui-nav-search > input:focus {
    width : 90px;

    border-color : #5c7084;
}
.fui-nav-search.big {
    width : 230px;
}

.fui-nav-search.big > input {
    width : 190px;
}
.fui-search-icon {
    display : block;

    width : 17px;
    height : 17px;
    margin-top : 5px;
    margin-left : -20px;

    cursor : pointer;
    -webkit-transform : scale(.8,.8);
            transform : scale(.8,.8);

    background : url(images/top/icon-search.png) no-repeat;
}

/* placeholder文字样式 */

.fui-nav-search > input::-moz-placeholder {
    color : rgba(255, 255, 255, .6);
}

.fui-nav-search > input::-webkit-input-placeholder {
    color : rgba(255, 255, 255, .6);
}

.fui-nav-search > input:-ms-input-placeholder {
    color : rgba(255, 255, 255, .6);
}




/* 帮助按钮 */

.fui-header-help {
    height : 30px;
    padding : 6px 0;
}

.fui-header-help > a {
    display : block;

    width : 30px;
    height : 30px;

    background-image : url(images/top/icon-help.png);
}


/* 用户信息 */

.fui-header-user {
    line-height : 32px;

    height : 32px;
    padding : 5px 16px 5px 20px;

    color : #fff;
}
.fui-header-user.split {
    background : url(images/top/top-splitline.png) no-repeat 0 50%;
}

.fui-header-userimg {
    width : 32px;
    height : 32px;

    cursor : pointer;

    border-radius : 16px;
}

.header-user-info {
    float : right;

    padding-left : 10px;

    cursor : pointer;
}

.fui-user-hello {
    font-size : 14px;
    line-height : 16px;

    display : block;
}

.fui-user-org {
    font-size : 12px;
    line-height : 16px;

    display : block;

    color : #e5e5e5;
}

.fui-user-dropdown {
    position : absolute;
    top : 42px;
    right : 0;

    width : 281px;

    border-bottom : 1px solid #dee4e7;
    border-left : 1px solid #dee4e7;
    background-color : #fff;
}

.fui-user-info {
    height : 70px;
}

.fui-userinfo-photo {
    padding : 6px 16px;
}

.fui-userinfo-photo > img {
    width : 58px;
    height : 58px;

    vertical-align : top;

    border-radius : 29px;
}

.fui-userinfo-detail {
    width : 190px;
    padding-top : 8px;
}

.fui-userinfo-name {
    font-size : 16px;
    line-height : 20px;

    overflow : hidden;

    white-space : nowrap;
    text-overflow : ellipsis;

    color : #3d4b62;
}

.fui-userinfo-org {
    font-size : 12px;
    line-height : 20px;

    overflow : hidden;

    white-space : nowrap;
    text-overflow : ellipsis;

    color : #848d98;
}

.fui-userinfo-signature ,
.fui-userinfo-editor {
    line-height : 20px;

    height : 20px;

    color : #848d98;
}

.fui-userinfo-signature > span {
    display : inline-block;
    overflow : hidden;

    max-width : 160px;

    white-space : nowrap;
    text-overflow : ellipsis;
}

.fui-userinfo-editicon {
    display : inline-block;

    width : 12px;
    height : 20px;
    margin-left : 10px;

    cursor : pointer;

    background : url(images/top/icon-edit.png) no-repeat 50%;
}

.fui-userinfo-editor {
    font-size : 12px;

    display : none;
}

.fui-userinfo-editor > input {
    width : 90%;
}

.fui-user-link {
    border-top : 1px solid #e4e4e4;
    border-bottom : 1px solid #e4e4e4;
}

.fui-user-linkitem {
    float : left;

    width : 93px;

    text-align : center;

    color : #3d4b62;
}

.fui-user-linkitem:hover {
    color : #fd6e3d;
    background-color : #f3f3f3;
}

.fui-user-linkitem + .fui-user-linkitem {
    border-left : 1px solid #e4e4e4;
}

.fui-user-icon {
    font-size : 22px;

    display : block;

    width : 22px;
    height : 22px;
    margin-top : 10px;
    margin-left : 35px;
}

.fui-user-btns {
    padding : 10px 12px;
}

.fui-user-switch {
    font-size : 16px;
    line-height : 34px;

    display : none;

    width : 118px;

    cursor : pointer;

    color : #fff;
    border : none;
    border-radius : 4px;
    background-color : #349fd1;
}

.fui-user-logout {
    font-size : 16px;
    line-height : 34px;

    float : right;

    width : 260px;

    cursor : pointer;

    color : #fff;
    border : none;
    border-radius : 4px;
    background-color : #f86e3b;
}

.fui-user-btns.switch > .fui-user-logout {
    width : 118px;
}

.fui-user-btns.switch > .fui-user-switch {
    display : inline-block;
}

.fui-user-logout:hover {
    background : #ff812d;
}
.fui-user-switch:hover {
    background : #31aee6;
}

/* 主体区域 */

.fui-body {
    position : absolute;
    top : 42px;
    bottom : 0;

    width : 100%;
}

.fui-sidebar {
    font-size : 14px;

    position : absolute;
    z-index : 1000;
    top : 0;
    bottom : 0;
    left : 0;

    width : 46px;

    background-color : #19232b;
}

.fui-main {
    position : relative;

    height : 100%;
}

.fui-sidebar + .fui-main {
    margin-left : 46px;
}


/* 顶级菜单展开 */

.fui-sidebar.big {
    width : 146px;
}

.fui-sidebar.big + .fui-main {
    margin-left : 146px;
}

.fui-nav {
    overflow : hidden;
}


/* 二级菜单 */

.fui-nav.second ,
.fui-overall-content {
    position : absolute;
    z-index : 5;
    top : 0;
    bottom : 0;
    left : 46px;

    display : none;

    background-color : #2a3641;
}

.fui-nav.second {
    width : 160px;
}

.fui-nav.second .ajax-loading {
    top : 36px;
}

/* 三级、四级...菜单 */

.fui-nav.sub {
    display : none;
}

.fui-sidebar.big .fui-nav.second ,
.fui-sidebar.big .fui-overall-content {
    left : 146px;
}

.fui-nav-link {
    font-size : 12px;
    line-height : 36px;

    position : relative;

    display : block;
    overflow : hidden;

    height : 36px;
    padding-left : 13px;

    color : #b9c2cd;
    color : rgba(255, 255, 255, .6);
}
.fui-nav.second .fui-nav-link {
    padding-left : 20px;
}
.fui-nav-icon {
    font-size : 20px;

    float : left;

    width : 20px;
    height : 20px;
    margin-top : 8px;
    margin-right : 13px;
}

.fui-nav-trigger {
    position : absolute;
    top : 15px;
    right : 18px;

    width : 12px;
    height : 6px;

    background : url(images/aside/icon-down.png);
}

.fui-nav-link:hover > .fui-nav-trigger {
    background : url(images/aside/icon-down-hover.png);
}

.fui-nav-item.opened > .fui-nav-link > .fui-nav-trigger {
    background-image : url(images/aside/icon-up.png);
}

.fui-nav-item.top > .fui-nav-link {
    font-size : 14px;

    color : #fff;
}

.fui-nav-link:hover ,
.fui-nav-item.top > .fui-nav-link:hover ,
.fui-nav-link.active ,
.fui-nav-item.opened > .fui-nav-link {
    color : #f96d41;
    background-color : #2a3641;
}

.fui-nav.second .fui-nav-link:hover ,
.fui-nav.second .fui-nav-link.active ,
.fui-nav.second .fui-nav-item.opened > .fui-nav-link {
    background-color : #35414c;
}

.fui-nav-item.top > .fui-nav-link > .fui-nav-text ,
.fui-overall-text {
    display : none;
}

/*
 * 为了解决ie9下菜单文字超出长度...显示不正确的问题
 * 把text-overflow的设置从fui-nav-link移到了这里
 */
.fui-sidebar.big .fui-nav-item.top > .fui-nav-link > .fui-nav-text ,
.fui-sidebar.big .fui-overall-text {
    display : inline-block;
    overflow : hidden;

    width : 100px;

    vertical-align : top;
    white-space : nowrap;
    text-overflow : ellipsis;
}


/* 顶级菜单的名字 */

.fui-nav-title {
    line-height : 35px;

    overflow : hidden;

    height : 35px;
    margin : 0 10px 0 10px;
    padding-left : 9px;

    white-space : nowrap;
    text-overflow : ellipsis;

    color : #f96d41;
    border-bottom : 1px solid #424f5a;
}

.fui-nav-items {
    position : absolute;
    top : 36px;
    bottom : 0;

    overflow : auto;

    width : 100%;
}

.fui-nav.sub .fui-nav-link:before {
    margin-right : 10px;

    content : "▪";
}

.fui-nav-item.opened > .fui-nav.second ,
.fui-nav-item.opened > .fui-nav.sub {
    display : block;
}

.fui-quicknav-text {
    display : inline-block;
    overflow : hidden;

    width : 112px;

    white-space : nowrap;
    text-overflow : ellipsis;
}


/* 自定义菜单编辑按钮 */

.fui-nav-edit {
    position : absolute;
    right : 10px;

    margin-top : 10px;

    cursor : pointer;

    color : #b9c2cd;
    color : rgba(255, 255, 255, .6);
}

.fui-nav-edit:hover {
    color : #f96d41;
}


/* sidebar切换按钮 */

.fui-sidebar-toggle {
    position : absolute;
    bottom : 0;
    left : 0;

    width : 30px;
    height : 35px;
    margin : 0 8px;

    cursor : pointer;

    border-top : 1px solid #404c55;
}

.fui-sidebar-icon {
    display : block;

    width : 18px;
    height : 9px;
    margin : 13px 6px;

    background : url(images/aside/icon-aside-max.png);
}

.fui-sidebar.big .fui-sidebar-icon {
    background : url(images/aside/icon-aside-min.png);
}


/* 全局菜单触发按钮 */

.fui-overall-link {
    line-height : 36px;

    position : relative;

    display : block;

    height : 36px;
    padding-left : 13px;

    color : #f96d41;
    background : #262a32;
}

.fui-overall-icon {
    float : left;

    width : 24px;
    height : 24px;
    margin-top : 6px;
    margin-left : -2px;

    background-image : url(images/aside/icon-globalnav.png);
}

.fui-overall-text {
    margin-left : 11px;
}

.fui-overall.opened > .fui-overall-link ,
.fui-overall-link:hover {
    background-color : #2a3641;
}


/* 全局导航菜单 */

.fui-overall-content {
    overflow : hidden;

    width : 805px;
}


/* 全局菜单搜索结果面板 */

.fui-nav.srh-result-panel {
    top : 0;
    bottom : 36px;
    left : 0 !important;

    display : none;
}

.fui-overall.opened > .fui-overall-content {
    display : block;
}

.fui-overall-content.small {
    width : 160px;
}

.fui-overall-content.small > .fui-overall-navs {
    display : none;
}

.fui-overall-content.small > .srh-result-panel {
    display : block;
}

.fui-overall-navs {
    position : absolute;
    top : 0;
    bottom : 36px;
    left : 0;

    display : block;
}

.fui-overall-navs > .fui-nav.second {
    position : relative;
    top : auto;
    left : auto !important;

    display : block;
    float : left;

    height : 100%;

    border-right : 1px solid #475360;
}

.fui-overall-footer {
    position : absolute;
    right : 0;
    bottom : 0;
    left : 0;

    height : 36px;
    padding : 0 20px 0 12px;

    background-color : #1b2732;
}

.fui-overall-footer > .fui-nav-search {
    margin-top : 3px;
}


/* font-size:0, 消除inline-block元素之空隙 */

.fui-overall-scroller {
    font-size : 0;

    padding-top : 8px;
}

.fui-scroller-left ,
.fui-scroller-right {
    float : left;

    width : 20px;
    height : 20px;

    cursor : pointer;
}

.fui-scroller-left ,
.fui-scroller-left.disabled:hover {
    background : url(images/aside/icon-left.png);
}

.fui-scroller-left:hover {
    background : url(images/aside/icon-left-act.png);
}

.fui-scroller-right ,
.fui-scroller-right.disabled:hover {
    background : url(images/aside/icon-right.png);
}

.fui-scroller-right:hover {
    background : url(images/aside/icon-right-act.png);
}

.fui-scroller-left.disabled ,
.fui-scroller-right.disabled {
    cursor : not-allowed;

    opacity : .5;

    filter : alpha(opacity=50);
}


/*搜索结果*/

.fui-nav-text > .keynote {
    color : #fff;
}


/*中间内容区域*/

.fui-main-head {
    height : 28px;
    padding-top : 8px;
    padding-left : 20px;

    background : url(images/tab-bar/tabbar-bg.png);
}

.fui-main-tabcontainer {
    overflow : hidden;

    margin-top : -6px;
    padding-top : 6px;
}

.fui-main-tab {
    font-size : 13px;
    line-height : 28px;

    position : relative;

    float : left;

    height : 28px;
    margin-right : 12px;
    padding : 0 12px;

    cursor : pointer;
    text-align : center;

    color : #fff;
    border-top-left-radius : 4px;
    border-top-right-radius : 4px;
    background : url(images/tab-bar/tab-bg.png);
}

.fui-main-tab.active ,
.fui-main-tab:hover {
    color : #1b4a60;
    background : #fff;
}

#fixedTabs > .fui-main-tab {
    padding-right : 24px;
}

.fui-tab-text {
    display : inline-block;
    overflow : hidden;

    max-width : 68px;

    white-space : nowrap;
    text-overflow : ellipsis;
}

#mainTabs .fui-tab-text {
    width : 68px;
}

.fui-tab-refresh {
    position : absolute;
    top : 6px;
    right : 5px;

    width : 15px;
    height : 15px;

    opacity : .6;
    background : url(images/tab-bar/icon-refresh.png) no-repeat;

    filter : alpha(opacity=60);
}

.fui-tab-refresh:hover {
    opacity : 1;

    filter : alpha(opacity=100);
}

.fui-tab-close {
    position : absolute;
    top : -2px;
    right : -2px;

    display : none;

    width : 12px;
    height : 12px;

    background : url(images/tab-bar/icon-tabdel.png) no-repeat;
}

.fui-main-tab:hover > .fui-tab-close ,
.fui-main-tab.active > .fui-tab-close {
    display : block;
}


/* font-size:0, 消除inline-block元素之空隙 */

.fui-main-taboperation {
    font-size : 0;

    position : relative;

    height : 23px;
    margin-top : 3px;
    margin-right : 20px;
    margin-left : 5px;
}

.fui-taboperation-scroller ,
.fui-taboperation-operator {
    display : inline-block;

    height : 23px;

    vertical-align : middle;
}

.fui-taboperation-operator {
    margin-top : 2px;
    margin-right : 10px;
}

.fui-tabscroller-left ,
.fui-tabscroller-right ,
.fui-taboperation-close ,
.fui-taboperation-more {
    display : inline-block;

    width : 21px;
    height : 21px;

    cursor : pointer;
}

.fui-tabscroller-left {
    margin-right : 8px;

    background : url(images/tab-bar/icon-tableft.png) no-repeat;
}

.fui-tabscroller-right {
    background : url(images/tab-bar/icon-tabright.png) no-repeat;
}

.fui-tabscroller-left.disabled ,
.fui-tabscroller-right.disabled ,
.fui-taboperation-close.disabled {
    cursor : not-allowed;

    opacity : .5;

    filter : alpha(opacity=50);
}

.fui-taboperation-close {
    width : 25px;
    height : 18px;

    border-right : 1px solid #f0f9f9;
    border-right-color : rgba(255, 255, 255, .6);
    background : url(images/tab-bar/icon-delete.png) no-repeat;
}

.fui-taboperation-more {
    width : 15px;
    height : 18px;

    background : url(images/tab-bar/icon-more.png) no-repeat;
}

.fui-taboperation-more:hover {
    background-image : url(images/tab-bar/icon-more-hover.png);
}

.fui-taboperation-more.active {
    background-image : url(images/tab-bar/icon-more-active.png);
}

.fui-taboperation-dropdown {
    position : absolute;
    z-index : 5;
    top : 3px;
    left : 42px;

    width : 118px;

    border : 1px solid #dee4e7;
    background : #fff;
    box-shadow : 0 0 5px rgba(0, 49, 37, .29);
}

.fui-taboperation-title {
    font-size : 13px;
    line-height : 30px;

    padding-left : 16px;

    color : #333;
    border-bottom : 1px dashed #e0e0e0;
    background-color : #f8f8f8;
}

.fui-taboperation-history {
    border-bottom : 1px solid #e0e0e0;
}


/*当前打开的非固定tab*/

#currentCommon {
    max-height : 270px;
}

.fui-history-item ,
.fui-current-item {
    font-size : 12px;
    line-height : 26px;

    position : relative;

    padding-left : 16px;

    cursor : pointer;

    color : #666;
}

.fui-history-item.empty ,
.fui-history-item.empty:hover {
    cursor : default;

    color : #aaa;
}

.fui-history-item:hover ,
.fui-current-item:hover ,
.fui-current-item.active ,
.fui-history-item.active {
    color : #f96d41;
}

/*.fui-current-fixed,
.fui-history-backicon {
    position: absolute;
    top: 6px;
    right: 15px;
    width: 15px;
    height: 15px;
}

.fui-current-fixed {
    background: url(images/tab-bar/icon-fixed.png) no-repeat;
}

.fui-current-item:hover > .fui-current-fixed,
.fui-current-item.active > .fui-current-fixed {
    background-image: url(images/tab-bar/icon-fixed-hover.png);
}

.fui-history-backicon {
    background: url(images/tab-bar/icon-redo.png) no-repeat;
}

.fui-history-item:hover > .fui-history-backicon {
    background-image: url(images/tab-bar/icon-redo-hover.png);
}*/

.fui-history-text ,
.fui-current-text {
    display : inline-block;
    overflow : hidden;

    width : 70px;

    vertical-align : top;
    white-space : nowrap;
    text-overflow : ellipsis;
}

.fui-tab-content {
    display : none;

    height : 100%;
}

.fui-main-content {
    position : absolute;
    top : 36px;
    right : 0;
    bottom : 0;
    left : 0;
}

.fui-tab-content.active {
    display : block;
}


/*右侧消息*/
.fui-page-cover {
    position : absolute;
    z-index : 999;
    top : 36px;
    right : 0;
    bottom : 0;
    left : 0;

    background : url(./images/page-cover.png);
    background : rgba(0, 0, 0, 0);
}
.fui-main-msg {
    width : 90px;
    margin-top : -4px;
    padding-top : 4px;
}

.fui-msg-iconitem {
    position : relative;

    float : left;

    margin-right : 20px;

    cursor : pointer;
}

.fui-msg-icon {
    display : inline-block;

    width : 24px;
    height : 24px;

    vertical-align : top;
}

.fui-msg-num {
    font-size : 10px;
    line-height : 13px;

    position : absolute;
    top : -4px;
    left : 16px;

    padding : 0 2px;

    color : #fff;
    border-radius : 6px;
    background-color : #ff3d00;
}

.icon-info {
    background : url(images/msg/icon-message.png) no-repeat;
}

.fui-msg-iconitem:hover > .icon-info ,
.fui-msg-iconitem.active > .icon-info {
    background-image : url(images/msg/icon-message-hover.png);
}

.icon-attention {
    background : url(images/msg/icon-attention.png) no-repeat;
}

.fui-msg-iconitem:hover > .icon-attention ,
.fui-msg-iconitem.active > .icon-attention {
    background-image : url(images/msg/icon-attention-hover.png);
}

.icon-emsg {
    background : url(images/msg/icon-emessage.png) no-repeat;
}

.fui-msg-iconitem:hover > .icon-emsg ,
.fui-msg-iconitem.active > .icon-emsg {
    background-image : url(images/msg/icon-emessage-hover.png);
}

.icon-organization {
    background : url(images/msg/icon-org.png) no-repeat;
}

.fui-msg-iconitem:hover > .icon-organization ,
.fui-msg-iconitem.active > .icon-organization {
    background-image : url(images/msg/icon-org-hover.png);
}

.msg-panel {
    position : absolute;
    z-index : 1000;
    top : 37px;
    right : -350px;
    bottom : 0;

    width : 350px;

    border-top : 2px solid #f96d41;
    border-left : 1px solid #dfdfdf;
    background-color : #fff;
    box-shadow : -1px 0 4px #e2e2e2;
}

.msg-panel-detail {
    position : relative;

    height : 100%;
}

.msg-panel-head {
    font-size : 16px;
    line-height : 36px;

    position : relative;

    padding-left : 10px;

    color : #f96d41;
    border-bottom : 1px solid #ddd;
    background-color : #f4f4f4;
}

.msg-panel-hide {
    position : absolute;
    top : 50%;
    right : 10px;

    width : 22px;
    height : 22px;
    margin-top : -11px;

    cursor : pointer;

    background : url(images/msg/icon-toright.png);
}



.msg-panel-content ,
.msg-panel-result ,
.msg-panel-history {
    position : absolute;
    top : 38px;
    right : 0;
    bottom : 0;
    left : 0;

    overflow : auto;
}

.msg-panel-content.msgorg {
    overflow : hidden;
}

.msg-panel-back {
    display : inline-block;

    width : 19px;
    height : 12px;
    margin-left : 10px;

    cursor : pointer;

    background : url(images/msg/icon-back.png);
}


/* 无消息的提示 */

.msg-content-empty {
    padding : 15px;

    color : #999;
}

.msg-category {
    margin-bottom : 20px;
    padding : 0 10px;
}

.msg-category-head ,
.msg-result-head ,
.msg-history-head {
    position : relative;

    height : 30px;

    border-bottom : 1px dashed #dcdcdc;
    background : url(images/msg/msg-titleicon.png) no-repeat 0 7px;
}

.msg-category-head {
    margin-top : 12px;
}

.msg-result-head ,
.msg-history-head {
    margin : 12px 10px 0;
}

.msg-category-title ,
.msg-result-headertitle ,
.msg-history-headertitle {
    font-size: 14px;
    line-height : 30px;

    margin-left : 10px;

    cursor : pointer;

    color : #0b3a51;
}

.msg-category-num {
    font-weight : normal;

    color : #f60;
}

.msg-category-remove {
    position : absolute;
    top : 50%;
    right : 3px;

    width : 15px;
    height : 18px;
    margin-top : -9px;

    cursor : pointer;

    background : url(images/msg/icon-msgdel.png);
}

.msg-category-remove:hover {
    background : url(images/msg/icon-msgdel-hover.png);
}

.msg-list ,
.msg-srh-category {
    color : #555;
}

.msg-list {
    padding-left : 10px;
}

.msg-list-item {
    line-height : 30px;

    position : relative;

    cursor : pointer;
}

.msg-list-item:hover ,
.msg-list-item.newmsg:hover {
    color : #f96d41;
}

.msg-item-text ,
.msg-item-date {
    display : inline-block;

    vertical-align : top;
}

.msg-item-text {
    overflow : hidden;

    width : 245px;

    white-space : nowrap;
    text-overflow : ellipsis;
}

.msg-item-text > img {
    width : 16px;
    height : 16px;
    margin-right : 6px;

    vertical-align : middle;
}

.msg-item-ignore {
    position : absolute;
    top : 50%;
    right : 3px;

    width : 16px;
    height : 12px;
    margin-top : -6px;

    background : url(images/msg/icon-eye.png);
}

.msg-item-ignore:hover {
    background : url(images/msg/icon-eye-hover.png);
}

.msg-result-headertitle ,
.msg-history-headertitle {
    cursor : default;
}

.msg-srh-category {
    color : #666;
}

.msg-history-list {
    /*font-family: simsun;*/
    font-size : 12px;

    color : #555;
}

.msg-srh-head {
    line-height : 30px;

    margin : 0 10px;

    text-align : center;

    background : url(images/msg/msg-title-bg.png) 50% 0 repeat-x;
}

.msg-head-text {
    font-weight : 700;

    padding : 0 10px;

    color : #666;
    background : #fff;
}

.msg-srh-item {
    line-height : 36px;

    position : relative;

    padding-left : 20px;

    cursor : pointer;
}

.msg-srh-item:hover ,
.msg-srh-item.newmsg:hover {
    color : #3d4b62;
    background-color : #f9f7de;
}

.msg-srh-item > .msg-item-text {
    width : 270px;
}

.msg-srh-item > .msg-item-text.msg-org {
    width : auto;
    max-width : 236px;
}

.msg-srh-item > .msg-item-text > .keynote {
    font-weight : 700;

    margin-left : 1px;

    letter-spacing : 1px;

    color : #3d4b62;
}

.msg-srh-more {
    line-height : 36px;

    padding-left : 20px;
}

.msg-shr-morelink {
    color : #3d4b62;
}

.msg-shr-morelink:hover {
    color : #f96e43;
}

.msg-item-remove {
    position : absolute;
    top : 50%;
    right : 15px;

    display : none;

    width : 15px;
    height : 18px;
    margin-top : -9px;

    cursor : pointer;

    background : url(images/msg/icon-msgdel.png);
}

.msg-item-remove:hover {
    background : url(images/msg/icon-msgdel-hover.png);
}

.msg-srh-item:hover > .msg-item-remove {
    display : block;
}


/*组织*/
/*
.msg-org-tab {
    line-height : 34px;

    color : #3d4b62;
    border-bottom : 1px solid #34a0d2;
}

.msg-tab-item {
    float : left;

    width : 116px;
    margin-right : 1px;

    cursor : pointer;
    text-align : center;

    background-color : #e9eaee;
}

.msg-tab-item.last {
    margin-right : 0;
}

.msg-tab-item:hover ,
.msg-tab-item.active {
    color : #fff;
    background-color : #34a0d2;
}*/

/*.msg-org-content {
    position : absolute;
    top : 50px;
    right : 0;
    bottom : 0;
    left : 0;

    overflow : auto;
}*/


/*关注*/

.msg-list-item.newmsg ,
.msg-srh-item.newmsg {
    color : #eb1c17;
}


/*#region E讯 */

.emsg-recent-item {
    position : relative;

    height : 59px;
    padding : 12px;

    cursor : pointer;
    vertical-align : middle;

    border-bottom : 1px solid #ddd;
}

.emsg-user-img {
    width : 42px;
    height : 42px;

    border-radius : 50%;
}

.emsg-user-img > img {
    display : block;

    width : 100%;
    height : 100%;

    border-radius : 50%;
}

.emsg-recent-record {
    margin-left : 55px;
}

.emsg-recent-record > h2 {
    line-height : 20px;
}

.emsg-recent-record > h2 > .emsg-user-name {
    font-size : 14px;

    display : inline-block;
    overflow : hidden;

    max-width : 175px;

    white-space : nowrap;
        text-overflow : ellipsis;
    -ms-text-overflow : ellipsis;

    color : #0b3a51;

     -o-text-overflow : ellipsis;
}

.emsg-recent-item > .emsg-user-img ,
.emsg-dialog-head > .emsg-user-img {
    float : left;
}

.emsg-recent-item .emsg-recent-date {
    font-size : 12px;

    float : right;

    color : #999;
}

.emsg-recent-item.newmsg .emsg-user-img {
    -webkit-animation : notread 1s linear infinite;
            animation : notread 1s linear infinite;
}

@-webkit-keyframes notread {
    0% {
        -webkit-transform : translate(0, 0) rotate(0);
                transform : translate(0, 0) rotate(0);
    }
    10% {
        -webkit-transform : translate(1px, 0) rotate(0);
                transform : translate(1px, 0) rotate(0);
    }
    20% {
        -webkit-transform : translate(-1px, 0) rotate(0);
                transform : translate(-1px, 0) rotate(0);
    }
    30% {
        -webkit-transform : translate(0, -1px) rotate(0);
                transform : translate(0, -1px) rotate(0);
    }
    40% {
        -webkit-transform : translate(0, 1px) rotate(0);
                transform : translate(0, 1px) rotate(0);
    }
    50% {
        -webkit-transform : translate(1px, 0) rotate(0);
                transform : translate(1px, 0) rotate(0);
    }
    60% {
        -webkit-transform : translate(-1px, 0) rotate(0);
                transform : translate(-1px, 0) rotate(0);
    }
    70% {
        -webkit-transform : translate(0, -1px) rotate(0);
                transform : translate(0, -1px) rotate(0);
    }
    80% {
        -webkit-transform : translate(0, 1px) rotate(0);
                transform : translate(0, 1px) rotate(0);
    }
    90% {
        -webkit-transform : translate(1px, 0px) rotate(0);
                transform : translate(1px, 0px) rotate(0);
    }
    100% {
        -webkit-transform : translate(-1px, 0) rotate(0);
                transform : translate(-1px, 0) rotate(0);
    }
}

@keyframes notread {
    0% {
        -webkit-transform : translate(0, 0) rotate(0);
                transform : translate(0, 0) rotate(0);
    }
    10% {
        -webkit-transform : translate(1px, 0) rotate(0);
                transform : translate(1px, 0) rotate(0);
    }
    20% {
        -webkit-transform : translate(-1px, 0) rotate(0);
                transform : translate(-1px, 0) rotate(0);
    }
    30% {
        -webkit-transform : translate(0, -1px) rotate(0);
                transform : translate(0, -1px) rotate(0);
    }
    40% {
        -webkit-transform : translate(0, 1px) rotate(0);
                transform : translate(0, 1px) rotate(0);
    }
    50% {
        -webkit-transform : translate(1px, 0) rotate(0);
                transform : translate(1px, 0) rotate(0);
    }
    60% {
        -webkit-transform : translate(-1px, 0) rotate(0);
                transform : translate(-1px, 0) rotate(0);
    }
    70% {
        -webkit-transform : translate(0, -1px) rotate(0);
                transform : translate(0, -1px) rotate(0);
    }
    80% {
        -webkit-transform : translate(0, 1px) rotate(0);
                transform : translate(0, 1px) rotate(0);
    }
    90% {
        -webkit-transform : translate(1px, 0px) rotate(0);
                transform : translate(1px, 0px) rotate(0);
    }
    100% {
        -webkit-transform : translate(-1px, 0) rotate(0);
                transform : translate(-1px, 0) rotate(0);
    }
}

.emsg-not-read {
    display : inline-block;

    width : 7px;
    height : 7px;

    border-radius : 50%;
    background : #ff3d00;
}

.emsg-recent-record > h2 .emsg-not-read {
    margin : 0 0 6px 7px;
}

.emsg-recent-message {
    font-size : 13px;
    line-height : 20px;

    overflow : hidden;

    white-space : nowrap;
        text-overflow : ellipsis;
    -ms-text-overflow : ellipsis;
        word-break : break-all;
    -ms-word-break : break-all;

    color : #999;

     -o-text-overflow : ellipsis;
}

.emsg-ignore-icon {
    font-size : 12px;
    line-height : 18px;

    position : absolute;
    right : 19px;
    bottom : 5px;

    display : none;

    width : 40px;
    height : 18px;

    cursor : pointer;
    text-align : center;

    color : #fff;
    border-radius : 9px;
    background : #f3c523;
}

.emsg-ignore-icon:hover {
    background : #f96d41;
}

.emsg-recent-item:hover {
    background : #fdf49d;
}

.emsg-recent-item:hover .emsg-ignore-icon {
    display : block;
}

.emsg-search-none {
    font-size : 12px;

    text-align : center;

    color : #555;
}


/*#endregion */


/* 固定项目下虚线 */
.nav-tag-split:not(:empty) {
    border-top : 1px dashed #e0e0e0;
}


