/* 閫氱敤鏍峰紡 */
.relative {
    position: relative;
}

.lh-mid {
    line-height: 36px;
}

.w-full {
    width: 100%;
}

.w-half {
    width: 50%;
}

.h-full {
    height: 100%;
}

.mt-10 {
    margin-top: 10px;
}

.mr-10 {
    margin-right: 10px;
}

.text-blue {
    color: #4186f8 !important;
}

.text-red {
    color: #f00d0d !important;
}

.result-mark {
    color: #f00d0d !important;
}


/* 弹出框样式 */
.mini-messagebox.portal-tip .mini-messagebox-buttons {
    height: 40px;
    background-color: #fff;
}

.mini-messagebox.portal-tip .mini-messagebox-buttons .mini-messagebox-button {
    background-color: #3d9df2;
    border-radius: 0;
    border: 1px solid #3d9df2;
    height: 24px;
    line-height: 24px;
    padding: 0 12px;
    min-width: auto;
}

.mini-messagebox.portal-tip .mini-messagebox-buttons .mini-messagebox-button:hover {
    background-color: #50acfd;
    border-radius: 0;
    border: 1px solid #50acfd;
    height: 24px;
    line-height: 24px;
    padding: 0 12px;
    min-width: auto;
}

.mini-messagebox.portal-tip .mini-messagebox-buttons .mini-messagebox-button:first-child {
    background-color: #fff;
    border: 1px solid #bdbec1;
    color: #666;
}

.mini-messagebox.portal-tip .mini-messagebox-buttons .mini-messagebox-button:first-child:hover {
    border: 1px solid #3d9df2;
    color: #3d9df2;
    background-color: #fff;
    border-radius: 0;
    height: 24px;
    line-height: 24px;
    padding: 0 12px;
    min-width: auto;
}

/* top */
.top {
    display: none;
    height: 50px;
    line-height: 50px;
    padding: 0 14px;
    background-color: #fff;
    box-shadow: 0 0 6px 0px rgba(0, 0, 0, .111113);
    z-index: 1;
    position: relative;
}

/* 宸︿晶闈㈡澘 */
.sidebar-panel {
    display: none;
    width: 264px;
    height: 100%;
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 0;
    border-right: 1px solid #f0f2f5;
}


.types-detail {
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    background-color: #fff;
    box-shadow: 1px 0 6px 0 rgba(0, 0, 0, .111113);
}

/* 椤甸潰绠＄悊 */
.page-box {
    padding: 0 20px 0 20px;
}

.detail-title {
    color: #333;
    font-size: 16px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 10px;
}

.title-tip {
    width: 16px;
    height: 16px;
    margin-left: 3px;
    display: inline-block;
    border-radius: 50%;
    background-color: #f6c357;
    color: #fff;
    text-align: center;
    line-height: 16px;
    font-size: 12px;
}

.title-tip:hover {
    cursor: pointer;
}

.page-number:after {
    content: "px";
    width: 30px;
    display: inline-block;
}

.page-number.percent:after {
    content: "%";
    display: inline-block;
}

/* 鍏冧欢绠＄悊 */

.element-tab {
    height: 36px;
    line-height: 36px;
}

.element-tab:hover,
.element-tab.active {
    cursor: pointer;
    color: #4186f8;
    border-bottom: 1px solid #4186f8;
}

.element-detail-container {
    position: absolute;
    top: 58px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    overflow-y: auto;
}

/* 妯℃澘 */
.element-list {
    display: none;
}

.el-item {
    height: 36px;
    line-height: 36px;
    padding-left: 46px;
    box-sizing: border-box;
}

.drag-item[data-sizex] {
    width: 100%;
}

.drag-item[data-sizey] {
    height: auto;
}

.el-item:hover {
    cursor: move;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .1111);
}

.element-icon {
    width: 20px;
    height: 20px;
    line-height: 20px;
    margin-top: 8px;
    margin-right: 10px;
    text-align: center;
    color: #4186f8;
    border-radius: 50%;
    font-size: 12px;
    background-color: #e8eef7;
}

.element-content {
    color: #555;
}

/* 浠撳簱 */
.lib-item {
    position: relative;
    padding: 0 30px 0 20px;
    border-radius: 2px;
    color: #555555;
    box-sizing: border-box;
}

.lib-item:hover {
    cursor: move;

    background-color: #eff2f6;
}

.lib-item.active:hover {
    cursor: no-drop;
}

.icon-eye {
    position: absolute;
    left: 10px;
    top: 8px;
    width: 20px;
    height: 20px;
    background-image: url('images/icon_unuse.png');
    background-repeat: no-repeat;
    background-position: center 3px;
}

.lib-item.active .icon-eye {

    background-image: url('images/icon_use.png');
    background-position: center;
}

.lib-item.active {
    color: #c5c5c5;
}

.icon-eye:hover {
    cursor: pointer;
}

.lib-content {
    line-height: 36px;
}

.lib-more {
    position: absolute;
    top: 8px;
    right: 5px;
    width: 20px;
    height: 20px;
    display: none;
    background-image: url('images/icon_more.png');
    background-repeat: no-repeat;
    background-position: center;
}

.lib-more:hover {
    background-color: #fff;
    cursor: pointer;
}

.lib-item:hover .lib-more {
    display: block;
}


/* 浠撳簱鏇村鑿滃崟 */
.more-menu {
    width: 168px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .1111);
    position: fixed;
    display: none;
    background-color: #fff;
    padding: 10px 0;
    z-index: 11;
}

.menu-item {
    line-height: 32px;
    color: #444;
    padding-left: 18px;
    padding-right: 38px;
    position: relative;
}

.menu-item:hover {
    cursor: pointer;
    background-color: #eff2f6;
}

.template-edit {
    position: absolute;
    right: 0;
    top: 0;
}

/* 妯℃澘绠＄悊 */
.template-box,
.element-box {
    padding: 10px 10px 10px 10px;
    box-sizing: border-box;
}

.detail-search {
    border-radius: 2px;
    border: 1px solid #eeeeee;
    width: 204px;
    height: 30px;
    float: left;
    line-height: 30px;
    padding: 0 30px 0 10px;
    box-sizing: border-box;
    outline: none;
    background-image: url('./images/icon_search.png');
    background-repeat: no-repeat;
    background-position: 216px center;
    background-color: #f0f2f5;
}

.search-menu {
    width: 30px;
    height: 30px;
    float: left;
    margin-left: 10px;
    box-sizing: border-box;
    border: 1px solid #d7d7d7;
    background-image: url('./images/search_menu.png');
    background-repeat: no-repeat;
    background-position: center;
}

.search-menu:hover {
    background-color: #f0f2f5;
    cursor: pointer;
}

.template-detail-container {
    position: absolute;
    top: 50px;
    bottom: 10px;
    left: 10px;
    right: 0;
    overflow-y: auto;
}

.template-title {
    height: 36px;
    line-height: 36px;
    font-weight: 700;
    color: #333;
    font-size: 16px;
    padding-left: 36px;
    position: relative;
    cursor: pointer;
    margin: 10px 0;
}

.template-title:before {
    content: "";
    width: 16px;
    height: 16px;
    background-image: url('./images/icon_up.png');
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    left: 10px;
    top: 10px;
}


.template-list {
    width: 250px;
    margin-left: -10px;
    display: none;
}

.template-lists.active .template-list {
    display: block;
}

.template-lists.active .template-title:before {
    transform: rotate(180deg);
}

.template-item-box {
    width: 120px;
    box-sizing: border-box;
    padding-left: 10px;
    margin-bottom: 10px;
    position: relative;

}

.template-item {
    position: relative;
    width: 100%;
    border: 1px solid #e7eaee;
}

.template-item:hover {
    cursor: pointer;
}

.temp-item-img {
    width: 100%;
    height: 68px;
    line-height: 68px;
    text-align: center;
    background-color: #f0f3f7;
}

.temp-item-img img {
    vertical-align: middle;
}

.temp-item-text {
    line-height: 32px;
    text-align: center;
}

.temp-status {
    position: absolute;
    left: 5px;
    top: 5px;
    display: none;
    width: 34px;
    height: 18px;
    border-radius: 2px;
    background-color: #18c4b6;
    font-size: 12px;
    color: #fff;
    text-align: center;
    line-height: 18px;
}

.temp-more {
    position: absolute;
    top: 8px;
    right: 5px;
    width: 20px;
    height: 20px;
    display: none;
    background-image: url('images/icon_more.png');
    background-repeat: no-repeat;
    background-position: center;
}

.temp-more:hover {
    background-color: #fff;
    cursor: pointer;
}

.template-item-box.public .temp-status {
    display: block;
}

.template-item-box:hover .temp-more {
    display: block;
}

.no-result {
    padding: 16px 0;
    text-align: center;
    color: #666;
}

/* 鍙充晶鍐呭 */
.main {
    position: absolute;
    top: 0px;
    bottom: 0;
    width: 100%;
    background-color: transparent;
}

.container-panel {
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 0;
    right: 0;
    user-select: none;
    background-color: transparent;
    overflow-x: auto;
}

.painting-area {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 10;
    user-select: none;
    overflow: auto;
    /* border: 1px dashed #d2d5dc; */
}



.grid-container {
    position: relative;
    background: transparent;
    min-height: calc(100% - 88px);

    box-sizing: border-box;
    padding: 8px;
    /* overflow: auto; */
}

.grid-container.row-line {
    /* background-image: url('./images/row_bg.png'); */
}

.grid-container>ul {
    z-index: 1
}

.grid-container>.grid-bg {
    box-sizing: border-box;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0;
    /* background: transparent url("./images/grid-bg.png") 0 0 repeat */
}

.grid-container>.grid-bg>.bg-col {
    box-sizing: border-box;
    float: left;
    height: 100%
}

.grid-container>.grid-bg>.bg-col:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-top: 1px dashed #d2d5dc;
    width: 100%;
}

.grid-container>.grid-bg>.bg-col:before {
    display: block;
    height: 100%;
    /* border-top: 1px dashed #d2d5dc; */
    border-right: 1px dashed #d2d5dc;
    content: ""
}

.grid-container>.grid-bg>.bg-col:first-child:before {
    border-left: 1px dashed #d2d5dc;
}

.grid-container>.grid-rows-bg {
    box-sizing: border-box;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0;
}

.grid-container>.grid-rows-bg>.bg-row {
    width: 100%;
    position: absolute;
    left: 0;
    height: 0;
    border-bottom: 1px dashed #d2d5dc;
}

.widget {
    position: absolute;
    z-index: 11;
    background: #fff;
    border: 1px solid #ddd;
    /* -webkit-box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.075);
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.075); */
}

.widget:hover {
    /* -webkit-box-shadow: 0 0 0 0px rgba(65, 134, 248, .08);
    box-shadow: 0 0 0 0px rgba(65, 134, 248, .08); */
}

.widget.elem-in-drag {
    -webkit-box-shadow: 0 0 0 8px rgba(122, 134, 155, .08);
    box-shadow: 0 0 0 8px rgba(122, 134, 155, .08);
    opacity: .8;
}

/* 鍏冧欢 */

.element-item {
    /* margin-top: 10px; */
    border: 1px solid #ddd;
    border: 0 rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    overflow: hidden;
    /* -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.15); */
}

.cache-elem-item {
    background-color: rgba(27, 34, 175, .1);
}

.element-item:first-child {
    margin-top: 0px
}

.element-item.change:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border: 1px solid transparent;
}

.element-item .spots {
    display: none;
    width: 12px;
    height: 12px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    z-index: 12;
}

.element-item.change .spots {
    /* display: block; */
    display: none;
}


.spot-lt {
    left: -6px;
    top: -6px;
    cursor: se-resize;
}

.spot-lb {
    left: -6px;
    bottom: -6px;
    cursor: ne-resize;
}

.spot-rt {
    right: -6px;
    top: -6px;
    cursor: ne-resize;
}

.spot-rb {
    right: -6px;
    bottom: -6px;
    cursor: se-resize;
}

.spots-both {
    display: none !important;
}

.element-item>.element-header {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 40px;
    background: #fff;
    display: none;
    line-height: 40px;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    padding-right: 95px;
    color: #333;
    font-size: 16px;
    position: relative
}

.element-item>.element-header:before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0px;
    right: 0px;
    border-bottom: 1px solid #ebebeb
}

.element-item>.element-header .title-icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    font-size: 24px;
    text-align: center;
    margin-left: 16px;
    margin-right: 8px;
    margin-top: 8px;
    background-repeat: no-repeat;
    background-position: center !important;
    background-size: contain !important;
}

.element-item>.element-header>.icon {
    width: 24px;
    height: 24px;
    vertical-align: top;
    margin-left: 16px;
    margin-top: 10px
}

.element-item>.element-header>.name {
    padding-left: 20px;
    vertical-align: top
}

.element-item>.element-header>.icon+.name {
    padding-left: 5px
}

.element-item>.element-header>.header-operations {
    position: absolute;
    top: 0;
    right: 10px;
    float: right;
    padding-top: 7px
}

.element-item .column-operations {
    position: absolute;
    top: 0;
    right: 0;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #eee;
    box-sizing: border-box;
}

.element-item>.element-header>.header-operations:after,
.element-item .column-operations:after {
    content: '';
    display: block;
    clear: both
}

.element-item>.element-header>.header-operations>.icon,
.element-item .column-operations>.icon {
    display: block;
    width: 26px;
    height: 40px;
    line-height: 40px;
    border-radius: 2px;
    float: left;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    text-align: center;
    position: relative;
    border-radius: 4px;
    font-size: 14px;
    font-weight: bold;
}

.element-item .column-operations>.icon {
    margin-top: 2px;
}

.element-item>.element-header>.header-operations>.icon+.icon,
.element-item>.element-header>.column-operations>.icon+.icon {
    margin-left: 8px
}

.element-item>.element-header>.header-operations>.icon.refresh:hover,
.element-item>.element-header>.column-operations>.icon.refresh:hover {
    animation: none;
}

/* .element-item>.element-header>.header-operations>.icon.add {
    background-image: url("./images/icon_plus.png")
}

.element-item>.element-header>.header-operations>.icon.open {
    background-image: url("./images/open.png")
}

.element-item>.element-header>.header-operations>.icon.refresh {
    background-image: url("./images/refresh2.png")
} */

.element-item>.element-header>.header-operations>.icon:hover,
.element-item>.element-header>.column-operations>.icon:hover {
    background-color: rgba(39, 148, 247, .08);
}

.element-item.showHeader>.element-header {
    display: block
}

.element-columns {
    position: relative;
    height: 30px;
    line-height: 30px;
    box-sizing: border-box;
    border-bottom: 1px solid #eee;
    margin: 0 16px;
    font-size: 14px;
    font-size: .14rem;
    overflow: hidden;
}

.element-columns.columns-no-head {
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    font-size: .16rem;
}

.element-columns.columns-no-head .scroll-wrap {
    height: 40px;
}

.element-columns.no-head {
    margin-right: 100px;
}

.element-columns:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    display: none;
}

.element-column-item {
    float: left;
    margin: 0 10px;
}

.element-column-item:first-child {
    margin-left: 0;
}

.element-column-item:hover {
    cursor: pointer;
}

.element-column-item.active {
    color: #4186f8;
    position: relative;
}

.element-column-item.active:after {
    content: "";
    position: absolute;
    bottom: 1px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #4186f8;
}

.element-item .element-body {
    background: #fff;
    height: calc(100% - 60px);
    margin: 10px 0;
    position: relative;
    overflow: hidden;
}

.element-item .element-body:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    display: none;
}

.element-item>.element-toolbar {
    display: none;
    position: absolute;
    right: 6px;
    bottom: 5px;
    height: 22px;
    /* background: #86acf2; */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /* -webkit-transition: opacity 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out;
    -moz-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out; */
    z-index: 10;
    opacity: 1;
    text-align: right;
}


.element-item:hover>.element-toolbar {
    /* display: block; */
    display: none;
}

.element-item>.element-toolbar:after {
    display: block;
    clear: both;
    content: ''
}

.element-item>.element-toolbar>.icon {
    display: inline-block;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: #4186f8;
    margin: 0px;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    margin-right: 5px;
    box-shadow: 0px 2px 4px 0px rgba(65, 134, 248, .6);
}

.element-item>.element-toolbar>.icon:hover {
    background-color: #6a94e0
}

.element-item>.element-toolbar>.split {
    display: none;
    margin: 3px 4px;
    width: 18px;
    border-top: 1px solid #ddd
}

.element-item>.element-toolbar>.move {
    background-image: url("./images/move.png");
    cursor: move
}

.element-item>.element-toolbar>.setting {
    background-image: url("./images/settings.png")
}

.element-item>.element-toolbar>.refresh {
    background-image: url("./images/refresh.png")
}

.element-item>.element-toolbar>.delete {
    background-image: url("./images/delete.png")
}

.element-item.showToolbar.enter>.element-toolbar {
    filter: alpha(opacity=100);
    opacity: 1
}

.element-sortable-placeholder {
    visibility: visible;
    border: 2px solid #ccc;
    margin: 3px;
    background: #efefef;
    -webkit-animation: am_opacity 0.5s ease-out 0ms infinite;
    -moz-animation: am_opacity 0.5s ease-out 0ms infinite;
    animation: am_opacity 0.5s ease-out 0ms infinite
}

.gridster .preview-holder {
    position: absolute;
    z-index: 1;
    position: absolute;
    border-color: #fff;
    opacity: .1;
    border: none !important;
    border-radius: 0 !important;
    background: #1b22af !important;
}

@-webkit-keyframes am_opacity {
    0% {
        opacity: 1
    }

    30% {
        opacity: 0.3
    }

    100% {
        opacity: 1
    }
}

@-moz-keyframes am_opacity {
    0% {
        opacity: 1
    }

    30% {
        opacity: 0.3
    }

    100% {
        opacity: 1
    }
}

@keyframes am_opacity {
    0% {
        opacity: 1
    }

    30% {
        opacity: 0.3
    }

    100% {
        opacity: 1
    }
}

@-webkit-keyframes highlight {
    0% {
        opacity: 1
    }

    50% {
        opacity: 0.3
    }

    100% {
        opacity: 1
    }
}

@-moz-keyframes highlight {
    0% {
        opacity: 1
    }

    50% {
        opacity: 0.3
    }

    100% {
        opacity: 1
    }
}

@keyframes highlight {
    0% {
        opacity: 1
    }

    50% {
        opacity: 0.3
    }

    100% {
        opacity: 1
    }
}

/* 鍏冧欢end */

/* 瀛樹负妯℃澘 */
.diy-html {
    margin-top: 24px;
}

.portal-name {
    width: 100%;
    line-height: 26px;
    height: 26px;
    padding: 0 5px;
    box-sizing: border-box !important;
}

/* 鍐呴儴鍏冧欢鏍峰紡 */

.element-body-list {
    /* padding: 10px 0; */
    line-height: 36px;
}

.todo-item {
    position: relative;
    padding: 0 8px;
    margin: 0 8px;
}

.todo-item:hover {
    background-color: #ebf5ff;
}

.todo-item-link {
    font-size: 14px;
    font-size: .14rem;
    display: block;
    margin-right: 60px;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: inherit;
    color: #333;
}

.todo-item-date {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 50px;
    text-align: right;
    padding-right: 14px;
    color: #adadad;
}

/* 閿� */
.clock {
    display: none;
    /* position: fixed;
    bottom: 40px;
    left: 50%;
    z-index: 11; */
    width: 48px;
    height: 48px;
    border-radius: 50%;
    /* margin-left: -24px; */
    background-color: #c3d1e4;
    background-image: url('./images/icon-clock.png');
    background-repeat: no-repeat;
    background-position: center;
    margin: 20px auto;
}

.clock:hover {
    cursor: pointer;
    background-color: #2590eb;
}

.edit .top {
    display: block;
}

.edit .sidebar-panel {
    display: block;
}

.edit .container-panel {
    left: 264px;
}

.edit .main {
    top: 50px;
}

/* .cancel {
    background-color: #bfbfbf;
    border-color: #bfbfbf;
}

body a:hover.mini-button.cancel {
    background-color: #afaeae;
    border-color: #afaeae;
} */

.scroll-wrap {
    height: 30px;
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;
}

.scroll-wrap.show {
    padding: 0 20px;
}

.scroll-left,
.scroll-right {
    display: none;
    width: 20px;
    height: 30px;
    position: absolute;
    top: 0;
    background-color: #fff;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
}

.scroll-left {
    left: 0;
    background-image: url('./images/icon_left.png');
}

.scroll-right {
    right: 0;
    background-image: url('./images/icon_right.png');
}

.edit .element-item.change {
    border-radius: 0;
    overflow: visible;
}

.edit .element-item.change .spots {
    display: block;
}

.edit .element-item.change:after {
    border: 1px solid #4186f8;
}

.edit .widget:hover {
    -webkit-box-shadow: 0 0 0 8px rgba(65, 134, 248, .08);
    box-shadow: 0 0 0 8px rgba(65, 134, 248, .08);
}

.edit .element-columns:after {
    display: block;
}

.edit .element-item .element-body:before {
    display: block;
}

.edit .widget {
    cursor: move;
}

.edit .element-item:hover>.element-toolbar {
    display: block;
}

.edit .grid-container.row-line {
    background-image: url('./images/row_bg.png');
}

.edit .main {
    background-color: #e5e8ec;
}

.edit .container-panel {
    background-color: #e5e8ec;
}

.column-box {
    min-width: 100%;
}

.edit .element-item.change.no-change .spots {
    display: none;
}

.edit .element-item.change.no-change:after {
    border: 1px solid transparent;
}

.edit .edit-cover:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 11;
    cursor: not-allowed;
}

.edit .grid-container {
    min-height: 100%;
}
