.mini-button {
    color: #fff;
    border-color: #4170e6;
    background: #4170e6;
}

body a:hover.mini-button {
    border-color: #2e59c5;
    background: #2e59c5;
}

.mini-button.mini-button-plain {
    color: #fff
}

body a:hover.mini-button.mini-button-plain {
    color: #fff
}

body .mini-button-pressed,
body a:hover.mini-button-pressed,
body .mini-button-checked,
body a:hover.mini-button-checked,
body a.mini-button-popup,
body a:hover.mini-button-popup {
    color: #fff;
    border-color: #2e59c5;
    background: #2e59c5
}

.mini-button.mini-btn-primary {
    color: #fff;
    border-color: #ed992c;
    background: #ed992c
}

body a:hover.mini-btn-primary {
    color: #fff;
    border-color: #f97e41;
    background: #f97e41
}

.mini-button.mini-btn-info {
    color: #fff;
    border-color: #119cdc;
    background: #119cdc
}

body a:hover.mini-btn-info {
    color: #fff;
    border-color: #027bab;
    background: #027bab
}

.mini-btn-primary.mini-button-disabled,
.mini-btn-info.mini-button-disabled,
.mini-btn-success.mini-button-disabled,
.mini-btn-warning.mini-button-disabled,
.mini-btn-danger.mini-button-disabled {
    color: #fff;
    border-color: #525981;
    background: #525981
}

body a.mini-button-disabled,
body a:hover.mini-button-disabled {
    color: #fff;
    border-color: #525981;
    background: #525981
}

.mini-textbox-border {
    border-color: #3350c7;
    background-color: #111465
}

.mini-required .mini-buttonedit-border,
.mini-required .mini-textbox-border {
    background-color: #111363
}

body .mini-textbox-focus .mini-textbox-border {
    border-color: #3350c7
}

.mini-error .mini-textbox-border,
.mini-error .mini-buttonedit-border {
    border-color: #ff5f5f;
    background-color: #111465
}

body .mini-textbox-disabled .mini-textbox-border {
    color: #fff;
    border-color: #3350c7;
    background-color: #2640a9
}

.mini-textbox-input {
    background-color: inherit;
    color: inherit
}

.mini-buttonedit-border {
    border-color: #3350c7;
    color: #fff;
    background: #111363
}

.mini-buttonedit-focus .mini-buttonedit-border,
.mini-buttonedit-popup .mini-buttonedit-border {
    border-color: #3350c7
}

.mini-buttonedit-input {
    background-color: inherit;
    color: inherit
}

.mini-buttonedit-button-hover,
.mini-buttonedit-hover .mini-buttonedit-trigger {
    border-left: 1px solid #3350c7;
    background: #182a8c;
}

.mini-buttonedit-button-pressed,
.mini-buttonedit-popup .mini-buttonedit-trigger {
    border-color: #3350c7;
    background-color: #111363
}
.mini-buttonedit-down span{
    background-image: url("./images/buttonedit/down.png");
} 
.mini-buttonedit-up span {
    background-image: url("./images/buttonedit/up.png");
}
body .mini-buttonedit-disabled .mini-buttonedit-border, 
body .mini-buttonedit-disabled .mini-buttonedit-input{
    background-color: #2640a9;
    color:#fff;
}

body .mini-buttonedit-disabled .mini-buttonedit-button {
    background-color: #2640a9;
    border-color:transparent;
    color:#fff;
}

.mini-popup {
    border-color: #3350c7
}
.mini-resizer-trigger {
    background-image: url("./images/panel/resize.png");
}
.mini-panel-viewport {
    background-color: #111363
}

.mini-panel-border {
    border-color: #2e48b3
}

.mini-panel-header {
    color: #fff;
    background: #2e48b3
}

.mini-tools>span:hover {
    background-color: #2e48b3
}

.mini-panel-footer,
.mini-panel-toolbar {
    color: #fff;
    background: #14247e;
    border-bottom-color: #3350c7;
    border-top-color: #3350c7
}
.mini-filtertree .mini-panel-toolbar {
    background: #14247e;
}

.mini-tabs-scrollCt {
    background: #2640a9;
    border-left: #14246e
}

.mini-tabs-space,
.mini-tabs-space2 {
    border-top-color: transparent;
    border-bottom: 0
}

.mini-tabs-headers {
    background: #2640a9
}

.mini-tab {
    color: #fff;
    border-top: 1px solid #2640a9;
    border-right-color: #2f5fd9;
    background: #2640a9
}

.mini-tab-active {
    color: #ede62c;
    border-top-color: #ede62c;
    background: #14247e
}

.mini-tab-hover {
    color: #ede62c
}

.mini-tab-active .mini-tab-icon {
    color: #ede62c
}

.mini-tab-hover .mini-tab-icon {
    color: #ede62c
}

.mini-tabs-bodys {
    border-color: #14247e;
    background: #14247e
}

body .mini-tabs-plain .mini-tabs-scrollCt {
    border-left: 1px solid #2640a9
}

.mini-menu-border {
    border: 1px solid #3350c7
}

.mini-menu-inner {
    color: #fff;
    background: #14247e
}

.mini-menuitem-text {
    color: #fff
}

.mini-separator {
    border-top: solid 1px #3350c7
}

.mini-menu .mini-menu-popup,
.mini-menu .mini-menuitem-hover {
    border: 1px solid #181d73;
    background: #181d73
}

.mini-menu .mini-menuitem-icon,
.mini-menu .mini-tab-icon {
    color: #fff
}

.mini-menu .mini-menuitem-selected {
    border: 1px solid #313fa9;
    background: #313fa9
}

.mini-splitbutton.mini-button-popup .mini-button-text {
    background: #33a1d1
}

body a:hover.mini-splitbutton {
    border-color: #2e59c5;
    background: #2e59c5;
}

body a.mini-splitbutton .mini-button-split:hover,
body a.mini-splitbutton .mini-button-text:hover {
    background-color: #2e59c5;
}

.mini-calendar-header {
    border-bottom: 1px solid #111465;
    background: #111465
}

.mini-calendar-yearPrev {
    background: url(images/calendar/prev_y.png) no-repeat 50% 50%
}

.mini-calendar-monthPrev {
    background: url(images/calendar/prev_m.png) no-repeat 50% 50%
}

.mini-calendar-monthNext {
    background: url(images/calendar/next_m.png) no-repeat 50% 50%
}

.mini-calendar-yearNext {
    background: url(images/calendar/next_y.png) no-repeat 50% 50%
}

.mini-calendar-title {
    color: #fff
}

.mini-calendar-daysheader {
    color: #fff;
    background: #111465
}

.mini-calendar-daysheader td {
    border-bottom-color: #111465
}

.mini-calendar-days {
    background: #111465
}

.mini-calendar-view {
    background: #111465
}

.mini-calendar-days td {
    color: #fff;
    border-color: transparent
}

.mini-calendar .mini-calendar-weekend {
    color: #fff
}

.mini-calendar .mini-calendar-othermonth {
    color: #5665b9
}

.mini-calendar .mini-calendar-selected {
    color: #fff;
    border: 1px solid #4170e6;
    background-color: #4170e6
}

.mini-calendar .mini-calendar-today {
    color: #fff;
    border: 1px solid #5665b9;
    background: #111465
}

.mini-calendar-footer {
    border-top: 1px solid #111465;
    background: #111465
}

.mini-calendar-cancelButton,
.mini-calendar-clearButton,
.mini-calendar-okButton,
.mini-calendar-tadayButton {
    color: #4a79ed;
    background: #111363;
    padding-top: 4px;
    padding-bottom: 4px;
    border: 1px solid #3350c7;
}

.mini-calendar-cancelButton:hover,
.mini-calendar-clearButton:hover,
.mini-calendar-okButton:hover {
    background: #121474
}

.mini-calendar-menu {
    background: #111465
}

.mini-calendar-tadayButton,
.mini-calendar-menu .mini-calendar-okButton {
    background: #122d8b;
    color: #4a79ed;
    padding-top: 4px;
    padding-bottom: 4px;
    border: 1px solid #3350c7;
}

.mini-calendar-tadayButton:hover,
.mini-calendar-menu .mini-calendar-okButton:hover {
    background: #092d9b
}

.mini-calendar-menu-years {
    background: #111363
}

.mini-calendar-menu-year {
    border-color: transparent;
    color: #fff
}

.mini-calendar-menu-month {
    border-color: transparent;
    color: #fff
}

.mini-calendar-menu-selected,
a:hover.mini-calendar-menu-selected,
a:hover.mini-calendar-menu-month {
    color: #fff;
    border: 1px solid #3350c7;
    background: #020829;
}

.mini-calendar-menu-years .mini-calendar-menu-selected,
.mini-calendar-menu-years a:hover.mini-calendar-menu-selected,
a:hover.mini-calendar-menu-year {
    color: #fff;
    border: 1px solid #4170e6;
    background: #4170e6
}

.mini-popupedit.mini-datepicker .mini-buttonedit-trigger .mini-buttonedit-icon {
    background: url("./images/calendar/canendar.png") center no-repeat
}

.mini-listbox-border {
    background: #182a8c;
    border-color: #3350c7
}

.mini-listbox-item-hover {
    background: #4d5eaf;
}

.mini-listbox-item-selected {
    background: #089ad5;
    color: #fff
}

html body .mini-grid .mini-grid-cell-selected {
    background: #0a5497;
}

.mini-grid,
.mini-grid-viewport {
    background: transparent;
}

.mini-grid-headerCell {
    border-color: #fff;
    background: #111363
}

.mini-grid-topRightCell {
    background: #111363
}

.mini-grid-row {
    background: #14247e
}

.mini-grid-row-alt {
    background: #182a8c
}

html body .mini-grid-row-selected {
    background: #089ad5
}

html body .mini-grid-row-hover {
    background: #4d5eaf
}

.mini-grid-pager {
    border-top: 1px solid #3350c7;
    background: #14247e
}

body .mini-grid .mini-grid-cell-error {
    background: #fee2f0
}

.mini-grid-headerCell {
    border-color: #3350c7;
    border-bottom: none
}

.mini-tree-node-hover {
    background: #4d5eaf
}

.mini-tree-selectedNode {
    background: #089ad5
}

.mini-tree-collapse .mini-tree-node-ecicon {
    background-image: url(images/tree_ext/collapse.png)
}

.mini-tree-expand .mini-tree-node-ecicon {
    background-image: url(images/tree_ext/expand.png)
}

.mini-tree-leaf {
    background-image: url(images/tree_ext/leaf.png)
}

.mini-tree-folder {
    background-image: url(images/tree_ext/folder.png)
}

.mini-tree-expand .mini-tree-folder {
    background-image: url(images/tree_ext/folder-open.png)
}

.mini-tree-treeLine .mini-tree-indent {
    background: transparent url(images/tree_ext/treeline.png)
}

.mini-tree-treeLine .mini-tree-node-ecicon {
    background: transparent url(images/tree_ext/treeNodeLine.png)
}

.mini-tree-treeLine .mini-tree-expand .mini-tree-node-ecicon {
    background: transparent url(images/tree_ext/expandLine.png)
}

.mini-tree-treeLine .mini-tree-collapse .mini-tree-node-ecicon {
    background: transparent url(images/tree_ext/collapseLine.png)
}

.mini-tree-treeLine .mini-tree-node-ecicon-last {
    background: transparent url(images/tree_ext/lastline.png) no-repeat
}

.mini-tree-treeLine .mini-tree-expand .mini-tree-node-ecicon-first {
    background: transparent url(images/tree_ext/firstExpandNode.png) no-repeat
}

.mini-tree-treeLine .mini-tree-expand .mini-tree-node-ecicon-last {
    background: transparent url(images/tree_ext/lastExpandNode.png) no-repeat
}

.mini-tree-treeLine .mini-tree-collapse .mini-tree-node-ecicon-first {
    background: transparent url(images/tree_ext/firstCollapseNode.png) no-repeat
}

.mini-tree-treeLine .mini-tree-collapse .mini-tree-node-ecicon-last {
    background: transparent url(images/tree_ext/lastCollapseNode.png) no-repeat
}

.mini-tree-treeLine .mini-tree-expand .mini-tree-node-ecicon-firstLast {
    background: transparent url(images/tree_ext/expand.png) no-repeat
}

.mini-tree-treeLine .mini-tree-collapse .mini-tree-node-ecicon-firstLast {
    background: transparent url(images/tree_ext/collapse.png) no-repeat
}

.mini-tree-treeLine .mini-tree-expand .mini-tree-node-ecicon-firstAndlast {
    background-image: url(images/tree_ext/firstAndlastexpand.png);
    background-position: 50% 50%
}

.mini-tree-treeLine .mini-tree-collapse .mini-tree-node-ecicon-firstAndlast {
    background-image: url(images/tree_ext/firstAndlastcollapse.png);
    background-position: 50% 50%
}

.mini-tree-treeLine .mini-tree-node-ecicon-firstAndlast {
    background-image: url(images/tree_ext/lastline.png);
    background-position: 50% 100%
}

.mini-tree-checkbox {
    background: url("./images/checkbox/checkbox.png") center center no-repeat
}

.mini-tree-checkbox-checked {
    background-image: url("./images/checkbox/checkbox-checked.png")
}

.mini-tree-checkbox-indeterminate {
    background-image: url("./images/checkbox/checkbox-indeterminate.png")
}

.mini-tree-radio {
    background-image: url("./images/radio/radio.png");
}

.mini-grid-row-selected .mini-tree-radio,
.mini-tree-selectedNode .mini-tree-radio {
    background-image: url("./images/radio/radio-checked.png");
}

.mini-filtertree .filter-search-btn,
.mini-filtertree .filter-search-btn:hover {
    background-image: url(images/filtertree/input-search.png)
}

.mini-pager {
    background: #122d8b
}

.mini-popupedit .mini-buttonedit-trigger .mini-buttonedit-icon {
    background: url(images/buttonedit/icon2.png) no-repeat 3px 5px;
}

.mini-pager .mini-button-plain:hover {
    border-color: #2640a9;
    background: #0f2a88
}

body .mini-pager-num {
    background: #111363;
    color: #fff;
    border-color: #3350c7
}

body .mini-pager-size .mini-buttonedit .mini-buttonedit-border {
    border-color: #3350c7
}

.mini-textboxlist-popup {
    background: #fff
}

.mini-textboxlist-border {
    border-color: #3350c7;
    background: #111363
}

.mini-required .mini-textboxlist-border {
    background: #111363
}

.mini-textboxlist-focus .mini-textboxlist-border {
    border-color: #3350c7
}

.mini-textboxlist .mini-textboxlist-item {
    border: 1px solid #14247e;
    background: #14247e;
    color: #fff
}

.mini-textboxlist .mini-textboxlist-item-selected {
    border-color: #3350c7;
    background-color: #3350c7
}

.mini-textboxlist-close {
    background: url(images/textboxlist/close.png) center center no-repeat
}

.mini-window .mini-panel-border,
.mini-window .mini-panel-border, .mini-window.mini-messagebox .mini-panel-border {
    border-color: #2e48b3
}

.mini-window .mini-panel-header {
    background: #020829;
    color: #fff;
}

.mini-window .mini-tools>span:hover {
    background-color: #2e48b3
}

.mini-tools>span.mini-tools-close:hover {
    background-color: #c11717
}

body {
    color: #fff;
    background: #14247e;
}

.mini-radiobuttonlist-item .mini-list-icon {
    background: url(images/radio/radio.png) center center no-repeat
}

.mini-radiobuttonlist-item-selected .mini-list-icon {
    background: url(images/radio/radio-checked.png) center center no-repeat
}

.mini-radiobuttonlist-item .mini-list-icon,
.mini-radiobuttonlist-item .mini-list-icon:active,
.mini-radiobuttonlist-item .mini-list-icon:focus {
    outline: none;
}

.mini-checkbox-check,
.mini-checkbox-icon {
    background: url(images/checkbox/checkbox.png) center center no-repeat
}

.mini-checkbox-checked .mini-checkbox-icon {
    background: url(images/checkbox/checkbox-checked.png) center center no-repeat
}

::-webkit-input-placeholder {
    color: #3f51b5
}

:-moz-placeholder {
    color: #3f51b5
}

::-moz-placeholder {
    color: #3f51b5
}

:-ms-input-placeholder {
    color: #3f51b5
}

.mini-messagebox {
    background: #14227e;
}

.mini-messagebox .mini-panel-header {
    color: #fff;
    border-bottom: 1px solid #3350c7;
    background: #14227e;
}

.mini-messagebox .mini-panel-viewport {
    background: #14227e;
}

.mini-messagebox .mini-messagebox-buttons {
    background: #2640a9;
}

.mini-messagebox .mini-tools .mini-tools-close:hover {
    background-color: transparent;
    background-image: url(images/messagebox/close-hover.png);
}

.mini-colorpicker>.mini-textbox.mini-textbox-focus>.mini-textbox-border {
    border-color: #bdbec1
}

.mini-dataexport>.mini-panel .mini-panel-border {
    border-color: #3350c7;
    background: #111363
}

.mini-export-left,
.mini-export-right {
    border-color: #3350c7
}

.mini-export-list-header {
    border-color: #3350c7;
    background-color: #111363;
    color: #fff
}

.mini-export-listbtn {
    border: 1px solid #3350c7;
    background-color: #111363
}

.mini-export-listbtn:hover {
    background-color: #122d8b
}

.mini-export-listbtn:active {
    background-color: #122d8b
}

.mini-radiobuttonlist .mini-export-num {
    border: 1px solid #3350c7;
    background: #111465;
    color: #fff;
    line-height: 14px;
    height: 14px;
}

.mini-tabstreeselect-header {
    color: #fff;
    background: #2a389e;
    padding-left: 5px;
    border-bottom-color: #1b2073
}

.mini-tabstreeselect-content {
    background-color: #1b2073;
    border-color: #182a8c
}

.mini-tabstreeselect-content .mini-grid {
    background-color: #1b2073
}

.mini-tabstreeselect-tabs>li:hover,
.mini-tabstreeselect-tabs>li.active {
    color: #ede62c;
    background: #1b2073;
    border-color: #1b2073;
    border-bottom-color: transparent
}

.mini-tabstreeselect-header-main {
    background: #1b2073;
    border-color: #1b2073;
    margin-left: 5px;
    color: #fff
}

.mini-tabstreeselect-buttons {
    border-bottom-color: #3350c7
}

.mini-tabstreeselect-item:hover {
    background: #4d5eaf
}

.mini-tabstreeselect-item.selected {
    background: #089ad5;
}

.mini-treelistselect-header {
    color: #fff;
    background-color: #6a9ad1
}

.mini-treelistselect-item:hover {
    background: #fffed5
}

.mini-treelistselect-item.selected {
    background: #dfedfa
}

.mini-uploader-btns .webuploader-pick {
    line-height: 24px;
    background: #4170e6;
    border-color: #4270e6;
}

.mini-uploader-btns .webuploader-pick-hover {
    background: #2e59c5;
}

.mini-uploader-btns .webuploader-pick-disable {
    background: #b3b3b3;
    cursor: not-allowed
}

.mini-grid-checkbox {
    background: url(images/checkbox/checkbox.png) center center no-repeat;
}

.mini-grid-checkbox-checked,
.mini-grid-row-selected .mini-checkcolumn .mini-grid-checkbox {
    background: url(images/checkbox/checkbox-checked.png) center center no-repeat;
}

.mini-buttonedit-icon {
    background: url(images/icon1.gif) center no-repeat;
}

.mini-buttonedit-close {
    background: url('./images/buttonedit/close.gif') center no-repeat;
}

.mini-export-btn {
    border-color: #ed992c;
    background-color: #ed992c;
}

body a:hover.mini-export-btn {
    border-color: #ff9656;
    background: #ff9656;
}

.mini-errorIcon {
    background: url("./images/textbox/error.png") center no-repeat;
}

.mini-tabstreeselect-action.up {
    background-image: url(images/tabstreeselect/up.png)
}

.mini-tabstreeselect-action.up.disabled {
    cursor: not-allowed;
    background-image: url(images/tabstreeselect/up-disabled.png)
}

.mini-tabstreeselect-action.down {
    background-image: url(images/tabstreeselect/down.png)
}

.mini-tabstreeselect-action.down.disabled {
    cursor: not-allowed;
    background-image: url(images/tabstreeselect/down-disabled.png)
}

.mini-tabstreeselect-action.removeall {
    background-image: url(images/tabstreeselect/removeall.png)
}

.mini-tabstreeselect-action.removeall:hover {
    background-image: url(images/tabstreeselect/removeall-hover.png)
}

.mini-tabstreeselect-action.recover {
    right: 10px;
    background-image: url(images/tabstreeselect/recover.png)
}

.mini-tabstreeselect-action.recover:hover {
    background-image: url(images/tabstreeselect/recover-hover.png)
}

.mini-tabstreeselect-action.remove {
    background-image: url(images/tabstreeselect/remove.png)
}

.mini-tabstreeselect-action.remove:hover {
    background-image: url(images/tabstreeselect/remove-hover.png)
}

/* 去掉按钮边框的动画 防止闪动 */
.mini-pager .mini-button {
    -webkit-transition: color .6s cubic-bezier(.175, .885, .32, 1), background-color .6s cubic-bezier(.175, .885, .32, 1);
    transition: color .6s cubic-bezier(.175, .885, .32, 1), background-color .6s cubic-bezier(.175, .885, .32, 1);
}

body .mini-tree .mini-tree-loading .mini-tree-node-ecicon, 
body .mini-tree-loading .mini-treegrid-ec-icon {
    background-color: transparent;
    background-image: url(images/tree_ext/loading.gif) ;
}

.mini-tooltip-inner {
    background: #14247e;
    border-color: #33a1d1;
}
.mini-tooltip-top .mini-tooltip-arrow {
    border-top-color: #33a1d1
}

.mini-tooltip-left .mini-tooltip-arrow {
    border-left-color: #33a1d1
}

.mini-tooltip-right .mini-tooltip-arrow {
    border-right-color: #33a1d1
}

.mini-tooltip-bottom .mini-tooltip-arrow {
    border-bottom-color: #33a1d1
}

.mini-tooltip-bottomleft .mini-tooltip-arrow {
    border-bottom-color: #33a1d1
}

.mini-tooltip-bottomright .mini-tooltip-arrow {
    border-bottom-color: #33a1d1
}

.mini-tooltip-topleft .mini-tooltip-arrow {
    border-top-color: #33a1d1
}

.mini-tooltip-topright .mini-tooltip-arrow {
    border-top-color: #33a1d1
}
.mini-tooltip-bottom .mini-tooltip-arrow:before, 
.mini-tooltip-bottomleft .mini-tooltip-arrow:before, 
.mini-tooltip-bottomright .mini-tooltip-arrow:before {
    border-bottom-color: #14247e;
}
.mini-tooltip-top .mini-tooltip-arrow:before,.mini-tooltip-topleft .mini-tooltip-arrow:before,.mini-tooltip-topright .mini-tooltip-arrow:before { 
    border-top-color: #14247e
}
.mini-tooltip-right .mini-tooltip-arrow:before {
    border-right-color: #14247e
}

.mini-tooltip-left .mini-tooltip-arrow:before {
    border-left-color: #14247e
} 
.switch.mini-checkbox-checked .mini-checkbox-icon {
    background: #041846;
}
.mini-popup {
    background: #132179;
}