
.three-box {
  padding: 20px;
}

.three-header {
  border-top: 2px solid;
  border-top-color: #7bb9ee;
  height: 154px;
  box-sizing: border-box;
  padding: 18px;
  background-color: #f5f5f5;
  position: relative;
}

/* 宸︿晶淇℃伅 */

.info-img {
  border: 1px solid #dadada;
  line-height: 0;
}

.info-img img {
  display: inline-block;
}

.info-title {
  font-size: 16px;
  color: #333;
}

.info-status {
 width: 300px;
 margin-left: 20px;
}

.info-desc {
  font-size: 14px;
  line-height: 22px;
  color: #9aa7b2;
  margin: 10px 0 6px 0;
}

.status-text:before {
  content: '宸插紑鍚�';

}

.close-manage,.init-role-manage {
  display: inline-block;
  cursor: pointer;
}

.close-manage:before {
  content: '鍏抽棴涓夊憳绠＄悊';
  display: inline-block;
  line-height: 26px;
  padding: 0 10px;
  color: #666;
  border: 1px solid;
  border-color: #d6d6d6;
}

.init-role-manage:before {
  content: '鍒濆鍖栦笁鍛樿鑹�';
  display: inline-block;
  line-height: 26px;
  padding: 0 10px;
  color: #666;
  border: 1px solid;
  border-color: #d6d6d6;
}

.close-manage:hover:before {
  border-color: #bdbec1;
}

.init-role-manage:hover:before {
  color: #7bb9ee;
  border-color: #7bb9ee;
}

/* 鍙充晶閫夋嫨 */
.right-content {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  width: 64%;
  position: absolute;
  right: 0;
  top: 20px;
}

.three-item {
  margin-right: 2%;
}

.input-contain {
  width: 156px;
  max-height: 60px;
  overflow-y: auto;
}

.class-input {
  width: 156px;
  border: none;
}

.class-input .mini-textboxlist-border {
  border: none;
}

.input-box {
  border: 1px solid #d6d6d6;
  position: relative;
  width: 180px;
}

.input-add {
  width: 22px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  background-image: url('images/add_icon.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #fff;
}

.input-add:hover {
  background-color: #e5e5e5;
  cursor: pointer;
}

.icon-person {
  padding-left: 20px;
  background-image: url('images/icon_person.png');
  background-repeat: no-repeat;
  background-position-x: 0;
  background-position-y: center;
}

.three-contain {
  position: absolute;
  top: 190px;
  bottom: 20px;
  left: 20px;
  right: 20px;
  border: none;
}

/* 寮圭獥閫夋嫨鏍� */
.three-layer {
  z-index: 100;
  /* display: none; */
}

/* 瑕嗙洊miniui鏍峰紡 */
.three-header .mini-textboxlist .mini-textboxlist-item {
  border-radius: 0;
}

.three-header .mini-textboxlist .mini-textboxlist-item-hover {
  background: #dfedfa;
  /* border: 1px solid #6d95e0; */
}

.three-header .mini-textboxlist-inputLi {
  display: none;
}


/* 鍏抽棴鐘舵�佹牱寮� */
.three-header.close {
  border-color: #feac45;
}

.three-header.close .close-manage:before{
  content: '寮�鍚笁鍛樼鐞�';
  display: inline-block;
  line-height: 26px;
  padding: 0 10px;
  color: #7bb9ee;
  border: 1px solid;
  border-color: #7bb9ee;
}

.three-header.close .close-manage:hover:before{
  border-color: #51a6ef;
}

.three-header.close .status-text:before {
  content:'宸插叧闂�';
}

.three-header.close .right-content {
  display: none;
}

.three-tablelist {
  height: 100%;
  position: relative;
}

.three-tablelist .fui-content {
  height: 100% !important;
  box-sizing: border-box;
  padding-top: 36px;
}

.three-tablelist .fui-toolbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
}

.three-tablelist.close {
  display: none;
}