html #layui_layer_skinwebstylecss {
    display: none;
    position: absolute;
    width: 1989px;
}

body .layer-city .layui-layer-title {
    position: relative;
    *width: 410px;
    height: 32px;
    padding: 0 17px;
    font-size: 16px;
    color: #fff;
    line-height: 32px;
    background-color: #1e8cd3;
    border: 0;
}

body .layer-city .layui-layer-setwin {
    position: absolute;
    top: 8px;
    left: auto;
    bottom: auto;
    right: 10px;
    width: 15px;
    height: 15px;
    cursor: pointer;
}

body .layer-city .layui-layer-close1 {
    margin-left: 0;
    background: url(close.png) 0 0 no-repeat;
}

body .layer-tansparent {
    background-color: transparent;
}

.layui-layer-dialog {
    min-width: auto;
}

.layui-layer-dialog .layui-layer-content {
    color: #fff;
    background-color: rgba(0, 0, 0, .6);
}

/* 自定义皮肤 */
body .layer-confirm {
    /*margin-left: 327px;*/
}

body .layer-confirm .layui-layer-btn {
    padding: 20px;
    text-align: center;
}


body .layer-confirm .layui-layer-btn a {
    width: 128px;
    height: 38px;
    line-height:38px;
    margin: 6px 6px 0;
    padding: 0;
    font-size: 16px;
}