/*
 * @Author: chends
 * @Date: 2018-07-20 08:57:58
 * @LastEditors: chends
 * @LastEditTime: 2018-07-20 10:03:09
 * @Description: eXun 皮肤预定义
 */

/*
 * 重要提示 ：
 * 请勿直接编译此文件使用
 * 正确使用方法为，在需要使用eXun换肤的地方（通常是主接卖弄） 在sass文件中 import 此文件 然后覆盖修改变了值即可
 */

// 左侧背景
$emsg_left_bg:#2590eb !default;
// 发送按钮颜色
$emsg_send_btn_bg:#2590eb !default;
// 自己消息内容的背景色
$my_words_bg:#bfe2ff !default;
.emsg-dialog-left {
    background: $emsg_left_bg
}

.emsg-btn-send {
    background: $emsg_send_btn_bg;
    &:hover {
        background: lighten($emsg_send_btn_bg, 4%);
        color: #fff;
    }
}
.emsg-session-list .emsg-session-item {
    &:hover,
    &.active {
        background: rgba(255,255,255,.6);
    }
}
.emsg-message-item.send .emsg-message-content>div {
    background: $my_words_bg;
}
.emsg-message-item.send .emsg-message-content > div:after {
    border-top-color: $my_words_bg;
}