*
{
    margin: 0;
    padding: 0;
}
body
{
    font-family: 'Microsoft YaHei',arial;
}
html,
body
{
    height: 100%;

}

ul,li {
	list-style: none;
}

.l {
	float: left;
}

.r {
	float: right;
}

.clearfix {
	zoom: 1;
}

.clearfix:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
	zoom:1;
	visibility: hidden;
}

.w-6 {
	width: 50%;
}
.w-6 {
	width: 50%;
}
canvas {
	outline: none;
}

.sample
{
    height: 100%;
}

.icon-btn {
	margin: 0 5px;
}

.content
{
    position: relative;

    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.myDiagramDiv
{
	/*background-image: url('bg.svg');*/
	background-color: #fff;
    height: 100%;
    width: 100%;
   
}