@charset "UTF-8";
/**!
* 数字驾驶舱
* date:2021-02-20
* author: qxy
*/
.fui-content {
  padding: .1rem .2rem 0;
  background: transparent;
  font-size: .16rem;
  color: #EAFFFF;
}

.fui-content.noscroll {
  overflow: hidden;
}

.fui-content .main-middle {
  width: 54.2%;
}

/* 通用样式 */
.box {
  padding-top: .03rem;
  background: url(../images/comperhensiveSituation/box1.png) 0 0/100% 100% no-repeat;
  box-sizing: border-box;
}

.box.box1 {
  width: 22.9%;
  height: 9.55rem;
}

.box.box2 {
  width: 5.7rem;
  height: 4.23rem;
  margin-left: .22rem;
}

.box.box3 {
  width: 3.78rem;
  height: 4.23rem;
  margin-left: .22rem;
}

.box.box4 {
  width: 22.9%;
  height: 9.55rem;
  background-image: url(../images/comperhensiveSituation/box4.png);
}

/* 城市体征-概况 */
.urban-bd {
  padding-left: .1rem;
}

.urban-overview {
  margin-top: .03rem;
}

.urban-overview li {
  float: left;
  min-height: .78rem;
  padding: .08rem 0 0 .91rem;
  background-size: .81rem .78rem;
  background-position: 0 center;
  background-repeat: no-repeat;
  box-sizing: border-box;
}

.urban-overview li:nth-child(1) {
  width: 48%;
  background-image: url(../images/comperhensiveSituation/urban-area.png);
}

.urban-overview li:nth-child(2) {
  width: 52%;
  background-image: url(../images/comperhensiveSituation/urban-gdp.png);
}

.urban-overview .num {
  margin-top: .05rem;
}

.urban-overview .num span {
  margin-right: .02rem;
  font-size: .24rem;
  color: #EEDD78;
}

.urban-target li {
  position: relative;
  float: left;
  width: 50%;
}

.urban-target li:nth-child(1) .target-pie {
  background-image: url(../images/comperhensiveSituation/target-bg1.png);
}

.urban-target li:nth-child(1) .circle {
  background-image: url(../images/comperhensiveSituation/target-circle1.png);
}

.urban-target li:nth-child(1) .num {
  color: #15C6A3;
}

.urban-target li:nth-child(2) .target-pie {
  background-image: url(../images/comperhensiveSituation/target-bg2.png);
}

.urban-target li:nth-child(2) .circle {
  background-image: url(../images/comperhensiveSituation/target-circle2.png);
}

.urban-target li:nth-child(2) .num {
  color: #00BDFF;
}

.urban-target li:nth-child(3) .target-pie {
  background-image: url(../images/comperhensiveSituation/target-bg3.png);
}

.urban-target li:nth-child(3) .circle {
  background-image: url(../images/comperhensiveSituation/target-circle3.png);
}

.urban-target li:nth-child(3) .num {
  color: #809DFB;
}

.urban-target li:nth-child(4) .target-pie {
  background-image: url(../images/comperhensiveSituation/target-bg4.png);
}

.urban-target li:nth-child(4) .circle {
  background-image: url(../images/comperhensiveSituation/target-circle4.png);
}

.urban-target li:nth-child(4) .num {
  color: #29D7E1;
}

.urban-target li.active::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
  width: 100%;
  height: 100%;
  background: url(../images/comperhensiveSituation/target-high.png) 0 0/100% 100% no-repeat;
}

.urban-target .name {
  display: table;
  float: left;
  width: .3rem;
  height: 1.14rem;
  text-align: center;
  line-height: .18rem;
  background: linear-gradient(0deg, rgba(15, 125, 145, 0) 0%, rgba(15, 125, 145, 0.99) 46%, rgba(15, 125, 145, 0.04) 100%);
}

.urban-target .name span {
  display: table-cell;
  vertical-align: middle;
}

.urban-target .target-pie {
  position: relative;
  float: left;
  width: 1.4rem;
  height: .7rem;
  margin: .22rem 0 0 .12rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  overflow: hidden;
}

.urban-target .target-pie .target-chart {
  width: 100%;
  height: 100%;
}

.urban-target .target-pie .circle {
  position: absolute;
  top: .25rem;
  left: 50%;
  margin-left: -.42rem;
  width: .85rem;
  height: .85rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.urban-target .target-pie .num {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: .26rem;
  text-align: center;
}

/* 城市体征 - 人口 */
.population-amount {
  margin-top: .05rem;
  padding-bottom: .09rem;
  text-align: center;
  background: url(../images/comperhensiveSituation/urban-people.png) center bottom/3.95rem 0.33rem no-repeat;
}

.population-amount .amount {
  font-size: .18rem;
}

.population-amount .amount .num {
  margin: 0 .04rem 0 .18rem;
  font-weight: bold;
  color: #00BDFF;
}

.population-amount .amount .unit {
  font-size: .16rem;
  color: #00BDFF;
}

.population-amount .compare {
  color: #57B0DA;
}

.population-amount .compare span {
  display: inline-block;
  padding-left: .2rem;
  background-size: .1rem .13rem;
  background-repeat: no-repeat;
  background-position: .05rem center;
}

.population-amount.up .compare span {
  background-image: url(../images/comperhensiveSituation/up.png);
}

.population-amount.down .compare span {
  background-image: url(../images/comperhensiveSituation/down.png);
}

.population-sex {
  width: 3.94rem;
  margin: .08rem auto 0;
  text-align: center;
}

.population-sex .sex-hd {
  height: .36rem;
  line-height: .36rem;
  background: url(../images/comperhensiveSituation/population-sex.png) 0 0/100% 100% no-repeat;
}

.population-sex .sex-hd li {
  float: left;
  width: 50%;
  cursor: pointer;
}

.population-sex .sex-hd .num {
  margin-left: .15rem;
  color: #00BDFF;
}

.population-sex .sex-hd.high {
  background-image: url(../images/comperhensiveSituation/population-sex-h.png);
}

.population-sex .sex-bd {
  height: .49rem;
  margin-top: .06rem;
  padding-top: .09rem;
  line-height: .4rem;
  background: url(../images/comperhensiveSituation/population-most.png) 0 0/100% 100% no-repeat;
  box-sizing: border-box;
}

.population-sex span {
  margin: 0 .03rem;
  color: #00BDFF;
  font-weight: bold;
}

/* 城市体征 - 城市发展指标及能源用量 */
.urban-energy {
  margin-top: .2rem;
  padding-left: .2rem;
}

.urban-energy li {
  padding-left: .94rem;
  background-size: .89rem .8rem;
  background-repeat: no-repeat;
  background-position: 0 center;
}

.urban-energy li:nth-child(1) {
  background-image: url(../images/comperhensiveSituation/urban-electric.png);
}

.urban-energy li:nth-child(2) {
  background-image: url(../images/comperhensiveSituation/urban-water.png);
}

.urban-energy li:nth-child(3) {
  background-image: url(../images/comperhensiveSituation/urban-gas.png);
}

.urban-energy li + li {
  margin-top: .15rem;
}

.urban-energy .item {
  float: left;
  width: 50%;
  text-align: center;
}

.urban-energy .num span {
  display: inline-block;
  vertical-align: top;
  margin-right: .06rem;
  font-weight: bold;
  font-size: .2rem;
  color: #EEDD78;
}

.urban-energy .compare {
  color: #57B0DA;
}

.urban-energy .compare span {
  margin-left: .06rem;
}

.urban-energy .compare.year-compare span {
  display: inline-block;
  padding-left: .14rem;
  background-size: .1rem .13rem;
  background-repeat: no-repeat;
  background-position: 0 center;
}

.urban-energy .compare[data-status="0"] span {
  background-image: url(../images/comperhensiveSituation/down.png);
}

.urban-energy .compare[data-status="1"] span {
  background-image: url(../images/comperhensiveSituation/up.png);
}

/* 数字晾晒台 */
.brisk-show {
  width: 1.57rem;
  margin-left: .2rem;
}

.brisk-show li {
  margin-top: .16rem;
}

.brisk-show li + li {
  margin-top: .1rem;
}

.brisk-show .name {
  width: 1.14rem;
  height: .3rem;
  margin: 0 auto;
  padding-left: .2rem;
  line-height: .3rem;
  background: linear-gradient(90deg, rgba(15, 125, 145, 0) 0%, rgba(15, 125, 145, 0.42) 46%, rgba(15, 125, 145, 0.04) 100%);
  box-sizing: border-box;
}

.brisk-show .num {
  height: .93rem;
  margin-top: -.09rem;
  padding-top: .18rem;
  text-align: center;
  background: url(../images/comperhensiveSituation/brisk-show.png) 0 0/100% 100% no-repeat;
  box-sizing: border-box;
}

.brisk-show .num span {
  display: inline-block;
  margin-right: .04rem;
  vertical-align: bottom;
  font-size: .24rem;
  color: #EEDD78;
}

.brisk-rank {
  width: 3.42rem;
  margin-left: .16rem;
}

.brisk-tb {
  width: 100%;
  margin-top: .14rem;
  table-layout: fixed;
}

.brisk-tb th {
  height: .32rem;
  line-height: .32rem;
  text-align: center;
  background: rgba(32, 219, 238, 0.23);
}

.brisk-tb td {
  height: .46rem;
  text-align: center;
  color: #00BDFF;
}

.brisk-tb .No {
  font-size: .18rem;
  color: #fff;
}

.brisk-tb .No span {
  display: block;
  background: url(../images/comperhensiveSituation/rank-bg.png) center bottom/0.31rem 0.12rem no-repeat;
}

.brisk-tb .dep {
  color: #fff;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.brisk-tbody tr:nth-child(even) {
  background: rgba(32, 219, 238, 0.07);
}

.brisk-tbody tr:nth-child(-n+3) .No {
  background-size: .3rem .24rem;
  background-repeat: no-repeat;
  background-position: center;
}

.brisk-tbody tr:nth-child(-n+3) .No span {
  display: none;
}

.brisk-tbody tr:nth-child(1) .No {
  background-size: .29rem .23rem;
  background-image: url(../images/comperhensiveSituation/rank1.png);
}

.brisk-tbody tr:nth-child(2) .No {
  background-image: url(../images/comperhensiveSituation/rank2.png);
}

.brisk-tbody tr:nth-child(3) .No {
  background-image: url(../images/comperhensiveSituation/rank3.png);
}

/* 城市智库 */
.urgent-message {
  width: 3.28rem;
  height: .52rem;
  margin-top: .31rem;
  padding: 0 .16rem;
  line-height: .52rem;
  color: #FA5F5F;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  box-sizing: border-box;
  background: url(../images/comperhensiveSituation/urgent-message.png) 0 0/100% 100% no-repeat;
}

.think-tank li {
  float: left;
  width: 1.72rem;
  height: 1.17rem;
  margin-top: .22rem;
  background: url(../images/comperhensiveSituation/think-tank.png) 0 0/100% 100% no-repeat;
  box-sizing: border-box;
}

.think-tank li:nth-child(1) .ico {
  background-image: url(../images/comperhensiveSituation/think-tank-ico1.png);
}

.think-tank li:nth-child(2) .ico {
  background-image: url(../images/comperhensiveSituation/think-tank-ico2.png);
}

.think-tank li:nth-child(3) .ico {
  background-image: url(../images/comperhensiveSituation/think-tank-ico3.png);
}

.think-tank li:nth-child(4) .ico {
  background-image: url(../images/comperhensiveSituation/think-tank-ico4.png);
}

.think-tank .ico {
  width: .85rem;
  height: 100%;
  background-size: .62rem .62rem;
  background-repeat: no-repeat;
  background-position: .18rem center;
}

.think-tank .info {
  padding-top: .28rem;
}

.think-tank .num {
  margin-top: .06rem;
}

.think-tank .num span {
  margin-right: .05rem;
  font-size: .24rem;
  color: #EEDD78;
}

/* 事件预警指标台 */
.warning-overview {
  text-align: center;
}

.warning-overview .num {
  margin-top: .06rem;
}

.warning-overview .num span {
  margin-right: .06rem;
  font-size: .24rem;
  color: #EEDD78;
}

.warning-whole {
  position: relative;
  width: 1.33rem;
  margin: .25rem 0 0 .2rem;
  padding-bottom: .21rem;
  background: url(../images/comperhensiveSituation/waring-whole.png) center bottom/1.33rem 0.33rem no-repeat;
}

.warning-whole::before {
  position: absolute;
  top: .18rem;
  right: -.32rem;
  content: "";
  width: .15rem;
  height: .15rem;
  background: url(../images/comperhensiveSituation/arrow.png) 0 0/100% 100% no-repeat;
}

.warning-status {
  width: 2.03rem;
  height: .93rem;
  margin: .14rem 0 0 0;
  background: url(../images/comperhensiveSituation/warning-status.png) 0 0/100% 100% no-repeat;
}

.warning-status > div {
  float: left;
  width: 50%;
  padding-top: .12rem;
}

.warning-chart {
  z-index: 2;
  position: relative;
  height: 3.96rem;
}

.warning-chart::after {
  position: absolute;
  z-index: -1;
  bottom: -.6rem;
  left: 50%;
  margin-left: -2.24rem;
  content: "";
  width: 4.57rem;
  height: 2.26rem;
  background: url(../images/comperhensiveSituation/warning-chart.png) 0 0/100% 100% no-repeat;
}

.new-warning {
  width: 3.86rem;
  height: 3.46rem;
  margin: 0 auto;
  overflow: auto;
  background: url(../images/comperhensiveSituation/new-warning.png) 0 0/100% 100% no-repeat;
}

.new-warning .hd {
  padding: 0 .18rem .11rem .19rem;
  background: linear-gradient(90deg, rgba(32, 219, 238, 0.12), rgba(32, 219, 238, 0));
}

.new-warning .hd .name {
  max-width: 2.3rem;
  margin-top: .11rem;
  font-size: .18rem;
  color: #fff;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.new-warning .hd .status {
  height: .26rem;
  margin-top: .11rem;
  padding: 0 .09rem;
  color: #EEDD78;
  background: rgba(238, 221, 120, 0.2);
  border: 1px solid rgba(238, 221, 120, 0.37);
  border-radius: 2px;
}

.new-warning .hd .address {
  margin-top: .04rem;
}

.new-warning .bd {
  padding: .07rem .2rem;
}

.new-warning .bd li {
  margin-top: .08rem;
}

.new-warning .bd .name {
  width: 1rem;
}

.new-warning .bd .info {
  width: calc(100% - 1rem);
  color: #00BDFF;
}

.warning-symbol {
  margin: .22rem 0 0 .16rem;
}

.warning-symbol li {
  float: left;
  margin-right: .18rem;
  padding-left: .23rem;
  background-repeat: no-repeat;
  background-size: .17rem .23rem;
  background-position: 0 .05rem;
}

.warning-symbol li:nth-child(1) {
  background-image: url(../images/comperhensiveSituation/symbol2.png);
}

.warning-symbol li:nth-child(2) {
  background-image: url(../images/comperhensiveSituation/symbol1.png);
}

.warning-symbol li:nth-child(3) {
  background-image: url(../images/comperhensiveSituation/symbol0.png);
}

/* 重点领域 */
.key-field {
  margin-bottom: .32rem;
}

.swiper-field {
  margin-top: .2rem;
  padding: 0 .2rem;
}

.swiper-field .swiper-wrapper {
  margin-left: -2rem;
}

.swiper-field .swiper-slide {
  width: 3.9rem;
  height: 4.41rem;
  margin: 0 .08rem;
}

.swiper-field .swiper-slide.swiper-slide-active {
  transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg) !important;
}

.swiper-field .swiper-slide.swiper-slide-next {
  z-index: 1 !important;
  transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg) !important;
}

.swiper-field .swiper-slide.swiper-slide-next .swiper-slide-shadow-right {
  opacity: 0 !important;
}

.swiper-field .swiper-slide.swiper-slide-next + .swiper-slide {
  transform: translate3d(-0.86847rem, 0px, -1.81773rem) rotateX(0deg) rotateY(58.182deg) !important;
}

.swiper-field .swiper-slide.swiper-slide-next + .swiper-slide + .swiper-slide {
  opacity: 0;
}

.swiper-field .swiper-slide.swiper-slide-prev {
  transform: translate3d(0.83325rem, 0px, -1.76453rem) rotateX(0deg) rotateY(-57.8375deg) !important;
}

.field-box {
  width: 3.9rem;
  height: 4.41rem;
  padding: .09rem .15rem 0;
  background: url(../images/comperhensiveSituation/field-bg.png) 0 0/100% 100% no-repeat;
  box-sizing: border-box;
}

.field-hd {
  height: .3rem;
  line-height: .3rem;
}

.field-hd h4 {
  display: inline-block;
  padding: 0 .4rem 0 .13rem;
  font-size: .18rem;
  color: #fff;
  font-weight: bold;
  background: linear-gradient(90deg, rgba(32, 219, 238, 0.2), rgba(32, 219, 238, 0));
  border-left: .04rem solid #20DBEE;
}

.field-hd .arrow {
  width: .14rem;
  height: .28rem;
  background: url(../images/comperhensiveSituation/field-arrow.png) 0 0/100% 100% no-repeat;
}

.field-bd {
  height: calc(100% - .5rem);
}

.field-bd .field-detail {
  height: 2.88rem;
  margin: 0 -.15rem;
  padding: 0 .15rem;
  overflow: auto;
}

.field-type {
  margin-top: .1rem;
}

.field-type li {
  float: left;
  height: .3rem;
  padding: 0 .12rem;
  line-height: .3rem;
  border: 1px solid transparent;
  cursor: pointer;
}

.field-type li.active {
  background: rgba(61, 201, 220, 0.34);
  border: 1px solid #2E98A7;
}

.traffic-list {
  margin-top: .12rem;
}

.traffic-list li {
  margin-top: .09rem;
}

.traffic-list .num {
  color: #00BDFF;
}

.traffic-list .num span {
  margin-right: .08rem;
}

.field-subtitle {
  margin-top: .05rem;
  color: #51C4CA;
}

.field-legend li {
  float: left;
  width: 50%;
  height: .3rem;
  padding-left: .15rem;
  line-height: .3rem;
  box-sizing: border-box;
}

.field-legend li > * {
  float: left;
}

.field-legend .ico {
  width: .12rem;
  height: .12rem;
  margin: .09rem .06rem 0 0;
  border-radius: 2px;
}

.field-legend .name {
  width: .64rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.field-legend .val {
  margin-left: .12rem;
  color: #00BDFF;
}

.chart-field {
  height: 1.3rem;
}

/* iframe */
.mod-iframe {
  z-index: 10;
  position: absolute;
  top: -.1rem;
  left: 100%;
  bottom: 0;
  width: calc(100% - 3.58rem);
  padding: .2rem;
  transform: translateX(0);
  box-sizing: border-box;
  transition: all ease 1000ms;
}

.mod-iframe.show {
  transform: translateX(-100%);
}

.mod-iframe .shadow {
  z-index: -1;
  position: absolute;
  top: .2rem;
  left: .2rem;
  bottom: .2rem;
  right: 0;
  height: 100%;
  box-shadow: -7px 0px 22px 0px rgba(0, 0, 0, 0.43);
}

.mod-iframe iframe {
  width: 100%;
  height: 100%;
}
