@charset "UTF-8";
/**!
* 数字驾驶舱-蓝色头部
* date:2021-03-26
* author: qxy
*/
.header {
  background-image: url(../images/header-blue.png);
}

.nav-item {
  color: #4a86a6;
}

.nav-item.active {
  text-shadow: 0 0 6px #34bfff;
}

.nav-item.active::after {
  background-image: url(../images/nav-active-blue.png);
}

.search-con .search-btn {
  background-image: url(../images/search-ico-blue.png);
}

.search-wrap input {
  border: 1px solid #3494ff;
  background-color: #033459;
  box-shadow: 0 0 7px inset #80d3fe, 0px 2px 10px 0px #061d37;
}

.search-wrap::before {
  background-image: url(../images/search-triangle-blue.png);
}

.search-result {
  background-color: #041e3e;
  box-shadow: 0 0 7px inset #80d3fe, 0px 2px 10px 0px rgba(6, 29, 55, 0.72);
}

.search-result li:hover {
  background-color: #0f4772;
}

::-webkit-input-placeholder {
  color: #5198ca;
}

:-moz-placeholder {
  color: #5198ca;
}

::-moz-placeholder {
  color: #5198ca;
}

:-ms-input-placeholder {
  color: #5198ca;
}

.placeholder {
  color: #5198ca;
}

.notice-con .notice-btn {
  background-image: url(../images/notice-ico-blue.png);
}

.user-con .datetime {
  color: #34bfff;
}

.user-con .quit-btn {
  background-image: url(../images/quit-ico-blue.png);
}

.loc .loc-now {
  color: #34bfff;
  background-image: url(../images/loc-bg-blue.png);
}

.loc .loc-now span {
  background-image: url(../images/loc-ico-blue.png);
}

.swiper-nav .swiper-btn.swiper-prev {
  background-image: url(../images/arrow-prev-blue.png);
}

.swiper-nav .swiper-btn.swiper-next {
  background-image: url(../images/arrow-next-blue.png);
}

.nav-level .level-parent {
  color: #33beff;
  background-image: url(../images/nav-level-blue.png);
}
