@charset "UTF-8";
/**!
 * 数字驾驶舱-事件预警指标台
 * date:2021-03-02
 * author: qxy
 */
/* 整体结构 */
.fui-content {
  padding: .16rem .2rem .06rem;
}

.main-l,
.main-r {
  width: 29.3%;
}

.main-m {
  width: 41.4%;
  padding: 0 .2rem;
  box-sizing: border-box;
}

.box {
  position: relative;
  padding-top: .02rem;
  box-sizing: border-box;
  background-position: 0 0;
  background-size: 100% 100%;
}

.box + .box {
  margin-top: .18rem;
}

/* 大厅运营情况 */
.box1 {
  height: 4.65rem;
  background-image: url(../images/specialColumn/box1.jpg);
}

.operate-handle {
  margin-top: .04rem;
}

.operate-handle + .operate-handle {
  margin-top: .07rem;
}

.operate-handle > div {
  float: left;
  width: 50%;
  padding-left: .15rem;
  box-sizing: border-box;
}

.operate-handle .name {
  margin-bottom: .07rem;
  font-weight: bold;
}

.opearte-compare {
  margin-top: -.07rem;
  text-align: center;
  color: #fff;
}

.opearte-compare .num {
  margin-top: -.02rem;
  padding-left: .15rem;
  font-weight: bold;
  background-repeat: no-repeat;
  background-position: 0 center;
  background-size: .11rem .12rem;
}

.opearte-compare.up .num {
  color: #FF3222;
  background-image: url(../images/specialColumn/up.png);
}

.opearte-compare.down .num {
  color: #00FFF2;
  background-image: url(../images/specialColumn/down.png);
}

.scroll {
  position: relative;
  display: inline-block;
  height: .4rem;
  line-height: .4rem;
  vertical-align: middle;
}

.scroll::after {
  content: '件';
  position: absolute;
  right: -.2rem;
  bottom: -.08rem;
  white-space: nowrap;
}

.scroll .item {
  position: relative;
  display: inline-block;
  width: .34rem;
  height: 100%;
  margin: 0 .02rem;
  vertical-align: top;
  text-align: center;
  font-size: .3rem;
  color: #EEDD78;
  background: url(../images/specialColumn/num-bg.png) 0 0/100% 100% no-repeat;
}

.scroll .item:first-child {
  margin-left: 0 !important;
}

.scroll .item:first-child:before {
  display: none;
}

.scroll .item > .sequence {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.scroll .item > .sequence > span {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  text-align: center;
  height: 1000%;
  transition: top 2s ease;
}

.scroll .item > .sequence > span > i {
  display: block;
  height: 10%;
  font-style: normal;
}

.finish-rate {
  margin-top: .09rem;
}

.finish-rate li {
  float: left;
  width: 50%;
  padding-left: .15rem;
  box-sizing: border-box;
}

.finish-rate li p {
  height: .4rem;
  line-height: .4rem;
  text-align: center;
  background-size: 100% 100%;
}

.finish-rate li.on-time p {
  color: #00FCFF;
  background-image: url(../images/specialColumn/on-time.png);
}

.finish-rate li.overdue p {
  color: #FF0000;
  background-image: url(../images/specialColumn/overdue.png);
}

.chart-title {
  margin-top: .12rem;
  color: #fff;
}

.chart-handle {
  height: 1.77rem;
}

/* 事项分析 */
.box2 {
  height: 2.13rem;
  background-image: url(../images/specialColumn/box2.jpg);
}

.amount {
  position: absolute;
  top: 0;
  right: .18rem;
  width: .9rem;
  height: .7rem;
  padding-top: .08rem;
  text-align: center;
  box-sizing: border-box;
  background: url(../images/specialColumn/amount-bg.png) 0 bottom/100% 100% no-repeat;
}

.amount .name {
  color: #00C7F2;
}

.amount .num {
  margin-top: -.02rem;
  color: #00FCFF;
}

.analysis-title {
  margin: .11rem 0 0 .12rem;
  font-weight: bold;
  font-size: .18rem;
  color: #fff;
  text-shadow: 0 0 6px #20dbee;
}

.chart-pie {
  width: 35.6%;
  height: 1.33rem;
}

.analysis-legend {
  display: table;
  height: 1.33rem;
  width: calc(64.4% + .1rem);
  margin: -.1rem 0 0 -.1rem;
}

.analysis-legend > ul {
  display: table-cell;
  vertical-align: middle;
}

.analysis-legend li {
  float: left;
  width: 50%;
  height: .34rem;
  padding-left: .16rem;
  line-height: .34rem;
  box-sizing: border-box;
}

.analysis-legend .ico {
  float: left;
  width: .12rem;
  height: .12rem;
  margin-top: .12rem;
  border-radius: 2px;
}

.analysis-legend .info {
  margin-left: .19rem;
  height: 100%;
}

.analysis-legend .name {
  display: block;
  margin-right: .65rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.analysis-legend .val {
  float: right;
  text-align: right;
}

.analysis-legend .val span {
  margin-right: .03rem;
  color: #00FFF2;
}

/* 窗口统计 */
.box3 {
  height: 2.28rem;
  background-image: url(../images/specialColumn/box3.jpg);
}

.window-statistic {
  margin-top: .12rem;
}

.window-statistic li {
  float: left;
  width: 14.28%;
  min-height: 1.42rem;
  text-align: center;
  background-position: center 0;
  background-size: .32rem 1.42rem;
  background-repeat: no-repeat;
}

.window-statistic li:nth-child(1) {
  background-image: url(../images/specialColumn/window-analysis1.png);
}

.window-statistic li:nth-child(1) .val {
  color: #00FFF2;
}

.window-statistic li:nth-child(2) {
  background-image: url(../images/specialColumn/window-analysis2.png);
}

.window-statistic li:nth-child(2) .val {
  color: #FFD200;
}

.window-statistic li:nth-child(3) {
  background-image: url(../images/specialColumn/window-analysis3.png);
}

.window-statistic li:nth-child(3) .val {
  color: #20A8FF;
}

.window-statistic li:nth-child(4) {
  background-image: url(../images/specialColumn/window-analysis4.png);
}

.window-statistic li:nth-child(4) .val {
  color: #FF689A;
}

.window-statistic li:nth-child(5) {
  background-image: url(../images/specialColumn/window-analysis5.png);
}

.window-statistic li:nth-child(5) .val {
  color: #47FE94;
}

.window-statistic li:nth-child(6) {
  background-image: url(../images/specialColumn/window-analysis6.png);
}

.window-statistic li:nth-child(6) .val {
  color: #FF8D39;
}

.window-statistic li:nth-child(7) {
  background-image: url(../images/specialColumn/window-analysis7.png);
}

.window-statistic li:nth-child(7) .val {
  color: #83A6FF;
}

.window-statistic .No {
  line-height: .32rem;
  font-weight: bold;
}

.window-statistic .name {
  height: 1rem;
  margin-top: .16rem;
  padding: 0 .3rem;
  line-height: .18rem;
  word-break: break-word;
}

.window-statistic .val {
  margin-top: -.05rem;
  font-weight: bold;
}

.window-statistic .val span {
  margin-right: .03rem;
}

/* 政务服务拥挤通道 */
.channel {
  position: relative;
  height: 7.44rem;
  padding-top: .05rem;
  background: url(../images/specialColumn/channel-bg.png) 0 0/100% 1.18rem no-repeat;
}

.warning-list {
  margin-top: .16rem;
  padding-left: .8rem;
}

.warning-list li {
  float: left;
  width: 33.33%;
}

.warning-list li:nth-child(1) span {
  background-image: url(../images/specialColumn/channel-ico1.png);
}

.warning-list li:nth-child(2) span {
  background-image: url(../images/specialColumn/channel-ico2.png);
}

.warning-list li:nth-child(3) span {
  background-image: url(../images/specialColumn/channel-ico3.png);
}

.warning-list li span {
  display: block;
  height: .52rem;
  padding-left: .55rem;
  line-height: .52rem;
  background-size: .45rem .52rem;
  background-repeat: no-repeat;
  background-position: 0 center;
}

.chart-map {
  position: relative;
  height: calc(100% - 1.05rem);
}

.chart-map > div {
  z-index: 2;
}

.chart-map::after {
  position: absolute;
  bottom: -1.1rem;
  left: 50%;
  margin-left: -3.8rem;
  content: "";
  width: 7.6rem;
  height: 2.97rem;
  background: url(../images/specialColumn/map-bg.png) 0 0/100% 100% no-repeat;
}

.yangtze {
  z-index: 3;
  position: absolute;
  bottom: .18rem;
  right: 0;
  width: 2.4rem;
  height: 2.8rem;
  text-align: center;
  padding: 1px;
  background: url(../images/specialColumn/yangtze-bg.png) 0 0/100% 100% no-repeat;
  box-sizing: border-box;
}

.yangtze .title {
  height: .34rem;
  line-height: .34rem;
  font-family: "YS";
  font-size: .22rem;
  color: #00FFF2;
  background: url(../images/specialColumn/yangtze-title.png) center 0/2.11rem 0.34rem no-repeat;
}

.yangtze .num {
  margin-top: .16rem;
  font-weight: bold;
}

.yangtze .num span {
  display: inline-block;
  font-size: .24rem;
  color: #00FFF2;
}

.yangtze .chart-yangtze {
  position: relative;
  height: 1.99rem;
  color: #fff;
  background: url(../images/specialColumn/yangtze-map.png) center 0.1rem/1.1rem 1.6rem no-repeat;
}

.yangtze .chart-yangtze p {
  position: absolute;
}

.yangtze .chart-yangtze .js {
  top: .37rem;
  right: .6rem;
}

.yangtze .chart-yangtze .sh {
  top: .78rem;
  right: .23rem;
}

.yangtze .chart-yangtze .ah {
  top: .64rem;
  left: .5rem;
}

.yangtze .chart-yangtze .zj {
  right: .75rem;
  bottom: .54rem;
}

/* 中心窗口 */
.box4 {
  height: 1.93rem;
  background-image: url(../images/specialColumn/box4.jpg);
}

.moniter {
  margin: .03rem .2rem 0 0;
  padding-right: .2rem;
  color: #00FCFF;
  background: url(../images/specialColumn/moniter.png) right center/0.14rem 0.14rem no-repeat;
}

.center-window {
  margin-top: .16rem;
}

.center-window li {
  float: left;
  width: 20%;
  text-align: center;
}

.center-window .name {
  margin-top: .03rem;
  padding: 0 .1rem;
  box-sizing: border-box;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* 综合满意度 */
.box5 {
  height: 2.39rem;
  background-image: url(../images/specialColumn/box5.jpg);
}

.chart-satisfy {
  width: 36.7%;
  height: 100%;
}

.chart-satisfy > div {
  position: relative;
  width: 1.36rem;
  height: 1.36rem;
  margin: .27rem auto 0;
  background: url(../images/specialColumn/satisfy-chart.png) 0 0/100% 100% no-repeat;
}

.chart-satisfy > div::after {
  position: absolute;
  bottom: -.12rem;
  left: 50%;
  margin-left: -.75rem;
  content: "";
  width: 1.5rem;
  height: .57rem;
  background: url(../images/specialColumn/satisfy-ornament.png) 0 0/100% 100% no-repeat;
}

.satisfy-list {
  width: 63.3%;
  margin-top: .03rem;
  padding-left: .2rem;
  box-sizing: border-box;
}

.satisfy-list li + li {
  margin-top: .08rem;
}

.satisfy-list li:nth-child(1) .name {
  background-image: url(../images/specialColumn/satisfy-smile1.png);
}

.satisfy-list li:nth-child(1) .bar {
  background-image: url(../images/specialColumn/satisfy-bar-bg1.png);
}

.satisfy-list li:nth-child(1) .inner {
  background-image: url(../images/specialColumn/satisfy-bar1.png);
}

.satisfy-list li:nth-child(1) .val {
  color: #00FFF2;
}

.satisfy-list li:nth-child(2) .name {
  background-image: url(../images/specialColumn/satisfy-smile2.png);
}

.satisfy-list li:nth-child(2) .bar {
  background-image: url(../images/specialColumn/satisfy-bar-bg2.png);
}

.satisfy-list li:nth-child(2) .inner {
  background-image: url(../images/specialColumn/satisfy-bar2.png);
}

.satisfy-list li:nth-child(2) .val {
  color: #008AFF;
}

.satisfy-list li:nth-child(3) .name {
  background-image: url(../images/specialColumn/satisfy-smile3.png);
}

.satisfy-list li:nth-child(3) .bar {
  background-image: url(../images/specialColumn/satisfy-bar-bg3.png);
}

.satisfy-list li:nth-child(3) .inner {
  background-image: url(../images/specialColumn/satisfy-bar3.png);
}

.satisfy-list li:nth-child(3) .val {
  color: #FF3940;
}

.satisfy-list .name {
  margin-bottom: .07rem;
  padding-left: .2rem;
  background-size: .16rem .16rem;
  background-position: 0 center;
  background-repeat: no-repeat;
}

.satisfy-list .bar {
  width: 2.38rem;
  height: .2rem;
  margin-right: .7rem;
  background-size: 100% 100%;
}

.satisfy-list .inner {
  display: block;
  height: 100%;
  background-size: 2.38rem 100%;
}

.satisfy-list .val {
  line-height: .2rem;
}

/* 一体机分析 */
.box6 {
  height: 2.77rem;
  background-image: url(../images/specialColumn/box6.jpg);
}

.aio-basic {
  width: 50.2%;
  padding-left: .07rem;
  box-sizing: border-box;
}

.aio-basic .basic-info {
  margin-top: .08rem;
}

.aio-basic li {
  height: .53rem;
  line-height: .52rem;
  background: url(../images/specialColumn/aio-basic.png) -0.15rem 0/2.52rem 0.53rem no-repeat;
}

.aio-basic li + li {
  margin-top: .11rem;
}

.aio-basic li:nth-child(1) .name {
  background-image: url(../images/specialColumn/aio-basic-ico1.png);
  background-size: .16rem .2rem;
}

.aio-basic li:nth-child(2) .name {
  background-image: url(../images/specialColumn/aio-basic-ico2.png);
  background-size: .2rem .17rem;
}

.aio-basic li:nth-child(3) .name {
  background-image: url(../images/specialColumn/aio-basic-ico3.png);
  background-size: .19rem .18rem;
}

.aio-basic li p {
  float: left;
}

.aio-basic li .name {
  width: 1.45rem;
  padding-left: .32rem;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: .07rem center;
}

.aio-basic li .val {
  display: inline-block;
  vertical-align: top;
  margin-right: .03rem;
  font-size: .2rem;
  color: #EEDD78;
}

.aio-top {
  width: 49.8%;
}

.aio-top .top-list {
  margin-top: .06rem;
}

.aio-top li {
  height: .37rem;
  padding-right: .05rem;
  line-height: .37rem;
}

.aio-top li:nth-child(1) .name {
  background-image: url(../images/specialColumn/top1.png);
}

.aio-top li:nth-child(1) .val {
  color: #FFCD00;
}

.aio-top li:nth-child(2) .name {
  background-image: url(../images/specialColumn/top2.png);
}

.aio-top li:nth-child(2) .val {
  color: #FF5282;
}

.aio-top li:nth-child(3) .name {
  background-image: url(../images/specialColumn/top3.png);
}

.aio-top li:nth-child(3) .val {
  color: #00FCFF;
}

.aio-top li:nth-child(4) .name {
  background-image: url(../images/specialColumn/top4.png);
}

.aio-top li:nth-child(4) .val {
  color: #2CA3FF;
}

.aio-top li:nth-child(5) .name {
  background-image: url(../images/specialColumn/top5.png);
}

.aio-top li:nth-child(5) .val {
  color: #6C96FF;
}

.aio-top li:nth-child(1) .name {
  background-size: .28rem .22rem;
}

.aio-top li .name {
  height: 100%;
  padding-left: .38rem;
  background-position: 0 center;
  background-repeat: no-repeat;
  background-size: .32rem .1rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 1.5rem;
}

.aio-title {
  margin-top: .07rem;
  font-weight: bold;
}

/* 村村办件 && 上门服务 */
.box7 {
  height: 1.83rem;
  background-image: url(../images/specialColumn/box7.jpg);
}

.village-item {
  position: relative;
  z-index: 11;
  float: left;
  width: 20%;
  padding-top: .19rem;
  text-align: center;
}

.village-item .ico {
  height: .68rem;
  background: url(../images/specialColumn/handle-floor.png) center bottom/0.89rem 0.68rem no-repeat;
}

.village-item .name {
  margin-top: -.05rem;
  padding: 0 .1rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.village-item .val span {
  margin-right: .04rem;
  font-size: .2rem;
  color: #EEDD78;
}
