@charset "UTF-8";

/**!
* 数字驾驶舱-tab内容临时页面
* date:2021-02-26
* author: guohanyu;
*/
body {
  background-color: #052531;
}

/* 预案信息 */
.content {
  box-sizing: border-box;
  padding: .2rem .14rem;
  font-size: .16rem;
  height: 100%;
  overflow: auto;
}

.theme-title {
  position: relative;
  margin: 0 0 0 .05rem;
  padding-left: .1rem;
  height: .35rem;
  line-height: .35rem;
  font-weight: bold;
  background-image: -moz-linear-gradient(to right, rgba(67, 143, 160, 0.251) 0%, rgba(67, 143, 160, 0) 80%, rgba(67, 143, 160, 0) 100%);
  background-image: -webkit-linear-gradient(to right, rgba(67, 143, 160, 0.251) 0%, rgba(67, 143, 160, 0) 80%, rgba(67, 143, 160, 100) 0%);
  background-image: -ms-linear-gradient(to right, rgba(67, 143, 160, 0.251) 0%, rgba(67, 143, 160, 0) 80%, rgba(67, 143, 160, 0) 100%);
  background-image: linear-gradient(to right, rgba(67, 143, 160, 0.251) 0%, rgba(67, 143, 160, 0) 80%, rgba(67, 143, 160, 0) 100%);
}

.theme-title::before {
  position: absolute;
  top: 0;
  left: -.05rem;
  width: .03rem;
  height: 100%;
  content: '';
  background-color: #339cb3;
}

.theme .subtext {
  margin: .1rem 0 .15rem 0;
  line-height: .25rem;
}

.theme .subtitle {
  position: relative;
  padding-left: .15rem;
  line-height: .20rem;
  color: #36c3b4;
}

.theme .subtitle::before {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: .06rem;
  height: .06rem;
  content: '';
  background-color: rgb(54, 195, 180);
  border-radius: 50%;
}

/* 周边分析 */
.periphery-table {
  margin-top: .15rem;
  padding-right: .1rem;
  width: 100%;
}

.periphery-thead-tr {
  background-color: #0f5b6d;
}

.periphery-th {
  padding-left: .2rem;
  height: .32rem;
  vertical-align: middle;
  text-align: left;
}

.tableshow {
  height: 5.55rem;
  height: calc(100% - 1rem);
  overflow: auto;
}

.periphery-table-tbody {
  width: 100%;
}

.periphery-tbody-tr:nth-child(2n+2) {
  background-image: -moz-linear-gradient(to right, #0b3f4e 100%, #0c4150 0%);
  background-image: -webkit-linear-gradient(to right, #0b3f4e 100%, #0c4150 0%);
  background-image: -ms-linear-gradient(to right, #0b3f4e 100%, #0c4150 0%);
  background-image: linear-gradient(to right, #0b3f4e 100%, #0c4150 0%);
}

.periphery-tbody-td {
  line-height: .3rem;
  padding: .1rem .2rem;
  vertical-align: middle;
}

.periphery-tbody-td.value {
  color: #00bdff;
}

.nodatashow {
  display: block;
  height: 100%;
  background: url("../images/nodata.png") no-repeat center;
}

.nodatashow.hide {
  display: none;
}


/* 事件动态 */
.condition .condition-row+.condition-row {
  margin-top: .1rem;
}

.condition-span {
  height: .35rem;
  line-height: .35rem;
}

.condition .optionbtn {
  margin-left: .1rem;
  width: .42rem;
  height: .35rem;
  background-image: url("../images/tab-close-icon.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

.condition .optionbtn.active {
  background-image: url("../images/tab-open-icon.png");
  background-size: 100% 100%;
}

.datashow {
  margin-top: .15rem;
  height: calc(100% - 1rem);
  overflow: auto;
}

.info-item {
  position: relative;
}

.info-items>.info-item+.info-item {
  margin-top: .15rem;
}

.info-item::before {
  position: absolute;
  top: .12rem;
  left: .12rem;
  bottom: .12rem;
  width: .01rem;
  content: '';
  background-color: #145b5e;
}

.info-head {
  height: .24rem;
  line-height: .24rem;
}

.info-show-btn {
  position: relative;
  z-index: 99;
  margin-right: .11rem;
  width: .24rem;
  height: .24rem;
  border-radius: 50%;
  background-color: rgb(54, 195, 180);
}

.info-show-btn::before {
  position: absolute;
  top: 0;
  left: .03rem;
  width: .24rem;
  height: .24rem;
  content: '-';
  font-size: .4rem;
  line-height: .16rem;
  color: #fff;
}

.info-show-btn.active::before {
  position: absolute;
  top: 0;
  left: .01rem;
  width: .24rem;
  height: .24rem;
  content: '+';
  font-size: .3rem;
  line-height: .2rem;
  color: #fff;
}

.info-detial-items {
  box-sizing: border-box;
  padding-left: .35rem;
}

.info-detial-hd {
  position: relative;
  margin: .07rem 0;
  height: .35rem;
  line-height: .35rem;
}

.info-detial-hd::before {
  position: absolute;
  top: 50%;
  left: -0.32rem;
  transform: translateY(-50%);
  width: .17rem;
  height: .17rem;
  content: '';
  background: url("../images/item-icon.png") no-repeat center;
  background-size: 100% 100%;
}

.info-detial-typevalue {
  margin-left: .1rem;
}

.info-detial-bd {
  box-sizing: border-box;
  padding: .1rem;
  height: 1.35rem;
  background-image: -moz-linear-gradient(to bottom, #0e5763 0%, #0c3a48 80%);
  background-image: -webkit-linear-gradient(to bottom, #0e5763 0%, #0c3a48 80%);
  background-image: -ms-linear-gradient(to bottom, #0e5763 0%, #0c3a48 80%);
  background-image: linear-gradient(to bottom, #0e5763 0%, #0c3a48 80%);
}

.info-detail-title {
  color: #00bdff;
  font-weight: bold;
}

.text-container {
  height: .6rem;
 overflow: hidden;
 padding: .05rem 0 .05rem 0;
 box-sizing: border-box;
}

.info-detial-text {
  line-height: .29rem;
}

.info-detial-bar {
  height: .3rem;
  line-height: .3rem;
}

.info-detial-bar .author {
  color: #14969b;
}

.option-btn {
  margin: 0 .05rem;
  width: .3rem;
  height: .3rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.option-btn.phone {
  background-image: url("../images/option-btn-phone.png");
}

.option-btn.msg {
  background-image: url("../images/option-btn-msg.png");
}