@charset "UTF-8";
/**!
 * 数字驾驶舱-事件预警指标台
 * date:2021-02-24
 * author: qxy
 */
.fui-content {
  height: 100%;
  overflow: hidden;
}

.box {
  height: 100%;
  padding-top: .03rem;
  background: url(../images/warningPlatform/bg.jpg) 0 0/100% 100% no-repeat;
  box-sizing: border-box;
}

.box .bd-l {
  width: 55.8%;
  height: 100%;
}

.box .bd-r {
  width: 44.2%;
  height: 100%;
}

/* 左侧 */
.warning-amount {
  width: 52%;
  text-align: center;
}

.warning-amount .num {
  margin-top: .06rem;
}

.warning-amount .num span {
  margin-right: .06rem;
  font-size: .28rem;
  color: #EEDD78;
}

.warning-whole {
  position: relative;
  width: 1.33rem;
  margin: .25rem 0 0 .2rem;
  padding-bottom: .21rem;
  background: url(../images/comperhensiveSituation/waring-whole.png) center bottom/1.33rem 0.33rem no-repeat;
}

.warning-whole::before {
  position: absolute;
  top: .18rem;
  right: -.32rem;
  content: "";
  width: .15rem;
  height: .15rem;
  background: url(../images/comperhensiveSituation/arrow.png) 0 0/100% 100% no-repeat;
}

.warning-status {
  width: 2.03rem;
  height: .93rem;
  margin: .14rem 0 0 .42rem;
  background: url(../images/comperhensiveSituation/warning-status.png) 0 0/100% 100% no-repeat;
}

.warning-status > div {
  float: left;
  width: 50%;
  padding-top: .12rem;
}

.warning-status .num span {
  font-size: .24rem;
}

.warning-chart {
  z-index: 2;
  position: relative;
  height: calc(100% - 1.1rem);
}

.warning-chart::after {
  position: absolute;
  z-index: -1;
  bottom: .2rem;
  left: 50%;
  margin-left: -3.8rem;
  content: "";
  width: 7.6rem;
  height: 2.97rem;
  background: url(../images/warningPlatform/map-bg.png) 0 0/100% 100% no-repeat;
}

.warning-symbol {
  width: 48%;
  margin-top: .46rem;
}

.warning-symbol li {
  float: left;
  margin-right: .18rem;
  padding-left: .23rem;
  background-repeat: no-repeat;
  background-size: .17rem .23rem;
  background-position: 0 .05rem;
}

.warning-symbol li:nth-child(1) {
  background-image: url(../images/comperhensiveSituation/symbol2.png);
}

.warning-symbol li:nth-child(2) {
  background-image: url(../images/comperhensiveSituation/symbol1.png);
}

.warning-symbol li:nth-child(3) {
  background-image: url(../images/comperhensiveSituation/symbol0.png);
}

/* 右侧-概况信息 */
.warning-overview {
  height: 2.23rem;
  margin-bottom: .03rem;
  border: 1px solid;
  border-image: linear-gradient(180deg, rgba(22, 153, 173, 0.4), rgba(5, 97, 111, 0.02)) 10 10;
  border-bottom: none;
  background: linear-gradient(180deg, rgba(0, 227, 255, 0.18), rgba(0, 227, 255, 0));
  box-sizing: border-box;
}

.warning-overview > .info {
  background: linear-gradient(90deg, rgba(32, 219, 238, 0.12), rgba(32, 219, 238, 0));
}

.warning-overview .hd {
  padding: .12rem .2rem 0;
}

.warning-overview .hd .name {
  font-size: .22rem;
}

.warning-overview .hd .status {
  padding: 0 .09rem;
  height: .27rem;
  color: #EEDD78;
  background: rgba(238, 221, 120, 0.15);
  border: 1px solid rgba(238, 221, 120, 0.37);
  border-radius: 2px;
}

.warning-overview .describe {
  height: 1.02rem;
  padding: 0.06rem .3rem 0.12rem .2rem;
  line-height: .28rem;
  box-sizing: border-box;
}

.info-list {
  margin-top: .08rem;
}

.info-list li {
  float: left;
  width: 31.5%;
  padding-left: .2rem;
  line-height: .3rem;
  box-sizing: border-box;
}

.info-list li > * {
  float: left;
}

.info-list li:nth-child(even) {
  width: 68.5%;
}

.info-list .name {
  width: .91rem;
}

.info-list .detail {
  color: #00BDFF;
}

/* 右侧-tab */
.warning-tab {
  height: calc(100% - 2.53rem);
  border: 1px solid;
  border-image: linear-gradient(180deg, rgba(22, 153, 173, 0.4), rgba(5, 97, 111, 0.02)) 10 10;
  border-bottom: none;
  background: linear-gradient(180deg, rgba(0, 227, 255, 0.08), rgba(0, 227, 255, 0));
  box-sizing: border-box;
}

.tab-hd {
  padding: .3rem 0 0 .04rem;
}

.tab-hd li {
  width: 1.24rem;
  padding: 0 0.52rem .13rem .32rem;
  text-align: center;
  line-height: .25rem;
  box-sizing: border-box;
  font-size: .2rem;
  font-weight: bold;
  color: #4A91A6;
  background: url(../images/warningPlatform/tab-bg.png) center bottom/1.24rem 0.38rem no-repeat;
  cursor: pointer;
}

.tab-hd li + li {
  margin-top: .15rem;
}

.tab-hd li.active {
  color: #fff;
  text-shadow: 0 0 6px rgba(32, 219, 238, 0.5);
  background-image: url(../images/warningPlatform/tab-bg-h.png);
}

.tab-bd {
  height: 100%;
  margin-left: 1.42rem;
}

.tab-bd > div {
  height: 100%;
  padding: .22rem .24rem 0 0;
  box-sizing: border-box;
}

.scroll {
  overflow: auto;
}

.scroll.dynamic-scroll {
  margin-top: .16rem;
  height: calc(100% - 1rem);
}

.scroll.organization-bd {
  height: calc(100% - .36rem);
}

.scroll.circum-scroll {
  height: calc(100% - .88rem);
}

.scroll.dispatcher-task {
  height: 100%;
}

.scroll.statistics-scroll {
  height: calc(100% - .42rem);
}

.scroll.detail-bd {
  height: calc(100% - .42rem);
}

/* 事件动态 */
.dynamic-condition .row {
  height: .36rem;
}

.dynamic-condition .row + .row {
  margin-top: .1rem;
}

.dynamic-condition .col {
  float: left;
}

.dynamic-condition .col.col1 {
  width: 40.3%;
}

.dynamic-condition .col.col1 .mini-buttonedit {
  width: calc(100% - .66rem);
}

.dynamic-condition .col.col2 {
  width: 41.5%;
}

.dynamic-condition .col.col2 .mini-buttonedit {
  width: calc(100% - .8rem);
}

.dynamic-condition .col.col3 {
  width: 18.2%;
}

.dynamic-condition .txt {
  margin-right: .11rem;
  line-height: .36rem;
}

.dynamic-condition .optionbtn {
  width: .42rem;
  height: .35rem;
  background-image: url("../images/tab-close-icon.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

.dynamic-condition .optionbtn.active {
  background-image: url("../images/tab-open-icon.png");
  background-size: 100% 100%;
}

.info-item {
  position: relative;
}

.info-items > .info-item + .info-item {
  margin-top: .15rem;
}

.info-item::before {
  position: absolute;
  top: .12rem;
  left: .12rem;
  bottom: .12rem;
  width: .01rem;
  content: '';
  background-color: #145b5e;
}

.info-head {
  height: .24rem;
  line-height: .24rem;
}

.info-show-btn {
  position: relative;
  z-index: 99;
  margin-right: .11rem;
  width: .24rem;
  height: .24rem;
  border-radius: 50%;
  background-color: #36c3b4;
}

.info-show-btn::before {
  position: absolute;
  top: 0;
  left: .03rem;
  width: .24rem;
  height: .24rem;
  content: '-';
  font-size: .4rem;
  line-height: .16rem;
  color: #fff;
}

.info-show-btn.active::before {
  position: absolute;
  top: 0;
  left: .01rem;
  width: .24rem;
  height: .24rem;
  content: '+';
  font-size: .3rem;
  line-height: .2rem;
  color: #fff;
}

.info-detial-items {
  box-sizing: border-box;
  padding-left: .35rem;
}

.info-detial-hd {
  position: relative;
  margin: .07rem 0;
  height: .35rem;
  line-height: .35rem;
}

.info-detial-hd::before {
  position: absolute;
  top: 50%;
  left: -0.32rem;
  transform: translateY(-50%);
  width: .17rem;
  height: .17rem;
  content: '';
  background: url("../images/item-icon.png") no-repeat center;
  background-size: 100% 100%;
}

.info-detial-typevalue {
  margin-left: .1rem;
}

.info-detial-bd {
  box-sizing: border-box;
  padding: .1rem;
  height: 1.35rem;
  background-image: -moz-linear-gradient(to bottom, #0e5763 0%, #0c3a48 80%);
  background-image: -webkit-linear-gradient(to bottom, #0e5763 0%, #0c3a48 80%);
  background-image: -ms-linear-gradient(to bottom, #0e5763 0%, #0c3a48 80%);
  background-image: linear-gradient(to bottom, #0e5763 0%, #0c3a48 80%);
}

.info-detail-title {
  color: #00bdff;
  font-weight: bold;
}

.text-container {
  height: .6rem;
  overflow: hidden;
  padding: .05rem 0;
  box-sizing: border-box;
}

.text-container .info-detial-text {
  line-height: .24rem;
}

.info-detial-bar {
  height: .3rem;
  line-height: .3rem;
}

.info-detial-bar .author {
  color: #14969b;
}

.option-btn {
  margin: 0.01rem .05rem 0;
}

.option-btn.phone {
  width: .19rem;
  height: .19rem;
  margin-top: .08rem;
  background: url(../images/warningPlatform/tel-ico.png) 0 0/100% 100% no-repeat;
}

.option-btn.msg {
  width: .21rem;
  height: .21rem;
  margin: .07rem 0 0 .12rem;
  background: url(../images/warningPlatform/msg-ico.png) 0 0/100% 100% no-repeat;
}

/* 组织架构 */
.organization-tree {
  line-height: .36rem;
}

.organization-tree ul {
  margin-left: .3rem;
}

.organization-tree .ico {
  display: inline-block;
  vertical-align: top;
  width: .2rem;
  height: .1rem;
  margin: .15rem .06rem 0 0;
  background: url(../images/warningPlatform/arrow-down.png) 0 0/100% 100% no-repeat;
  cursor: pointer;
}

.organization-tree .ico.active {
  background-image: url(../images/warningPlatform/arrow-up.png);
}

.organization-tree .name {
  display: inline-block;
  vertical-align: top;
  padding-left: .28rem;
  color: #36C3B4;
  background: url(../images/warningPlatform/per-ico.png) 0 center/0.19rem 0.21rem no-repeat;
}

.organization-tree .tel {
  display: inline-block;
  vertical-align: top;
  width: .19rem;
  height: .19rem;
  margin-top: .08rem;
  background: url(../images/warningPlatform/tel-ico.png) 0 0/100% 100% no-repeat;
  cursor: pointer;
  transition: all ease 200ms;
}

.organization-tree .tel:hover {
  background-image: url(../images/warningPlatform/tel-hover.png);
}

.organization-tree .msg {
  display: inline-block;
  vertical-align: top;
  width: .21rem;
  height: .21rem;
  margin: .07rem 0 0 .12rem;
  background: url(../images/warningPlatform/msg-ico.png) 0 0/100% 100% no-repeat;
  cursor: pointer;
  transition: all ease 200ms;
}

.organization-tree .msg:hover {
  background-image: url(../images/warningPlatform/msg-hover.png);
}

.organization-tree .line {
  position: relative;
}

.organization-tree .line::before {
  position: absolute;
  top: .3rem;
  bottom: -.1rem;
  left: .09rem;
  content: "";
  width: 1px;
  background: #145B5E;
}

.organization-tree .line:last-child::before {
  display: none;
}

.organization-tree .detail {
  height: .36rem;
  margin-left: .18rem;
  padding: 0 .07rem 0 .12rem;
  transition: all ease 200ms;
}

.organization-tree .detail:hover {
  background: #084559;
}

.organization-tree .detail:first-child {
  margin-top: .03rem;
}

/* 预案信息 */
.theme-title {
  position: relative;
  margin: 0 0 0 .05rem;
  padding-left: .1rem;
  height: .35rem;
  line-height: .35rem;
  font-weight: bold;
  background-image: -moz-linear-gradient(to right, rgba(67, 143, 160, 0.251) 0%, rgba(67, 143, 160, 0) 80%, rgba(67, 143, 160, 0) 100%);
  background-image: -webkit-linear-gradient(to right, rgba(67, 143, 160, 0.251) 0%, rgba(67, 143, 160, 0) 80%, #438fa0 0%);
  background-image: -ms-linear-gradient(to right, rgba(67, 143, 160, 0.251) 0%, rgba(67, 143, 160, 0) 80%, rgba(67, 143, 160, 0) 100%);
  background-image: linear-gradient(to right, rgba(67, 143, 160, 0.251) 0%, rgba(67, 143, 160, 0) 80%, rgba(67, 143, 160, 0) 100%);
}

.theme-title::before {
  position: absolute;
  top: 0;
  left: -.05rem;
  width: .03rem;
  height: 100%;
  content: '';
  background-color: #339cb3;
}

.theme .subtext {
  margin: .1rem 0 .15rem 0;
  line-height: .25rem;
}

.theme .subtitle {
  position: relative;
  padding-left: .15rem;
  line-height: .20rem;
  font-weight: bold;
  color: #36c3b4;
}

.theme .subtitle::before {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: .06rem;
  height: .06rem;
  content: '';
  background-color: #36c3b4;
  border-radius: 50%;
}

/* 周边分析 */
.circum-condition {
  height: .36rem;
}

.circum-condition > .col {
  float: left;
  box-sizing: border-box;
}

.circum-condition > .col > * {
  width: 100%;
}

.circum-condition > .col.col1 {
  width: 51.6%;
  padding-right: .08rem;
}

.circum-condition > .col.col2 {
  width: 29.6%;
  padding-right: .08rem;
}

.circum-condition > .col.col3 {
  width: 18.8%;
}

/* 资源调度 */
.resource-hd {
  height: .36rem;
  line-height: .36rem;
  background: url(../images/warningPlatform/resoruce-hd.png) 0 0/100% 100% no-repeat;
}

.resource-hd li {
  float: left;
  width: 50%;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

.resource-hd.active {
  background-image: url(../images/warningPlatform/resoruce-hd2.png);
}

.resource-bd {
  height: calc(100% - .42rem);
}

.resource-bd > div {
  height: 100%;
}

.dispatcher-task {
  margin-top: .06rem;
}

.task-item {
  margin-top: .1rem;
}

.task-item > p {
  height: .26rem;
}

.task-item.already .status {
  color: #74C773;
}

.task-item.already .task-detail {
  background: linear-gradient(to bottom, rgba(20, 150, 155, 0.34) 0%, rgba(20, 150, 155, 0) 100%);
}

.task-item.already .name {
  color: #8FCACA;
}

.task-item.already .address {
  color: #14969B;
}

.task-item.not .status {
  color: #FA5F5F;
}

.task-item.not .task-detail {
  background: linear-gradient(to bottom, rgba(174, 53, 82, 0.34) 0%, rgba(174, 53, 82, 0) 100%);
}

.task-item.not .name {
  color: #D48D99;
}

.task-item.not .address {
  color: #A05763;
}

.task-detail {
  height: 1.73rem;
  margin-top: .07rem;
  padding: 0.08rem .16rem 0;
  box-sizing: border-box;
}

.task-detail .detail {
  padding: .13rem 0 .12rem;
}

.task-detail li {
  float: left;
}

.task-detail li .name {
  margin-bottom: .09rem;
}

.task-detail li:nth-child(1) {
  width: 22.6%;
}

.task-detail li:nth-child(2) {
  width: 20.8%;
}

.task-detail li:nth-child(3) {
  width: 40%;
}

.task-detail li:nth-child(4) {
  width: 16.6%;
}

.task-detail .task-name {
  padding-bottom: .08rem;
  border-bottom: 1px solid rgba(12, 51, 67, 0.49);
}

.task-detail .address {
  padding-top: .08rem;
  border-top: 1px solid rgba(12, 51, 67, 0.49);
}

.dispatcher-statistics {
  height: 100%;
}

.statistics-tb {
  width: 100%;
  text-align: center;
  table-layout: fixed;
}

.statistics-tb.statistics-thead {
  margin-top: .2rem;
}

.statistics-tb.statistics-tbody tr:nth-child(even) {
  background-color: rgba(93, 219, 238, 0.06);
}

.statistics-tb th {
  height: .32rem;
  text-align: center;
  color: #fff;
  background-color: rgba(93, 219, 238, 0.23);
}

.statistics-tb td {
  height: .46rem;
  color: #00bdff;
}

.statistics-tb .text-left {
  padding-left: .2rem;
  text-align: left;
  color: #fff;
}

.statistics-tb .view {
  display: block;
  width: .19rem;
  height: .19rem;
  margin: 0 auto;
  background: url(../images/warningPlatform/view-btn.png) 0 0/100% 100% no-repeat;
}

.statistics-detail {
  height: 100%;
  display: none;
}

.statistics-detail .detail-hd {
  position: relative;
  margin-top: .15rem;
}

.statistics-detail .detail-hd .urban-title {
  margin-top: 0;
  padding-right: .42rem;
  box-sizing: border-box;
}

.statistics-detail .detail-hd .back-btn {
  position: absolute;
  top: .03rem;
  right: .07rem;
  width: .21rem;
  height: .16rem;
  background: url(../images/warningPlatform/return.png) 0 0/100% 100% no-repeat;
}

.statistics-detail .detail-item {
  position: relative;
  margin-top: .16rem;
}

.statistics-detail .mini-con {
  width: 58.4%;
  height: 100%;
  padding: .09rem 0 .11rem;
  background: linear-gradient(to bottom, rgba(20, 150, 155, 0.34) 0%, rgba(20, 150, 155, 0) 100%);
  box-sizing: border-box;
}

.statistics-detail .mini-con:nth-child(1) {
  position: absolute;
  width: 38.3%;
}

.statistics-detail .mini-con p {
  height: .3rem;
  line-height: .3rem;
}

.statistics-detail .mini-con .title {
  margin-bottom: .03rem;
  color: #8FCACA;
}

.statistics-detail .mini-con span {
  float: left;
  padding-left: .15rem;
  box-sizing: border-box;
}

.statistics-detail .mini-con .col1 {
  width: 63.5%;
}

.statistics-detail .mini-con .col2 {
  width: 36.5%;
}

.statistics-detail .mini-con .col3 {
  width: 42.4%;
}

.statistics-detail .mini-con .col4 {
  width: 30.3%;
}

.statistics-detail .mini-con .col5 {
  width: 27.3%;
}

/* 现场监控 */
.monitor-list li {
  position: relative;
  height: 2.95rem;
  border: 1px solid #136F80;
}

.monitor-list li + li {
  margin-top: .17rem;
}

.monitor-list video {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.monitor-list video source {
  width: 100%;
  height: 100%;
}

.monitor-list .name {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: .4rem;
  padding-left: .15rem;
  line-height: .4rem;
  color: #EAFFFF;
  background: rgba(15, 33, 43, 0.9);
  box-sizing: border-box;
}

/* 视频会商 */
.discussion-list {
  margin-top: -.16rem;
}

.discussion-list li {
  float: left;
  width: 100%;
  height: 2.77rem;
  margin-top: .16rem;
  padding: 0 .08rem;
  text-align: center;
  box-sizing: border-box;
}

.discussion-list li.half {
  width: 50%;
  height: 3.49rem;
}

.discussion-list li.half .ico {
  margin: .5rem 0 .39rem;
}

.discussion-list li.half a {
  background-image: url(../images/warningPlatform/discussion-half-bg.png);
}

.discussion-list li a {
  display: block;
  height: 100%;
  border: 1px solid transparent;
  background: url(../images/warningPlatform/discussion-bg.png) 0 0/100% 100% no-repeat;
  transition: all ease 200ms;
  box-sizing: border-box;
}

.discussion-list li a:hover {
  border-color: #3BC9F7;
}

.discussion-list li:nth-child(1) .ico {
  background-image: url(../images/warningPlatform/discussion-ico1.png);
  background-size: 1.53rem 1.35rem;
}

.discussion-list li:nth-child(2) .ico {
  background-image: url(../images/warningPlatform/discussion-ico2.png);
  background-size: 1.53rem 1.31rem;
}

.discussion-list li:nth-child(3) .ico {
  background-image: url(../images/warningPlatform/discussion-ico3.png);
  background-size: 1.53rem 1.26rem;
}

.discussion-list .name {
  font-size: .26rem;
  font-weight: bold;
  color: #BFFFF8;
  background: -webkit-linear-gradient(90deg, #7EFFF1 0%, #FFFFFF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.discussion-list .ico {
  display: block;
  height: 1.5rem;
  margin: .27rem 0 .23rem;
  background-position: center bottom;
  background-repeat: no-repeat;
}
