/*
 * @Author: 吴松泽
 * @Date: 2018-12-01 13:41:05
 * @Last Modified by: 吴松泽
 * @Last Modified time: 2019-05-07 17:34:52
 * @Description:  个人名片
 */

body {
    background-color: #f5f5f5;
    overflow: hidden;
}

.mui-content {
    padding: 12px 15px 0;
    background-image: url(../img/img_mine_nav_bg.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #f5f5f5;
    display: flex;
    width: 100%;
    flex-direction: column;
    height: 100vh;
}
html body .flex-direction-row {
    flex-direction: row;

}
.em-card-top {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #fff;
    /* box-shadow: 5px 6px 10px #ddd; */
    min-height: 210px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url(../img/img_top_bg.jpg);
    background-repeat: no-repeat;
    flex-grow: 1;
    margin-top: 5vh;
    padding-bottom: 25px;
    width: 100%;
}

.em-top-title {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    width: 100%;
    padding: 10px 12px;
    flex-grow: 1;
}

.em-top-title>img {
    width: 45px;
    height: 45px;
    border: 1px solid #e8e8e8;
    border-radius: 50%;
}

.em-top-title-name {
    text-align: center;
    height: 45px;
    width: calc(100% - 100px);
}

.em-title-co {
    display: inline-block;
    color: #000;
    font-size: 17px;
    white-space: nowrap;

}

.em-title-co-en {
    display: inline-block;
    color: #999;
    font-size: 12px;
    white-space: nowrap;
}

.em-user-photo {
    width: 90px;
    height: 123px;
    display: inline-block;
    /* background-image: url(../img/img_user_default.png); */
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    background-position: 50% 50%;
}

.em-user-div {
    padding: 0px 17px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-height: 123px;
    /* flex-grow: 2; */
}

.em-user-info {
    width: calc(100% - 110px);
    display: inline-block;
    position: relative;
}

.em-user-info h1 {
    font-size: 17px;
}

.em-user-info p {
    font-size: 14px;
    color: #666;
}

.em-user-content {
    color: #000;
    font-size: 14px;
    position: absolute;
    bottom: 0;
}

.em-user-content>div {
    display: block;
    height: 100%;
    box-sizing: border-box;
    position: relative;
}

.em-user-content a {
    display: block;
    color: #333
}

.em-user-content .em-user-tel img {
    height: 14px;
    width: auto;
    display: inline-block;
    vertical-align: middle;
    margin-left: 1px;
}

.em-user-content .em-user-mail img {
    width: 13px;
    height: auto;
    display: inline-block;
    vertical-align: middle;
}

.em-user-content .em-user-address img {
    height: 15px;
    width: auto;
    display: inline-block;
    vertical-align: middle;
    margin-left: 1px;
}

.em-card-footer {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #fff;
    /* margin-top: 12px; */
    box-shadow: 0px -1px 20px 0px #ddd;
    height: 38vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    position: relative;
}

#qrcode {
    text-align: center;
    padding: 0;
    position: relative;
    width: 185px;
    height: 185px;
}

#qrcode [alt = 'Scan me!'] {
    width: 100%;
}

/* html body #qrcode img {
    display: inline-block;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
} */

.em-user-info>span {
    font-size: 19px;
    font-weight: 500;
    color: #000;
}

[hidden-co="1"] {
    flex-direction: row;
    padding-bottom: 0;
}

[hidden-co="1"] .em-top-title {
    display: none;
}

.em-card-div {
    /* margin-top: 5vh; */
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

#qrcode canvas+img {
    width: 100%;
    height: 100%;
}

.qrcode__logo {
    width: 50px;
    height: 50px;
    border-radius: 10%;
    border: 2px solid #fff;
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #fff;
}

.em-card-tools {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}

.em-tool-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.em-card-tools img {
    width: 20px;
    height: auto;
    margin: 10px;
}

.em-card-tools span {
    font-size: 14px;
}

.em-tool-zdy,
.em-tool-save,
.em-tool-share {
    flex-grow: 1;
}

.em-toggle-div {
    position: absolute;
    z-index: 1;
    height: 100vh;
    width: 100vw;
    top: 0;
    background: #fff;
    transform: translate3d(0px, 100vh, 0px);
    transition: 0.3s ease-out;
    overflow: hidden;
}

.mui-table-view-cell.mui-active {
    background-color: #fff;
}

.em-toggle-show {
    transform: translate3d(0px, 0vh, 0px);
}
.em-toggle-name {
    color: #666;
}

.em-card-footer {
    /* background-color: #999 */
}
.em-user-address img {
    position: absolute;
    top: 2px;
}
.em-span-address {
    max-height: 40px;
    /* display: inline-block; */
    overflow: hidden;
    /* margin-left: 23px; */
    text-indent: 1.1em;
    overflow-y: inherit;
}
#qrcode canvas {
    width: 185px;
}