@charset "UTF-8";
.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row nowrap;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
}
.row-container {
  width: 100%;
}
.col {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 30px;
  padding: 6px;
  line-height: 30px;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -moz-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.col.fui-accordion,
.col.hasSub {
  padding: 0;
}
.col > * {
  position: relative;
  z-index: 1;
}
.col:after {
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  content: '';
  background: rgba(0, 0, 0, 0);
}
.col.hasSub:after {
  border-width: 0 !important;
}
.col.mid:after {
  border-left-width: 0 !important;
}
.col.last > .row-container > .row > .col.first:after,
.col.last > .row > .col.first:after,
.col.mid > .row-container > .row > .col.first:after,
.col.mid > .row > .col.first:after {
  border-left-width: 0 !important;
}
.col.first ~ .col.last:after,
.col.mid ~ .col.last:after {
  border-left-width: 0 !important;
}
.row.mid > .col:after {
  border-top-width: 0 !important;
}
.row.mid > .col > .dropArea > .row > .col:after,
.row.mid > .col > .row > .col:after,
.row.mid > .col > .row-container > .row > .col:after {
  border-top-width: 0 !important;
}
.col {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.col > * {
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -moz-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.col.text-left {
  text-align: left;
}
.col.text-center {
  text-align: center;
}
.col.text-right {
  text-align: right;
}
.col.vertical-top {
  vertical-align: top;
}
.col.vertical-middle {
  vertical-align: middle;
}
.col.vertical-bottom {
  vertical-align: bottom;
}
.col.text-left {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -moz-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.col.text-center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.col.text-right {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -moz-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.col.vertical-top {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -moz-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}
.col.vertical-middle {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}
.col.vertical-bottom {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -moz-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-align-content: flex-end;
  -ms-flex-line-pack: end;
  align-content: flex-end;
}
.design-form-label,
.design-form-title {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}
.design-form-label {
  padding-right: 8px;
}
.design-form-label.required:after {
  position: absolute;
  top: 50%;
  right: -2px;
  display: block;
  width: 8px;
  height: 16px;
  margin-top: -8px;
  font-size: 16px;
  line-height: 16px;
  content: '*';
  color: red;
}
.mini-buttonedit-readOnly .mini-buttonedit-border,
.mini-buttonedit-readOnly .mini-buttonedit-input,
.mini-readonly .mini-textboxlist-border,
.mini-textbox-readOnly .mini-textbox-border,
.mini-textbox-readOnly .mini-textbox-input {
  cursor: default;
  border: 0;
  background: none;
}
.mini-buttonedit-readOnly .mini-buttonedit-button,
.mini-readonly .mini-textboxlist-close {
  display: none;
}
.mini-readonly .mini-textboxlist-item {
  padding-right: 8px;
}
.mini-buttonedit-readOnly ::-webkit-input-placeholder,
.mini-textbox-readOnly ::-webkit-input-placeholder {
  color: hsla(0, 0%, 100%, 0);
}
.mini-buttonedit-readOnly ::-moz-placeholder,
.mini-textbox-readOnly ::-moz-placeholder {
  color: hsla(0, 0%, 100%, 0);
}
.mini-buttonedit-readOnly :-ms-input-placeholder,
.mini-textbox-readOnly :-ms-input-placeholder {
  color: hsla(0, 0%, 100%, 0);
}
.mini-buttonedit-readOnly ::-ms-input-placeholder,
.mini-textbox-readOnly ::-ms-input-placeholder {
  color: hsla(0, 0%, 100%, 0);
}
.mini-buttonedit-readOnly ::placeholder,
.mini-textbox-readOnly ::placeholder {
  color: hsla(0, 0%, 100%, 0);
}
.row.acc-layout {
  display: block;
  padding-left: 0;
  padding-right: 0;
}
.col.acc-item {
  display: block;
}
.col.acc-item > .fui-acc-bd {
  padding-left: 0;
  padding-right: 0;
}
.col.acc-item:after {
  border: none !important;
}
.control-tips.tips-bottom {
  display: block;
  color: #999;
  width: 100%;
  text-align: left;
  line-height: 30px;
  line-height: 0.3rem;
  height: 30px;
  height: 0.3rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.control-tips.tips-tooltip {
  width: 30px;
  text-align: center;
}
.control-tips.tips-tooltip:before {
  content: '\e728';
}
