.add-myopinion,
.step-tab {
  background: #2e48b3;
}

.opiniontmpl-tab-hd>span.active,
.step-tab-hd>span.active {
  color: #00baff;
  border-bottom: 2px solid #00baff;
}

.step-list {
  color: #fff;
}
.step-item.check>.step-name {
  border-color: #2640a9;
  background-color: #111363 !important;
  color: #fff;
}

.head-title,
.status-bar {
  color: #a8bdf3;
}

.status-bar b {
  color: #00baff;
}

.step-container,
.member-container,
.step-tab>.step-tab-hd,
.opinion-container,
.opinion-tmpl,
.status-bar,
.process-container {
  border-color: #1f348e;
}

.btnsubmit {
  color: #fff;
  border-color: #0087ff;
  background: #0087ff;
  line-height: 30px;
}
body a:hover.mini-button.btncancel {
  line-height: 30px;
}
body a:hover.mini-button.btnsubmit {
  border-color: #006fd2 !important;
    background: #006fd2 !important;
} 