/* .tabsnav-tabs-item.fixed {
    color: #555;
    background: #d3e9fb
}

.tabsnav-tabs-item:hover,
.tabsnav-tabs-item.active {
    background-color: #258fe9;
    color: #fff
}

.tabsnav-contextmenu-item:hover,
.tabsnav-quicknav-item:hover {
    color: inherit;
    background-color: #eaf4fd
} */