/*!
*新点数据建模平台首页样式集合
*author:guli
*date:2020-08-17
*version:1.1.0
*/

html,
body {
    height: 100%;
    margin: 0;
}

.carousel {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

video {
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit: fill;
    z-index: -1;
}

header {
    height: .78rem;
    padding-top: .9rem;
    background: url('../images/header.png') center bottom no-repeat;
    background-size: 6.53rem .78rem;
    margin-top: -.33rem;
}

.moveBox {
    position: absolute;
    top: 50%;
    margin-top: -3.3rem;
    left: 0;
}

.boxList {
    height: 100%;
    float: left;
}

section {
    width: 84.375%;
    height: 7.72rem;
    margin: 0 auto;
    position: relative;
    transform: scale(0.9);
}

.left,
.center,
.right {
    width: 33.3333%;
    height: 100%;
    position: absolute;
    top: 0;
    transition: all ease 2s;
}

.left {
    transform: translateX(-100%);
}

.center {
    left: 33.3333%;
    box-sizing: border-box;
    padding-top: 1.25rem;
}

.right {
    right: 0;
    transform: translateX(100%);
}

.sexangle {
    height: 3.68rem;
    margin-bottom: 0.18rem;
    cursor: pointer;
}

.date {
    background: url('../images/date.png') right center no-repeat;
    background-size: 4.4rem 3.64rem;
}

.date:hover {
    background: url('../images/date-hover.png') right center no-repeat;
    background-size: 4.4rem 3.68rem;
}

.deploy {
    background: url('../images/display.png') left center no-repeat;
    background-size: 4.4rem 3.64rem;
}

.deploy:hover {
    background: url('../images/display-hover.png') left center no-repeat;
    background-size: 4.4rem 3.68rem;
}

.modeling {
    background: url('../images/modeling.png') center center no-repeat;
    background-size: 4.4rem 3.64rem;
    transform: scale(0);
    transition: transform ease 2s;
    opacity: 0;
}

.modeling:hover {
    background: url('../images/modeling-hover.png') center center no-repeat;
    background-size: 4.4rem 3.68rem;
}

.model {
    background: url('../images/model.png') left center no-repeat;
    background-size: 4.4rem 3.64rem;
}

.model:hover {
    background: url('../images/model-hover.png') left center no-repeat;
    background-size: 4.4rem 3.68rem;
}

.display {
    background: url('../images/deploy.png') right center no-repeat;
    background-size: 4.4rem 3.64rem;
}

.display:hover {
    background: url('../images/deploy-hover.png') right center no-repeat;
    background-size: 4.4rem 3.68rem;
}

.arrow {
    width: .58rem;
    height: .58rem;
    position: absolute;
    top: 50%;
    margin-top: -.34rem;
    cursor: pointer;
}

.leftBtn {
    background: url('../images/leftbtn.png') center center no-repeat;
    background-size: 100% 100%;
    left: .8rem;
}

.leftBtn.disabled {
    background: url('../images/leftbtn-disabled.png') center center no-repeat;
    background-size: 100% 100%;
}

.rightBtn {
    background: url('../images/rightbtn.png') center center no-repeat;
    background-size: 100% 100%;
    right: .8rem;
}

.rightBtn.disabled {
    background: url('../images/rightbtn-disabled.png') center center no-repeat;
    background-size: 100% 100%;
}

.circles {
    position: absolute;
    bottom: 3rem;
    left: 50%;
}

.circle {
    width: .36rem;
    height: .36rem;
    float: left;
    background: url('../images/circle.png') center top no-repeat;
    cursor: pointer;
}

.circle.active {
    background: url('../images/circle-active.png') center top no-repeat;
}

.userOuter {
    position: absolute;
    right: 0;
    top: 18px;
    color: #dfe3e3;
}

.user {
    width: 156px;
    height: 47px;
    line-height: 47px;
    font-size: 16px;
    box-sizing: border-box;
    padding-left: 64px;
    cursor: pointer;
    background: url('../images/user-bg.png') center top no-repeat;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.user.active {
    background: url('../images/user-bg-active.png') center top no-repeat;
    background-size: 156px 47px;
}

.clickUser {
    width: 136px;
    margin-left: 10px;
    font-size: 14px;
    line-height: 32px;
    padding: 14px 0;
    background: #2e3747;
    border: 1px solid #434b55;
    border-radius: 4px;
    display: none;
}

.exit,
.modify {
    cursor: pointer;
    box-sizing: border-box;
    padding-left: 40px;
    position: relative;
}

.exit:before,
.modify:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 32px;
}

.exit:before {
    background: url('../images/logout.png') center center no-repeat;
    background-size: 14px 16px;
}

.modify:before {
    background: url('../images/change-pwd.png') center bottom no-repeat;
    background-size: 32px 32px;
}

.exit:hover,
.modify:hover {
    background: url('../images/user-item-active.png') center top no-repeat;
    background-size: 136px 32px;
}


/* 2022.12.08修改 */

.modeling {
    height: 3.9rem;
    background: url('../images/guide-single.png') center top no-repeat;
    background-size: 4.67rem 3.81rem;
    transform: scale(0);
    transition: transform ease 2s;
    opacity: 0;
    position: relative;
}

.modeling:hover {
    background: url('../images/guide-single-active.png') center top no-repeat;
    background-size: 4.67rem 3.9rem;
}

.modeling.picture {
    background: url('../images/picture-single.png') center top no-repeat;
    background-size: 4.67rem 3.81rem;
}

.modeling.picture:hover {
    background: url('../images/picture-single-active.png') center top no-repeat;
    background-size: 4.67rem 3.9rem;
}

.modeling.double {
    background: url('../images/double.png') center top no-repeat;
    background-size: 4.67rem 3.81rem;
}

.modeling.double:hover {
    background: url('../images/double-active.png') center top no-repeat;
    background-size: 4.67rem 3.9rem;
}

.modeling.double .picture {
    width: 50%;
    height: 100%;
    float: left;
    background: url('../images/picture.png') right 1.33rem no-repeat;
    background-size: 2.2rem 1.93rem;
}

.modeling.double .picture:hover {
    background: url('../images/picture-active.png') right .8rem no-repeat;
    background-size: 2.33rem 2.63rem;
}

.modeling.double .guide {
    width: 50%;
    height: 100%;
    float: left;
    background: url('../images/guide.png') left 1.3rem no-repeat;
    background-size: 2.3rem 1.96rem;
}

.modeling.double .guide:hover {
    background: url('../images/guide-active.png') left .8rem no-repeat;
    background-size: 2.33rem 2.63rem;
}