.fui-left.appmanage {
	width: 253px;
}

.fui-right.appmanage {
	left: 253px;
	padding: 16px;
	overflow-y: auto;
}

.fui-left.appmanage .icon-toleft {
	display: none;
}

.appmanage.imac .app-view,
.appmanage.imac .app-size {
	display: none;
}

.pl5 {
	padding-left: 5px;
}

.mr5 {
	margin-right: 5px;
}

.accordion  {
	min-width: 767px;
}

.overflowhidden {
	overflow: hidden;
}

.apptree {
	height: 100%;
}

.apptree .mini-panel-toolbar {
	width: 221px;
}

.appmanage-subscribe {
	height: 42px;
	line-height: 42px;
	padding-left: 16px;
	padding-right: 16px;
	border-bottom: 1px solid #eee;
	color: #333;
}

.appmanage-subscribe > a {
	color: #258fe9;
}

.accordion-item-tit {
	height: 40px;
	line-height: 40px;
}

.accordion-item-tit i {
	margin-top: 14px;
}

.accordion-item-tit {
	background: #fafafa;
	font-size: 16px;
	color: #333;
	padding-left: 16px;
	padding-right: 16px;
	cursor: pointer;
}

.app {
	position: relative;
}

.app:hover {
	background-color: #f5f5f5;
}

.app:hover .app-move,
.app:hover .app-del {
	visibility: visible;
}

.accordion-item-con {
	padding-left: 1px;
}

.accordion-item-con .app {
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid #ebebeb;
}

.accordion-item {
	margin-bottom: 16px;
}

.accordion-item:last-child {
	margin-bottom: 0;
}

.app-icon {
	width: 32px;
	height: 32px;
	margin-top: 9px;
	margin-right: 24px;
	border-radius: 4px;
	overflow: hidden;
	cursor: pointer;
}

.app-icon img {
	width: 100%;
	height: 100%;
}

.appname {
	width: 100px;
}

.app-move {
	margin-top: 20px;
	padding-left: 10px;
	padding-right: 10px;
	cursor: move;
	visibility: hidden;
}

.app-desktop {
	width: 132px;
	padding-left: 8%;
	cursor: pointer;
}

.app-desktop.wait {
	color: #d6d6d6;
}

.app-view,
.app-notice {
	width: 14px;
	height: 50px;
}

.app-notice {
	margin-left: 4%;
	background: url(../images/icon-notice.png) no-repeat center center;
}

.app-notice.disable {
	background: url(../images/icon-noticedisable.png) no-repeat center center;
}

.app-view {
	margin-left: 13.78%;
	background: url(../images/icon-view.png) no-repeat center center;
}

.app-view.disable {
	background: url(../images/icon-viewdisable.png) no-repeat center center;
}

.app-desktop-combobox:hover,
.app-desktop-combobox.active {
	position: relative;
	left: -6px;
	width: 123px;
	height: 30px;
	margin-top: 9px;
	line-height: 30px;
	padding-left: 6px;
	border: 1px solid #d6d6d6;
	border-radius: 4px;
}

.desktop-menu-item .icon-edit {
	display: none;
	margin-top: 6px;
}

.desktop-menu-item:hover .icon-edit {
	display: inherit;
}

.notice-list {
	position: absolute;
    top: 40px;
    border: 1px solid #ebebeb;
    border-radius: 4px;
    background-color: #fff;
    color: #5c5c5c;
    box-shadow: 0 0 6px rgba(0,0,0,.12);
    transform: translateX(10px);
    z-index: 2;
}

.notice-list li.cur {
	color: #2590eb;
}

.app-desktop-arrow {
	display: none;
	color: #333;
}

.app-desktop-combobox:hover .app-desktop-arrow,
.app-desktop-combobox.active .app-desktop-arrow {
	display: inline-block;
	float: right;
    margin-top: 9px;
    margin-right: 5px;
}

.app-desktop-menu {
	position: absolute;
	top: 45px;
	width: 138px;
	border: 1px solid #ebebeb;
	border-radius: 4px;
	background-color: #fff;
	color: #5c5c5c;
	box-shadow: 0 0 6px rgba(0,0,0,.12);
	transform: translateX(-6px);
	z-index: 2;
}

.app-desktop-menu li,
.notice-list li {
	height: 26px;
	line-height: 26px;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 12px;
	cursor: pointer;
}

.app-desktop-menu li.cur,
.notice-list li.cur {
	color: #258fe9;
}

.app-desktop-menu li:last-child {
	border-top: 1px solid #ebebeb;
}

.app-desktop-menu li:hover,
.notice-list li:hover {
	background: #f5f5f5;
}

.app-size {
	margin-left: 13.8%;
}

.app-size a {
	width: 15px;
	height: 50px;
	margin-right: 18px;
}

.app-size a:last-child {
	margin-right: 0;
}

.app-size .app-size-small {
	background: url(../images/icon-sizesmall.png) no-repeat center center;
}

.app-size .app-size-medium {
	background: url(../images/icon-sizemedium.png) no-repeat center center;
}

.app-size .app-size-large {
	background: url(../images/icon-sizelarge.png) no-repeat center center;
}

.app-size .app-size-small.disable {
	background: url(../images/icon-sizesmalldisable.png) no-repeat center center;
}

.app-size .app-size-medium.disable {
	background: url(../images/icon-sizemediumdisable.png) no-repeat center center;
}

.app-size .app-size-large.disable {
	background: url(../images/icon-sizelargedisable.png) no-repeat center center;
}

.app-del {
	width: 19px;
	height: 19px;
	margin-top: 15px;
	margin-right: 16px;
	background: url(../images/icon-del.png) no-repeat center center;
	cursor: pointer;
	visibility: hidden;
}

.icon-setting-title {
	height: 47px;
	line-height: 47px;
	padding-left: 16px;
	padding-right: 16px;
	border-bottom: 1px solid #ebebeb;
	color: #333;
	font-size: 16px;
}

.icon-setting-title .close-iconsetting {
	margin-top: 17px;
}

.appview-config-con,
.desktop-config-con {
	height: 127px !important;
	padding: 0;
}

.addr p {
	font-size: 12px;
    color: #adadad;
	line-height: 2;
}

/* 图标设置 */
.icon-setting-con {
	position: relative;
	height: 368px;
	padding-top: 25px;
	color: #5c5c5c;
	overflow-y: scroll;
}

.icon-setting-con.imac .icon-bgcolor {
	display: none;
}

.icon-bgcolor {
	padding-left: 32px;
}

.icon-bgcolor div {
	width: 28px;
	height: 28px;
	border: 1px solid #fff;
	border-radius: 3px;
	margin-right: 10px;
	cursor: pointer;
}

.icon-bgcolor div:hover,
.icon-bgcolor div.active {
	border-color: #2590eb;
}

.icon-bgcolor em {
	display: block;
	width: 22px;
	height: 22px;
	margin: 0 auto;
	margin-top: 3px;
	border-radius: 3px;
}

.icon-bgcolor-blue em,
.app-icon.blue {
	background-color: #1c6dbf;
}

.icon-bgcolor-cyan em,
.app-icon.cyan {
	background-color: #00bbd1;
}

.icon-bgcolor-pink em,
.app-icon.pink {
	background-color: #ff5f5f;
}

.icon-bgcolor-lightblue em,
.app-icon.lightblue {
	background-color: #7b9dfe;
}

.icon-bgcolor-orange em,
.app-icon.orange {
	background-color: #ffb744;
}

.icon-bgcolor-lavendar em,
.app-icon.lavendar {
	background-color: #9d79ff;
}

.icon-bgcolor-lightgreen em，
.app-icon.lightgreen {
	background-color: #9cdd77;
}

.icon-frame,
.icon-custom {
	margin-top: 17px;
}

.icon-frame span,
.icon-custom span {
	color: #5c5c5c;
	padding-left: 32px;
}

.icon-frame-item,
.icon-custom-item {
	width: 58px;
	height: 58px;
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 3px;
	margin-right: 6px;
	margin-bottom: 10px;
}

.icon-frame-item:nth-child(10n+0),
.icon-custom-item:nth-child(10n+0) {
	margin-right: 0;
}

.icon-frame-item:hover,
.icon-custom-item:hover,
.icon-custom-item.active,
.icon-frame-item.active {
	border-color: #2590eb;
}

.icon-frame-items,
.icon-custom-items {
	margin-top: 1px;
	padding-left: 27px;
}

.app-icon-item:nth-child(10n) {
	margin-right: 0;
}

.frame-item-inner,
.frame-custom-inner {
	width: 52px;
	height: 52px;
	border-radius: 3px;
	background: #d5d5d5;
	margin: 0 auto;
    margin-top: 3px;
}

.frame-item-inner img,
.frame-custom-inner img {
	width: 52px;
	height: 52px;
}

.icon-tips {
	position: absolute;
	top: 48px;
	right: 0;
}
