.mini-dataimport {
    display: inline-block;    vertical-align: top;
}

.mini-dataimport > .mini-webuploader {
    vertical-align: top;
}

.mini-dataimport-mask {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url('@{images-dir}/dataimport/mask-bg.png');
    z-index: 999;
}

.mini-dataimport-mask-content {
    position: absolute;
    line-height: 36px;
    top: 50%;
    margin-top: -18px;
    left: 10%;
    right: 10%;
    text-align: center;
    background: #fff;
    opacity: .8;
    filter: alpha(opacity=80);
}

.mini-dataimport-progressbar {
    position: relative;
    display: inline-block;
    width: 98px;
    height: 15px;
    line-height: 15px;
    border: 1px solid @split-color;
    vertical-align: text-bottom;
    margin-left: 5px;
}

.mini-dataimport-progressbar > .progress-text {
    left: 0;
}

.dataimport-showdetail {
    margin-left: 10px;
}

.mini-dataimport-detail {
    position: absolute;
    top: 60px;
    left: 40px;
    right: 40px;
    bottom: 60px;
    padding: 20px;
    background: #fff;
    overflow: hidden;
    display: none;
    z-index: 1000;
}
.mini-dataimport-detail-content {
    height: 100%;
    overflow: auto;
}
.dataimport-detail-close {
    position: absolute;
    width: 26px;
    height: 26px;
    right: 0;
    top: 0;
    text-align: center;
    cursor: pointer;
}
.dataimport-status-title {
    font-size: 16px;
    font-weight: 600;
}
.dataimport-status-type {
    font-size: 14px;
}
.dataimport-status-detail {
    display: none;
    padding-left: 10px;
    background: #eee;
}
.dataimport-status-toggle {
    margin-left: 10px;
}
.dataimport-status-count.opened + .dataimport-status-detail {
    display: block;
}