.mini-filtertree {
    height: 100%;
    min-height: 100px;
}
.mini-filtertree .mini-panel-toolbar {
    /* 定位新增的搜索按钮 */
    position: relative;

    border: 0;
    background: #fff;
    padding: 0;
}
.mini-filtertree-filter {
    width: 100%;
    margin-bottom: 5px;

    .mini-buttonedit-icon:before {
        content: "\e6ec";
    }
}

/* 搜索关键字高亮 */
.mini-highlight {
    // background: #ff0;
    color: @theme-color;
    background: @item-hover-bg;
}