.mini-outputtext {
    word-break: break-all;
    word-wrap: break-word;
    display: block;
}
.mini-text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
