.mini-pagination {
    display: block;
    cursor: default;
    overflow: hidden;
    white-space: nowrap;
    #miniui-base-lineHeight(30px);
    padding: 8px 0;
    text-align: right;
    user-select: none;
}
.mini-pagination > * {
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
}

.pagination-button {
    min-width: 28px;
    background: #fff;
    display: inline-block;
    text-align: center;
    border-radius: @border-radius;
    vertical-align: top;
    cursor: pointer;
    border: 1px solid @border-color;
    #miniui-base-lineHeight(28px);
    &.pagination-current,
    &:hover {
        border-color: @theme-color;
        color: @theme-color;
    }
    &.disabled,
    &.disabled:hover {
        color: @text-color;
        border-color: @border-color;
        opacity: 0.5;
        filter: alpha(opacity=50);
        cursor: not-allowed;
    }
}

.pagination-go {
    padding: 0 8px;
    margin-left: 8px;
    padding: 0 0.08rem;
    margin-left: 0.08rem;
}

.pagination-prev.mini-icon,
.pagination-next.mini-icon {
    display: inline-block;
    cursor: pointer;
    height: auto;
}
.pagination-prev:before {
    content: '\e70b';
}
.pagination-next:before {
    content: '\e712';
}

.mini-pagination {
    @size: 28px;
    .mini-buttonedit.mini-combobox {
        width: 100px;
        width: 1rem;
        cursor: default;
    }
    .mini-buttonedit {
        margin-left: 10px;
    }
    .mini-buttonedit-border,
    .mini-buttonedit-input {
        // line-height: @size;
        // line-height: @size / 100px * 1rem;
        // height: @size;
        // height: @size / 100px * 1rem;
        #miniui-base-height(@size);
    }
    .mini-buttonedit-border {
        padding-right: @size;
        padding-right: @size / 100px * 1rem;
        &:before {
            position: absolute;
            top: 0;
            right: 28px;
            right: .28rem;
            content: '条/页';
            height: 100%;
            font-size: 12px;
            font-size: .12rem;
            line-height: @size;
            line-height: @size / 100px * 1rem;
        }

        
    }
    .mini-buttonedit-button {
        width: @size;
        width: @size / 100px * 1rem;
    }

    .mini-buttonedit-input {
        cursor: default;
    }
}

.ie {
    .mini-buttonedit-border:before {
        line-height: 28px;
    }
}
.pagination-buttons {
    display: inline-block;
    text-align: center;
}

.pagination-number {
    vertical-align: top;
    outline: none;
    border-radius: 4px;
    border: 1px solid @border-color;
    height: 28px;
    width: 30px;
    padding: 0 4px;
    margin: 0 4px;
    text-align: center;
    transition: all .2s ease-out;
}
.pagination-pagerchange,
.pagination-pagerinfo {
    margin-left: 16px;
}
.pagination-pagerinfo {
    float: right;
}