.mini-paneltip-close {
	position: absolute;
	top: 10px;
	right: 5px;
	width: 12px;
	height: 12px;
	background: url('@{images-dir}/paneltip/close.png') center no-repeat;
	z-index: 1110;
	cursor: pointer;
}

.mini-tooltip-loading {
	z-index: 1120;
}
.mini-paneltip > .mini-tooltip-inner {
	border: 1px solid #dfdfdf;
    box-shadow: 0 0 2px #dfdfdf;
}
.mini-paneltip.mini-tooltip-top .mini-tooltip-arrow {
    border-top-color: #dfdfdf;
}
.mini-paneltip.mini-tooltip-left .mini-tooltip-arrow {
    border-left-color: #dfdfdf;
}

.mini-paneltip.mini-tooltip-right .mini-tooltip-arrow {
    border-right-color: #dfdfdf;
}

.mini-paneltip.mini-tooltip-bottom .mini-tooltip-arrow {
    border-bottom-color: #dfdfdf;
}
.mini-paneltip.mini-tooltip-bottomleft .mini-tooltip-arrow {
    border-bottom-color: #dfdfdf;
}

.mini-paneltip.mini-tooltip-bottomright .mini-tooltip-arrow {
    border-bottom-color: #dfdfdf;
}
.mini-paneltip.mini-tooltip-topleft .mini-tooltip-arrow {
    border-top-color: #dfdfdf;
}
.mini-paneltip.mini-tooltip-topright .mini-tooltip-arrow {
    border-top-color: #dfdfdf;
}