.mini-slidewindow {
    transform-origin: 50% 50%;
    opacity: 0.8;
    transform: scale(0.9);
    transition: opacity 0.2s ease, transform 0.2s ease;
    &.show {
        opacity: 1;
        transform: scale(1);
    }
    .mini-panel-border {
        border-radius: none;
    }
    .mini-tools {
        left: 0;
        right: auto;
    }
    .mini-panel-title {
        padding-right: 0;
        margin-left: 16px;
    }
}

.ie9 .mini-slidewindow {
    opacity: 1;
    transform: scale(1);
    transition: none;
}
