.mini-slider {
    position: relative;
    height: 26px;
}
.mini-slider-runway {
    position: absolute;
    width: 100%;
    height: 6px;
    top: 50%;
    margin-top: -3px;
    background-color: #e4e7ed;
    border-radius: 3px;
    cursor: pointer;
}
.mini-slider-bar {
    position: absolute;
    height: 100%;
    background-color: #409eff;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.mini-slider-pointer {
    position: absolute;
    width: 16px;
    height: 16px;
    border: 2px solid #409eff;
    background-color: #fff;
    border-radius: 50%;
    z-index: 10;
    top: -7px;
    margin-left: -10px;
    user-select: none;
}