/*--------------------- tabstreeselect ---------------------*/

.mini-tabstreeselect {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 12px 8px;

    border: none;
}

.mini-tabstreeselect-left,
.mini-tabstreeselect-right {
    position: relative;

    box-sizing: border-box;
    width: 50%;
}

.mini-tabstreeselect-left {
    float: left;

    padding-right: 5px;
}

.mini-tabstreeselect-right {
    float: right;

    padding-left: 5px;
}

.mini-tabstreeselect-header {
    position: relative;
    #miniui-base-h(@base-height + 2);
    color: @text-color;

    z-index: 5;
}

.mini-tabstreeselect-right > .mini-tabstreeselect-header {
    padding-left: 0;
}

.mini-tabstreeselect-tabs {
    margin: 0;
    padding-left: 0;
}

.mini-tabstreeselect-tabs > li {
    #miniui-base-lineHeight();

    float: left;

    padding-right: 10px;
    padding-left: 10px;

    list-style: none;

    cursor: pointer;
    transition: color 0.4s cubic-bezier(0.175, 0.885, 0.32, 1);
    text-align: center;

    border: 1px solid transparent;
    border-bottom-width: 0;
    border-top-left-radius: @border-radius;
    border-top-right-radius: @border-radius;
    background: #f5f5f5;

    &:hover {
        color: @theme-color;
    }
    &.active {
        color: @theme-color;
        background-color: #fff;
        border-color: @split-color;
        border-bottom: 1px solid transparent;
    }

    + li {
        margin-left: 10px;
    }
}

.mini-tabstreeselect-header-main {
    float: left;
    #miniui-base-lineHeight();

    margin-bottom: -1px;
    padding: 0 10px;

    user-select: none;

    color: @theme-color;
    border: 1px solid @split-color;
    border-bottom-color: transparent;
    border-top-left-radius: @border-radius;
    border-top-right-radius: @border-radius;
    background: #fff;
}

.mini-tabstreeselect-header-count {
    margin-left: 3px;
}
.mini-tabstreeselect-header-count:before {
    content: '(';
}
.mini-tabstreeselect-header-count:after {
    content: ')';
}

.mini-tabstreeselect-content {
    position: absolute;
    top: @base-height + 2;
    @top-rem: @base-height / 100px * 1rem;
    top: calc(@top-rem + 2px);
    right: 0;
    bottom: 0;
    left: 0;
    margin-top: -1px;

    overflow: hidden;

    padding: 10px;

    border: 1px solid @split-color;
    border-radius: @border-radius;
    border-top-left-radius: 0;
    background: #fff;

    z-index: 4;
}

.mini-tabstreeselect-left > .mini-tabstreeselect-content {
    right: 5px;
}

.mini-tabstreeselect-right > .mini-tabstreeselect-content {
    left: 5px;
}

.mini-tabstreeselect-buttons {
    position: relative;

    #miniui-base-height();

    border-top: 1px solid transparent;
    border-bottom: 1px solid @split-color;
    margin-bottom: 5px;
}

.mini-tabstreeselect-action {
    float: left;
    display: block;

    width: @base-height;
    height: @base-height;
    line-height: @base-height;
    margin-left: 5px;
    text-align: center;

    font-size: 16px;
    font-size: 0.16rem;

    color: @text-color;

    cursor: pointer;

    &:hover {
        color: @theme-color;
    }
    &.disabled {
        display: none;
    }

    &.removeall,
    &.recover {
        float: right;
    }
}

.mini-tabstreeselect-action.remove {
    position: absolute;
    #miniui-base-height(@base-height + 2);

    top: 0;
    right: 0;

    display: none;

    font-size: 12px;
    &:hover {
        color: @theme-color;
    }
}

.mini-tabstreeselect-action.sort:before {
    content: '\e729';
}
.mini-tabstreeselect-action.sort.desc:before {
    content: '\e620';
}
.mini-tabstreeselect-action.top:before {
    content: '\e675';
}
.mini-tabstreeselect-action.bottom:before {
    content: '\e72a';
}
.mini-tabstreeselect-action.removeall:before {
    content: '\e723';
}
.mini-tabstreeselect-action.recover:before {
    content: '\e709';
}
.mini-tabstreeselect-action.remove:before {
    content: '\e6de';
}

.mini-tabstreeselect-list {
    overflow: auto;

    margin: 0;
    padding: 0;
}

.mini-tabstreeselect-item {
    position: relative;
    #miniui-base-height(@base-height + 2);

    padding-right: 30px;
    padding-left: 10px;

    list-style: none;

    cursor: move;

    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1);

    &:hover {
        background: @item-hover-bg;

        .mini-tabstreeselect-action.remove {
            display: block;
        }
    }
    &.selected {
        background: @item-selected-bg;
    }
    &.dragging {
        background: #eee;
        color: #999;
    }

    > .item-name {
        display: block;
        overflow: hidden;

        width: 100%;

        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

.mini-tabstreeselect-proxy {
    background: #f5f5f5;
    border: 1px solid @split-color;
    border: 0 rgba(0,0,0,.3);
    box-shadow:  0 0 6px rgba(0,0,0,.12);
    z-index: 10;    
}
