.mini-webuploader {
    display: inline-block;
    vertical-align: top;
    position: relative;
}
.webuploader-container,
.mini-btn-pick {
    float: left;
    position: relative;
}
.webuploader-pick > .mini-button-icon {
        position: relative;
        margin-right: 4px;
        margin-right: .04rem;
        top: 7px;
        top: .07rem;
        display: none;
}
.mini-uploader-btns.show-icon .webuploader-pick > .mini-button-icon {
    display: inline-block;
}
.webuploader-element-invisible {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
}
.mini-uploader-btns .webuploader-pick {
    #miniui-button-style();
}
.mini-uploader-btns .webuploader-pick-hover {
    border-color: @theme-color;
    color: @theme-color;
}
.mini-uploader-btns .webuploader-pick-disable {
    opacity: 0.6;
    pointer-events: none;
}
.mini-uploader-btns {
    *zoom: 1;
}
.mini-uploader-btns:before,
.mini-uploader-btns:after {
    display: table;
    line-height: 0;
    content: '';
}
.mini-uploader-btns:after {
    clear: both;
}
.mini-uploader-btns > .mini-button {
    float: left;
    margin-left: 8px;
}
.mini-uploader-item {
    line-height: 30px;
    font-size: 12px;
    word-break: break-all;
}
.mini-uploader-info,
.mini-uploader-size,
.mini-uploader-error {
    margin-right: 5px;
    vertical-align: top;
}
.mini-uploader-info,
.mini-uploader-size {
    color: #999;
}
.success > .mini-uploader-info {
    color: #000;
}
.mini-uploader-error {
    display: none;
    color: @danger-color;
}
.mini-uploader-progressbar {
    position: relative;
    display: inline-block;
    width: 150px;
    height: 30px;
    vertical-align: top;
}
.mini-uploader-retry,
.mini-uploader-remove {
    margin-left: 10px;
    vertical-align: top;
}
.noflash {
    display: inline-block;
    #miniui-base-height(@base-height + 2);
    border-radius: @border-radius;
    background-color: @danger-color;
    color: #fff;
    padding: 0 8px;
    text-decoration: none;
}

/* 保密级别相关样式 */
.mini-uploader-secrecy {
    display: none;
}
.mini-uploader-item.success > .mini-uploader-secrecy {
    display: inline;
}
.mini-secrecylevel-list {
    position: absolute;
    display: none;
    background: #fff;
    border: 1px solid @split-color;
    z-index: 10;
}
.mini-secrecylevel-list > li {
    line-height: 30px;
    padding: 0 20px;
}
.mini-secrecylevel-list > li:hover {
    background-color: @item-hover-bg;
    cursor: pointer;
}
