.acc-menu-item:hover,
.acc-menu-item.active {
  color: #51a6ef;
}
.acc-menu-item.active:before {
  border-color: #51a6ef;
}
.fui-acc-hd {
  color: #00baff;
  border-bottom-color: #00baff;
}
.fui-acc-toggle {
  color: #51a6ef;
}
.fui-acc-toggle:hover {
  color: #60b5fe;
}
.fui-acc-bd {
  background-color: #0a1a4f;
}
.fui-search {
  background-color: #0a1a4f;
}
.fui-search-footer {
  border-color: #1f348e;
}
.fui-search-item {
  color: #fff;
  border-color: #1f348e;
}
.fui-search-desc, .fui-search-result-btns {
  color: #fff;
}
.cond-srh-btn-text,
.cond-srh-btn-toggle,
.fui-search-trigger,
.fui-search-reset-btn,
.fui-search-close-btn,
.fui-search-srh-btn {
  background: #0087ff;
  border-color: #0087ff;
}
.cond-srh-btn-text:hover,
.cond-srh-btn-toggle:hover,
.fui-search-trigger:hover,
.fui-search-reset-btn:hover,
.fui-search-close-btn:hover,
.fui-search-srh-btn:hover {
  background: #006fd2;
  border-color: #006fd2;
}
.fui-toolbar-helper,
.notice-close-btn {
  color: #a8bdf3;
}
.fui-toolbar-helper:hover,
.notice-close-btn:hover {
  color: #51a6ef;
}
.toolbar-ext-area {
  background-color: #152661;
}
.fui-search-trigger.close {
  background: #0a1a4f;
  color: #2586d9;
}
.fui-search-item.active,
.fui-search-item:hover {
  border-color: #0253a3;
}
.mini-buttonedit.fui-primary-search .mini-buttonedit-icon:before {
  color: #51a6ef;
}
.fui-search-item-remove {
  color: #3d4b64;
}
.fui-search-item-remove:hover {
  color: #51a6ef;
}
.fui-search-result-btns span:hover {
  color: #fff;
  background: #0087ff;
}
.fui-block-hd {
  color: #51a6ef;
}
.fui-block-hd:before {
  background: #51a6ef;
}
.action-icon {
  color: #a8bdf3;
}
.action-icon:hover {
  color: #fff;
}
::-moz-selection {
  background: #51a6ef;
  color: #fff;
}
::selection {
  background: #51a6ef;
  color: #fff;
}
.fui-left,.fui-left-bd {
  background: #152661;
  border-color: #2d4478;
}
.fui-left-hd,
.fui-left .fui-left-title {
  border-bottom-color: #2d4478;
  color: #fff;
}

.fui-left-toggle {
  background: none;
  color: #0087ff;
}
.fui-left-toggle:hover {
  color: #1b53c6;
}
.fui-notice {
  background-color: #0d195d;
  color: #00aded;
  border-color: #0d195d;
}
body .acc-nav-item.opened > .acc-nav-link.top {
  color: #51a6ef;
  border-bottom-color: #51a6ef;
}
body .acc-nav-link.active,
body .acc-nav-link.top:hover {
  color: #51a6ef;
}
body .acc-item-hd:hover .acc-title,
body .acc-item-hd:hover .acc-toggle {
  color: #51a6ef;
}
body .acc-toggle:hover {
  color: #51a6ef;
}
body .acc-item.opened .acc-item-hd {
  color: #51a6ef;
  border-bottom-color: #51a6ef;
}
body .acc-item.opened .acc-title {
  color: #51a6ef;
}
body .fui-tabnav-bd {
  background-color: #051038;
  border-color: #051038;
}
body .fui-tabnav-sub .fui-tabnav-link {
  color: #fff;
}
body .fui-tabnav-main .fui-tabnav-item.active > .fui-tabnav-link {
  color: #00baff;
  border-bottom-color: #00baff;
}
body .fui-tabnav-sub .fui-tabnav-item.active > .fui-tabnav-link {
  color: #00baff;
}
body .fui-tabnav-sub .fui-tabnav-link:hover {
  background-color: #011247;
}
.fui-toolbar, .fui-toolbar-bottom {
  background: #122d8b;
}
.fui-list-hover{background-color:#0f3780}
.fui-list-selected{background-color:#2a3a92}
html,
body,
.fui-content,
.fui-condition {
  background: #0a1b50;
  color: #a8bdf3;
}
.fui-theme-main-color {
  color: #fff !important;
}
/* calendar */
.ep-calendar {
  border-color: #374b8a !important;
}
.ep-calendar .ep-calendar-title {
  color: #a8bdf3;
}
.ep-calendar .ep-calendar-btn-prev{
  background-image: url(./images/calendar/btn-prev.png);
}
.ep-calendar .ep-calendar-btn-next {
  background-image: url(./images/calendar/btn-next.png);
}
.ep-calendar .ep-calendar-header {
  border-color: #374b8a;
}
.ep-calendar-daysheader {
  border-bottom: 1px solid #374b8a;
}
.ep-calendar .ep-calendar-day, 
.ep-calendar .ep-calendar-date {
  color: #a8bdf3;
  border-bottom: 1px solid #374b8a;
  border-right: 1px solid #374b8a;
}
.ep-calendar .ep-calendar-othermonth .ep-calendar-date-text {
  color: #475f9e;
}
.ep-calendar-today .ep-calendar-date-text {
  background-color: #0087ff;
  border-color: #0087ff;
}

.ep-calendar-selected .ep-calendar-date-text {
  border-color: #0087ff;
}

.ep-calendar .ep-calendar-menu {
  background: #0a1b50;
  border: 1px solid #051038;
}
.ep-calendar .ep-calendar-menu-years {
  background: #10235b;
}
.ep-calendar .ep-calendar-menu-month.selected, 
.ep-calendar .ep-calendar-menu-month:hover {
  color: #fff;
  border-color: #4170e6;
  background: #020829;
}
.ep-calendar .ep-calendar-menu-year.selected, 
.ep-calendar .ep-calendar-menu-year:hover {
  border-color: #4170e6;
  background: #4170e6;
}
.ep-calendar .ep-calendar-menu-footer {
  background: #0a1b50;
  border-color: transparent;
}
.ep-calendar .ep-calendar-next-year {
  background-image: url(./images/calendar/btn-next.png);
}
.ep-calendar .ep-calendar-prev-year {
  background-image: url(./images/calendar/btn-prev.png);
}
.ep-calendar .ep-calendar-okbtn,
.ep-calendar .ep-calendar-okbtn:hover {
  border-color: #2640a9;
  background-color: #112d8f;
  color: #4a79ed;
}
.ep-calendar .ep-calendar-cancelbtn,
.ep-calendar .ep-calendar-cancelbtn:hover {
  border-color: #2640a9;
  background-color: #111357;
  color: #4a79ed;
}

/* week */
.ep-weekcalendar .ep-weekcalendar-header-btn-prev {
  background-image: url(./images/calendar/btn-left.png);
}
.ep-weekcalendar .ep-weekcalendar-header-btn-next {
  background-image: url(./images/calendar/btn-right.png);
}
.ep-weekcalendar .ep-weekcalendar-header {
  background-color: #172963;
  color: #a8bdf3;
}
.ep-weekcalendar .ep-weekcalendar-category-header {
  background: #0087ff;
}
.ep-weekcalendar .ep-weekcalendar-category .title, 
.ep-weekcalendar .ep-weekcalendar-category .content {
  color: #a8bdf3;
}
.ep-weekcalendar .ep-weekcalendar-category-area {
  background-color: #051038;
}
.ep-weekcalendar .ep-weekcalendar-time-area {
  background-color: #051038;
}
.ep-weekcalendar .ep-weekcalendar-category .content {
  color: #475f9e;
}
.ep-weekcalendar .ep-weekcalendar-week.weekend {
  background: #11235b;
}

.ep-weekcalendar .ep-weekcalendar-grid-item.weekend {
  background: #11235b;
}
.ep-weekcalendar.border .ep-weekcalendar-grid-item,
.ep-weekcalendar.border .ep-weekcalendar-category-list,
.ep-weekcalendar.border .ep-weekcalendar-category,
.ep-weekcalendar.border .ep-weekcalendar-week,
.ep-weekcalendar.border .ep-weekcalendar-grid {
  border-color: #374b8a !important;
}
.ep-weekcalendar.border .ep-weekcalendar-weeks {
  border-color: #374b8a !important;
  color: #a8bdf3;
}
.ep-weekcalendar .ep-weekcalendar-grid-item.selected {
  background: #0f3780;
}
/* calendar end */
/* uc-workflowfloatopinion 控件皮肤 */
body .floatopinion-main {
  background-color: #11225c;
  border-color: #101e4d;
}
body .head-title {
  color: #fff;
}
body .floatopinion-content {
  border-color: #1f348e;
}
.uc-workflowfloatopinion .textareacontent {
  background: #011247;
  border-color: #1f348e;
  color: #a8bdf3;
}
body .add-myopinion {
  background: #011247;
}
body .opiniontmpl-tab-hd>span.active {
  color: #0087ff;
  border-color:#0087ff;
}
body .opiniontmpl-list>.opiniontmpl-item:hover {
  background-color: #0f3780;
}
/* uc-workflowfloatopinion 控件皮肤 end */

.mini-button{color:#fff;border-color:#0087ff;background:#0087ff}body a:hover.mini-button{border-color:#006fd2;background:#006fd2}body a:hover.mini-button.mini-button-plain{color:#fff}body .mini-button-checked,body .mini-button-pressed,body a.mini-button-popup,body a:hover.mini-button-checked,body a:hover.mini-button-popup,body a:hover.mini-button-pressed{color:#fff;border-color:#006fd2;background:#006fd2}.mini-button.mini-button-plain{color:#fff}.mini-button.mini-btn-primary{color:#fff;border-color:#f97e41;background:#f97e41}body a:hover.mini-button.mini-btn-primary{color:#fff;border-color:#d25b20;background:#d25b20}.mini-button.mini-btn-info{color:#fff;border-color:#119cdc;background:#119cdc}body a:hover.mini-button.mini-btn-info{color:#fff;border-color:#027bab;background:#027bab}.mini-btn-danger.mini-button-disabled,.mini-btn-info.mini-button-disabled,.mini-btn-primary.mini-button-disabled,.mini-btn-success.mini-button-disabled,.mini-btn-warning.mini-button-disabled{color:#fff!important;border-color:#525981!important;background:#525981!important}body a.mini-button-disabled,body a:hover.mini-button-disabled{color:#fff!important;border-color:#525981!important;background:#525981!important}
@charset "UTF-8";.mini-textbox-border{border:1px solid #1f348e;background-color:#011247}body .mini-textbox-focus .mini-textbox-border{border-color:#1f348e}.mini-filteredit{background-color:#011247;border:1px solid #1f348e;color:#fff}.mini-filteredit:focus{outline:0}.mini-required .mini-buttonedit-border,.mini-required .mini-textbox-border{background-color:#011247!important;color:#fff}.mini-error .mini-buttonedit-border,.mini-error .mini-textbox-border{border-color:#ff5959!important;background-color:#011247!important;color:#fff}.mini-textbox-input{color:#fff}.mini-textbox-input::-webkit-input-placeholder{color:#475f9e}.mini-filtertree-filter .mini-textbox-border{background-color:#011247}.mini-filtertree .mini-panel-toolbar{background-color:#011247}.mini-filtertree .mini-textbox-border{background:0 0;border-color:#1f348e}.mini-filtertree .mini-textbox-input{color:#fff}.mini-filtertree .mini-textbox-input::-webkit-input-placeholder{color:#5464d7}.mini-filtertree .filter-search-btn{color:#5464d7}
.mini-checkbox-checked .mini-checkbox-icon{color:#3d9df2}.mini-grid-checkbox-checked.switch,.switch.mini-checkbox-checked .mini-checkbox-icon{background:#3d9df2}.mini-checkboxlist-item-selected .mini-list-icon{color:#3d9df2}.mini-radiobuttonlist-item-selected .mini-list-icon{color:#3d9df2}.mini-tree-checkbox{color:#3d9df2}.mini-grid-checkbox{color:#3d9df2}
.mini-buttonedit-border{border-color:#1f348e;background:#011247}.mini-buttonedit-focus .mini-buttonedit-border,.mini-buttonedit-popup .mini-buttonedit-border{border-color:#1f348e}.mini-buttonedit-input{color:#fff}.mini-buttonedit-button-hover,.mini-buttonedit-button-pressed,.mini-buttonedit-hover .mini-buttonedit-trigger,.mini-buttonedit-popup .mini-buttonedit-trigger{background:#111363}body .mini-buttonedit-disabled .mini-buttonedit-border, body .mini-buttonedit-disabled .mini-buttonedit-input,body .mini-buttonedit-disabled .mini-buttonedit-button,body .mini-buttonedit-disabled .mini-buttonedit-border, body .mini-buttonedit-disabled .mini-buttonedit-input{background:#111363}
.mini-panel-border{border-color:#2640a9}.mini-panel-header{color:#fff;background:#2640a9;border-bottom:1px solid #2640a9}.mini-tools>span:hover{background-color:#2e48b3}.mini-panel-footer,.mini-panel-toolbar{color:#fff;background:#14247e;border-color:#14247e}.mini-panel-viewport{background-color:#011247;color:#fff}
.mini-tabs-scrollCt{background:#2640a9;border-color:#2640a9}.mini-tab{color:#fff;border-top:1px solid #0a1b50;background:#2640a9;border-color:#1f348e}.mini-tab-active{color:#00baff;border-top:1px solid #00baff;background:#0a1b50}.mini-tab-hover{color:#00baff;border-top:1px solid #00baff;background-color:#0a1b50}.mini-tab .mini-tab-icon{color:#fff}.mini-tab-active .mini-tab-icon{color:#00baff}.mini-tab-hover .mini-tab-icon{color:#00baff}.mini-tabs-bodys{border-color:#0a1b50;background:#0a1b50;color:#fff}body .mini-tabs-plain .mini-tabs-scrollCt{border-left:1px solid #0a1b50}.mini-tabs-space,.mini-tabs-space2{border-top:1px solid #2640a9}.mini-tab-close.mini-icon{width:12px;border-radius:50%;display:inline-block;background-color:#273897}
@charset "UTF-8";.mini-menu-border{border:1px solid #1b2c6d}.mini-menu-inner{color:#fff;background:#1b2c6d}.mini-menuitem-text{color:#fff}.mini-separator{border-top:solid 1px transparent}.mini-menu .mini-menu-popup,.mini-menu .mini-menuitem-hover{border:1px solid #0f3780;background:#0f3780}.mini-menu .mini-menuitem-icon,.mini-menu .mini-tab-icon{color:#fff}.mini-menu .mini-menuitem-selected{border:1px solid #2a3a92;background:#2a3a92}.mini-splitbutton.mini-button-popup .mini-button-text{background:#0253a3}body a:hover.mini-splitbutton{border-color:#0253a3;background:#0253a3}body a.mini-splitbutton .mini-button-split:hover,body a.mini-splitbutton .mini-button-text:hover{background-color:#0267cc}
.mini-calendar-days td{color:#fff}.mini-calendar .mini-calendar-weekend{color:#fff}.mini-calendar .mini-calendar-othermonth{color:#5665b9}.mini-calendar-date{border:1px solid transparent}.mini-calendar-date:hover{border:1px solid #4170e6;background:#4170e6;color:#fff}.mini-calendar-menu-month{color:#fff;border-color:transparent}.mini-calendar .mini-calendar-selected,.mini-calendar .mini-calendar-selected:hover{color:#fff;border:1px solid #3350c7;background-color:#0a1b50}.mini-calendar .mini-calendar-today{color:#fff;border:1px solid #4170e6;background:#4170e6}.mini-calendar-menu-selected,a:hover.mini-calendar-menu-month,a:hover.mini-calendar-menu-selected{color:#fff;border:1px solid #4170e6;background:#020829}.mini-calendar-menu-years .mini-calendar-menu-selected,.mini-calendar-menu-years a:hover.mini-calendar-menu-selected,a:hover.mini-calendar-menu-year{color:#fff;border:1px solid #4170e6;background:#4170e6}.mini-datepicker .mini-buttonedit-button-hover,.mini-datepicker .mini-buttonedit-button-pressed,.mini-datepicker .mini-buttonedit-hover .mini-buttonedit-trigger,.mini-datepicker .mini-buttonedit-popup .mini-buttonedit-trigger{background:#182a8c}.mini-datepicker .mini-buttonedit-button-hover .mini-buttonedit-icon,.mini-datepicker .mini-buttonedit-button-pressed .mini-buttonedit-icon,.mini-datepicker .mini-buttonedit-hover .mini-buttonedit-trigger .mini-buttonedit-icon,.mini-datepicker .mini-buttonedit-popup .mini-buttonedit-trigger .mini-buttonedit-icon{color:#fff!important}.mini-calendar-view{background:#0a1b50}.mini-calendar-header{background-color:#0a1b50;border-bottom:1px solid transparent}.mini-calendar-headerInner{background:#0a1b50}.mini-calendar-daysheader{background-color:#0a1b50;color:#fff}.mini-calendar-title{color:#fff}.mini-calendar-footer{background-color:#0a1b50;border-top:1px solid transparent}.mini-calendar-okButton,.mini-calendar-tadayButton{background-color:#112d8f;color:#4a79ed}.mini-calendar-cancelButton,.mini-calendar-clearButton{background-color:#111357;color:#4a79ed}.mini-calendar-menu{background-color:#0a1b50}.mini-calendar-menu-years{background-color:#10235b}.mini-calendar-menu-year{color:#fff;border-color:transparent}.mini-calendar-menu-nextYear,.mini-calendar-menu-prevYear{color:#3b67d6}.mini-calendar-monthNext,.mini-calendar-monthPrev,.mini-calendar-yearNext,.mini-calendar-yearPrev{color:#4170e6}.mini-calendar-daysheader td{border-bottom-color:transparent}.mini-calendar-timespinner{width:80px}.mini-buttonedit-up .mini-icon{color:#18a0df}.mini-buttonedit-down .mini-icon{color:#18a0df}.mini-calendar-cancelButton,.mini-calendar-clearButton,.mini-calendar-okButton,.mini-calendar-tadayButton{border-color:#2640a9}.mini-calendar-cancelButton:hover,.mini-calendar-clearButton:hover,.mini-calendar-okButton:hover,.mini-calendar-tadayButton:hover{border-color:#2640a9}
.mini-listbox-item-hover{background:#0f3780}.mini-listbox-item-selected{background:#2a3a92}.mini-listbox-headerInner,.mini-listbox-items{background-color:#2559c2}.mini-listbox-item{color:#a8bdf3}.mini-listbox-border{border:1px solid transparent;background-color:transparent}.mini-textboxlist .mini-errorIcon:before{color:#ff5959}.mini-error .mini-textboxlist-border{border-color:#ff5959}

@charset "UTF-8";.mini-grid-headerCell{border-color:transparent;background:#2a389e}.mini-grid-topRightCell{background:#2a389e;border-color:transparent}.mini-grid-row-alt{background:#0a1a4f}html body .mini-grid-row-selected{background:#2a3a92}html body .mini-grid-row-hover{background:#0f3780}.mini-grid-pager{border-top:1px solid transparent;background:0 0}body .mini-grid .mini-grid-cell-error{background:#fee2f0}.mini-grid-filterRow{background:#051038}html body .mini-grid .mini-grid-cell-selected{background:#1965d8}.mini-grid-cell,.mini-grid-filterCell,.mini-grid-headerCell,.mini-grid-summaryCell{border-bottom:transparent 1px solid}.mini-grid-newRow{background: #313a69;}
.mini-tree-node-hover{background:#0f3780}.mini-tree-selectedNode{background:#2a3a92}.mini-tree-collapse .mini-tree-node-ecicon{background-image:url(images/tree_ext/collapse.png)}.mini-tree-expand .mini-tree-node-ecicon{background-image:url(images/tree_ext/expand.png)}.mini-tree-treeLine .mini-tree-indent{background:transparent url(images/tree_ext/treeline.png) no-repeat center}.mini-tree-treeLine .mini-tree-node-ecicon{background:transparent url(images/tree_ext/treeNodeLine.png) no-repeat center}.mini-tree-treeLine .mini-tree-expand .mini-tree-node-ecicon{background:transparent url(images/tree_ext/expandLine.png) no-repeat center}.mini-tree-treeLine .mini-tree-collapse .mini-tree-node-ecicon{background:transparent url(images/tree_ext/collapseLine.png) no-repeat center}.mini-tree-treeLine .mini-tree-node-ecicon-last{background:transparent url(images/tree_ext/lastline.png) no-repeat center}.mini-tree-treeLine .mini-tree-expand .mini-tree-node-ecicon-first{background:transparent url(images/tree_ext/firstExpandNode.png) no-repeat center}.mini-tree-treeLine .mini-tree-expand .mini-tree-node-ecicon-last{background:transparent url(images/tree_ext/lastExpandNode.png) no-repeat center}.mini-tree-treeLine .mini-tree-collapse .mini-tree-node-ecicon-first{background:transparent url(images/tree_ext/firstCollapseNode.png) no-repeat center}.mini-tree-treeLine .mini-tree-collapse .mini-tree-node-ecicon-last{background:transparent url(images/tree_ext/lastCollapseNode.png) no-repeat center}.mini-tree-treeLine .mini-tree-expand .mini-tree-node-ecicon-firstLast{background:transparent url(images/tree_ext/expand.png) no-repeat center}.mini-tree-treeLine .mini-tree-collapse .mini-tree-node-ecicon-firstLast{background:transparent url(images/tree_ext/collapse.png) no-repeat center}.mini-tree-treeLine .mini-tree-expand .mini-tree-node-ecicon-firstAndlast{background-image:url(images/tree_ext/firstAndlastexpand.png);background-position:50% 50%}.mini-tree-treeLine .mini-tree-collapse .mini-tree-node-ecicon-firstAndlast{background-image:url(images/tree_ext/firstAndlastcollapse.png);background-position:50% 50%}.mini-tree-treeLine .mini-tree-node-ecicon-firstAndlast{background-image:url(images/tree_ext/lastline.png);background-position:50% 50%}.mini-tree .mini-tree-icon{color:#1d96e8}
.mini-pager-first{color:#1d96e8!important}.mini-pager-prev{color:#1d96e8!important}.mini-pager-next{color:#1d96e8!important}.mini-pager-last{color:#1d96e8!important}.mini-pager-reload{color:#1d96e8!important}.mini-pager .mini-button-plain:hover{border-color:#2640a9;background:#0f2a88}.mini-pager{background-color:#122d8b;color:#fff}.mini-popup{border:1px solid transparent;background:#1b2c6d}.mini-popupedit .mini-buttonedit-trigger .mini-buttonedit-icon{color:#1d96e8!important}body .mini-pager-size .mini-buttonedit .mini-buttonedit-border{border-color:#2640a9;background-color:#111363}body .mini-pager-num{border-color:#2640a9;background-color:#111363;color:#fff}.separator{border-left-color:#14247e}.pagination-button{color:#a8bdf3;background-color:#0a1b50;border-color:#455ab1}.pagination-button:hover{background-color:#0087ff;color:#fff;border-color:#0087ff}.pagination-next.mini-icon,.pagination-prev.mini-icon{color:#a8bdf3;background-color:#0a1b50;border-color:#455ab1}.pagination-button.pagination-current:hover,.pagination-current{background-color:#0087ff;color:#fff;border-color:#0087ff}.mini-pagination .mini-buttonedit.mini-combobox .mini-buttonedit-border{border-color:#455ab1;color:#a8bdf3}.mini-pagination .mini-buttonedit.mini-combobox{width:90px!important}.mini-pagination .mini-buttonedit-input{color:#a8bdf3}.pagination-pagerchange{color:#a8bdf3}.pagination-pagerchange input{background:#0a1b50;border-color:#455ab1;color:#fff}.pagination-pagerchange input:focus{border-color:#455ab1}
.mini-textboxlist-popup{background:#fff}.mini-textboxlist-border{border-color:#1f348e}.mini-textboxlist-focus .mini-textboxlist-border{border-color:#1f348e}.mini-textboxlist .mini-textboxlist-item{border:1px solid #3350c7;background:#14247e;color:#fff}.mini-textboxlist .mini-textboxlist-item:hover{background:#3350c7;cursor:pointer}.mini-required .mini-textboxlist-border{background:#011247}.mini-textboxlist-close-hover{color:#fff}
.mini-window .mini-panel-border{border-color:#2640a9}.mini-window .mini-panel-header{background:#2640a9;color:#fff;border-bottom:1px solid #2640a9}.mini-window .mini-tools>span:hover{background-color:#0267cc}.mini-tools>span.mini-tools-close:hover{background-color:#c11717;color:#fff}
.mini-messagebox{background:#2640a9}.mini-messagebox .mini-panel-header{color:#a8bdf3;border-bottom:1px solid #2640a9;background:#2640a9}.mini-messagebox .mini-messagebox-buttons{background-color:#041444}.mini-window.mini-messagebox .mini-panel-border{border-color:#2640a9}.mini-messagebox .mini-panel-viewport{background-color:#0a1b50}.mini-messagebox-button.ok{background-color:#f97e41}.mini-messagebox-buttons .mini-messagebox-button:hover{background-color:#006fd2}.mini-messagebox-buttons .mini-messagebox-button.ok:hover{background-color:#d25b20}.mini-messagebox .mini-tools .mini-tools-close:hover{color:#fff}
.mini-colorpicker>.mini-textbox.mini-textbox-focus>.mini-textbox-border{border-color:#bdbec1}
.mini-uploader-btns .webuploader-pick{background:#0087ff;border-color:#0087ff}.mini-uploader-btns .webuploader-pick-hover{background:#006fd2;border-color:#006fd2}.mini-uploader-btns .webuploader-pick-disable{background:#525981;cursor:not-allowed}
@charset "UTF-8";.mini-dataexport>.mini-panel .mini-panel-border{border-color:#1f348e}.mini-export-listbtn{border-color:#1f348e;color:#fff}.mini-export-listbtn:hover{background-color:#122d8b}.mini-export-listbtn:active{border-color:#89c5e1;background-color:#122d8b}.mini-export-list .mini-export-left,.mini-export-list .mini-export-right{border-color:#1f348e}.mini-export-list-header{background-color:#111363;color:#fff;border-bottom:1px solid #1f348e}.mini-export-list .mini-listbox-items{background-color:transparent}.mini-export-list .mini-listbox-item{color:#fff}.mini-listbox-view{background-color:#051038}.mini-radiobuttonlist .mini-export-num{background:0 0;color:#fff;border:1px solid #1f348e}
@charset "UTF-8";.mini-tabstreeselect-tabs>li{color:#fff}.mini-tabstreeselect-tabs>li.active,.mini-tabstreeselect-tabs>li:hover{color:#00baff;background-color:#0a1b50;border-color:#2a389e;border-bottom:1px solid transparent}.mini-tabstreeselect-buttons{border-bottom:1px solid #2a389e}.mini-tabstreeselect-item:hover{background:#0f3780}.mini-tabstreeselect-item.selected{background:#2a3a92}.mini-tabstreeselect-header{background-color:#2a389e;color:#fff;border-color:transparent}.mini-tabstreeselect-content{background:#0a1b50;border-color:#1f348e;border-top-color:transparent;color:#fff}.mini-tabstreeselect-content .mini-tabstreeselect-action{color:#fff}.mini-tabstreeselect-content .mini-tabstreeselect-action.removeall:hover{color:#f96d41}.mini-tabstreeselect-content .mini-tabstreeselect-action.recover:hover{color:#00baff}.mini-tabstreeselect-content .mini-tabstreeselect-action.remove:hover{color:#f8e191}.mini-tabstreeselect-header-main{background:0 0;color:#fff;border-color:transparent}.mini-tabstreeselect-content .mini-panel-toolbar{background-color:transparent}.mini-tabstreeselect-content .mini-textbox-border{background:0 0;border-color:#1f348e}.mini-tabstreeselect-content .mini-textbox-input{color:#fff}.mini-tabstreeselect-content .mini-textbox-input::-webkit-input-placeholder{color:#5464d7}.mini-tabstreeselect-content .mini-filtertree .filter-search-btn{color:#5464d7}
.mini-uploader-list .file-item{background-color:#293f84;border-color:#374b8a;color:#a8bdf3;}.mini-uploader-list .file-item .file-name{color:#fff;}.mini-uploader-list .file-func > span{color:#a8bdf3}.mini-uploader-list .file-func > span:hover{color:#fff}.mini-uploader-list .file-item:hover, .mini-uploader-list .file-item.active{background-color:#0a1b50}
.mini-highlight{background-color:#ff5722}body .mini-buttonedit-disabled .mini-buttonedit-border, body .mini-buttonedit-disabled .mini-buttonedit-input {background: transparent;}body .mini-buttonedit-disabled .mini-buttonedit-button {background: transparent;}body .mini-textbox-disabled .mini-textbox-input{color: #666;background: transparent;}body .mini-textbox-disabled .mini-textbox-border{border-color: #1f348e;background: transparent}