.mr-18 {
  margin-right: 18px;
}

.mt-14 {
  margin-top: 14px !important;
}

.pb-16 {
  padding-bottom: 16px;
}

canvas {
  outline: none;
}

.result-mark {
  color: #f60;
}

.main {
  width: 100%;
  height: 100%;
  background-image: url("../images/bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.header {
  height: 80px;
  background-image: url("../images/title/title_bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 0 20px;
  box-sizing: border-box;
}

.header .logo {
  height: 80px;
  line-height: 80px;
}

.header .logo img {
  display: inline-block;
  vertical-align: middle;
}

.header .logo .logo-title {
  margin-left: 10px;
}

.header .right-group {
  height: 46px;
  line-height: 40px;
  font-size: 16px;
  color: #fff;
  margin-top: 20px;
}

/* 退出按钮 */
.header {
    position: relative;
    z-index: 3;
}
.click-user {
    width: 136px;
    margin-left: 10px;
    font-size: 14px;
    line-height: 32px;
    padding: 14px 0;
    background: #2e3747;
    border: 1px solid #434b55;
    border-radius: 4px;
    position: absolute;
    right: 32px;
    top: 42px;
    display: none;
}

.user-action-item {
    position: relative;
    color: #dfe2e3;
    font-size: 15px;
    height: 32px;
    line-height: 32px;
    font-size: .15rem;
    line-height: .3rem;
    height: .3rem;
    padding-left: 36px;
    padding-left: .36rem;
    padding-right: 14px;
    max-width: 160px;
    transition: all .1s ease-out;
    background-repeat: no-repeat;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.user-action-item:hover {
  background: url(../images/title/user-item-active.png) center no-repeat;
  background-size: 100% 100%;
}

.user-action-item.logout:after {
  content: '';
  width: 32px;
  height: 32px;
  background: url(../images/title/logout.png) center no-repeat;
  position: absolute;
  top: 0;
  left: 0;
}
.user-action-item.change-pwd:after {
  content: '';
  width: 32px;
  height: 32px;
  background: url(../images/title/change-pwd.png) center no-repeat;
  position: absolute;
  top: 0;
  left: 0;
}

/* .exit,
.modify {
    cursor: pointer;
    box-sizing: border-box;
    padding-left: 40px;
    position: relative;
}

.exit:before,
.modify:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 32px;
}

.exit:before {
    background: url('../images/top/logout.png') center center no-repeat;
    background-size: 14px 16px;
}

.modify:before {
    background: url('../images/change-pwd.png') center bottom no-repeat;
    background-size: 32px 32px;
}

.exit:hover,
.modify:hover {
    background: url('../images/top/user-item-active.png') center top no-repeat;
    background-size: 136px 32px;
} */

/* 退出按钮 end */

.header .right-group .title-btn {
  position: relative;
  height: 40px;
  padding-left: 52px;
  background-repeat: no-repeat;
  background-position: left center;
  margin-right: 10px;
  overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100px;
}

.header .right-group .title-btn:before {
  content: "";
  height: 40px;
  display: block;
  position: absolute;
  top: 0;
  left: 32px;
  right: 0;
  background-image: url("../images/title/icon_name_bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.header .right-group .title-btn:hover:before,
.header .right-group .title-btn.active:before {
  background-image: url("../images/title/icon_name_bg_active.png");
}

.header .right-group .back-home {
  background-image: url("../images/title/icon_backhome.png");
  background-position: left 7px;
}

.header .right-group .back-home:hover {
  cursor: pointer;
  background-position: left 1px;
  background-image: url("../images/title/icon_backhome_active.png");
}

.header .right-group .user {
  background-image: url("../images/title/icon_user.png");
  background-position: left 7px;
  min-width: 100px;
}

.header .right-group .user:hover,
.header .right-group .user.active {
  cursor: pointer;
  background-position: left 7px;
  background-image: url("../images/title/icon_user_active.png");
}

.container {
  height: calc(100% - 80px);
  position: relative;
}

.left-panel {
  width: 260px;
  height: 100%;
  background-image: url("../images/left/left_bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 14px 16px;
  box-sizing: border-box;
}

.left-panel .left-panel-ul {
  height: 100%;
}

.left-panel .top-menu-item {
  height: 64px;
  transition: height .3s;
  -moz-transition: height .3s;
  -webkit-transition: height .3s;
  -o-transition: height .3s;
}

.left-panel .top-menu-item .menu-item {
  background-image: url("../images/left/icon_btn.png");
  background-repeat: no-repeat;
  height: 64px;
  line-height: 64px;
  color: #dfe2e3;
  padding-left: 26px;
  padding-right: 33px;
  box-sizing: border-box;
  position: relative;
  user-select: none;
}

.left-panel .top-menu-item .menu-item .top-menu-name {
  width: 120px;
  display: inline-block;
  font-size: 22px;
  vertical-align: middle;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.8);
  letter-spacing: 2px;
}

.left-panel .top-menu-item .menu-item .top-menu-count {
  display: inline-block;
  font-size: 16px;
  vertical-align: middle;
  width: 48px;
  text-align: right;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.8);
}

.left-panel .top-menu-item .menu-item .top-menu-arrow {
  width: 22px;
  height: 22px;
  display: inline-block;
  position: absolute;
  right: 11px;
  top: 50%;
  margin-top: -8px;
  background-image: url("../images/left/icon_btn_arrow.png");
  background-repeat: no-repeat;
  background-position: center center;
  vertical-align: middle;
}

.left-panel .top-menu-item .menu-item-content {
  height: 0;
  overflow: hidden;
}

.left-panel .top-menu-item:hover .menu-item {
  cursor: pointer;
  background-image: url("../images/left/icon_btn_active.png");
}

.left-panel .top-menu-item.active {
  color: #f3f0df;
  height: calc(100% - 240px);
}

.left-panel .top-menu-item.active .menu-item {
  background-image: url("../images/left/icon_btn_active.png");
}

.left-panel .top-menu-item.active .menu-item .top-menu-name {
  color: #fff;
}

.left-panel .top-menu-item.active .menu-item .top-menu-count {
  color: #fff;
}

.left-panel .top-menu-item.active .menu-item .top-menu-arrow {
  background-image: url("../images/left/icon_btn_arrow_active.png");
}

.left-panel .top-menu-item.active .menu-item-content {
  height: calc(100% - 64px);
}

.left-panel .source-search {
  margin: 0 0 14px 0;
  height: 40px;
  border-radius: 2px;
  border: 1px solid #475a77;
  position: relative;
  padding: 0 40px 0 10px;
  box-sizing: border-box;
}


.left-panel .source-search .search-input {
  background-color: transparent;
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  color: #fff;
  font-size: 15px;
}

.left-panel .source-search .search-icon {
  width: 40px;
  height: 40px;
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
  background-image: url("../images/left/icon_search.png");
  background-repeat: no-repeat;
  background-position: center center;
}
.source-search.focus {
    border: 1px solid #efefef;
}
.source-search.focus .search-icon{
    background-image: url("../images/left/icon_search_focus.png");
}

.left-panel .data-source .source-tab {
  height: 38px;
  padding-top: 10px;
}

.left-panel .data-source .source-tab .source-tab-item {
  width: 50%;
  height: 38px;
  line-height: 38px;
  display: inline-block;
  background-image: url("../images/left/icon_tab.png");
  background-repeat: no-repeat;
  text-align: center;
}

.left-panel .data-source .source-tab .source-tab-item.active, .left-panel .data-source .source-tab .source-tab-item:hover {
  cursor: pointer;
  background-image: url("../images/left/icon_tab_active.png");
}

.left-panel .data-source .data-source-wrap {
  height: calc(100% - 48px);
  padding-top: 14px;
  box-sizing: border-box;
}

.left-panel .data-source .data-source-wrap .all-source,
.left-panel .data-source .data-source-wrap .my-source {
  height: 100%;
}

.left-panel .data-source .data-source-wrap .all-source .source-panel,
.left-panel .data-source .data-source-wrap .my-source .source-panel {
  height: calc(100% - 54px);
  overflow-y: auto;
}

.left-panel .data-source .data-source-wrap .tree-item.active > .tree-text > .menu-arrow {
  background-image: url("../images/left/icon_arrow.png");
}

.left-panel .data-source .data-source-wrap .tree-item .tree-text {
  line-height: 30px;
  cursor: pointer;
  font-size: 16px;
}

.left-panel .data-source .data-source-wrap .tree-item .tree-text .menu-arrow {
  width: 14px;
  height: 16px;
  margin-top: 7px;
  margin-right: 10px;
  display: inline-block;
  background-image: url("../images/left/icon_arrow_active.png");
  background-repeat: no-repeat;
  background-position: center;
}

.left-panel .data-source .data-source-wrap .tree-item .tree-text .menu-arrow.no-child {
  background-image: none;
}

.left-panel .data-source .data-source-wrap .tree-item .tree-text .tree-name {
  width: calc(100% - 24px);
}

.left-panel .component-list {
  height: calc(100% - 68px);
  overflow-y: auto;
  background-image: url("../images/left/left_line.png");
  background-repeat: no-repeat;
  background-position: bottom center;
}

.left-panel .component-list .component-item {
  width: calc((100% - 40px)/3);
  display: inline-block;
  text-align: center;
  margin-right: 20px;
  margin-bottom: 15px;
  height: 98px;
}

.left-panel .component-list .component-item:nth-of-type(3n) {
  margin-right: 0;
}

.left-panel .component-list .component-item .component-icon-box {
  height: 53px;
  line-height: 48px;
  text-align: center;
  background-image: url("../images/left/menu_bg.png");
  background-repeat: no-repeat;
}

.left-panel .component-list .component-item .component-icon-box .component-img {
  display: inline-block;
  vertical-align: bottom;
}

.left-panel .component-list .component-item .component-txt {
  line-height: 20px;
  padding-top: 4px;
}

.left-panel .component-list .component-item:hover {
  cursor: pointer;
}

.left-panel .component-list .component-item:hover .component-icon-box {
  background-image: url("../images/left/menu_bg_active.png");
}

.right-panel {
  position: absolute;
  left: 274px;
  top: 14px;
  right: 14px;
  bottom: 14px;
  border: 1px solid #295493;
  border-radius: 6px;
  overflow: hidden;
}

.right-panel .icon-group {
  height: 50px;
  border-bottom: 1px solid #295493;
  padding-top: 10px;
  padding-left: 14px;
  padding-right: 14px;
  box-sizing: border-box;
  box-shadow: inset 0px 60px 60px -60px #304473,
 inset 0px -60px 60px -60px #304473;
  position: relative;
}

.right-panel .icon-group .icon-item {
  color: #dfe2e3;
  font-size: 0;
  display: inline-block;
  background-image: url("../images/top/icon_top_btn.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  /* width: 30px; */
}

.right-panel .icon-group .icon-item .handle-icon {
  width: 30px;
  height: 30px;
  display: inline-block;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
}

.right-panel .icon-group .icon-item .handle-icon-text {
  line-height: 28px;
  font-size: 15px;
  margin-left: 5px;
  display: inline-block;
}

.right-panel .icon-group .icon-item:hover, .right-panel .icon-group .icon-item.active {
  cursor: pointer;
  background-image: url("../images/top/icon_top_btn_active.png");
}

.right-panel .icon-group .icon-item-split {
  height: 54px;
  width: 1px;
  background-image: url("../images/top/icon_v_line.png");
  background-repeat: no-repeat;
}

.right-panel .icon-group .handle-icon-save {
  background-image: url("../images/top/icon_save.png");
}

.right-panel .icon-group .handle-icon-other {
  background-image: url("../images/top/icon_other_save.png");
}

.right-panel .icon-group .handle-icon-prev {
  background-image: url("../images/top/icon_prev.png");
}

.right-panel .icon-group .handle-icon-next {
  background-image: url("../images/top/icon_next.png");
}

.right-panel .icon-group .handle-icon-del {
  background-image: url("../images/top/icon_del.png");
}

.right-panel .icon-group .handle-icon-scale {
  background-image: url("../images/top/icon_scale.png");
}

.right-panel .icon-group .handle-icon-init {
  background-image: url("../images/top/icon_init.png");
}

.right-panel .icon-group .handle-icon-do {
  background-image: url("../images/top/icon_do.png");
}

.right-panel .icon-group .handle-icon-release {
  background-image: url("../images/top/icon_release.png");
}

.right-panel .icon-group .scale-box {
  display: none;
  position: absolute;
  left: 174px;
  top: 80px;
  width: 312px;
  height: 70px;
  border: 1px solid #295493;
  border-radius: 2px;
  background-color: #1c3155;
  z-index: 12;
  padding: 8px 0 10px 0;
  box-sizing: border-box;
  user-select: none;
}

.right-panel .icon-group .scale-box:after {
  content: "";
  display: block;
  border-width: 0px 9px 9px 9px;
  border-color: transparent transparent #295493  transparent;
  border-style: solid;
  position: absolute;
  left: 120px;
  top: -9px;
  width: 0;
  height: 0;
}

.right-panel .icon-group .scale-box:before {
  content: "";
  display: block;
  border-width: 0 8px 8px 8px;
  border-color: transparent transparent #1c3155 transparent;
  border-style: solid;
  position: absolute;
  left: 121px;
  top: -8px;
  width: 0;
  height: 0;
  z-index: 11;
}

.right-panel .icon-group .scale-box .scale-move {
  height: 28px;
}

.right-panel .icon-group .scale-box .scale-num {
  height: 24px;
  line-height: 24px;
  padding: 0 20px 0 10px;
}

.right-panel .icon-group .scale-box .scale-num .scale-split {
  width: 20%;
  text-align: center;
  color: #dfe2e3;
}

.right-panel .icon-group .scale-box .scale-item {
  width: 24px;
  height: 24px;
  display: inline-block;
  line-height: 24px;
  text-align: center;
  color: #798dac;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  user-select: none;
  margin-left: 4px;
}

.right-panel .icon-group .scale-box .head-scale {
  display: inline-block;
  width: 250px;
  margin-bottom: 2px;
  margin-top: 10px;
}

.right-panel .icon-group .scale-box .head-scale .theme-green .back-bar {
  background: #2b4879;
  height: 7px;
  cursor: col-resize;
}

.right-panel .icon-group .scale-box .head-scale .theme-green .back-bar .selected-bar {
  background-image: url("../images/top/icon_scale_line.png");
  background-repeat: repeat-x;
  background-size: 100% 100%;
  background-color: transparent;
}

.right-panel .icon-group .scale-box .head-scale .theme-green .back-bar .pointer {
  background-image: url("../images/top/icon_scale_dist.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.right-panel .chart-wrap {
  height: calc(100% - 77px);
  position: relative;
}

.right-panel .chart-wrap .chart-legend {
  position: absolute;
  right: 14px;
  top: 14px;
  font-size: 15px;
  color: #dfe2e3;
  line-height: 20px;
}

.right-panel .chart-wrap .chart-legend .legend-item {
  width: 20px;
  height: 14px;
  margin-top: 3px;
  margin-right: 3px;
  margin-left: 10px;
  vertical-align: middle;
  border-radius: 3px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.right-panel .chart-wrap .chart-legend .legend-local {
  background-image: url("../images/content/node_local.png");
}

.right-panel .chart-wrap .chart-legend .legend-resource {
  background-image: url("../images/content/node_source.png");
}

.right-panel .chart-wrap .chart-legend .legend-handled {
  background-image: url("../images/content/node_handled.png");
}

.right-panel .chart-wrap .chart-canvas {
  height: calc(100% - 46px);
}

.right-panel .contextMenu {
  display: none;
  position: absolute;
  z-index: 13;
  font-size: 14px;
  background-color: #1c3155;
  /*border: 1px solid #ddd;*/
  width: 104px;
  border: 1px solid #295493;
  box-shadow: 0 0 5px 1px rgba(102, 102, 102, 0.2);
}

.right-panel .contextMenu .cxm {
  box-sizing: border-box;
  padding: 0 8px;
  width: 104px;
  line-height: 30px;
  color: #fff;
}

.right-panel .contextMenu .cxm:hover {
  background-color: #344b73;
  cursor: pointer;
}

.right-panel .design-layer {
  display: none;
  width: 220px;
  height: 260px;
  background-color: #1c3155;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 3px;
  border: 1px solid #475a77;
  color: #dfe2e3;
  overflow-y: auto;
  position: fixed;
  z-index: 12;
  /* top:  */
}

.right-panel .design-layer .design-layer-search {
  width: 100%;
  height: 30px;
  padding: 0 0 0px;
  border: 1px solid #475a77;
}

.right-panel .design-layer .layer-search-input {
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  line-height: 30px;
  padding-left: 5px;
  box-sizing: border-box;
  background-color: transparent;
  color: #fff;
}

.right-panel .design-layer .design-layer-container {
  position: absolute;
  top: 40px;
  bottom: 5px;
  left: 5px;
  right: 5px;
  overflow-y: auto;
  background-color: #1c3155;
}

.right-panel .design-layer .design-layer-move {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  height: 5px;
  cursor: move;
}

.right-panel .design-layer .tree-text {
  height: 40px;
  line-height: 40px;
  padding-left: 10px;
  cursor: pointer;
}

.right-panel .design-layer .tree-text:hover {
  border-right: 1px solid transparent;
  background-color: #344b73;
}

.right-panel .design-layer .tree-icon {
  max-height: 40px;
}

.right-panel .complete-tip {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 15;
  display: none;
  padding: 3px 5px;
  border-radius: 3px;
  max-width: 260px;
  /*background-color: #fff;*/
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.3);
}

.right-panel .log-panel {
  height: 186px;
  border-top: 1px solid #295493;
  position: absolute;
  left: 0;
  bottom: -152px;
  right: 0;
  padding: 0 14px 14px 14px;
  box-sizing: border-box;
  background-color: #1b1b31;
  z-index: 11;
  transition: all .3s;
  -moz-transition: all .3s;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  box-shadow: inset 0px 60px 60px -60px #304473,
 inset 0px -60px 60px -60px #304473;
}

.right-panel .log-panel.unfold {
  bottom: 0px !important;
}

.right-panel .log-panel.unfold .log-panel-move {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border: 1px solid transparent;
  cursor: ns-resize;
}

.right-panel .log-panel .log-panel-btn {
  position: absolute;
  width: 32px;
  height: 16px;
  left: 50%;
  top: 0;
  margin-left: -16px;
  background-image: url("../images/log/icon_fold.png");
  background-repeat: no-repeat;
  cursor: pointer;
}

.right-panel .log-panel .log-panel-btn.active {
  background-image: url("../images/log/icon_unfold.png");
}

.right-panel .log-panel .log-head {
  height: 46px;
  line-height: 46px;
  color: rgba(223, 226, 227, 0.4);
  font-size: 14px;
}

.right-panel .log-panel .log-head .log-tab .log-tab-item {
  margin-right: 46px;
  position: relative;
}

.right-panel .log-panel .log-head .log-tab .log-tab-item:hover, .right-panel .log-panel .log-head .log-tab .log-tab-item.active {
  cursor: pointer;
  color: #fff;
}

.right-panel .log-panel .log-head .log-tab .log-tab-item:hover:after, .right-panel .log-panel .log-head .log-tab .log-tab-item.active:after {
  content: "";
  height: 2px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 8px;
  background-color: #fff;
}

.right-panel .log-panel .log-head .calc-text {
  font-size: 15px;
  color: #dfe2e3;
}

.right-panel .log-panel .log-head .temp-download {
  margin-right: 20px;
  width: 110px;
  height: 32px;
  line-height: 30px;
  margin-top: 7px;
  font-size: 15px;
  text-align: center;
  color: #dfe2e3;
  background-image: url("../images/log/log_download.png");
  background-repeat: no-repeat;
}

.right-panel .log-panel .log-head .temp-download:hover {
  cursor: pointer;
  background-image: url("../images/log/log_download_active.png");
}

.right-panel .log-panel .log-list-box {
  height: calc(100% - 46px);
  box-sizing: border-box;
}

.right-panel .log-panel .log-list-box .log-list {
  height: 100%;
  overflow-y: auto;
}

.right-panel .log-panel .log-list-box .log-list.log-preview.no-data {
  background-image: url("../images/log/icon_no_data.png");
  background-repeat: no-repeat;
  background-position: center center;
}

.right-panel .log-panel .log-list-box .log-list.log-preview.data-loading {
  background-image: url("../images/log/loading2.gif");
  background-repeat: no-repeat;
  background-size: 51px 43px;
  background-position: center center;
}

.no-data .preview-list, .data-loading .preview-list {
	display: none !important;
}

.right-panel .log-panel .log-list-box .log-table {
  width: 100%;
  color: #dfe2e3;
  border-left: 1px solid #3b4b6a;
  border-top: 1px solid #3b4b6a;
}

.right-panel .log-panel .log-list-box .log-table th {
  background-color: #2c426c;
}

.right-panel .log-panel .log-list-box .log-table td,
.right-panel .log-panel .log-list-box .log-table th {
  border-right: 1px solid #3b4b6a;
  border-bottom: 1px solid #3b4b6a;
  line-height: 32px;
  text-align: left;
  padding-left: 10px;
}

.right-panel .log-panel .log-list-box .log-item {
  padding-left: 32px;
  background-image: url("../images/log/icon_status_1.png");
  background-position: left center;
  background-repeat: no-repeat;
  color: #dfe2e3;
  font-size: 15px;
  line-height: 34px;
}

.right-panel .log-panel .log-list-box .log-item.log-red {
  background-image: url("../images/log/icon_status_2.png");
}

.right-panel .log-panel .log-list-box .log-item .log-name {
  margin-right: 20px;
}
/*# sourceMappingURL=index.css.map */

.tree-child {
    display: none;
}

/* 组件分类 20200924 */
.component-title {
    background-color: #385ea0;
    color:#fff;
    font-size: 16px;
    padding-left: 12px;
    height: 42px;
    line-height: 42px;
    margin-bottom: 10px;
    padding-right: 26px;
    box-sizing: border-box;
    position: relative;
    opacity: .5;
}

.component-title:hover,
.component-title.active {
    opacity: 1;
    cursor: pointer;
}

.component-title.active .component-arrow {
    transform: rotate(180deg);
}

.component-arrow {
    width: 14px;
    height: 16px;
    margin-right: 10px;
    display: inline-block;
    background-image: url(../images/left/icon_arrow_active.png);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    right: 10px;
    top: 13px;
}

.component-list-ul {
    display: none;
}

/* @media screen and (max-width: 1366px) { */
	.left-panel {
		width: 192px;
		padding: 8px;
		
	}
	.left-panel .top-menu-item .menu-item {
		background-size: 100% 100%;
		height: 40px;
		line-height: 40px;
		padding-left: 12px;
	}
	.left-panel .top-menu-item .menu-item .top-menu-name {
		font-size: 15px;
		width: calc(100% - 40px);
	}
	.left-panel .top-menu-item .menu-item .top-menu-count {
		font-size: 13px;
		width: 40px;
	}
	.left-panel .top-menu-item .menu-item .top-menu-arrow {
		right: 8px;
	}
	.left-panel .top-menu-item {
		height: 40px;
	}
	.left-panel .top-menu-item.active .menu-item-content {
		height: calc(100% - 40px);
	}
	.left-panel .source-search, .left-panel .source-search .search-icon {
		height: 30px;
	}
	.left-panel .source-search .search-icon {
		background-size: 16px 16px;
	}
	.component-title {
		height: 32px;
		line-height: 32px;
	}
	.component-arrow {
		top: 8px;
	}
	.left-panel .top-menu-item.active {
		height: calc(100% - 170px);
	}
	/*  右侧   */
	.right-panel {
		left: 206px;
		top: 8px;
		bottom: 8px;
	}
	.right-panel .icon-group {
		padding-top: 5px;
		height: 35px;
	}
	.right-panel .icon-group .icon-item .handle-icon {
		width: 24px;
		height: 24px;
		background-position: center;
	}
	.right-panel .icon-group .icon-item {
		background-size: 26px 26px;
	}
	.right-panel .icon-group .icon-item .handle-icon-text {
		line-height: 24px;
	}
	.right-panel .chart-wrap {
		height: calc(100% - 81px);
	}
	/*.right-panel .log-panel .log-head {
		height: 28px;
		line-height: 35px;
	}*/
	.right-panel .log-panel .log-list-box {
		height: calc(100% - 32px);
	}
	.right-panel .log-panel {
		height: 157px;
	}

/* } */

/* @media ( max-width : 1366px) { */
	.header .logo {
		height: 40px;
		line-height: 40px;
	}
	.header {
		height: 40px;
	}
	.container {
		height: calc(100% - 40px);
	}
	.header .right-group {
		margin-top: 0px;
		height: 40px;
		line-height: 40px;
	}
	.header .right-group .title-btn {
		background-size: 32px;
		padding-left: 38px;
	}
	.header .right-group .back-home:hover,
	.header .right-group .user:hover {
		background-position: left 7px;
	}
	.header .logo img {
		max-height: 24px;
	}

/* }
 */

.left-panel {
  position: relative;
}

 .move-line {
   position: absolute;
   right: -3px;
   top: 0;
   width: 3px;
   bottom: 0;
   cursor: col-resize;
 }

 .left-panel .component-list .component-item .component-icon-box {
   background-position: center;
 }

 .component-title {
   width: 100% !important;
 }