@charset "utf-8";
.container {
    width: 100%;
    height: 100%;
}
.bg-container {
    margin: 0 10px;
}
.bg-item {
    position: relative;

    width: 30%;
    height: 150px;
    margin: 10px 1.666%;
    /* margin: 10px 0 10px 3.333%; */

    cursor: pointer;
}
@media screen and (min-width:1024px) {
    .bg-item {
        width: 22%;
        height: 180px;
        margin: 10px 1.5% ;
    }
}
@media screen and (min-width:1440px) {
    .bg-item {
        width: 18%;
        height: 170px;
        margin: 10px 1% ;
    }
}
.bg-item > img {
    width: 100%;
    height: 100%;

    vertical-align: middle;
}
.bg-item.active > img {
    /*border:1px solid #333;*/
    -webkit-box-shadow: 0 0 2px 3px rgba(0, 104, 183, .3);
            box-shadow: 0 0 2px 3px rgba(0, 104, 183, .3);
}

.bg-item:before {
    line-height: 40px;

    position: absolute;
    top: 50%;
    left: 0;

    display: none;

    width: 100%;
    margin-top: -20px;

    content: "设为背景";
    text-align: center;

    color: #fff;
    background: rgba(0, 0, 0, .3);
}
.bg-item:hover:before {
    display: block;
}
.bg-item.active:before {
    display: none;
}
.bg-item:after {
    position: absolute;
    bottom: 0;
    left: 0;

    display: none;

    width: 100%;

    content: "正在使用";
    text-align: center;

    color: #fff;
    background: rgba(0, 0, 0, .3);
}
.bg-item.active:after {
    display: block;
}
