@charset "UTF-8";
/**!
 * 统计看板
 * date:2021-03-02
 * author: heying;
 */
.cont {
  min-width: 1080px;
}

/* 总览 */
.stattotal {
  font-size: 0;
  height: 60px;
  line-height: 58px;
  border: 1px solid #e5edfc;
  background-color: #f5f8fe;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}

.stattotal > li {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 33.33%;
  height: 100%;
  padding: 0 10px;
  font-size: 14px;
  text-align: center;
  color: #33394f;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}

.stattotal > li:last-child {
  width: 33.34%;
}

.stattotal > li + li:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 1px;
  height: 36px;
  margin-top: -18px;
  background-color: rgba(229, 237, 252, 0.8);
}

.stattotal > li.proj .stattotal-name {
  background: url(../images/stattotal-icon1.png) no-repeat center left;
}

.stattotal > li.ind .stattotal-name {
  background: url(../images/stattotal-icon2.png) no-repeat center left 4px;
}

.stattotal > li.indexset .stattotal-name {
  background: url(../images/stattotal-icon3.png) no-repeat center left 10px;
}

.stattotal-name {
  display: inline-block;
  vertical-align: top;
  padding-left: 46px;
}

.stattotal-val {
  display: inline-block;
  vertical-align: top;
  font-size: 20px;
  margin-left: 35px;
}

.stattotal-val:after {
  content: attr(data-unit);
  margin-left: 4px;
  font-size: 14px;
}

.volume {
  margin-top: 14px;
}

.volume-echart {
  margin-top: 10px;
  height: 246px;
}

.hotind {
  margin-top: 14px;
}

.hotind-cont {
  height: 262px;
  padding: 13px 7px 0 7px;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}

.hotind-tablebox {
  position: relative;
  width: 28%;
  height: 240px;
  padding: 6px 2px 0 0;
  background-color: #f4f6fc;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}

.hotind-tablebox:before {
  content: "";
  position: absolute;
  top: 44px;
  left: 13px;
  right: 13px;
  height: 1px;
  background-color: #e5edfc;
}

.hotind-table {
  width: 100%;
  font-size: 14px;
  table-layout: fixed;
}

.hotind-table th {
  height: 28px;
  padding: 6px 15px 6px 6px;
  color: #6e7384;
  line-height: 20px;
  text-align: center;
}

.hotind-table td {
  height: 26px;
  text-align: center;
  padding: 6px 15px 6px 6px;
  line-height: 20px;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  overflow: hidden;
}

.hotind-table .indname {
  text-align: left;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  overflow: hidden;
}

.hotind-table .sorttitle {
  padding: 6px 6px 6px 13px;
  text-align: left;
}

.hotind-table .sort {
  font-style: italic;
  padding: 0 19px 0 13px;
}

.hotind-table tbody tr {
  cursor: pointer;
  border-right: 3px solid transparent;
}

.hotind-table tbody tr:hover {
  background-color: #edeff7;
  border-right-color: #edeff7;
}

.hotind-table tbody tr.active {
  background-color: #edeff7;
  border-right-color: #1ec6e3;
}

.hotind-echart {
  width: 72%;
  height: 100%;
}

.ranking {
  margin-top: 14px;
}

.ranking-cont {
  margin-top: 6px;
  padding: 0 8px;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}

.ranking-tablebox {
  margin-top: 8px;
  height: 248px;
}

.exhibit,
.warning {
  width: -webkit-calc(50% - 12px);
  width: -moz-calc(50% - 12px);
  width: calc(50% - 12px);
}
