.mini-button {
    color: #fff;
    border-color: #33a1d1;
    background: #51a6ef
}

body a:hover.mini-button {
    border-color: #31afe5;
    background: #59aff9
}

body a:hover.mini-button.mini-button-plain {
    color: #fff
}

body .mini-button-checked,
body .mini-button-pressed,
body a.mini-button-popup,
body a:hover.mini-button-checked,
body a:hover.mini-button-popup,
body a:hover.mini-button-pressed {
    color: #fff;
    border-color: #31afe5;
    background: #59aff9
}

.mini-button.mini-btn-primary {
    color: #fff;
    border-color: #f96d41;
    background: #f96d41
}

body a:hover.mini-btn-primary {
    color: #fff;
    border-color: #f97e41;
    background: #f97e41
}

.mini-button.mini-btn-info {
    color: #fff;
    border-color: #18a6b6;
    background: #18a6b6
}

body a:hover.mini-btn-info {
    color: #fff;
    border-color: #0ec0d5;
    background: #0ec0d5
}

.mini-btn-danger.mini-button-disabled,
.mini-btn-info.mini-button-disabled,
.mini-btn-primary.mini-button-disabled,
.mini-btn-success.mini-button-disabled,
.mini-btn-warning.mini-button-disabled {
    color: #fff;
    border-color: #ccc;
    background: #b3b3b3
}

body a.mini-button-disabled,
body a:hover.mini-button-disabled {
    color: #fff;
    border-color: #ccc;
    background: #b3b3b3
}

.mini-buttonedit-focus .mini-buttonedit-border,
.mini-buttonedit-popup .mini-buttonedit-border {
    border-color: #6b7381
}

.mini-buttonedit-input {
    color: #3d4b64
}

.mini-panel-border {
    border-color: #76c0e3
}

.mini-panel-header {
    color: #fff;
    background: #2590eb
}

.mini-tools>span:hover {
    background-color: #3c9bec
}

.mini-panel-footer,
.mini-panel-toolbar {
    color: #fff;
    background: #f6f6f6
}

.mini-panel-toolbar .mini-button {
    background: #51a6ef
}

.mini-panel-footer .mini-button {
    background: #05b6b8
}

.mini-tabs-scrollCt {
    background: #f9f9f9
}

.mini-tab {
    color: #3d4b62;
    border-top: 1px solid #d6d6d6;
    background: #f9f9f9
}

.mini-tab-active {
    color: #f96d41;
    border-top-color: #f96d41;
    background: #fff
}

.mini-tab-hover {
    color: #f96d41
}

.mini-tab-active .mini-tab-icon {
    color: #f96d41
}

.mini-tab-hover .mini-tab-icon {
    color: #f96d41
}

.mini-tabs-bodys {
    border-color: #d6d6d6
}

body .mini-tabs-plain .mini-tabs-scrollCt {
    border-left: 1px solid #d6d6d6
}

.mini-menu-border {
    border: 1px solid #e3e3e3
}

.mini-menu-inner {
    color: #333;
    background: #fff
}

.mini-menuitem-text {
    color: #333
}

.mini-separator {
    border-top: solid 1px #e4e4e4
}

.mini-menu .mini-menu-popup,
.mini-menu .mini-menuitem-hover {
    border: 1px solid #fffed5;
    background: #fffed5
}

.mini-menu .mini-menuitem-icon,
.mini-menu .mini-tab-icon {
    color: #333
}

.mini-menu .mini-menuitem-selected {
    border: 1px solid #dfedfa;
    background: #dfedfa
}

.mini-splitbutton.mini-button-popup .mini-button-text {
    background: #51a6ef
}

body a:hover.mini-splitbutton {
    border-color: #51a6ef;
    background: #51a6ef
}

body a.mini-splitbutton .mini-button-split:hover,
body a.mini-splitbutton .mini-button-text:hover {
    background-color: #59aff9
}

.mini-listbox-item-hover {
    background: #fffed5
}

.mini-listbox-item-selected {
    background: #dfedfa
}

.mini-grid-headerCell {
    border-color: #fff;
    border-bottom: 1px solid #cfe6fb;
    background: #4394da
}

.mini-grid-topRightCell {
    background: #4394da
}

.mini-grid-row-alt {
    background: #f5f5f5
}

html body .mini-grid-row-selected {
    background: #dfedfa
}

html body .mini-grid-row-hover {
    background: #fffed5
}

body .mini-grid .mini-grid-cell-error {
    background: #fee2f0
}

.mini-grid-headerCell-inner {
    font-size: 14px;
    text-align: center;
    color: #fff
}

.mini-tree-node-hover {
    background: #fffed5
}

.mini-tree-selectedNode {
    background: #dfedfa
}

.mini-pager .mini-button-plain:hover {
    border-color: #ccc;
    background: #eee
}

.mini-textboxlist-popup {
    background: #fff
}

.mini-textboxlist-border {
    border-color: #bdbec1
}

.mini-textboxlist-focus .mini-textboxlist-border {
    border-color: #6b7381
}

.mini-textboxlist .mini-textboxlist-item {
    border: 1px solid #edeff0;
    background: #edeff0
}

.mini-window .mini-panel-border {
    border-color: #2590eb
}

.mini-window .mini-panel-header {
    color: #fff;
    background: #2590eb
}

.mini-window .mini-tools>span:hover {
    background-color: #3c9bec
}

.mini-tools>span.mini-tools-close:hover {
    background-color: #f96e40
}

.mini-messagebox {
    background: #fff
}

.mini-messagebox .mini-panel-header {
    color: #333;
    border-bottom: 1px solid #ccc;
    background: #fff
}

.mini-colorpicker>.mini-textbox.mini-textbox-focus>.mini-textbox-border {
    border-color: #bdbec1
}

.mini-treelistselect-header {
    color: #fff;
    background-color: #6a9ad1
}

.mini-treelistselect-item:hover {
    background: #fffed5
}

.mini-treelistselect-item.selected {
    background: #dfedfa
}

.mini-uploader-btns .webuploader-pick {
    line-height: 24px;
    border-color: #33a1d1;
    background: #51a6ef
}

.mini-uploader-btns .webuploader-pick-hover {
    border-color: #31afe5;
    background: #59aff9
}

.mini-uploader-btns .webuploader-pick-disable {
    cursor: not-allowed;
    background: #b3b3b3
}

.mini-export-listbtn {
    border: 1px solid #cfd4de
}

.mini-export-listbtn:hover {
    background-color: #dcf5ff
}

.mini-export-listbtn:active {
    border-color: #89c5e1;
    background-color: #dcf5ff
}
body .mini-textbox-focus .mini-textbox-border,
.mini-buttonedit-focus .mini-buttonedit-border ,
.mini-buttonedit-popup .mini-buttonedit-border {
    border-color: #2590eb;
}

/* 不显示按钮图标 */
.mini-button .mini-button-icon {
    display: none
}

.mini-button-text {
    padding: 0 10px !important
}

.mini-button .mini-button-icon-text {
    padding-left: 0
}

.mini-button-iconOnly .mini-button-icon {
    display: block
}
/* treegrid 新增斑马纹 */
.mini-treegrid .mini-tree-nodes-tr{background:#e6f1ff}
.mini-treegrid-expandRow{background:#b7d6ff;}