<!DOCTYPE html>
<html lang="zh_CN">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<script src="../../../../../fui/js/cssboot.js"></script>
<!-- <script src="../../../fui/js/cssboot.js"></script> -->
<link rel="stylesheet" href="./layout.css">
<title>多表合一</title>
</head>

<body>
	<div class="container">
		<div class="content">
			<!-- 流程 -->
			<div class="flow ver-inner-md">
				<div class="flow-circle before">
					<span class="flow-circle-txt">创建主表</span>
				</div>
				<div class="flow-line before"></div>
				<div class="flow-circle before">
					<span class="flow-circle-txt">选择表单</span>
				</div>
				<div class="flow-line before"></div>
				<div class="flow-circle before">
					<span class="flow-circle-txt">字段合并</span>
				</div>
				<div class="flow-line before"></div>
				<div class="flow-circle active">
					<span class="flow-circle-txt">布局组合</span>
				</div>
			</div>

			<div id="layouts" class="layouts clearfix">
				<div class="layout l active" data-layout="1">
					<div class="layout-img-box">
						<img class="layout-img" src="./images/1.png" alt="">
					</div>
					<span class="layout-txt">按序排列</span>
				</div>
				<div class="layout l" data-layout="2">
					<div class="layout-img-box">
						<img class="layout-img" src="./images/2.png" alt="">
					</div>
					<span class="layout-txt">手风琴组合(按表顺序排列)</span>
				</div>
				<div class="layout l" data-layout="3">
					<div class="layout-img-box">
						<img class="layout-img" src="./images/2.png" alt="">
					</div>
					<span class="layout-txt text-ellipsis" style="overflow:'auto'" title="手风琴组合(共享字段在第一个手风琴)" >手风琴组合(共享字段统一放置)</span>
				</div>
				<div class="layout l disabled" data-layout="4">
					<div class="layout-img-box">
						<img class="layout-img" src="./images/3.png" alt="">
					</div>
					<span class="layout-txt">区块组合</span>
				</div>
				<div class="layout l disabled" data-layout="5">
					<div class="layout-img-box" style="padding-top: 10px;">
						<img class="layout-img" src="./images/4.png" alt="">
					</div>
					<span class="layout-txt">Tab组合</span>
				</div>
				<div class="layout l disabled" data-layout="6">
					<div class="layout-img-box" style="padding-top: 10px;">
						<img class="layout-img" src="./images/5.png" alt="">
					</div>
					<span class="layout-txt">分步表单</span>
				</div>
			</div>
		</div>
		<div id="bottom" class="bottom ver-inner-md text-center">
			<a href="javascript:;" class="mini-button ver-md prev-btn">上一步</a> <a
				href="javascript:;" class="mini-button ver-md next-btn"
				state="primary">生成表</a>
		</div>
	</div>
	<script src="../../../../../../rest/resource/jsboot"></script>
	<!-- <script src="../../../fui/js/jsboot.js"></script> -->
	<script>
		var saveLayoutUrl = "formlistmanage/epointsformmultitaddaction.action?cmd=insertMultiDesigner"; //保存布局
		var needPageUrlParams = true;
		function onCloseForm() {
			//epoint.execute('epointsformmultitaddaction.deleteSform', '');
			Util.ajax({
			    url: 'formlistmanage/epointsformmultitaddaction.action?cmd=deleteSform',		  
	            async:false
			});
		}
	</script>

	<script src="./layout.js"></script>
</body>

</html>