body {
    // overflow: auto;
    background: #f5f8fa;
}

.mini-pagination {
    position: relative;
}

.header {
    // width: 100%;
    // position: fixed;
    // z-index: 1000;
}
.scroller-wrap {
    overflow: auto;
    position: absolute;
    top:66px;
    bottom:0;
    left: 0; 
    right: 0;
}
.main {
    // margin-top: 10px;
    overflow: auto;
    .content-wrap {
        min-height: calc(100% - 56px - 36px);
        background: #fff;
    }
}

.feedback-block {
    .block-header {
        padding-left: 20px;
        padding-right: 70px;
        height: 74px;
        border-bottom: 1px solid #eee;
        color: #444;
        position: relative;
        .go-back {
            position: absolute;
            top: 17px;
            right: 17px;
            color: #999999;
            line-height: 40px;
            padding-left: 25px;
            cursor: pointer;
            font-size: 14px;
            background: url('../images/go-back.png') 4px center no-repeat;
            &:hover {
                color: #4692f2;
                background-image: url('../images/go-back-h.png');
            }
        }
    }
    .block-content {
        min-height: 400px;
    }
}

.my-feedback {
    .block-header {
        font-size: 22px;
        line-height: 74px;
        .new-feedback {
            position: absolute;
            width: 116px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            cursor: pointer;
            top: 17px;
            right: 20px;
            color: #fff;
            font-size: 14px;
            background: #01dad2;
            border-radius: 4px;
            transition: all .1s ease-out;
            &:hover {
                background: #01e9d8;
            }
        }
    }
    .block-content {}
    .my-feedback-list {
        padding: 10px;
        &.empty {
            min-height: 400px;
            background: url("../images/feedback-empty.png") center no-repeat;
        }
    }
    .feedbak-item {
        position: relative;
        height: 30px;
        padding: 20px 70px 20px 55px;
        border-bottom: 1px solid #f5f5f5;
        font-size: 15px;
        color: #666666;
        .icon {
            font-size: 13px;
            color: #fff;
            background: #fd965d;
            border-radius: 3px;
            position: absolute;
            left: 10px;
            top: 25px;
            height: 20px;
            padding: 0 5px;
            line-height: 20px;
        }
        .text {
            display: block;
            line-height: 30px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            cursor: pointer;
        }
        .state {
            position: absolute;
            top: 20px;
            right: 20px;
            ;
            line-height: 30px;
            font-size: 14px;
            color: #bbbbbb;
        }
    }
}

.feedback-detail {
    padding-bottom: 10px;
    .block-header {
        .title {
            padding-top: 6px;
            color: #4692f2;
            font-size: 18px;
            line-height: 40px;
            height: 40px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
        .ext-info {
            font-size: 12px;
            color: #bbbbbb;
            line-height: 20px;
        }
        .type+.type {
            margin-left: 20px;
        }
    }
    .detail-wrap {
        margin: 10px 20px; // &.expand {
        //     max-height: auto;
        // }
        &.isover {
            position: relative;
            max-height: 300px;
            overflow: hidden;
            &:after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                height: 50px;
                background: linear-gradient(to bottom, transparent, #fff);
            }
        }
        img {
            max-width: 100% !important;
            max-height: auto !important;
        }
    }
    .view-btn {
        margin-left: 20px;
        color: #12adf6;
        font-size: 14px;
        height: 30px;
        line-height: 30px;
        cursor: pointer;
        &:after {
            content: "";
            display: inline-block;
            vertical-align: top;
            height: 30px;
            width: 20px;
            ;
        }
        &.view-more:after {
            background: url("../images/view-more.png") center no-repeat
        }
        &.view-less:after {
            background: url("../images/view-less.png") center no-repeat
        }
    }
    @at-root {
        .flow-header {
            height: 40px;
            line-height: 40px;
            font-size: 16px;
            color: #666666;
            margin: 10px 20px;
            padding-left: 10px;
            position: relative;
            &:before {
                position: absolute;
                display: inline-block;
                content: "";
                border-left: 3px solid #12adf6;
                line-height: 14px;
                height: 14px;
                top: 13px;
                left: 0;
            }
        }
        .add-feedback-flow {
            position: absolute;
            right: 0;
            top: 0;
            font-size: 15px;
            color: #12adf6;
            cursor: pointer;
        }
        .feedback-flow-list {
            position: relative;
            margin: 10px 20px;
            background: #f5f8fa;
            padding: 20px 0;
            &:before {
                content: "";
                position: absolute;
                top: 30px;
                bottom: 30px;
                left: 36px;
                width: 2px;
                background: #dfdfdf;
            }
        }
        .feedback-flow-item {
            margin-left: 32px;
            padding-left: 20px;
            position: relative;
            line-height: 30px;
            margin-top: 10px;
            &:first-child {
                margin-top: 0;
            }
            &:before {
                content: "";
                position: absolute;
                height: 100%;
                top: 10px;
                left: 0;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background: #dfdfdf;
                border: 1px solid #fff;
            }
            &.active {
                .flow-info {
                    color: #4692f2;
                }
                :before {
                    background: #4692f2;
                }
            }
            .flow-content {
                padding: 0 10px;
                margin-right: 20px;
                background: #fff;
                overflow: hidden;
                img {
                    max-width: 100% !important;
                    max-height: auto !important;
                }
            }
        }
    }
}

.add-feedback {
    .block-header {
        font-size: 22px;
        line-height: 74px;
    }
    .add-feedback-tips {
        color: #ff5a5a;
        font-size: 14px;
        line-height: 26px;
    }
    .add-feedback-tips-icon {
        display: inline-block;
        vertical-align: top;
        width:20px;
        height: 26px;;
        background: url("../images/tips-icon.png") center no-repeat;
    }
    .add-feedback-submit {
        height: 38px;
        line-height: 38px;
        width: 116px;
        border-radius: 4px;
        font-size: 14px;
    }
    @at-root {
        .add-feedback-form {
            margin: 0 20px;
        }
        .feedback-flow-bottom {
            height: 26px;
            text-align: center;
            padding: 7px 10px;
            background: #f5f5f4;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
        }
    }
}
#add-feedback-window .mini-panel-body {
    padding: 0;
    position: relative;
}