.top .content-wrap {
    position: relative;
    height: 100%;
    background-image: url('../images/show-title.png');
    background-repeat: no-repeat;
    background-position: left center;
}

.search-box {
    position: absolute;
    top: 45px;
    right: 0;
    width: 465px;
    height: 40px;
    line-height: 40px;
    .search-input-wrap {
        height: 100%;
        border-radius: 4px;
        background: #fff;
        width: 340px;
        float: right;
        overflow: hidden;
        position: relative;
    }
    .top-search-input {
        box-sizing: border-box;
        border: none;
        width: 296px;
        height: 40px;
        line-height: 40px;
        color: #333;
        padding: 0 14px;
        &:focus {
            outline: none;
        }
    }
    .search-btn {
        position: absolute;
        cursor: pointer;
        top: 0;
        right: 0;
        display: block;
        width: 44px;
        height: 100%;
        background: url('../images/search-icon.png') center no-repeat;
        &:hover {
            background-color: #f5f8fa;
        }
    }
    .feedback-btn {
        margin-left: 10px;
        float: right;
    }
    .question-feedback {
        display: inline-block;
        height: 40px;
        color: #fff;
        background: #07dece;
        text-align: center;
        width: 114px;
        border-radius: 4px;
        background-image: linear-gradient(to right, #23efb9, #01dbd1);
        cursor: pointer;
    }
}

.main {
    position: absolute;
    top: 186px;
    bottom: 0px;
    left: 0;
    right: 0;
    padding-top: 10px;
    background: #f5f8fa;
    overflow: auto;
    .scroller-wrap {
        min-height: 100%;
    }
    .content-wrap {
        position: relative;
    }
    .content-block {
        &:after {
            content: '';
            display: block;
            clear: both;
        }
    }
    .left,
    .right {
        min-height: 400px;
        background: #fff;
    }
    .left {
        float: left;
        width: 250px;
    }
    .right {
        float: right;
        width: 740px;
        &.empty:before {
            content: "暂无数据";
            display: block;
            position: absolute;
            top: 20%;
            width: 740px;
            text-align: center;
            font-size: 16px;
            color: #4596f3;
            line-height: 30px;
            padding-top: 140px;
            background: url("../images/empty.png") center 40px no-repeat;
        }
    }
}

.left-header {
    line-height: 47px;
    height: 47px;
    border-bottom: 1px solid #eeeeee;
    font-size: 18px;
    color: #4692f2;
    padding-left: 14px;
    position: relative;
}

.type-item {
    line-height: 40px;
    &.opened {
        >.type-item-self .type-item-trigger {
            background-image: url('../images/arrow-down.png');
        }
    }
    @at-root {
        .type-item-self {
            cursor: pointer;
            box-sizing: border-box;
            position: relative;
            &.level-1 {
                padding-left: 14px;
            }
            &.level-2 {
                padding-left: 30px;
            }
            &.level-3 {
                padding-left: 45px;
            }
            &.level-4 {
                padding-left: 60px;
            }
            &.level-5 {
                padding-left: 75px;
            }
            &:hover {
                color: #4497f3;
                background: #e7f7ff;
            }
            &.active {
                width: 262px;
                background: url('../images/type-active.png') center no-repeat;
                color: #fff;
                >.type-item-text {
                    // active 时宽度比正常的宽12px  需要加上
                    // 放置宽文本省略在激活时跳动
                    margin-right: 47px;
                }
            }
        }
        .type-item-text {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            margin-right: 35px;
            display: block;
        }
        .type-item-trigger {
            position: absolute;
            top: 10px;
            right: 10px;
            display: block;
            width: 20px;
            height: 20px;
            background: url('../images/arrow-left.png') center no-repeat;
        }
        .type-item-sub {
            background: #f3f4f6;
        }
    }
}

// 问题列表
.question-header {
    line-height: 47px;
    height: 47px;
    border-bottom: 1px solid #eeeeee;
    font-size: 18px;
    color: #4692f2;
    padding-left: 14px;
    padding-right: 55px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
    .go-back {
        position: absolute;
        top: 0;
        right: 10px;
        color: #999999;
        line-height: 47px;
        padding-left: 25px;
        cursor: pointer;
        font-size: 14px;
        background: url('../images/go-back.png') 4px center no-repeat;
        &:hover {
            color: #4692f2;
            background-image: url('../images/go-back-h.png');
        }
    }
}

.question-list {
    font-size: 15px;
    .no-search-result {
        text-align: center;
        margin-top: 40px;
        line-height: 40px;
        color: #666;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        .kd {
            color: #f96d41;
            font-weight: bold;
            margin: 0 3px;
        }
    }
    @at-root {
        .question-item {
            position: relative;
            line-height: 40px;
            height: 40px;
            padding-left: 40px;
            color: #666;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            cursor: pointer;
            .icon {
                display: block;
                position: absolute;
                top: 10px;
                left: 10px;
                width: 20px;
                height: 20px;
                border-radius: 3px;
                line-height: 20px;
                text-align: center;
                font-size: 13px;
                color: #fff;
                &.question {
                    background: #fd965d;
                }
            }
            .text {
                // white-space: nowrap;
                // overflow: hidden;
                // text-overflow: ellipsis;
                .kd {
                    color: #f96d41;
                    font-weight: bold;
                    margin: 0 3px;
                }
            }
        }
    }
}

.question-detail-content {
    padding: 20px; // overflow: auto;
    img {
        max-width: 100% !important;
    }
}