@charset "UTF-8";
/**!
 * showcase
 * date:2020-03-13
 * author: haven;
 */
body {
  height: 100%;
  font-size: 14px;
  position: relative;
}

.user-info {
  min-height: 200px;
  background-color: rgba(0, 0, 0, 0.05);
  color: #837393;
  padding: 20px;
  text-align: center;
  line-height: 200px;
  margin-bottom: 20px;
}

.base-info {
  margin: 30px;
  padding-left: 100px;
  border: 1px solid #666;
  line-height: 36px;
}

.base-info p {
  margin-bottom: 10px;
}

.base-info p img {
  width: 12px;
  height: 12px;
}

.base-info input,
.base-info select {
  height: 36px;
  padding: 0 12px;
}

.main {
  padding: 0 30px;
}

.main table {
  table-layout: fixed;
  width: 100%;
  text-align: center;
}

.main table th {
  height: 50px;
  font-size: 18px;
  background-color: #f1f1f1;
}

.main table tbody tr {
  border-bottom: 1px solid #ccc;
}

.main table td {
  height: 40px;
  font-size: 14px;
}

.main table td a {
  display: inline-block;
  height: 24px;
  line-height: 22px;
  border: 1px solid #5e9af3;
  padding: 0 6px;
  font-size: 14px;
  color: #5e9af3;
  border-radius: 4px;
  cursor: pointer;
}

.main table td a.write {
  border-color: #09b442;
  color: #09b442;
}

.main table td a.submit {
  border-color: orange;
  color: orange;
}

.scrollnum {
  height: 66px;
  line-height: 66px;
  display: inline-block;
  vertical-align: middle;
}

.scrollnum > .item {
  width: 50px;
  vertical-align: top;
  text-align: center;
  background: url("../images/scrollNum.png") no-repeat center;
  font-size: 30px;
  font-weight: bold;
  color: #17d2ff;
  margin-right: 10px;
  background-size: 100% 100%;
  height: 100%;
  display: inline-block;
  position: relative;
}

.scrollnum > .item:first-child {
  margin-left: 0 !important;
}

.scrollnum > .item:first-child:before {
  display: none;
}

.scrollnum > .item:nth-last-child(3n) {
  margin-left: 20px;
}

.scrollnum > .item:nth-last-child(3n):before {
  content: "，";
  position: absolute;
  left: -25px;
  font-size: 40px;
}

.scrollnum > .item > .sequence {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.scrollnum > .item > .sequence > span {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  text-align: center;
  height: 1000%;
  transition: top 2s ease;
}

.scrollnum > .item > .sequence > span > i {
  display: block;
  height: 10%;
  font-style: normal;
}

.red {
  color: red;
}
