.ep-header {
    width: 100%;
    height: 150px;
    background: url(../images/img_nav.png) no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.ep-header h1 {
    color: #fff;
    text-align: center;
    font-size: 18px;
    padding-top: 18px;
    font-weight: 700;
        margin-top: 0;
}

.ep-time-quick {

    position: absolute;

    bottom: 0;

    width: 100%;

    height: 90px;
}

.ep-time-left {

    position: absolute;

    top: 12px;

    left: 20px;

    color: #fff;

    font-size: 20px;
}

.ep-time-span {}

.ep-week-span {

    margin-top: 10px;
}

.ep-quick-right {
    position: absolute;
    right: 10px;
    top: 25px;
}

.ep-quick-right img {
    width: 40px;
    height: 40px;
}

.ep-main {

    background: #fff;

    /* height: 233px; */
}

.ep-main-header {

    padding: 10px;
}

.ep-main-app {
    padding: 20px 0;
}

.ep-app-item {
    display: inline-block;
    text-align: center;
    width: 24%;
    margin-bottom: 20px;
}

.ep-app-item img {
    width: 35px !important;
    height: 35px;
        border-radius: 4px;
}

.ep-app-item p {}