.nav {
  height: 40px;
  background-color: #fff;
  padding-left: 10px;
  overflow-x: scroll;
  overflow-y: hidden;
}

.nav::-webkit-scrollbar {
  display: none;
}

.nav-list {
  display: flex;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  font-size: 16px;
}

.nav-list-item {
  color: #007aff;
}

.nav-list-item:last-child {
  color: #333;
}

.nav-list-item:last-child::after {
  content: ' ';
}

.nav-list-item::after {
  content: '>';
  padding-left: 5px;
  padding-right: 5px;
}

.mui-input-row.mui-left::before {
  content: '\e583';
  font-family: Muiicons;
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 17px;
  color: #bbb;
}

.mui-input-row.mui-left.context::before {
  content: ' ';
}

.mui-input-row span {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  line-height: 1.1;
  padding: 11px 15px;
}

.mui-input-row.mui-left span {
  padding-right: 15px;
  padding-left: 58px;
  display: inline-block;
  float: none;
  width: 100%;
}

.selected {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50px;
  line-height: 50px;
  background-color: #fff;
  text-align: center;
  color: #007aff;
}

.selected .btn-confirm {
  position: absolute;
  top: 8px;
  right: 8px;
}
.btn-back {
  position: absolute;
  top: 8px;
  left: 8px;
}
.mui-icon.mui-icon-arrowup {
  font-size: 20px;
}

.mui-input-row.mui-checkbox.checked {
  
}

.check-list {
  margin-top: 10px;
}
.check-item {
  position: relative;
  height: 40px;
  background-color: #fff;
  cursor: pointer;
}
.check-item:after {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 15px;
  height: 1px;
  content: '';
  -webkit-transform: scaleY(.5);
  transform: scaleY(.5);
  background-color: #c8c7cc;
}
.check-item-title {
  display: inline-block;
  width: 100%;
  height: 100%;
  line-height: 40px;
  box-sizing: border-box;
  padding-left: 20px;
}
.check-item-delete {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
}