/*!
*“聚通用”智慧政府大数据管理平台新点数据平台 (字段关联配置) 层叠样式表
*author:guli
*date:2020-11-14
*version:9.4.1
*/

body {
    padding: 14px;
    padding-top: 10px;
}

.relevance {
    height: 100%;
    color: #fff;
    font-size: 15px;
    padding: 0 16px;
    border-radius: 4px;
    font-family: "SourceHanSansCN-Light";
}

.steps {
    display: flex;
    padding: 24px 0;
    justify-content: center;
    align-items: center;
}

.step {
    display: flex;
    line-height: 42px;
    align-items: center;
    font-size: 18px;
    color: #b1b3b8;
}

.step-num {
    width: 25px;
    text-align: center;
    line-height: 25px;
    color: #fff;
    font-size: 16px;
    margin-right: 10px;
    background-color: #d6d6d6;
    border-radius: 50%;
}

.step-tt {
    color: #999;
}

.step-line {
    width: 75px;
    height: 2px;
    background-color: #e4e4e4;
    margin: 0 6px;
}

.step-line.active {
    background-color: #2590EB;
}

.step.active {
    padding: 0 20px;
   background-color: #2590EB;
    font-size: 20px;
    color: #fff;
    font-family: "SourceHanSansCN-Regular";
    border-radius: 21px;
}

.step.active .step-num {
    color: #2590eb;
    background: url('../images/bg/step-num-activebg.png') center center no-repeat;
}

.step.active .step-tt {
    color: #fff;
}

.relevance-ct {
    height: calc(100% - 172px);
    margin-bottom: 12px;
   background-color: #f5f5f5;
   padding: 0 16px;
}

.relevance-tt {
    height: 58px;
    display: flex;
    align-items: center;
}

.relevance-tt-txt {
    font-size: 18px;
    line-height: 16px;
    padding-left: 8px;
    color: #2590eb;
    border-left: 4px solid #2590eb;
    font-family: "SourceHanSansCN-Medium";
    margin-right: 15px;
}

.relevance-tt-tip {
    color: #999;
}

.relevance-tb {
    border: 1px solid #384b6a;
    border-bottom: none;
}

.relevance-tb-ct {
    max-height: calc(100% - 152px);
    overflow: auto;
}

::-webkit-scrollbar-track-piece {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #5971a4;
    background-clip: padding-box;
    min-height: 28px;
}

.relevance-tb-tt {
    line-height: 48px;
    background-color: #e3e4e7;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.relevance-tb-tt >* {
    color: #5c5c5c;
}

.relevance-tb-tt .relevance-txt:nth-child(2) {
    margin-right: 116px;
}

.order {
    width: 50px;
    text-align: center;
    color: #5c5c5c;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    line-height: 48px;
}

.relevance-txt {
    width: calc(50% - 124px);
    height: 48px;
    padding-left: 10px;
}

.operate {
    width: 82px;
    height: 48px;
    padding-left: 10px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.relevance-tb-row {
    border-bottom: 1px solid #ddd;
}

.relevance-icon {
    width: 116px;
    height: 48px;
    width: 116px;
    padding: 7px 10px;
    padding-right: 0;
    height: 48px;
}

.chosen {
    width: 50%;
    height: 100%;
    padding: 7px 5px;
}

.chosen-inner {
    height: 100%;
    border-radius: 4px;
    border: 1px solid #ddd;
    position: relative;
    color: #777e8d;
    padding-left: 7px;
}

.chosen-selected {
    line-height: 32px;
}

.chosen-selected.active {
    color: #bbb;
}

.chosen-icon {
    position: absolute;
    width: 28px;
    height: 100%;
    background: url('../images/icon/chosen-down.png') center center no-repeat;
    top: 0;
    right: 0;
    cursor: pointer;
}

.chosen-icon.active {
    background: url('../images/icon/chosen-up.png') center center no-repeat;
}

.chosen-item-outer {
    max-height: 180px;
}

.chosen-items {
    position: absolute;
    left: 0;
    top: 38px;
    width: 100%;
    /* border: 1px solid rgba(0,0,0,.4); */
    /* padding: 2px 1px; */
    background-color: #fff;
    z-index: 999;
    line-height: 30px;
    color: #bbb;
    display: none;
    box-shadow: 0 0 6px rgb(0 0 0 / 12%);
}

.chosen-item {
    padding-left: 6px;
    cursor: pointer;
    color: #5c5c5c;
}

.chosen-item:hover,
.chosen-item.active {
    background-color: #f5f5f5;
}

.chosen-save {
    height: 49px;
    border-top: 1px solid #295493;
    background-color: #213962;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chosen-save-btn {
    width: 64px;
    line-height: 30px;
    text-align: center;
    background: url('../images/bg/kind-ttbg.png') center center no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
}


.relevance-tb-row .operate {
    background: url('../images/icon/relevance-delete.png') 10px center no-repeat;
    cursor: pointer;
}

.add-relevance {
    height: 44px;
    display: flex;
    align-items: center;
}

.add-relevance-icon {
    width: 27px;
    height: 44px;
    background: url('../images/icon/add-icon.png') left center no-repeat;
    cursor: pointer;
}

.add-relevance-txt {
    color: #5c5c5c;
}

.relevance-btns {
    width: calc(100% + 32px);
    height: 70px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-left: -16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.relevance-btn {
    width: 88px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    color: #dfe2e3;
    border-radius: 4px;
    margin: 0 5.5px;
    cursor: pointer;
}

.relevance-save {
    color: #fff;
    background-color: #2590eb;
}

.relevance-pre {
     color: #5c5c5c;
   border: 1px solid #ddd;
}

.relevance-next {
   color: #5c5c5c;
   border: 1px solid #ddd;
}

.relevance-next.usable {
   background-color: #2590EB;
   border-color: #2590EB;
    color: #fff;
}

.chosen-item-outer {
    max-height: 180px;
}

.chosen .chosen-selected {
    padding-right: 28px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.chosen .chosen-item {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #5c5c5c;
}
.step.active {
    position: relative;
    padding-right: 40px;
}

.tip {
    position: absolute;
    right: 12px;
    width: 16px;
    height: 16px;
    background: url('../images/icon/tip.png') center center no-repeat;
}
