.mr-10 {
    margin-right: 10px;
}

.filter-data {
    padding: 20px 20px 20px 140px;
}

.filter-data select,
.filter-data input
 {
    height: 30px;
    outline: none;
}

.filter-data input {
    padding: 0 5px;
    border: none;
}


.filter-box {
    width: 100%;
    position: relative;
    margin-bottom: 10px;
}

.filter-item {
    padding: 3px 0;
    position: relative;
    padding-left: 140px;
    border: 1px solid #4a5e7e;
}

.filter-icon {
    line-height: 30px;
}

.ext_select {
    position: absolute;
    left: 20px;
    top: -15px;
    height: 30px;
    width: 70px;
}

.filter-relate-select {
    width: 100%;
}

.filter-add {
    position: absolute;
    right: -20px;
    top: 10px;
}

.filter-box-relate {
    position: absolute;
    top: -15px;
    left: -120px;
    width: 70px;
    height: 30px;
}

.box_ext_select {
    width: 70px;
    height: 30px;
}