/*!
 *“聚通用”智慧政府大数据管理平台新点数据平台 (查看结果) 层叠样式表
 *author:guli
 *date:2020-11-17
 *version:9.4.1
 */

body {
    /* background: url('../images/bg/bodybg.jpg') center center no-repeat; */
    background-size: 100% 100%;
    padding: 14px;
    padding-top: 10px;
}

.view {
    height: 100%;
    /* background: url('../images/bg/bg.png') center center no-repeat; */
    /* background-size: 100% 100%; */
    color: #fff;
    font-size: 15px;
    border-radius: 4px;
    font-family: "SourceHanSansCN-Light";
}

.steps {
    display: flex;
    padding: 24px 0;
    justify-content: center;
    align-items: center;
}

.step {
    display: flex;
    line-height: 42px;
    align-items: center;
    font-size: 18px;
    color: #b1b3b8;
}

.step-num {
    width: 25px;
    text-align: center;
    line-height: 25px;
    background: url('../images/bg/step-numbg.png') center center no-repeat;
    color: #2590eb;
    font-size: 16px;
    margin-right: 10px;
}

.step-tt {
    color: #fff;
}

.step-line {
    width: 75px;
    height: 2px;
    background-color: #4f5968;
    margin: 0 6px;
}

.step-line.active {
    background-color: #2590eb;
}

.step.active {
    padding: 0 20px;
    background-color: #2590eb;
    border-radius: 21px;
    font-size: 20px;
    color: #fff;
    font-family: "SourceHanSansCN-Regular";
}

.step.active .step-num {
    background: url('../images/bg/step-num-activebg.png') center center no-repeat;
}

.view-ct {
    height: calc(100% - 160px);
    padding: 14px 12px;
    padding-top: 0;
}

.view-ct-inner {
    height: 100%;
    background-color: #f5f5f5;
    border-radius: 4px;
    padding-top: 23px;
}

.view-ct-tt {
    margin-left: 18px;
    font-size: 18px;
    line-height: 16px;
    padding-left: 8px;
    border-left: 4px solid #2590eb;
    color: #2590eb;
    font-family: "SourceHanSansCN-Medium";
    margin-bottom: 16px;
}

.view-tb-outer {
    height: calc(100% - 32px);
    padding: 0 18px;
}

.view-tb-outer .mini-panel {
    background: transparent;
}

.view-tb-outer .mini-grid .mini-panel-border.mini-grid-border {
    border: none;
}

.mini-grid-table {
    border-right: 1px solid;
}

body .mini-gantt *,
body .mini-grid *,
body .mini-panel *,
body .mini-supergird *,
body .mini-window * {
    color: #5c5c5c;
    background-color: transparent;
}

.mini-buttonedit-border, .mini-textbox-border {
    border: 1px solid #ddd !important;
    background: transparent !important;
}

.pagination-button.pagination-current {
    color: #fff;
}

.pagination-current, .pagination-button.pagination-current:hover {
    background: #2590eb !important;
}
 
.mini-grid .mini-grid-cell:after, .mini-grid .mini-grid-headerCell:after {
    border-right: 1px solid transparent!important;
}

.mini-grid .mini-grid-cell:before {
    border-bottom:1px solid #ddd!important;
}

.mini-grid-headerCell-nowrap {
    color: #dfe2e3;
    font-size: 15px;
    font-family: "SourceHanSansCN-Light";
}

.mini-grid-topRightCell {
    background-color: #699bdf;
    border-top: 0;
    border-bottom: 0;
    border-right: 0;
    border-left: 0;
}

.mini-panel-border.mini-grid-border {
    /* border: 1px solid #364a68;
    border-right: 0;
    border-bottom: 0; */
    border-top: 1px solid #364a68;
}

.mini-grid-row,
.mini-grid-columns {
    /* border-bottom: 1px solid #364a68; */
}

.mini-grid-cell,
.mini-grid-filterCell,
.mini-grid-headerCell,
.mini-grid-summaryCell {
    border-right: 1px solid #ddd!important;
    border-left: 1px solid #ddd!important;
    color: #c5c5c5;
}

.mini-grid-cell-inner,
.mini-grid-headerCell-inner {
    color: #5c5c5c;
    font-size: 15px;
    font-family: "SourceHanSansCN-Light";
}

.mini-grid-headerCell.mini-grid-bottomCell {
    position: relative;
    border-top: 1px solid #ddd;
    background: #e3e4e7;
}

.mini-grid-headerCell.mini-grid-bottomCell:last-child .mini-grid-headerCell-outer::after {
    position: absolute;
    top: 0;
    right: -6px;
    content:"";
    width: 1px;
    height: 100%;
    background: #ddd;
}

.view-btns {
    height: 70px;
    /* border-bottom-left-radius: 8px; */
    /* border-bottom-right-radius: 8px; */
    /* border: 1px solid #274d86; */
    /* background-color: #1b2d4b; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.view-btn {
    width: 88px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    color: #dfe2e3;
    border-radius: 4px;
    margin: 0 5.5px;
    cursor: pointer;
    border: 1px solid #ddd;
    color: #5c5c5c;
}

.view-save {
   color: #fff;
   border-color: #2590eb;
   background-color: #2590eb;
}

::-webkit-scrollbar-thumb {
    background-color: #eee;
}

.mini-listbox-view {
    background: #fff !important;
}

.mini-popup {
    border: none;
}

.mini-listbox-item-hover, .mini-listbox-item-selected {
    color: #fff !important;
    background: #eee !important;
}

.mini-listbox td {
    color: #999;
}