/**!
 * [宿迁市消费者权益保护数据分析应用平台]
 * date:2017-03-23
 * author: [chengang];
 */
.ml10 {
    margin-left: 10px;
}

.mr10 {
    margin-right: 10px;
}

.mt10 {
    margin-top: 10px;
}

body {
    background: url("../images/bg.jpg") no-repeat center center;
    width: 1920px;
    height: 1080px;
}

.header {
    background: url("../images/title.png") no-repeat center center;
    height: 115px;
}

.header .timeandweather {
    padding-top: 30px;
    margin-right: 25px;
    font-size: 19px;
    height: 48px;
    line-height: 24px;
}

.header .timeandweather .weather {
    margin: 0 20px 0 80px;
    width: 48px;
    height: 48px;
    text-align: center;
    line-height: 48px;
    overflow: hidden;
}

.header .timeandweather .weather img {
    vertical-align: middle;
}

.header .timeandweather .green {
    color: #00ff12;
}

.header .timeandweather em {
    padding: 0 10px;
}

.row {
    overflow: hidden;
}

.w33 {
    width: 33.3%;
    float: left;
}

.col {
    background: #070c5a;
    border-radius: 10px;
}

.col > .col_title {
    font-size: 22px;
    height: 60px;
    line-height: 60px;
    padding-left: 20px;
    background: #0a0f69;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.col > .col_bd {
    height: 410px;
}

.chartmap {
    height: 395px;
    float: right;
    width: 306px;
    position: relative;
    margin: 10px 40px 0 0;
}

