/***********经典样式****************/
/* 标准布局 */
.standard-table {
    display: block;
    margin: 0 auto;
    width: 650px;
    border: none !important;
    word-wrap:break-word;
    word-break:break-all;
}

.standard-table caption {
    line-height: 40px;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    border-bottom: none;
}

.standard-table td {
    font-family: 'Microsoft YaHei';
    font-size: 14px;
    
}

.standard-table .title {
    width: 108px;
    padding-right: 5px;
    text-align: right;
    line-height: 30px;
}

.standard-table .control {
    width: 108px;
    padding: 5px;
}

.standard-table .control > input[data-ctrl] {
    width: 100%;
}

.standard-table .control.span1 {
    width: 108px;
}

.standard-table .control.span2 {
    width: 216px;
}

.standard-table .control.span3 {
    width: 324px;
}

.standard-table .control.span4 {
    width: 432px;
}

.standard-table .control.span5 {
    width: 540px;
}

.formdiv {
    width: 650px;
    margin: 0 auto;
}

/***********灰色样式****************/
/* 标准布局 */
.standard-table2 {
    display: block;
    margin: 0 auto;
    width: 650px;
    border: none !important;
    word-wrap:break-word;
    word-break:break-all;
}

.standard-table2 caption {
    line-height: 40px;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    border-bottom: none;
}

.standard-table2 td {
    font-family: 'Microsoft YaHei';
    font-size: 14px;
}

.standard-table2 .title {
    width: 108px;
    padding-right: 5px;
    text-align: right;
    background-color:#D4D4D4;
    line-height: 30px;
}

.standard-table2 .control {
    width: 108px;
    padding: 5px;
}

.standard-table2 .control > input[data-ctrl] {
    width: 100%;
}

.standard-table2 .control.span1 {
    width: 108px;
}

.standard-table2 .control.span2 {
    width: 216px;
}

.standard-table2 .control.span3 {
    width: 324px;
}

.standard-table2 .control.span4 {
    width: 432px;
}

.standard-table2 .control.span5 {
    width: 540px;
}

.formdiv2 {
    width: 650px;
    margin: 0 auto;
}
/***********湖蓝样式****************/
/* 标准布局 */
.standard-table3 {
    display: block;
    margin: 0 auto;
    width: 650px;
    border: none !important;
    word-wrap:break-word;
    word-break:break-all;
}

.standard-table3 caption {
    line-height: 40px;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    border-bottom: none;
}

.standard-table3 td {
    font-family: 'Microsoft YaHei';
    font-size: 14px;
}

.standard-table3 .title {
    width: 108px;
    padding-right: 5px;
    text-align: right;
    background-color: #D1EEEE;
    line-height: 30px;
}

.standard-table3 .control {
    width: 108px;
    padding: 5px;
}

.standard-table3 .control > input[data-ctrl] {
    width: 100%;
}

.standard-table3 .control.span1 {
    width: 108px;
}

.standard-table3 .control.span2 {
    width: 216px;
}

.standard-table3 .control.span3 {
    width: 324px;
}

.standard-table3 .control.span4 {
    width: 432px;
}

.standard-table3 .control.span5 {
    width: 540px;
}

.formdiv3 {
    width: 650px;
    margin: 0 auto;
}
