.sms-container {
  background: transparent;
  
}
.sms-content {
  background: #111363;
  border-color: #1f348e;
  color: #fff;
}
.sms-lbl {
  color: #a8bdf3;
}
.mini-tree-nodetitle,
.mini-tabstreeselect-list {
  color: #a8bdf3;
}
.sms-content:focus {
  outline: none;
  border-color: #1f348e;
}
