.portalitem{
	box-sizing: border-box;
	height: 280px;
	padding: 0 12px;
	background-color: #fff;
}
.portalitem.small{
	height: 130px;
	padding: 10px 0 0;
	text-align: center;
	cursor: pointer;
}
.portalitem-header{
	height: 45px;
	line-height: 45px;
	border-bottom: 1px solid #9eaab9;
}
.portalitem-header-text{
	display: inline-block;
	padding-right: 10px;
	margin-top: -1px;
	font-size: 18px;
	color: #0b3a51;
	border-bottom: 2px solid #00a5e8;
}
.portalitem-header-button{
	display: inline-block;
	padding-right: 10px;
	margin-top: -1px;
	font-size: 18px;
	color: #0b3a51;
}
.portalitem-remind{
	font-size: 15px;
	color: #818a9a;
}
.portalitem-remind-type{
	margin-right: 20px;
}
.portalitem-remind-type:last-child{
	margin-right: 12px;
}
.portalitem-header-num {
	color: #ff6600;
}
.portalitem-body{
	padding: 12px 0;
	font-size: 14px;
	color: #3d4b62;
}
.portalitem-item{
	line-height: 30px;
	cursor: pointer;
	position: relative;
}
.portalitem-item:hover{
	color: #ff6600;
}
.portalitem-item-title{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.portalitem-item-date{
	position: absolute;
	right: 10px;
	top: 0;
}

.portalitem-icon{
	display: block;
	width: 70px;
	height: 70px;
	margin: 0 auto 10px;
	background: url(../image/protalItem/icon-daiban.png);
}
.portalitem-title{
	font-size: 18px;
	color: #0b3a51;
}