.mini-calendar {
    &-yearPrev,
    &-monthPrev,
    &-yearNext,
    &-monthNext,
    &-menu-prevYear,
    &-menu-nextYear{
        &:hover {
            color: @primary-color;
        }
    }
    
}

.mini-calendar .mini-calendar-selected {
    border-color: @primary-color;
    background: @primary-color;
}

.mini-calendar .mini-calendar-selected:hover {
    border-color: @primary-hover-color;
    background: @primary-hover-color;
}


.mini-calendar-menu-selected,
a:hover.mini-calendar-menu-selected,
a:hover.mini-calendar-menu-month {
    color: @primary-color;
    border-color: lighten(@primary-color, 20%);
    background: lighten(@primary-color, 40%);
}

.mini-calendar-menu-years .mini-calendar-menu-selected,
.mini-calendar-menu-years a:hover.mini-calendar-menu-selected,
a:hover.mini-calendar-menu-year {
    color: #fff;
    border-color: @primary-color;
    background: @primary-color;
}


.mini-calendar-cancelButton,
.mini-calendar-clearButton,
.mini-calendar-okButton,
.mini-calendar-tadayButton {
    color: @text-color;
}

.mini-calendar-cancelButton,
.mini-calendar-clearButton {
    border-color: @lesser-color2;
}

.mini-calendar-okButton,
.mini-calendar-tadayButton {
    border-color: @primary-color;
}

.mini-calendar-cancelButton:hover,
.mini-calendar-clearButton:hover {
    color: @lesser-hover-color2;
    border-color: @lesser-hover-color2;
}

.mini-calendar-okButton:hover,
.mini-calendar-tadayButton:hover {
    color: @primary-hover-color;
    border-color: @primary-hover-color;
}