
.mini-tab {
    color: @text-color;
}

.mini-tab-active {
    color: @primary-color;
    border-top-color: @primary-color;
}

.mini-tab-hover {
    color: @primary-hover-color;
    border-top-color: @primary-color;
}

.mini-tab-active .mini-tab-icon,
.mini-tab-hover .mini-tab-icon {
    color: @primary-color;
}