/**!
* api调试
* date:2019-4-2
* author: [xlb];
*/

.main {
    padding: 0 38px 30px 38px;
    background: #f2f7fa;
    min-width: 1200px;
}

.column-box {
    position: relative;
}

.api-title {
    font-size: 18px;
    height: 63px;
    line-height: 63px;
}

.part-model {
    width: 50%;
    float: left;
    /*position: relative;*/
}

.part-model>div {
    min-height: 960px;
}

.left-request {
    background: #fff;
    margin: 0 10px 0 0;
    padding: 33px 20px 90px 20px;
}

.left-request>form>* {
    margin-bottom: 30px;
}

.c-request-title {
    margin-bottom: 17px;
    font-weight: bold;
}

.param-input {
    display: block;
    width: 100%;
    height: 40px;
    background: #e1ebf5;
    line-height: 40px;
    padding-left: 15px;
    border: none;
}

.slide-icon {
    padding-left: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    cursor: pointer;
    background: url("../css/images/arrow-down.png") left center no-repeat;
}

.no-slide {
    /*padding-left: 18px;*/
    font-weight: bold;
    margin-bottom: 10px;
}

.slide-area.up {
    height: 20px;
    overflow: hidden;
}

.up .slide-icon {
    background: url("../css/images/arrow.png") left center no-repeat;
}

.param-table {
    width: 100%;
    table-layout: fixed;
    border: 1px solid #e1ebf5;
}

.param-table td {
    height: 45px;
    padding: 10px 0;
    color: #999;
    text-align: center;
    /* padding: */
    border-bottom: 1px solid #e1ebf5;
}

.param-table td input {
    height: 26px;
    display: block;
    width: 96%;
    /*margin-right: 10px;*/
    border: 1px solid #e1ebf5;
    background: #f5fafc;
    outline: none;
    text-align: left;
    color: #666;
    padding: 0 0 0 10px;
}

.code-box {
    display: block;
    height: 100px;
    width: 96%;
    border: 1px solid #e1ebf5;
    background: #f5fafc;
    overflow: hidden;
    text-align: left;
    resize: none;
    color: #666;
    line-height: 26px;
    font-size: 12px;
    padding: 5px 0 0 10px;
}

.param-table th {
    background: #f2f7fa;
    height: 40px;
    color: #666;
    font-weight: normal;
    border-bottom: 1px solid #e1ebf5;
}

.param-table th.table-value {
    padding: 0 0 0 10px;
}

.table-value {
    text-align: left;
}

.body-area {
    display: block;
    height: 260px;
    width: 100%;
    padding: 13px 10px 10px 10px;
}

.left-select {
    display: block;
    width: 90px;
    height: 38px;
    line-height: 38px;
    text-align: left;
}

.select-box {
    margin-bottom: 25px;
}


/*chosen*/

.chosen-container {
    width: 300px !important;
    box-shadow: none!important;
}

.chosen-container-single .chosen-single {
    height: 38px;
    border: 1px solid #e1ebf5;
    background: #f2f7fa;
    padding-left: 18px;
    box-shadow: none!important;
}

.chosen-container-single .chosen-single span {
    line-height: 36px;
}

.chosen-container-single .chosen-single div b {
    background: url("../../../js/widgets/chosen/chosen-down.png") no-repeat 0px 15px;
}

.chosen-container-single.chosen-with-drop .chosen-single div b {
    background: url("../../../js/widgets/chosen/chosen-up.png") no-repeat 0px 15px;
}

.chosen-container-active.chosen-with-drop .chosen-single {
    border: 1px solid #e1ebf5;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    background-image: none;
    box-shadow: none;
}

.chosen-container .chosen-drop {
    position: absolute;
    top: 100%;
    z-index: 1010;
    width: 100%;
    border: 1px solid #e1ebf5;
    border-top: 0;
    background: #f5fafc;
    box-shadow: none;
    clip: rect(0, 0, 0, 0);
}

.chosen-container .chosen-results {
    margin: 0;
    padding: 0;
}

.chosen-container .chosen-results li {
    display: none;
    margin: 0;
    padding: 0 0 0 18px;
    list-style: none;
    line-height: 38px;
}

.chosen-container .chosen-results li.highlighted {
    background: #e4ebf0;
    color: #333;
}


/*请求按钮*/

.send-request {
    display: block;
    width: 200px;
    height: 45px;
    margin: 65px auto 0 auto;
    background: #489ef3;
    color: #fff;
    text-align: center;
    line-height: 45px;
    font-size: 16px;
}

.send-request:hover {
    background: #3688d9;
}


/*right*/

.right-info {
    position: absolute;
    left: 50%;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0 0 0 10px;
    background: #fff;
    margin: 0 0 0 10px;
    padding: 33px 20px 0 20px;
}

.right-result-box+.right-result-box {
    margin-top: 30px;
}

.right-result-box>.code-box {
    height: 360px;
    padding: 18px 20px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.code-box>code {
    font-family: 'Microsoft Yahei';
}


/* 授权方式 */

.right-way {
    height: 38px;
    line-height: 36px;
    border: 1px solid #e1ebf5;
    background: #f2f7fa;
    padding-left: 18px;
    width: 300px;
    float: left;
}