/* 左右2列布局 */

.fui-left {
    position: absolute;
    left: 0;

    width: 210px;
    width: 2.1rem;
    height: 100%;
    padding-right: 0;

    transition: all 0.2s ease-out;

    border-right: 1px solid @split-color;
    background: #fff;
}

.fui-left-toggle {
    position: absolute;
    z-index: 10;
    top: 30%;
    right: 0;

    display: block;
    overflow: hidden;

    width: 14px;
    height: 28px;
    line-height: 28px;
    background: @theme-color-5;
    color: @text-color;
    text-align: center;
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;

    font-family: ActionIcon !important;
    font-size: 12px;
    font-size: 0.12rem;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform-origin: right;

    &:hover {
        color: #fff;
        background: @theme-color;
        box-shadow: -2px 0 6px rgba(@theme-color, 0.4);
    }

    &:before {
        content: '\e617';
    }

    cursor: pointer;
    transition: all 0.2s ease-out;
}

.fui-left.closed {
    margin-left: -210px;
    padding-right: 0;
}

.fui-left.closed .fui-left-toggle {
    transform: rotateY(180deg);
}
.ie8 .fui-left.closed .fui-left-toggle {
    right: auto;
    left: 100%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
    :before {
        content: '\e61a';
    }
}

.fui-left-hd {
    overflow: hidden;
    height: @base-height + 2;
    padding: @base-padding 2 * @base-padding;
    border-bottom: 1px solid @split-color;
}

.fui-left-title {
    float: left;

    margin-right: 16px;

    font-size: 18px;
    font-size: 0.18rem;
}

.fui-left-bd {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    overflow: auto;

    padding: 8px;
}

.fui-left.closed .fui-left-bd {
    right: 8px;
}

.fui-left-hd + .fui-left-bd {
    top: 49px;
    top: calc(0.3rem + 2px + 8px * 2);
}

.fui-right {
    position: relative;

    height: 100%;
    margin-left: 211px;

    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    background: #fff;
}

.fui-right.expanded,
.fui-left.closed + .fui-right {
    /*margin-left: 9px;*/
    margin-left: 0;
}