/* 表单布局 支持响应式 2列|4列|6列*/

.fui-form {
    padding: 8px 16px;
}

.fui-form > [role='form'],
.form-inner {
    max-width: 1700px;
    margin: 0 auto;
}

.form-row:before,
.form-row:after {
    display: table;

    content: ' ';
}

.form-row:after {
    clear: both;
}

.form-row {
    #miniui-base-lineHeight(@base-height + 2);
    padding: 8px 0;
}

.form-row > * {
    float: left;
}

.form-label {
    display: block;

    box-sizing: border-box !important;
    width: 16.6667%;
    min-height: @base-height + 2;

    text-align: right;
}

.form-label.required {
    position: relative;
}

.form-label.required:after {
    position: absolute;
    top: 2px;

    display: inline-block;

    font-size: 16px;

    content: '*';

    color: #f00;
}

.form-control {
    position: relative;

    box-sizing: border-box !important;
    min-height: @base-height + 2;
    padding-left: 8px;
}

.form-control:before,
.form-control:after {
    display: table;

    content: ' ';
}

.form-control:after {
    clear: both;
}

.form-control > * {
    float: left;

    // width: 100%;
}
.form-control {
    > .mini-textbox,
    > .mini-buttonedit,
    > .mini-textboxlist,
    > .mini-listbox,
    > .mini-datepicker ,
    > .mini-daterangepicker ,
    > .mini-checkboxlist,
    > .mini-radiobuttonlist {
        width: 100%;
    }
    > .mini-button + .mini-button {
        margin-left: 16px;
    }
}
.form-control.span1 {
    width: 16.6667%;
}

.form-control.span2 {
    width: 33.3333%;
}

.form-control.span3 {
    width: 50%;
}

.form-control.span4 {
    width: 66.6667%;
}

.form-control.span5 {
    width: 83.3333%;
}
.form-control.span6 {
    width: 100%;
}
/* 标签独占一行样式 */
.fui-form.vertical .form-label {
    text-align: left;
}
.fui-form.vertical .form-control {
    padding: 0 10px;
}
.fui-form.vertical .form-label.required:after {
    right: auto;
}
/* 表单行分割 */
/* 表单行分割 */
.form-row.newsection {
    position: relative;
    padding-top: 16px;
}
.form-row.newsection:before {
    position: absolute;
    top: 5px;
    content: '';
    width: 100%;
    border-top: 1px dashed #ccc;
}
/* 表单在移动端的布局 */
/* 由原先的窗口宽度改为设备宽度，解决ie9下打开窄窗口会影响父页面布局的问题 */
@media screen and (max-device-width: 425px) {
    .form-label {
        width: 100%;

        text-align: left;
    }
    .form-control {
        width: 100% !important;
        padding-left: 0;

        background: #ddd;
    }
}

// border 扩展
.fui-form.show-border {
    .form-row {
        display: flex;
        align-items: stretch;

        padding: 0;

        border-right: 1px solid @split-color;
        border-bottom: 1px solid @split-color;
        border-left: 1px solid @split-color;
        // > * {
        //     align-self: center;
        // }
    }

    .form-row:first-child {
        border-top: 1px solid @split-color;
    }

    .form-label {
        padding-top: 8px;
        padding-bottom: 8px;
    }

    .form-label.required:after {
        right: 2px;

        margin-top: 8px;
    }

    .form-control {
        padding-top: 8px;
        padding-right: 8px;
        padding-bottom: 8px;
    }

    .form-label,
    .form-control {
        border-left: 1px solid @split-color;
    }

    .form-label:first-child {
        border-left: none;
    }

    .form-control > * {
        box-sizing: border-box;
        min-height: 32px;
        min-height: calc(0.3rem + 2px);
    }
}
