/* 手风琴布局 */

.fui-accordions {
    max-width: 1800px;
    margin: 10px auto;
    padding: 0 10px;
}

.fui-accordion + .fui-accordion {
    margin-top: 2 * @base-padding;
}

.fui-acc-hd:before,
.fui-acc-hd:after {
    display: table;

    content: ' ';
}

.fui-acc-hd:after {
    clear: both;
}

.fui-acc-hd {
    position: relative;

    height: 32px;
    height: calc(0.3rem + 2px);
    padding: 10px 0 6px;

    font-size: 15px;
    font-size: 0.15rem;
    line-height: 32px;
    line-height: calc(0.3rem + 2px);

    color: @theme-color;
    border-bottom: 1px solid @theme-color;
}

.fui-acc-order {
    float: left;

    width: 24px;
    padding: 0 8px;
}

.fui-acc-toggle {
    position: absolute;
    top: 50%;
    right: 8px;
    margin-top: -10px;

    display: block;

    width: 20px;
    height: 20px;

    cursor: pointer;

    background-repeat: no-repeat;
    background-position: 0 0;

    color: @theme-color;
    transition: all 0.2s ease-out;
    transform-origin: 50% 50%;
    transform: scale(.8);
    #bird-fly-common(6px, 2px, currentColor);
    #bird-fly-down();
    &:hover {
        color: @theme-color-1;
    }
}
.fui-accordion.closed .fui-acc-toggle {
    #bird-fly-up();
}
.ie8 {
    .fui-acc-toggle {
        font-family: ActionIcon !important;
        font-size: 20px;
        text-align: center;
        line-height: 20px;
        &:before {
            position: static;
            content: '\e724';
        }
        &:after {
            display: none;
        }
    }
    // .fui-accordion.opened .fui-acc-toggle {
    //     transform: rotate(-180deg);
    //     transform-origin: 50% 50%;
    // }
    .fui-accordion.closed .fui-acc-toggle:before {
        content: '\e710';
    }
}

.fui-acc-title {
    float: left;

    margin-right: 20px;
}

.fui-accordion {
    transition: box-shadow 0.4s ease-out 0.2s;
    border-radius: 4px;
    &.opened {
        &:hover,
        &:focus,
        &:focus-within {
            box-shadow: 0 0 6px rgba(0, 0, 0, 0.12);
        }
        .fui-acc-bd {
            display: block;
        }
    }
}

// .fui-accordion.closed {
//     .fui-acc-bd {
//         display: none;
//     }
// }

.fui-acc-bd {
    padding: 8px;

    background-color: #fff;
}

.fui-accordions.shownav {
    padding-right: 230px;
    padding-left: 0;
    box-sizing: border-box;
}

.fui-acc-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 200px;
    border-left: 2px solid #e2e7f1;
}

.acc-menu-item {
    position: relative;
    padding-left: 17px;
    line-height: 30px;
    cursor: pointer;
    margin-bottom: 10px;
    font-size: 15px;
}

.acc-menu-item.active {
    color: @theme-color;
}

.acc-menu-item.active:before {
    position: absolute;
    content: '';
    width: 4px;
    height: 4px;
    top: 11px;
    left: -6px;
    border-radius: 50%;
    background-color: #fff;
    border: 3px solid @theme-color;
}

.fui-acc-return {
    position: fixed;
    width: 32px;
    height: 32px;
    bottom: 40px;
    right: -100px;
    margin-right: 160px;
    cursor: pointer;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 0 6px 0 rgba(0, 60, 125, 0.2);
    font-family: ActionIcon !important;
    font-size: 20px;
    text-align: center;
    line-height: 32px;
    &:before {
        position: static;
        content: '\e710';
    }
}

.fui-acc-return:hover {
    background-position: center 12px;
    background-color: @theme-color;
    color: #fff;
}
