body {
    // #region acctree
    .acc-nav-item.opened > .acc-nav-link.top {
        border-bottom-color: @theme-color;
        color: @theme-color;
    }
    .acc-nav {
        color: @text-color;
    }
    .acc-nav-link {
        color: @text-color;
        &:hover {
            color: @theme-color;
            background: @item-hover-bg;
        }
        &.active {
            color: @theme-color;
            background: @item-selected-bg;
            &:before {
                border-left-color: @theme-color;
            }
        }
    }

    .acc-title {
        color: @text-color;
    }
    .acc-item.opened,
    .acc-item-hd:hover {
        .acc-title,
        .acc-toggle {
            color: @theme-color;
        }
    }
    // #endregion

    // #region tabsnav
    .fui-tabnav-hd {
        border-bottom-color: @border-color;
    }
    .fui-tabnav-bd {
        background: #f5f5f5;
    }
    .fui-tabnav-link {
        transition: all 0.2s ease-out;
    }
    .fui-tabnav-main {
        .fui-tabnav-item:after {
            border-color: @theme-color;
        }
        .fui-tabnav-item > .fui-tabnav-link:hover,
        .fui-tabnav-item.active > .fui-tabnav-link {
            color: @theme-color;
        }
    }
    .fui-tabnav-sub .fui-tabnav-item.active > .fui-tabnav-link,
    .fui-tabnav-sub .fui-tabnav-link:hover,
    .fui-tabnav-main .fui-tabnav-link:hover {
        color: @theme-color;
    }
    .nav-scroll-btns > .btn.scroll-right,
    .nav-scroll-btns > .btn.scroll-left {
        transition: all 0.2s ease-out;
        &:hover {
            color: @theme-color;
        }
    }
    .nav-scroll-btns > .btn.scroll-left:hover {
        transform: translateX(-4px);
    }
    .nav-scroll-btns > .btn.scroll-right:hover {
        transform: translateX(4px);
    }
    // #endregion

    // #region wizard
    .wizard-list .wizard-item {
        transition: all 0.2s ease-out;
        &:before,
        &:after,
        > *:before,
        > *:after {
            transition: all 0.2s ease-out;
        }
        &.default {
            &:after {
                border-left-color: @theme-color;
            }
        }
        &.done {
            color: @success-color;

            &:before,
            &:after {
                background-color: @success-color;
            }
            > span:before,
            .name-info:before {
                border-color: @success-color;
                background-color: #fff;
            }
        }
        &.active {
            color: @theme-color;

            &:before,
            &:after {
                background-color: @theme-color;
            }
            > span:before,
            .name-info:before {
                background-color: @theme-color;
                border-color: @theme-color;
            }
        }
        &.error {
            color: @danger-color;
            &:before,
            &:after {
                background-color: @danger-color;
            }
            > span:before,
            .name-info:before {
                background-color: @danger-color;
                border-color: @danger-color;
            }
        }
    }
    // #endregion
}
