/* toolbar工具栏 */
.fui-toolbar,
.fui-toolbar-bottom {
    height: @base-height + 2px;
    line-height: @base-height + 2px;

    height: calc(0.3rem + 2px);
    line-height: calc(0.3rem + 2px);
    padding: @base-padding 2 * @base-padding;
    background: #fff;
}
.fui-toolbar {
    border-bottom: 1px solid @split-color;
}
.fui-toolbar-bottom {
    border-top: 1px solid @split-color;
}
.fui-toolbar-bottom.right > * {
    float: right;
}
.fui-toolbar > *,
.fui-toolbar-bottom.left > * {
    float: left;
}
.fui-toolbar:before,
.fui-toolbar:after,
.fui-toolbar-bottom:before,
.fui-toolbar-bottom:after,
.btn-group:before,
.btn-group:after {
    display: table;

    content: ' ';
}

.fui-toolbar:after,
.fui-toolbar-bottom:after,
.btn-group:after {
    clear: both;
}

.fui-toolbar > * + *,
.fui-toolbar-bottom > * + * {
    margin-left: 2 * @base-padding;
}
.fui-toolbar > .mini-button + .mini-button,
.fui-toolbar-bottom > .mini-button + .mini-button {
    margin-left: @base-padding;
}

.btn-group > [class^='mini-'],
.btn-group > [class*='mini-'],
.btn-group > .mini-output > [class*='mini-'] {
    float: left;

    margin-left: @base-padding;
}

.btn-group > [class^='mini-']:first-child,
.btn-group > [class*='mini-']:first-child,
.btn-group > .mini-output > [class*='mini-']:first-child {
    margin-left: 0;
}

.mini-btn-group > [class^='mini-'],
.mini-btn-group > [class*='mini-'],
.mini-btn-group > .mini-output > [class*='mini-'] {
    float: left;

    margin-left: 0;
}
.mini-btn-group {
    vertical-align: top;
    display: inline-block;
    &+&,
    & + [class^='mini-'],
    & + [class*='mini-'] {
        margin-left: 16px;
    }
    &:after{
        content: "";
        clear: both;
    }
    > .mini-button {
        margin-left: -1px;

        &.mini-btn-primary,
        &.mini-btn-success,
        &.mini-btn-info,
        &.mini-btn-warning,
        &.mini-btn-danger,
        &:first-child {
            margin-left: 0;
        }
        &.mini-button-popup,
        &.mini-button-pressed,
        &.active,
        &:hover {
            z-index: 100;
        }
        &.mini-button-state-primary + .mini-button-state-primary:not(.mini-button-ghost),
        &.mini-button-state-success + .mini-button-state-success:not(.mini-button-ghost),
        &.mini-button-state-info + .mini-button-state-info:not(.mini-button-ghost),
        &.mini-button-state-warning + .mini-button-state-warning:not(.mini-button-ghost),
        &.mini-button-state-danger + .mini-button-state-danger:not(.mini-button-ghost) {
            border-left-color: rgba(255,255,255,.3);
        }
        &.mini-button-state-primary:not(.mini-button-ghost),
        &.mini-button-state-success:not(.mini-button-ghost),
        &.mini-button-state-info:not(.mini-button-ghost),
        &.mini-button-state-warning:not(.mini-button-ghost),
        &.mini-button-state-danger:not(.mini-button-ghost) {
            &:hover {
                border-right-color: rgba(255,255,255,.3);
            }
        }
    }
    > .mini-button:not(:first-child),
    > .mini-button:not(:last-child) {
        border-radius: 0;
    }

    > .mini-button:first-child:not(:last-child),
    > .mini-button.btn-group-first {
        border-top-left-radius: @border-radius;
        border-bottom-left-radius: @border-radius;
    }

    > .mini-button:last-child:not(:first-child),
    > .mini-button.btn-group-last {
        border-top-right-radius: @border-radius;
        border-bottom-right-radius: @border-radius;
    }
    // #region splitbutton fix
    > .mini-splitbutton {
        border-radius: 0;
    }
    > .mini-splitbutton:not(:first-child),
    > .mini-splitbutton:not(:last-child) {
        .mini-button-split,
        .mini-button-inner {
            border-radius: 0;
        }
    }
    > .mini-splitbutton:first-child:not(:last-child),
    > .mini-splitbutton.btn-group-first {
        .mini-button-inner {
            border-top-left-radius: @border-radius;
            border-bottom-left-radius: @border-radius;
        }
    }
    > .mini-splitbutton:last-child:not(:first-child),
    > .mini-splitbutton.btn-group-last {
        .mini-button-split {
            border-top-right-radius: @border-radius;
            border-bottom-right-radius: @border-radius;
        }
    }
    // #endregion

    // #region webuploader fix
    > .mini-webuploader:not(:first-child),
    > .mini-webuploader:not(:last-child) {
        margin-left: -1px;
        &:hover {
            z-index: 100;
        }
        .webuploader-pick {
            border-radius: 0;
            & + .mini-button {
                border-radius: 0;
                margin-left: -1px;
            }
        }
    }

    > .mini-webuploader:first-child:not(:last-child),
    > .mini-webuploader.btn-group-first {
        .webuploader-pick {
            border-top-left-radius: @border-radius;
            border-bottom-left-radius: @border-radius;
        }
    }
    > .mini-webuploader:last-child:not(:first-child),
    > .mini-webuploader.btn-group-last {
        .webuploader-pick {
            border-top-right-radius: @border-radius;
            border-bottom-right-radius: @border-radius;
        }
    }

    // #endregion
}

/* 帮助按钮 */

.fui-toolbar-helper {
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 32px;
    height: 32px;
    line-height: 32px;
    width: calc(0.3rem + 2px);
    height: calc(0.3rem + 2px);
    line-height: calc(0.3rem + 2px);
    margin-left: 8px;
    padding: 0;
    cursor: pointer;
    transition: all 0.2s ease-out;
    font-family: ActionIcon !important;
    font-size: 18px;
    font-size: 0.18rem;
    text-align: center;
    color: @black-color-3;
    transition: all 0.2s ease-out;
    &.active {
        color: @theme-color;
    }
    &.fixed {
        position: fixed;
        top: 0px;
        right: 0px;
        float: none !important;
        z-index: 100;
        width: 30px;
        height: 30px;
        line-height: 20px;
        font-size: 12px;
        color: #fff;
        text-align: right;
        &:before {
            position: relative;
            color: #fff;
            z-index: 2;
            padding-right: 2px;
        }
        &:after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 0;
            height: 0;
            border: 15px solid @theme-color;
            border-color: @theme-color @theme-color transparent transparent;

        }
        
        &:hover {
            &:after {
                border-color: @theme-color-1 @theme-color-1 transparent transparent;
            }
        }
    }
}
// .ie9 .fui-toolbar-helper,
// .ie10 .fui-toolbar-helper,
// .ie11 .fui-toolbar-helper {
//     line-height: 27px;
// }
.fui-toolbar-helper:before {
    content: '\e728';
}
.fui-toolbar-helper.fixed:before {
    content: '\e61d';
}

.fui-toolbar-helper:hover,
.fui-toolbar-helper.active {
    /* background-image: url("images/contentPage/help-h.png") ; */
    color: @theme-color;
}

.notice-close-btn {
    position: absolute;
    top: 5px;
    right: 14px;

    display: block;

    width: 20px;
    width: 0.2rem;
    height: 20px;
    height: 0.2rem;
    line-height: 20px;
    line-height: 0.2rem;

    cursor: pointer;

    /* background: url("images/contentPage/close.png") center no-repeat; */
    font-family: ActionIcon !important;
    font-size: 12px;
    font-size: 0.12rem;
    text-align: center;
    color: @black-color-4;
}
.notice-close-btn:before {
    content: '\e6de';
}
.fui-toolbar-tooltip .notice-close-btn {
    right: 0;
}
.notice-close-btn:hover {
    color: @theme-color;
}
.fui-toolbar-tooltip > .mini-tooltip-inner,
.fui-toolbar-tooltip > .mini-tooltip-arrow {
    line-height: 26px;
    /*-webkit-transition : opacity .4s cubic-bezier(.45, .05, 1, .31) 0s;
            transition : opacity .4s cubic-bezier(.45, .05, 1, .31) 0s;*/
    /*opacity : 0;*/
}
.fui-toolbar-tooltip > .mini-tooltip-inner {
    font-size: 12px;
    font-size: 0.12rem;
    line-height: 2;
    text-align: left;
    padding: 8px 24px;
}

// toolbar区域的搜索
.fui-toolbar-search {
    float: r;

    > * {
        float: left;
        margin-left: 8px;
    }
}

// 居中显示的底部toolbar
.fui-toolbar.bottom {
    border-bottom: none;
    border-top: 1px solid @split-color;
    text-align: center;

    > * {
        float: none;
        display: inline-block;
    }
}
.fui-toolbar-bottom {
    text-align: center;

    > * {
        float: none;
        display: inline-block;
    }
}

/* 搜索条件区域 */

.fui-condition {
    position: relative;

    /* overflow : hidden; */
    /* 给予初始高度，以便content区域高度计算 */
    /* 不可给初始高度，若第一行是一个checkboxlist，多行，下面的行就会被遮住
    height : 48px; */

    background-color: #fff;
}

/* 为搜素按钮留一定空间 */

.fui-condition .fui-form {
    margin-right: 170px;
}

/* 查询条件 搜索按钮 */

.fui-condition .cond-srh-btn {
    position: absolute;
    top: 16px;
    right: 170px - 66px - 8px;
    &.multi {
        right: 170px - 100px - 8px;
    }
}

.cond-srh-btn {
    #miniui-base-height(@base-height + 2);

    cursor: pointer;
}

.cond-srh-btn-text {
    position: relative;
    #miniui-base-fontSize();

    display: block;

    height: 100%;
    padding-right: 10px;
    padding-left: 28px;

    border-radius: @border-radius;

    color: #fff;
    background-color: @theme-color;

    cursor: pointer;
    user-select: none;

    &:before {
        position: absolute;
        display: block;
        width: 28px;
        #miniui-base-h(@base-height + 2);
        left: 0;
        top: 0;
        text-align: center;
        box-sizing: border-box;

        content: '\e6ec';
        font-family: ActionIcon !important;
        #miniui-base-fontSize(16px);
    }
    &:hover {
        background-color: @theme-color-1;
    }
}

.cond-srh-btn-toggle {
    width: 26px;
    height: 100%;
    border-radius: @border-radius;

    text-align: center;

    font-family: ActionIcon !important;
    #miniui-base-fontSize(14px);

    background: #fff;
    border: 1px solid @border-color;
    box-sizing: border-box;
    line-height: @base-height;
    line-height: @base-height / 100px * 1rem;
    transition: all 0.2s ease-out;
    // color: #fff;

    &:before {
        content: '\e724';
    }
    &:hover {
        // background-color: @theme-color-1;
        color: @theme-color;
        border-color: @theme-color;
    }
}

.cond-srh-btn.opened .cond-srh-btn-toggle:before {
    content: '\e710';
}

.cond-srh-btn-text + .cond-srh-btn-toggle {
    margin-left: 8px;
}

/* 帮助信息区域 */

.fui-notice {
    position: relative;

    padding: 18px 24px;
    padding-right: 35px;
    line-height: 24px;
    margin-top: -1px;
    border-top: 1px solid @theme-color;
    border-bottom: 1px solid @split-color;
    background-color: mix(#fff, @theme-color, 98%);
    text-align: center;
    border-bottom: 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
}

.fui-notice-inner {
    max-width: 1000px;
    margin: 0 auto;
}

/* 内容区域 */

.fui-content {
    width: 100%;
    overflow: auto;
    padding: 8px 16px;
    box-sizing: border-box;
    background: #fff;
}
/* 高级搜索布局 */
.fui-search-trigger {
    display: block;

    width: 32px;
    height: 32px;
    line-height: 32px;
    width: calc(0.3rem + 2px);
    height: calc(0.3rem + 2px);
    line-height: calc(0.3rem + 2px);
    margin-left: 8px;

    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
    color: #fff;
    background: @theme-color;
    font-family: ActionIcon !important;
    font-size: 18px;
    font-size: .18rem;
    border-radius: @border-radius;

    &:before {
        content: '\e6e4';
    }
    &:hover,
    &.close {
        background: @theme-color-1;
    }
    // &.close {
    //     color: @theme-color;
    //     background: #fff;
    //     box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);

    //     &:before {
    //         content: '\e6de';
    //     }
    // }

    &.oa {
        width: auto;
        margin-left: 16px;
        background: #fff;
        color: @theme-color;
        #miniui-base-fontSize();

        &:before {
            content: '高级搜索';
        }
        &:hover,
        &.close {
            background: #fff;
            text-decoration: underline;
        }
    }
}
.fui-toolbar.searchopen {
    // border-color: @theme-color;
    // overflow: hidden;
}
/* 工具栏生成的搜索框按钮图标 */
.mini-buttonedit.fui-primary-search {
    &:hover,
    &:focus {
        color: @theme-color;
    }
    .mini-buttonedit-icon:before {
        content: '\e6ec';
        // color: @theme-color;
    }
}

.fui-search {
    z-index: 1000;

    display: none;
    overflow: hidden;

    // background: @theme-color-6;
    background: mix(#fff, @theme-color, 98%);
    &.open {
        position: absolute;
        top: 49px;
        // 行高 .3 rem 2按钮边框 + 1 toolbar 边框 + 16 边距
        top: calc(0.3rem + 2px + 1px + 8px * 2);
        right: 0;
        left: 0;

        display: block;
        margin-top: -1px;
        border-top: 1px solid @theme-color;
        &[opened='true'] {
            border-top: none;
            margin-top: 0;
        }
    }
    &.searcher {
        position: relative;

        display: block;
        .fui-form {
            display: none;
        }
        .fui-search-footer {
            display: none;
        }
    }

    > .fui-form {
        // 添加最大高度限制，避免过多条件超出屏幕
        max-height: 450px;
        overflow: auto;
    }
}

.fui-search-footer {
    padding: 8px 16px 16px;

    text-align: center;

    > a {
        display: inline-block;

        margin-left: 8px;

        .fui-search-reset-btn,
        .fui-search-close-btn,
        .fui-search-srh-btn {
            #miniui-button-style();
            cursor: pointer;
        }
        .fui-search-srh-btn {
            color: #fff;
            background: @theme-color;
            border-color: @theme-color;
            &:hover {
                border-color: @theme-color-1;
                background: @theme-color-1;
                color: #fff;
            }
            &:active {
                box-shadow: 0 0 6px 4px rgba(@theme-color-1, 0.3);
            }
            &.mini-button-pressed {
                background: darken(@theme-color, 10);
                box-shadow: 0 0 6px 4px rgba(@theme-color, 0.3);
            }
        }
    }
}
.fui-search-result {
    padding: @base-padding @base-padding * 2;
    background: #fff;

    // background: mix(#fff, @theme-color, 98%);
    .fui-search-desc,
    .fui-search-result-btns {
        line-height: @base-height + 2;

        height: @base-height + 2;

        cursor: default;
        user-select: none;
    }
    .fui-search-desc {
        padding-right: 8px;
    }
    .fui-search-list-wrap {
        overflow: hidden;
    }

    .fui-search-list {
        width: 1000em;
        /*margin: 0 -10px 0 10px;*/
    }

    .fui-search-item {
        line-height: @base-height;

        height: @base-height;
        margin-right: 8px;
        padding: 0 3px 0 8px;

        color: @text-color;
        border: 1px solid transparent;
        border-radius: @border-radius;
        background: @black-color-5;
        &:hover,
        &.active {
            // border-color: @theme-color;
            background-color: @theme-color-5;

            .fui-search-item-remove {
                visibility: visible;
            }
        }
    }

    .fui-search-item-text {
        line-height: @base-height;

        display: inline-block;
        overflow: hidden;

        max-width: 110px;

        cursor: default;
        user-select: none;
        vertical-align: top;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .fui-search-item-remove {
        width: 16px;
        height: @base-height;
        line-height: @base-height;

        display: block;
        visibility: hidden;

        transition: all 0.1s ease-out;
        font-family: ActionIcon !important;
        font-size: 12px;
        text-align: center;
        cursor: pointer;

        &:before {
            content: '\e6de';
        }
        &:hover {
            color: @theme-color;
        }
    }

    .fui-search-result-btns span {
        width: 20px;
        height: 20px;
        margin-top: (@base-height - 20) / 2;
        margin-left: 5px;
        cursor: pointer;
        transition: all 0.1s ease-out;
        font-family: ActionIcon !important;
        font-size: 12px;
        font-size: 0.12rem;
        text-align: center;
        line-height: 20px;
        border-radius: 50%;
        background: @black-color-5;
        &:hover {
            color: @theme-color;
            background: @theme-color-5;
            box-shadow: 0 0 6px rgba(0, 0, 0, 0.12);
        }

        &.fui-search-l:before {
            content: '\e70b';
        }
        &.fui-search-r:before {
            content: '\e712';
        }
        &.fui-search-removeall:before {
            content: '\e6de';
        }
        &.fui-search-removeall:hover {
            color: @danger-color;
        }
    }
}

.fui-search-cover {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.3);
}
/* 高级搜索布局 end */
