.painting-area {
    .clock:hover {
        background-color: @theme-color;
    }
    .edit .widget:hover {
        box-shadow: 0 0 0 8px rgba(@theme-color, 0.08);
    }

    .element-item.change:after {
        border-color: @theme-color;
    }
    .element-item > .element-toolbar > .icon {
        background-color: @theme-color;
        box-shadow: 0px 2px 4px 0px rgba(@theme-color, 0.6);
        &:hover {
            background-color: @theme-color-1;
        }
    }
    .element-item > .element-header > .header-operations > .icon {
        color: @theme-color;
    }
    .element-item > .element-header > .header-operations > .icon:hover {
        background-color: @theme-color-5;
    }
    .todo-item {
        &:hover {
            background: @theme-color-5;
        }
    }

    .todo-item-link {
        &:hover {
            color: inherit;
        }
    }

    // .element-columns {
    //     border-bottom-color: @split-color;
    // }
    .element-column-item {
        &.active {
            color: @theme-color;
            &:after {
                background-color: @theme-color;
            }
        }
    }
}
// portal design
.portal-design {
    .widget:hover {
        box-shadow: 0 0 0 8px rgba(@theme-color, 0.08);
    }
    .element-icon {
        color: @theme-color;
    }
    .element-tab:hover,
    .element-tab.active {
        color: @theme-color;
        border-bottom-color: @theme-color;
    }
    .temp-more {
        
        color: @theme-color;
    }
    .lib-more {
        color: @theme-color;
        &:hover {
            background-color: @theme-color-5;
        }
    }
}

.portal-child-page {
    .tab-item:hover,
    .tab-item.active {
        color: @theme-color;
        border-bottom-color: @theme-color;
    }
    .icons-btns {
        color: @theme-color;
    }
}
