.acc-nav {
    height: 100%;
}
.acc-nav-item {
    line-height: 34px;
}
.acc-nav-link {
    height: 34px;
    display: block;
    height: 100%;
    padding-left: 15px;
    position: relative;
    background-color: #f7f7f7;
    color: #3c4c61;
}
.acc-nav-link:hover {
    background-color: #f1efc1;
}

/* top为对第一层节点的修饰 */
.acc-nav-link.top {
    background-color: #e8ebed;
    border-bottom: 1px solid #dedede;
    border-top: 1px solid #fff;
}
.acc-nav-item.opened > .acc-nav-link.top{
    color: #f96e40;
    border-bottom: 1px solid #f96e40;
}
.acc-nav-item.opened > .acc-nav-link.top > .acc-nav-text {
    font-weight: 900;
}
/* not-top为对非第一层节点的修饰 */
.acc-nav-item.opened > .acc-nav-link.not-top {
    background-color: #ebeeee;
}
/* 选中状态 */
.acc-nav-link.active {
    color: #f96e40;
}

/* 节点图标占位 */
.acc-nav-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-top: -2px;
    /* background-color: #ddd; */
}
.acc-nav-text {
    margin-left: 10px;
    font-size: 13px;
}
.acc-nav-trigger {
    width: 16px;
    height: 16px;
    display: block;
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -8px;

    background-repeat: no-repeat;
    background-position: 0 0;
    /* 默认closed状态 */
    background-image: url("images/closed.png");
}
.acc-nav-item.opened > .acc-nav-link > .acc-nav-trigger {
    background-image: url("images/opened.png");
}
.acc-nav-item > .acc-nav-list {
    display: none;
}
.acc-nav-item.opened > .acc-nav-list {
    display: block;
}
