/*!
 * 查找
 * author:jiangqn
 * date: 2019-09-09
 * version: 1.0.0
 */
.main .fui-form {
    padding-left: 0;
    padding-right: 0;
}
.main .form-label {
    width: 140px;
}
.main .form-control.span2 {
    width: 310px;
}
/* .main-input {
    width: 310px;
} */

/* 头部 */
.hd {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 42px;
    box-shadow: 0 0 10px rgba(18,52,86,.1);
    padding-right: 15px;
    background-color: #213a5c;
}

.top {
    height: 42px;
    background: #fff;
    overflow: hidden;
    padding-left: 13px;
    font-size: 16px;
    color: #5c5c5c;
    line-height: 55px;
    box-shadow: 0 1px 8px 0 rgba(75, 75, 75, 0.14);
}
.back {
    box-sizing: border-box;
    padding-left: 27px;
    margin-left: 20px;
    width: 80px;
    position: relative;
    line-height: 42px;
    color: #2590eb;
    background: url(../images/back.png) left center no-repeat;
}

.help-btn {
    width: 40px;
    height: 100%;
    background: url(../images/help.png) center no-repeat;
    cursor: pointer;
}
.remind {
    margin-top: 42px;
    z-index: 100;
    font-size: 16px;
    line-height: 30px;
}

/* 主体 */
.main {
    position: absolute;
    top: 42px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    padding: 0 30px;
    height: auto;
}
.hide-scroll {
    -ms-scroll-chaining: chained;
    -ms-overflow-style: none;
    -ms-content-zooming: zoom;
    -ms-scroll-rails: none;
    -ms-content-zoom-limit-min: 100%;
    -ms-content-zoom-limit-max: 500%;
    -ms-scroll-snap-type: proximity;
    -ms-scroll-snap-points-x: snapList(100%, 200%, 300%, 400%, 500%);
    -ms-overflow-style: none;
}
.hide-scroll::-webkit-scrollbar {
    display: none;
}
.mod-content {
    width: 100%;
    padding: 20px 0;
    box-sizing: border-box;
}
/* 表格标题 */
.title-box {
    height: 40px;
}
/* 表格上方工具栏 */
.tool-btn {
    height: 26px;
    font-size: 13px;
    color: #555555;
    line-height: 26px;
    border: 1px solid #333333;
    border-radius: 4px;
    padding: 0 15px;
    cursor: pointer;
}
.tool-btn.active {
    color: #2590eb;
    border:1px solid #2590eb;
}
/* 表格头部 */
.table-hd .search-icon {
    display: inline-block;
    width: 30px;
    height: 100%;
    background: url(../images/search.png) center no-repeat;
    cursor: pointer;
}

.table-margin{
	margin:auto;
}

.row-type {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: url(../images/row-bottom.png) center no-repeat;
    cursor: pointer;
}
.row-type.top {
    transform: rotate(180deg);
}
.table-hd-l {
    width: 65%;
    height: 40px;
    background-color: #f2f5fa;
}
.table-hd-r {
    width: 450px;
    height: 40px;
    background-color: #f2f5fa;
}
.search {
    position: absolute;
    top: 6px;
    left: 0;
    right: 0;
    width: 100%;
    height: 26px;
    line-height: 1;
    font-size: 0;
}
.search-input {
    width: 50%;
    height: 26px;
    padding-right: 30px;
    box-sizing: border-box;
    margin-top: 0;
    float:none;
}
.search-close {
    display: inline-block;
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    position: absolute;
    top: 0;
    float:none;
   /*  right: 0; */
}

/* 表格主体 */
.table-item {
    padding: 0 10px;
    line-height: 40px;
    height: 100%;
    box-sizing: border-box;
}
.col-l-1 {
    width: 15%;
    text-align: center;
}
.col-l-2 {
    width: 30%;
    text-align: center;
}
.col-l-3 {
    width: 25%;
    text-align: center;
}
.col-l-4 {
    text-align: center;
    width: 30%;
}
.col-r-1 {
    width: 200px;
    padding-left: 40px;
}
.col-r-2 {
    width: 150px;
}
.col-r-3 {
    /* width: 100px; */
}
.light {
    color: #f1a325;
}
.table-row {
    height: 40px;
    cursor: pointer;
    background-color: #fff;
}
.line {
    position: relative;
}
.line:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: 100px;
    border: 2px solid #adadad;
}

.table-left-circle,
.table-right-circle {
    display: none;
    position: absolute;
    top: 15px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid #adadad;
    box-sizing: border-box;
}
.table-left-circle {
    right: 0;
}
.table-right-circle {
    left: 0;
}
.table-row.linked .table-left-circle,
.table-row.linked .table-right-circle {
    display: block;
}
.table-row.primary .table-left-circle,
.table-row.primary .table-right-circle {
    border-color: #f1a325;
}
.table-row:nth-child(2n) {
    background-color: #f4f9fe;
}
.table-item {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}
.table-btn {
    display: inline-block;
    height: 40px;
    line-height: 40px;
}

/* 连线 */
.svg-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* z-index: -1; */
}
.svg-box {
    width: 100%;
    height: 100%;
}
.delete-btn {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 50px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    border: 1px solid #ebeff2;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 0 10 rgba(18,52,86,.1);
    background-color: #fff;
    cursor: pointer;
}
/* 显示字段 */
.table-row:hover .eye-close,
.table-row:hover .table-row-close,
.table-row:hover .eye-open{
    opacity: 1;
}

.eye-close {
    opacity: 0;
    display: inline-block;
    width: 30px;
    height: 100%;
    background: url(../images/eye-close.png) center no-repeat;
}
.table-row-close {
    opacity: 0;
    display: inline-block;
    width: 30px;
    height: 100%;
    background: url(../images/table-row-close.png) center no-repeat;
}
.table-drag {
    display: inline-block;
    width: 30px;
    height: 100%;
    background: url(../images/drag.png) center no-repeat;
}
.table-bd-l {
    position: relative;
    z-index: 2;
    width: 65%;
    max-height: 400px;
    position: relative;
    overflow: auto;
    background-color: #fff;
}
.table-bd-r {
    position: relative;
    z-index: 2;
    width: 450px;
    max-height: 400px;
    overflow: auto;
    background-color: #fff;
}
.checkbox {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(../images/checkbox.png) center no-repeat;
    vertical-align: middle;
}
.checkbox.checked {
    background: url(../images/checkbox-checked.png) center no-repeat;
}
/* 移除字段 */
.table-bd-bottom-l,
.table-bd-bottom-r {
    width: 65%;
}
.table-bd-bottom {
    margin-top: 10px;
}
.table-bd-bottom .table-row:nth-child(2n){
    background-color: #ebebeb;
}
/* .table-bd-bottom .col-l-2 {
    width: 240px;
    padding-left: 70px;
} */
.table-remove-hd {
    height: 40px;
    line-height: 40px;
    background-color: #ebebeb;
    cursor: pointer;
}
.table-remove-hd.close .row-remove{
    transform: rotate(180deg);
}
.table-remove-bd {
    max-height: 400px;
    overflow: auto;
}
.table-addbtn {
    height: 40px;
    background-color: #2590eb;
    line-height: 40px;
    color: #fff;
    margin-bottom: 10px;
    cursor: pointer;
}
.row-remove {
    display: inline-block;
    width: 40px;
    height: 100%;
    background: url(../images/row-bottom.png) center no-repeat;
}
.eye-open {
	opacity: 0;
    display: inline-block;
    width: 30px;
    height: 100%;
    background: url(../images/eye-open.png) center no-repeat;
}

/* 底部保存按钮 */
.save-btn {
    width: 160px;
    height: 45px;
    background-color: #2590eb;
    border-radius: 4px;
    font-size: 16px;
    color: #fff;
    text-align: center;
    line-height: 45px;
    margin: 40px auto;
    cursor: pointer;
}