.bg-img {
    position : absolute;
    z-index : -1;

    width : 100%;
    height : 100%;
}
.top {
    min-width: 1300px;
    height: 48px;

    background-image: url('images/head-bac.jpg');
    background-size: 100% 100%;
    background-size: cover;
}

.top-bac {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    left: 0;

    width: 100%;
    height: 48px;
}

.logo-box {
    overflow: hidden;

    width: 325px;
    height: 48px;
}

.logo {
    display: block;

    margin: 8px 0 0 8px;
}

.list-first {
    position: relative;
    z-index: 10;

    overflow: hidden;

    width: 520px;
    height: 40px;
    margin-top: 5px;
    margin-right: 8px;
    margin-left: 60px;

    border-radius: 4px;
}

.list-first.showPanel {
    overflow: visible;

    height: auto;

    background: #346dba;
}

.list-first.showPanel .menu-down {
    background: url('images/first-menu-btn-hover.png');
}

.first-menu {
    width: 475px;
    margin-right: 6px;
}

@media screen and (min-width: 1500px) {
    .list-first {
        /* 8 */
        width: 804px;
    }
    .first-menu {
        /* 8 */
        width: 760px;
    }
}

@media screen and (min-width: 1800px) {
    .list-first {
        /* 10 */
        width: 994px;
    }
    .first-menu {
        /* 10 */
        width: 950px;
    }
}

.item-first {
    overflow: hidden;

    width: 85px;
    height: 30px;
    margin: 4px 5px;

    font-size: 14px;
    line-height: 30px;

    cursor: pointer;
    -webkit-transition: all .6s cubic-bezier(.25, .46, .45, .94);
            transition: all .6s cubic-bezier(.25, .46, .45, .94);
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;

    color: #cce2ff;
    border-radius: 4px;
}

.item-first.select {
    color: #fff;
    background: #2590eb;
}

.item-first:hover {
    background: #5987c6;
}

.item-first.select:hover {
    background: #2590eb;
}

.menu-down {
    display: block;

    width: 28px;
    height: 28px;
    margin: 5px 5px 0 5px;

    background: url('images/first-menu-btn.png');
}

.rest-list-first {
    position: absolute;

    width: 500px;
    margin: 40px 0 0 515px;

    border-radius: 0 0 3px 3px;
    background: #346dba;
}

.search-box {
    position: relative;

    width: 180px;
    margin-right: 10px;
}

.search-input {
    display: block;

    width: 74px;
    height: 26px;
    margin: 10px 10px 0 0;
    padding: 0 20px 0 14px;

    line-height: 26px;

    -webkit-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
    white-space: nowrap;
    text-overflow: ellipsis;

    color: #fff;
    border: 1px solid #336fc2;
    border-radius: 13px;
    outline: none;
    background: #154e93;
}

.search-input:focus {
    width: 134px;
}

.search-btn {
    position: absolute;
    top: 14px;
    right: 15px;

    width: 20px;
    height: 20px;
    border: none;
    cursor: pointer;
    background: url('images/search.png') center no-repeat;
}

/*快捷菜单*/
.quick-menu {
    position: relative;

    margin-top: 10px;

    font-size: 12px;
}
.quick-menu-title {
    display: block;

    width: 50px;
    height: 28px;

    cursor: pointer;
    text-align: center;

    color: #fff;
    border-radius: 4px;
    background: #0a4588;
}
.quick-menu-panel {
    position: absolute;
    z-index: 10;
    top: 28px;

    display: none;

    width: 126px;

    border-radius: 4px;
    border-top-left-radius: 0;
    background-color: #346dba;
}

.quick-menu-list {
    max-height: 240px;
    margin: 8px 0;
}
.quick-menu-list.empty {
    height: 90px;

    background: url(images/quick-empty.png) no-repeat;
}
.quick-menu-item {
    padding-left: 14px;

    line-height: 30px;

    cursor: pointer;

    color: #fff;
}
.quick-menu-item:hover {
    background: #2765b7;
}

.quick-menu-toolbar {
    line-height: 30px;

    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    background: url(images/quick-split.png) 50% 50% no-repeat #255ba5;
}
.quick-menu-btn {
    width: 50%;

    cursor: pointer;

    color: #fff;
}
.quick-menu-btn:hover {
    background: #2765b7;
}
.quick-menu-btn > .icon {
    display: inline-block;

    width: 12px;
    height: 12px;
    margin-right: 4px;
    margin-left: 12px;
}
.quick-menu-btn.edit > .icon {
    background: url(images/quick-edit.png);
}
.quick-menu-btn.refresh > .icon {
    background: url(images/quick-refresh.png);
}
.quick-menu.open > .quick-menu-title {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #346dba;
}
.quick-menu.open > .quick-menu-panel {
    display: block;
}

/*placeholder颜色*/

::-webkit-input-placeholder {
    color: #ddd;
}

:-moz-placeholder {
    opacity: 1;
    color: #ddd;
}

::-moz-placeholder {
    opacity: 1;
    color: #ddd;
}

:-ms-input-placeholder {
    color: #ddd;
}

.top-right {
    padding-top: 10px;
}

.top-right > a {
    display: block;
    float: left;

    width: 24px;
    height: 24px;
    margin-top: 2px;
    margin-right: 10px;
}

.remind {
    background: url('images/remind.png');
}

.remind:hover,
.remind.active {
    background: url('images/remind-active.png');
}

.remind-num,
.remind-msg-num {
    position: absolute;

    display: block;

    height: 13px;
    margin: -5px 0 0 15px;
    padding: 0 3px;

    font-size: 12px;
    line-height: 13px;

    color: #fff;
    border-radius: 6px;
    background: #f73f07;
}

.chart {
    background: url('images/chart.png');
}
.chart:hover,
.chart.active {
    background: url('images/chart-active.png');
}

.skin {
    background: url('images/skin.png');
}

.skin:hover,
.skin.active {
    background: url('images/skin-active.png');
}

.friends {
    background: url('images/friends.png');
}

.friends:hover {
    background: url('images/friends-active.png');
}

.menu-search {
    background: url('images/menu-search.png');
}
.menu-search:hover,
.menu-search.active {
    background: url('images/menu-search-active.png');
}

.center-line {
    width: 0;
    height: 22px;
    margin-top: 3px;
    margin-right: 10px;

    border-left: 1px solid #92add2;
}

.head-img {
    display: block;

    width: 28px;
    height: 28px;

    cursor: pointer;

    border-radius: 50%;
}

.top-right-content {
    margin-right: 5px;
}


/*皮肤弹框内部色块样式*/

.skin-choose {
    position: relative;

    width: 292px;
    height: 135px;
    margin-top: 20px;
    margin-left: 24px;

    border: 1px solid #bbd5f1;
}

.choose-skin {
    position: absolute;
    right: 1px;
    bottom: 1px;

    display: none;

    width: 22px;
    height: 17px;

    cursor: pointer;

    background: url('images/skin-choosed.png');
}

.skin-choose.selected {
    cursor: not-allowed;
}

.skin-choose.selected .choose-skin {
    display: block;
}


/*用户盒子*/

.user-box {
    position: absolute;
    z-index: 10;

    display: none;

    width: 278px;
    margin-top: 23px;
    margin-left: -244px;
    padding-top: 15px;
}

.user.showPanel > .user-box {
    display: block;
}

.info {
    height: 62px;

    border-bottom: 1px solid #3a7bd3;
    background: #346dba;
}

.big-head {
    display: block;

    width: 46px;
    height: 46px;
    margin: 10px 30px 0 20px;

    border-radius: 50%;
}

.user-txt {
    margin-top: 6px;
}

.username {
    font-size: 15px;

    color: #fff;
}

.departname {
    font-size: 12px;

    color: #fff;
}

.personal {
    background: url('images/p-head.png') center 12px no-repeat;
}

.page {
    background: url('images/setting.png') center 12px no-repeat;
}

.function {
    background: url('images/function.png') center 11px no-repeat;
}

.setting-item {
    float: left;

    width: 92px;
    padding-top: 38px;

    cursor: pointer;
    -webkit-transition: all .6s cubic-bezier(.25, .46, .45, .94);
            transition: all .6s cubic-bezier(.25, .46, .45, .94);
    text-align: center;

    color: #fff;
    border-right: 1px solid #3a7bd3;
    background-color: #346dba;
}

.setting-item:hover {
    background-color: #185197;
}

.setting {
    border-bottom: 1px solid #3a7bd3;
}

.no-border {
    border: none;
}

.cancel-out {
    padding: 10px 13px;

    background: #346dba;
}

.cancel-out > .loginout {
    display: inline-block;

    width: 250px;
    height: 36px;

    font-size: 15px;
    line-height: 36px;

    -webkit-transition: background .6s cubic-bezier(.25, .46, .45, .94);
            transition: background .6s cubic-bezier(.25, .46, .45, .94);
    text-align: center;

    color: #fff;
    border-radius: 4px;
    background: #f96d41;
}

.cancel-out > .role-change {
    display: none;

    width: 110px;
    height: 36px;
    margin-right: 18px;
    margin-left: 10px;

    font-size: 15px;
    line-height: 36px;

    -webkit-transition: background .6s cubic-bezier(.25, .46, .45, .94);
            transition: background .6s cubic-bezier(.25, .46, .45, .94);
    text-align: center;

    color: #fff;
    border-radius: 4px;
    background: #f96d41;
}

.cancel-out > .role-change:hover,
.cancel-out > .loginout:hover {
    background: #ff812d;
}

.cancel-out.hasRoles > .role-change {
    display: block;
}

.cancel-out.hasRoles > .loginout {
    width: 110px;
}


/*在线消息*/

.msg-panel {
    position: absolute;
    z-index: 10;
    top: 48px;
    right: -350px;
    bottom: 30px;

    width: 350px;

    border-top: 2px solid #77abe4;
    border-left: 1px solid #dfdfdf;
    background-color: #fff;
    box-shadow: -2px 0 2px 0 rgba(0, 0, 0, .15);
}

.msg-panel-detail {
    position: relative;

    height: 100%;
}

.msg-panel-head {
    position: relative;

    padding-left: 10px;

    font-size: 16px;
    line-height: 36px;

    color: #2586d9;
    border-bottom: 1px solid #ddd;
    background-color: #f4f4f4;
}

.msg-panel-hide {
    position: absolute;
    top: 50%;
    right: 10px;

    width: 22px;
    height: 22px;
    margin-top: -11px;

    cursor: pointer;

    background: url('images/icon-toright.png');
}

.msg-panel-content,
.msg-panel-result,
.msg-panel-history {
    position: absolute;
    top: 38px;
    right: 0;
    bottom: 0;
    left: 0;

    overflow: hidden;
}

.msg-panel-content {
    background-color: #fff;
}

.msg-panel-content.msgorg {
    overflow: hidden;
}

.msg-panel-back {
    display: inline-block;

    width: 19px;
    height: 12px;
    margin-left: 10px;

    cursor: pointer;

    background: url('images/icon-back.png');
}


/* 无消息的提示 */

.msg-content-empty {
    padding: 15px;

    color: #999;
}

.msg-category {
    margin-bottom: 20px;
    margin-top: 10px;
    padding: 0 10px;
}

.msg-category-head,
.msg-result-head,
.msg-history-head {
    position: relative;

    height: 30px;

    border-bottom: 1px dashed #dcdcdc;
    background: url('images/msg-titleicon.png') no-repeat 0 7px;
}

.msg-result-head,
.msg-history-head {
    margin: 12px 10px 0;
}

.msg-category-title,
.msg-result-headertitle,
.msg-history-headertitle {
    margin-left: 10px;
    
    font-size: 14px;
    line-height: 30px;

    cursor: pointer;

    color: #0b3a51;
}

.msg-category-num {
    font-weight: normal;

    color: #f60;
}

.msg-category-remove {
    position: absolute;
    top: 50%;
    right: 4px;

    width: 15px;
    height: 18px;
    margin-top: -9px;

    cursor: pointer;

    background: url('images/icon-msgdel.png');
}

.msg-category-remove:hover {
    background: url('images/icon-msgdel-hover.png');
}

.msg-list,
.msg-srh-category {

    color: #555;
}

.msg-list {
    padding-left: 10px;
}

.msg-list-item {
    position: relative;

    line-height: 30px;

    cursor: pointer;
}

.msg-list-item:hover,
.msg-list-item.newmsg:hover {
    color: #f96d41;
}

.msg-item-text,
.msg-item-date {
    display: inline-block;

    vertical-align: top;
}

.msg-item-text {
    overflow: hidden;

    width: 245px;

    white-space: nowrap;
    text-overflow: ellipsis;
}

.msg-item-text.warn1 {
    width: 220px;
    padding-left: 25px;

    background: url('images/icon-greenlight.png') left center no-repeat;
}

.msg-item-text.warn2 {
    width: 220px;
    padding-left: 25px;

    background: url('images/icon-orangelight.png') left center no-repeat;
}

.msg-item-text.warn3 {
    width: 220px;
    padding-left: 25px;

    background: url('images/icon-redlight.png') left center no-repeat;
}

.msg-item-text > img {
    width: 16px;
    height: 16px;
    margin-right: 6px;

    vertical-align: middle;
}

.msg-item-ignore {
    position: absolute;
    top: 50%;
    right: 3px;

    width: 16px;
    height: 12px;
    margin-top: -6px;

    background: url('images/icon-eye.png');
}

.msg-item-ignore:hover {
    background: url('images/icon-eye-hover.png');
}

.msg-head-text {
    padding: 0 10px;

    font-weight: 700;

    color: #666;
    background: #fff;
}

.msg-item-remove {
    position: absolute;
    top: 50%;
    right: 15px;

    display: none;

    width: 15px;
    height: 18px;
    margin-top: -9px;

    cursor: pointer;

    background: url('images/icon-msgdel.png');
}

.msg-item-remove:hover {
    background: url('images/icon-msgdel-hover.png');
}

.msg-panel-srh {
    display: table;

    width: 330px;
    margin: 10px;
}

.msg-srh-input,
.msg-srh-icon {
    display: table-cell;
}

.msg-srh-icon {
    width: 35px;

    background: url(images/search-bg.png);
}

.msg-srh-input {
    width: 288px;
    height: 28px;
    padding-left: 6px;

    font-size: 12px;
    line-height: 28px;

    color: #666;
    border: 1px solid #2a92eb;
    border-left: 0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    outline: none;
}

.msg-panel-content.search-content {
    top: 88px;
}

.menu-search-history,
.menu-search-result {
    height: 100%;
}
.menu-search-history > .content-head,
.menu-search-result > .content-head {
    margin: 0 10px;
    padding-left: 10px;

    font-size: 14px;
    line-height: 40px;

    color: #0b3a51;
    border-bottom: 1px dashed #ddd;
    background: url('images/msg-titleicon.png') 0 center no-repeat;
}
.menu-search-list {
    position: absolute;
    top: 41px;
    bottom: 0;

    width: 100%;
}
.menu-search-item {
    padding-left: 20px;

    line-height: 36px;

    cursor: pointer;

    color: #3d4b62;
}
.menu-search-item:hover {
    background-color: #dcefff;
}
.menu-search-item > .keyword {
    color: #f73f07;
}
.menu-search-history > .menu-search-list.empty {
    background: url('images/no-history.png') no-repeat 50% 130px;
}
.menu-search-result > .menu-search-list.empty {
    background: url('images/no-result.png') no-repeat 50% 130px;
}


.content {
    position: absolute;
    top: 48px;
    bottom: 0;

    width: 100%;
}

/*主体区域*/

.bd-content {
    position: relative;

    height: 100%;
    margin-left: 46px;
}


/*左侧菜单*/

.top-name {
    /*position : fixed;
    z-index : 1;*/
    background-color: #2590eb;
}


/*保证侧边展开后侧边滚动不受左边二级菜单滚动影响*/

.left-menu {
    position: static;
    /*position : static ! important;*/

    width: 46px;
    height: 100%;
    /*-webkit-transition: all .6s cubic-bezier(.25, .46, .45, .94);
            transition: all .6s cubic-bezier(.25, .46, .45, .94);*/

    background: #51a6ef;
}


/*保证正常展开有滚动条*/


/*.left-menu.wide {
    position : relative ! important;
}*/

.left-menu.wide {
    position: relative;

    width: 160px;
}

.left-menu.noleft {
    display: none;
}

.left-menu.wide .menu-trigger {
    display: block;
}

.left-menu.wide .icon-trigge {
    background: url('images/inside.png') center center no-repeat;
    background-color: #2590eb;
}

.name-txt {
    display: none;

    width: 102px;
    height: 36px;
    padding-left: 12px;

    font-size: 14px;
    line-height: 36px;

    cursor: default;
    -webkit-user-select: none;
            -moz-user-select: none;
             -ms-user-select: none;
         user-select: none;

    color: #fff;
}

.left-menu.wide .name-txt {
    display: block;
}

.icon-triggle {
    display: block;

    width: 46px;
    height: 36px;

    cursor: pointer;

    background: url('images/outside.png') center center no-repeat;
    background-color: #2590eb;
}

.left-menu.wide .icon-triggle {
    background: url('images/inside.png') 24px center no-repeat;
}


.left-menu-sub {
    display: none;
}

.left-menu-item.open > .left-menu-sub {
    display: block;
    overflow: auto;
}


.wide .top-item.open > .slide-second-menu {
    display: none;
}

.top-item.open > .slide-second-menu {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 46px;

    display: block;

    width: 130px;
    height: 36px;
    padding: 0 15px;

    background: #62b1f5;
}

.slide-second-span {
    display: block;

    width: 127px;
    height: 35px;
    padding-left: 3px;

    font-size: 14px;
    line-height: 35px;

    text-align: left;

    color: #fff;
    border-bottom: 1px solid #74bcfa;
}

.top-item > .left-menu-sub {
    position: absolute;
    z-index: 10;
    top: 36px;
    bottom: 0;
    left: 46px;

    width: 160px;

    background: #62b1f5;
}

.wide .top-item > .left-menu-sub {
    position: static;

    width: 100%;

    background: transparent;
}

.item-link {
    position: relative;

    display: block;

    height: 36px;
    margin-left: -26px;
    /*-webkit-transition: background .3s cubic-bezier(.04, .72, 1, 1);
            transition: background .3s cubic-bezier(.04, .72, 1, 1);*/
    padding-right: 10px;

    line-height: 36px;

    color: #fff;
}

.left-menu-item.sub-item > .item-link {
    padding-right: 20px;
}

.left-menu.wide .item-link,
.left-menu-item.top-item > .item-link {
    margin-left: 0;
}

.item-link-text {
    display: none;
    overflow: hidden;

    white-space: nowrap;
    text-overflow: ellipsis;
}

.wide .item-link-text {
    display: block;
}

.open .left-menu-sub .item-link-text {
    display: block;
}

.left-menu-icon {
    float: left;

    width: 20px;
    height: 20px;
    margin-top: 8px;
    margin-right: 12px;

    font-size: 20px;
}

.menu-trigger {
    position: absolute;
    top: 0;
    right: 0;

    display: none;

    width: 16px;
    height: 100%;
    margin: 0 3px;

    background: url('images/icon-out.png') center center no-repeat;
}

.wide .menu-trigger {
    display: block;
}

.left-menu-sub .menu-trigger {
    display: block;
}

.left-menu > .left-menu-wrap {
    height: 96%;
    height: calc(100% - 36px);
}

.left-menu.wide > .left-menu-wrap {
    position: absolute;
    top: 36px;
    right: 0;
    bottom: 0;
    left: 0;
}

.left-menu.wide .top-item > .item-link > .item-link-text {
    display: block;
}

.slide-second-menu {
    display: none;
}

.left-menu-dot:before {
    float: left;

    width: 10px;
    height: 36px;

    content: '▪';
}
.top-item > .item-link > .left-menu-dot {
    display: none;
}

.top-item.open > .item-link,
.top-item.active > .item-link {
    color: #2586d9;
    background: #cfe6fb;
}

.item-link:hover {
    background: #74bbf8;
}

/*.item-link:hover .menu-trigger {
    background-image: url('./images/slide-up.png');
}*/

.open > .item-link > .menu-trigger {
    background-image: url('./images/icon-down.png');
}
/*
.open > .item-link:hover .menu-trigger {
    background-image: url('./images/slide-down.png');
}
*/
.top-item.open > .item-link > .menu-trigger {
    background-image: url('images/slide-down.png');
}



/*右侧内容区*/

.right-content {
    position: absolute;
    top: 0;
    bottom: 30px;

    width: 100%;
    /*-webkit-transition : all .6s cubic-bezier(.25, .46, .45, .94);
            transition : all .6s cubic-bezier(.25, .46, .45, .94);*/
}

.left-menu.wide + .bd-content {
    margin-left: 160px;
}


.left-menu.noleft + .bd-content {
    margin-left: 0;
}


/*底部*/

.ft {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    height: 30px;

    background-color: #bbd5f1;
    z-index: 10;
}

.bottom-tab-box {
    overflow: hidden;
}

.bottom-tab-line {
    height: 30px;
}

.tab-row {
    overflow: hidden;
}

.bottom-drop {
    display: block;

    width: 20px;
    height: 20px;
    padding: 5px 10px;
}

.drop-btn {
    width: 20px;
    height: 20px;

    cursor: pointer;

    background: url('images/bottom-btn.png') center center no-repeat;
}

.drop-btn:hover {
    background-image: url('images/bottom-btn-hover.png');
}


/*底部tab*/

.my-desk {
    margin-right: 10px;
}

.tabs-nav-item {
    position: relative;

    float: left;

    width: 110px;
    height: 30px;

    cursor: pointer;
    /*-webkit-transition: background .6s cubic-bezier(.25, .46, .45, .94);
            transition: background .6s cubic-bezier(.25, .46, .45, .94);*/

    border-right: 2px solid #bbd5f1;
    background-color: #cce0f5;
}

.tabs-nav-name {
    display: inline-block;
    overflow: hidden;

    width: 80px;
    height: 30px;
    padding: 0 15px;

    font-size: 14px;
    line-height: 30px;

    -webkit-user-select: none;
            -moz-user-select: none;
             -ms-user-select: none;
         user-select: none;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;

    color: #498cc5;
}

.tabs-nav-item.active .tabs-nav-item-refresh {
    visibility: visible;
}

.tabs-nav-item.active {
    background-color: #2590eb;
}


.tabs-nav-item > .tabs-nav-item-close {
    position: absolute;
    right: 0;

    width: 18px;
    height: 20px;
    margin-top: 5px;
}

.tabs-nav-item.active:hover > .tabs-nav-item-close {
    background: url('images/close-btn.png') center no-repeat;
}

.tabs-nav-item.active > .tabs-nav-name {
    color: #fff;
}

.tabs-nav-item.active > .tabs-nav-item-refresh {
    background: url('images/refresh.png') center no-repeat;
}

.tabs-nav-item.active:hover {
    background-color: #2590eb;
}

.tabs-nav-item.active:hover > .tabs-nav-name {
    color: #fff;
}

.tabs-nav-item.active:hover > .tabs-nav-item-refresh {
    background: url('images/refresh.png') center no-repeat;
}

.tabs-nav-item-refresh {
    position: absolute;
    right: 4px;

    width: 15px;
    height: 12px;
    margin-top: 9px;

    background: url(images/refresh-blue.png) center no-repeat;
}



/*hover*/

.tabs-nav-item:hover > .tabs-nav-item-close {
    background: url('images/close.png') center no-repeat;
}

.tabs-nav-item:hover > .tabs-nav-item-refresh {
    background: url('images/refresh-blue.png') center no-repeat;
}

.tabs-nav-item:hover {
    background-color: #e5f2ff;
}


/* 底部tab的ContextMenu */

.context-menu {
    position: absolute;
    z-index: 15;

    width: 115px;
    margin: -221px 0 0 -3px;

    background: #fff;
    border: 1px solid #ccdff0;
    box-shadow: 0 2px 3px 1px rgba(106, 161, 209, .4);
}

.context-menu .menu-item {
    display: block;

    height: 30px;
    padding: 0 13px;

    line-height: 30px;

    text-align: left;
    text-decoration: none;

    color: #498cc5;
}

.context-menu .menu-item:hover {
    background-color: #ebf5ff;
}

.context-menu .sep {
    border-bottom: 1px solid #dfeaf3;
}


/*底部盒子*/

.bottom-slide-box {
    position: absolute;
    z-index: 8;
    right: 0;
    bottom: -280px;

    overflow: hidden;

    max-height: 280px;

    background: #cce0f5;
    box-shadow: -1px -1px 3px 0 rgba(0, 0, 0, .15);
}

.slide-list {
    height: auto;

    background: #cce0f5;
}

.slide-list-item {
    height: 28px;
    padding: 0 20px;

    line-height: 28px;

    cursor: pointer;
    white-space: nowrap;

    color: #498cc5;
}
.slide-list-item:hover {
    color: #fff;
    background-color: #2590eb;
}
/*.bottom-slide-box .tabs-nav-item {
    position: relative;

    height: 28px;
    padding: 0 0 0 15px;

    line-height: 28px;

    cursor: pointer;

    border-right: none;
}

.bottom-slide-box .tabs-nav-item > .tabs-nav-item-close {
    top: 0;
    right: 8px;

    margin: 5px 0 0;
}

.bottom-slide-box .tabs-nav-name {
    display: block;
    float: none;
    padding: 0;

    font-size: 14px;

    text-align: left;

    color: #498cc5;
}
*/

/*E讯*/

.emsg-recent-item {
    position: relative;

    height: 59px;
    padding: 12px;

    cursor: pointer;
    vertical-align: middle;

    border-bottom: 1px solid #ddd;
}

.emsg-user-img {
    width: 42px;
    height: 42px;

    border-radius: 50%;
}

.emsg-user-img > img {
    display: block;

    width: 100%;
    height: 100%;

    border-radius: 50%;
}

.emsg-recent-record {
    margin-left: 55px;
}

.emsg-recent-record > h2 {
    line-height: 20px;
}

.emsg-recent-record > h2 > .emsg-user-name {
    display: inline-block;
    overflow: hidden;

    max-width: 175px;

    font-size: 14px;

    white-space: nowrap;
        text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;

    color: #0b3a51;

     -o-text-overflow: ellipsis;
}

.emsg-recent-item > .emsg-user-img,
.emsg-dialog-head > .emsg-user-img {
    float: left;
}

.emsg-recent-item .emsg-recent-date {
    float: right;

    font-size: 12px;

    color: #999;
}

.emsg-recent-item.newmsg .emsg-user-img {
    -webkit-animation: notread 1s linear infinite;
            animation: notread 1s linear infinite;
}

@-webkit-keyframes notread {
    0% {
        -webkit-transform: translate(0, 0) rotate(0);
                transform: translate(0, 0) rotate(0);
    }
    10% {
        -webkit-transform: translate(1px, 0) rotate(0);
                transform: translate(1px, 0) rotate(0);
    }
    20% {
        -webkit-transform: translate(-1px, 0) rotate(0);
                transform: translate(-1px, 0) rotate(0);
    }
    30% {
        -webkit-transform: translate(0, -1px) rotate(0);
                transform: translate(0, -1px) rotate(0);
    }
    40% {
        -webkit-transform: translate(0, 1px) rotate(0);
                transform: translate(0, 1px) rotate(0);
    }
    50% {
        -webkit-transform: translate(1px, 0) rotate(0);
                transform: translate(1px, 0) rotate(0);
    }
    60% {
        -webkit-transform: translate(-1px, 0) rotate(0);
                transform: translate(-1px, 0) rotate(0);
    }
    70% {
        -webkit-transform: translate(0, -1px) rotate(0);
                transform: translate(0, -1px) rotate(0);
    }
    80% {
        -webkit-transform: translate(0, 1px) rotate(0);
                transform: translate(0, 1px) rotate(0);
    }
    90% {
        -webkit-transform: translate(1px, 0px) rotate(0);
                transform: translate(1px, 0px) rotate(0);
    }
    100% {
        -webkit-transform: translate(-1px, 0) rotate(0);
                transform: translate(-1px, 0) rotate(0);
    }
}

@keyframes notread {
    0% {
        -webkit-transform: translate(0, 0) rotate(0);
                transform: translate(0, 0) rotate(0);
    }
    10% {
        -webkit-transform: translate(1px, 0) rotate(0);
                transform: translate(1px, 0) rotate(0);
    }
    20% {
        -webkit-transform: translate(-1px, 0) rotate(0);
                transform: translate(-1px, 0) rotate(0);
    }
    30% {
        -webkit-transform: translate(0, -1px) rotate(0);
                transform: translate(0, -1px) rotate(0);
    }
    40% {
        -webkit-transform: translate(0, 1px) rotate(0);
                transform: translate(0, 1px) rotate(0);
    }
    50% {
        -webkit-transform: translate(1px, 0) rotate(0);
                transform: translate(1px, 0) rotate(0);
    }
    60% {
        -webkit-transform: translate(-1px, 0) rotate(0);
                transform: translate(-1px, 0) rotate(0);
    }
    70% {
        -webkit-transform: translate(0, -1px) rotate(0);
                transform: translate(0, -1px) rotate(0);
    }
    80% {
        -webkit-transform: translate(0, 1px) rotate(0);
                transform: translate(0, 1px) rotate(0);
    }
    90% {
        -webkit-transform: translate(1px, 0px) rotate(0);
                transform: translate(1px, 0px) rotate(0);
    }
    100% {
        -webkit-transform: translate(-1px, 0) rotate(0);
                transform: translate(-1px, 0) rotate(0);
    }
}

.emsg-not-read {
    display: inline-block;

    width: 7px;
    height: 7px;

    border-radius: 50%;
    background: #ff3d00;
}

.emsg-recent-record > h2 .emsg-not-read {
    margin: 0 0 6px 7px;
}

.emsg-recent-message {
    overflow: hidden;

    font-size: 13px;
    line-height: 20px;

    white-space: nowrap;
        text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
        word-break: break-all;
    -ms-word-break: break-all;

    color: #999;

     -o-text-overflow: ellipsis;
}

.emsg-ignore-icon {
    position: absolute;
    right: 19px;
    bottom: 5px;

    display: none;

    width: 40px;
    height: 18px;

    font-size: 12px;
    line-height: 18px;

    cursor: pointer;
    text-align: center;

    color: #fff;
    border-radius: 9px;
    background: #f3c523;
}

.emsg-ignore-icon:hover {
    background: #f96d41;
}

.emsg-recent-item:hover {
    background: #fdf49d;
}

.emsg-recent-item:hover .emsg-ignore-icon {
    display: block;
}


/*内容区域遮罩*/

.content-cover {
    position: absolute;
    z-index: 5;

    width: 100%;
    height: 100%;

    background: url('images/page-cover.png');
    background: rgba(0, 0, 0, 0);
}

    background: url('images/page-cover.png');
    background: rgba(0, 0, 0, 0)
}
