.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap; }

.col {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  box-sizing: border-box;
  min-height: 30px;
  padding: 6px;
  line-height: 30px;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0; }

.col.hasSub {
  padding: 0; }
.col > * {
  position: relative;
  z-index: 1; }
.col:after {
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  content: '';
  background: transparent; }
.col.hasSub:after {
  border-top-width: 0 !important;
  border-right-width: 0 !important;
  border-bottom-width: 0 !important;
  border-left-width: 0 !important; }
.col.mid:after {
  border-left-width: 0 !important; }
.col.mid > .row > .col.first:after, .col.mid > .row-container > .row > .col.first:after, .col.last > .row > .col.first:after, .col.last > .row-container > .row > .col.first:after {
  border-left-width: 0 !important; }
.col.mid ~ .col.last:after, .col.first ~ .col.last:after {
  border-left-width: 0 !important; }
.row.mid > .col:after {
  border-top-width: 0 !important; }

.row.mid > .col > .row > .col:after,
.row.mid > .col > .dropArea > .row > .col:after {
  border-top-width: 0 !important; }

.col {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  .col.text-left {
    text-align: left; }
  .col.text-center {
    text-align: center; }
  .col.text-right {
    text-align: right; }
  .col.vertical-top {
    vertical-align: top; }
  .col.vertical-middle {
    vertical-align: middle; }
  .col.vertical-bottom {
    vertical-align: bottom; }
  .col.text-left {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .col.text-center {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .col.text-right {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end; }
  .col.vertical-top {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .col.vertical-middle {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .col.vertical-bottom {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end; }

.design-form-title,
.design-form-label {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%; }

.design-form-label {
  padding-right: 8px; }
  .design-form-label.required:after {
    position: absolute;
    top: 50%;
    right: -2px;
    display: block;
    width: 8px;
    height: 16px;
    margin-top: -8px;
    font-size: 16px;
    line-height: 16px;
    content: '*';
    color: red; }

.mini-textbox-readOnly .mini-textbox-border,
.mini-textbox-readOnly .mini-textbox-input,
.mini-buttonedit-readOnly .mini-buttonedit-border,
.mini-buttonedit-readOnly .mini-buttonedit-input,
.mini-readonly .mini-textboxlist-border {
  cursor: default;
  border: 0;
  background: none; }

.mini-buttonedit-readOnly .mini-buttonedit-button,
.mini-readonly .mini-textboxlist-close {
  display: none; }

.mini-readonly .mini-textboxlist-item {
  padding-right: 8px; }
