<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico?v=<%= process.env.VUE_APP_VERSION %>">
    <title><%= process.env.VUE_APP_TITLE %>V<%= process.env.VUE_APP_VERSION %></title>
    <script src="./preset/iepolyfill/closest.js"></script><script src="./preset/iepolyfill/nodelisteach.js"></script><script src="./preset/iepolyfill/urlsearch.js"></script>
    <script>document.write('<script src="./preset/index.js?t='+(+new Date())+'"><\/script>')</script>
    
    <script>document.write('<script src="./config/allextcontrol.js?t='+(+new Date())+'"><\/script>')</script>

    <script>
        function getQueryString(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
            var r = window.location.search.substr(1).match(reg);
            if (r != null)
                return unescape(r[2]);
            return null;
        }
        var isSub = getQueryString("getQueryString");
        var formDesignerActions = {
          // 获取的请求地址
          getUrl: 'sformdesignaction.action?cmd=initFormRelationTableInfo&isSub=' + isSub,
          // 代码项目获取地址
          getCodeItemUrl: 'sformdesignaction.action?cmd=initCodeItemInfo&isSub=' + isSub,
          // 保存的请求地址
          saveUrl: 'sformdesignaction.action?cmd=generateCode&isSub=' + isSub,
          // 获取子表字段的请求地址 参数 tableId = xxx
          getSubTableInfoUrl: 'sformdesignaction.action?cmd=getSubTableInfo&isSub=' + isSub,
          // 获取 buttonedit 弹出信息
          getListInfoUrl: 'sformdesignaction.action?cmd=getSformListInfo&isSub=' + isSub,
          // 获取 buttonedit 的字段接口 参数 listGuid = xxx
          getListStructUrl: 'sformdesignaction.action?cmd=getlistStructInfo&isSub=' + isSub,
          // 获取事件赋值时的表字段信息
          getTableFieldsUrl: 'sformdesignaction.action?cmd=getTableFields&isSub=' + isSub,
          // 获取某个控件的所有可选项目 参数 controlData = 目标控件配置对象
          getControlDataListUrl: 'sformdesignaction.action?cmd=getControlDataList&isSub=' + isSub
        };
        if(/useMock/i.test(location.search)) {
          formDesignerActions.getUrl='https://fe.epoint.com.cn/mock/109/formdesigner/initFormRelationTableInfo';
          formDesignerActions.getCodeItemUrl='https://fe.epoint.com.cn/mock/109/formdesigner/initCodeItemInfo';
          formDesignerActions.saveUrl='https://fe.epoint.com.cn/mock/109/formdesigner/generateCode';
          formDesignerActions.getSubTableInfoUrl='https://fe.epoint.com.cn/mock/109/formdesigner/getSubTableInfo';
          formDesignerActions.getListInfoUrl='https://fe.epoint.com.cn/mock/109/formdesigner/getSformListInfo';
          formDesignerActions.getListStructUrl='https://fe.epoint.com.cn/mock/109/formdesigner/getlistStructInfo';
          formDesignerActions.getTableFieldsUrl='https://fe.epoint.com.cn/mock/109/formdesigner/getTableFields';
          formDesignerActions.getControlDataListUrl='https://fe.epoint.com.cn/mock/109/formdesigner/getControlDataList';
          location.hash = '当前版本:<%= process.env.VUE_APP_VERSION %>;更新时间:<%= process.env.VUE_APP_UPDATED_AT %>';
        }
    </script>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but epoint-form-design doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
