// 此文件由合并 frame/*.less 生成
// =============================
// 框架样式部分
.fui-accordions {}
.acc-menu-item {
    &:hover,
    &.active {
        color: @primary-color;
    }
    &.active:before {
        border-color: @primary-color;
    }
}

.fui-acc {
    &-hd {
        color: @primary-color;
        border-bottom-color: @primary-color;
    }

    &-toggle {
        color: @primary-color;

        &:hover {
            color: @primary-hover-color;
        }
    }
}
// 搜索、重置、展开等按钮
.cond-srh-btn-text,
.cond-srh-btn-toggle,
.fui-search-trigger,
.fui-search-reset-btn,
.fui-search-close-btn,
.fui-search-srh-btn {
    background  : @primary-color;
    border-color: @primary-color;

    &:hover {
        background  : @primary-hover-color;
        border-color: @primary-hover-color;
    }
}

// 工具栏帮助
.fui-toolbar-helper,
.notice-close-btn {
    color: @text-color;

    &:hover {
        color: @primary-color;
    }
}

// 高级搜索按钮
.fui-search-trigger.close {
    background: #fff;
    color     : @primary-color;
}

// 高级搜索项状态
.fui-search-item {

    &.active,
    &:hover {
        border-color: @primary-color;
    }
}
.mini-buttonedit.fui-primary-search .mini-buttonedit-icon:before {
    color: @primary-color;
}

.fui-search-item-remove {
    color: @text-color;

    &:hover {
        color: @primary-color;
    }
}
.fui-search-result-btns span:hover {
    color: @primary-color;
}
.fui-block-hd {
    color: @primary-color;
    &:before {
        background: @primary-color;
    }
}
:root {
    --primary-color: @primary-color;
    --lesser-color1: @lesser-color1;
    --lesser-color2: @lesser-color2;
    --text-color: @text-color;
    --input-border-color: @input-border-color;
    --input-focus-border-color: @input-focus-border-color;
    --item-selected-bg: @item-selected-bg;
    --item-hover-bg: @item-hover-bg;
    --primary-hover-color: @primary-hover-color;
    --lesser-hover-color1: @lesser-hover-color1;
    --lesser-hover-color2: @lesser-hover-color2;
}
.action-icon {
    color: @text-color;

    &:hover {
        color: @primary-color;
    }
}

::-moz-selection {
    background: @primary-color;
    color: #fff;
}

::selection {
    background: @primary-color;
    color: #fff;
}
.fui-left {

    &-hd,
    .fui-left-title {
        border-bottom-color: @primary-color;
        color              : @primary-color;
    }

    &-toggle {
        background: none;
        color     : @primary-color;
        &:hover {
            color: @primary-hover-color;
        }
    }
}body {
    // 左侧手风琴菜单
    .acc-nav-item.opened > .acc-nav-link.top {
        color: @primary-color;
        border-bottom-color: @primary-color;
    }

    .acc-nav-link.active,
    .acc-nav-link.top:hover {
        color: @primary-color;
    }

    .acc-item-hd:hover {
        .acc-title,
        .acc-toggle {
            color: @primary-color;
        }
    }

    // 左侧手风琴树
    .acc-toggle:hover {
        color: @primary-color;
    }

    .acc-item.opened .acc-item-hd {
        color: @primary-color;
        border-bottom-color: @primary-color;
    }

    .acc-item.opened .acc-title {
        color: @primary-color;
    }

    // 顶部tab菜单 
    .fui-tabnav-main .fui-tabnav-item.active > .fui-tabnav-link {
        color: @primary-color;
        border-bottom-color: @primary-color;
    }

    .fui-tabnav-sub .fui-tabnav-item.active > .fui-tabnav-link {
        color: @primary-color;
    }
}

// =============================
