.fui-header {
    background : #2061aa;
}


/**
 * 左侧菜单
 */

.fui-sidebar {
    background : #2d317b;
}

.fui-nav.second ,
.fui-overall-content {
    background : #415fa7;
}

.fui-sidebar-toggle {
    border-top-color : #fff;
}

.fui-overall-link {
    color : #40f3fa;
    background : #19316d;
}

.fui-overall-icon {
    background-image : url("./images/icon-globalnav.png");
}

.fui-nav-link:hover ,
.fui-nav-item.top > .fui-nav-link:hover ,
.fui-nav-link.active ,
.fui-nav-item.opened > .fui-nav-link {
    color : #40f3fa;
    background : #19316d;
}

.fui-overall.opened > .fui-overall-link ,
.fui-overall-link:hover {
    background : #19316d;
}

.fui-nav-title {
    color : #57f3f9;
    border-bottom-color : #657fbc;
}

.fui-overall-navs > .fui-nav.second {
    border-right-color : #657fbc;
}

.fui-nav.second .fui-nav-item.opened > .fui-nav-link ,
.fui-nav.second .fui-nav-link.active ,
.fui-nav.second .fui-nav-link:hover {
    background : #2c4686;
}

.fui-nav-link ,
.fui-nav-edit {
    color : #f3f6fe;
}

.fui-overall-footer {
    background-color : #2c4686;
}

.fui-nav-trigger {
    background-image : url("./images/icon-down.png");
}

.fui-nav-item.opened > .fui-nav-link > .fui-nav-trigger {
    background-image : url("./images/icon-up.png");
}

.fui-nav-link:hover > .fui-nav-trigger {
    background-image : url("./images/icon-down-hover.png");
}


/* 用户下拉 */

.fui-user-dropdown {
    background : #346dba;
}

.fui-user-linkitem ,
.fui-userinfo-name {
    color : #fff;
}

.fui-user-linkitem:hover {
    color : #fff;
    background : #185197;
}

.fui-userinfo-org {
    color : #cce2ff;
}

fui-user-switch ,
.fui-user-logout {
    background : #2ec5e0;
}

fui-user-switch:hover ,
.fui-user-logout:hover {
    background : #57f3f9;
}


/*.fui-scroller-left,
.fui-scroller-left.disabled:hover {
    background-image : url(images/aside/icon-left.png);
}

.fui-scroller-right,
.fui-scroller-right.disabled:hover {
    background-image : url(images/aside/icon-right.png);
}*/

.fui-nav-text > .keynote {
    color : #57f3f9;
}


/**
 * tab
 */

.fui-main-head {
    /*background : url(images/tab-bar/tabbar-bg.png);*/
    background : rgba(255, 255, 255, .15);
}

.fui-main-tab {
    color : #fff;
    background : #90abcf;
}

.fui-main-tab.active ,
.fui-main-tab:hover {
    color : #1b4a60;
    background : #fff;
}


/* 右侧 */

.msg-panel-head {
    color : #2586d9;
}

.msg-panel-hide {
    background : url("./images/icon-toright.png");
}

.msg-category-head ,
.msg-result-head ,
.msg-history-head {
    background : url("./images/msg-titleicon.png") no-repeat 0;
}

.msg-panel {
	border-top-color:#2586d9
}
