@charset "UTF-8";
/**!
 * 通用样式
 * date:2021-03-11
 * author: heying;
 */
/* 字体引入 */
@font-face {
  font-family: "SourceHanSansCN";
  src: url(../css/fonts/SourceHanSansCN-Regular.woff) format("woff");
}

body {
  font-size: 14px;
  color: #333;
  font-family: "SourceHanSansCN";
}

.fui-content {
  height: 100%;
  padding: 0;
  background: none;
}

.cont {
  padding: 18px 14px 16px 14px;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  background: #fff;
}

.mod {
  padding: 8px 12px;
  background-color: #fff;
  border: 1px solid #e5edfc;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  overflow: hidden;
  /* 通用tab */
}

.mod-title {
  position: relative;
  padding: 0 10px;
  font-size: 15px;
  color: #292f47;
  line-height: 30px;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}

.mod-title:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 3px;
  height: 16px;
  margin-top: -8px;
  background-color: #26c5e0;
}

.mod-tab {
  font-size: 0;
}

.mod-tab > li {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding: 0 16px;
  margin-left: 12px;
  color: #33394f;
  font-size: 14px;
  cursor: pointer;
}

.mod-tab > li:first-child {
  margin-left: 0;
}

.mod-tab > li.active {
  color: #00c1de;
}

.mod-tab > li.active:before {
  content: "";
  position: absolute;
  top: -8px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #00c1de;
}

.mod-options {
  font-size: 0;
}

.mod-options > li {
  display: inline-block;
  vertical-align: top;
  min-width: 68px;
  text-align: center;
  padding: 0 16px;
  font-size: 14px;
  line-height: 28px;
  color: #103262;
  border: 1px solid #cfd6e0;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  cursor: pointer;
}

.mod-options > li + li {
  border-left: none;
}

.mod-options > li.active {
  color: #fff;
  background-color: #20bed9;
  border-color: #20bed9;
}

.mod-options > li:first-child {
  border-radius: 2px 0 0 2px;
}

.mod-options > li:last-child {
  border-radius: 0 2px 2px 0;
}

.moditem-title {
  position: relative;
  font-size: 15px;
  color: #33394f;
  line-height: 30px;
}

.card-minipic img {
  width: 271px;
  height: 153px;
}

.copy-icon {
  margin-left: 8px;
  height: 24px;
  width: 20px;
  background: url(../images/copy-icon.png) no-repeat center;
  cursor: pointer;
}

.sort-btns {
  margin-top: 8px;
}
