.acc-menu-item:hover,
.acc-menu-item.active {
  color: #ef6366;
}
.acc-menu-item.active:before {
  border-color: #ef6366;
}
.fui-acc-hd {
  color: #ef6366;
  border-bottom-color: #ef6366;
}
.fui-acc-toggle {
  color: #ef6366;
}
.fui-acc-toggle:hover {
  color: #fe7275;
}
.cond-srh-btn-text,
.cond-srh-btn-toggle,
.fui-search-trigger,
.fui-search-reset-btn,
.fui-search-close-btn,
.fui-search-srh-btn {
  background: #ef6366;
  border-color: #ef6366;
}
.cond-srh-btn-text:hover,
.cond-srh-btn-toggle:hover,
.fui-search-trigger:hover,
.fui-search-reset-btn:hover,
.fui-search-close-btn:hover,
.fui-search-srh-btn:hover {
  background: #fe7275;
  border-color: #fe7275;
}
.fui-toolbar-helper,
.notice-close-btn {
  color: #3d4b64;
}
.fui-toolbar-helper:hover,
.notice-close-btn:hover {
  color: #ef6366;
}
.fui-search-trigger.close {
  background: #fff;
  color: #ef6366;
}
.fui-search-item.active,
.fui-search-item:hover {
  border-color: #ef6366;
}
.mini-buttonedit.fui-primary-search .mini-buttonedit-icon:before {
  color: #ef6366;
}
.fui-search-item-remove {
  color: #3d4b64;
}
.fui-search-item-remove:hover {
  color: #ef6366;
}
.fui-search-result-btns span:hover {
  color: #ef6366;
}
.fui-block-hd {
  color: #ef6366;
}
.fui-block-hd:before {
  background: #ef6366;
}
:root {
  --primary-color: #ef6366;
  --lesser-color1: #f2a65c;
  --lesser-color2: #3fb0d5;
  --text-color: #3d4b64;
  --input-border-color: #bdbec1;
  --input-focus-border-color: #6b7381;
  --item-selected-bg: #fef0f0;
  --item-hover-bg: #fff9df;
  --primary-hover-color: #fe7275;
  --lesser-hover-color1: #ffb56b;
  --lesser-hover-color2: #4ebfe4;
}
.action-icon {
  color: #3d4b64;
}
.action-icon:hover {
  color: #ef6366;
}
::-moz-selection {
  background: #ef6366;
  color: #fff;
}
::selection {
  background: #ef6366;
  color: #fff;
}
.fui-left-hd,
.fui-left .fui-left-title {
  border-bottom-color: #ef6366;
  color: #ef6366;
}
.fui-left-toggle {
  background: none;
  color: #ef6366;
}
.fui-left-toggle:hover {
  color: #fe7275;
}
body .acc-nav-item.opened > .acc-nav-link.top {
  color: #ef6366;
  border-bottom-color: #ef6366;
}
body .acc-nav-link.active,
body .acc-nav-link.top:hover {
  color: #ef6366;
}
body .acc-item-hd:hover .acc-title,
body .acc-item-hd:hover .acc-toggle {
  color: #ef6366;
}
body .acc-toggle:hover {
  color: #ef6366;
}
body .acc-item.opened .acc-item-hd {
  color: #ef6366;
  border-bottom-color: #ef6366;
}
body .acc-item.opened .acc-title {
  color: #ef6366;
}
body .fui-tabnav-main .fui-tabnav-item.active > .fui-tabnav-link {
  color: #ef6366;
  border-bottom-color: #ef6366;
}
body .fui-tabnav-sub .fui-tabnav-item.active > .fui-tabnav-link {
  color: #ef6366;
}
.mini-button {
  border-color: #ef6366;
  background: #ef6366;
}
.mini-button.mini-button-plain {
  color: #3d4b64;
}
body .mini-button-pressed,
body a:hover.mini-button-pressed,
body .mini-button-checked,
body a:hover.mini-button-checked,
body a.mini-button-popup,
body a:hover.mini-button-popup,
body a:hover.mini-button {
  border-color: #fe7275;
  background: #fe7275;
}
.mini-button.mini-btn-primary {
  color: #fff;
  border-color: #f2a65c;
  background: #f2a65c;
}
body a:hover.mini-button.mini-btn-primary {
  color: #fff;
  border-color: #ffb56b;
  background: #ffb56b;
}
.mini-button.mini-btn-info {
  color: #fff;
  border-color: #3fb0d5;
  background: #3fb0d5;
}
body a:hover.mini-button.mini-btn-info {
  color: #fff;
  border-color: #4ebfe4;
  background: #4ebfe4;
}
.mini-splitbutton.mini-button-popup .mini-button-text {
  background: #ef6366;
}
body a:hover.mini-splitbutton {
  border-color: #ef6366;
  background: #ef6366;
}
.mini-button.mini-splitbutton .mini-button-text {
  border-color: #ef6366;
}
.mini-button.mini-splitbutton .mini-button-text:hover {
  background-color: #fe7275;
  border-color: #fe7275;
}
.mini-splitbutton .mini-button-split {
  border-top-color: #ef6366;
  border-right-color: #ef6366;
  border-bottom-color: #ef6366;
}
.mini-splitbutton .mini-button-split:hover {
  border-top-color: #fe7275;
  border-right-color: #fe7275;
  border-bottom-color: #fe7275;
  background-color: #fe7275;
}
.mini-buttonedit-focus .mini-buttonedit-border,
.mini-buttonedit-popup .mini-buttonedit-border {
  border-color: #6b7381;
}
.mini-buttonedit-input {
  color: #3d4b64;
}
.mini-calendar-yearPrev:hover,
.mini-calendar-monthPrev:hover,
.mini-calendar-yearNext:hover,
.mini-calendar-monthNext:hover,
.mini-calendar-menu-prevYear:hover,
.mini-calendar-menu-nextYear:hover {
  color: #ef6366;
}
.mini-calendar .mini-calendar-selected {
  border-color: #ef6366;
  background: #ef6366;
}
.mini-calendar .mini-calendar-selected:hover {
  border-color: #fe7275;
  background: #fe7275;
}
.mini-calendar-menu-selected,
a:hover.mini-calendar-menu-selected,
a:hover.mini-calendar-menu-month {
  color: #ef6366;
  border-color: #f8c0c1;
  background: #ffffff;
}
.mini-calendar-menu-years .mini-calendar-menu-selected,
.mini-calendar-menu-years a:hover.mini-calendar-menu-selected,
a:hover.mini-calendar-menu-year {
  color: #fff;
  border-color: #ef6366;
  background: #ef6366;
}
.mini-calendar-cancelButton,
.mini-calendar-clearButton,
.mini-calendar-okButton,
.mini-calendar-tadayButton {
  color: #3d4b64;
}
.mini-calendar-cancelButton,
.mini-calendar-clearButton {
  border-color: #3fb0d5;
}
.mini-calendar-okButton,
.mini-calendar-tadayButton {
  border-color: #ef6366;
}
.mini-calendar-cancelButton:hover,
.mini-calendar-clearButton:hover {
  color: #4ebfe4;
  border-color: #4ebfe4;
}
.mini-calendar-okButton:hover,
.mini-calendar-tadayButton:hover {
  color: #fe7275;
  border-color: #fe7275;
}
.mini-checkbox-checked .mini-checkbox-icon,
.mini-checkboxlist-item-selected .mini-list-icon,
.mini-radiobuttonlist-item-selected .mini-list-icon {
  color: #ef6366;
}
.switch.mini-checkbox-checked .mini-checkbox-icon {
  background: #ef6366;
}
html,
body {
  color: #3d4b64;
}
.mini-grid-headerCell,
.mini-grid-topRightCell {
  border-color: #fff;
  background: #e7e7e7;
  color: #3d4b64;
}
.mini-grid-headerCell-inner {
  color: #3d4b64;
}
.mini-grid-row-alt {
  background: #f5f5f5;
}
html body .mini-grid-row-selected {
  background: #fef0f0;
}
body .mini-grid-row-hover {
  background: #fff9df;
}
.mini-listbox-item-hover {
  background: #fff9df;
}
.mini-listbox-item-selected {
  background: #fef0f0;
}
.mini-listbox-border {
  border-color: #bdbec1;
}
.mini-menuitem-text,
.mini-menuitem-allow,
.mini-menu .mini-menuitem-icon {
  color: #3d4b64;
}
.mini-menu .mini-menu-popup,
.mini-menu .mini-menuitem-hover {
  border-color: #fff9df;
  background: #fff9df;
}
.mini-menu .mini-menuitem-selected {
  border-color: #fef0f0;
  background: #fef0f0;
}
.mini-messagebox-info,
.mini-messagebox-question {
  color: #ef6366;
}
.mini-messagebox-button {
  background-color: #3fb0d5;
}
.mini-messagebox-buttons .mini-messagebox-button:hover {
  background-color: #4ebfe4;
}
.mini-messagebox-button.ok {
  background-color: #f2a65c;
}
.mini-messagebox-buttons .mini-messagebox-button.ok:hover {
  background-color: #ffb56b;
}
.mini-pager .mini-button,
.mini-pager .mini-button-icon {
  color: #ef6366;
}
.pagination-current,
.pagination-button.pagination-current:hover {
  color: #ef6366;
  border-color: #ef6366;
}
body .mini-pager-num,
.pagination-pagerchange input {
  border-color: #bdbec1;
}
body .mini-pager-num:focus,
.pagination-pagerchange input:focus {
  border-color: #6b7381;
}
.mini-panel-border {
  border-color: #ef6366;
}
.mini-panel-header,
.mini-window .mini-panel-header {
  color: #3d4b64;
}
.mini-tools > span:hover {
  color: #fe7275;
}
.mini-tab {
  color: #3d4b64;
}
.mini-tab-active {
  color: #ef6366;
  border-top-color: #ef6366;
}
.mini-tab-hover {
  color: #fe7275;
  border-top-color: #ef6366;
}
.mini-tab-active .mini-tab-icon,
.mini-tab-hover .mini-tab-icon {
  color: #ef6366;
}
.mini-textbox-input,
.mini-textboxlist .mini-textboxlist-input {
  color: #3d4b64;
}
.mini-prompt-input,
.mini-textbox-border,
.mini-textboxlist-border {
  border-color: #bdbec1;
}
.mini-textboxlist-focus .mini-textboxlist-border,
.mini-textbox-focus .mini-textbox-border {
  border-color: #6b7381;
}
.mini-textbox-input:focus,
.mini-buttonedit-input:focus,
.mini-buttonedit-focus .mini-buttonedit-input,
.mini-textboxlist-focus .mini-textboxlist-border {
  box-shadow: inset 0 0 4px rgba(107, 115, 129, 0.4);
}
.mini-textboxlist .mini-textboxlist-item {
  color: #3d4b64;
}
.mini-textboxlist-close:hover {
  color: #ef6366;
}
.mini-tooltip-inner {
  border-color: #ef6366;
}
.mini-tooltip-top .mini-tooltip-arrow {
  border-top-color: #ef6366;
}
.mini-tooltip-left .mini-tooltip-arrow {
  border-left-color: #ef6366;
}
.mini-tooltip-right .mini-tooltip-arrow {
  border-right-color: #ef6366;
}
.mini-tooltip-bottom .mini-tooltip-arrow {
  border-bottom-color: #ef6366;
}
.mini-tooltip-bottomleft .mini-tooltip-arrow {
  border-bottom-color: #ef6366;
}
.mini-tooltip-bottomright .mini-tooltip-arrow {
  border-bottom-color: #ef6366;
}
.mini-tooltip-topleft .mini-tooltip-arrow {
  border-top-color: #ef6366;
}
.mini-tooltip-topright .mini-tooltip-arrow {
  border-top-color: #ef6366;
}
.mini-tree .mini-tree-icon {
  color: #ef6366;
}
.mini-tree-checkbox-indeterminate,
.mini-tree-checkbox-checked {
  color: #ef6366;
}
.mini-tree-node-hover {
  background: #fff9df;
}
.mini-tree-selectedNode {
  background: #fef0f0;
}
.mini-export-listbtn:hover {
  background-color: #ffffff;
}
.mini-export-listbtn:active {
  border-color: #f49193;
  background-color: #ffffff;
}
.dataimport-export {
  background: #ef6366;
  border-color: #ef6366;
}
.dataimport-export:hover {
  background: #fe7275;
  border-color: #fe7275;
}
.layui-laydate-header i:hover,
.layui-laydate-header span:hover {
  color: #ef6366;
}
.layui-laydate .layui-this {
  background: #ef6366;
}
.layui-laydate .layui-this:hover {
  background: #fe7275;
}
.layui-laydate-content td.laydate-selected {
  background: #ffffff;
}
.mini-ntko-pick {
  background: #ef6366;
}
.mini-ntko-pick:hover {
  background: #fe7275;
}
.mini-tabstreeselect-header {
  color: #3d4b64;
}
.mini-tabstreeselect-tabs > li:hover {
  color: #ef6366;
}
.mini-tabstreeselect-tabs > li.active {
  color: #ef6366;
}
.mini-tabstreeselect-header-main {
  color: #ef6366;
}
.mini-tabstreeselect-action.up,
.mini-tabstreeselect-action.down {
  color: #ef6366;
}
.mini-tabstreeselect-action.up:hover,
.mini-tabstreeselect-action.down:hover {
  color: #fe7275;
}
.mini-tabstreeselect-action.removeall,
.mini-tabstreeselect-action.recover {
  color: #3d4b64;
}
.mini-tabstreeselect-action.removeall:hover,
.mini-tabstreeselect-action.recover:hover {
  color: #fe7275;
}
.mini-tabstreeselect-action.remove {
  color: #ef6366;
}
.mini-tabstreeselect-action.remove:hover {
  color: #ffb56b;
}
.mini-tabstreeselect-item:hover {
  background: #fff9df;
}
.mini-tabstreeselect-item.selected {
  background: #fef0f0;
}
.mini-uploader-btns .webuploader-pick {
  background: #ef6366;
  border-color: #ef6366;
}
.mini-uploader-btns .webuploader-pick:hover {
  background: #fe7275;
  border-color: #fe7275;
}
.mini-filtertree .filter-search-btn:hover {
  color: #ef6366;
}
.mini-slider-bar {
  background-color: #ef6366;
}
.mini-slider-pointer {
  border-color: #ef6366;
}
