/*
 * @Author: chends
 * @Date: 2018-07-11 09:24:29
 * @LastEditors: chends
 * @LastEditTime: 2018-07-20 09:58:02
 * @Description: grace 默认皮肤
 */
@import '../../util.scss';
$headerBgImg: url('./images/header/bg.jpg');
// 下拉列 hover 颜色和背景
$panelItemColor: #2d84cf;
$panelItemBg: #eaf4fd;

.header-container {
    background: #1e5095;
}

.portal {
    @at-root {
        .top-portal-cate-item {
            color: $panelItemColor;
        }
        .portal-curr {
            &:hover {
                background: #2d84cf;
            }
        }
        .portal-trigger:hover,
        .portal.active .portal-trigger {
                background: #2d84cf;
        }
        &.multi {
            .top-portal-cate-item:hover {
                background: $panelItemBg;
            }
            .portal-box-inner,
            .top-portal-cate-item.active {
                background: $panelItemBg;
                color: $panelItemColor;
            }
            .top-portal-item:hover {
                background: #7cbbf1;
                color: #fff;
            }
        }
    }
}
.quick-menu-header:hover,
.quick-menu.active .quick-menu-header {
    background: #2d84cf;
}
.quick-menu-item:hover,
.top-portal-item:hover {
    color: $panelItemColor;
    background: $panelItemBg;
}

.user-action-item:hover {
    color: $panelItemColor;
}

.top-menu-wrap {
    @at-root {
        &.hold-color {
            color: #fff;
            background: #2d84cf;
        }
        &.active {
            color: #fff;
            background: #2d84cf;
            .top-menu-trigger {
                background: #fff;
                &:after {
                    background: url(./images/header/menu-close.png) center no-repeat;
                }
            }
            .top-menu-item {
                &:hover,
                &.active {
                    color: #fff;
                    background: #2590eb;
                    @include box-shadow(0 0 1px rgba(0, 0, 0, 0.3));
                }
            }
        }
    }
}

// 头部按钮
.header-actions-area {
    @at-root {
        .header-search {
            .classify-search-history-item {
                > .classify-search-history-remove {
                    color: $panelItemColor;
                }
                &:hover,
                &.active {
                    color: $panelItemColor;
                    background: $panelItemBg;
                }
            }
            .classify-search-classify-item {
                &:hover,
                &.active {
                    color: desaturate($panelItemColor, 10%);  
                    background: $panelItemBg;
                }
                .classify-search-classify-kw {
                    color: $panelItemColor;
                }
            }
        }
        .header-action-btn-tip {
            // color: $panelItemColor;
        }
        .new-remind-wrap {
            background: #2590eb;
            &:before {
                border-bottom-color: #2590eb;
            }
        }
    }
}

// 左侧菜单
.left-nav {
    @at-root {
        .left-menu-header {
            // background: #2590eb;
        }
        .left-menu-item {
            &.opened > .left-menu-link {
                color: #2590eb;
                > .left-menu-trigger {
                    color: #2590eb;
                }
            }
            &.level-1 {
                > .left-menu-link {
                    &:hover {
                        > .left-menu-trigger {
                            color: #2590eb;
                        }
                    }
                }
            }
        }

        .left-menu-link {
            &:hover {
                color: #2590eb;
            }
        }
        .left-menu-trigger {
            color: #333;
        }
        .main.left-narrow {
            .left-menu-sub-inner {
                background: #f5f5f5;
            }
            .left-menu-item.level-2 {
                .left-menu-link {
                    &:hover {
                        background: rgba(255, 255, 255, 0.1);
                    }
                }
            }
        }
    }
}

/* tabs nav 样式 */

.main-content-tab-wrap {
    background: #fff;
    @at-root {
        .tabsnav-tabs-item {
            background: #fff;
            border-color: #edf0f4;
            color: #666;
            @include transition(all 0.2s ease-out);
            &.fixed {
                color: #555;
                background: #d3e9fb;
            }
            &:hover,
            &.active {
                background-color: #a8d3f7;
                color: #333;
            }
        }
        .tabsnav-contextmenu-item:hover,
        .tabsnav-quicknav-item:hover {
            color: $panelItemColor;
            background-color: $panelItemBg;
        }
    }
}

/* 右侧消息 */

.msg-panel {
    border-top-color: #2d84cf;
    /* remind */
    @at-root {
        .msg-panel-hide {
            background: url('images/right-msg/icon-toright.png');
        }
        .message-content-wrap {
            &.empty {
                background-image: url(./images/right-msg/no-msg.png);
            }
        }
        .msg-category-head,
        .msg-result-head,
        .msg-history-head {
            &:after {
                background: #2d84cf;
            }
        }
        .msg-category-num {
            color: $panelItemColor;
        }
        .msg-category-remove {
            &:hover {
                background: url('images/right-msg/icon-msgdel-hover.png');
            }
        }
        .msg-list-item {
            &:hover,
            &.newmsg:hover {
                color: $panelItemColor;
            }
        }
        .msg-item-ignore {
            &:hover {
                background: url('images/right-msg/icon-eye-hover.png');
            }
        }
    }
    /* emsg */
    @at-root {
        .emsg-recent-list.empty {
            background: url('images/right-msg/no-exun.png') no-repeat 50% 130px;
        }

        .emsg-ignore-icon {
            background: #2590eb;
            &:hover {
                background: #2d84cf;
            }
        }
        .emsg-recent-item:hover {
            background: $panelItemBg;
        }
        .msg-panel-head.tab > .panel-hd-tab.active,
        .msg-panel-head.tab > .panel-hd-tab:hover {
            color: $panelItemColor;
        }
    }
}

/* exun skin*/
// 色值复写
// 左侧背景
$emsg_left_bg: #2590eb;
// 发送按钮颜色
$emsg_send_btn_bg: #2590eb;
// 自己消息内容的背景色
$my_words_bg: #bfe2ff;
@import '../../../../../js/widgets/emsg/emsg-skin.scss';
