* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Microsoft YaHei", arial;
	font-size: 13px;
}

html, body {
	height: 100%;
	min-width: 1000px;
}

ul, li {
	list-style: none;
}

img {
	display: inline-block;
}

input, textarea {
	outline: none;
}

.l {
	float: left;
}

.r {
	float: right;
}

.clearfix {
	zoom: 1;
}

.clearfix {
	content: "";
	clear: both;
	display: block;
}

.hidden {
	display: none;
}

canvas {
	outline: none;
}

::-webkit-scrollbar {
	width: 6px;
	height: 10px;
}

::-webkit-scrollbar-button {
	width: 0;
	height: 0;
}

::-webkit-scrollbar-thumb {
	min-height: 28px;
	padding-top: 100;
	background-color: rgba(0, 0, 0, 0.2);
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border-radius: 5px;
	-webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1), inset 0 -1px 0
		rgba(0, 0, 0, 0.07);
}

body, html {
	height: 100%;
	width: 100%;
	background: #e7e7e7;
	box-sizing: border-box;
	padding: 14px 10px;
	color: #5c5c5c;
}

.design-main {
	position: absolute;
	top: 14px;
	bottom: 0;
	left: 232px;
	right: 10px;
}

/* 头部 */
.design-header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 43px;
	padding: 0 0 0 15px;
	box-sizing: border-box;
	background-color: #fff;
	color: #5c5c5c;
	z-index: 3;
	box-shadow: 0px 0px 10px 0px rgba(75, 75, 75, 0.14);
}

.nicescroll-cursors{
    z-index:999 !important;
}

.nicescroll-rails{
    z-index:999 !important;
}

.design-logo {
	line-height: 48px;
}

.design-logo>img {
	vertical-align: middle;
}

.design-functions {
	margin-top: 12px;
}

.func-item {
	padding: 0 25px;
	border-right: 1px solid #e3e3e3;
}

.last-func-item {
	border-right: 0;
}

.icons-func {
	padding-left: 25px;
	height: 20px;
	line-height: 20px;
	background-repeat: no-repeat;
	background-position: left center;
	cursor: pointer;
}

.func-release {
	background-image: url("../images/save-icon.png");
}

.func-log {
	background-image: url("../images/log-icon.png");
}

.func-parameter {
	background-image: url("../images/parameter.png");
}

.func-property {
	background-image: url("../images/property-icon.png");
}

.func-quickformat {
	background-image: url("../images/send-icon.png");
}

.func-send {
	background-image: url("../images/send-icon.png");
}

.func-clear {
	background-image: url("../images/icon_clear.png");
}

.func-prev {
	background-image: url("../images/icon-prev-new.png");
	background-position: center bottom 1px;
}

.func-prev:hover {
	background-position: center top;
}

.func-next {
	margin-left: 10px;
	background-image: url("../images/icon-next-new.png");
	background-position: center bottom 1px;
}

.func-next:hover {
	background-position: center top;
}

.func-delete {
	background-image: url("../images/icon_delete.png");
}

.design-close {
	width: 48px;
	height: 48px;
	margin-left: 20px;
	background-image: url("../images/close.png");
	background-repeat: no-repeat;
	background-position: center center;
	cursor: pointer;
}

.design-close:hover {
	/* background-color: #f00; */
	
}

.design-help {
	margin-top: 10px;
	padding-left: 20px;
	background-image: url("../images/helper-icon.png");
	background-repeat: no-repeat;
	background-position: left center;
	cursor: pointer;
	margin-right: 25px;
}

/* 内容 */
.design-container {
	position: absolute;
	left: 0;
	top: 43px;
	bottom: 0;
	width: 100%;
}

.design-left {
	box-sizing: border-box;
	width: 200px;
	height: 100%;
	border-right: 1px solid #e5e7ee;
	overflow-y: auto;
	background-color: #fff;
	color: #2f4a96;
}

.tree-item {
	position: relative;
	box-sizing: border-box;
	width: 100%;
	line-height: 38px;
	font-size: 13px;
	color: #5c5c5c;
}

.tree-item.active {
	background-color: #f2f5ff;
	border-bottom: 1px solid #dce5ff;
}

.tree-text {
	position: relative;
	width: 134px;
	height: 38px;
	box-sizing: border-box;
}

.tree-icon {
	width: 12px;
	height: 12px;
	margin-right: 5px;
	vertical-align: middle;
}

.design-item-tips {
	position: absolute;
	left: 205px;
	z-index: 12;
	top: 5px;
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.158);
	background-color: #fff;
	color: #666666;
	font-size: 13px;
	width: 220px;
	box-sizing: border-box;
	padding: 12px;
	line-height: 20px;
	word-break: break-all;
	max-height: 230px;
	overflow-y: auto;
}

.tree-item.active .tree-text:hover {
	background-color: #fff;
}

.tree-text.sub {
	cursor: pointer;
	background-image: url("../images/icon_arrow_right.png");
	background-repeat: no-repeat;
	background-position: 160px center;
	border-right: 0;
}

.tree-text.sub.active {
	background-image: url("../images/icon_arrow_up.png");
}

.tree-child {
	display: none;
}

.design-panel {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 285px;
	background-color: #fff;
	transition: all .2s;
}

.booter-bar {
	position: absolute;
	left: 0;
	right: 0;
	height: 260px;
	bottom: 10px;
	background-color: #fff;
}

.design-name {
	position: absolute;
	top: 15px;
	left: 10px;
	z-index: 10;
	color: #5c5c5c;
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 10px;
	font-size: 16px;
}

.design-diagram {
	width: 100%;
	height: 100%;
}

.design-tip:after {
	content: "将左侧组件拖入画布即可开始搭建数据模型";
	position: absolute;
	top: 42%;
	left: 0;
	width: 100%;
	text-align: center;
	color: #909ab6;
	font-size: 18px;
}

.contextMenu {
	display: none;
	position: fixed;
	z-index: 13;
	font-size: 13px;
	background-color: #fff;
	/*border: 1px solid #ddd;*/
	width: 104px;
	border: 1px solid #fff;
	box-shadow: 0 0 5px 1px rgba(102, 102, 102, 0.2);
}

.cxm {
	box-sizing: border-box;
	padding: 0 8px;
	width: 104px;
	line-height: 30px;
	color: #666666;
}

.cxm:hover {
	background-color: #e8f1ff;
	cursor: pointer;
}

.design-btns {
	position: absolute;
	top: 20px;
	right: 30px;
	z-index: 11;
	background-color: #fff;
	border-radius: 4px;
	box-shadow: 0px 0px 10.45px 0.55px rgba(196, 202, 204, 0.3);
}

.btns-icons {
	position: relative;
	height: 50px;
	width: 40px;
	background-image: url("../images/icon_handles.png");
	background-repeat: no-repeat;
}

.design-btns>ul>.btns-icons:nth-child(2)::before {
	display: none;
}

.btns-icons::before {
	content: '';
	position: absolute;
	width: 24px;
	height: 1px;
	background-color: #dde3ea;
	bottom: 0;
	left: 8px;
}

.btns-icons:hover {
	background-color: #f2f5ff;
	cursor: pointer;
}

.btn-plus {
	background-position: 12px 14px;
}

.btn-reduce {
	background-position: 12px -38px;
}

.btn-location {
	background-position: 12px -88px;
}

.btn-fullscreen {
	background-position: 12px -138px;
}

.back.btn-fullscreen {
	background-image: url("../images/icon_fullback.png");
	background-position: center;
}

/* 弹窗 */
.mini-window .mini-panel-header {
	background: #ffffff;
	color: #666666;
	border-bottom: 1px solid #dedede;
}

.mini-window .mini-panel-footer {
	border-top: 1px solid #ededed;
	background: #fff;
}

.mini-tools-close {
	background: url(images/close.png) no-repeat 50% 50%;
}

.mini-tools>span.mini-tools-close:hover {
	background-color: transparent;
	background-image: url(images/close-hover.png);
}

.ws-container {
	padding: 10px 40px 0 40px;
}

.ws-item {
	margin-top: 20px;
}

.ws-label {
	width: 80px;
	height: 30px;
}

.ws-content {
	width: 358px;
	box-sizing: border-box !important;
	border: 1px solid #bfbfbf;
}

.ws-name {
	border: none;
	width: 100%;
	height: 30px;
	padding: 0 5px;
	font-size: 13px;
	box-sizing: border-box !important;
}

.ws-description-content {
	padding: 5px;
	height: 123px;
}

.ws-description {
	width: 100%;
	height: 100%;
	border: none;
	box-sizing: border-box !important;
	resize: none;
}

.ws-btn-confirm {
	width: 84px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	background-color: #f2a73b;
	color: #fff;
}

.ws-btn-confirm:hover {
	cursor: pointer;
	background-color: #f2a535;
}

.sp-container {
	height: 100%;
	min-height: 300px;
}

.od-container {
	height: 100%;
}

/* 左侧菜单  新 0925 */
.left-nav {
	position: absolute;
	left: 0;
	width: 220px;
	top: 0;
	bottom: 0;
	background-color: #fff;
	box-sizing: border-box;
	border: 1px solid #d9d9d9;
	transition: all .2s;
	color: #5c5c5c;
}

/* 搜索 */
.search-container {
	height: 43px;
	overflow: hidden;
}

.search-box {
	width: 82%;
	margin: 7px auto;
}

.search-box>input {
	width: 80%;
}

.search-content {
	height: 28px;
	width: 174px;
	border: 1px solid #e8e8e8;
	margin: 7px auto;
	box-sizing: border-box;
	border-radius: 15px;
}

.search-content>input {
	height: 26px;
}

.left-tab {
	top: 43px;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
	border-top: 1px solid #d9d9d9;
}

.nav-hd {
	float: left;
	width: 73px;
	border-right: 1px solid #d9d9d9;
	height: 100%;
}

.hdl {
	height: 42px;
	border-bottom: 1px solid #e8e8e8;
	cursor: pointer;
	line-height: 41px;
	border-left: 2px solid #fff;
}

.hdl>img {
	margin-left: 8px;
	vertical-align: middle;
	margin-top: -2px;
}

.hdl>span {
	float: right;
	height: 40px;
	font-size: 12px;
	line-height: 16px;
	width: 28px;
	margin-right: 10px;
	padding-top: 5px;
	box-sizing: border-box;
}

.hdl.active {
	color: #2590eb;
	border-left: 2px solid #248de5;
}

.bd-content {
	margin-left: 74px;
}

.tree-text {
	height: 42px;
	line-height: 42px;
	border-left: 2px solid #fff;
}

.tree-text>span {
	display: block;
	margin-left: 40px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.tree-text:hover {
	cursor: move;
	color: #3297ec;
	background-color: #f2f5ff;
	border-left: 2px solid #668cf6;
	background: -moz-linear-gradient(right, #ddeefc, #fff);
	/* Firefox 3.6 - 15 */
	background: linear-gradient(to right, #ddeefc, #fff); /* 标准的语法 */
}

.img-wrap {
	width: 28px;
	height: 42px;
	margin-left: 13px;
	line-height: 42px;
}
.nochild{
	margin-left: 30px !important;
}

.img-wrap>img {
	vertical-align: middle;
	margin-top: -2px;
	max-width: 15px;
	max-height: 18px;
}

.left-control {
	position: absolute;
	width: 18px;
	height: 26px;
	background: url("../images/mini-state-btn.png") no-repeat center;
	right: 0;
	top: 50%;
}

/* 缩小状态 */
.state-mini .left-nav {
	width: 73px;
	overflow: hidden;
	transition: all .2s;
}

.state-mini .left-control {
	display: none;
}

.state-mini .search-box>a {
	position: absolute;
	right: 10px;
	z-index: 0;
}

.state-mini .search-box>input {
	background-color: transparent;
}

.state-mini input::-webkit-input-placeholder {
	color: #fff;
}

.state-mini input::-moz-input-placeholder {
	color: #fff;
}

.state-mini input::-ms-input-placeholder {
	color: #fff;
}

.state-mini .design-main {
	transition: all .2s;
	left: 87px;
}

/* 底部 */
.tool-top {
	height: 42px;
	box-shadow: 0px 0px 10px 0px rgba(75, 75, 75, 0.14);
	padding-left: 40px;
}

.tool-top>li {
	position: relative;
	float: left;
	line-height: 42px;
	padding-left: 28px;
	cursor: pointer;
	margin-right: 58px;
	color: #5c5c5c;
	font-size: 16px;
}

.tool-top>li.active::before {
	content: '';
	position: absolute;
	height: 2px;
	background-color: #2590eb;
	left: 28px;
	bottom: 0;
	right: 0;
}

.journal {
	background: url("../images/journal-icon.png") no-repeat left center;
}

.step {
	background: url("../images/step-icon.png") no-repeat left center;
}

.preview {
	background: url("../images/preview-icon.png") no-repeat left center;
}

.control-tool {
	position: absolute;
	width: 30px;
	height: 42px;
	top: 0;
	right: 30px;
	background: url('../images/arrow-bb.png') no-repeat center;
}

.preview-tool {
	position: absolute;
	width: 500px;
	height: 42px;
	top: 0;
	margin: 0 auto;
	right: 0;
	line-height: 42px;
}

.preview-tool>li {
	position: relative;
	float: left;
	line-height: 42px;
	padding-left:20px;
	font-size: 16px;
	width:220px;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.clear-log{
    position: absolute;
    width: 88px;
    height: 42px;
    top: 0;
    margin: 0 auto;
    right: 0;
    line-height: 42px;
    font-size: 0.21rem;
    font-weight:bold
}


/* 右侧缩小 */
.design-mini .design-panel {
	bottom: 57px;
	transition: all .2s;
}

.design-mini .booter-bar {
	transition: all .2s;
	height: 42px;
	bottom: 0;
}

.design-mini .control-tool {
	background: url("../images/arrow-tt.png") no-repeat center;
}

/* 成功后的弹窗 */
.success-tip {
	display: none;
	position: fixed;
	z-index: 13;
	font-size: 13px;
	width: 136px;
	height: 72px;
	box-shadow: 0 0 5px 1px rgba(102, 102, 102, 0.2);
	background-color: #fff;
	padding-left: 13px;
	padding-top: 10px;
	box-sizing: border-box;
}

.success-tip>.tip-name {
	color: rgb(0, 153, 0);
}

.success-tip.fail-tip>.tip-name {
	color: rgb(255, 0, 0);
}

.search-result {
	position: absolute;
	top: 43px;
	left: 0;
	right: 0;
	bottom: 0px;
}

.search-result .tree-text {
	width: 100%;
}

.search-result .tree-text>span {
	margin-left: 56px;
}

.search-result .img-wrap {
	margin-left: 30px;
}

.tip-wrap {
	display: none;
	position: absolute;
	box-shadow: 0px 0px 5.64px 0.36px rgba(153, 153, 153, 0.2);
	top: 0;
	background: #fff;
	box-sizing: border-box;
	padding: 15px 10px;
	line-height: 20px;
	border-radius: 4px;
	z-index: 30;
}

.tip-wrap::before {
	content: '';
	position: absolute;
	width: 14px;
	height: 25px;
	background: url("../images/arrow-left.png") no-repeat center;
	left: -14px;
	top: 10px;
}

.tree-item:hover .tip-wrap {
	display: block;
}

.cancel-btn {
	background-image: url("../images/cancel.png");
}

.state-empty {
	padding-top: 160px;
	text-align: center;
	color: #cccccc;
	background: url("../images/empty-icon.png") no-repeat center 15px;
	font-size: 24px;
}

.search-box {
	overflow: hidden;
}

.back-btn {
	position: absolute;
	width: 55px;
	height: 30px;
	bottom: 8px;
	left: 12px;
	box-sizing: border-box;
	padding-left: 25px;
	background: url("../images/back-icon.png") no-repeat left 6px;
	line-height: 30x;
	color: #666;
}

.search-result .tree-text>span>span {
	color: #ea644a;
}

.search-result .tip-wrap {
	left: 215px;
}

.bdl {
	height: 100%;
}

.bd-content {
	height: 100%;
}

.json-list {
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}

.search-result .json-list {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 55px;
	height: auto;
}

.json-list.search-empty {
	background: url("../images/search-empty.png") no-repeat center;
}

.json-list.search-empty::before {
	content: '暂无数据';
	position: absolute;
	color: #999;
	text-align: center;
	top: 50%;
	margin-top: 40px;
	left: 0;
	right: 0;
}

.func-prev.unprev {
	cursor: not-allowed;
	background-image: url("../images/unprev-icon.png");
}

.func-next.unnext {
	cursor: not-allowed;
	background-image: url("../images/unnext-icon.png");
}

.type-title {
    padding-left: 45px;
    line-height: 42px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 4px;
    cursor: pointer;
    font-weight:bold;
    background: url("../images/icon-arrow.png") no-repeat 18px center;
}

.type-title.active {
    background: url("../images/icon-arrow-ac.png") no-repeat 18px center;
}