:root {
    --primary-color: @primary-color;
    --lesser-color1: @lesser-color1;
    --lesser-color2: @lesser-color2;
    --text-color: @text-color;
    --input-border-color: @input-border-color;
    --input-focus-border-color: @input-focus-border-color;
    --item-selected-bg: @item-selected-bg;
    --item-hover-bg: @item-hover-bg;
    --primary-hover-color: @primary-hover-color;
    --lesser-hover-color1: @lesser-hover-color1;
    --lesser-hover-color2: @lesser-hover-color2;
}
.action-icon {
    color: @text-color;

    &:hover {
        color: @primary-color;
    }
}

::-moz-selection {
    background: @primary-color;
    color: #fff;
}

::selection {
    background: @primary-color;
    color: #fff;
}
