/* yui3 reset.css */

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

fieldset,
img {
    border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
i,
var {
    font-weight: normal;
    font-style: normal;
}

ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

caption,
th {
    text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

q:before,
q:after {
    content: '';
}

abbr,
acronym {
    font-variant: normal;

    border: 0;
}

sup {
    vertical-align: text-top;
}

sub {
    vertical-align: text-bottom;
}

input,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;

    *font-size: 100%;
}

legend {
    color: #000;
}

iframe {
    display: block;
}

em,
strong {
    margin: 0 2px;

    font-weight: bold;
}


/* yui3 fonts */

select,
input,
textarea {
    font-family: 'Microsoft YaHei', Tahoma, Verdana;
    font-size: 13px;
}

table {
    font: 100%;
    font-size: inherit;
}

pre,
code,
kbd,
samp,
tt {
    font-family: monospace;
    line-height: 100%;

    *font-size: 108%;
}

button {
    font-family: 'Microsoft YaHei', Tahoma, Verdana;
}


/* 滚动条 */
::-webkit-scrollbar {
    width: 6px;
    height: 6px
}

::-webkit-scrollbar-button {
    width: 0;
    height: 0
}

::-webkit-scrollbar-button:end:increment,
::-webkit-scrollbar-button:start:decrement {
    display: block
}

::-webkit-scrollbar-button:vertical:end:decrement,
::-webkit-scrollbar-button:vertical:start:increment {
    display: none
}

::-webkit-scrollbar-thumb:horizontal,
::-webkit-scrollbar-thumb:vertical,
::-webkit-scrollbar-track:horizontal,
::-webkit-scrollbar-track:vertical {
    border-color: transparent;
    border-style: solid
}

::-webkit-scrollbar-track:vertical::-webkit-scrollbar-track:horizontal {
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box
}

::-webkit-scrollbar-thumb {
    min-height: 28px;
    padding-top: 100;
    background-color: rgba(0, 0, 0, .2);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border-radius: 5px;
    -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1), inset 0 -1px 0 rgba(0, 0, 0, .07)
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, .4);
    -webkit-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, .25)
}

::-webkit-scrollbar-thumb:active {
    background-color: rgba(0, 0, 0, .5);
    -webkit-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, .35)
}

::-webkit-scrollbar-thumb:horizontal,
::-webkit-scrollbar-thumb:vertical,
::-webkit-scrollbar-track:horizontal,
::-webkit-scrollbar-track:vertical {
    border-width: 0
}

::-webkit-scrollbar-track:hover {
    background-color: rgba(0, 0, 0, .05);
    -webkit-box-shadow: inset 1px 0 0 rgba(0, 0, 0, .1)
}

::-webkit-scrollbar-track:active {
    background-color: rgba(0, 0, 0, .05);
    -webkit-box-shadow: inset 1px 0 0 rgba(0, 0, 0, .14), inset -1px -1px 0 rgba(0, 0, 0, .07)
}

.scrollbar-hover::-webkit-scrollbar,
.scrollbar-hover::-webkit-scrollbar-button,
.scrollbar-hover::-webkit-scrollbar-thumb,
.scrollbar-hover::-webkit-scrollbar-track {
    visibility: hidden
}

.scrollbar-hover:hover::-webkit-scrollbar,
.scrollbar-hover:hover::-webkit-scrollbar-button,
.scrollbar-hover:hover::-webkit-scrollbar-thumb,
.scrollbar-hover:hover::-webkit-scrollbar-track {
    visibility: visible
}
::-webkit-scrollbar-corner {
    background:transparent;
}
/* IE 滚动条 */
html,
body,
ul,
li,
div {
    /*三角箭头的颜色*/
    scrollbar-arrow-color: #ccc;
    /*滚动条滑块按钮的颜色*/
    scrollbar-face-color: #ccc;
    /*滚动条整体颜色*/
    scrollbar-highlight-color: #fff;
    /*滚动条阴影*/
    scrollbar-shadow-color: #fff;
    scrollbar-shadow-color: rgba(255,255,255,.3);
    /*滚动条轨道颜色*/
    scrollbar-track-color: #f2f2f2;
}
/* 工具样式 */

.center-block {
    display: block;

    margin-right: auto;
    margin-left: auto;
}

.clearfix:before,
.clearfix:after {
    display: table;

    line-height: 0;

    content: '';
}

.clearfix:after {
    clear: both;
}

.l {
    float: left !important;
}

.r {
    float: right !important;
}

.hidden {
    display: none !important;
}

.hidden-accessible {
    position: absolute !important;
    top: 0;
    left: -999999em !important;
}

.invisible {
    visibility: hidden !important;
}

.trans {
    -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
    -webkit-transition-duration: .2s;
            transition-duration: .2s;
}


/* 用于IE8 强制:before/:after伪类元素重绘 */

.content-empty:after,
.content-empty:before {
    content: '' !important;
}


/* margin-right: 5n 5~20 */

.mr1 {
    margin-right: 1px !important;
}

.mr5 {
    margin-right: 5px !important;
}

.mr10 {
    margin-right: 10px !important;
}

.mr15 {
    margin-right: 15px !important;
}

.mr20 {
    margin-right: 20px !important;
}


/* margin-bottom: 5n 5~20 */

.mb5 {
    margin-bottom: 5px !important;
}

.mb10 {
    margin-bottom: 10px !important;
}

.mb15 {
    margin-bottom: 15px !important;
}

.mb20 {
    margin-bottom: 20px !important;
}


/* 文字排版 */

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-nowrap,
.nobr {
    overflow: hidden;

    white-space: nowrap;
}

.text-ellipsis {
    overflow: hidden;

    white-space: nowrap;
    text-overflow: ellipsis;
}


/* 文字大小写转换 */

.text-lowercase {
    text-transform: lowercase;
}

.text-uppercase {
    text-transform: uppercase;
}


/* 文字颜色 */

.text-normal {
    color: #333;
}

a.text-normal:hover {
    color: #145ccd;
}

.text-primary {
    color: #3280fc;
}

a.text-primary:hover {
    color: #0462f7;
}

.text-danger {
    color: #d2322d;
}

a.text-danger:hover {
    color: #a82824;
}

.text-warning {
    color: #e48600;
}

a.text-warning:hover {
    color: #b16800;
}

.text-success {
    color: #229f24;
}

a.text-success:hover {
    color: #19751a;
}

.text-info {
    color: #39b3d7;
}

a.text-info:hover {
    color: #2596b8;
}

.text-minor,
a.text-minor:hover {
    color: #666;
}

.text-assist,
a.text-assist:hover {
    color: #999;
}

.text-special,
a.text-special:hover {
    color: #6e612f;
}

.text-bold {
    font-weight: bold;
}

/* 表单布局 支持响应式 2列|4列|6列*/

.fui-form {
    padding: 5px;
    /*background: #fff;*/
}

.fui-form > [role='form'],
.form-inner {
    max-width: 1700px;
    margin: 0 auto;
}

.form-row:before,
.form-row:after {
    display: table;

    content: ' ';
}

.form-row:after {
    clear: both;
}

.form-row {
    /*line-height: 26px;*/
    padding: 6px 0;
}

.form-row > * {
    float: left;
}

.form-label {
    display: block;

    box-sizing: border-box !important;
    width: 16.6667%;
    min-height: 26px;
    padding-right: 5px;
    /*line-height: 26px;*/

    text-align: right;
}

.form-label.required {
    position: relative;
}

.form-label.required:after {
    position: absolute;
    top: 2px;

    display: inline-block;

    font-size: 16px;

    content: '*';

    color: #f00;
}

.form-control {
    position: relative;

    box-sizing: border-box !important;
    min-height: 26px;
    padding-left: 5px;
}

.form-control:before,
.form-control:after {
    display: table;

    content: ' ';
}

.form-control:after {
    clear: both;
}

.form-control > * {
    float: left;

    width: 100%;
}

.form-control.span1 {
    width: 16.6667%;
}

.form-control.span2 {
    width: 33.3333%;
}

.form-control.span3 {
    width: 50%;
}

.form-control.span4 {
    width: 66.6667%;
}

.form-control.span5 {
    width: 83.3333%;
}

/* 表单在移动端的布局 */
/* 由原先的窗口宽度改为设备宽度，解决ie9下打开窄窗口会影响父页面布局的问题 */
@media screen and (max-device-width: 425px) {
    .form-label {
        width: 100%;

        text-align: left;
    }
    .form-control {
        width: 100% !important;
        padding-left: 0;

        background: #ddd;
    }
}
/* 手风琴布局 */

.fui-accordions {
    max-width: 1800px;
    margin: 10px auto;
    padding: 0 10px;
}

.fui-accordion + .fui-accordion {
    margin-top: 14px;
}

.fui-acc-hd:before,
.fui-acc-hd:after {
    display: table;

    content: ' ';
}

.fui-acc-hd:after {
    clear: both;
}

.fui-acc-hd {
    position: relative;

    height: 24px;
    padding: 4px 0;

    font-size: 18px;
    line-height: 24px;

    color: #2590eb;
    border-bottom: 1px solid #2590eb;
}

.fui-acc-order {
    float: left;

    width: 24px;
    padding: 0 6px;

    font-style: italic;
}

.fui-acc-toggle {
    position: absolute;
    top: 6px;
    right: 6px;

    display: block;

    width: 20px;
    height: 20px;

    cursor: pointer;

    background-repeat: no-repeat;
    background-position: 0 0;
    font-family: ActionIcon!important;
    font-size: 20px;
    text-align: center;
    line-height: 20px;
    color: #2590eb;
}

/* .fui-accordion.opened .fui-acc-toggle {
    background-image: url('images/accLayout/opened.png');
}

.fui-accordion.closed .fui-acc-toggle {
    background-image: url('images/accLayout/closed.png');
} */
.fui-accordion.opened .fui-acc-toggle:before {
    content: "\e6f7";
}

.fui-accordion.closed .fui-acc-toggle:before {
    content: "\e6f8";
}
.fui-acc-title {
    float: left;

    margin-right: 20px;
}

.fui-accordion.opened .fui-acc-bd {
    display: block;
}

.fui-accordion.closed .fui-acc-bd {
    display: none;
}

.fui-acc-bd {
    padding: 5px;

    background-color: #f7f7f7;
}

.fui-accordions.shownav {
    padding-right: 230px;
    padding-left: 0;
    box-sizing: border-box
}

.fui-acc-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 200px;
    border-left: 2px solid #e2e7f1
}

.acc-menu-item {
    position: relative;
    padding-left: 17px;
    line-height: 30px;
    cursor: pointer;
    margin-bottom: 10px;
    font-size: 15px
}

.acc-menu-item.active {
    color: #4484ed
}

.acc-menu-item.active:before {
    position: absolute;
    content: "";
    width: 4px;
    height: 4px;
    top: 11px;
    left: -6px;
    border-radius: 50%;
    background-color: #fff;
    border: 3px solid #4484ed
}

.fui-acc-return {
    position: fixed;
    width: 42px;
    height: 42px;
    bottom: 40px;
    right: -100px;
    margin-right: 160px;
    cursor: pointer;
    border-radius: 2px;
    background: url(images/accLayout/return.png) center -30px no-repeat #fff;
    box-shadow: 0 0 6px 0 rgba(0, 60, 125, .2)
}

.fui-acc-return:hover {
    background-position: center 12px;
    background-color: #1e84f5
}

/* 左右2列布局 */

.fui-left {
    position: absolute;
    left: 0;

    width: 210px;
    height: 100%;
    padding-right: 0;

    -webkit-transition: all .2s ease-out;
         -o-transition: all .2s ease-out;
            transition: all .2s ease-out;

    border-right: 1px solid #eee;
    background-color: #f9f9f9;
}

.fui-left-toggle {
    position: absolute;
    z-index: 10;
    top: 30%;
    right: 0;

    display: block;
    overflow: hidden;

    width: 8px;
    height: 48px;
    margin-top: -4px;
/* background-image: url(images/leftRight/opened.png); */

    font-family: ActionIcon !important;

    cursor: pointer;
    -webkit-transition: color .2s ease-out;
         -o-transition: color .2s ease-out;
            transition: color .2s ease-out;
}
.fui-left-toggle:hover {
    color: #f96d41;
}
.fui-left-toggle:after {
    position: absolute;
    top: 1px;
    left: -20px;

    display: block;

    font-size: 48px;
    line-height: 44px;

    content: "\e6ed";
}

/* .fui-left-toggle:hover {
    background-image: url(images/leftRight/opened-h.png);
} */

.fui-left.closed {
    /*overflow: hidden;*/
    /* width: 0; */
    margin-left: -210px;
    padding-right: 0;

    background-color: #e4eff7;
}

.fui-left.closed .fui-left-toggle {
    right: -8px;

    /* background-image: url(images/leftRight/closed.png); */
}

.fui-left.closed .fui-left-toggle:after {
    content: "\e6f0";
}

/* .fui-left.closed .fui-left-toggle:hover {
    background-image: url(images/leftRight/closed-h.png);
} */

.fui-left-hd {
    overflow: hidden;

    height: 35px;

    line-height: 35px;

    border-bottom: 1px solid #f96d41;
}

.fui-left-title {
    float: left;

    margin-right: 20px;
    padding-left: 10px;

    font-weight: bold;

    color: #f96d41;
}

.fui-left-bd {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    overflow: auto;

    padding: 5px;

    background-color: #fff;
}

.fui-left.closed .fui-left-bd {
    right: 8px;
}

.fui-left-hd + .fui-left-bd {
    top: 36px;
}

.fui-right {
    position: relative;

    height: 100%;
    margin-left: 211px;

    -webkit-transition: all .2s ease-out;
         -o-transition: all .2s ease-out;
            transition: all .2s ease-out;
}

.fui-right.expanded ,
.fui-left.closed + .fui-right {
    /*margin-left: 9px;*/
    margin-left: 0;
}

/* toolbar工具栏 */

.fui-toolbar,
.fui-toolbar-bottom {
    height: 26px;
    padding: 5px;
/*line-height: 26px;*/

    background-color: #f9f9f9;
}
.fui-toolbar-bottom {
    background-color: #fff;
    border-top: 1px solid #eee; 
}
.fui-toolbar-bottom > * {
    float: right;
}
.fui-toolbar > *,
.fui-toolbar-bottom.left > *  {
    float: left;
}
.fui-toolbar:before,
.fui-toolbar:after,
.fui-toolbar-bottom:before,
.fui-toolbar-bottom:after,
.btn-group:before,
.btn-group:after{
    display: table;

    content: " ";
}

.fui-toolbar:after,
.fui-toolbar-bottom:after,
.btn-group:after {
    clear: both;
}
/* 
.btn-group > .mini-button,
.btn-group > .mini-webuploader {
    float: left;
}

.btn-group > .mini-button + .mini-button,
.btn-group > .mini-button + .mini-webuploader,
.btn-group > .mini-webuploader + .mini-button,
.btn-group > .mini-output > .mini-button + .mini-button,
.btn-group > .mini-output > .mini-button + .mini-webuploader,
.btn-group > .mini-output > .mini-webuploader + .mini-button {
    margin-left: 1px;
} */
.btn-group > [class^="mini-"] ,
.btn-group > [class*="mini-"] ,
.btn-group > .mini-output > [class*="mini-"] {
    float: left;

    margin-left: 1px;
}

.btn-group > [class^="mini-"]:first-child ,
.btn-group > [class*="mini-"]:first-child ,
.btn-group > .mini-output > [class*="mini-"]:first-child {
    margin-left: 0;
}


/* 帮助按钮 */

.fui-toolbar-helper {
    line-height: 26px;
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 26px;
    height: 26px;
    margin-left: 5px;
    padding: 0;
    cursor: pointer;
    transition: all .2s ease-out;
    font-family: ActionIcon!important;
    font-size: 18px;
    text-align: center;
}
.ie9 .fui-toolbar-helper,
.ie10 .fui-toolbar-helper,
.ie11 .fui-toolbar-helper {
    line-height: 27px;
}
.fui-toolbar-helper:before {
    content: "\e728";
}

.fui-toolbar-helper:hover {
    /* background-image: url("images/contentPage/help-h.png") ; */
    color:#f96d41;
}

.notice-close-btn {
    position: absolute;
    top: 5px;
    right: 14px;

    display: block;

    width: 20px;
    height: 26px;

    cursor: pointer;

    /* background: url("images/contentPage/close.png") center no-repeat; */
    font-family: ActionIcon!important;
    font-size: 16px;
    text-align: center;
}
.notice-close-btn:before {
    content: "\e6de";
}
.fui-toolbar-tooltip .notice-close-btn {
    right: 0;
}
.notice-close-btn:hover {
    /* background: url("images/contentPage/close-h.png") center no-repeat; */
    color:#f96d41;

}
.fui-toolbar-tooltip > .mini-tooltip-inner,
.fui-toolbar-tooltip > .mini-tooltip-arrow {
    line-height: 26px;
    /*-webkit-transition : opacity .4s cubic-bezier(.45, .05, 1, .31) 0s;
            transition : opacity .4s cubic-bezier(.45, .05, 1, .31) 0s;*/
    /*opacity : 0;*/
}
.fui-toolbar-tooltip > .mini-tooltip-inner {
    font-size: 13px;

    padding: 5px 10px;
}


/* 搜索条件区域 */

.fui-condition {
    position: relative;

    /* overflow : hidden; */
    /* 给予初始高度，以便content区域高度计算 */
    /* 不可给初始高度，若第一行是一个checkboxlist，多行，下面的行就会被遮住
    height : 48px; */

    background-color: #fff;
}


/* 为搜素按钮留一定空间 */

.fui-condition .fui-form {
    margin-right: 170px;
}


/* 查询条件 搜索按钮 */

.fui-condition .cond-srh-btn {
    position: absolute;
    top: 11px;
    right: 70px;
}

.cond-srh-btn {
    line-height: 26px;

    height: 26px;

    cursor: pointer;
}

.cond-srh-btn-text {
    font-size: 13px;

    display: block;

    height: 100%;
    padding-right: 10px;
    padding-left: 28px;

    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    color: #fff;
    /* background: url("images/contentPage/search.png") no-repeat 8px center; */
    background-color: #34a0d2;
    position: relative;
}
.cond-srh-btn-text:before {
    position: absolute;
    display: block;
    width: 28px;
    height: 26px;
    left: 0;
    top: 0;
    text-align: center;
    box-sizing: border-box;

    content: "\e6ec";
    font-family: ActionIcon!important;
    font-size: 14px;
}
.cond-srh-btn-text:hover {
    background-color: #32aee7;
}

.cond-srh-btn-toggle {
    width: 26px;
    height: 100%;

    text-align: center;

    /* background: url(images/contentPage/cond-opened.png) 
    no-repeat center center #34a0d2; */
    background:#34a0d2;
    font-family: ActionIcon!important;
    color: #fff;
    font-size: 16px;
}
.cond-srh-btn-toggle:before {
    content: "\e724";
}
.cond-srh-btn-toggle:hover {
    background-color: #32aee7;
}

.cond-srh-btn.opened .cond-srh-btn-toggle:before {
    content: "\e710";
}

.cond-srh-btn-text + .cond-srh-btn-toggle {
    margin-left: 4px;
}


/* 帮助信息区域 */

.fui-notice {
    position: relative;

    padding: 5px;
    padding-right: 35px;

    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    background-color: #fffbee;
}

.fui-notice-inner {
    max-width: 1000px;
    margin: 0 auto;
}


/* 内容区域 */

.fui-content {
    overflow: auto;

    background-color: #fff;
}
/* 高级搜索布局 */
.fui-search-trigger {
    display: block;

    width: 26px;
    height: 26px;
    margin-left: 5px;

    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    text-align: center;

    color: #fff;
    /* background: url("./images/advancedsearch/tirgger.png") center no-repeat; */
    background: #33a1d1;
    font-family: ActionIcon!important;
    font-size: 18px;
    text-align: center;
}
.fui-search-trigger:before {
    content: "\e6e4";
}
.fui-search-trigger:hover {
    /* background: url("./images/advancedsearch/trigger-hover.png") center no-repeat; */
    background: #31afe5;
}
.fui-search-trigger.close {
    position: relative;
    z-index: 999;

    height: 31px;

    /* background: #fff url("./images/advancedsearch/triggger-close.png") center 10px no-repeat; */
    background: #fff;
    color: #31afe5;
    box-shadow: 0 0 3px rgba(0,0,0,.3);
}
.fui-search-trigger.close:before {
    content: "\e6de";
}
.fui-toolbar.searchopen {
    box-shadow: 0 -1px 3px rgba(0,0,0,.3) inset;
}
/* 工具栏生成的搜索框按钮图标 */
.mini-buttonedit.fui-primary-search .mini-buttonedit-icon:before {
    /* background: url("./images/advancedsearch/icon-search.png") center no-repeat; */
    content: "\e6ec";
    color: #34a0d2;
}

.fui-search {
    z-index: 1000;

    display: none;
    overflow: hidden;

    background: #fff;
}

.fui-search.open {
    position: absolute;
    top: 36px;
    right: 0;
    left: 0;

    display: block;

    box-shadow: 0 3px 3px rgba(0,0,0,.3);
}

.fui-search.searcher {
    position: relative;

    display: block;
}

.fui-search.searcher .fui-form {
    display: none;
}

.fui-search.searcher .fui-search-footer {
    display: none;
}

.fui-search-footer {
    padding: 5px 14px;

    text-align: right;

    border-top: 1px solid #eee;
}
.fui-search-footer a {
    display: inline-block;

    margin-left: 1px;
}
.fui-search-reset-btn,
.fui-search-close-btn,
.fui-search-srh-btn {
    font-size: 13px;

    display: inline-block;

    min-width: 50px;
    height: 100%;
    padding: 0 10px;

    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    text-align: center;

    color: #fff;
    background: #34a0d2;
}


.fui-search-reset-btn:hover,
.fui-search-close-btn:hover {
    background-color: #32aee7;
}

.fui-search-result {
    padding: 5px;
}

.fui-search-desc,
.fui-search-result-btns {
    line-height: 26px;

    height: 26px;

    cursor: default;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
.fui-search-desc {
    padding-right: 5px;
}
.fui-search-list-wrap {
    overflow: hidden;
}

.fui-search-list {
    width: 1000em;
    /*margin: 0 -10px 0 10px;*/
}

.fui-search-item {
    line-height: 24px;

    height: 24px;
    margin-right: 10px;
    padding: 0 3px 0 8px;

    color: #3d4b62;
    border: 1px solid #bdbec1;
}

.fui-search-item:hover,
.fui-search-item.active {
    border-color: #34a0d2;
}

.fui-search-item-text,
.fui-search-item-remove {
    line-height: 24px;

    display: inline-block;
    overflow: hidden;

    max-width: 110px;

    cursor: default;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    vertical-align: top;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.fui-search-item-remove {
    line-height: 16px;

    display: block;
    visibility: hidden;

    width: 16px;
    height: 16px;
    margin: 4px 0 0 3px;

    cursor: pointer;
    text-align: center;

    /* background: url("./images/advancedsearch/remove.png") center no-repeat; */
    /*border-radius : 50%;*/
    transition: all .1s ease-out;
    font-family: ActionIcon!important;
    font-size: 14px;
    text-align: center;
}
.fui-search-item-remove:before {
    content: "\e6de";
}
.fui-search-item-remove:hover {
    color: #f96d41;
    /* background-image: url("./images/advancedsearch/remove-hover.png"); */
}

.fui-search-item:hover .fui-search-item-remove {
    visibility: visible;
}

.fui-search-item.active .fui-search-item-remove {
    visibility: visible;
}

.fui-search-result-btns span {
    width: 20px;
    height: 20px;
    margin-top: 3px;
    margin-left: 5px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center center;
    transition: all .1s ease-out;
    font-family: ActionIcon!important;
    font-size: 16px;
    text-align: center;
    line-height: 20px;
    border-radius: 50%;
}
.fui-search-result-btns span:hover{
    color: #f96d41;
    background: #f5f3f2;
}
.fui-search-l:before {
    /* background-image: url("./images/advancedsearch/left.png") ; */
    content: "\e70b";
}
/* .fui-search-l:hover {
    background-image: url("./images/advancedsearch/left-hover.png") ;
} */
.fui-search-r:before {
    /* background-image: url("./images/advancedsearch/right.png") ; */
    content: "\e712";
}
/* .fui-search-r:hover {
    background-image: url("./images/advancedsearch/right-hover.png") ;
} */

.fui-search-removeall:before {
    /* background-image: url("./images/advancedsearch/removeall.png"); */
    content: "\e6de";
}
/* .fui-search-removeall:hover {
    background-image: url("./images/advancedsearch/removeall-hover.png");
} */
.fui-search-cover {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: url("./images/advancedsearch/search-cover.png");
    background: rgba(0,0,0,.3);
}
/* 高级搜索布局 end */

.toolbar-ext-area {
    position: absolute;
    z-index: 100;
    right: 0;

    display: none;
    overflow: visible;

    width: 0;
    height: 26px;
    padding: 5px;

    white-space: nowrap;

    background: #f9f9f9;
    -webkit-box-shadow: -2px 2px 6px rgba(0, 0, 0, .15);
            box-shadow: -2px 2px 6px rgba(0, 0, 0, .15);
}
.fui-toolbar-bottom .toolbar-ext-area {
    -webkit-box-shadow: -2px -2px 6px rgba(0, 0, 0, .15);
            box-shadow: -2px -2px 6px rgba(0, 0, 0, .15);
}
.fui-toolbar-over-trigger {
    display: block;

    width: 26px;
    height: 26px;

    line-height: 26px;

    cursor: pointer;
    -webkit-transition: all .2s ease-out;
         -o-transition: all .2s ease-out;
            transition: all .2s ease-out;
    text-align: center;
}
.fui-toolbar-over-trigger.active {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
}
.fui-toolbar-bottom .fui-toolbar-over-trigger.active {
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
}
.toolbar-ext-area > * {
    display: inline-block !important;
    float: none !important;

    vertical-align: top !important;
}

.lightdialog {
    position: absolute;
    background: #fff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .25);
}
.lightdialog-close {
    position: absolute;
    width: 16px;
    height: 16px;
    top: -8px;
    right: -8px;
    border-radius: 50%;
    background: #333;
    background: rgba(0,0,0,.8);
    color: #fff;
    cursor: pointer;
    font-family: ActionIcon!important;
    font-size: 12px;
    text-align: center;
    line-height: 16px;
}
.lightdialog-close:before {
    content: "\e6de";
}
.lightdialog-modal {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: .1;
    -moz-opacity: .1;
    filter: alpha(opacity=10);
    background: #555;
}
/* 区域布局 */
.fui-block {
    max-width: 1300px;
    margin: 10px auto;
    padding: 0 10px;
}

.fui-block-hd {
    position: relative;
    font-size: 16px;
    padding-left: 15px;
    line-height: 32px;
    color: #2590eb;
}

.fui-block-hd::before {
    position: absolute;
    width: 6px;
    height: 16px;
    top: 8px;
    left: 0;
    background: #2590eb;
    content: '';
}

.fui-block-bd {}

html,
body,
.scale100 {
    overflow: hidden;

    width: 100%;
    height: 100%;
}

.page-loading {
    position: absolute;
    /* 层级不能大于miniui弹窗提示的层级，以避免初始化错误时弹窗提示看不见 */
    z-index: 1000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* 动画效果使人视觉上感觉变慢了，因此去掉动画效果 */
    /*background: url('images/pageloading.gif') no-repeat center center #fff;*/

    background-color: #fff;
}


/* 导航型模板html容器 */

.master-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
/* checkbox radio */

.fui-checbox,
.fui-radio {
    /*line-height: 26px;*/
    width: auto;

    cursor: pointer;
}

.fui-checkbox > input[type='checkbox'],
.fui-radio > input[type='radio'] {
    margin-right: 5px;

    vertical-align: -2px;
}

.fui-radio + .fui-radio,
.fui-checkbox + .fui-checkbox {
    margin-left: 10px;
}

/* 列表 hover 和 selected */
.fui-list-hover {
    background-color: #fffed5;
}
.fui-list-selected {
    background-color: #dfedfa;
}

/* 框架选人树是否在线图标 */
.mini-tree-user-online {
    background-image: url(images/usertree/userOnline.png)
}

.mini-tree-user-offline {
    background-image: url(images/usertree/userOffline.png)
}

/* 平滑滚动 */
* {
    scroll-behavior: smooth;
}