html, body {
	width: 100%;
	height: 100%;
	padding: 0
}

.header {
	height: 57px;
	background: url("./images/header/bg.png") center/100% 100% no-repeat;
	position: relative;
	text-align: center;
	padding-top: 10px;
	box-sizing: border-box
}

.header-left {
	line-height: 32px;
	box-sizing: border-box;
	padding-top: 7px;
	padding-left: 30px
}

.header-back {
	display: block;
	width: 32px;
	height: 32px;
	background: url("./images/header/back.png") center no-repeat;
	cursor: pointer
}

.header-main {
	display: inline-block;
	line-height: 0;
	overflow: hidden
}

.header-main .logo {
	margin-top: 7px
}

.header-right {
	line-height: 32px;
	box-sizing: border-box;
	padding-top: 7px;
	padding-right: 25px;
	text-align: right
}

.header-right .logo-out {
	display: inline-block;
	width: 32px;
	height: 32px;
	background: url("./images/header/close.png") center no-repeat;
	cursor: pointer;
	vertical-align: top
}

.header .user-info {
	display: inline-block;
	position: relative;
	height: 100%;
	min-width: 100px;
	text-align: left;
	vertical-align: top
}

.header .user-info-summary {
	position: relative;
	cursor: pointer;
	padding-right: 14px
}

.header .user-info-summary:after {
	position: absolute;
	right: 0;
	top: 6px;
	content: '';
	line-height: 20px;
	height: 20px;
	border-left: 2px solid #d3e9ff;
	border-left-color: rgba(131, 188, 245, 0.5)
}

.header .user-info-summary .user-portrait {
	display: inline-block;
	vertical-align: top;
	border-radius: 50%;
	width: 28px;
	height: 28px;
	margin-top: 2px;
	margin-right: 14px
}

.header .user-info-summary .user-name {
	display: inline-block;
	vertical-align: top
}

.header .user-action-panel {
	position: absolute;
	right: -60px;
	top: 50px;
	z-index: -1;
	border-radius: 4px;
	overflow: hidden;
	opacity: 0;
	filter: alpha(opacity = 0);
	-webkit-transition: opacity 0.2s ease-out;
	-moz-transition: opacity 0.2s ease-out;
	-o-transition: opacity 0.2s ease-out;
	transition: opacity 0.2s ease-out;
	animation: hidePanel 0.2s ease-out
}

.header .user-action-panel-inner {
	text-align: left;
	min-width: 160px;
	transform: translateY(-100%);
	background: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;
	border: 0 rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
	-webkit-transition: transform 0.2s ease-out;
	-moz-transition: transform 0.2s ease-out;
	-o-transition: transform 0.2s ease-out;
	transition: transform 0.2s ease-out
}

.header .user-info.active .user-action-panel {
	z-index: 10;
	opacity: 1;
	filter: alpha(opacity = 100);
	animation: showUserBoxShadow 0.2s ease-out forwards, showPanel 0.2s
		ease-out forwards
}

.header .user-info.active .user-action-panel-inner {
	transform: translateY(0)
}

@
keyframes showUserBoxShadow { 0%{
	
}

99%{
-webkit-box-shadow
:none
;-moz-box-shadow
:none
;box-shadow
:none
}
100%{
-webkit-box-shadow
:
-1px
 
1
px
 
3
px
 
rgba
(0
,
0,0,0
.15
);-moz-box-shadow
:
-1px
 
1
px
 
3
px
 
rgba
(0
,
0,0,0
.15
);box-shadow
:
-1px
 
1
px
 
3
px
 
rgba
(0
,
0,0,0
.15
)
}
}
.ie8 .user-action-panel, .ie9 .user-action-panel {
	display: none
}

.ie8 .user-info.active .user-action-panel, .ie9 .user-info.active .user-action-panel
	{
	display: block
}

.header .user-info-detail {
	padding: 12px 14px 0 70px;
	height: 80px;
	height: 0.8rem;
	border-bottom: 1px solid #eee;
	position: relative;
	line-height: 28px;
	overflow: hidden;
	box-sizing: border-box
}

.header .user-info-detail>.user-portrait {
	position: absolute;
	top: 50%;
	left: 14px;
	display: block;
	width: 46px;
	height: 46px;
	border-radius: 50%;
	margin-top: -23px
}

.header .user-info-detail>.user-name {
	display: block;
	font-size: 14px;
	font-size: 0.14rem;
	line-height: 0.28rem;
	color: #333;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis
}

.header .user-info-detail>.user-dept {
	display: block;
	font-size: 12px;
	font-size: 0.12rem;
	color: #999;
	line-height: 20px;
	line-height: 0.2rem;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis
}

.header .user-action-list {
	color: #666;
	font-size: 14px;
	padding: 10px 0
}

.header .user-action-item {
	position: relative;
	color: #777;
	font-size: 12px;
	height: 30px;
	line-height: 30px;
	font-size: 0.12rem;
	line-height: 0.3rem;
	height: 0.3rem;
	padding-left: 36px;
	padding-right: 14px;
	max-width: 160px;
	transition: all 0.1s ease-out;
	background-position: 16px center;
	background-repeat: no-repeat;
	text-align: left;
	cursor: pointer;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis
}

.header .user-action-item.person-info {
	background-image: url("./images/header/info-setting.png")
}

.header .user-action-item.role-change {
	background-image: url("./images/header/role-change.png")
}

.header .user-action-item.logout {
	background-image: url("./images/header/logout.png")
}

.header .user-action-item.logout:hover {
	color: #f99494
}

.header .user-action-item>[class*='modicon'], .header .user-action-item>[class*='action-icon']
	{
	position: absolute;
	width: 16px;
	height: 16px;
	color: #aaa;
	top: 8px;
	left: 14px;
	font-size: 14px !important
}

.main {
	position: absolute;
	top: 67px;
	left: 0;
	width: 100%;
	bottom: 0
}

.main .left-nav {
	position: absolute;
	left: 0;
	top: 0;
	width: 205px;
	bottom: 0;
	transition: margin-left 0.2s ease-out;
	z-index: 2
}

.main .main-content {
	height: 100%;
	margin-left: 213px;
	position: relative;
	transition: margin-left 0.2s ease-out;
	background: url("./images/bg.png") 0 0/100% 100% no-repeat
}

.main-content-cover {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.3)
}

.main.left-none .left-nav, .main.left-none .left-nav-toggle {
	display: none
}

.main.left-none .main-content {
	margin-left: 0;
	transition: none
}

.main.left-hide .left-nav {
	margin-left: -205px
}

.main.left-hide .left-nav-toggle {
	right: -14px
}

.main.left-hide .left-nav-toggle:before {
	background-image: url("./images/left/left-w.png")
}

.main.left-hide .main-content {
	margin-left: 0
}

.left-nav-name {
	padding-left: 60px;
	font-size: 15px;
	color: #1271fd;
	font-weight: bold
}

.left-nav-header {
	background: url("./images/left/header-bg.png") 0 0 no-repeat;
	line-height: 34px
}

.left-nav-body {
	height: calc(100% - 34px);
	background: url("./images/left/bg-line.png") 0 0/100% 100% no-repeat;
	padding: 8px 4px 8px 10px;
	box-sizing: border-box;
	overflow-y: auto;
	overflow-x: hidden;
	position: relative
}

.left-nav-toggle {
	cursor: pointer;
	position: absolute;
	top: 30%;
	right: -10px;
	margin-top: -24px;
	display: block;
	width: 14px;
	height: 48px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	background: #5cb3fb;
	transition: all 0.2s ease-out
}

.left-nav-toggle:hover {
	opacity: 0.8
}

.left-nav-toggle:before {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	content: '';
	background: url("./images/left/right-w.png") center no-repeat
}

.left-menu {
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	font-size: 14px;
	padding-right: 10px
}

.left-menu-item {
	line-height: 35px
}

.left-menu-item.level-1 {
	margin-bottom: 5px;
	font-weight: bold
}

.left-menu-item.level-1>.left-menu-link {
	background: #e4f1ff
}

.left-menu-item.level-1>.left-menu-link:before {
	content: '';
	position: absolute;
	left: 0;
	width: 4px;
	height: 16px;
	display: block;
	top: 9px;
	background: #249cfd
}

.left-menu-item.level-1>.left-menu-link:hover {
	color: #3d4b64
}

.left-menu-item.level-1>.left-menu-link>.left-menu-trigger {
	transition: none;
	transform: none
}

.left-menu-item.level-1.opened>.left-menu-link>.left-menu-trigger {
	background-image: url("./images/left/down-h.png");
	transition: none;
	transform: none
}

.left-menu-item.level-2 {
	font-weight: normal;
	border-top: 1px dashed #ddd
}

.left-menu-item.level-2:first-child {
	border-top-color: transparent
}

.left-menu-item.level-2.opened>.left-menu-sub-list {
	border-top: 1px dashed #ddd;
	margin-top: 1px
}

.left-menu-item.level-2 .left-menu-link {
	margin-top: 1px;
	margin-bottom: 1px
}

.left-menu-item.level-2 .left-menu-link:hover {
	background: #fffbdf
}

.left-menu-item.level-2.opened>.left-menu-link {
	background: #fffbdf
}

.left-menu-item.level-3 .left-menu-name:before {
	content: '·';
	font-size: 20px;
	margin-right: 4px;
	line-height: inherit
}

.left-menu-link {
	display: block;
	position: relative;
	color: #3d4b64;
	line-height: 32px;
	transition: all 0.2s ease-out
}

.left-menu-link[data-hassub='true'] {
	padding-right: 30px
}

.left-menu-link:hover, .left-menu-link.active {
	color: #2076fd
}

.left-menu-name {
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.left-menu-trigger {
	position: absolute;
	display: block;
	top: 50%;
	right: 14px;
	width: 20px;
	height: 20px;
	margin-top: -10px;
	background: url("./images/left/right.png") center no-repeat;
	cursor: pointer;
	transform-origin: 50% 50%;
	transition: all 0.2s ease-out
}

.left-menu-item.opened>.left-menu-link>.left-menu-trigger {
	transform: rotate(90deg)
}