body {
    background: #051038;
}
.fs-head {
background-color: #1a2964;
}

.fs-condition {
    background: #051038;
    color: #a8bdf3;
}

.fs-content {
  background: #051038;
}
.fs-grid {
   background: #0a1b50;
}
.fs-grid .sublist-item:hover {
    background: #0f3780;
}
.fs-grid .module-item, .fs-grid .user-item {
  color: #a8bdf3;
  border-bottom-color: #1f348e;
}
.fs-grid-pager {
  background: #122d8b;
}
.fs-category-item {
  color: #a8bdf3;
}
.fs-category-item.active, .fs-category-item:hover {
  color: #3d9df2;z
  border-bottom: 2px solid #3d9df2;
}

.fs-search-btn {
  background: #2590eb;
}
.fs-search-input {
  borer-color: #2590eb;
  background-color: #121f52;
  color: #fff;
}
.module-item .module-btn {
  color: #3094e9;
}
.module-item .module-btn:hover {
  background-color: #0f3780;
  color: #3094e9;
}
.user-actions .msg {
    background-image: url(./images/user/msg.png);
}
.user-actions .mail {
    background-image: url(./images/user/mail.png);
}
.user-actions .sms {
    background-image: url(./images/user/phone.png);
}
.fs-grid.empty {
    background: url(images/nodata.png) center no-repeat;
}
.fs-category-item.more {
    background: url(images/cate-down.png) 56px 24px no-repeat;
}
.fs-category-more{
  background: #1b2c6d;
  box-shadow: none;
}
.fs-category-more>.fs-category-item:hover, 
.fs-category-more>.fs-category-item.active {
  background: #0f3780;
  color: #fff;
}
.fs-advs-content {
  background-color: #0a1a4f;
}
.fs-advs-btn {
  background: #0087ff;
}

.fs-advs-btn.grey {
  background: #525981;
}

.user-inone .view-all, .module-inone .view-all {
  color: #0d75cd;
}
.mini-buttonedit-input {
  color: #0d75cd;
}