/*!
 * 新点研发平台
 * author:jiangqn
 * date: 2019-09-23
 * version: 1.0.0
 */
@import url(../../../js/widgets/tabsnav/tabsnav.css);
@import url(../../../js/widgets/classifysearch/classifysearch.css);
@import url(../../../js/widgets/emsglist/emsglist.css);

@-webkit-keyframes showPanel {
    0% {
        z-index: -2;
        visibility: hidden
    }

    1% {
        z-index: 10;
        visibility: visible
    }

    100% {
        z-index: 10;
        visibility: visible
    }
}

@-moz-keyframes showPanel {
    0% {
        z-index: -2;
        visibility: hidden
    }

    1% {
        z-index: 10;
        visibility: visible
    }

    100% {
        z-index: 10;
        visibility: visible
    }
}

@keyframes showPanel {
    0% {
        z-index: -2;
        visibility: hidden
    }

    1% {
        z-index: 10;
        visibility: visible
    }

    100% {
        z-index: 10;
        visibility: visible
    }
}

@-webkit-keyframes hidePanel {
    0% {
        z-index: 10
    }

    1% {
        z-index: 10
    }

    100% {
        z-index: -2;
        visibility: hidden
    }
}

@-moz-keyframes hidePanel {
    0% {
        z-index: 10
    }

    1% {
        z-index: 10
    }

    100% {
        z-index: -2;
        visibility: hidden
    }
}

@keyframes hidePanel {
    0% {
        z-index: 10;
        visibility: visible
    }

    1% {
        z-index: 10;
        visibility: visible
    }

    100% {
        z-index: -2;
        visibility: hidden
    }
}

.font-0 {
    font-size: 0;
}

.relative {
    position: relative;
}

.ver-md {
    vertical-align: middle;
}

.ver-inner-md::after {
    content: '';
    width: 0;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.box-inline {
    display: inline-block;
}

.box-block {
    display: block;
}

/* 头部 */
.header-container {
    /* background: linear-gradient(to right, #060e1f,#162944); */
    background: url(./images/header/hd-bg.png) center no-repeat;
    background-size: 100% 100%;
    
    /* position: relative; */
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 44px;
    z-index: 100;
    /* background-color: #162a46; */
    line-height: 44px;
}

.menu-trigger {
    position: relative;
    width: 44px;
    height: 44px;
    cursor: pointer;
    background-color: #0b1832;
}
.menu-trigger:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(./images/menu-trigger.png) center no-repeat;
}

.menu-trigger.active {
    background: linear-gradient(to right,#0871c9,#1d88e2);
}
.menu-trigger.active:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(./images/menu-trigger-active.png) center no-repeat;
}

.datamanager-title {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}

.title-txt {
    font-size: 20px;
    color: #feffff;
    margin-left: 10px;
    font-weight:bold;
}

.header-search {
    display: none
}

.header-actions-area {
    float: right;
}

.header-container.has-search .header-search {
    margin-left: 20px;
    display: block
}

.header-actions-area {
    box-sizing: border-box;
    height: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.header-search {
    width: 180px;
    height: 28px;
    margin-top: 8px;
}

.header-search .classify-search-input {
    float: right;
    height: 28px;
    padding-left: 10px;
    /* width: 120px !important; */
    border-color: transparent;
    /* background: rgba(0, 0, 0, 0.15); */
    background: transparent;
    color: #fff;
    border-radius: 28px;
    /* -webkit-transition: width 0.2s ease-out;
    -moz-transition: width 0.2s ease-out;
    -o-transition: width 0.2s ease-out;
    transition: width 0.2s ease-out; */
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.15)
}

.header-search .classify-search-input::-webkit-input-placeholder {
    color: #ddd;
    color: rgba(255, 255, 255, 0.5)
}

.header-search .classify-search-input:-moz-placeholder {
    color: #ddd;
    color: rgba(255, 255, 255, 0.5)
}

.header-search .classify-search-input::-moz-placeholder {
    color: #ddd;
    color: rgba(255, 255, 255, 0.5)
}

.header-search .classify-search-input:-ms-input-placeholder {
    color: #ddd;
    color: rgba(255, 255, 255, 0.5)
}

.header-search.popup .classify-search-input {
    width: 180px !important
}

.header-search .classify-search-btn {
    background-image: url(./images/header/icon-search.png) !important;
    /* opacity: .6;
    filter: alpha(opacity=60) */
}

/* .header-search .classify-search-btn:hover {
    opacity: 1;
    filter: alpha(opacity=100)
} */

.header-search .classify-search-popup {
    margin-top: 3px;
    border-radius: 4px
}

.header-search .classify-search-history-panel,
.header-search .classify-search-classify-panel {
    border-radius: 4px
}

.header-action-btns {
    line-height: 24px;
    padding: 2px 10px
}

.header-action-btn {
    position: relative;
    float: left;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    cursor: pointer
}

.header-action-btn.remind {
    background: url("./images/header/remind.png") center no-repeat
}

.header-action-btn.chart {
    background: url("./images/header/msg.png") center no-repeat
}

/* .header-action-btn:hover,
.header-action-btn.active {
    background-color: rgba(255, 255, 255, 0.3)
} */

.header-action-btn+.header-action-btn {
    margin-left: 10px
}

.header-action-btn-tip {
    position: absolute;
    top: -7px;
    left: 50%;
    line-height: 13px;
    height: 14px;
    padding: 0 4px;
    background: #f73f07;
    color: #fff;
    font-size: 12px;
    border-radius: 7px
}

.new-remind-wrap {
    position: absolute;
    top: 32px;
    right: -60px;
    z-index: 1000;
    padding: 0 30px;
    color: #fff;
    height: 30px;
    line-height: 30px;
    font-size: 0;
    border-radius: 30px
}

.new-remind-wrap:before {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    content: "";
    top: -12px;
    right: 66px;
    border: 6px solid transparent
}

.new-remind-wrap .icon,
.new-remind-wrap .close {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    position: absolute;
    top: 0
}

.new-remind-wrap .icon {
    left: 0;
    background-image: url("./images/header/remind-tip-icon.png")
}

.new-remind-wrap .close {
    right: 0;
    background-image: url("./images/header/remind-close.png");
    border-radius: 0 50% 50% 0
}

.new-remind-wrap .close:hover {
    background-color: rgba(0, 0, 0, 0.08)
}

.new-remind-wrap .text {
    display: inline-block;
    vertical-align: top;
    min-width: 120px;
    font-size: 14px
}

.user-info {
    position: relative;
    float: right;
    height: 100%;
    width: 50px
}

.user-info-summary {
    position: relative;
    cursor: pointer;
    height: 28px;
    line-height: 28px;
    text-align: center;
    padding-right: 20px;
}

/* .user-info-summary:before {
    position: absolute;
    left: 0;
    top: 3px;
    content: "";
    line-height: 22px;
    height: 22px;
    border-left: 1px solid #fff;
    border-color: rgba(255, 255, 255, 0.3)
} */

.user-info-summary .user-portrait {
    /* display: block; */
    border-radius: 50%;
    margin-right: auto;
    margin-left: auto;
    width: 16px;
    height: 16px
}

.user-action-panel {
    display: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    position: absolute;
    right: 2px;
    top: 33px;
    z-index: -1;
    border-radius: 4px;
    overflow: hidden;
    /* opacity: 0;
    filter: alpha(opacity=0); */
    /* -webkit-transition: opacity 0.2s ease-out;
    -moz-transition: opacity 0.2s ease-out;
    -o-transition: opacity 0.2s ease-out;
    transition: opacity 0.2s ease-out;
    -webkit-animation: hidePanel 0.2s ease-out;
    -moz-animation: hidePanel 0.2s ease-out;
    animation: hidePanel 0.2s ease-out */
}

.user-action-panel-inner {
    min-width: 130px;
    /* transform: translateY(-100%); */
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    border: 0 rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.3);
    box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.3);
    /* -webkit-transition: transform 0.2s ease-out;
    -moz-transition: transform 0.2s ease-out;
    -o-transition: transform 0.2s ease-out;
    transition: transform 0.2s ease-out */
}

.user-info.active .user-action-panel {
    z-index: 10;
    /* opacity: 1;
    filter: alpha(opacity=100); */
    /* -webkit-animation: showUserBoxShadow 0.2s ease-out forwards, showPanel 0.2s ease-out forwards;
    -moz-animation: showUserBoxShadow 0.2s ease-out forwards, showPanel 0.2s ease-out forwards;
    animation: showUserBoxShadow 0.2s ease-out forwards, showPanel 0.2s ease-out forwards */
}

.user-info.active .user-action-panel-inner {
    /* transform: translateY(0) */
}

/* .user-info .user-action-panel {
    transform: translate(0,-200%);
}
.user-info.active .user-action-panel {
    transform: translate(0,0);
} */

@keyframes showUserBoxShadow {
    0% {}

    99% {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none
    }

    100% {
        -webkit-box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.15);
        box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.15)
    }
}

.ie8 .user-action-panel,
.ie9 .user-action-panel {
    display: none
}

.ie8 .user-info.active .user-action-panel,
.ie9 .user-info.active .user-action-panel {
    display: block
}

.user-info-detail {
    padding: 12px 14px 0 70px;
    height: 80px;
    height: .8rem;
    border-bottom: 1px solid #eee;
    position: relative;
    line-height: 28px;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.user-info-detail>.user-portrait {
    position: absolute;
    top: 50%;
    left: 14px;
    display: block;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    margin-top: -23px
}

.user-info-detail>.user-name {
    display: block;
    font-size: 14px;
    font-size: .14rem;
    line-height: .28rem;
    color: #333;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis
}

.user-info-detail>.user-dept {
    display: block;
    font-size: 12px;
    font-size: .12rem;
    color: #999;
    line-height: 20px;
    line-height: .2rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis
}

.user-action-list {
    color: #666;
    font-size: 14px;
    padding: 10px 0
}

.user-action-item {
    position: relative;
    color: #777;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    font-size: .12rem;
    line-height: .3rem;
    height: .3rem;
    padding-left: 36px;
    padding-right: 14px;
    max-width: 160px;
    transition: all .1s ease-out;
    background-position: 16px center;
    background-repeat: no-repeat;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis
}

.user-action-item.person-info {
    background-image: url("./images/header/info-setting.png")
}

.user-action-item.role-change {
    background-image: url("./images/header/role-change.png")
}

.user-action-item.logout {
    background-image: url("./images/header/logout.png")
}

.user-action-item>[class*=modicon],
.user-action-item>[class*=action-icon] {
    position: absolute;
    width: 16px;
    height: 16px;
    color: #aaa;
    top: 8px;
    left: 14px;
    font-size: 14px !important
}
.msg-panel {
    position: absolute;
    z-index: 10;
    top: 84px;
    right: -350px;
    bottom: 0px;
    width: 350px;
    border-top: 2px solid transparent;
    border-left: 1px solid #dfdfdf;
    background-color: #fff;
    -webkit-box-shadow: -2px 0 2px 0 rgba(0, 0, 0, 0.15);
    box-shadow: -2px 0 2px 0 rgba(0, 0, 0, 0.15)
}

.msg-panel-detail {
    position: relative;
    height: 100%
}

.msg-panel-head {
    position: relative;
    padding-left: 10px;
    font-size: 16px;
    line-height: 36px;
    height: 36px;
    border-bottom: 1px solid #ddd;
    background-color: #f4f4f4
}

.msg-panel-hide {
    position: absolute;
    top: 50%;
    right: 10px;
    width: 22px;
    height: 22px;
    margin-top: -11px;
    cursor: pointer;
    background: url("images/right-msg/icon-toright.png")
}

.msg-panel-content,
.msg-panel-result,
.msg-panel-history {
    position: absolute;
    top: 38px;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden
}

.msg-panel-content {
    background-color: #fff
}

.message-content-wrap {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto
}

.message-content-wrap.empty {
    background: url(./images/right-msg/no-msg.png) center 30% no-repeat
}

.msg-category {
    margin-bottom: 20px;
    margin-top: 10px;
    padding: 0 10px
}

.msg-category-head,
.msg-result-head,
.msg-history-head {
    position: relative;
    height: 30px;
    border-bottom: 1px dashed #dcdcdc
}

.msg-category-head:after,
.msg-result-head:after,
.msg-history-head:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 7px;
    width: 4px;
    height: 16px
}

.msg-result-head,
.msg-history-head {
    margin: 12px 10px 0
}

.msg-category-title,
.msg-result-headertitle,
.msg-history-headertitle {
    margin-left: 10px;
    font-size: 14px;
    line-height: 30px;
    cursor: pointer;
    color: #0b3a51
}

.msg-category-num {
    font-weight: normal;
    color: #f60
}

.msg-category-remove {
    position: absolute;
    top: 50%;
    right: 4px;
    width: 15px;
    height: 18px;
    margin-top: -9px;
    cursor: pointer;
    background: url("images/right-msg/icon-msgdel.png")
}

.msg-category-remove:hover {
    background: url("images/right-msg/icon-msgdel-hover.png")
}

.msg-list,
.msg-srh-category {
    color: #777
}

.msg-list {
    padding-left: 10px
}

.msg-list-item {
    position: relative;
    line-height: 30px;
    cursor: pointer
}

.msg-list-item:hover,
.msg-list-item.newmsg:hover {
    color: #f96d41
}

.msg-item-text,
.msg-item-date {
    display: inline-block;
    vertical-align: top
}

.msg-item-text {
    overflow: hidden;
    width: 245px;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis
}

.msg-item-ignore {
    position: absolute;
    top: 50%;
    right: 3px;
    width: 16px;
    height: 12px;
    margin-top: -6px;
    background: url("images/right-msg/icon-eye.png")
}

.msg-item-ignore:hover {
    background: url("images/right-msg/icon-eye-hover.png")
}

.msg-item-remove {
    position: absolute;
    top: 50%;
    right: 15px;
    display: none;
    width: 15px;
    height: 18px;
    margin-top: -9px;
    cursor: pointer;
    background: url("images/right-msg/icon-msgdel.png")
}

.msg-item-remove:hover {
    background: url("images/right-msg/icon-msgdel-hover.png")
}

/* 全局菜单 */
.global-menu {
    position: absolute;
    top: 44px;
    left: 0;
    bottom: 0;
    z-index: 100;
    width: 200px;
    background: linear-gradient(to bottom right,#142a48,#0d1a34);
    opacity: 1;
    transition-duration: .3s;
    transition-timing-function: ease;
}
.global-menu.hide {
    left: -200px;
    opacity: 0;
    z-index: -1;
}
.all-menu {
    height: 45px;
    box-sizing: border-box;
    border-bottom: 1px solid #21324c;
    padding: 0 10px;
}
/* .all-menu:hover {
    background-color: #101b30;
}
.all-menu:hover .all-menu-inner {
    color: #2590eb;
}
.all-menu:hover .all-menu-inner .all-menu-icon {
    background: url(./images/global-menu/menu-all-active.png) center no-repeat;
}
.all-menu:hover .all-menu-inner .all-menu-row {
    background: url(./images/global-menu/row-right-active.png) center no-repeat;
} */
.all-menu.active {
    background-color: #101b30;
}
.all-menu.active .all-menu-inner {
    color: #2590eb;
}
.all-menu.active .all-menu-inner .all-menu-icon {
    background: url(./images/global-menu/menu-all-active.png) center no-repeat;
}
.all-menu.active .all-menu-inner .all-menu-row {
    background: url(./images/global-menu/row-right-active.png) center no-repeat;
}
.all-menu-inner {
    width: 100%;
    height: 100%;
    cursor: pointer;
    color: #ffffff;
}
.all-menu-icon {
    width: 26px;
    height: 100%;
    background: url(./images/global-menu/menu-all.png) center no-repeat;
    position: absolute;
    top: 0;
    left: 0;
}
.all-menu-txt {
    width: 100%;
    height: 100%;
    line-height: 44px;
    box-sizing: border-box;
    padding: 0 30px;
}
.all-menu-row {
    position: absolute;
    top: 0;
    right: 0;
    width: 26px;
    height: 100%;
    box-sizing: border-box;
    background: url(./images/global-menu/row-right.png) center no-repeat;
}
/* 快捷菜单 */
.quick-menu-list {
    width: 100%;
    height: calc(100% - 45px);
    overflow: auto;
    line-height: 1;
}
.quick-menu-box {
    width: 100%;
}
.quick-menu,
.quick-menu-sub {
    width: 100%;
    height: 44px;
    color: #ffffff;
    cursor: pointer;
    /* transition-duration: .5s; */
}
.quick-menu-sub{
    color: #afb9c8;
}
.quick-menu:hover,
.quick-menu-sub:hover {
    color: #2590eb;
    background-color: #131e33;
}
.quick-menu .quick-menu-icon{
    position: absolute;
    top: 0;
    left: 10px;
    width: 26px;
    height: 100%;
    line-height: 44px;
    text-align: center;
}
.quick-menu-txt {
    width: 100%;
    height: 100%;
    font-size: 14px;
    box-sizing: border-box;
    padding: 0 40px;
    line-height: 44px;
}
.quick-menu-close {
    display: none;
    position: absolute;
    top: 0;
    right: 36px;
    width: 26px;
    height: 100%;
    background: url(./images/global-menu/quick-menu-close.png) center no-repeat;
}
.quick-menu-drag {
    display: none;
    position: absolute;
    top: 0;
    right: 10px;
    width: 26px;
    height: 100%;
    cursor: move;
    background: url(./images/global-menu/quick-menu-drag.png) center no-repeat;
}
.quick-menu:hover .quick-menu-close,
.quick-menu:hover .quick-menu-drag {
    display: block;
}
.quick-menu-sub:hover .quick-menu-close {
    right: 10px;
    display: block;
}

/* 全部模块 */
.all-menu-box {
    position: absolute;
    top: 44px;
    left: -100%;
    bottom: 0;
    z-index: 99;
    /* left: -1000px; */
    width: 600px;
    /* height: 100%; */
    padding: 0 10px;
    box-sizing: border-box;
    background-color: #0e1b35;
    transition-duration: .5s;
    /* transition-duration: 1s;
    z-index: -100; */
    opacity: 0;
}
.all-menu-box.show {
    opacity: 1;
    left: 200px;
}
/* .all-menu:hover .all-menu-box {
    left: 100%;
    opacity: 1;
} */
.all-menu-search {
    width: 100%;
    height: 45px;
    border-bottom: 1px solid #21324c;
}
.all-menu-search.active {
    border-bottom: 1px solid #536684;
}
.all-menu-search.active .allmenu-search-icon {
    background: url(./images/global-menu/search-active.png) center no-repeat;
}
.allmenu-search-input {
    width: 540px;
    border: none;
    outline: none;
    background-color: transparent;
    color: #fff;
}
.allmenu-search-input::-webkit-input-placeholder {
    color: #465366;
}

.allmenu-search-input:-moz-placeholder {
    color: #465366;
}

.allmenu-search-input::-moz-placeholder {
    color: #465366;
}

.allmenu-search-input:-ms-input-placeholder {
    color: #465366;
}
.allmenu-search-icon {
    width: 30px;
    height: 100%;
    background: url(./images/global-menu/search.png) center no-repeat;
}
.all-menu-body {
    width: 100%;
    height: calc(100% - 45px);
    overflow: auto;
}
.all-menu-body::-webkit-scrollbar-thumb {
    background-color: #313d56;
}
.all-menu-block {
    position: absolute;
    width: 185px;
}
.allmenu-item {
    height: 32px;
    cursor: pointer;
}
.allmenu-item:hover {
    background-color: #1d283e;
}
.allmenu-item:hover .allmenu-item-txt,
.allmenu-item.level1:hover .allmenu-item-txt {
    color: #2590eb;
}
.allmenu-item:hover .allmenu-item-flag {
    display: block;
}
.allmenu-item.active .allmenu-item-flag {
    display: block;
    background: url(./images/global-menu/flag-full.png) center no-repeat;
}
.allmenu-item-flag {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 26px;
    height: 100%;
    background: url(./images/global-menu/flag.png) center no-repeat;
}
.allmenu-item-txt {
    width: 100%;
    height: 100%;
    line-height: 32px;
    padding: 0 10px 0 26px;
    box-sizing: border-box;
    color: #afb9c8;
    font-size: 14px;
}
.allmenu-item.level1 {
    height: 40px;
}
.allmenu-item.level1 .allmenu-item-txt {
    line-height: 40px;
    font-size: 14px;
    color: #ffffff;
}

/* 主体 */
.main {
    position: absolute;
    top: 44px;
    left: 0;
    right: 0;
    bottom: 0
}

.main-content-cover {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.3)
}

.main.left-narrow .left-nav {
    width: 46px;
}

.main.left-narrow .main-content,
.main.left-over .main-content {
    margin-left: 46px
}

.main.left-over .left-nav {
    box-shadow: 0 0 10px rgba(26, 26, 26, .5);
}

.main.left-none .left-nav {
    display: none
}

.main.left-none .main-content {
    margin-left: 0
}

.left-nav {
    position: absolute;
    width: 180px;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 11;
    line-height: 44px;
    line-height: .44rem;
    font-size: 14px;
    font-size: .14rem;
    /* background: url(./images/bg-ie8/255-255-255-60.png); */
    /* background: #0e1b35; */
    background: linear-gradient(to bottom,#142a49,#0d1a34);
    -webkit-transition: width 0.2s ease-out;
    -moz-transition: width 0.2s ease-out;
    -o-transition: width 0.2s ease-out;
    transition: width 0.2s ease-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.left-nav-trigger {
    position: absolute;
    display: block;
    right: 0;
    bottom: 0;
    height: 44px;
    height: .44rem;
    width: 30px;
    background: url(./images/left/menu-trigger.png) center no-repeat;
    cursor: pointer
}

.left-nav-container {
    height: 100%
}

.left-menu-wrap {
    height: 100%
}

.left-menu-header {
    height: 44px;
    height: .44rem;
    line-height: 44px;
    line-height: .44rem;
    color: #fff;
    color: rgba(255, 255, 255, 0.42);
    /* padding-left: 14px; */
    padding: 0 15px;
    text-align: center;
    -webkit-transition: color 0.2s ease-out;
    -moz-transition: color 0.2s ease-out;
    -o-transition: color 0.2s ease-out;
    transition: color 0.2s ease-out;
    cursor: pointer
}

.left-menu-header:hover {
    color: #fff
}

.left-menu-list {
    height: calc(100% - 88px);
    height: calc(100% - .88rem);
    overflow-y: auto;
    overflow-x: hidden;
    /* background-color: #0e1b35; */
}

.left-menu-sub-header {
    display: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    margin: 0 10px;
    padding-left: 9px;
    border-bottom: 1px solid #ddd;
    border-bottom-color: rgba(255, 255, 255, 0.3);
    font-weight: 700
}

.left-menu-sub {
    position: relative
}

/* .left-menu-item .level-3 {
    font-size: 12px;
    font-size: .12rem
} */

.left-menu-link {
    display: block;
    position: relative;
    padding-right: 24px;
    height: 44px;
    line-height: .44rem
}

.left-menu-link .left-menu-icon {
    position: absolute;
    left: 10px;
    top: 0;
    line-height: 44px;
    height: 44px;
    display: block;
    font-size: 18px;
    font-size: .18rem;
    width: 26px;
    text-align: center
}

.left-menu-name {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis
}

.left-menu-trigger {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    -webkit-transition: transform 0.2s ease-out;
    -moz-transition: transform 0.2s ease-out;
    -o-transition: transform 0.2s ease-out;
    transition: transform 0.2s ease-out;
    /* color: #798aa9; */
    background: url(./images/left/row-right.png) center no-repeat;
}

.opened>.left-menu-link>.left-menu-trigger {
    /* transform: rotate(90deg); */
    /* color: #2590eb; */
    background: url(./images/left/row-bottom.png) center no-repeat;
}

/* .level-1.opened>.left-menu-link>.left-menu-trigger {
    transform: rotate(0)
} */

.ie .left-menu-sub-list {
    position: relative;
    zoom: 1
}

.main.left-narrow .left-nav {
    z-index: 11
}

.left-menu-header .left-menu-header-txt {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 44px;
    text-align: left;
}
.left-menu-header .left-menu-header-icon {
    display: none;
    height: 100%;
    line-height: 44px;
    text-align: center;
    color: #fff;
}
.main.left-narrow .left-menu-header {
    padding: 0;
}
.main.left-narrow .left-menu-header .left-menu-header-txt{
    /* visibility: hidden */
    display: none;
}
.main.left-narrow .left-menu-header .left-menu-header-icon{
    /* visibility: hidden */
    display: block;
}

.main.left-narrow .left-nav-trigger {
    width: 46px;
    /* background-image: url(./images/left/outside.png) */
    transform: rotate(180deg);
}

.main.left-narrow .left-menu-item.level-1>.left-menu-link {
    padding: 0
}

.main.left-narrow .left-menu-item.level-1>.left-menu-link .left-menu-name,
.main.left-narrow .left-menu-item.level-1>.left-menu-link .left-menu-trigger {
    display: none
}

.main-content {
    position: relative;
    margin-left: 180px;
    height: 100%;
    background: rgba(255, 255, 255, 0.16);
    -webkit-transition: margin-left 0.2s ease-out;
    -moz-transition: margin-left 0.2s ease-out;
    -o-transition: margin-left 0.2s ease-out;
    transition: margin-left 0.2s ease-out
}

.main-content-inner {
    position: relative;
    height: 100%
}

.main-content-ifr-wrap {
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    bottom: 0;
}

.main-content-tab-wrap {
    position: absolute;
    top: 0;
    /* bottom: 0; */
    height: 30px;
    left: 0;
    right: 0;
    z-index: 10
}
.tabsnav-tabs-close {
    top: 0;
}