/* 
* 标签搜索列表
* date:2020-12-31
* author:xuguanyu
*/

body {
  padding-bottom: 50px;
  background-color: #f5f5f5;
}

.search-area {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 2;
  padding-top: 25px;
  margin-bottom: 27px;
  height: 120px;
  background-color: #fff;
  border-bottom: 2px solid #f5f5f5;
}

.search-bar {
  position: relative;
  margin: 0 auto;
  width: 780px;
}

.search-input {
  float: left;
  width: 695px;
  height: 42px;
  border: 1px solid #dddddd;
  border-right: 0;
  border-radius: 4px 0 0 4px;
  text-indent: 15px;
}

.search-input::-ms-clear {
  display: none;
}

.search-input:focus {
  background-color: #f8f8f8;
  border-color: #007dff;
}

.search-hint {
  position: absolute;
  display: none;
  top: 45px;
  width: 695px;
  background-color: #fff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  box-shadow: 0 0 10px 1px#e8e8e8;
}

.search-hint.show {
  display: block;
}

.clear-btn {
  position: absolute;
  display: none;
  top: 11px;
  right: 95px;
  width: 20px;
  height: 20px;
  background: url("../images/clear.png") no-repeat;
  cursor: pointer;
}

.clear-btn.show {
  display: block;
}

.search-btn {
  float: left;
  width: 85px;
  height: 42px;
  background-color: #007dff;
  border-radius: 0 4px 4px 0;
  text-align: center;
  color: #fff;
  font-size: 16px;
  line-height: 42px;
  cursor: pointer;
}

.hint-item {
  padding-left: 15px;
  font-size: 14px;
  line-height: 42px;
  cursor: pointer;
}

.hint-item:hover {
  color: #007dff;
  background-color: #ecf5fe;
}

.search-heat {
  padding-top: 12px;
  clear: both;
  overflow: hidden;
}

.search-heat-label {
  font-size: 13px;
  color: #666666;
}

.search-heat-item {
  margin-right: 12px;
  font-size: 13px;
  color: #333333;
  cursor: pointer;
}

.filter-area {
  float: left;
  overflow: auto;
  top: 147px;
  padding: 0 20px 30px 20px;
  width: 230px;
  background-color: #fff;
  user-select: none;
}

.filter-head {
  margin-bottom: 10px;
  height: 54px;
  border-bottom: 1px solid #dddddd;
  font-size: 16px;
  font-weight: bold;
  line-height: 54px;
}

.filter-item {
  font-size: 14px;
  line-height: 32px;
  color: #333333;
  /* white-space: nowrap; */
}

.filter-item.active .filter-item-checkbox {
  background-image: url("../images/ck1.png");
}

.filter-item.active,
.filter-item:hover {
  background-color: #ecf5fe;
  border-left: 2px solid #007dff;
}

.filter-item.active .filter-item-checkbox,
.filter-item:hover .filter-item-checkbox {
  left: 7px;
}

.filter-item.active span,
.filter-item:hover span {
  margin-left: 14px;
}

.filter-item-checkbox {
  position: relative;
  left: 9px;
  top: 2px;
  display: inline-block;
  width: 14px;
  height: 14px;
  background: url("../images/ck2.png") no-repeat;
  cursor: pointer;
}

.filter-item span {
  margin-left: 16px;
}

.fwb {
  font-weight: bold;
}

.filter-group {
  font-size: 14px;
  line-height: 32px;
  color: #333333;
}

.filter-group.fwb {
  text-indent: 10px;
}

.filter-group-btn {
  margin: 12px 5px 0 0;
  float: right;
  width: 12px;
  height: 7px;
  background: url("../images/down.png") no-repeat;
  cursor: pointer;
}

.filter-group.expanded .filter-group-btn {
  background-image: url("../images/up.png");
}

.filter-group + li {
  display: none;
}

.filter-group.expanded + li {
  display: block;
}

.last-item {
  text-indent: 20px;
}

.last-item:hover {
  background-position-x: 30px;
}

.list-area {
  float: left;
  padding: 0 20px 30px 20px;
  margin-left: 20px;
  /* width: 1030px; */
  width: calc(100% - 250px);
  margin-bottom: 30px;
  min-height: 820px;
  background-color: #fff;
}

.list {
  margin-bottom: 20px;
}

.list-head {
  margin-bottom: 10px;
  height: 54px;
  border-bottom: 1px solid #dddddd;
  font-size: 16px;
  font-weight: bold;
  line-height: 54px;
}

.highlight {
  color: #007dff;
}

.sort-options {
  float: right;
}

.sort-option {
  margin-right: 14px;
  padding-right: 15px;
  font-weight: normal;
  font-size: 14px;
  background: no-repeat right center;
  cursor: pointer;
}

.sort-option:last-of-type {
  margin: 0;
}

.sort-option.zonghe {
  background-image: url("../images/zh1.png");
}

.sort-option.watch {
  background-image: url("../images/watch.png");
}

.sort-option.update {
  background-image: url("../images/update.png");
}

.sort-option.active {
  color: #007dff;
}

.zonghe.active {
  background-image: url("../images/zh2.png");
}

.watch.active {
  background-image: url("../images/watch2.png");
}

.update.active {
  background-image: url("../images/update1.png");
}

.list-item {
  padding: 10px 0 20px 0;
  border-bottom: 1px dashed #dddddd;
}

.list-item-head {
  overflow: hidden;
}

.list-item-title {
  font-size: 18px;
  font-weight: bold;
  line-height: 28px;
  color: #007dff;
}

.update-time {
  float: right;
  font-size: 14px;
  line-height: 28px;
  color: #666666;
}

.list-item-text1 {
  font-size: 14px;
  line-height: 36px;
  color: #707070;
}

.list-item-text2 {
  font-size: 14px;
  line-height: 36px;
  color: #333333;
}

.list-item-text1 span:first-child::after {
  margin: 0 16px;
  position: relative;
  top: 3px;
  left: 2px;
  content: "";
  display: inline-block;
  width: 1px;
  height: 16px;
  background-color: #8c8c8c;
}

.list-item-text2 span:first-child::after {
  margin: 0 16px;
  position: relative;
  top: 3px;
  left: 2px;
  content: "";
  display: inline-block;
  width: 1px;
  height: 16px;
  background-color: #333333;
}

.watch-times {
  padding-left: 20px;
  float: right;
  font-size: 14px;
  line-height: 28px;
  background: url("../images/watch1.png") no-repeat left center;
}

.keyword {
  color: #ff0000;
}

.pagination {
  width: fit-content;
  margin: 0 auto;
}

.noresult {
  margin-top: 270px;
  line-height: 220px;
  text-align: center;
  display: block;
  height: 83px;
  background: url("../images/noresult.png") no-repeat center;
  font-size: 18px;
  color: #999999;
  user-select: none;
}

.pagination.hidden {
  display: hidden;
}

.filter-list {
  overflow: auto;
}