/*
* 标签搜索首页
* date: 2021-01-04
* author: guohanyu
*/

/* 主体内容区域 */
.main-body {
    margin: 0 auto;
    padding: 156px 226px 0 226px;
    width: 1280px;
}

/* 页面标题 */
.page-title {
    text-align: center;
    line-height: 50px;
    font-size: 42px;
    font-weight: bold;
}

/* 搜索区域 */
.search-area {
    margin: 46px auto 0 auto;
    width: 830px;
    height: 50px;
}

/* 搜索框 */
.search-input {
    padding: 0 20px 0 60px;
    width: 745px;
    height: 50px;
    border: 1px solid #ddd;
    border-right: none;
    border-radius: 4px 0 0 4px;
    background: url("../images/search-iron.png") no-repeat;
    background-position: 20px 50%;
}

.search-input:focus {
    background-color: #f8f8f8;
    border: 1px solid #007dff; 
    border-right: none;
}

/* 搜索按钮 */
.search-btn {
    width: 85px;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    text-align: center;
    border-radius: 0 4px 4px 0;
    color: #fff;
    background-color: #007dff;
}

.tools {
    margin: 45px 0 11px 0
}

.tools-title {
    font-size: 20px;
    line-height: 30px;
}

/* 换一批按钮,用padding扩大点击范围 */
.tools-title .another {
    padding: 0 5px 0 25px;
    line-height: 30px;
    font-size: 14px;
    background: url("../images/refresh-iron.png") no-repeat;
    background-position: 5px 50%;
}

/* 推荐框区域 */
.hotsearch-items {
    margin-top: 12px;
    width: 830px;
}

.hotsearch-item {
    margin-bottom: 10px;
}

/* 第一列 */
.hotsearch-item:nth-child(3n+1) {
    margin-right: 25px;
}

/* 第三列 */
.hotsearch-item:nth-child(3n+3) {
    margin-left: 25px;
}

/* 推荐框 */
.hotsearch-item-box {
    padding: 24px 25px;
    width: 260px;
    height: 165px;
    display: block;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.hotsearch-item-box:hover {
    border: 1px solid  rgb(0, 125, 255);
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.09);
}

.item-title {
    margin-bottom: 10px;
    padding-left: 50px;
    height: 34px;
    line-height: 34px;
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background: url("../images/resource-iron.png") no-repeat center left;
    background-size: 34px 34px;
}

/* 推荐框里的一行 */
.item-box-row {
    line-height: 26px;
    color: #dfdfdf;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* 更新时间 */
.item-box-row.updatetime {
    color: #000;
}

.item-row-title {
    margin-right: 30px;
}
