/*
* 标签详情
* date: 2020-12-30
* author: guohanyu
*/

/* 主体页面顶部区域 */
.main-header {
    position: relative;
    z-index: 999;
    height: 72px;
    background-color: #fff;
    box-shadow: 0 0 1px 0 #000;
}

/* 顶部内容区域 */
.main-header-container {
    margin: 0 auto;
    padding: 16px 0;
    width: 1280px;
    height: 72px;
}

/* 回退按钮 */
.main-header-container .goback {
    height: 40px;
    padding-left: 20px;
    background: url("../images/goback-iron.png") no-repeat left center;
    font-size: 16px;
    line-height: 40px;
}

.search-input {
    padding: 0 10px;
    width: 290px;
    height: 40px;
    border: 1px solid #ddd;
    border-right: none;
    border-radius: 4px 0 0 4px;
}

.search-input:focus {
    border: 1px solid #007dff;
    border-right: none;
}

/* 搜索按钮 */
.search-btn {
    width: 60px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 15px;
    color: #fff;
    background-color: #007dff;
    border-radius: 0 4px 4px 0;
}

/* 标签主体区域 */
.main-body {
    padding-bottom: 30px;
    background-color: #f5f5f5;
}

/* 标签主体中心区域 */
.main-body-container {
    margin: 0 auto;
    width: 1280px;
}

/* 标签基本信息 */
.banner {
    padding: 25px 20px 0 20px;
    height: 108px;
    color: #b0b0b0;
}

/* 标签的一行信息 */
.label-msg {
    height: 30px;
    line-height: 30px;
}

.labelname {
    font-size: 16px;
    color: #2e94fd;
    max-width: 600px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.labeldept {
   color: #000;
   max-width: 600px;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}

.label-text {
    margin-left: 10px;
}

.label-msg .eye {
    width: 30px;
    height: 30px;
    background: url("../images/eye-iron.png") no-repeat center;
}

.main-body-container .content {
    background-color: #fff;
}

/* 左侧区域 */
.content-left {
    padding: 27px 30px  0 30px;
    width: 130px;
}

.nav-container {
    padding: 33px 20px 0 0;
    width: 91px;
    height: 210px;
    background: url("../images/left-axis.png") no-repeat center right;
}

.content .nav-item {
    position: relative;
    width: 71px;
    height: 35px;
    line-height: 35px;
    font-size: 15px;
    text-align: center;
}

/* 伪元素写右侧图标 */
.content .nav-item::after {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    margin-right: -20px;
    width: 20px;
    height: 24px;
    content:'';
    background: url("../images/other-iron.png") no-repeat center;
}

.content .nav-item.current {
    color: #007dff;
}

.content .nav-item.current::after {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    margin-right: -20px;
    width: 20px;
    height: 24px;
    content:'';
    background: url("../images/curr-iron.png") no-repeat center;
}

.nav-item-href {
    display: block;
    height: 100%;
}

/* 右侧区域 */
.content-right {
    padding: 10px 20px;
    width: 1150px;
}

.content .box {
    margin: 0 auto 15px auto;
    width: 1113px;
}

.box-title {
    font-size: 18px;
    line-height: 50px;
}

.box-td {
    padding: 10px;
    height: 40px;
    border: 1px solid #ebebeb;
}

.box-td.label-td {
    color: #666;
    text-align: right;
    background-color: #f7f7f7;
    font-weight: bolder;
}

.box-td.value-td {
    text-align: left;
    
}

/* 数据预览 */
.dataview {
    margin: 0 auto;
    padding: 10px 15px;
    width: 1113px;
    background-color: #f7f7f7;
}

.dataview-title {
    margin-bottom: 10px;
    height: 20px;
    line-height: 20px;
    color: #666;
    font-size: 14px;
    font-weight: normal;
}

.dataview-item {
    padding: 0 13px;
    height: 40px;
    line-height: 40px;
    background-color: #fff;
    border: 1px solid #ebebeb;
    border-top: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dataview-items>.dataview-item:first-child {
    height: 40px;
    background-color: #fff;
    border-top: 1px solid #ebebeb;
}

