/* common */
.relative {
    position: relative;
}

.color-text {
    color: #5c5c5c;
}

.color-lightgrey {
    color: #adadad;
}


/* tabselecttree */
.portrait-left {
    width: 40%;
    position: absolute;
    left: 0;
    top: 0;
}

.portrait-left .mini-tabstreeselect-left>.mini-tabstreeselect-content,
.portrait-left .mini-panel-viewport,
.portrait-left .mini-filtertree .mini-panel-toolbar,
.portrait-left .mini-tabstreeselect-content {
    background-color: #f6f6f6;
}

.portrait-left .mini-tabstreeselect-header {
    height: 40px;
    height: .4rem;
    border-bottom: 1px solid #ebebeb;
    text-align: center;
    background-color: #f6f6f6;
}

.portrait-left .mini-tabstreeselect-tabs>li.active,
.portrait-left .mini-tabstreeselect-header-main {
    height: 40px;
    height: .4rem;
    line-height: 40px;
    line-height: .4rem;
    background-color: #f6f6f6;
    /* border: 0; */
    color: #333333;
    width: 100%;
    box-sizing: border-box;
    cursor: default;
}

.portrait-left .mini-tabstreeselect-buttons {
    height: 40px;
    height: .4rem;
}

.portrait-left .mini-tabstreeselect-buttons .mini-tabstreeselect-action {
    height: 40px;
    height: .4rem;
    line-height: 40px;
    line-height: .4rem;
}

.portrait-left .mini-panel-toolbar {
    margin-top: 3px;
}

/* 标签规则 */
.portrait-right {
    padding-left: 40%;
    width: 100%;
    box-sizing: border-box;
}

.rule-box {
    width: 100%;
    min-height: 353px;
    box-sizing: border-box;
    border: 1px solid #ebebeb;
    border-left: 0;
}

.rule-header {
    border-bottom: 1px solid #ebebeb;
}

.rule-header .form-label {
    width: auto;
    padding-left: 15px;
}

.remove-rules {
    position: absolute;
    right: 20px;
    top: 9px;
    color: #5c5c5c;
    font-family:ActionIcon;
}

.remove-rules:before {
    font-size: 16px;
    font-size: .16rem;
    content: "\e723";
}

.remove-rules:hover {
    cursor: pointer;
    color: #ff0b0b;
}

.rule-container {
    padding: 12px 15px;
    box-sizing: border-box;
    height: 278px;
    overflow-y: auto;
}

.rule-li {
    /* margin: 4px 0; */
}

.rule-item {
    height: 26px;
    line-height: 26px;
    /* background-color: #eee; */
}

.operate-value  {
    margin: 0 10px;
}

.rule-item.select .rule-checkbox {
    background-image: url('./images/icon_checked.png');
}

.rule-item .mini-buttonedit-border,
.rule-item .mini-buttonedit .mini-buttonedit-input {
    background-color: transparent;
    text-align: center;
}

.rule-item:hover .rule-icon {
    display: inline-block;
}

.rule-container {
    overflow-y: auto;
}

/* 条件层级-缩进 */
.operate-ul {
    padding-left: 20px;
}

/* 条件层级-缩进 */
/* .rule-container>ul>.rule-li>.rule-item {
    padding-left: 0;
}

.rule-container>ul>.rule-li>ul>.rule-li>.rule-item {
    padding-left: 20px;
}

.rule-container>ul>.rule-li>ul>.rule-li>ul>.rule-li>.rule-item {
    padding-left: 40px;
} */

/* 条件层级 end */

.text-input {
    width: 124px;
    height: 24px;
    border: none;
    border-bottom: 1px solid #d6d6d6;
    outline: none;
    text-align: center;
    background-color: transparent;
}

.full-text {
    width: 276px;
    color: #2590eb;
}

.ui-state-highlight {
    height: 2px;
    background-color: #2590eb;
}