/*
 * 作者: 吴松泽
 * 创建时间: 2018-03-13 13:39:07
 * 版本: [1.0, 2018-03-13 13:39:07]
 * 版权: 江苏国泰新点软件有限公司
 * 描述: 扫码登录
 */

body,
.mui-content {
    background-color: #FFFFFF;
    text-align: center;
}

.em-img-msg img {
    width: 208px;
    margin-top: 56px;
    margin-bottom: 28px;
}

.em-img-msg h4 {
    font-size: 16px;
}

.em-img-msg p {
    font-size: 12px;
}

.em-button {
    position: absolute;
    top: 62vh;
    width: 100%;
}

.em-submit {
    width: 90%;
    font-size: 18px;
    height: 44px;
}

.em-cancel {
    display: block;
    font-size: 16px;
    color: #666;
    margin-top: 20px
}