/**!
* 数据集成-数据源配置
* date:2019-09-20
* author: [xulb];
*/
html {
	overflow: auto;
}

body {
	background: #e8e8e8;
	min-width: 1150px;
	position: relative;
	/* min-height: 600px; */
}

.main {
	position: absolute;
	top: 15px;
	left: 15px;
	right: 15px;
	bottom: 15px;
	background: #fff;
	border-radius: 5px;
}

.top-area {
	padding: 10px 13px 15px 13px;
}

.add-data {
	float: left;
	width: 123px;
	height: 26px;
	box-sizing: border-box;
	background: url(../images/add_icon.png) no-repeat 16px center;
	line-height: 26px;
	color: #fff;
	border-radius: 4px;
	margin: 0 15px 0 0;
	padding-left: 37px;
	background-color: #2590eb;
}

.right-btn-area {
	margin-right: 65px;
}

.data-name {
	float: left;
	height: 32px;
	line-height: 32px;
	margin: 0 5px 0 15px;
}

.search-input {
	float: left;
	height: 32px;
	line-height: 32px;
	margin: 0 10px 0 15px;
}

.data-category {
	/*     float: left; */
	height: 32px;
	line-height: 32px; `
	margin: 0 5px 0 15px;
}

.choose-category {
	float: left;
	height: 32px;
	line-height: 32px;
	margin: 0 10px 0 15px;
}

.search-button {
	margin-top: 0;
}

.tab {
	position: absolute;
	top: 53px;
	bottom: 20px;
	width: 100%;
	left: 0;
}

.tab-hd {
	position: absolute;
	right: 15px;
	top: -43px;
}

.tab-hd>li {
	float: left;
	border: 1px solid #b7b7b7;
	height: 24px;
	width: 32px;
	position: relative;
	z-index: 1;
	cursor: pointer;
}

.tab-hd>li.active {
	border-color: #2590eb;
	z-index: 2;
}

.panel {
	margin-top: 2px;
	border-radius: 5px 0 0 5px;
	background: url(../images/panel02.png) center no-repeat;
}

.panel.active {
	border: 1px solid #2590eb;
	background: #2590eb url(../images/panel02-active.png) center no-repeat;
}

.grid {
	margin-top: 2px;
	margin-left: -1px;
	border-radius: 0 5px 5px 0;
	background: url(../images/grid01.png) center no-repeat;
}

.grid.active {
	border: 1px solid #2590eb;
	background: #2590eb url(../images/grid01-active.png) center no-repeat;
}

.tab-bd {
	height: 100%;
	overflow: hidden;
}

.tab-bd>div {
	height: 100%;
}

.data-content {
	position: absolute;
	top: 0;
	bottom: 47px;
	width: 100%;
	left: 0;
	overflow: hidden;
}

.sql-list {
	margin: 0 5px;
}

.sql-item {
	float: left;
	width: 33%;
	margin: 0 0 20px 0;
}

@media screen and (min-width: 1366px) and (max-width: 1920px) {
  .card-items {
    left: 10px;
    right: 10px;
  }

  .sql-item {
    width: 25%;
  }
}

.sql-item>a {
	display: block;
	margin: 0 10px;
	border: 1px solid #dfe2e6;
	height: 170px;
	box-sizing: border-box;
	border-radius: 8px;
	padding: 13px 13px 0 18px;
}

.sql-item>a:hover {
	border-color: #33aaff;
}

.sql-item>a:hover .btn-area {
	display: block;
}

.sql-item>a:hover .sql-name {
	color: #333;
}

.sql-item>a:hover .detail-item:before {
	background: #33aaff;
}

.sql-icon {
	width: 48px;
	height: 48px;
	margin: 0 10px 17px 0;
}

.sql-name {
	display: block;
	float: left;
	height: 48px;
	line-height: 48px;
	font-size: 16px;
	font-weight: bold;
	max-width: 100px;
	white-space: nowrap;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	overflow: hidden;
	color: #6a6a6a;
}

.detail-item {
	height: 25px;
	line-height: 25px;
	color: #5c5c5c;
	position: relative;
	padding-left: 12px;
	white-space: nowrap;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	overflow: hidden;
}

.detail-item:before {
	position: absolute;
	width: 3px;
	height: 3px;
	content: '';
	background: #bbb;
	left: 0;
	top: 12px;
}

.page {
	position: absolute;
	bottom: 30px;
	right: 0;
	height: 32px;
	text-align: right;
	width: 100%;
}

.btn-area {
	display: none;
}

.btn-area>button {
	float: left;
	/* margin-left: 15px; */
	width: 28px;
	height: 28px;
	border: none;
	cursor: pointer;
}

.edit-icon {
	background: white;
	margin-top: 10px;
	margin-left: 10px;
	color: #2590eb
}

.delete-icon {
	background: white;
	margin-top: 10px;
	margin-left: 30px;
	color: red
}

.copy-icon {
	background: white;
	margin-top: 10px;
	margin-left: 20px;
	color: #2590eb
}

.change-icon {
	background: white;
	margin-top: 10px;
	margin-left: 10px;
	color: #2590eb
}

.detail-icon {
	background: white;
	margin-top: 10px;
	margin-left: 20px;
	color: #2590eb
}

.nodata-text {
	display: none;
	background: url("../images/icon-nodata.png") no-repeat center 100px;
	text-align: center;
	padding-top: 160px;
	color: #adadad;
	
}

.nodata .nodata-text {
	display:block;
}