/* 底部任务栏右键菜单*/
.ctm-context-menu {
  position: absolute;
  z-index: 15;
  width: 115px;
  /*margin: -221px 0 0 -3px;*/
  margin: 0 !important;
  background: #fff;
  border: 1px solid #ccdff0;
  box-shadow: 0 2px 3px 1px rgba(106, 161, 209, 0.4);
}

.ep-context-menu {
  position: absolute;
}

.ep-context-menu .menu {
  width: 115px;
  /*margin: -221px 0 0 -3px;*/
  margin: 0 !important;
  background: #fff;
  border: 1px solid #ccdff0;
  box-shadow: 0 2px 3px 1px rgba(106, 161, 209, 0.4);
}

.ctm-context-menu .ctm-menu-item,
.ep-context-menu .cm-btn {
  display: block;
  height: 30px;
  padding: 0 13px;
  line-height: 30px;
  text-align: left;
  text-decoration: none;
  color: #498cc5;
}

.ctm-context-menu .ctm-menu-item:hover,
.ep-context-menu .cm-btn:hover {
  background-color: #ebf5ff;
}

.ctm-context-menu .ctm-sep,
.ep-context-menu .sep {
  border-bottom: 1px solid #dfeaf3;
}

/*底部任务栏*/
.tn-bottom-tab-box {
  overflow: hidden;
  position: relative;
  z-index: 10;
  width: 100%;
  background-color: transparent;
}

.tn-bottom-tab-line {
  height: 30px;
}

.tn-tab-row {
  overflow: hidden;
}

.tn-bottom-drop {
  position: absolute;
  right: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px 10px;
}

.tn-drop-btn {
  position: absolute;
  z-index: 12;
  width: 20px;
  height: 20px;
  cursor: pointer;
  background: url("images/bottom-btn.png") center center no-repeat;
}

.tn-drop-btn:hover {
  background-image: url("images/bottom-btn-hover.png");
}

/*底部tab*/
.tn-my-desk {
  margin-right: 10px;
}

.tn-tabs-nav-item {
  position: relative;
  float: left;
  width: 100px;
  height: 30px;
  cursor: pointer;
  /*-webkit-transition: background .6s cubic-bezier(.25, .46, .45, .94);
          transition: background .6s cubic-bezier(.25, .46, .45, .94);*/
  border-right: 2px solid #fff;
  background-color: #fff;
}

.tn-tabs-nav-name {
  display: inline-block;
  overflow: hidden;
  width: 80px;
  height: 30px;
  padding: 0 0 0 10px;
  font-size: 14px;
  line-height: 30px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #666;
}

.tn-tabs-nav-item.active .tn-tabs-nav-item-refresh {
  visibility: visible;
}

.tn-tabs-nav-item.active {
  color: #1890ff;
  border-bottom: 2px solid #1890ff
}

.tn-tabs-nav-item > .tn-tabs-nav-item-close {
  position: absolute;
  right: 0;
  width: 18px;
  height: 20px;
  margin-top: 5px;
}

// .tn-tabs-nav-item.active:hover > .tn-tabs-nav-item-close {
//   background: url("images/close-btn.png") center no-repeat;
// }

.tn-tabs-nav-item.active > .tn-tabs-nav-name,
.tn-tabs-nav-item:hover > .tn-tabs-nav-name {
  color: #1890ff;
}

// .tn-tabs-nav-item.active > .tn-tabs-nav-item-refresh {
//   background: url("images/refresh-blue.png") center no-repeat;
// }

.tn-tabs-nav-item.active:hover {
  color: #1890ff;
  border-bottom: 2px solid #1890ff;
}

.tn-tabs-nav-item.active:hover > .tn-tabs-nav-name {
  color: #1890ff;
}
// .tn-tabs-nav-item.active:hover > .tn-tabs-nav-item-refresh {
//   background: url("images/refresh-blue.png") center no-repeat;
// }

.tn-tabs-nav-item-refresh {
  position: absolute;
  right: 0;
  width: 15px;
  height: 12px;
  margin-top: 9px;
  background: url(images/refresh-blue.png) center no-repeat;
}

/*hover*/
.tn-tabs-nav-item:hover > .tn-tabs-nav-item-close {
  background: url("images/close.png") center no-repeat;
}

.tn-tabs-nav-item:hover > .tn-tabs-nav-item-refresh {
  background: url("images/refresh-blue.png") center no-repeat;
}

.tn-tabs-nav-item:hover {
  color: #1890ff;
}

/*底部盒子*/
.tn-bottom-slide-box {
  position: absolute;
  z-index: 8;
  right: 0;
  bottom: -280px;
  display: none;
  overflow: hidden;
  max-height: 280px;
  background: #cce0f5;
  box-shadow: -1px -1px 3px 0 rgba(0, 0, 0, 0.15);
}

.tn-slide-list {
  height: auto;
  background: #cce0f5;
}

.tn-slide-list-item {
  height: 28px;
  padding: 0 20px;
  line-height: 28px;
  cursor: pointer;
  white-space: nowrap;
  color: #498cc5;
}

.tn-slide-list-item:hover {
  color: #fff;
  background-color: #2590eb;
}

.tn-next-btn,
.tn-prev-btn {
  height: 30px;
  /*暂时高度设为30，后面全部改为根据父容器的高度来定*/
}

.tn-prev,
.tn-next {
  width: 100%;
  height: 100%;
  display: none;
  background-color: #fff;
  background-image: url("./images/tn-arrow-right.png");
  background-repeat: no-repeat;
  /*部分FF不支持单组设置*/
  background-position: center center;
  /*IE8 只支持单组设置*/
  background-position-x: center;
  background-position-y: center;
  cursor: pointer;
}

.tn-prev {
  background-image: url("./images/tn-arrow-left.png");
}

.tn-next:hover {
  background-image: url("./images/tn-arrow-right_hover.png")  
}

.tn-prev:hover {
  background-image: url("./images/tn-arrow-left_hover.png")
}


.tn-bottom-drop {
  position: absolute;
  right: 0;
}

.tn-drop-btn {
  position: absolute;
  z-index: 12;
}

.tn-bottom-slide-box {
  display: none;
}

.tn-context-menu {
  position: absolute;
  z-index: 15;
  width: 115px;
  margin: 0 !important;
  background: #fff;
  border: 1px solid #ccdff0;
  box-shadow: 0 2px 3px 1px rgba(106, 161, 209, 0.4);
}


.tn-tabs-nav-item-refresh:hover {
    animation: rotate 2s steps(20, end) infinite forwards;
}

@keyframes rotate {
    from {
        transform-origin: 50% 50%;
        transform: rotate(0deg);
    }
    to {
        transform-origin: 50% 50%;
        transform: rotate(360deg);
    }
}