@charset "GBK";
/*用户盒子*/
.userinfo-box {
  position: absolute;
  z-index: 13;
  display: none;
  width: 278px;
  margin-top: 23px;
  margin-left: -244px; }

.icons-user.showPanel > .userinfo-box {
  display: block; }

.userinfo {
  height: 62px;
  border-bottom: 1px solid #3a7bd3;
  background: #346dba; }

.big-head {
  display: block;
  width: 46px;
  height: 46px;
  margin: 10px 30px 0 20px;
  border-radius: 50%; }

.user-txt {
  width: 180px; }

.username,
.departname {
  font-size: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #fff; }

.departname {
  font-size: 12px; }

.personal {
  background: url("images/p-head.png") center 12px no-repeat; }

.page {
  background: url("images/setting.png") center 12px no-repeat; }

.function {
  background: url("images/function.png") center 11px no-repeat; }

.setting-item {
  box-sizing: content-box;
  float: left;
  width: 92px;
  padding-top: 38px;
  cursor: pointer;
  -webkit-transition: all 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  text-align: center;
  color: #fff;
  border-right: 1px solid #3a7bd3;
  background-color: #346dba; }

.setting-item:hover {
  background-color: #185197; }

.setting {
  border-bottom: 1px solid #3a7bd3; }

.no-border {
  border: none; }

.cancel-out {
  padding: 10px 13px;
  background: #346dba; }

.cancel-out > .loginout {
  display: inline-block;
  width: 250px;
  height: 36px;
  font-size: 15px;
  line-height: 36px;
  -webkit-transition: background 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: background 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  text-align: center;
  color: #fff;
  border-radius: 4px;
  background: #f96d41; }

.cancel-out > .role-change {
  display: none;
  width: 110px;
  height: 36px;
  margin-right: 18px;
  margin-left: 10px;
  font-size: 15px;
  line-height: 36px;
  -webkit-transition: background 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: background 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  text-align: center;
  color: #fff;
  border-radius: 4px;
  background: #f96d41; }

.cancel-out > .role-change:hover,
.cancel-out > .loginout:hover {
  background: #ff812d; }

.cancel-out.hasRoles > .role-change {
  display: block; }

.cancel-out.hasRoles > .loginout {
  width: 110px; }
