.portalitem {
    -webkit-box-sizing : border-box;
            box-sizing : border-box;
    /*height : 320px;*/
    height : 100%;
    padding : 0 12px;

    background-color : #fff;
}
.portalitem.small {
    height : 130px;
    padding : 10px 0 0;

    cursor : pointer;
    text-align : center;
}
.portalitem-header {
    line-height : 45px;

    height : 45px;

    border-bottom : 1px solid #9eaab9;
}
.portalitem-header-text {
    font-size : 18px;

    display : inline-block;

    margin-top : -1px;
    padding-right : 10px;

    color : #0b3a51;
    border-bottom : 2px solid #00a5e8;
}
.portalitem-header-button {
    font-size : 18px;

    display : inline-block;

    margin-top : -1px;
    padding-right : 10px;

    color : #0b3a51;
}
.portalitem-remind {
    font-size : 15px;

    color : #818a9a;
}
.portalitem-remind-type {
    margin-right : 20px;
}
.portalitem-remind-type:last-child {
    margin-right : 12px;
}
.portalitem-header-num {
    color : #f60;
}
.portalitem-body {
    font-size : 14px;

    padding : 12px 0;

    color : #3d4b62;
}
.portalitem-item {
    line-height : 30px;

    position : relative;

    cursor : pointer;
}
.portalitem-item:hover {
    color : #f60;
}
.portalitem-item-title {
    overflow : hidden;

    white-space : nowrap;
    text-overflow : ellipsis;
}

.portalitem-item-date {
    position : absolute;
    top : 0;
    right : 10px;
}

.portalitem-icon {
    display : block;

    width : 70px;
    height : 70px;
    margin : 0 auto 10px;

    background : url(../image/protalItem/icon-daiban.png);
}
.portalitem-title {
    font-size : 18px;

    margin-right : 50px;

    color : #0b3a51;
}
