// 搜索、重置、展开等按钮
.cond-srh-btn-text,
.cond-srh-btn-toggle,
.fui-search-trigger,
.fui-search-reset-btn,
.fui-search-close-btn,
.fui-search-srh-btn {
    background  : @primary-color;
    border-color: @primary-color;

    &:hover {
        background  : @primary-hover-color;
        border-color: @primary-hover-color;
    }
}

// 工具栏帮助
.fui-toolbar-helper,
.notice-close-btn {
    color: @text-color;

    &:hover {
        color: @primary-color;
    }
}

// 高级搜索按钮
.fui-search-trigger.close {
    background: #fff;
    color     : @primary-color;
}

// 高级搜索项状态
.fui-search-item {

    &.active,
    &:hover {
        border-color: @primary-color;
    }
}
.mini-buttonedit.fui-primary-search .mini-buttonedit-icon:before {
    color: @primary-color;
}

.fui-search-item-remove {
    color: @text-color;

    &:hover {
        color: @primary-color;
    }
}
.fui-search-result-btns span:hover {
    color: @primary-color;
}
.fui-block-hd {
    color: @primary-color;
    &:before {
        background: @primary-color;
    }
}
