.fui-left {

    &-hd,
    .fui-left-title {
        border-bottom-color: @primary-color;
        color              : @primary-color;
    }

    &-toggle {
        background: none;
        color     : @primary-color;
        &:hover {
            color: @primary-hover-color;
        }
    }
}