body {
    // 左侧手风琴菜单
    .acc-nav-item.opened > .acc-nav-link.top {
        color: @primary-color;
        border-bottom-color: @primary-color;
    }

    .acc-nav-link.active,
    .acc-nav-link.top:hover {
        color: @primary-color;
    }

    .acc-item-hd:hover {
        .acc-title,
        .acc-toggle {
            color: @primary-color;
        }
    }

    // 左侧手风琴树
    .acc-toggle:hover {
        color: @primary-color;
    }

    .acc-item.opened .acc-item-hd {
        color: @primary-color;
        border-bottom-color: @primary-color;
    }

    .acc-item.opened .acc-title {
        color: @primary-color;
    }

    // 顶部tab菜单 
    .fui-tabnav-main .fui-tabnav-item.active > .fui-tabnav-link {
        color: @primary-color;
        border-bottom-color: @primary-color;
    }

    .fui-tabnav-sub .fui-tabnav-item.active > .fui-tabnav-link {
        color: @primary-color;
    }
}
