.wrap {
    overflow: hidden;

    width: 100%;
    height: 100%;
}

.themes-container {
    margin: 0 10px;
}

.theme-item {
    position: relative;
    /* position: relative; */

    width: 30%;
    margin: 10px 1.6667%;
}

.theme-preview {
    position: relative;

    width: 100%;
    height: 150px;
}
@media screen and (min-width:1024px) {
    .theme-item {
        width: 22%;
        margin: 10px 1.5% ;
    }
    .theme-preview {
        height: 170px;
    }
}
@media screen and (min-width:1440px) {
    .theme-item {
        width: 18%;
        margin: 10px 1% ;
    }
    .theme-preview {
        height: 180px;
    }
}
@media screen and (min-width:1920px) {
    .theme-preview {
        height: 226px;
    }
}
.theme-preview > img {
    width: 100%;
    height: 100%;
}
.theme-btns {
    position: absolute;
    top: 60%;
    right: 0;
    left: 0;

    display: none;

    text-align: center;
}
.theme-item:hover .theme-btns {
    display: block;
}

.theme-btns .btn {
    display: inline-block;

    margin: 0 10px;
    padding: 2px 5px;

    cursor: pointer;

    color: #fff;
    border-radius: 3px;
    background: rgba(0,0,0,.3);
}
.theme-name {
    cursor: default;
    text-align: center;
}
