/* BASE */html,body,form{height:100%;width:100%;margin:0;padding:0;}

/* POPUP  */div.popup{visibility:hidden;display:inline;position:absolute;top:50px;left:50px;width:200px;z-index:10;}
.popup table{width:200px;min-width:200px;}
.popup .head,.popup .collapse{width:auto;}
.popup .head,#pnlMenu .popup .head{cursor:move;}
.head .btnCollapse,.head .close{display:inline;float:right;width:15px;height:15px;cursor:pointer;margin:6px 4px 0 0;}
.head .close{background:url(../image/DragPanel/close.gif) no-repeat;}
.popup .collapse{border-right:1px solid #DDD;border-bottom:1px solid #DDD;border-left:1px solid #DDD;background:#fff; filter: alpha(opacity=100);}
.popup .collapse table td h3{margin:0;}
/* BASE  */div.head{height:27px;border-left:1px solid #FFF;border-right:1px solid #FFF;background:#FFF url(../image/DragPanel/gradient.gif) repeat-x;font-weight:700;}
div.title{float:left;font-size:1.2em;margin:0;padding:2px 0px 0px 2px;}
p.title{float:left;font-size:2em;white-space:nowrap;margin:0;padding:8px 5px 0;}
div.content{background:#fff;font-size:11px;}
div.content1{background:#fff;vertical-align:top;}

.head .btnCollapse,.head .close{display:inline;float:right;width:15px;height:15px;cursor:pointer;margin:6px 4px 0 0;}
.head .close{background:url(../image/DragPanel/close.gif) no-repeat;}


/* DIALOG BOX  */div.dialog{position:absolute;top:80px;left:210px;height:auto;width:200px;z-index:5;}
.dialog .headLeft{height:26px;margin-right:13px;border:none;background:transparent url(../image/DragPanel/dialogLeft.gif) no-repeat;cursor:auto;}
.dialog .headLeft .title{float:left;color:#FFF;margin:0 13px;}
.dialog .headRight{height:26px;margin-left:13px;border:none;background:transparent url(../image/DragPanel/dialogRight.gif) no-repeat center right;cursor:auto;}
.dialog .headRight .title{color:#FFF;margin:0 13px;}
.dialog .content{border-top:2px solid #d47e33;border-bottom:2px solid #d47e33;background:#FFF !important;margin:0 13px;}
.dialog .headLeft .close,.dialog .headRight .close{background:url(../image/DragPanel/closeDark.gif) no-repeat;}

.ShowAllWorkItem{width:16px;height:16px;background:url(../image/movedown.png);}
.UnShowAllWorkItem{width:16px;height:16px;background:url(../image/moveup.png);}