.mini-buttonedit {
    width: 150px;
    width: 1.5rem;
    display: inline-block;
    vertical-align: top;
    overflow: hidden; /*必须hidden*/

    position: relative;
    border-radius: 4px;
}

.mini-buttonedit-border {
    border-radius: 4px;
    background: #fff;
    border: solid 1px @border-color;
    width: auto;
    #miniui-base-height();
    display: block;

    position: relative;
    overflow: hidden;
    padding-right: 30px;
    padding-right: calc(0.14rem + 16px);
    border-collapse: collapse;
    transition: border-color 0.2s cubic-bezier(0.175, 0.885, 0.32, 1);
}

.mini-buttonedit-buttons {
    clear: both;
    position: absolute;
    right: 0px;
    top: 0px;
}

.mini-buttonedit input::-ms-clear,
.mini-textbox input::-ms-clear {
    display: none;
}

.mini-buttonedit-button,
.mini-buttonedit-close {
    border: 0px;
    background: none;
    overflow: hidden;
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    position: relative;
}
.mini-buttonedit-close {
    display: none;
    width: 14px;
}

.mini-buttonedit-focus .mini-buttonedit-border,
.mini-buttonedit-popup .mini-buttonedit-border {
    border-color: @theme-color;
}

.mini-buttonedit-hover,
.mini-buttonedit-hover .mini-buttonedit-input {
    cursor: pointer;
}

.mini-buttonedit-disabled {
    cursor: default;
}
.mini-buttonedit-disabled .mini-buttonedit-border,
.mini-buttonedit-disabled .mini-buttonedit-input {
    background: @disabled-bg;
    color: @disabled-color;
    cursor: default;
}
.mini-buttonedit-disabled {
    .mini-buttonedit-button,
    .mini-buttonedit-close,
    .mini-buttonedit-icon {
        cursor: not-allowed;
        background-color: @disabled-bg;
        color: @disabled-color;
        &:hover {
            color: @disabled-color;
        }
    }
    .mini-buttonedit-button-hover,
    .mini-buttonedit-button-pressed {
        color: @disabled-color;
    }
}
.mini-buttonedit-disabled .mini-buttonedit-up,
.mini-buttonedit-disabled .mini-buttonedit-down {
    cursor: default;
}

/* empty */
.mini-buttonedit-empty .mini-buttonedit-input {
    color: #b1b1b8;
}

.mini-buttonedit-icon {
    display: block;
    overflow: hidden;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -7px;
    margin-top: -7px;
    background: none;
    width: 14px;
    width: 0.14rem;
    font-size: 14px;
    font-size: 0.14rem;
    height: 14px;
    height: 0.14rem;
    line-height: 14px;
    line-height: 0.14rem;
    overflow: visible;
    &:before {
        content: '\e711';
    }
}

/* spinner */
.mini-buttonedit-up,
.mini-buttonedit-down {
    overflow: hidden;
    height: 50%;
    display: block;
    cursor: pointer;
    z-index: 1;
    &:hover {
        color: @theme-color;
    }
}

/***********************/
input.mini-textbox,
input.mini-buttonedit,
input.mini-datepicker,
input.mini-spinner,
input.mini-timespinner,
input.mini-combobox,
input.mini-treeselect,
input.mini-lookup,
input.mini-htmlfile,
input.mini-password,
input.mini-checkbox,
input.mini-textarea {
    visibility: hidden;
    border: 0;
    padding: 0;
    height: 21px;
    width: 125px;
}
input.mini-textarea {
    height: 60px;
}

// ext
.mini-buttonedit-close {
    height: 30px;
    height: 0.3rem;
    line-height: 30px;
    line-height: 0.3rem;
    margin-top: 0;
    padding: 0;
    font-size: 12px;
    font-size: 0.12rem;
    &:before {
        content: '\e6de';
    }
    &:hover {
        color: @theme-color;
    }
}

.mini-buttonedit-button {
    height: 100%;
    width: 30px;
    width: 0.3rem;
    margin: 0;
    padding: 0;
    transition: color 0.2s ease-out, background 0.2s ease-out;
}

.mini-buttonedit-button-hover,
// .mini-buttonedit-hover .mini-buttonedit-trigger,
.mini-buttonedit-button-pressed,
.mini-buttonedit-popup .mini-buttonedit-trigger,
.mini-buttonedit-button:hover {
    border: 0;
    // background: @item-hover-bg;
    color: @theme-color;
}
// spinner 需要区分上下箭头 颜色默认不变化
.mini-spinner .mini-buttonedit-button:hover,
.mini-timespinner .mini-buttonedit-button:hover {
    color: inherit;
}

.mini-popupedit .mini-buttonedit-trigger .mini-buttonedit-icon,
.mini-buttonedit-down .mini-icon,
.mini-buttonedit-up .mini-icon {
    background: none;
}
.mini-buttonedit-down,
.mini-buttonedit-up {
    .mini-icon {
        display: block;
        line-height: 14px;
        line-height: 0.14rem;
        height: 100%;
        width: 100%;
        font-size: 14px;
        font-size: 0.14rem;
        text-align: center;
        transition: transform 0.2s ease-out;
    }
}

.mini-popupedit .mini-buttonedit-trigger .mini-buttonedit-icon:before {
    content: '\e724';
}
.mini-buttonedit-button:hover .mini-buttonedit-up .mini-icon {
    transform: translateY(-0.02rem);
}
.mini-buttonedit-up {
    // transform: translateY(0.04rem);
    .mini-icon {
        transform: translateY(0.02rem);
        &:before {
            content: '\e710';
        }
    }
    &:hover .mini-icon {
        transform: translateY(0.04rem) !important;
    }
    &:hover ~ .mini-buttonedit-down .mini-icon {
        transform: translateY(0.02rem);
    }
}
.mini-buttonedit-down {
    // transform: translateY(-0.04rem);
    .mini-icon {
        transform: translateY(-0.02rem);
        &:before {
            content: '\e724';
        }
    }
    &:hover .mini-icon {
        transform: translateY(-0.04rem);
    }
}
.mini-buttonedit-disabled {
    .mini-buttonedit-border,
    .mini-buttonedit-input,
    .mini-buttonedit-up,
    .mini-buttonedit-down {
        cursor: not-allowed;
    }
    .mini-buttonedit-up {
        &:hover {
            color: inherit;

            .mini-icon {
                transform: translateY(0.02rem) !important;
            }
            ~ .mini-buttonedit-down .mini-icon {
                transform: translateY(-0.02rem);
            }
        }
    }
    .mini-buttonedit-down {
        &:hover {
            color: inherit;

            .mini-icon {
                transform: translateY(-0.02rem);
            }
        }
    }
    .mini-buttonedit-button:hover .mini-buttonedit-up .mini-icon {
        transform: translateY(0.02rem);
    }
}

/* 为高度自定义扩展的样式，默认不使用，特殊设置高度时使用 */
.mini-buttonedit-height .mini-buttonedit-buttons,
.mini-buttonedit-buttons {
    height: 100%;
    top: 0;
    margin-top: 0;
}
