#miniIconHeight() {
    #miniui-base-height();
}
.mini-button {
    #miniui-button-style();

    &-icon {
        display: inline-block;
        width: 16px;
        width: 0.16rem;
        height: 16px;
        height: 0.16rem;
        line-height: 16px;
        line-height: 0.16rem;

        text-align: center;

        font-size: 16px;
        font-size: 0.16rem;
        vertical-align: top;
    }

    &-iconTop &-icon {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 4px;
        margin-top: 0.04rem;
        #miniIconHeight();
    }
    &-iconRight &-icon {
        margin-left: 0.04rem;
        top: 7px;
        top: 0.07rem;
        position: relative;
    }
    &-iconBottom &-icon {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 4px;
        margin-bottom: 0.04rem;
        #miniIconHeight();
    }
    &-iconLeft &-icon {
        margin-right: 4px;
        margin-right: 0.04rem;
        top: 7px;
        top: 0.07rem;
        position: relative;
    }

    &-text {
        // vertical-align: middle;
    }
    [class*='mini-button-icon'] &-text,
    [class^='mini-button-icon'] &-text {
        // vertical-align: middle;
        // display: inline-block;
        // vertical-align: -0.125em;
    }

    // only icon
    &-iconOnly {
        padding-left: 0;
        padding-right: 0;
        width: 30px;
        width: 0.3rem;
        .mini-button-icon {
            text-align: center;
            #miniIconHeight();
        }
        .mini-button-text {
            display: none;
        }
    }

    &-plain {
        background: transparent;
        color: @text-color;
        border-color: transparent;

        &:hover {
            color: @theme-color;
            border-color: transparent;
        }
    }
}

// split-button 颜色变化的抽取
#miniui-split-button(@main-color: @theme-color) {
    .mini-button-text {
        border: 1px solid @border-color;
        &:hover {
            border-color: @main-color;
            color: @main-color;
        }
    }
    .mini-button-split {
        border: 1px solid @border-color;
    }
    &.mini-button-popup .mini-button-split,
    .mini-button-split:hover {
        border-color: @main-color;
        color: @main-color;
    }
}

#miniui-split-button(@main-color: @theme-color, @hover-color,  @ghost-bg) {
    & {
        border-color: transparent;
    }
    &:hover,
    &:active,
    &.mini-button-pressed,
    &.mini-button-popup {
        border-color: @main-color;
        background: @main-color;
        color: #fff;
        box-shadow: none;
    }
    .mini-button-text {
        border: 1px solid @main-color;
        border-right-color: #fff;
        &:hover {
            border-color: @hover-color;
            border-right-color: #fff;
            background: @hover-color;
            color: #fff;
        }
    }
    .mini-button-split {
        border: 1px solid @main-color;
        border-left-color: #fff;
        background: @main-color;
    }
    &.mini-button-popup .mini-button-split,
    .mini-button-split:hover {
        border-color: @hover-color;
        border-left-color: #fff;
        background: @hover-color;
        color: #fff;
    }
    &.mini-button-ghost {
        &:hover,
        &:active,
        &.mini-button-pressed,
        &.mini-button-popup {
            background: #fff;
        }
        .mini-button-text {
            border-right-color: @main-color;
            &:hover {
                background: @ghost-bg;
                color: @hover-color;
            }
        }
        .mini-button-split {
            border-left-color: @main-color;
        }
        .mini-button-split {
            background: #fff;
            color: @main-color;
        }

        &.mini-button-popup .mini-button-split,
        .mini-button-split:hover,
        .mini-button-text:hover {
            background: @ghost-bg;
            color: @hover-color;
        }
    }
}

// 语义化按钮
.mini-button-state {
    &-default {
        &.mini-button-ghost {
        }
    }
    &-primary {
        color: #fff;
        background: @theme-color;
        border-color: @theme-color;

        &:hover,
        &.mini-button-popup {
            border-color: @theme-color-1;
            background: @theme-color-1;
            color: #fff;
        }

        // split
        &.mini-splitbutton {
            #miniui-split-button(@theme-color, @theme-color-1, @theme-color-5);
        }

        &.mini-button-ghost {
            background: #fff;
            color: @theme-color;
            &:hover,
            &.mini-button-popup {
                color: @theme-color;
                background: @theme-color-5;
            }
        }
    }

    &-info {
        color: #fff;
        background: #28c7f5;
        border-color: #28c7f5;

        &:hover,
        &.mini-button-popup {
            border-color: #3ecdf6;
            background: #3ecdf6;
            color: #fff;
        }
        &:active {
            box-shadow: 0 0 6px 4px rgba(#3ecdf6, 0.3);
        }
        &.mini-button-pressed {
            background: darken(#3ecdf6, 10);
            box-shadow: 0 0 6px 4px rgba(#3ecdf6, 0.3);
        }

        &.mini-splitbutton {
            #miniui-split-button(#28c7f5, #3ecdf6, mix(#fff, #28c7f5, @mix-rate-5));
        }

        &.mini-button-ghost {
            background: #fff;
            color: #28c7f5;
            &:hover,
            &.mini-button-popup {
                color: #28c7f5;
                background: mix(#fff, #28c7f5, @mix-rate-5);
            }
        }
    }

    &-success {
        color: #fff;
        background: @success-color;
        border-color: @success-color;

        &:hover,
        &.mini-button-popup {
            border-color: @success-color-1;
            background: @success-color-1;
            color: #fff;
        }
        &:active {
            box-shadow: 0 0 6px 4px rgba(@success-color-1, 0.3);
        }
        &.mini-button-pressed {
            background: darken(@success-color-1, 10);
            box-shadow: 0 0 6px 4px rgba(@success-color-1, 0.3);
        }
        &.mini-splitbutton {
            #miniui-split-button(@success-color, @success-color-1, @success-color-5);
        }

        &.mini-button-ghost {
            background: #fff;
            color: @success-color;
            &:hover,
            &.mini-button-popup {
                color: @success-color;
                background: @success-color-5;
            }
        }
    }

    &-warning {
        color: #fff;
        background: @warning-color;
        border-color: @warning-color;

        &:hover,
        &.mini-button-popup {
            border-color: @warning-color-1;
            background: @warning-color-1;
            color: #fff;
        }

        &:active {
            box-shadow: 0 0 6px 4px rgba(@warning-color-1, 0.3);
        }
        &.mini-button-pressed {
            background: darken(@warning-color-1, 10);
            box-shadow: 0 0 6px 4px rgba(@warning-color-1, 0.3);
        }
        &.mini-splitbutton {
            #miniui-split-button(@warning-color, @warning-color-1, @warning-color-5);
        }
        &.mini-button-ghost {
            background: #fff;
            color: @warning-color;
            &:hover,
            &.mini-button-popup {
                color: @warning-color;
                background: @warning-color-5;
            }
        }
    }
    &-danger {
        color: #fff;
        background: @danger-color;
        border-color: @danger-color;

        &:hover,
        &.mini-button-popup {
            border-color: @danger-color-1;
            background: @danger-color-1;
            color: #fff;
        }
        &:active {
            box-shadow: 0 0 6px 4px rgba(@danger-color-1, 0.3);
        }
        &.mini-button-pressed {
            background: darken(@danger-color-1, 10);
            box-shadow: 0 0 6px 4px rgba(@danger-color-1, 0.3);
        }
        &.mini-splitbutton {
            #miniui-split-button(@danger-color, @danger-color-1, @danger-color-5);
        }
        &.mini-button-ghost {
            background: #fff;
            color: @danger-color;
            &:hover,
            &.mini-button-popup {
                color: @danger-color-1;
                background: @danger-color-5;
            }
        }
    }
}

// menu and split
.mini-menubutton {
    // padding-right: 14px + 16px;
    // padding-right: 0.14rem + 0.16rem;
    padding-right: 0;
}

// menu
.mini-button-menu {
    display: inline-block;
    width: 30px;
    width: 0.3rem;
    height: 100%;
    line-height: inherit;
    text-align: center;
    vertical-align: top;

    &:before {
        content: '\e724';
    }
}

// splitbutton
// 分隔按钮 左右交互需要分开 此处对默认实现进行了覆盖
.mini-splitbutton {
    border-color: transparent;

    padding-right: 16px;
    padding-right: 0.16rem;
    padding-left: 0;
    &:hover,
    &:active,
    &.mini-button-pressed,
    &.mini-button-popup {
        border-color: transparent;
        background: transparent;
        color: inherit;
        box-shadow: none;
    }
    .mini-button-text {
        padding-left: 14px;
        padding-left: 0.14rem;
        padding-right: 14px;
        padding-right: 0.14rem;

        box-sizing: border-box;
        margin-top: -1px;
        margin-bottom: -1px;
        margin-left: -1px;
        display: inline-block;
        position: relative;
        // border: 1px solid @border-color;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        z-index: 1;
        &:hover {
            z-index: 2;
        }
        // &:hover {
        //     border-color: @theme-color;
        //     color: @theme-color;
        //     z-index: 2;
        // }
    }
    .mini-button-split {
        position: absolute;
        top: 0;
        margin-top: -1px;
        margin-right: -1px;
        right: 0;
        display: inline-block;
        width: 16px;
        width: 0.16rem;
        height: 100%;
        text-align: center;
        // border: 1px solid @border-color;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        line-height: inherit;
        z-index: 1;

        &:before {
            content: '\e724';
        }
    }
    &.mini-button-popup .mini-button-split,
    .mini-button-split:hover {
        z-index: 2;
    }

    // &.mini-button-popup .mini-button-split,
    // .mini-button-split:hover {
    //     border-color: @theme-color;
    //     color: @theme-color;
    //     z-index: 2;
    // }

    #miniui-split-button();
}

// loading
.mini-button-loading-icon {
    display: none;
}
.ie8,
.ie9 {
    .mini-button-loading-icon {
        display: none !important;
    }
}
.mini-btn-loading,
.mini-btn-loading:hover {
    // color: #fff;
    opacity: 0.6;
    cursor: wait;
    cursor: progress;
    // pointer-events: none;
    .mini-button-icon {
        display: none;
    }
    .mini-button-loading-icon {
        width: 0.16rem;
        height: 0.16rem;
        vertical-align: middle;
        will-change: transform;
        #rotate_animation(1s);
    }
    // #loading-common() {
    //     width: 0.16rem;
    //     height: 0.16rem;
    //     vertical-align: middle; // <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024" width="128" height="128" fill="#fff" ><path d="M988 548c-19.9 0-36-16.1-36-36 0-59.4-11.6-117-34.6-171.3a440.45 440.45 0 0 0-94.3-139.9 437.71 437.71 0 0 0-139.9-94.3C629 83.6 571.4 72 512 72c-19.9 0-36-16.1-36-36s16.1-36 36-36c69.1 0 136.2 13.5 199.3 40.3C772.3 66 827 103 874 150c47 47 83.9 101.8 109.7 162.7 26.7 63.1 40.2 130.2 40.2 199.3.1 19.9-16 36-35.9 36z"></path></svg>
    //     background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1024 1024' width='128' height='128' fill='%23fff'%3E%3Cpath d='M988 548c-19.9 0-36-16.1-36-36 0-59.4-11.6-117-34.6-171.3a440.45 440.45 0 0 0-94.3-139.9 437.71 437.71 0 0 0-139.9-94.3C629 83.6 571.4 72 512 72c-19.9 0-36-16.1-36-36s16.1-36 36-36c69.1 0 136.2 13.5 199.3 40.3C772.3 66 827 103 874 150c47 47 83.9 101.8 109.7 162.7 26.7 63.1 40.2 130.2 40.2 199.3.1 19.9-16 36-35.9 36z'/%3E%3C/svg%3E") center/100% no-repeat;
    //     content: '';
    //     will-change: transform;
    //     #rotate_animation(1s);
    // }
    &.mini-button-iconTop .mini-button-loading-icon {
        display: block;
        margin: 4px auto 0;
        margin: 0.04rem auto 0;
        // #loading-common();
        #miniIconHeight();
    }
    &.mini-button-iconRight .mini-button-loading-icon {
        display: inline-block;
        margin-left: 4px;
        margin-left: 0.04rem;
        // #loading-common();
    }
    &.mini-button-iconBottom .mini-button-loading-icon {
        display: block;
        margin: 0 auto 4px;
        margin: 0 auto 0.04rem;
        // #loading-common();
        #miniIconHeight();
    }
    &.mini-button-textOnly .mini-button-loading-icon,
    &.mini-button-iconLeft .mini-button-loading-icon {
        display: inline-block;
        margin-right: 4px;
        margin-right: 0.04rem;
        // #loading-common();
    }
    &.mini-button-iconOnly .mini-button-loading-icon {
        display: block;
        margin-left: auto;
        margin-right: auto;
        // #loading-common();
        #miniIconHeight();
    }
}

// 禁用
.mini-button-disabled,
.mini-button-disabled:hover,
.mini-button-disabled:active {
    // color: rgba(0, 0, 0, 0.25);
    color: @disabled-color !important;
    background-color: @disabled-bg !important;
    border-color: #d9d9d9 !important;
    box-shadow: none;
    cursor: not-allowed;

    &.mini-button-plain {
        border-color: transparent !important;
        background: transparent !important;
    }
}
