.mini-calendar {
    border: 1px solid @split-color;
    font-size: 12px;
    font-size: 0.12rem;
    // font-family: Tahoma, Verdana, 宋体;
    border-collapse: collapse;
    border-collapse: separate;
    user-select: none;
    color: @text-color;
    background: #fff;
}
.mini-popup .mini-calendar {
    overflow: hidden;
}
.mini-calendar td {
    // line-height: 14px;
}
.mini-calendar-views {
    width: 100%;
    height: 100%;
}
.mini-calendar-view {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    border-collapse: separate;

    display: table;
}
.mini-calendar-daysheader {
    height: 32px;
    color: @black-color-2;
    td {
        padding: 4px;
        border-bottom: solid 1px transparent;

        cursor: default;
        vertical-align: middle;
    }
}
.mini-calendar-weeknumber {
    border: 0;
    font-size: 10px;
    color: #bfbfbf;
    cursor: default;
}
.mini-calendar-date {
    border: solid 1px transparent;
    text-align: center;
    vertical-align: middle;
    padding: 3px;
    padding-left: 4px;
    padding-right: 4px;
    line-height: 14px;
    line-height: 0.14rem;
    color: @text-color;
    cursor: pointer;
    border-radius: @border-radius; 

    &:hover {
        background-color: #eaeaea;
        color: @black-color;
    }
}
.mini-calendar-today {
    color: @theme-color;
    border: 1px dashed @border-color;
}
.mini-calendar-weekend {
    color: @black-color-2;
    // color: rgba(@text-color, 0.7);
}

.mini-calendar-othermonth {
    color: @black-color-3;
    // color: rgba(@text-color, 0.4);
}

.mini-calendar-selected,
.mini-calendar-selected:hover {
    color: #fff;
    border-color: @theme-color;
    background: @theme-color;
    box-shadow: 0 0 6px rgba(@theme-color, .6);
}

.mini-calendar-space {
    width: 7px;
}
.mini-calendar-bottom td {
    height: 3px;
}

/* header */
.mini-calendar-header {
    height: 36px;
    border-bottom: 1px solid @split-color;
    text-align: center;
}
.mini-calendar-headerInner {
    position: relative;
    height: 100%;
}
.mini-calendar-title {
    cursor: pointer;
    position: relative;
    font-size: 13px;
    font-size: 0.13rem;
    #miniui-base-lineHeight(36px);
    color: #666;
    vertical-align: top;
    display: inline-block;
    &:hover {
        color: @theme-color;
    }
}
.mini-calendar-prev,
.mini-calendar-next {
    position: absolute;
    top: 50%;
    margin-top: -16px / 2;
    margin-top: -16px / 2 / 100px * 1rem;
    left: 15px;
    overflow: hidden;
    #miniui-base-height(16px);
    width: auto;
}
.mini-calendar-next {
    left: auto;
    right: 15px;
}
.mini-calendar-yearPrev,
.mini-calendar-yearNext,
.mini-calendar-monthPrev,
.mini-calendar-monthNext {
    display: inline-block;
    vertical-align: top;
    margin-right: 8px;
    cursor: pointer;
    width: 16px;
    width: 0.16rem;
    #miniui-base-height(16px);

    overflow: hidden;
    &:hover {
        color: @theme-color;
    }
}
.mini-calendar-yearPrev {
    margin-right: 20px;
    &:before {
        content: '\e705';
    }
}
.mini-calendar-yearNext {
    margin: 0;
    margin-left: 20px;
    &:before {
        content: '\e70f';
    }
}
.mini-calendar-monthPrev {
    &:before {
        content: '\e70b';
    }
}

.mini-calendar-monthNext {
    margin: 0;
    margin-left: 8px;
    &:before {
        content: '\e712';
    }
}
/* footer */
.mini-calendar-footer {
    height: 26px;
    height: 0.26rem;
    padding: 8px 15px 8px 4px;
    border-top: 1px solid @split-color;
    background: #fff;
    text-align: right;
    > span:first-child {
        vertical-align: top;
        display: inline-block;
        #miniui-base-height(24px);
    }

    .mini-buttonedit-border {
        #miniui-base-height(24px);
        vertical-align: top;
        > .mini-buttonedit-input {
            #miniui-base-height(24px);
            font-size: 12px;
            font-size: 0.12rem;
        }
        .mini-buttonedit-up .mini-icon,
        .mini-buttonedit-down .mini-icon {
            line-height: 12px;
            line-height: 0.12rem;
            font-size: 12px;
            font-size: 0.12rem;
        }
        padding-right: 16px;
        padding-right: 0.16rem;
    }
    .mini-buttonedit > .mini-buttonedit-border {
        padding-right: 16px;
        padding-right: 0.16rem;
    }

    .mini-buttonedit .mini-buttonedit-button {
        width: 16px;
        width: 0.16rem;
    }
}

.mini-calendar-menu .mini-calendar-footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
}

.mini-calendar-footerSpace {
    display: inline-block;
    width: 8px;
}

.mini-calendar-button {
    border: 1px solid @border-color;
    display: inline-block;
    text-decoration: none;
    width: 50px;
    width: 0.5rem;
    text-align: center;
    outline: none;
    cursor: pointer;
    vertical-align: top;
    background: #fff;
    transition: all 0.2s ease-out;

    border-radius: @border-radius;

    #miniui-base-height(24px);

    & + & {
        margin-left: 4px;
        margin-left: 0.04rem;
    }
    &:hover {
        color: @theme-color;
        border-color: #afd1ee;
    }
}

.mini-calendar-menu {
    width: 250px;
    width: 2.5rem;
    font-size: 12px;
    font-size: 0.12rem;
    border: @split-color 1px solid;
    background: white;
    position: absolute;
    z-index: 10000000;
    overflow: hidden;
    border-radius: @border-radius;
}
.mini-calendar-menu-months {
    margin-top: 15px;
    margin-bottom: 15px;
    height: 90px;
    height: .9rem;
    margin-left: 12px;
    margin-right: 12px;
}
.mini-calendar-menu-month {
    float: left;
    width: 26px;
    width: calc(100% / 4 - 20px);
    #miniui-base-height(90px / 3 - 2px  - 4px);
    box-sizing: border-box;
    margin: 4px 10px 2px 10px;
    text-align: center;
    color: @text-color;
    text-decoration: none;
    border: solid 1px transparent;
    outline: none;
    transition: all 0.2s ease-out;
    border-radius: @border-radius;
    &:hover {
        background: @theme-color;
        border-color: @theme-color;
        color: #fff;
    }
}
.mini-calendar-menu-years {
    position: relative;
    height: 56px;
    height: .56rem;
    margin: 0;
    padding: 10px 14px;
    padding: .10rem .14rem;
}
.mini-calendar-menu-year {
    float: left;
    text-align: center;
    #miniui-base-height(24px);
    text-decoration: none;
    border: solid 1px transparent;
    padding: 0;
    width: 33px;
    width: calc(100% / 5 - 2px);
    margin-right: 2px;
    margin-bottom: 4px;
    border-radius: @border-radius;
    box-sizing: border-box;
    color: @text-color;
    transition: all 0.2s ease-out;

    &:hover {
        background: @theme-color;
        border-color: @theme-color;
        color: #fff;
    }
}

.mini-calendar-menu-prevYear,
.mini-calendar-menu-nextYear {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -16px / 2;
    margin-top: -16px / 2 / 100px * 1rem;
    width: 14px;
    width: .14rem;
    #miniui-base-lineHeight(16px);
    cursor: pointer;
    transition: all 0.2s ease-out;
    &:hover {
        color: @theme-color;
    }
}
.mini-calendar-menu-prevYear {
    &:before {
        content: '\e70b';
    }
}
.mini-calendar-menu-nextYear {
    left: auto;
    right: 0;
    &:before {
        content: '\e712';
    }
}
.mini-calendar-timespinner {
    width: 68px;
    width: .68rem;
}

.mini-datepicker .mini-buttonedit-trigger .mini-buttonedit-icon {
    background: none;
}
.mini-datepicker .mini-buttonedit-trigger .mini-buttonedit-icon:before {
    content: '\e71d';
}

.mini-calendar-menu-selected,
.mini-calendar-menu-selected:hover,
.mini-calendar-menu-year:hover {
    color: #fff;
    border: 1px solid @theme-color;
    background: @theme-color;
    box-shadow: 0 0 6px rgba(@theme-color, .6);
}

.mini-calendar-disabled,
.mini-calendar-disabled:hover {
    cursor: not-allowed;
    text-decoration: line-through;
    color: @disabled-color;
    background: transparent;
}

// .mini-calendar,
// .mini-calendar-daysheader td,
// .mini-calendar-days td,
// .mini-calendar-menu-month,
// .mini-calendar-menu-year {
//     font-family: Tahoma, 宋体;
// }
