.mini-checkbox {
    position: relative;
}
.mini-checkbox label {
    vertical-align: middle;
}
.mini-checkbox-check,
.mini-checkbox-icon {
    padding: 0;
    margin: 0;
    margin-right: 6px;
    vertical-align: middle;
    width: 13px;
    height: 13px;
    display: inline-block;
    overflow: hidden;
    color: @black-color-4;
}

.mini-checkbox-checked .mini-checkbox-icon {
    background-position: 0 -13px;
}

.mini-checkbox-check {
    display: none;
}

// ext

.mini-checkbox-check,
.mini-checkbox-icon {
    width: 16px;
    width: .16rem;
    height: 16px;
    height: .16rem;
    line-height: 16px;
    line-height: .16rem;
    background: none;
    outline: none;
}

.mini-checkbox-checked .mini-checkbox-icon {
    background: none;
    color: @theme-color;
}
.mini-disabled.mini-checkbox-checked .mini-checkbox-icon {
    color: @disabled-color;
    cursor: not-allowed;
}
.mini-checkbox-check:before,
.mini-checkbox-icon:before {
    content: '\e725';
}
.mini-checkbox-checked .mini-checkbox-icon:before {
    content: '\e6f6';
}
.mini-checkbox-check {
    display: none;
}

.mini-checkbox label {
    cursor: pointer;
}

.mini-checkbox.mini-disabled label {
    cursor: not-allowed;
}

/* 新增 switch 模式 */

.mini-checkbox.switch .mini-checkbox-icon {
    width: 30px;
    background: @black-color-4;
    border-radius: 8px;
    position: relative;
    transition: all 0.1s ease-out;
    cursor: pointer;
}

.mini-checkbox.switch .mini-checkbox-check:focus,
.mini-checkbox.switch .mini-checkbox-icon:focus {
    outline: none;
}

.mini-checkbox.switch .mini-checkbox-icon:before {
    position: absolute;
    top: 1px;
    left: 1px;
    content: '';
    width: 14px;
    height: 14px;
    border-radius: 50%;
    display: block;
    background: #fff;
    transition: all 0.1s ease-out;
}

.switch.mini-checkbox-checked .mini-checkbox-icon {
    background: @theme-color;
}
.mini-disabled.switch.mini-checkbox-checked .mini-checkbox-icon {
    background: @disabled-color;
}

.switch.mini-checkbox-checked .mini-checkbox-icon:before {
    left: auto;
    right: 1px;
}

.mini-checkboxlist {
    overflow: hidden;
    position: relative;
}

.mini-checkboxlist-item {
    display: inline-block;

    zoom: 1;
    margin-right: 16px;
    cursor: default;
}
.mini-checkboxlist table label {
    padding-left: 8px;
    display: inline-block;
    vertical-align: middle;
}
.mini-checkboxlist input,
.mini-radiobuttonlist input {
    overflow: hidden;
    vertical-align: middle;

    margin: 0;
    padding: 0;
}

/* radiobuttonlist */
.mini-radiobuttonlist {
    position: relative;
    overflow: hidden;
}

.mini-radiobuttonlist-item {
    display: inline-block;
    margin-right: 10px;
}
.mini-radiobuttonlist table label {
    padding-left: 8px;
    display: inline-block;
    vertical-align: middle;
}
.mini-radiobuttonlist input {
    overflow: hidden;
    vertical-align: middle;
    width: 14px;
    height: 14px;

    margin: 0;
    padding: 0;
}

.mini-disabled .mini-checkboxlist-item {
    color: @disabled-color;
    cursor: default;
    opacity: 0.7;
    filter: alpha(opacity=70);
}

/* radiobuttonlist */
.mini-radiobuttonlist-item,
.mini-checkboxlist-item {
    // line-height: 30px;
    // height: 30px;
    #miniui-base-height(32px);
    white-space: nowrap;
    user-select: none;
}

.mini-list-icon {
    width: 14px;
    width: .14rem;
    #miniui-base-height(14px);
    // (32 - 14)/ 2
    margin-top: 9px;
    margin-top: .09rem;
    outline: none;
    vertical-align: top;
    display: inline-block;
    color: @black-color-4;
}

.mini-checkboxlist-item-selected .mini-list-icon {
    background: none;
    color: @theme-color;
}

.mini-radiobuttonlist-item .mini-list-icon {
    background: none;
}

.mini-radiobuttonlist-item-selected .mini-list-icon {
    background: none;
    color: @theme-color;
}

.mini-list-icon:before {
    content: '\e725';
}
.mini-checkboxlist-item-selected .mini-list-icon:before {
    content: '\e6f6';
}
// .mini-disabled .mini-checkboxlist-item-selected .mini-list-icon:before {
//     content: '\e718';
// }
.mini-radiobuttonlist-item .mini-list-icon:before {
    content: '\e708';
}
.mini-radiobuttonlist-item-selected .mini-list-icon:before {
    content: '\e706';
}
.mini-checkboxlist-item label,
.mini-radiobuttonlist-item label {
    cursor: pointer;
}
.mini-disabled .mini-checkboxlist-item label,
.mini-disabled .mini-radiobuttonlist-item label {
    cursor: not-allowed;
}

.mini-disabled .mini-checkboxlist-item-selected .mini-list-icon,
.mini-disabled .mini-radiobuttonlist-item-selected .mini-list-icon {
    color: @disabled-color;
}
.mini-checkboxlist table label,
.mini-radiobuttonlist table label {
    vertical-align: top;
}
.mini-checkboxlist-td {
    vertical-align: top;
}
