html {
    padding: 0;
    border: 0;
    margin: 0;
    font-size: 100px;
}
html,
body {
    height: 100%;
    overflow: hidden;
}

body {
    font-size: 14px;
    font-family: arial, 'Microsoft YaHei';
    #miniui-base-lineHeight();
    color: @text-color;
}

table {
    position: relative;
}

/*--------------------- 工具类 ---------------------*/
.hidden {
    display: none !important;
}

.invisible {
    visibility: hidden !important;
}

.clearfix {
    *zoom: 1;
}

.clearfix:before,
.clearfix:after {
    line-height: 0;
    display: table;
    content: '';
}

.clearfix:after {
    clear: both;
}
/*--------------------- end ---------------------*/

.mini-iconfont {
    display: inline-block;
    font: normal normal normal 14px/1 ActionIcon;
    font-size: 0.14rem;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
    font-size: 16px;
    line-height: 16px;
    text-align: center;
}
.action-icon:hover {
    color: @theme-color;
}

.mini-disabled {
    color: @disabled-color !important;
    cursor: not-allowed !important;
    * {
        cursor: not-allowed !important;
    }
}
.mini-repaint {
    zoom: 1;
    background-color: transparent;
}
.mini-modal {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    filter: alpha(opacity=10);
    background: #ccc;
    background: rgba(0, 0, 0, .2);
}

.mini-modal iframe {
    opacity: 0;
    filter: alpha(opacity=0);
}

.mini-shadow {
    position: absolute;
    overflow: hidden;
    background: transparent;
    z-index: 99;
    #miniui-default-box-shadow();
}

.mini-popup {
    background: white;
    border: 1px solid @split-color;
    border: 0 rgba(0,0,0,.4);
    overflow: auto;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: @border-radius;
    #miniui-default-box-shadow();
}

.mini-proxy {
    position: absolute;
    overflow: hidden;
    z-index: 100000000;
    opacity: 0.4;
    background: gray;
    filter: alpha(opacity=40);
}

/* mask
-----------------------------------------------------------------------------*/

.mini-mask {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
}
.mini-fixed {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.mini-mask-background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    background: #000;
    filter: alpha(opacity=30);
}
.mini-mask-msg {
    position: absolute;
    cursor: wait;
    left: 50%;
    top: 50%;
    width: auto;
    color: #222;
    font-family: tahoma, arial, verdana, sans-serif;
    font-size: 12px;
}
.mini-mask-loading {
    width: 60px;
    height: 60px;
    padding: 0;
    border: 0;
    text-indent: -9999em;
    background: url('@{images-dir}/ajaxloading.gif') no-repeat 50% 50%;
}

/* tools */
.mini-tools {
    position: absolute;
    top: 5px;
    right: 5px;
}
.mini-tools span {
    display: inline-block;
    width: 15px;
    height: 15px;
    overflow: hidden;
    cursor: pointer;
    margin-left: 2px;
}
/*
.mini-tools-close {
    background: url('@{images-dir}/tools/close.gif') no-repeat 50% 1px;
}
.mini-tools .mini-tools-collapse {
    background: url('@{images-dir}/tools/collapse.gif') no-repeat 50% 50%;
    width: 13px;
}
.mini-tools .mini-tools-expand {
    background: url('@{images-dir}/tools/expand.gif') no-repeat 50% 50%;
    width: 13px;
    _background-position: 50% 3px;
}
.mini-tools-max {
    background: url('@{images-dir}/tools/max.gif') no-repeat 50% 50%;
    _background-position: 50% 3px;
}
.mini-tools-min {
    background: url('@{images-dir}/tools/min.gif') no-repeat 50% 50%;
    _background-position: 50% 3px;
}
.mini-tools-restore {
    background: url('@{images-dir}/tools/restore.gif') no-repeat 50% 50%;
    _background-position: 50% 3px;
}
.mini-tools-refresh {
    background: url('@{images-dir}/tools/refresh.gif') no-repeat 50% 50%;
    _background-position: 50% 3px;
}
*/
/* toolbar */
.mini-toolbar {
    position: relative;
    padding: 8px;
    border: solid 1px @border-color;;
    background: #eeeded;
}
.separator {
    overflow: hidden;
    display: inline-block;
    zoom: 1;
    border: 0;
    border-left: solid 1px @split-color;
    margin: 0;
    margin-top: 0px;
    height: 18px;
    vertical-align: top;
    margin-left: 8px;
    margin-right: 8px;
}

/* drag
-----------------------------------------------------------------------------*/

.mini-drag-proxy {
    position: absolute;
    overflow: hidden;
    z-index: 100000000;
    background: rgba(@black-color-2, .3);
    border: solid 1px @split-color;
    border: 0 rgba(0,0,0,.4);
    // opacity: 0.3;border
    border-radius: @border-radius;
    overflow: hidden;
    filter: alpha(opacity=30);
    box-sizing: content-box;
    // #miniui-default-box-shadow();
}
@supports (-webkit-backdrop-filter:none) or (backdrop-filter:none) {
    .mini-drag-proxy {
        // background: hsla(0, 0%, 100%, .75);
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
    }
}

.mini-feedback-line {
    position: absolute;
    left: -1000px;
    top: -1000px;
    z-index: 2000080;
    height: 1px;
    overflow: hidden;
    background: @theme-color;
}

.mini-feedback {
    position: absolute;
    left: -1000px;
    top: -1000px;
    background: no-repeat 3px 50% white;
    z-index: 2000090;
    border: solid 1px #aaa;
    padding: 3px;
    padding-left: 22px;
    padding-bottom: 5px;
    padding-right: 5px;
    font: normal 12px tahoma, arial, helvetica, sans-serif;
    line-height: 16px;
}
.mini-feedback-add {
    background-image: url('@{images-dir}/dragdrop/drop-add.gif');
}
.mini-feedback-before {
    background-image: url('@{images-dir}/dragdrop/drop-over.gif');
}
.mini-feedback-after {
    background-image: url('@{images-dir}/dragdrop/drop-under.gif');
}
.mini-feedback-no {
    background-image: url('@{images-dir}/dragdrop/drop-no.gif');
}
.mini-feedback-yes {
    background-image: url('@{images-dir}/dragdrop/drop-yes.gif');
}
.mini-supergrid-feedback-add .mini-supertree-nodetext {
    border: dotted 1px #aaa;
    background: #ddd;
    font-weight: bold;
}
body .mini-tree-feedback-add .mini-tree-nodeshow,
body .mini-tree-feedback-add .mini-treegrid-nodeshow {
    border: dotted 1px #aaa;
    background: #ddd;
    padding: 0;
    padding-left: 1px;
    padding-right: 2px;
}

/* resizer */
.mini-resizer-trigger {
    z-index: 100;
    position: absolute;
    width: 14px;
    height: 12px;
    right: 1px;
    bottom: 1px;
    overflow: hidden;
    cursor: se-resize;
    // background: url('@{images-dir}/panel/resize.gif') no-repeat right bottom;
}
.mini-resizer-proxy {
    border: dotted 1px black;
    overflow: hidden;
    position: absolute;
    z-index: 10000000000;
    background: gray;
    opacity: 0.3;
    filter: alpha(opacity=30);
    border: solid 1px black;
}
.mini-resizer-mask {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100000000;
    background: white;
    opacity: 0;
    filter: alpha(opacity=0);
}

/* box */
.mini-box {
    overflow: hidden;
}
.mini-box-border {
    border: 1px solid #999999;
    overflow: auto;
    position: relative;
}

.mini-grid *,
.mini-supergird *,
.mini-gantt *,
.mini-panel *,
.mini-window * {
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -ms-box-sizing: content-box;
    -webkit-box-sizing: content-box;
}

.mini-textbox *,
.mini-buttonedit * {
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -ms-box-sizing: content-box;
    -webkit-box-sizing: content-box;
}

.mini-fit {
    width: auto;
    overflow: auto;
    position: relative;
}

/* error */
.mini-error {
    position: relative;
}
.mini-error .mini-errorIcon {
    display: block;
}
.mini-errorIcon {
    overflow: hidden;
    display: none;
    cursor: default;
    position: absolute;
    top: 50%;
    right: 8px;
    width: 16px;
    width: .16rem;
    height: 16px;
    height: .16rem;
    line-height: 16px;
    line-height: .16rem;
    margin-top: -8px;
    margin-top: -.08rem;
    font-family: ActionIcon !important;
    font-size: 16px;
    font-size: .16rem;
    text-align: center;
    transform: rotate(180deg);
    color: #de2a2a;


    &:before {
        content: '\e6fe';
    }
}
.mini-error .mini-listbox-border,
.mini-error .mini-list-border,
.mini-error .mini-textbox-border,
.mini-error .mini-buttonedit-border,

.mini-indent .mini-textbox-border,
.mini-indent .mini-buttonedit-border {
    margin-right: 16px + @base-padding * 2;
    margin-right: calc(.16rem + 16px);
}

/* labelfield */
.mini-labelfield-label {
    position: absolute;
    left: 0;
    top: 0;
    line-height: inherit;
    width: 100px;
    width: 1rem;
}
.mini-labelfield {
    display: block;
    width: 250px;
    margin-bottom: 5px;
}
.mini-labelfield-checkboxlist {
    width: auto;
}

.mini-col-1,
.mini-col-2,
.mini-col-3,
.mini-col-4,
.mini-col-5,
.mini-col-6,
.mini-col-7,
.mini-col-8,
.mini-col-9,
.mini-col-10,
.mini-col-11,
.mini-col-12,
.mini-sm .mini-col-sm-1,
.mini-sm .mini-col-sm-2,
.mini-sm .mini-col-sm-3,
.mini-sm .mini-col-sm-4,
.mini-sm .mini-col-sm-5,
.mini-sm .mini-col-sm-6,
.mini-sm .mini-col-sm-7,
.mini-sm .mini-col-sm-8,
.mini-sm .mini-col-sm-9,
.mini-sm .mini-col-sm-10,
.mini-sm .mini-col-sm-11,
.mini-sm .mini-col-sm-12,
.mini-md .mini-col-md-1,
.mini-md .mini-col-md-2,
.mini-md .mini-col-md-3,
.mini-md .mini-col-md-4,
.mini-md .mini-col-md-5,
.mini-md .mini-col-md-6,
.mini-md .mini-col-md-7,
.mini-md .mini-col-md-8,
.mini-md .mini-col-md-9,
.mini-md .mini-col-md-10,
.mini-md .mini-col-md-11,
.mini-md .mini-col-md-12,
.mini-lg .mini-col-lg-1,
.mini-lg .mini-col-lg-2,
.mini-lg .mini-col-lg-3,
.mini-lg .mini-col-lg-4,
.mini-lg .mini-col-lg-5,
.mini-lg .mini-col-lg-6,
.mini-lg .mini-col-lg-7,
.mini-lg .mini-col-lg-8,
.mini-lg .mini-col-lg-9,
.mini-lg .mini-col-lg-10,
.mini-lg .mini-col-lg-11,
.mini-lg .mini-col-lg-12 {
    float: left;
    display: inline;
    position: relative;
    min-height: 1px;
}

.mini-col-12,
.mini-sm .mini-col-sm-12 {
    width: 100%;
}
.mini-col-11,
.mini-sm .mini-col-sm-11 {
    width: 91.66666667%;
}
.mini-col-10,
.mini-sm .mini-col-sm-10 {
    width: 83.33333333%;
}
.mini-col-9,
.mini-sm .mini-col-sm-9 {
    width: 75%;
}
.mini-col-8,
.mini-sm .mini-col-sm-8 {
    width: 66.66666667%;
}
.mini-col-7,
.mini-sm .mini-col-sm-7 {
    width: 58.33333333%;
}
.mini-col-6,
.mini-sm .mini-col-sm-6 {
    width: 50%;
}
.mini-col-5,
.mini-sm .mini-col-sm-5 {
    width: 41.66666667%;
}
.mini-col-4,
.mini-sm .mini-col-sm-4 {
    width: 33.33333333%;
}
.mini-col-3,
.mini-sm .mini-col-sm-3 {
    width: 25%;
}
.mini-col-2,
.mini-sm .mini-col-sm-2 {
    width: 16.66666667%;
}
.mini-col-1,
.mini-sm .mini-col-sm-1 {
    width: 8.33333333%;
}

.mini-md .mini-col-md-12 {
    width: 100%;
}
.mini-md .mini-col-md-11 {
    width: 91.66666667%;
}
.mini-md .mini-col-md-10 {
    width: 83.33333333%;
}
.mini-md .mini-col-md-9 {
    width: 75%;
}
.mini-md .mini-col-md-8 {
    width: 66.66666667%;
}
.mini-md .mini-col-md-7 {
    width: 58.33333333%;
}
.mini-md .mini-col-md-6 {
    width: 50%;
}
.mini-md .mini-col-md-5 {
    width: 41.66666667%;
}
.mini-md .mini-col-md-4 {
    width: 33.33333333%;
}
.mini-md .mini-col-md-3 {
    width: 25%;
}
.mini-md .mini-col-md-2 {
    width: 16.66666667%;
}
.mini-md .mini-col-md-1 {
    width: 8.33333333%;
}

.mini-lg .mini-col-lg-12 {
    width: 100%;
}
.mini-lg .mini-col-lg-11 {
    width: 91.66666667%;
}
.mini-lg .mini-col-lg-10 {
    width: 83.33333333%;
}
.mini-lg .mini-col-lg-9 {
    width: 75%;
}
.mini-lg .mini-col-lg-8 {
    width: 66.66666667%;
}
.mini-lg .mini-col-lg-7 {
    width: 58.33333333%;
}
.mini-lg .mini-col-lg-6 {
    width: 50%;
}
.mini-lg .mini-col-lg-5 {
    width: 41.66666667%;
}
.mini-lg .mini-col-lg-4 {
    width: 33.33333333%;
}
.mini-lg .mini-col-lg-3 {
    width: 25%;
}
.mini-lg .mini-col-lg-2 {
    width: 16.66666667%;
}
.mini-lg .mini-col-lg-1 {
    width: 8.33333333%;
}

.mini-clearfix:after,
.mini-row:after {
    display: table;
    content: ' ';
    clear: both;
}

.mini-xs-active .mini-hidden-xs,
.mini-sm-active .mini-hidden-sm,
.mini-md-active .mini-hidden-md,
.mini-lg-active .mini-hidden-lg {
    display: none !important;
}

.mini-visible-xs,
.mini-visible-sm,
.mini-visible-md,
.mini-visible-lg,
.mini-visible-xs-inline,
.mini-visible-sm-inline,
.mini-visible-md-inline,
.mini-visible-lg-inline,
.mini-visible-xs-inline-block,
.mini-visible-sm-inline-block,
.mini-visible-md-inline-block,
.mini-visible-lg-inline-block {
    display: none !important;
}

.mini-xs-active .mini-visible-xs,
.mini-sm-active .mini-visible-sm,
.mini-md-active .mini-visible-md,
.mini-lg-active .mini-visible-lg {
    display: block !important;
}

.mini-xs-active .mini-visible-xs-inline,
.mini-sm-active .mini-visible-sm-inline,
.mini-md-active .mini-visible-md-inline,
.mini-lg-active .mini-visible-lg-inline {
    display: inline !important;
}

.mini-xs-active .mini-visible-xs-inline-block,
.mini-sm-active .mini-visible-sm-inline-block,
.mini-md-active .mini-visible-md-inline-block,
.mini-lg-active .mini-visible-lg-inline-block {
    display: inline-block !important;
    *display: inline !important;
    *zoom: 1 !important;
}

.mini-sm-active table.mini-visible-sm,
.mini-md-active table.mini-visible-md,
.mini-lg-active table.mini-visible-lg {
    display: table !important;
}

.mini-xs-active tr.mini-visible-xs,
.mini-sm-active tr.mini-visible-sm,
.mini-md-active tr.mini-visible-md,
.mini-lg-active tr.mini-visible-lg {
    display: table-row !important;
}

.mini-xs-active td.mini-visible-xs,
.mini-sm-active td.mini-visible-sm,
.mini-md-active td.mini-visible-md,
.mini-lg-active td.mini-visible-lg {
    display: table-cell !important;
}
