// 关于 grid 的一些扩展增强样式

// #region 操作列
.mini-actioncolumn {
    &-cell {
    }
    &-wrap {
        height: 100%;
        user-select: none;
        & > .action-icon {
            font-size: 14px;
            font-size: 0.14rem;
            color: @theme-color;
            margin-left: 16px;
            width: 16px;
            height: 100%;
            line-height: inherit;
            transition: all 0.2s ease-out;
            text-align: center;
            &:first-child {
                margin-left: 0;
            }

            &:hover {
                color: @theme-color-1;
            }
            &.active {
                color: @theme-color-1;
            }
        }
        & > .action-text {
            display: inline-block;
            font-size: 14px;
            font-size: 0.14rem;
            color: @theme-color;
            margin-left: 8px;
            width: 54px;
            height: 100%;
            line-height: inherit;
            transition: all 0.2s ease-out;
            text-align: center;
            cursor: pointer;
            &:first-child {
                margin-left: 0;
            }

            &:hover {
                color: @theme-color-1;
            }
            &.active {
                color: @theme-color-1;
            }

            &.asBtn {
                vertical-align: middle;
                height: 26px;
                height: .26rem;
                line-height: 26px;
                line-height: .26rem;
                border-radius: @border-radius;
                color: @text-color;
                border: 1px solid @border-color;
                &:hover,
                &.active  {
                    border-color: @theme-color;
                    color: @theme-color;
                }
            }
        }
    }
}
// #endregion

// #region 表头筛选
.mini-datagrid-headerfilter {
    &-popup {
        .mini-panel-footer {
            text-align: center;
            padding: 8px;
        }
    }
    &-trigger {
        transition: color 0.2s ease-out;
        &.active,
        &.show {
            color: @theme-color;
        }
    }
}
// #endregion
