.mini-menu {
    border-collapse: collapse;
    border-collapse: separate;
    background: #fff;
    font-size: 12px;
    font-size: .12rem;
}
.mini-menu-border {
    border: 1px solid @border-color;
    border: 0 rgba(0, 0, 0, 0.3);
    #miniui-default-box-shadow();
    overflow: hidden;
    position: relative;
    border-radius: @border-radius;
    padding: 4px 0;
    #miniui-base-lineHeight(28px);
}
.mini-menu-inner {
    overflow: hidden;
    position: relative;
}
.mini-menu-topArrow,
.mini-menu-bottomArrow {
    height: 9px;
    overflow: hidden;
    display: none;
    // background: url('@{images-dir}/menu/top-arrow.gif') no-repeat 50% 2px;
}
// .mini-menu-bottomArrow {
//     background: url('@{images-dir}/menu/bottom-arrow.gif') no-repeat 50% 2px;
// }
.mini-menu-float {
    position: relative;
    overflow: hidden;
}

.mini-menuitem {
    position: relative;
    cursor: pointer;
    // border: 1px solid transparent;
    border: none;
}

.mini-menu-popup,
.mini-menuitem-selected {
    background: @item-selected-bg;
    color: @theme-color;
}
.mini-menuitem-hover {
    background: @item-hover-bg;
}

.mini-menuitem-inner {
    position: relative;
    padding-right: 30px;
    padding-right: 0.3rem;
    padding-left: 30px;
    padding-left: 0.3rem;
}
.mini-menuitem-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: keep-all;
}

// .mini-disabled .mini-menuitem-text {
//     opacity: 0.7;
//     -moz-opacity: 0.7;
//     filter: alpha(opacity=70);
// }

.mini-menuitem-icon,
.mini-menuitem-allow {
    overflow: hidden;
    position: absolute;
    top: 50%;
    display: none;
    width: 30px;
    width: 0.3rem;
    height: 28px;
    height: 0.28rem;
    margin-top: -14px;
    margin-top: -0.14rem;
    text-align: center;
    #miniui-base-lineHeight(28px);
    color: inherit;
}
.mini-menuitem-icon {
    left: 0;
}
.mini-menuitem-allow {
    left: auto;
    right: 0;
}

.mini-menuitem-icontop .mini-menuitem-inner {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 7px;
    margin-right: 10px;
}

.mini-menuitem-icontop .mini-menuitem-icon {
    position: static;
    margin: auto;
}
.mini-menuitem-icontop .mini-menuitem-text {
    padding: 0;
    padding-top: 5px;
}

.mini-separator {
    display: block;
    margin: 1px 0 1px 0;
    border-top: solid 1px @split-color;
}

/* menu horizontal */
.mini-menu-horizontal {
    .mini-menu-border {
        padding: 0;
        box-shadow: none !important;
        border-radius: 0;
        border-bottom-color: @border-color;
    }
    .mini-menu-inner {
        margin: 0;
        border: 0;

        height: auto;
        overflow: hidden;
    }
    .mini-menuitem {
        float: left;
        display: inline;
    }
    .mini-menuitem-inner {
        padding: 0 16px;
        padding: 0 0.16rem;
        overflow: hidden;
    }
    .mini-menuitem-icon,
    .mini-menuitem-text,
    .mini-menuitem-allow {
        position: static;
        top: 0;
        left: auto;
        right: auto;
        float: left;
        vertical-align: middle;
        display: inline-block;
        margin-top: 0;
        margin-top: 0;
    }

    .mini-menuitem-icon,
    .mini-menuitem-allow {
        display: none;
    }
    .mini-menuitem-icon {
        &:empty {
            display: none;
        }
    }
    .mini-menuitem-allow {
        overflow: hidden;
    }
    .mini-separator {
        float: left;
        display: inline;
        border: 0;
        border-left: solid 1px @split-color;
        margin: 0 1px;
        height: 12px;
        height: 0.12rem;
        margin-top: 9px;
        margin-top: 0.09rem;
    }
    .mini-menu-toolbar {
        display: none;
    }
    .mini-menu-float {
        float: left;
    }

    .mini-menuitem-allow:before {
        content: '\e724';
    }
}

.mini-menu-toolbar {
    display: none;
    float: right;
}

.mini-menu-overflow .mini-menu-float {
    width: 20000px;
}

.mini-menu-overflow .mini-menu-topArrow,
.mini-menu-overflow .mini-menu-bottomArrow {
    position: absolute;
    top: 3px;
    left: 0;
    width: 17px;
    height: 20px;
    z-index: 1000;
    // background: url('@{images-dir}/tabs/allow_left.gif') no-repeat scroll -1px 50%;
}

.mini-menu-overflow .mini-menu-bottomArrow {
    left: auto;
    right: 0;
    // background: url('@{images-dir}/tabs/allow_right.gif') no-repeat scroll -1px 50%;
}

.mini-menu-popup,
.mini-menuitem-hover {
    //
}

.mini-menuitem-allow:before {
    content: '\e712';
    /* background : url('@{images-dir}/menu_ext/arrow.png') center center no-repeat; */
}

.mini-menuitem-checked .mini-menuitem-icon {
    background: none;
    font-size: 12px;
}
.mini-menuitem-checked .mini-menuitem-icon:before {
    content: '\e6e7';
}
