.mini-pager {
    width: auto;
    overflow: hidden;

    position: relative;
    padding: 8px 0;
    #miniui-base-lineHeight(30px);

    .mini-button {
        margin-right: 4px;
        border-color: transparent;
    }
    .mini-button-iconOnly,
    .mini-buttonedit-button {
        width: 28px;
        width: 0.28rem;
    }
    .mini-button-iconOnly,
    .mini-button-iconOnly .mini-button-icon {
        #miniui-base-lineHeight(28px);
    }

    .mini-combobox {
        width: 70px;
        width: 0.7rem;
    }
    .mini-buttonedit-border,
    .mini-buttonedit-input {
        #miniui-base-height(28px);
    }
    .mini-buttonedit-border {
        padding-right: 28px;
        padding-right: .28rem;
    }

    .separator {
        margin-top: (30px - 18px ) / 2;
        margin-top: calc( (.3rem - 18px ) / 2 );
    }
}

.mini-pager-left {
    overflow: hidden;

    float: left;
    position: relative;
    line-height: 0;
}

.mini-pager-right {
    float: right;
    // line-height: 35px;
}

.mini-pager-num {
    border: 1px solid @border-color;
    margin: 0;
    padding: 0;
    width: 36px;
    width: 0.36rem;
    text-align: center;
    outline: none;
    transition: all .2s ease-out;

    position: relative;
    border-radius: @border-radius;
    #miniui-base-height(28px);
}

.mini-pager-pages {
    padding-left: 5px;
    padding-right: 5px;
    display: inline-block;
}
.mini-pager-size {
    display: inline-block;

    vertical-align: top;

    font-size: 0;
    line-height: 0px;
}

.mini-pager-index {
    vertical-align: top;

    overflow: hidden;
    line-height: 0;
}

.mini-pager-first,
.mini-pager-prev,
.mini-pager-next,
.mini-pager-last,
.mini-pager-reload {
    background: none;
}

.mini-page-buttons .mini-button,
.mini-page-buttons .mini-textbox,
.mini-page-buttons .mini-buttonedit {
    vertical-align: top;
}
.mini-page-buttons {
    position: relative;
}

.mini-pager-left table {
    float: left;
    height: 100%;
}

.mini-pager-sizetext {
    vertical-align: top;
    padding: 0 2px;
}

// .mini-pager .mini-button,
// .mini-pager .mini-button-icon {
//     color: @primary-color;
// }

.mini-pager-first:before {
    content: '\e705';
}
.mini-pager-prev:before {
    content: '\e70b';
}
.mini-pager-next:before {
    content: '\e712';
}
.mini-pager-last:before {
    content: '\e70f';
}
.mini-pager-reload:before {
    content: '\e70e';
}
.mini-pager .mini-button-plain:hover {
    border-color: @border-color;
    background: @item-hover-bg;
}
