.mini-panel {
    overflow: hidden;
    position: relative;
    outline: none;
}
.mini-panel-border {
    border: 1px solid @split-color;
    overflow: hidden;
    position: relative;
    border-radius: @border-radius;
}
.mini-panel-viewport {
    background: white;
}
.mini-panel .mini-panel-viewport {
    position: relative;
    overflow: hidden;
}
.mini-panel-header {
    width: auto;

    overflow: hidden;
    cursor: default;
    position: relative;
}

.mini-panel-header-inner {
    overflow: hidden;
}
.mini-panel .mini-panel-title {
    padding-top: 0px\9;
    float: left;
    line-height: 16px;
}
.mini-panel .mini-panel-icon {
    float: left;
    width: 16px;
    height: 16px;
    margin-top: (40px - 16px) / 2;
    overflow: hidden;
    vertical-align: top;
    margin-right: 8px;
    display: none;
}

.mini-panel-body {
    position: relative;
    padding: 8px;
    text-align: left;
    width: auto;
    overflow: auto;
    clear: both;
}

.mini-panel-toolbar {
    clear: both;
    border-bottom: solid 1px @split-color;
    background: #f5f5f5;

    width: auto;
    clear: both;
    position: relative;
    overflow: hidden;
    zoom: 1;
    padding: 8px 16px;
}

.mini-panel-footer {
    border-top: solid 1px @split-color;
    background: #f5f5f5;

    width: auto;
    position: relative;
    overflow: hidden;
    zoom: 1;
    padding: 8px 16px;
}
.mini-panel-toolbar,
.mini-panel-footer {
    .mini-button + [class^='mini-'],
    .mini-button + [class*='mini-'] {
        margin-left: 2 * @base-padding;
    }
}
.mini-panel-collapse .mini-panel-header {
    border-bottom: 0;
}

.mini-panel-titleclick .mini-panel-header {
    cursor: pointer;
}

/* window */
.mini-window {
    position: absolute;
}

.mini-window-drag .mini-panel-header {
    cursor: move;
}

.mini-window-max {
    position: fixed !important;
}

.mini-panel-header {
    height: 40px;
    line-height: 40px;
    padding-left: 16px;

    color: @black-color;
    border-bottom: 1px solid #f0f2f5;
    background: #fff;
    padding: 0;
}
.mini-window .mini-panel-header {
    height: 46px;
    line-height: 46px;
}
.mini-panel-header-inner {
    padding: 0 16px;
    position: relative;
}

.mini-panel .mini-panel-title {
    padding-right: 160px;
    font-size: 16px;
    font-size: .16rem;
    line-height: inherit;

    float: none;
    overflow: hidden;

    white-space: nowrap;
    text-overflow: ellipsis;
}

.mini-panel .mini-tools {
    position: absolute;
    top: 0;
    right: 6px;
    bottom: 0;
    height: 100%;
}

.mini-panel .mini-tools > span {
    margin-right: 0;
    margin-left: 1px;
    width: 32px;
    height: 100%;
    line-height: inherit;
    font-size: 12px;
    font-size: 0.12rem;
    text-align: center;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1);
    &.mini-tools-collapse {
        font-size: 18px;
        font-size: 0.18rem;
    }
}

.mini-tools > span:hover {
    background: transparent;
    color: @theme-color-1;
}
.mini-tools > .mini-tools-close:hover {
    color: @danger-color;
}

.mini-panel-icon {
    font-family: ActionIcon !important;

    display: none;
}

.mini-tools-refresh:hover {
    #rotate_animation();
}
.mini-tools-collapse {
    transform-origin: 50% 50%;
    transform: scale(.8);
    #bird-fly-common(6px, 2px, currentColor);
    #bird-fly-down();
}
.mini-panel-collapse .mini-tools-collapse {
    #bird-fly-up();
}
.ie8 {
    .mini-tools-collapse:before {
        position: static;
        display: inline;
        content: '\e724';
    }
    .mini-panel-collapse .mini-tools-collapse:before {
        position: static;
        display: inline;
        content: '\e710';
    }
}
.mini-tools-min:before {
    content: '\e702';
}
.mini-tools-max:before {
    content: '\e704';
}
.mini-tools-restore:before {
    content: '\e70c';
}
.mini-tools-refresh:before {
    content: '\e715';
}

.mini-window .mini-panel-border {
    // border-color: @split-color;
    #miniui-default-box-shadow();
}
