@tab-header-height: 36px;
.mini-tabs {
    overflow: hidden;
    position: relative;
}
.mini-tabs-table {
    border-collapse: collapse;
    border-collapse: separate;
    position: relative;
}
.mini-tabs-scrollCt {
    position: relative;
    z-index: 2;
}
.mini-tabs-headers {
    width: auto;
    padding: 0;

    position: relative;

    *zoom: 1;
}

.mini-tabs-header-bottom .mini-tabs-headers {
    border-top: 0;
    border-bottom-width: 1px;
    padding-top: 0;
    padding-bottom: 2px;
}
.mini-tabs-plain .mini-tabs-scrollCt {
    background: none;
    border-left: 0;
    border-top-width: 0;
    border-right: 0;
}
.mini-tabs-plain .mini-tabs-headers {
    padding-bottom: 0;
    padding-top: 0;
}

.mini-tabs-position-top .mini-tabs-headers,
.mini-tabs-position-bottom .mini-tabs-headers {
    width: auto;
    overflow: hidden;
}

// .mini-tabs-position-top .mini-tabs-header {
//     margin-bottom: -1px;
// }

.mini-tabs-position-top .mini-tabs-plain .mini-tabs-header {
    margin-top: 0px;
}

.mini-tabs-body {
    position: relative;
    overflow: auto;
    height: 100%;
}
.mini-tabs-hideOverflow {
    overflow: hidden;
}

.mini-tabs-bodys {
    position: relative;
    border: solid 1px @split-color;
    border-radius: @border-radius;
    padding: 8px;
    background: #fff;

    text-align: left;
    overflow: hidden;
}
.mini-tabs-header {
    width: 100%;
    border-collapse: separate;
    margin: 0;
    padding: 0;
    border: 0;
}
.mini-tabs-header2 {
    margin-bottom: 1px;
}
.mini-tabs-header2 .mini-tabs-firstSpace,
.mini-tabs-header2 .mini-tabs-lastSpace {
    border-bottom: 1px solid transparent;
}
.mini-tabs-space {
    padding: 0;
    border: none;
    > div {
        width: 10px;
    }
    &.mini-tabs-firstSpace > div {
        width: 0;
    }
    &.mini-tabs-lastSpace > div {
        width: auto;
        height: auto;
    }
}
.mini-tabs-space2 {
    padding: 0;
    width: 10px;
    border: none;
    > div {
        width: 10px;
    }
}

.mini-tab {
    text-align: center;
    cursor: pointer;
    line-height: @tab-header-height - 2px;
    height: @tab-header-height - 2px;
    line-height: (@tab-header-height - 2px) / 100px * 1rem;
    height: (@tab-header-height - 2px) / 100px * 1rem;
    position: relative;
    background: #f5f5f5;
    border-top-left-radius: @border-radius;
    border-top-right-radius: @border-radius;
    padding: 0 16px;
    padding: 0 0.16rem;
    white-space: nowrap;
    border: 1px solid transparent;
    border-bottom-color: @split-color;

    // border: none;
    // border-bottom:1px solid @split-color;

    &-active {
        border-color: @split-color;
        border-bottom-color: #fff;
        cursor: default;
        color: @theme-color;
        background: #fff;

        // border: 1px solid @split-color;
        // border-bottom:none;
    }
    &-hover .mini-tab-text {
        color: @theme-color;
    }
    &-active,
    &-hover {
        .mini-tab-icon {
            color: @theme-color;
        }
    }
    &-body {
        position: relative;
    }
    &-text {
        display: inline-block;
        vertical-align: top;
    }
}
// .mini-tabs-plain .mini-tab-text {
   
// }
.mini-tab .mini-tab-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    width: 0.16rem;
    height: 0.16rem;
    vertical-align: top;
    margin-top: (@tab-header-height - 16px) / 2;
    margin-top: (@tab-header-height - 16px) / 2 / 100px * 1rem;
    margin-left: 4px;
}
.mini-tab-close {
    display: inline-block;

    vertical-align: top;

    cursor: pointer;

    opacity: 0.6;
    filter: alpha(opacity=60);

    position: absolute;
    top: 0;
    right: 0;
    width: 16px;
    width: 0.16rem;
    height: 16px;
    height: 0.16rem;
    line-height: 16px;
    line-height: 0.16rem;
    font-size: 12px;
    font-size: 0.12rem;
    transform: scale(.8);
    transform-origin:  50% 50%;
    &:before {
        content: '\e6de';
    }
    &-hover {
        opacity: 1;
        color: @theme-color;
    }
}

/* buttons */

.mini-tabs-buttons {
    position: absolute;
    padding-right: 3px;
    top: 0px;
    z-index: 1000;
    right: 0;
}

/* nav */
.mini-tabs-nav {
    position: absolute;
    right: 0px;
    top: 4px;
    z-index: 1000;
    padding-left: 6px;
    padding-right: 2px;
    display: none;
}
.mini-tabs-leftnav {
    display: none;
    padding-left: 6px;
    padding-right: 2px;
    position: absolute;
    left: 0;
    top: 4px;
    z-index: 1000;
}

.mini-tabs-tabmenu,
.mini-tabs-leftButton,
.mini-tabs-rightButton {
    font-family: ActionIcon !important;
    text-decoration: none;
    background: #f5f5f5;
    text-align: center;
    color: @text-color;
}
.mini-tabs-tabmenu {
    background: #fff;
    display: none;
    height: 15px;
    width: 17px;
    position: absolute;
    top: 4px;
    border: 1px solid @border-color;
    border-radius: 4px;
    width: 20px;
    height: 20px;
    width: 0.2rem;
    height: 0.2rem;
    line-height: 20px;
    line-height: 0.2rem;
    z-index: 1;
    transition: all .2s ease-out;
    &:before {
        content: '\e724';
    }
    &:hover,
    &.popup {
        color: @theme-color;
        border-color: @theme-color;
    }
}
.mini-tabs-leftButton,
.mini-tabs-rightButton {
    border: none;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    width: 0.16rem;
    height: 0.16rem;
    line-height: 16px;
    line-height: 0.16rem;
    cursor: pointer;
    outline: none;
    display: inline-block;
    margin-right: 2px;
    vertical-align: top;
}

.mini-tabs-leftButton:before {
    content: '\e70b';
}
.mini-tabs-rightButton:before {
    content: '\e712';
}

.mini-tabs-plain .mini-tabs-lastSpace {
    border-top: 0;
}

.mini-tab.mini-disabled {
    cursor: not-allowed;
}

.mini-tabs-position-bottom,
.mini-tabs-position-top {
    .mini-tabs-space2 {
        margin-left: -1px;
        margin-right: -1px;
    }
}

/* top */
.mini-tabs-position-top {
    .mini-tabs-scrollCt {
        border: none;
        margin-bottom: -1px;
    }
    .mini-tabs-bodys {
        border-top-left-radius: 0;
    }
}
/* end */

/* bottom */
.mini-tabs-position-bottom {
    // .mini-tabs-headers {
    //     margin-top: -1px;
    // }
    .mini-tabs-scrollCt {
        border: none;
        margin-top: -1px;
    }
    .mini-tabs-bodys {
        border-bottom-left-radius: 0;
    }
    .mini-tabs-space,
    .mini-tabs-space2 {
        border: none;
        // border-top: 1px solid @split-color;
    }
    .mini-tab {
        border-radius: 0;

        border-bottom-left-radius: @border-radius;
        border-bottom-right-radius: @border-radius;
        border: 1px solid transparent;
        border-top-color: @split-color;

        &-active {
            border-color: @split-color;
            border-top-color: #fff;
        }
    }
}

.mini-tabs-body-bottom {
    border: solid 1px @split-color;
}
/* end */

.mini-tabs-position-left,
.mini-tabs-position-right {
    .mini-tabs-space2 {
        margin-top: -1px;
        margin-bottom: -1px;
    }
}

/* left */
.mini-tabs-position-left {
    .mini-tabs-header-left {
        width: auto;
        margin-right: -1px;
    }
    .mini-tabs-header {
        position: relative;
        z-index: 2;
        margin-right: -1px;
    }
    .mini-tabs-scrollCt {
        border: none;
    }
    .mini-tabs-bodys {
        border-top-left-radius: 0;
    }
    .mini-tabs-space,
    .mini-tabs-space2 {
        border: none;
        > div {
            width: 0;
            height: 10px;
        }
    }

    .mini-tabs-space.mini-tabs-firstSpace > div {
        height: 0;
    }

    .mini-tab {
        border-radius: 0;
        border-top-left-radius: @border-radius;
        border-bottom-left-radius: @border-radius;
        border: 1px solid transparent;
        border-right-color: @split-color;

        &-active {
            border-color: @split-color;
            border-right-color: #fff;
        }
    }
}

/* end */

/* right */
.mini-tabs-position-right {
    .mini-tabs-header-right {
        width: auto;

        margin-left: -1px;
    }
    .mini-tabs-header {
        position: relative;
        z-index: 2;
        margin-left: -1px;
    }
    .mini-tabs-scrollCt {
        border: none;
    }
    .mini-tabs-space,
    .mini-tabs-space2 {
        border: none;
        > div {
            width: 0;
            height: 10px;
        }
    }

    .mini-tabs-space.mini-tabs-firstSpace > div {
        height: 0;
    }

    .mini-tab {
        border-radius: 0;

        border-top-right-radius: @border-radius;
        border-bottom-right-radius: @border-radius;
        border: 1px solid transparent;
        border-left-color: @split-color;

        &-active {
            border-color: @split-color;
            border-left-color: #fff;
        }
    }
    .mini-tabs-bodys {
        border-top-right-radius: 0;
    }
}

/* end */
