.mini-textbox {
    width: 150px;
    display: inline-block;

    vertical-align: top;
    overflow: hidden;

    position: relative;
}
.mini-textbox-border {
    display: block;
    position: relative;
    overflow: hidden;
    border-radius: @border-radius;
    background: #fff;
}
.mini-textbox-input {
    cursor: text;
    width: 100%;
    border: 0;
    padding: 0;
    margin: 0;
    padding: 0;
    outline: none;
    float: left;
}


/* empty */
.mini-placeholder-label {
    position: absolute;
    left: 0;
    top: 0;
    line-height: inherit;
    padding: 0 16px;
    padding: 0 .16rem;
    color: #9a9a9a;
    cursor: text;
    white-space: nowrap;
}

/* disabled */
.mini-textbox-disabled {
    cursor: default;
}
.mini-textbox-disabled .mini-textbox-border {
    background: @disabled-bg;
    color: @disabled-color;
    cursor: default;
}

/* textarea */
.mini-textarea {
    height: 50px;
}
.mini-textarea .mini-textbox-border {
    height: 100%;
    box-sizing: border-box;
}
.mini-textarea .mini-textbox-input {
    resize: none;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}

.mini-textarea .mini-textbox-input {
    overflow: auto;
}

/* error */
.mini-invalid .mini-textbox-border,
.mini-invalid .mini-buttonedit-border {
    border: @danger-color 1px solid;
}


// ext
.mini-textbox-border {
    #miniui-base-height();

    border-collapse: collapse;

    transition: border-color 0.6s cubic-bezier(0.175, 0.885, 0.32, 1);

    border:1px solid @border-color;
    padding: 0;
}

.mini-textbox-input,
.mini-buttonedit-input{
    width: 100%;
    outline: none;
    font-family: inherit;
    font-size: 14px;
    font-size: 0.14rem;
    background: transparent;

    #miniui-base-height();

    color: @text-color;
    border: none;
}
.mini-textbox-input,
.mini-textarea .mini-textbox-input,
.mini-buttonedit .mini-buttonedit-input {
    padding: 0 @base-padding;
    padding: 0 @base-padding / 100px * 1rem;
    box-sizing: border-box !important;
    transition: all .2s ease-out;
}

// .mini-textbox-input:focus,
// .mini-buttonedit-input:focus,
// .mini-buttonedit-focus .mini-buttonedit-input,
// .mini-textboxlist-focus .mini-textboxlist-border,
// .pagination-pagerchange input:focus,
// .mini-pager-num:focus  {
//     box-shadow: inset 0 0 4px rgba(@theme-color, 0.4);
// }
// .mini-required .mini-buttonedit-border,
// .mini-required .mini-textbox-border {
//     background-color: #fff;
// }

.mini-textbox-focus .mini-textbox-border,
.mini-pager-num:focus,
.pagination-number:focus {
    border-color: @theme-color;
}
.mini-error .mini-textbox-border,
.mini-error .mini-buttonedit-border,
.mini-error .mini-textboxlist-border {
    border-color: @danger-color !important;
    background-color: @danger-color-6 !important;
}

.mini-textbox-readOnly  .mini-textbox-border,
.mini-buttonedit-readOnly  .mini-buttonedit-border  {
    background-color: @disabled-bg;
}
.mini-textbox-disabled  .mini-textbox-input,
.mini-buttonedit-disabled  .mini-buttonedit-input {
    color: @disabled-color;
}
.mini-textbox-disabled  .mini-textbox-border,
.mini-buttonedit-disabled  .mini-buttonedit-border  {
    color: @disabled-color;
    background-color: @disabled-bg;
}
.mini-textbox-disabled .mini-textbox-input {
    cursor: not-allowed;
}
.mini-textbox-disabled .mini-textbox-input:focus,
.mini-textbox-disabled .mini-buttonedit-input:focus,
.mini-textbox-disabled.mini-buttonedit-focus .mini-buttonedit-input,

.mini-error .mini-textbox-input:focus,
.mini-error .mini-buttonedit-input:focus,
.mini-error.mini-buttonedit-focus .mini-buttonedit-input,
.mini-error.mini-textboxlist-focus .mini-textboxlist-border {
    box-shadow: none;
}
/* placeholder */
::-webkit-input-placeholder {
    color: @black-color-4;
}
:-moz-placeholder {
    color: @black-color-4;
}
::-moz-placeholder {
    color: @black-color-4;
}
:-ms-input-placeholder {
    color: @black-color-4;
}
