.mini-tips {
    line-height: 20px;
    padding: 10px 24px;

    cursor: default;
    position: relative;
    margin-bottom: 20px;

    background: #f5f5f5;
    color: @black-color-2;
    border: 1px solid @split-color;
    border-radius: @border-radius;
    font-size: 12px;
    font-size: 0.12rem;
    transition: background 0.2s cubic-bezier(0.175, 0.885, 0.32, 1);
    &:before {
        display: none;
    }
    &-showIcon {
        padding-left: 24px + 16px + 16px;
        padding-right: 40px;
        &:before {
            content: '\e6fe';
            font-family: 'ActionIcon' !important;
            position: absolute;
            top: 50%;
            left: 24px;
            margin-top: -8px;
            font-size: 14px;
            font-size: .14rem;
            line-height: 16px;
            display: block;
        }
    }
}

.mini-tips-success {
    background-color: @success-color-6;
    border-color: @success-color-5;
    color: @success-color;
    &:before {
        content: '\e71a';
    }
}
.mini-tips-info {
    background-color: @theme-color-6;
    color: @theme-color-1;
    border-color: @theme-color-5;
    &:before {
        content: '\e6fe';
    }
}
.mini-tips-warning {
    background-color: @warning-color-6;
    color: @warning-color;
    border-color: @warning-color-5;
    &:before {
        content: '\e722';
    }
}
.mini-tips-danger {
    background-color: @danger-color-6;
    color: @danger-color;
    border-color: @danger-color-5;
    &:before {
        content: '\e70a';
    }
}
