.mini-tooltip {
    position: absolute;
    display: none;
    max-width: 80%;
    font-size: 12px;
    font-size: .12rem;

    z-index: 1000;
    filter: drop-shadow(0px 0px 6px rgba(@border-color, 0.15));
}
.mini-tooltip-inner {
    padding: 0 8px;
    line-height: 30px;
    line-height: .3rem;

    text-align: center;
    text-decoration: none;
    background-color: #ffffff;
    border: solid 1px @theme-color-2;
    border-radius: 4px;
    vertical-align: middle;
    color: @text-color;
}
.mini-tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;

    overflow: hidden;
    font-size: 0;
}

.mini-tooltip-top {
    padding: 5px 0;
    margin-top: -3px;
}

.mini-tooltip-right {
    padding: 0 5px;
    margin-left: 3px;
}

.mini-tooltip-bottom {
    padding: 5px 0;
    margin-top: 3px;
}
.mini-tooltip-left {
    padding: 0 5px;
    margin-left: -3px;
}

.mini-tooltip-top .mini-tooltip-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    border-top-color: @theme-color-2;
    border-width: 5px 5px 0;
}

.mini-tooltip-left .mini-tooltip-arrow {
    top: 50%;
    right: 0;
    margin-top: -5px;
    border-left-color: @theme-color-2;
    border-width: 5px 0 5px 5px;
}

.mini-tooltip-right .mini-tooltip-arrow {
    top: 50%;
    left: 0;
    margin-top: -5px;
    border-right-color: @theme-color-2;
    border-width: 5px 5px 5px 0;
}

.mini-tooltip-bottom .mini-tooltip-arrow {
    top: 0;
    left: 50%;
    margin-left: -5px;
    border-bottom-color: @theme-color-2;
    border-width: 0 5px 5px;
}

/* bottomleft */
.mini-tooltip-bottomleft {
    padding: 5px 0;
    margin-top: 3px;
}

.mini-tooltip-bottomleft .mini-tooltip-arrow {
    top: 0;
    left: 12px;
    border-bottom-color: @theme-color-2;
    border-width: 0 5px 5px;
}
/* bottomright */
.mini-tooltip-bottomright {
    padding: 5px 0;
    margin-top: 3px;
}

.mini-tooltip-bottomright .mini-tooltip-arrow {
    top: 0;
    right: 12px;
    border-bottom-color: @theme-color-2;
    border-width: 0 5px 5px;
}
/* topleft */
.mini-tooltip-topleft {
    padding: 5px 0;
    margin-top: -3px;
}
.mini-tooltip-topleft .mini-tooltip-arrow {
    bottom: 0;
    left: 12px;
    border-top-color: @theme-color-2;
    border-width: 5px 5px 0;
}
/* topright */
.mini-tooltip-topright {
    padding: 5px 0;
    margin-top: -3px;
}
.mini-tooltip-topright .mini-tooltip-arrow {
    right: 12px;
    bottom: 0;
    border-top-color: @theme-color-2;
    border-width: 5px 5px 0;
}

.mini-tooltip-loading {
    width: 16px;
    height: 16px;
    background: url('@{images-dir}/tooltip/wait.gif') no-repeat 50% 50%;
}

/* 重写tooltip箭头的overflow样式 加入伪元素实现箭头镂空效果 */
/* 给不同状态的伪类不同的contcent是 为了处理在IE8下伪元素未重绘的问题 */
.mini-tooltip-arrow {
    overflow: visible;
}
.mini-tooltip-arrow:before {
    font-size: 0;
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
}
/* top top */
.mini-tooltip-top .mini-tooltip-arrow:before,
.mini-tooltip-topright .mini-tooltip-arrow:before,
.mini-tooltip-topleft .mini-tooltip-arrow:before {
    content: 't';
    top: -6px;
    left: -4px;
    border-width: 5px 4px 0;
    border-top-color: #fff;
}
/* bottom */
.mini-tooltip-bottom .mini-tooltip-arrow:before,
.mini-tooltip-bottomright .mini-tooltip-arrow:before,
.mini-tooltip-bottomleft .mini-tooltip-arrow:before {
    content: 'b';
    top: 1px;
    left: -5px;
    border-width: 0 5px 5px;
    border-bottom-color: #fff;
}
/* right */
.mini-tooltip-right .mini-tooltip-arrow:before {
    content: 'r';
    top: -5px;
    left: 1px;
    border-width: 5px 5px 5px 0;
    border-right-color: #fff;
}
/* left */
.mini-tooltip-left .mini-tooltip-arrow:before {
    content: 'l';
    top: -5px;
    left: -6px;
    border-width: 5px 0 5px 5px;
    border-left-color: #fff;
}

// #region error
.mini-tooltip-theme-error {
    .mini-tooltip-inner {
        color: @danger-color;
        border-color: @danger-color;
        // background-color: mix(#fff, @danger-color, 95%) !important;
    }
    @theme-color: @danger-color-2;
    &.mini-tooltip {
        filter: drop-shadow(0px 0px 6px rgba(@theme-color, 0.15));
    }
    &.mini-tooltip-top .mini-tooltip-arrow {
        border-top-color: @theme-color;
    }
    &.mini-tooltip-left .mini-tooltip-arrow {
        border-left-color: @theme-color;
    }

    &.mini-tooltip-right .mini-tooltip-arrow {
        border-right-color: @theme-color;
    }

    &.mini-tooltip-bottom .mini-tooltip-arrow {
        border-bottom-color: @theme-color;
    }
    &.mini-tooltip-bottomleft .mini-tooltip-arrow {
        border-bottom-color: @theme-color;
    }

    &.mini-tooltip-bottomright .mini-tooltip-arrow {
        border-bottom-color: @theme-color;
    }
    &.mini-tooltip-topleft .mini-tooltip-arrow {
        border-top-color: @theme-color;
    }
    &.mini-tooltip-topright .mini-tooltip-arrow {
        border-top-color: @theme-color;
    }
}
// #endregion

// #region dark
.mini-tooltip-theme-dark {
    @theme-color: #333;

    .mini-tooltip-inner {
        color: #fff;
        color: rgba(255, 255, 255, 0.9);
        background: @theme-color;
        border-color: @theme-color;
        &:hover {
            color: #fff;
        }
    }
    .mini-tooltip-arrow {
        &:before {
            display: none;
        }
    }
    &.mini-tooltip-top .mini-tooltip-arrow {
        border-top-color: @theme-color;
    }
    &.mini-tooltip-left .mini-tooltip-arrow {
        border-left-color: @theme-color;
    }

    &.mini-tooltip-right .mini-tooltip-arrow {
        border-right-color: @theme-color;
    }

    &.mini-tooltip-bottom .mini-tooltip-arrow {
        border-bottom-color: @theme-color;
    }
    &.mini-tooltip-bottomleft .mini-tooltip-arrow {
        border-bottom-color: @theme-color;
    }

    &.mini-tooltip-bottomright .mini-tooltip-arrow {
        border-bottom-color: @theme-color;
    }
    &.mini-tooltip-topleft .mini-tooltip-arrow {
        border-top-color: @theme-color;
    }
    &.mini-tooltip-topright .mini-tooltip-arrow {
        border-top-color: @theme-color;
    }
}
// #endregion
