@tree-node-height: 32px;
@tree-node-width: 22px;
.mini-treegrid,
.mini-tree {
    display: none;
}
.mini-tree-nodes {
    position: relative;
    overflow: hidden;
}
.mini-tree-treecell .mini-grid-cell-inner {
    padding: 0;
    #miniui-base-height(@tree-node-height);
}

.mini-tree-indent {
    display: inline-block;
    width: @tree-node-width;
    width: @tree-node-width / 100px * 1rem;
    #miniui-base-height(@tree-node-height);
    vertical-align: top;
}
.mini-tree-nodetitle {
    margin-top: 0px;
    margin-right: 2px;
    overflow: hidden;
    cursor: default;
    white-space: nowrap;
}

.mini-tree .mini-tree-icon {
    position: relative;
    display: inline-block;

    overflow: hidden;
    vertical-align: top;
    user-select: none;
    color: inherit;

    width: @tree-node-width;
    width: @tree-node-width / 100px * 1rem;
    background: none center no-repeat;
    #miniui-base-height(@tree-node-height);
}
.mini-tree-nodetext {
    vertical-align: top;

    display: inline-block;
    padding-left: 3px;
    padding-right: 3px;
    white-space: nowrap;
    user-select: none;
    #miniui-base-height(@tree-node-height);
    font-size: 14px;
    font-size: .14rem;
    color: @black-color-1;
}

.mini-tree-nodetext a {
    text-decoration: none;
    color: inherit;
}

.mini-tree-node-ecicon {
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    font-size: 0.14rem;
    font-family: ActionIcon !important;
    text-align: center;
    width: @tree-node-width;
    width: @tree-node-width / 100px * 1rem;
    #miniui-base-height(@tree-node-height);
    vertical-align: top;
    color: @text-color;
    text-decoration: none;
    &:hover {
        color: @theme-color;
    }
}
.mini-tree-loading-icon {
    display: none;
    cursor: progress;
}
.ie8,
.ie9 {
    .mini-tree-loading-icon {
        display: none !important;
    }
    .mini-tree .mini-tree-loading .mini-tree-node-ecicon,
    .mini-tree-loading .mini-treegrid-ec-icon {
        background: #fff url('@{images-dir}/tree_ext/loading.gif') no-repeat scroll 50% 50%;
    }
}
.mini-tree-loading {
    cursor: progress;
}
.mini-tree .mini-tree-loading .mini-tree-node-ecicon,
.mini-tree-loading .mini-treegrid-ec-icon {
    &:before {
        content: '';
    }
    position: relative;
    .mini-tree-loading-icon {
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -7px;
        margin-top: -7px;
        display: block;
        width: 14px;
        height: 14px;
        will-change: transform;
        #rotate_animation(1s);
    }
}

.mini-tree-nodeshow {
    display: inline-block;
    vertical-align: top;
    padding: 0;
    border: 0;
    cursor: pointer;
}

.mini-treegrid .mini-tree-nodeshow {
    cursor: default;
}

// .mini-tree-node-hover .mini-tree-nodeshow {
// }

// .mini-tree-selectedNode .mini-tree-nodeshow {
// }

.mini-tree-editinput {
    border-style: solid;
    border-width: 1px;
    background: white;
    border-color: #9da0aa #c2c4cb #d9dae0;
    font-size: 12px;

    padding-top: 1px;
    padding-left: 2px;
    padding-right: 2px;
    margin-top: 0px;

    width: 80px;
    height: 15px;
    line-height: 15px;
    vertical-align: top;
}

.mini-tree-nodeclick .mini-tree-parentNode .mini-tree-nodeshow {
    cursor: pointer;
}

/* tree */
.mini-tree-nowrap .mini-tree-nodetext {
    overflow: visible;
}
.mini-tree-nowrap .mini-grid-table {
    table-layout: auto;
}
.mini-tree-nowrap .mini-tree-nodetitle {
    overflow: visible;
}

.mini-tree-checkbox,
.mini-tree-radio {
    overflow: hidden;
    vertical-align: top;
    display: inline-block;
    cursor: pointer;
    margin-left: 2px;
    margin-right: 1px;
    width: @tree-node-width;
    width: @tree-node-width / 100px * 1rem;
    #miniui-base-height(@tree-node-height);
    background: none;
    color: @black-color-4;
}

.mini-tree-checkbox:before {
    content: '\e725';
}
.mini-tree-checkbox-checked {
    color: @theme-color;
    &:before {
        // content: '\e718';
        content: '\e6f6';
    }
}
.mini-tree-checkbox-indeterminate {
    color: @theme-color;
    &:before {
        content: '\e721';
    }
}
.mini-tree-radio,
.mini-grid-row-selected .mini-tree-radio,
.mini-tree-selectedNode .mini-tree-radio {
    background: none;
}
.mini-tree-radio:before {
    content: '\e708';
}
.mini-grid-row-selected .mini-tree-radio:before,
.mini-tree-selectedNode .mini-tree-radio:before {
    content: '\e706';
}

.mini-tree-node-hover {
    background: @item-hover-bg;
}

.mini-tree-selectedNode {
    background: @item-selected-bg;
    color: @theme-color;

    .mini-tree-checkbox,
    .mini-tree-radio {
        color: @theme-color;
    }
}
.mini-tree-expand {
    color: @theme-color;

    .mini-tree-checkbox,
    .mini-tree-radio {
        color: @theme-color;
    }
}
.mini-tree .mini-tree-icon {
    font-size: 14px;
    font-size: .14rem;
}

.mini-tree-collapse .mini-tree-node-ecicon {
    &:before {
        content: '\e712';
    }
    // background: url('@{images-dir}/tree_ext/collapse.png') center no-repeat;
}
.mini-tree-expand .mini-tree-node-ecicon {
    &:before {
        content: '\e724';
    }
    // background: url('@{images-dir}/tree_ext/expand.png') center no-repeat;
}

.mini-tree-leaf {
    background: none;
}

.mini-tree-folder {
    background: none;
}

.mini-tree-expand .mini-tree-folder {
    background: none;
}
.mini-tree-leaf:before {
    content: '\e619';
}
.mini-tree-folder:before {
    content: '\e70d';
}
// .mini-tree-expand .mini-tree-folder:before {
//     content: '\e707';
// }
.mini-tree-treeLine {
    .mini-tree-indent {
        background: transparent url('@{images-dir}/tree_ext/treeline.png') center;
    }

    .mini-tree-node-ecicon {
        &:before {
            display: none !important;
        }
        background: transparent url('@{images-dir}/tree_ext/treeNodeLine.png') center;
    }

    .mini-tree-expand .mini-tree-node-ecicon {
        background: transparent url('@{images-dir}/tree_ext/expandLine.png') center;
    }

    .mini-tree-collapse .mini-tree-node-ecicon {
        background: transparent url('@{images-dir}/tree_ext/collapseLine.png') center;
    }

    .mini-tree-node-ecicon-last {
        background: transparent url('@{images-dir}/tree_ext/lastline.png') no-repeat center;
    }

    .mini-tree-expand .mini-tree-node-ecicon-first {
        background: transparent url('@{images-dir}/tree_ext/firstExpandNode.png') no-repeat center;
    }

    .mini-tree-expand .mini-tree-node-ecicon-last {
        background: transparent url('@{images-dir}/tree_ext/lastExpandNode.png') no-repeat center;
    }

    .mini-tree-collapse .mini-tree-node-ecicon-first {
        background: transparent url('@{images-dir}/tree_ext/firstCollapseNode.png') no-repeat center;
    }

    .mini-tree-collapse .mini-tree-node-ecicon-last {
        background: transparent url('@{images-dir}/tree_ext/lastCollapseNode.png') no-repeat center;
    }

    .mini-tree-expand .mini-tree-node-ecicon-firstLast {
        background: transparent url('@{images-dir}/tree_ext/expand.png') no-repeat center;
    }

    .mini-tree-collapse .mini-tree-node-ecicon-firstLast {
        background: transparent url('@{images-dir}/tree_ext/collapse.png') no-repeat center;
    }

    .mini-tree-expand .mini-tree-node-ecicon-firstAndlast {
        background-image: url('@{images-dir}/tree_ext/firstAndlastexpand.png');
        background-position: 50% 50%;
    }

    .mini-tree-collapse .mini-tree-node-ecicon-firstAndlast {
        background-image: url('@{images-dir}/tree_ext/firstAndlastcollapse.png');
        background-position: 50% 50%;
    }

    .mini-tree-node-ecicon-firstAndlast {
        background-image: url('@{images-dir}/tree_ext/lastline.png');
        background-position: 50% 50%;
    }
}
