/*!
 * 内部通讯录列表式页面
 * author: xiaol
 * date: 20170210
 */

.aside-wrap {
    position: absolute;
    z-index: 10;
    top: 0;
    bottom: 42px;
    right: -781px;
    width: 780px;
    background-color: #fff;
    border-left: 1px solid #e6e6e6;
}
.portrait-icon {
    width: 50px;
    height: 50px;
    margin: 12px 10px 12px 0;
    vertical-align: middle;
    border-radius: 3px;
}
.new-ou,
.new-title {
    display: block;
    line-height: 24px;
}

.showdetail-btn {
    color: #000;
}

.btn-writemail {
    display: inline-block;
    width: 16px;
    height: 12px;
    margin: 0 10px;
    background: url("../images/icon-contact.png");
}

.btn-writemail:hover {
    background-image: url("../images/icon-contact-act.png");
}

.btn-msg {
    display: inline-block;
    width: 16px;
    height: 14px;
    margin: 0 8px;
    background: url("../images/icon-webmsg.png");
}

.btn-msg:hover {
    background-image: url("../images/icon-webmsg-act.png");
}

.btn-mobilemsg {
    display: inline-block;
    width: 10px;
    height: 14px;
    margin: 0 10px;
    background: url("../images/icon-mail.png");
}

.btn-mobilemsg:hover {
    background-image: url("../images/icon-mail-act.png");
}

.custom-name {
    cursor: pointer;
}
