body {
    font-size: 12px;
    color: #666;
}

.edit-content {
    box-sizing: border-box;
    height: 100%;
    margin-right: 220px;
    padding: 10px;
}

.edit-content-border {
    position: relative;
    height: 100%;
    border: 1px solid #d1d1d1;
}

.edit-content-hd,
.edit-control-hd,
.edit-variable-hd {
    height: 30px;
    padding-left: 10px;
    font-size: 14px;
    line-height: 30px;
    border-bottom: 1px solid #d1d1d1;
    background: #f8f8f8;
}

.edit-content-bd,
.edit-control-bd,
.edit-variable-bd {
    position: absolute;
    top: 31px;
    bottom: 0;
    width: 100%;
}

.edit-control-bd,
.edit-variable-bd {
	overflow: auto;
}

.edit-tool {
    position: absolute;
    top: 0;
    right: 10px;
    box-sizing: border-box;
    width: 210px;
    height: 100%;
    padding: 10px 0;
}

.edit-tool-control {
    position: relative;
    height: 320px;
    border: 1px solid #d1d1d1;
}

.edit-tool-variable {
    position: absolute;
    top: 340px;
    bottom: 10px;
    width: 100%;
    border: 1px solid #d1d1d1;
}

.edit-control-item {
    position: relative;
    padding-left: 40px;
    line-height: 30px;
    cursor: pointer;
}

.edit-control-item:hover {
    color: #51a6ef;
}

.control-img {
    position: absolute;
    top: 6px;
    left: 10px;
}

.edit-variable-list {
	padding: 5px;
}
.edit-variable-item {
    float: left;
    margin: 5px;
    padding: 0 8px;
    line-height: 20px;
    cursor: pointer;
    border: 1px solid #d1d1d1;
    background-color: #f8f8f8;
}

.edit-variable-item:hover {
    color: #51a6ef;
    border-color: #51a6ef;
    background-color: #fff;
}

.CodeMirror {
    height: 100%;
}
