*
{
    margin: 0;
    padding: 0;
}
body
{
    font-family: 'Microsoft YaHei',arial;
}
html,
body
{
    height: 100%;
    min-width: 1000px;
}

ul,li {
	list-style: none;
}

.l {
	float: left;
}

.r {
	float: right;
}

.clearfix {
	zoom: 1;
}

.clearfix {
	content: '';
	clear: both;
	display: block;
}

canvas {
	outline: none;
}

.sample
{
    height: 100%;
}
.header
{
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
	
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    box-shadow: 0 2px 8px 1px rgba(180,210,250,.1);
    user-select: none;
}

.head-site {
	border: 1px solid #dadada;
	margin-top: 7px;
	margin-left: 15px;
	border-radius: 3px;
	background-color: #fff;
	color: #525c6f;
}

.head-site-item {
	padding: 7px 10px;
	font-size: 12px;
	line-height: 14px;
	cursor: pointer;
}

.head-site-item.active,
.head-site-item:hover {
	color: #fff;
	background-color: #4d8beb;
}

.head-functions {
	display: inline-block;
	/*border: 1px solid #ddd;*/
	border-top: 0;
}

.head-scale {
	display: inline-block;
	width: 100px;
	margin-bottom: 2px;
}

.head-range {
	width: 100%;
	vertical-align: middle;
}

.icon-item {
	width: 20px;
	height: 18px;
	vertical-align: middle;
	margin-right: 5px;
	display: inline-block;
	background-image: url('./images/flow_icons.png');
	background-repeat: no-repeat;
	user-select: none;
	cursor: pointer;
}

.icon-save-to,
.icon-save {
	box-sizing: border-box;
	width: auto;
	line-height: 30px;
	height: 30px;
	display: inline-block;
	border: 1px solid #dadada;
	color: #666666;
	font-size: 14px;
	border-radius: 2px;
	padding-left: 30px;
	padding-right: 10px;
	background-position: 10px center;
}

.icon-save-to {
	background-image: url('./images/icon_save_to.png');
}

.icon-save-to:hover,
.icon-save:hover {
	border: 1px solid transparent;
	color: #fff;
	background-color: #4d8beb;
	background-image: url('./images/icon_save_to_active.png');
}

.icon-save {
	background-image: url('./images/icon_save.png');
}
.icon-save:hover {
	background-image: url('./images/icon_save_active.png');
}

.module-icon {
	background-position: 4px 0;
}

.node-icon {
	background-position: 2px -16px;
}

.save-icon {
	background-position: 0 -61px;
}

.undo-icon{
	background-position: 1px -87px;
}
.redo-icon{
	background-position: 1px -111px;
}
.coordinate-icon{
	background-position: 1px -136px;
}
.align-icon{
	background-position: 1px -160px;
}
.vertical-icon{
	background-position: 1px -185px;
}

.max-icon {
	background-position: 1px -252px;
}

.min-icon {
	background-position: 1px -272px;
}

.view-icon {
	background-position: -18px -293px;
}

.set-icon {
	background-position: 1px -312px;
}

.delete-icon {
	background-position: -15px -312px;
}

.max-icon:hover,
.min-icon:hover {
	background-position-x: -18px;
}

.view-icon.active,
.view-icon:hover {
	background-position-x: 1px;
}
.head-site-item:hover .icon-item,
.head-site-item.active .icon-item {
	background-position-x: -16px;
}

.head-overview {
	width: 40px;
}

.myOverviewDiv {
	visibility: hidden;
	width: 120px;
	height: 120px;
	position: fixed;
	top: 60px;
	right: 10px;
	z-index: -2;
	box-shadow: 0 0 5px 1px rgba(102,102,102,.2);
	background-color: #fff;
}

.myOverviewDiv.active {
	visibility: visible;
}

.name-tip {
	position: fixed;
	z-index: 100;
	display: none;
	max-width: 440px;
	padding: 5px;
	box-sizing: border-box;
	color: #666;
	font-size: 14px;
	background-color:#fff;
	word-break: break-all;
	box-shadow: 0 0 4px 0px rgba(0,0,0,.3);
	user-select: none;
}

.icon-btn {
	margin: 0 5px;
}


.content
{
    position: relative;

    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding-top: 50px;
}

.palette {
	display: none;
	position: fixed;
    z-index: 11;
    top: 52px;
    bottom: 0;
    left: 0;
	
	padding-top: 10px;
	padding-bottom: 10px;
	box-sizing: border-box;
    width: 170px;

    /*border: 1px solid #ddd;*/
    box-shadow: 0 0 5px 1px rgba(102,102,102,.2);
    background-color: #fff;
}

.pannel-list {
	/*height: 100%;*/
}

.myPaletteDiv
{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: static !important;
}

.myPaletteDiv canvas {
    position: static !important;
}

.myPaletteDiv>div {
	display: none;
}

.module-list {
	display: none;	
	position: fixed;
    z-index: 11;
    top: 52px;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
	padding: 10px 0;

    width: 170px;
    overflow-x: hidden;

    /*border: 1px solid #ddd;*/
    box-shadow: 0 0 5px 1px rgba(102,102,102,.2);
    background-color: #fff;
}

.palette.active,
.module-list.active {
	display: block;
}

.module-scroll {
	/*width: 200px;*/
	width: 100%;
	height: 100%;
	/*overflow-y: auto;*/
}

.module-item {
	/*padding:  15px;*/
	width: 138px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 3px;
	border: 1px solid #b9bec5;
    margin-bottom: 10px;
    position: relative;
}

.module-img {
	width: 138px;
	height: 94px;
}

.module-name {
	line-height: 30px;
	color: #666666;
	font-size: 14px;
	text-align: center;
}

.module-item-icon {
    width: 15px;
    height: 14px;
    display: none;
    background-image: url('images/icon_set.png');
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    right: 5px;
    top: 8px;
}

.module-item:hover {
    cursor: pointer;
}

.module-item:hover .module-item-icon {
    display: inline-block;
}

.myDiagramDiv
{
	/* background-image: url('bg.svg'); */
	/*height: 100%;*/
	position: absolute;
	top: 50px;
	left: 170px;
	right: 0;
	bottom: 0;
}

.myDiagramDiv
{
    /* background-image: url('bg.svg'); */
    /*background-repeat: no-repeat;*/
}

/* 节点属性 */
.attr-panel {
	position: fixed;
	top: 0;
	bottom: 0;
	right: -890px;
	z-index: 15;

	width: 890px;
	background-color: #fff;
	border: 1px solid #ddd;
	border-right: 0;
	transition: all .8s;

	color: #333;
}

.attr-panel.show {
	right: 0;
}

.attr-head {
	width: 100%;
	height: 60px;
	padding-left: 20px;
	padding-right: 15px;
	box-sizing: border-box;
	border-bottom: 1px solid #ddd;
}

.attr-name {
	line-height: 60px;
}

.attr-cancel,
.attr-confirm {
	box-sizing: border-box;
	line-height: 24px;
	background-color: #fff;
	padding: 0 8px;
	border: 1px solid #ddd;
	margin: 17px 5px;
	cursor: pointer;
}

.attr-content {

	position: absolute;
	top: 70px;
	bottom: 10px;
	box-sizing: border-box;
	width: 100%;
	padding: 0 20px;
}

.attr-iframe {
	width: 100%;
	height: 100%;
}

.cover {
	display: none;

	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 12;
	background-color: rgba(0,0,0,.5);
}


.contextMenu {
	display: none;
	position: fixed;
	z-index: 13;
	font-size: 14px;
	background-color: #fff;
	/*border: 1px solid #ddd;*/
	width: 104px;
	border: 1px solid #fff;
	box-shadow:  0 0 5px 1px rgba(102,102,102,.2);
}

.cxm {
	box-sizing: border-box;
	padding: 0 8px;
	width: 104px;
	line-height: 30px;
	color: #666666;
}

.cxm:hover {
	background-color: #e8f1ff;
	cursor: pointer;
}

.theme-green .back-bar .pointer {
	width: 3px;
	height: 10px;
	background-color: #2590eb;
	background-image: none;
	border: none;
	top: -4px;
}

.theme-green .back-bar {
	height: 2px;
	background-color: #ddd;
	background-image: none;
}

.theme-green .back-bar .selected-bar {
	background-color: #ddd;
	background-image: none;
	filter: none;
}


/*模板*/

.add-template,
.change-template {
	position: fixed;
	left: 50%;
	top: 50%;
	margin-left: -125px;
	margin-top: -67.5px;
	z-index: 16;
	
	padding: 0 5px;
	width: 250px;
	height: 135px;
	border-top: 1px solid #4d8beb;
	
	background-color: #fff;
	color: #666666;
	box-shadow: 0 0 10px rgba(0,0,0,.2);
	font-size: 14px;
}

.tmp-header {
	
	line-height: 30px;
	border-bottom: 1px solid #ebecf2;
}

.tmp-title {
	padding-left: 8px;
}

.tmp-close {
	float: right;
	background-image: url('images/close.png');
	background-repeat: no-repeat;
	background-position: center center;
	width: 20px;
	height: 20px;
	margin-top: 5px;
}

.tmp-close:hover {
	background-image: url('images/close_hover.png');
	cursor: pointer;
}

.tmp-content {
	padding: 10px 10px 10px 50px;
	background-image: url('images/qa.gif');
	background-repeat: no-repeat;
	background-position: 12px center;
}

.change-template .tmp-content {
	padding: 18px 10px 18px 50px;
}

.edit-template .tmp-content {
    padding: 10px;
    background-image: none;
}

.tmp-name-box {
	border: 1px solid #dee2e8;
	border-radius: 2px;
	margin-top: 5px;
}

.tmp-name {
	line-height: 28px;
	height: 28px;
	overflow: hidden;
	border: none;
	outline: none;
	padding-left: 5px;
	color: #666;
}

.tmp-footer {
	height: 30px;
	line-height: 30px;
	background-color: #f7f7f7;
	margin-left: -5px;
	margin-right: -5px;
}

.tmp-cancle,
.tmp-save,
.tmp-delete {
	padding: 0 20px;
	line-height: 22px;
	border: 1px solid #b9bec5;
	background-color: #ffffff;
	border-radius: 2px;
	margin-right: 5px;
	margin-top: 3px;
}

.tmp-cancle:hover,
.tmp-save:hover {
	border: 1px solid #4d8beb;
	cursor: pointer;
	color: #4d8beb;
}

.tmp-delete {
    padding: 0 10px;
    border: 1px solid #e6514e;
    cursor: pointer;
	color: #e6514e;
}

.tmp-delete:hover {
    border: 1px solid #ec3f3c;
    cursor: pointer;
	color: #ec3f3c;
}
