@charset "utf-8";
/**
 * 左右布局 和 手风琴布局  contentPage布局 换肤sass
 * master模板页面由于是动态加载，换肤方案在此处尚不涉及。
 * 换肤时修改变量值即可
 * 需要编译为css后使用
 * date:2017-02-16
 * author: chends
 */
// 主题颜色 用户标题色、激活色换肤
$theme_main_color: #2590eb;
// 左右布局
// ——————————————————————————————
// 左侧右边框
// $fuiLeft_border_r : #fff;
// 左侧背景
// $fuiLeft_bg : #0c1c77;
// 左侧关闭时背景
$fuiLeft_bg_closed: #e4eff7;
// 左侧头部 边框
$fuiLeft_hd_border: #2590eb;
// 左侧头部 背景
// $fuiLeft_hd_bg : #eeeded;
// 左侧标题颜色
$fuiLeft_title: #2590eb;
// ——————————————————————————————
// 手风琴布局
// ——————————————————————————————
// 头部文本
$acc_hd_text: #2590eb;
// 头部边框
$acc_hd_border: #2590eb;
// 主体背景
// $acc_bd_bg : #f7f7f7;
// ——————————————————————————————
// contentPage布局
// ——————————————————————————————
// toolbar 背景色
$toolbarColor_bg: #f5f3f2;
// notice
$noticeColor_border: #dedede;
$noticeColor_bg: #fbfce5;
// condition
$conditionColor_bg: #fff;
// condition btn
$btnBg: #51a6ef;
$btnHoverBg: #59aff9;
// content
$contentColor_bg: #fff;
// ——————————————————————————————
// 列表hover和selectd
// ——————————————————————————————
$listHoverBg: #fffed5;
$listSelectedBg: #dfedfa;
// ——————————————————————————————
// .fui-left {
//     border-right : 1px solid $fuiLeft_border_r;
//     // border-right: 1px solid #fff;
//     background-color : $fuiLeft_bg;
//     // background-color: #f7f7f7;
// }
// .fui-left-toggle {
//     background-image: url(images/leftRight/opened.png);
// }
// .fui-left-toggle:hover {
//     background-image: url(images/leftRight/opened-h.png);
// }
.fui-left.closed {
    background-color: $fuiLeft_bg_closed; // background-color: #e4eff7;
}

// .fui-left.closed .fui-left-toggle {
//     background-image: url(images/leftRight/closed.png);
// }
// .fui-left.closed .fui-left-toggle:hover {
//     background-image: url(images/leftRight/closed-h.png);
// }
.fui-left-hd {
    border-bottom: 1px solid $fuiLeft_hd_border; // border-bottom: 1px solid #f96d41;
    // background-color : $fuiLeft_hd_bg;
    // background-color: #eeeded;
}

.fui-left-title {
    color: $fuiLeft_title; // color: #f96d41;
}

// .fui-left-bd {
//     background-color : $fuiLeft_bg;
//     // background-color: #f7f7f7;
// }
/* 手风琴布局 */

.fui-acc-hd {
    color: $acc_hd_text; // color: #f96e40;
    border-bottom: 1px solid $acc_hd_border; // border-bottom: 1px solid #f96e40;
}

.fui-accordion.opened .fui-acc-toggle {
    background-image: url('images/accLayout/opened.png');
}

.fui-accordion.closed .fui-acc-toggle {
    background-image: url('images/accLayout/closed.png');
}

// .fui-acc-bd {
//     background-color : $acc_bd_bg;
//     // background-color: #f7f7f7;
// }
// contentPage布局
// ——————————————————————————————
// .fui-toolbar {
//     background-color : $toolbarColor_bg;
//     // background-color: #f5f3f2;
// }
.fui-notice {
    border-top: 1px solid $noticeColor_border;
    border-bottom: 1px solid $noticeColor_border; // border-top: 1px solid #dedede;
    // border-bottom: 1px solid #dedede;
    background-color: $noticeColor_bg; // background-color: #fbfce5;
}

// .fui-condition {
//     background-color : $conditionColor_bg;
//     // background-color: #fff;
// }
// .fui-content {
//     background-color : $contentColor_bg;
//     // background-color: #fff;
// }
.cond-srh-btn-text,
.fui-search-reset-btn,
.fui-search-close-btn,
.fui-search-srh-btn {
    background-color: $btnBg;

    &:hover{
        background-color: $btnHoverBg
    }
}

/* 列表 hover 和 selected */

.fui-list-hover {
    background-color: $listHoverBg;
}

.fui-list-selected {
    background-color: $listSelectedBg;
}

/* 直接显示为主题色 或hover、active时显示为主题色 */
.fui-theme-main-color {
    color: $theme_main_color !important;
}
.fui-theme-hl-color:hover,
.fui-theme-hl-color.active,
.fui-theme-hl-color:hover:after,
.fui-theme-hl-color:hover:before,
.fui-theme-hl-color.active:before,
.fui-theme-hl-color.active:after {
    color: $theme_main_color !important;
    border-color:$theme_main_color !important;
}