@import './lib/tinyColor.less';
@import './lib/adaptColor.less';
@import './lib/animate.less';
@mix-rate-1: 20%;
@mix-rate-2: 40%;
@mix-rate-3: 60%;
@mix-rate-4: 80%;
@mix-rate-5: 90%;
@mix-rate-6: 95%;

@mix-rate-7: 20%;
@mix-rate-8: 40%;
@mix-rate-9: 60%;
@mix-rate-10: 80%;

@theme-color-1: mix(#fff, @theme-color, @mix-rate-1);
@theme-color-2: mix(#fff, @theme-color, @mix-rate-2);
@theme-color-3: mix(#fff, @theme-color, @mix-rate-3);
@theme-color-4: mix(#fff, @theme-color, @mix-rate-4);
@theme-color-5: mix(#fff, @theme-color, @mix-rate-5);
@theme-color-6: mix(#fff, @theme-color, @mix-rate-6);

@theme-color-7: mix(#000, @theme-color, @mix-rate-7);
@theme-color-8: mix(#000, @theme-color, @mix-rate-8);
@theme-color-9: mix(#000, @theme-color, @mix-rate-9);
@theme-color-10: mix(#000, @theme-color, @mix-rate-10);

@black-color-1: mix(#fff, @black-color, @mix-rate-1);
@black-color-2: mix(#fff, @black-color, @mix-rate-2);
@black-color-3: mix(#fff, @black-color, @mix-rate-3);
@black-color-4: mix(#fff, @black-color, @mix-rate-4);
@black-color-5: mix(#fff, @black-color, @mix-rate-5);
@black-color-6: mix(#fff, @black-color, @mix-rate-6);

@black-color-7: mix(#000, @black-color, @mix-rate-7);
@black-color-8: mix(#000, @black-color, @mix-rate-8);
@black-color-9: mix(#000, @black-color, @mix-rate-9);
@black-color-10: mix(#000, @black-color, @mix-rate-10);

@success-color-1: mix(#fff, @success-color, @mix-rate-1);
@success-color-2: mix(#fff, @success-color, @mix-rate-2);
@success-color-3: mix(#fff, @success-color, @mix-rate-3);
@success-color-4: mix(#fff, @success-color, @mix-rate-4);
@success-color-5: mix(#fff, @success-color, @mix-rate-5);
@success-color-6: mix(#fff, @success-color, @mix-rate-6);
@success-color-7: mix(#fff, @success-color, @mix-rate-7);
@success-color-8: mix(#fff, @success-color, @mix-rate-8);
@success-color-9: mix(#fff, @success-color, @mix-rate-9);
@success-color-10: mix(#fff, @success-color, @mix-rate-10);

@warning-color-1: mix(#fff, @warning-color, @mix-rate-1);
@warning-color-2: mix(#fff, @warning-color, @mix-rate-2);
@warning-color-3: mix(#fff, @warning-color, @mix-rate-3);
@warning-color-4: mix(#fff, @warning-color, @mix-rate-4);
@warning-color-5: mix(#fff, @warning-color, @mix-rate-5);
@warning-color-6: mix(#fff, @warning-color, @mix-rate-6);
@warning-color-7: mix(#fff, @warning-color, @mix-rate-7);
@warning-color-8: mix(#fff, @warning-color, @mix-rate-8);
@warning-color-9: mix(#fff, @warning-color, @mix-rate-9);
@warning-color-10: mix(#fff, @warning-color, @mix-rate-10);

@danger-color-1: mix(#fff, @danger-color, @mix-rate-1);
@danger-color-2: mix(#fff, @danger-color, @mix-rate-2);
@danger-color-3: mix(#fff, @danger-color, @mix-rate-3);
@danger-color-4: mix(#fff, @danger-color, @mix-rate-4);
@danger-color-5: mix(#fff, @danger-color, @mix-rate-5);
@danger-color-6: mix(#fff, @danger-color, @mix-rate-6);
@danger-color-7: mix(#fff, @danger-color, @mix-rate-7);
@danger-color-8: mix(#fff, @danger-color, @mix-rate-8);
@danger-color-9: mix(#fff, @danger-color, @mix-rate-9);
@danger-color-10: mix(#fff, @danger-color, @mix-rate-10);

// 基于以上颜色 重命名一下 有含义的别名 方便使用

@split-color: @black-color-5; // 栏目分隔颜色

@border-color: @black-color-4; // 边框颜色

@text-color: @black-color-1; // 默认文本色

@disabled-bg: @black-color-6; // 禁用背景色
@disabled-color: @black-color-4; // 禁用颜色

@input-focus-border-color: @theme-color; // 文本框聚焦时边框颜色

@item-selected-bg: @theme-color-5; // 选中条目别背景色
@item-hover-bg : @black-color-6; // hover 条目背景色

@row-alt-bg: #fafafa; // 偶数行背景色

@base-height: 30px; // 高度
@base-padding: 8px; // 基本间隙
@base-fontSize: 14px; // 字号
@border-radius: 4px; // 圆角半径

// 默认高度
#miniui-base-lineHeight(@height: @base-height) {
    line-height: @height;
    line-height: @height / 100px * 1rem;
}
#miniui-base-h(@height: @base-height) {
    height: @height;
    height: @height / 100px * 1rem;
}
#miniui-base-height(@height: @base-height) {
    #miniui-base-lineHeight(@height);
    #miniui-base-h(@height);
}
// 默认字体大小
#miniui-base-fontSize(@size: @base-fontSize) {
    font-size: @size;
    font-size: @size / 100px * 1rem;
}

// 默认box-shadow
#miniui-default-box-shadow() {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.12);
}
// 默认过渡
#miniui-default-transition() {
    transition: all 0.2s ease-out;
}
// 抽取按钮默认样式
#miniui-button-style() {
    #miniui-default-transition();

    position: relative;

    display: inline-block;

    padding: 0 16px;
    padding: 0 0.16rem;

    #miniui-base-fontSize();

    #miniui-base-lineHeight();

    text-align: center;
    vertical-align: top;
    text-decoration: none;

    color: @text-color;
    border: 1px solid @border-color;
    border-radius: @border-radius;
    outline: none;
    background: #fff;
    // overflow: hidden;

    &:hover,
    &.mini-button-popup {
        border-color: @theme-color;
        color: @theme-color;
    }

    &:focus,
    &:active {
        outline: none;
    }
    &:active,
    &.mini-button-pressed {
        box-shadow: 0 0 6px 4px rgba(@theme-color-2, 0.3);
    }
}

// 旋转动画
.icon-refresh:hover {
    #rotate_animation();
}

@keyframes icon_rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
