
@import './rule.less';
@images-dir: '../../images';

:root {
    // theme
    --theme-color: @theme-color;
    --theme-color-1: @theme-color-1;
    --theme-color-2: @theme-color-2;
    --theme-color-3: @theme-color-3;
    --theme-color-4: @theme-color-4;
    --theme-color-5: @theme-color-5;
    --theme-color-6: @theme-color-6;

    --theme-color-7: @theme-color-7;
    --theme-color-8: @theme-color-8;
    --theme-color-9: @theme-color-9;
    --theme-color-10: @theme-color-10;

    // dark
    --black-color: @black-color;
    --black-color-1: @black-color-1;
    --black-color-2: @black-color-2;
    --black-color-3: @black-color-3;
    --black-color-4: @black-color-4;
    --black-color-5: @black-color-5;
    --black-color-6: @black-color-6;

    --black-color-7: @black-color-7;
    --black-color-8: @black-color-8;
    --black-color-9: @black-color-9;
    --black-color-10: @black-color-10;

    // success
    --success-color: @success-color;
    --success-color-1: @success-color-1;
    --success-color-2: @success-color-2;
    --success-color-3: @success-color-3;
    --success-color-4: @success-color-4;
    --success-color-5: @success-color-5;
    --success-color-6: @success-color-6;

    --success-color-7: @success-color-7;
    --success-color-8: @success-color-8;
    --success-color-9: @success-color-9;
    --success-color-10: @success-color-10;

    // warning
    --warning-color: @warning-color;
    --warning-color-1: @warning-color-1;
    --warning-color-2: @warning-color-2;
    --warning-color-3: @warning-color-3;
    --warning-color-4: @warning-color-4;
    --warning-color-5: @warning-color-5;
    --warning-color-6: @warning-color-6;

    --warning-color-7: @warning-color-7;
    --warning-color-8: @warning-color-8;
    --warning-color-9: @warning-color-9;
    --warning-color-10: @warning-color-10;

    // danger
    --danger-color: @danger-color;
    --danger-color-1: @danger-color-1;
    --danger-color-2: @danger-color-2;
    --danger-color-3: @danger-color-3;
    --danger-color-4: @danger-color-4;
    --danger-color-5: @danger-color-5;
    --danger-color-6: @danger-color-6;

    --danger-color-7: @danger-color-7;
    --danger-color-8: @danger-color-8;
    --danger-color-9: @danger-color-9;
    --danger-color-10: @danger-color-10;
}
::selection {
    background: @theme-color;
    color: #fff;
    cursor: text;
}

/* ======miniui====== */
@import './miniui/core.less';
@import './miniui/layout.less';
@import './miniui/menu.less';
@import './miniui/button.less';
@import './miniui/buttonedit.less';
@import './miniui/checkbox.less';
@import './miniui/textbox.less';
@import './miniui/panel.less';
@import './miniui/messagebox.less';
@import './miniui/tabs.less';

@import './miniui/splitter.less';

@import './miniui/layout.less';

@import './miniui/calendar.less';
@import './miniui/listbox.less';
@import './miniui/tips.less';
@import './miniui/tooltip.less';
@import './miniui/progressbar.less';
@import './miniui/grid.less';
@import './miniui/grid.ext.less';
@import './miniui/tree.less';
@import './miniui/pager.less';
@import './miniui/textboxlist.less';

// uc
@import './miniui/uc/webuploader.less';
@import './miniui/uc/catalogimport.less';
@import './miniui/uc/colorpicker.less';
@import './miniui/uc/dataexport.less';
@import './miniui/uc/dataimport.less';
@import './miniui/uc/daterangepicker.less';
@import './miniui/uc/filtertree.less';
@import './miniui/uc/imageUploader.less';
@import './miniui/uc/largefileuploader.less';
@import './miniui/uc/outputtext.less';
@import './miniui/uc/pagination.less';
@import './miniui/uc/paneltip.less';
@import './miniui/uc/slider.less';
@import './miniui/uc/tabstreeselect.less';
@import './miniui/uc/treeselect.less';
@import './miniui/uc/verifycode.less';
@import './miniui/uc/webeditor.less';
@import './miniui/uc/slideWindow.less';


/* ======frame====== */
@import './frame/common.reset.less';
@import './frame/common.util.less';
@import './frame/common.form.less';
@import './frame/common.accordions.less';
@import './frame/common.layout.less';
@import './frame/common.contentpage.less';
@import './frame/common.toolbar.overflow.less';
@import './frame/common.lightdialog.less';
@import './frame/common.block.less';
@import './frame/common.others.less';
@import './frame/common.master.less';
@import './frame/portal.less';
