/**!
 * showcase
 * date:2020-03-13
 * author: haven;
 */

@import "../../scss/mixin";

body {
    height: 100%;
    font-size: px2rem(14);
    position: relative;
}

.user-info {
    min-height: px2rem(200);
    background-color: rgba(0, 0, 0, 0.05);
    color: #837393;
    padding: px2rem(20);
    text-align: center;
    line-height: px2rem(200);
    margin-bottom: px2rem(20);
}

.base-info {
    margin: px2rem(30);
    padding-left: px2rem(100);
    border: 1px solid #666;
    line-height: px2rem(36);
}

.base-info p {
    margin-bottom: px2rem(10);
}

.base-info p img {
    width: px2rem(12);
    height: px2rem(12);
}

.base-info input,
.base-info select {
    height: px2rem(36);
    padding: 0 px2rem(12);
}

.main {
    padding: 0 px2rem(30);
}

.main table {
    table-layout: fixed;
    width: 100%;
    text-align: center;
}

.main table th {
    height: px2rem(50);
    font-size: px2rem(18);
    background-color: #f1f1f1;
}

.main table tbody tr {
    border-bottom: 1px solid #ccc;
}

.main table td {
    height: px2rem(40);
    font-size: px2rem(14);
}

.main table td a {
    display: inline-block;
    height: px2rem(24);
    line-height: px2rem(22);
    border: 1px solid rgb(94, 154, 243);
    padding: 0 px2rem(6);
    font-size: px2rem(14);
    color: rgb(94, 154, 243);
    border-radius: px2rem(4);
    cursor: pointer;
}

.main table td a.write {
    border-color: rgb(9, 180, 66);
    color: rgb(9, 180, 66);
}

.main table td a.submit {
    border-color: orange;
    color: orange;
}

.scrollnum {
    height: px2rem(66);
    line-height: px2rem(66);
    display: inline-block;
    vertical-align: middle;

    > .item {
        width: px2rem(50);
        vertical-align: top;
        text-align: center;
        background: url("../images/scrollNum.png") no-repeat center;
        font-size: px2rem(30);
        font-weight: bold;
        color: #17d2ff;
        margin-right: px2rem(10);
        background-size: 100% 100%;
        height: 100%;
        display: inline-block;
        position: relative;

        &:first-child {
            margin-left: 0 !important;

            &:before {
                display: none;
            }
        }

        &:nth-last-child(3n) {
            margin-left: px2rem(20);

            &:before {
                content: "，";
                position: absolute;
                left: px2rem(-25);
                font-size: px2rem(40);
            }
        }

        > .sequence {
            position: relative;
            width: 100%;
            height: 100%;
            overflow: hidden;

            > span {
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                text-align: center;
                height: 1000%;
                transition: top 2s ease;

                > i {
                    display: block;
                    height: 10%;
                    font-style: normal;
                }
            }
        }
    }
}

.red {
    color: red;
}
