html, body {
    height: 100%;
    overflow: hidden;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}
/*菜单栏*/
.designer-toolbar {
    width: 100%;
    height: 35px;
    line-height: 35px;
    position: relative;
    background: #F7F7F7;
    background-image: url(images/texture.png), linear-gradient(hsla(0, 100%, 100%, 0.99), hsla(0, 16%, 96%, 0.95));
    border-bottom: 1px solid #cbcccc;
}

.designer-toolbar .btn-group {
    height: 100%;
}

.designer-toolbar .user {
    padding: 0 20px;
}

.btn-group .btn {
    margin-right: 1px;
}

.btn {
    box-sizing: border-box;
    font-weight: 400;
    font-size: 13px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 0;
    display: inline-block;
    cursor: pointer;
    margin: 0px;
}
/* 主要按钮 */
.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.btn-primary:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}
/* 信息按钮 */
.btn-info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}

.btn-info:hover {
    color: #fff;
    background-color: #31b0d5;
    border-color: #269abc;
}
/* 警告按钮 */
.btn-warning {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}

.btn-warning:hover {
    color: #fff;
    background-color: #ec971f;
    border-color: #d58512;
}

.main-container {
    border: 0 !important;
    width: 100%;
    min-height: 200px;
    position: absolute;
    left: 0;
    top: 49px;
    bottom: 0;
    /*border-top: 1px solid #cbcccc;*/
}

.diagram-container {
    position: relative;
    overflow: auto;
    background: url("../img/designer/grid.gif") repeat;
    background: url("data:image/png;base64,R0lGODlhCgAKAJEAAAAAAP///8zMzP///yH5BAEAAAMALAAAAAAKAAoAAAIJ1I6py+0Po2wFADs=") repeat;
    margin-left: 0px;/* modify by lxji 228*/
    height: 100%;
}

.sidebar-container {
    border: 0 !important;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 220px;
    overflow: auto;
    overflow-x: hidden;
}
/*分割条*/

.splitter-bar:hover {
    background-color: #d5d5d5;
}

.splitter-bar-vertical {
    position: absolute;
    left: 220px;
    width: 8px;
    height: 100%;
    cursor: col-resize;
    cursor: ew-resize;
    background-color: #e5e5e5;
    background-repeat: no-repeat;
    background-position: center center;
}

.splitter-bar-horizontal {
    height: 8px;
    font-size: 1pt;
    cursor: row-resize;
    cursor: ns-resize;
    background-color: #e5e5e5;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAEBAMAAACw6DhOAAAAGFBMVEUzMzP///9tbW1QUFCKiopBQUF8fHxfX1/IXlmXAAAAFElEQVQImWNgNVdzYBAUFBRggLMAEzYBy29kEPgAAAAASUVORK5CYII=);
    _background-image: url('../img/designer/thumb_horz.png');
    background-repeat: no-repeat;
    background-position: center center;
}

.widget-container {
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.outline-container {
    width: 100%;
    min-width: 200px;
    height: 50%;
    margin-left: 8px;
    overflow: auto;
}

.widget-container .widget-group {
    border-bottom: 1px solid #cbcccc;
    margin-top: 1px;
}

.widget-container .widget-group .widget-group-title {
    position: relative;
    margin: 0px;
    background-color: #F3F3F3;
    background-image: url(../images/texture.png), linear-gradient(hsla(0, 100%, 100%, 0.99), hsla(0, 100%, 100%, 0.95));
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 0 2px 0 12px;
    border-bottom: #cccccc solid 1px;
    cursor: pointer;
    -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, .1);
    -ms-box-shadow: 0px 1px 1px rgba(0, 0, 0, .1);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, .1);
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.33);
}

.widget-group-items-list li i {
    display: inline-block;
    *zoom: 1;
    width: 18px;
    height: 18px;
    vertical-align: middle;
    margin: -3px 6px 0 0;
}

.widget-container .widget-group ul li {
    height: 28px;
    line-height: 28px;
    padding-left: 25px;
    font-size: 12px;
}

.widget-container .widget-group li:hover {
    background: #fafafa;
}

.widget-container .widget-group li {
    cursor: pointer;
}

.widget-container .widget-group-title > span[class*="icon-"] {
    margin-right: 5px;
}

.statusbar-container {
    position: absolute;
    width: 100%;
    height: 25px;
    bottom: 0;
    border-top: 1px solid #aaaaaa;
    background-color: #f3f3f3;
    padding: 2px 5px;
}
/*菜单*/

.dropdown-menu li {
    position: relative;
    color: #333;
    padding: 0px 30px;
    line-height: 26px;
    cursor: default;
    width: 150px;
}

.dropdown-menu li:hover {
    background-color: #eee;
}

.dropdown-menu li .ico {
    position: absolute;
    top: 3px;
    left: 5px;
}

.dropdown-menu li .extend {
    position: absolute;
    right: 10px;
    top: 0px;
    color: #777;
    text-align: right;
}

.td_textbox i {
    background-image: url(../images/controls/text.png);
}

.td_richeditor i {
    background-image: url(../images/controls/richeditoricon.png);
}

.td_textarea i {
    background-image: url(../images/controls/textarea.png);
}

.td_dropdowntextbox i {
    background-image: url(../images/controls/select.png);
}

.td_radiobuttonlist i {
    background-image: url(../images/controls/radio.png);
}

.td_checkboxlist i {
    background-image: url(../images/controls/checkbox.png);
}

.td_datetimetextbox i {
    background-image: url(../images/controls/calendartime.png);
}

.td_datetextbox i {
    background-image: url(../images/controls/calendar.png);
}

.td_fileupload i {
    background-image: url(../images/controls/fileupload.png);
}

.td_macro i {
    background-image: url(../images/controls/macro.png);
}

.td_orgsel i {
    background-image: url(../images/controls/orgselect.png);
}

.td_ntko i {
    background-image: url(../images/controls/ntko.png);
}

.td_datagrid i {
    background-image: url(../images/controls/datagrid.png);
}

.td_datagridnew i {
    background-image: url(../images/controls/datagridnew.png);
}

.td_calculatecontrol i {
    background-image: url(../images/controls/calculatecontrol.png);
}

.td_epimage i {
    background-image: url(../images/controls/macro.png);
}
/* .td_listview i {
    background-image: url(../images/controls/datagrid.png);
}
.td_calc i {
    background-image: url(../images/controls/calc.png);
}

.td_websign i {
    background-image: url(../images/controls/websign.png);
}
.td_dataselection i {
    background-image: url(../images/controls/dataselection.png);
}
.td_extdataselection i {
    background-image: url(../images/controls/extdataselection.png);
}
.td_formdataselection i {
    background-image: url(../images/controls/formdataselection.png);
}
.td_progressbar i {
    background-image: url(../images/controls/progressbar.png);
}
.td_imageupload i {
    background-image: url(../images/controls/imageupload.png);
}
.td_qrcode i {
    background-image: url(../images/controls/qrcode.png);
}
.td_mobilesign i {
    background-image: url(../images/controls/mobilesign.png);
} */

.cke_reset_all .cke_button__td_js_script_icon {
    background: url(../images/td_js_script.gif) no-repeat 0 0;
}

.cke_reset_all .cke_button__td_css_script_icon {
    background: url(../images/td_css_script.gif) no-repeat 0 0;
}

.cke_reset_all .cke_button__td_macro_mark_icon {
    background: url(../images/td_macro.gif) no-repeat 0 0;
}

.cke_reset_all .cke_button__td_about_icon {
    background: url(../images/td_about.gif) no-repeat 0 0;
}

/* extended by Mr.Prime */
/* 表字段列表样式 */
.field-list .field-item {
    border-top: 1px solid #ccc;
}

.field-list > :first-child {
    border-top: none;
}

.field-list .field-hd {
    line-height: 28px;
    height: 28px;
    font-size: 12px;
    position: relative;
    padding-left: 11px;
    cursor: pointer;
}

.field-list .field-hd:hover {
    color: #ff0000;
    background-color: #fde6a2;
}

.field-list.second-level .field-hd {
    padding-left: 22px;
}

.field-list .field-hd a {
    position: absolute;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 85%;
    font-weight: 600;
    color: #fff;
    border-radius: 4px;
    text-decoration: none;
    position: absolute;
    top: 4px;
    display: none;
}

.field-list .field-hd:hover a {
    display: block;
}

.field-list .field-hd .insert-text {
    background-color: #337ab7;
    right: 33px;
}

.field-list .field-hd .insert-ctrl {
    background-color: #5cb85c;
    right: 6px;
}

.field-list .field-hd [class^="epicon-"] {
    background-image: url("../images/tree.png");
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    vertical-align: middle;
    display: inline-block;
}

.field-list .field-hd .epicon-plus {
    background-position: -34px -35px;
}

.field-list .field-hd .epicon-minus {
    background-position: -34px -10px;
}

.field-list .field-content {
    border-top: 1px dotted #ccc;
}

.field-list .field-content > span {
    display: block;
    font-size: 12px;
    color: #333;
    padding-left: 44px;
    line-height: 25px;
    height: 25px;
}

.field-list .field-content > span:hover {
    background-color: #dfedfa;
}

/*自动布局菜单*/
.arrange-menu {
    position: absolute;
    border-radius: 4px;
    z-index: 99;
    box-sizing: border-box;
    border: 1px solid #ccc;
    padding: 2px;
    background-color: #fff;
}

.arrange-menu > a {
    display: block;
    color: #333;
    line-height: 30px;
    height: 30px;
    padding: 0 20px;
    text-decoration: none;
}

.arrange-menu > a:hover {
    background-color: #286090;
    color: #fff;
}

.left {
	position: absolute;
	left: 0;
	width: 211px;
	height: 100%;
	
}
.right {
	margin-left: 211px;
	height: 100%;
}

/* utility */
.hidden {
    display: none !important;
}

.invisible {
    visibility: hidden !important;
}

.hidden-accessible {
    position: absolute !important;
    left: -999999em !important;
}

.l {
    float: left;
}

.r {
    float: right;
}

.mr20 {
    margin-right: 20px;
}

.clearfix {
    *zoom: 1;
}

.clearfix:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
