/* 手风琴布局 */

.fui-acc-hd {
    color: #495893;
    border-bottom-color: #495893;
}
.fui-accordion.opened .fui-acc-toggle {
    background-image: url('images/accLayout/opened.png');
}
.fui-accordion.closed .fui-acc-toggle {
    background-image: url('images/accLayout/closed.png');
}

/* 列表 hover 和 selected */
.fui-list-hover {
    background-color: #fffed5;
}
.fui-list-selected {
    background-color: #dfedfa;
}
