html,
body {
    line-height: 0.26rem;
}
.separator {
    height: 0.18rem;
}
.mini-errorIcon {
    background: none;
    font-size: 0.14rem;
    width: 0.14rem;
    height: 0.16rem;
    line-height: 0.16rem;
    margin-top: -0.08rem;
    text-align: center;
    right: 0.01rem;
    transform: rotate(180deg);
}
.mini-errorIcon:before {
    font-family: ActionIcon !important;
    content: '\e6fe';
    color: #de2a2a;
}
.mini-error .mini-textbox-border {
    margin-right: 0.18rem;
}
/* button */
.mini-icon,
.mini-iconfont {
    width: 0.16rem;
    height: 0.16rem;
    line-height: 0.16rem;
    font-size: 0.16rem;
}

.mini-button .mini-button-icon {
    width: 0.16rem;
    height: 0.16rem;
    font-size: 0.16rem;
    margin-top: -0.08rem;
}
.mini-button-iconOnly .mini-button-icon,
.mini-button-iconLeft .mini-button-icon {
    left: 0.08rem;
}
.mini-button-iconRight .mini-button-text {
    padding-right: 0.26rem;
}
.mini-button-iconLeft .mini-button-text {
    padding-left: 0.26rem;
}
.mini-button-iconBottom .mini-button-text {
    padding-bottom: 0.22rem;
}
.mini-button-iconBottom .mini-button-icon {
    margin-left: -0.08rem;
}
.mini-button-iconTop .mini-button-text {
    padding-top: 0.22rem;
}
.mini-button-iconTop .mini-button-icon {
    /* 22 - 16 */
    top: 0.03rem;
    margin-top: 0;
}
.mini-button-iconOnly {
    width: 0.32rem;
    height: 0.24rem;
}
.mini-button,
.mini-button.mini-splitbutton {
    line-height: 0.24rem;
    font-size: 0.13rem;
}
.mini-splitbutton .mini-button-split,
.mini-button-menu {
    line-height: 0.24rem;
    font-size: 0.16rem;
}

/* textbox */
.mini-textbox,
.mini-buttonedit {
    width: 1.5rem;
    height: 0.26rem;
    line-height: calc(0.26rem - 2px);
}
.mini-textbox-border,
.mini-buttonedit-border {
    height: 100%;
    line-height: inherit;
    box-sizing: border-box !important;
}
.mini-textarea .mini-textbox-input,
.mini-textbox-input,
.mini-buttonedit-input {
    height: 100%;
    line-height: inherit;
    font-size: 0.13rem;
    box-sizing: border-box !important;
}
.mini-buttonedit-border {
    padding-right: 0.24rem;
}
.mini-buttonedit-button {
    width: 0.24rem;
}
.mini-buttonedit-icon {
    margin-left: -0.08rem;
    margin-top: -0.08rem;
}
.mini-buttonedit-close.mini-icon {
    height: 0.24rem;
    line-height: 0.24rem;
    font-size: 0.12rem;
    text-align: center;
}
.mini-buttonedit-down span,
.mini-buttonedit-up span {
    line-height: 0.12rem;
    width: 0.16rem;
    font-size: 0.13rem;
}

/* checkbox */
.mini-checkbox,
.mini-checkboxlist,
.mini-radiobuttonlist {
    font-size: 0.12rem;
    line-height: 0.24rem;
}
.mini-checkboxlist-item,
.mini-radiobuttonlist-item {
    line-height: 0.26rem;
    height: 0.26rem;
}
.mini-checkboxlist table label,
.mini-radiobuttonlist table label {
    line-height: 0.26rem;
    font-size: 0.12rem;
}
.mini-list-icon {
    margin-top: 0.05rem;
}
.mini-checkbox.switch .mini-checkbox-icon {
    width: 0.3rem;
    height: 0.16rem;
    border-radius: 0.08rem;
}
.mini-checkbox.switch .mini-checkbox-icon:before {
    width: 0.14rem;
    height: 0.14rem;
    top: calc((0.16rem - 0.14rem) / 2);
    left: calc((0.16rem - 0.14rem) / 2);
}

.switch.mini-checkbox-checked .mini-checkbox-icon:before {
    left: auto;
    right: calc((0.16rem - 0.14rem) / 2);
}

/* textboxlist */
.mini-textboxlist {
    height: 0.26rem;
    line-height: calc(0.26rem - 2px);
}
.mini-textboxlist-border {
    line-height: inherit;
}
.mini-textboxlist ul {
    /* padding: 3px 2px 1px 4px; */
    padding-top: 0.03rem;
}
.mini-textboxlist .mini-textboxlist-item {
    height: 0.16rem;
    line-height: 0.16rem;
    border-radius: 0.08rem;
    padding-left: 0.06rem;
    padding-right: 0.15rem;
    font-size: 0.12rem;
}
.mini-textboxlist .mini-textboxlist-input {
    height: 0.16rem;
    font-size: 0.12rem;
}
.mini-textboxlist-close {
    top: 50%;
    margin-top: -0.06rem;
    width: 0.12rem;
    height: 0.12rem;
    line-height: 0.12rem;
    font-size: 0.12rem;
}
.mini-listbox td {
    line-height: 0.18rem;
    font-size: 0.13rem;
}

/* window */
.mini-panel {
    font-size: 12px;
    font-size: .12rem;
}
.mini-panel-header,
.mini-window .mini-panel-header {
    line-height: 0.36rem;
    height: 0.36rem;
}
.mini-panel .mini-panel-title {
    font-size: 0.16rem;
    line-height: 0.36rem;
}
.mini-panel .mini-panel-icon {
    height: 0.36rem;
    line-height: 0.36rem;
    width: 0.36rem;
    margin-top: 0;
}
.mini-panel .mini-tools > span {
    height: 0.36rem;
    width: 0.32rem;
    line-height: 0.36rem;
}
.mini-tools .mini-tools-collapse:before {
    font-size: 0.22rem;
}

/* tabs */
.mini-tabs-scrollCt {
    line-height: 0.4rem;
}
.mini-tab {
    height: 0.4rem;
    line-height: 0.4rem;
    font-size: 0.13rem;
    padding: 0 0.16rem;
}

.mini-tab-text {
    line-height: 0.16rem;
}
.mini-tab-close.mini-icon {
    height: 0.12rem;
    font-size: 0.12rem;
    line-height: 0.12rem;
}
.mini-tabs-table {
    font-size: 0.12rem;
}
/* tabstreeselect */
.mini-tabstreeselect-header {
    font-size: 0.13rem;
    line-height: 0.32rem;
    height: auto;
}
.mini-tabstreeselect-header:after {
    content: '';
    display: block;
    clear: both;
}
.mini-tabstreeselect-content {
    top: 0.32rem;
}
.mini-tabstreeselect-tabs > li,
.mini-tabstreeselect-header-main {
    line-height: 0.26rem;
    padding-left: 0.1rem;
    padding-right: 0.1rem;
    border-top-left-radius: 0.04rem;
    border-top-right-radius: 0.04rem;
}
.mini-tabstreeselect-header-main {
    height: 0.26rem;
}
.mini-tabstreeselect-buttons {
    height: 0.24rem;
}
.mini-tabstreeselect-action {
    width: 0.24rem;
    height: 0.24rem;
    line-height: 0.24rem;
}
.mini-filtertree-filter {
    width: 100%;
}
.mini-filtertree-filter .mini-textbox-border {
    padding-right: 0.24rem;
}
.mini-filtertree .filter-search-btn {
    line-height: 0.26rem;
    width: 0.24rem;
    height: 0.26rem;
}
.mini-tabstreeselect-item {
    font-size: 0.12rem;
    line-height: 0.26rem;
    padding-right: 0.3rem;
}
.mini-tabstreeselect-action.remove {
    height: 0.26rem;
    line-height: 0.26rem;
    font-size: 0.12rem;
    top: 0;
}
/* panel */
.mini-panel,
.mini-popup {
    font-size: 0.12rem;
}

/* datagrid */
.mini-grid-cell,
.mini-grid-filterCell,
.mini-grid-headerCell,
.mini-grid-summaryCell {
    font-size: 0.12rem;
    line-height: 0.18rem;
}
.mini-grid-cell-inner,
.mini-grid-headerCell-inner {
    font-size: 0.13rem;
}
.mini-grid-allowsort,
.mini-grid-sortIcon {
    margin-top: -0.08rem;
    width: 0.16rem;
    height: 0.16rem;
    line-height: 0.16rem;
}
.mini-grid-allowsort:before {
    font-size: 0.13rem;
}
.mini-grid-cell-inner,
.mini-grid-headerCell-inner {
    line-height: 0.36rem;
}

/* pager */
.mini-pager {
    height: 0.35rem;
    line-height: 0.35rem;
    font-size: 0.13rem;
}
.mini-pager-index {
    vertical-align: top;
}
.mini-pager-left {
    height: 100%;
    line-height: inherit;
}

.mini-pager-right {
    line-height: inherit;
}
.mini-pager-size .mini-combobox {
    width: 0.5rem;
}
.mini-pager-size {
    height: auto;
}
body .mini-pager-num {
    height: auto;
    font-size: 0.13rem;
}

/* tree */

.mini-tree-nodetitle {
    font-size: 0.12rem;
}
.mini-tree-nodetitle {
    height: 0.24rem;
    line-height: 0.16rem;
}
.mini-tree-nodetext {
    height: 0.18rem;
    line-height: 0.18rem;
}

.mini-tree .mini-tree-icon {
    width: 0.2rem;
    height: 0.22rem;
    line-height: 0.22rem;
}
.mini-tree-node-ecicon,
.mini-tree-indent {
    width: 0.2rem;
    height: 0.24rem;
}
.mini-tree-node-ecicon,
.mini-tree-treeLine .mini-tree-indent {
    background-repeat: no-repeat !important;
}

/* calendar */
.mini-calendar-header {
    height: 0.36rem;
}
.mini-calendar-title {
    font-size: 0.13rem;
    line-height: 0.36rem;
}
.mini-calendar-next,
.mini-calendar-prev {
    top: 50%;
    margin-top: -0.08rem;
}
.mini-calendar-daysheader {
    height: 0.32rem;
}
body .mini-calendar td {
    line-height: 0.14rem;
}
.mini-calendar-daysheader td,
.mini-calendar-days td {
    font-size: 0.12rem;
}
.mini-calendar-footer {
    height: 0.24rem;
}
.mini-calendar-cancelButton,
.mini-calendar-clearButton,
.mini-calendar-okButton,
.mini-calendar-tadayButton {
    font-size: 0.12rem;
    width: 0.5rem;
    height: 0.24rem;
    line-height: calc(0.24rem - 2px);
    box-sizing: border-box !important;
    padding: 0;
}
.mini-calendar-footer .mini-buttonedit {
    height: 0.24rem;
    line-height: calc(0.24rem - 2px);
}
.mini-calendar-timespinner {
    width: 0.68rem;
}
.mini-calendar-footer .mini-buttonedit > .mini-buttonedit-border {
    height: 100%;
    line-height: inherit;
    box-sizing: border-box !important;
    padding: 0;
    padding-right: 0.24rem;
}
.mini-calendar-footer .mini-buttonedit > .mini-buttonedit-border > .mini-buttonedit-input {
    font-size: 0.12rem;
    height: 100%;
    line-height: inherit;
    box-sizing: border-box !important;
}

.mini-calendar-footer .mini-buttonedit .mini-buttonedit-button {
    width: 0.24rem;
    height: 100%;
}
.mini-calendar-menu-months {
    height: 0.9rem;
}

.mini-calendar-menu-month {
    line-height: 0.24rem;
    height: 0.24rem;
    font-size: 0.12rem;
    width: calc(25% - 20px);
    box-sizing: border-box;
}
.mini-calendar-menu-years {
    height: 0.56rem;
    padding-left: 0.15rem;
    padding-right: 0.15rem;
}
.mini-calendar-menu-year {
    margin-bottom: 0.04rem;
    width: calc(20% - 6px);
    font-size: 0.12rem;
    line-height: 0.2rem;
    height: 0.2rem;
}
.mini-calendar-menu-nextYear,
.mini-calendar-menu-prevYear {
    top: 50%;
    margin-top: -0.08rem;
}
.mini-calendar-menu .mini-calendar-footer {
    line-height: 0;
}

/* daterangepicker */
.layui-laydate-range {
    width: 4.96rem;
    font-size: 0.13rem;
}
.layui-laydate-main {
    width: 50%;
}
.layui-laydate-header {
    line-height: 0.3rem;
}
.laydate-icon {
    font-size: 0.16rem;
    height: 0.16rem;
    width: 0.16rem;
    line-height: 0.16rem;
}
.layui-laydate-header i {
    top: 50%;
    margin-top: -0.08rem;
}
.layui-laydate-header i.laydate-prev-m {
    left: calc(28px + 0.16rem);
}
.layui-laydate-header i.laydate-next-m {
    right: calc(28px + 0.16rem);
}
.layui-laydate-footer {
    height: 0.36rem;
    line-height: calc(0.36rem - 10px);
}
.layui-laydate-footer span {
    font-size: 0.12rem;
    height: 0.26rem;
    line-height: 0.26rem;
}

.layui-laydate-content td,
.layui-laydate-content th {
    height: 0.22rem;
    line-height: 0.22rem;
    width: 0.36rem;
}
.laydate-time-list p {
    line-height: 0.3rem;
}
.laydate-time-list ol {
    /* height: calc(1.8rem + 1px); */
    height: calc(100% - 0.3rem);
}
.laydate-time-list ol li {
    line-height: 0.3rem;
    text-align: center;
    padding: 0;
    width: auto;
}

/* menu */
.mini-menuitem {
    line-height: 0.24rem;
}
.mini-menuitem-inner {
    padding-left: 0.28rem;
    padding-right: 0.2rem;
    font-size: 0.13rem;
}
.mini-menuitem-icon,
.mini-menuitem-allow {
    top: 0.04rem;
}

/* dataexport */
.mini-dataexport .mini-panel {
    width: 3.7rem !important;
}
.mini-export-list-content .mini-listbox {
    width: 100% !important;
    height: 1.2rem !important;
}
.mini-export-list-header {
    height: 0.26rem;
    font-size: 0.14rem;
}
.mini-dataexport > .mini-panel {
    top: 0.26rem;
}
.mini-export-middle {
    width: 0.32rem;
}
.mini-export-list .mini-export-left,
.mini-export-list .mini-export-right {
    width: calc((100% - 0.36rem) / 2);
}
.mini-export-list-content .mini-listbox-item > td {
    font-size: 0.12rem;
}
.mini-radiobuttonlist .mini-export-num {
    width: 0.28rem;
    line-height: 0.14rem;
    height: 0.14rem;
    font-size: 0.12rem;
}
.mini-export-btn {
    height: 0.36rem;
    line-height: calc(0.36rem - 2px);
}

/* tips */
.mini-tips {
    line-height: 0.2rem;
    font-size: 0.12rem;
    padding-left: 0.4rem;
}
.mini-tips:before {
    font-size: 0.16rem;
    margin-top: -0.08rem;
    line-height: 0.16rem;
    left: 0.1rem;
}
.mini-messagebox-msg {
    font-size: 0.13rem;
    line-height: 0.24rem;
}
.mini-messagebox .mini-messagebox-buttons {
    height: calc(0.26rem + 6px);
    font-size: 0.13rem;
}

.mini-messagebox .mini-messagebox-content {
    height: calc(100% - 0.36rem);
}
.mini-prompt-label,
.mini-prompt-input {
    font-size: 0.13rem;
    line-height: 0.24rem;
}
.mini-messagebox-button {
    /* line-height: 0.28rem; */
}
.mini-tooltip {
    font-size: 0.14rem;
}
.mini-tooltip-topright .mini-tooltip-arrow,
.mini-tooltip-bottomright .mini-tooltip-arrow {
    right: 0.05rem;
}

.mini-tooltip-loading {
    width: 0.16rem;
    height: 0.16rem;
}

/* webuploader */
.mini-uploader-btns .webuploader-pick {
    line-height: calc(0.26rem - 2px);
}
/* .mini-pagination */
.mini-pagination {
    height: 0.26rem;
    line-height: 0.26rem;
    font-size: 0.13rem;
}
.pagination-next.mini-icon,
.pagination-prev.mini-icon {
    line-height: calc(0.26rem - 2px);
    height: 0.26rem;
}
.pagination-button {
    line-height: calc(0.26rem - 2px);
    height: 0.26rem;
    min-width: 0.24rem;
}
.pagination-pagerchange {
    line-height: calc(0.26rem - 2px);
    height: 0.26rem;
}
.pagination-pagerchange input {
    height: 100%;
    line-height: inherit;
    width: 0.3rem;
}
.mini-pagination > .mini-buttonedit {
    line-height: calc(0.26rem - 2px);
    height: 0.26rem;
}
.mini-pagination .mini-buttonedit.mini-combobox {
    width: 0.8rem;
}
.mini-pagination .mini-buttonedit.mini-combobox .mini-buttonedit-border:before {
    right: 0.26rem;
    width: 0.3rem;
    font-size: 0.12rem;
    line-height: inherit;
}
/* colorpicker */
.mini-colorpicker>.mini-textbox {
    width: calc(100% - 0.26rem);
}
.mini-colorpicker-indication {
    width: 0.26rem;
    height: 0.26rem;
    line-height: 0.26rem;
    padding: 0.04rem;
    box-sizing: border-box;
}
.mini-colorpicker-indication i {
    position: static;
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    box-sizing: border-box;
}

/* slider */
.mini-slider {
    height: 0.26rem;
}
.mini-slider-runway {
    height: 0.06rem;
    margin-top: -0.03rem;
    border-radius: 0.03rem;
}
.mini-slider-bar {
    border-top-left-radius: 0.03rem;
    border-bottom-left-radius: 0.03rem;
}
.mini-slider-pointer {
    width: 0.16rem;
    height: 0.16rem;
    border-width: 0.02rem;
    top: -0.07rem;
    margin-left: -0.1rem;
}