@charset "UTF-8";
/**!
* 数字驾驶舱
* date:2021-04-12
* author: qxy
*/
body .fui-content > div {
  height: 100%;
  background: url(../../images/bigscreen/bg.jpg) 0 0/100% 100% no-repeat;
}

.header {
  height: 281px;
  height: 1.02182rem;
  font-size: 32px;
  font-size: 0.11636rem;
  color: #fff;
  background: url(../../images/bigscreen/header-bg.png) 0 0/100% 100% no-repeat;
}

::-webkit-input-placeholder {
  color: #6488B8;
}

:-moz-placeholder {
  color: #6488B8;
}

::-moz-placeholder {
  color: #6488B8;
}

:-ms-input-placeholder {
  color: #6488B8;
}

.placeholder {
  color: #6488B8;
}

/* logo */
.logo-con {
  width: 1200px;
  width: 4.36364rem;
  height: 104px;
  height: 0.37818rem;
  background: url(../../images/bigscreen/logo.png) center 0 no-repeat;
  background-size: 1010px 67px;
  background-size: 3.67273rem 0.24364rem;
  background-position-y: 37px;
  background-position-y: 0.13455rem;
}

.logo-con span {
  display: none;
}

/* 导航 */
.nav {
  height: 122px;
  height: 0.44364rem;
  margin: 0px 1000px 0px 1300px;
  margin: 0rem 3.63636rem 0rem 4.72727rem;
}

.nav-level .level-parent {
  display: block;
  width: 502px;
  width: 1.82545rem;
  height: 127px;
  height: 0.46182rem;
  margin: 3px 0px 0px -46px;
  margin: 0.01091rem 0rem 0rem -0.16727rem;
  padding-top: 17px;
  padding-top: 0.06182rem;
  text-align: center;
  line-height: 82px;
  line-height: 0.29818rem;
  font-size: 46px;
  font-size: 0.16727rem;
  font-family: "PMZD";
  color: #fff;
  background: url(../../images/bigscreen/return-nav.png) 0 0/100% 100% no-repeat;
  box-sizing: border-box;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
  overflow: hidden;
  text-shadow: 0 0 6px #20dbee;
}

.swiper-nav {
  height: 100%;
  padding: 0px 28px 0px 28px;
  padding: 0rem 0.10182rem 0rem 0.10182rem;
}

.swiper-nav.swiper-level-nav {
  width: calc(100% - 2rem);
}

.swiper-nav .swiper-btn {
  z-index: 2;
  position: absolute;
  top: 49px;
  top: 0.17818rem;
  width: 16px;
  width: 0.05818rem;
  height: 30px;
  height: 0.10909rem;
  background-size: 100% 100%;
  cursor: pointer;
}

.swiper-nav .swiper-btn.swiper-prev {
  left: 0;
  background-image: url(../../images/bigscreen/swiper-prev.png);
}

.swiper-nav .swiper-btn.swiper-next {
  right: 0;
  background-image: url(../../images/bigscreen/swiper-next.png);
}

.nav-item {
  position: relative;
  display: block;
  height: 100%;
  padding: 0px 85px;
  padding: 0rem 0.30909rem;
  text-align: center;
  line-height: 122px;
  line-height: 0.44364rem;
  font-size: 45px;
  font-size: 0.16364rem;
  color: #6488B8;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

.nav-item.active {
  font-family: "PMZD";
  color: #fff;
  background: url(../../images/bigscreen/nav-active.png) 0 0/100% 100% no-repeat;
  text-shadow: 0 0 6px #20dbee;
}

/* 搜索 */
.info-con-line {
  position: relative;
  height: 122px;
  height: 0.44364rem;
  box-sizing: border-box;
}

.info-con-line::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 4px;
  width: 0.01455rem;
  height: 108px;
  height: 0.39273rem;
  background: url(../../images/bigscreen/header-line.png) 0 0/100% 100% no-repeat;
}

.search-con {
  padding: 0px 40px 0px 42px;
  padding: 0rem 0.14545rem 0rem 0.15273rem;
}

.search-con .search-btn {
  display: block;
  width: 55px;
  width: 0.2rem;
  height: 59px;
  height: 0.21455rem;
  margin-top: 41px;
  margin-top: 0.14909rem;
  background-image: url(../../images/bigscreen/search-ico.png);
  background-size: 100% 100%;
}

.search-wrap {
  display: none;
  z-index: 2;
  position: absolute;
  top: 114px;
  top: 0.41455rem;
  right: 8px;
  right: 0.02909rem;
  width: 443px;
  width: 1.61091rem;
}

.search-wrap::before {
  position: absolute;
  top: -8px;
  top: -0.02909rem;
  right: 46px;
  right: 0.16727rem;
  content: "";
  width: 15px;
  width: 0.05455rem;
  height: 9px;
  height: 0.03273rem;
  background: url(../../images/bigscreen/search-triangle.png) 0 0/100% 100% no-repeat;
}

.search-wrap input {
  width: 100%;
  height: 45px;
  height: 0.16364rem;
  padding: 0px 15px;
  padding: 0rem 0.05455rem;
  font-size: 25px;
  font-size: 0.09091rem;
  color: #fff;
  border: 1px solid #2663DC;
  background: #0B2F52;
  outline: 0;
  box-sizing: border-box;
}

.search-result {
  display: none;
  padding: 4px;
  padding: 0.01455rem;
  background-color: #041e3e;
  border: 1px solid #2663DC;
  border-top: none;
}

.search-result li {
  height: 68px;
  height: 0.24727rem;
  padding-left: 68px;
  padding-left: 0.24727rem;
  line-height: 68px;
  line-height: 0.24727rem;
  font-size: 30px;
  font-size: 0.10909rem;
  background-position-x: 20px;
  background-position-x: 0.07273rem;
  background-position-y: center;
  background-repeat: no-repeat;
  transition: all ease 200ms;
  cursor: pointer;
}

.search-result li[data-type="0"] {
  background-image: url(../../images/bigscreen/search-subject.png);
  background-size: 26px 26px;
  background-size: 0.09455rem 0.09455rem;
}

.search-result li[data-type="1"] {
  background-image: url(../../images/bigscreen/search-target.png);
  background-size: 27px 27px;
  background-size: 0.09818rem 0.09818rem;
}

.search-result li:hover {
  background-color: rgba(17, 44, 94, 0.8);
}

/* 消息 */
.notice-con {
  padding: 38px 40px 0px 52px;
  padding: 0.13818rem 0.14545rem 0rem 0.18909rem;
}

.notice-con .notice-btn {
  display: block;
  width: 43px;
  width: 0.15636rem;
  height: 59px;
  height: 0.21455rem;
  background-image: url(../../images/bigscreen/notice-ico.png);
  background-size: 100% 100%;
}

.notice-con .notice-num {
  position: absolute;
  top: 38px;
  top: 0.13818rem;
  right: 28px;
  right: 0.10182rem;
  width: 23px;
  width: 0.08364rem;
  height: 23px;
  height: 0.08364rem;
  font-size: 16px;
  font-size: 0.05818rem;
  text-align: center;
  line-height: 23px;
  line-height: 0.08364rem;
  border-radius: 50%;
  background: #D13939;
}

/* 登录信息 */
.user-con {
  padding: 20px 41px 0px 35px;
  padding: 0.07273rem 0.14909rem 0rem 0.12727rem;
}

.user-con > div {
  margin-right: 130px;
  margin-right: 0.47273rem;
  text-align: right;
}

.user-con .welcome {
  margin-bottom: 22px;
  margin-bottom: 0.08rem;
  line-height: 32px;
  line-height: 0.11636rem;
}

.user-con .welcome .dep {
  display: inline-block;
  vertical-align: top;
  max-width: 285px;
  max-width: 1.03636rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.user-con .datetime {
  line-height: 32px;
  line-height: 0.11636rem;
  color: #6488B8;
}

.user-con .datetime .time {
  margin-left: 18px;
  margin-left: 0.06545rem;
}

.user-con .datetime .day {
  margin-left: 28px;
  margin-left: 0.10182rem;
}

.user-con .quit-btn {
  display: block;
  width: 80px;
  width: 0.29091rem;
  height: 81px;
  height: 0.29455rem;
  margin-top: -2px;
  margin-top: -0.00727rem;
  background-image: url(../../images/bigscreen/quit.png);
  background-size: 100% 100%;
}

/* 返回驾驶舱 */
.back-cockpit {
  width: 229px;
  width: 0.83273rem;
  height: 82px;
  height: 0.29818rem;
  /* margin: 32px 42px 0px 0px; */
  /* margin: 0.11636rem 0.15273rem 0rem 0rem; */
  background: url(../../images/bigscreen/back-cockpit.png) 0 0/100% 100% no-repeat;
  transition: all ease 200ms;
}

.back-cockpit:hover {
  background-image: url(../../images/bigscreen/back-cockpit-h.png);
}

/* 当前位置 */
.loc {
  /* margin-top: 46px; */
  /* margin-top: 0.16727rem; */
  text-align: right;
}

.loc .loc-now {
  display: inline-block;
  width: 406px;
  width: 1.47636rem;
  padding-left: 52px;
  padding-left: 0.18909rem;
  text-align: left;
  line-height: 24px;
  line-height: 0.08727rem;
  font-size: 30px;
  font-size: 0.10909rem;
  line-height: 41px;
  line-height: 0.14909rem;
  background: url(../../images/bigscreen/loc-ico.png) 0 center no-repeat;
  background-size: 34px 41px;
  background-size: 0.12364rem 0.14909rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  box-sizing: border-box;
  cursor: pointer;
}

.loc .loc-whole {
  z-index: 5;
  display: none;
  position: absolute;
  top: 230px;
  top: 0.83636rem;
  left: 50%;
  margin-left: -439.5px;
  margin-left: -1.59818rem;
  width: 879px;
  width: 3.19636rem;
  height: 1081px;
  height: 3.93091rem;
  padding: 42px 20px 0px;
  padding: 0.15273rem 0.07273rem 0rem;
  text-align: left;
  background: rgba(11, 35, 70, 0.97);
  border: 1px solid #2663DC;
  box-sizing: border-box;
  border-radius: 14px;
  border-radius: 0.05091rem;
}

.loc .loc-clarify {
  height: 57px;
  height: 0.20727rem;
  padding: 0px 0px 0px 48px;
  padding: 0rem 0rem 0rem 0.17455rem;
  line-height: 52px;
  line-height: 0.18909rem;
  font-size: 30px;
  font-size: 0.10909rem;
}

.loc .loc-clarify > li {
  position: relative;
  float: left;
  width: 33.33%;
  padding-bottom: 5px;
  padding-bottom: 0.01818rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.loc .loc-clarify > li::after {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 90px;
  width: 0.32727rem;
  height: 3px;
  height: 0.01091rem;
  background: #67dbff;
}

.loc .loc-clarify > li.chosen a {
  color: #3d5b82;
}

.loc .loc-clarify > li.active::after {
  display: block;
}

.loc .loc-clarify > li.active a {
  color: #fff;
}

.loc .loc-clarify a {
  color: #909A9A;
}

.loc .area-list {
  height: 915px;
  height: 3.32727rem;
  margin-top: 27px;
  margin-top: 0.09818rem;
  box-sizing: border-box;
  overflow: auto;
}

.loc .area-list li {
  height: 100px;
  height: 0.36364rem;
  padding-left: 48px;
  padding-left: 0.17455rem;
  line-height: 100px;
  line-height: 0.36364rem;
  transition: all ease 200ms;
  cursor: pointer;
  border-radius: 5px;
  border-radius: 0.01818rem;
}

.loc .area-list li:hover {
  background: #244268;
}

/* iframe */
.iframe-con {
  position: absolute;
  top: 240px;
  top: 0.75rem;
  left: 0;
  bottom: 0;
  right: 0;
}

.iframe-con iframe {
  width: 100%;
  height: 100%;
}

/* 特殊字体 */
@font-face {
  font-family: "PMZD";
  src: url(../../fonts/pangmen.eot) format("embedded-opentype"), url(../../fonts/pangmen.woff) format("woff"), url(../../fonts/pangmen.ttf) format("trueType");
}
