@charset "UTF-8";
/**!
* 数字驾驶舱-数字晾晒台指标
* date:2021-02-24
* author: xulei;
*/
.fui-content {
  background: rgba(11, 35, 70, 0.97);
}

.info-table {
  padding: 0px 30px;
  padding: 0rem 0.10909rem;
}

.info-table li {
  height: 82px;
  height: 0.29818rem;
  line-height: 82px;
  line-height: 0.29818rem;
  margin-bottom: 20px;
  margin-bottom: 0.07273rem;
  font-size: 30px;
  font-size: 0.10909rem;
  color: #fff;
  background: rgba(36, 66, 104, 0.47);
  border-radius: 15px;
  border-radius: 0.05455rem;
  transition: all .2s;
}

.info-table li > p {
  float: left;
  width: 50%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 30px;
  padding-left: 0.10909rem;
  box-sizing: border-box;
}

.operation-btns {
  float: left;
  width: 50%;
  height: 100%;
  font-size: 0;
  text-align: right;
}

.operation-btn {
  display: inline-block;
  vertical-align: top;
  width: 37px;
  width: 0.13455rem;
  margin-right: 38px;
  margin-right: 0.13818rem;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  transition: all ease 200ms;
}

.operation-btn span {
  display: none;
}

.operation-btn.feedback-btn {
  background-image: url(../../images/bigscreen/digital_drying/ico1.png);
  background-size: 22px 26px;
  background-size: 0.08rem 0.09455rem;
}

.operation-btn.feedback-btn:hover {
  background-image: url(../../images/bigscreen/digital_drying/ico1-h.png);
}

.operation-btn.startred-btn {
  background-image: url(../../images/bigscreen/digital_drying/ico2.png);
  background-size: 26px 29px;
  background-size: 0.09455rem 0.10545rem;
}

.operation-btn.startred-btn:hover {
  background-image: url(../../images/bigscreen/digital_drying/ico2-h.png);
}

.operation-btn.comparison-btn {
  background-image: url(../../images/bigscreen/digital_drying/ico3.png);
  background-size: 37px 23px;
  background-size: 0.13455rem 0.08364rem;
}

.operation-btn.comparison-btn:hover {
  background-image: url(../../images/bigscreen/digital_drying/ico3-h.png);
}

.operation-btn.subscribe-btn {
  background-image: url(../../images/bigscreen/digital_drying/ico4.png);
  background-size: 24px 26px;
  background-size: 0.08727rem 0.09455rem;
}

.operation-btn.subscribe-btn:hover {
  background-image: url(../../images/bigscreen/digital_drying/ico4-h.png);
}
