@charset "UTF-8";
/**!
* 数字驾驶舱-操作中心
* date:2021-04-14
* author: qxy
*/
.fui-left-bd {
  background: transparent;
  padding: 0;
}

.fui-left {
  background-color: rgba(36, 66, 104, 0.47);
  border-right: none;
  width: 301px;
  width: 1.09455rem;
  top: 0;
  height: auto;
  border-radius: 15px;
  border-radius: 0.05455rem;
  bottom: 28px;
  bottom: 0.10182rem;
  left: 33px;
  left: 0.12rem;
}

.fui-left.closed {
  background: transparent;
  margin-left: -2.28rem;
}

.fui-left-toggle {
  display: none;
}

.fui-right {
  margin-left: 358px;
  margin-left: 1.30182rem;
  transition: none;
  height: calc(100% - .1018rem);
  background-color: rgba(36, 66, 104, 0.47);
  border-radius: 15px;
  border-radius: 0.05455rem;
}

/* 左侧 */
.operation-tabs {
  padding: 20px 10px;
  padding: 0.07273rem 0.03636rem;
}

.operation-tab {
  position: relative;
  height: 70px;
  height: 0.25455rem;
  line-height: 70px;
  line-height: 0.25455rem;
  margin-bottom: 30px;
  margin-bottom: 0.10909rem;
  cursor: pointer;
  overflow: hidden;
}

.operation-tab.active {
  background-color: #244268;
  border-radius: 5px;
  border-radius: 0.01818rem;
}

.operation-tab:not(.active):hover {
  background-color: #244268;
  border-radius: 5px;
  border-radius: 0.01818rem;
}

.operation-tab:nth-child(1) .operation-tab-icon {
  background-image: url(../../images/bigscreen/operate_center/icon-operation-tab1.png);
  background-size: 64px 69px;
  background-size: 0.23273rem 0.25091rem;
  background-position: -3px 0px;
  background-position: -0.01091rem 0rem;
}

.operation-tab:nth-child(2) .operation-tab-icon {
  background-image: url(../../images/bigscreen/operate_center/icon-operation-tab2.png);
  background-size: 67px 67px;
  background-size: 0.24364rem 0.24364rem;
  background-position: -6px 3px;
  background-position: -0.02182rem 0.01091rem;
}

.operation-tab:nth-child(3) .operation-tab-icon {
  background-image: url(../../images/bigscreen/operate_center/icon-operation-tab3.png);
  background-size: 69px 73px;
  background-size: 0.25091rem 0.26545rem;
  background-position: -6px 0px;
  background-position: -0.02182rem 0rem;
}

.operation-tab:nth-child(4) {
  margin-bottom: 0;
}

.operation-tab:nth-child(4) .operation-tab-icon {
  background-image: url(../../images/bigscreen/operate_center/icon-operation-tab4.png);
  background-size: 68px 68px;
  background-size: 0.24727rem 0.24727rem;
  background-position: -6px 3px;
  background-position: -0.02182rem 0.01091rem;
}

.operation-tab-icon {
  width: 53px;
  width: 0.19273rem;
  height: 100%;
  margin-top: -.01rem;
  text-align: center;
  line-height: .74rem;
  background-repeat: no-repeat;
}

.operation-tab-icon img {
  display: none;
}

.operation-tab-text {
  font-size: 30px;
  font-size: 0.10909rem;
  width: 216px;
  width: 0.78545rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.operation-tab .operation-num-tip {
  position: absolute;
  width: 28px;
  width: 0.10182rem;
  height: 28px;
  height: 0.10182rem;
  line-height: 28px;
  line-height: 0.10182rem;
  text-align: center;
  font-size: 20px;
  font-size: 0.07273rem;
  background-color: #f25252;
  border-radius: 50%;
  top: 22px;
  top: 0.08rem;
  right: 10px;
  right: 0.03636rem;
}

/* 右侧 */
.msg-operation {
  padding: 20px 45px 0px 42px;
  padding: 0.07273rem 0.16364rem 0rem 0.15273rem;
}

.msg-operation.hidden + .msg-lists {
  height: calc(100% - .38rem);
}

.msgopera-tab-container {
  padding: 18px 31px 0px 17px;
  padding: 0.06545rem 0.11273rem 0rem 0.06182rem;
  line-height: 56px;
  line-height: 0.20364rem;
}

.msgopera-tab-container .msg-clearall {
  width: 44px;
  width: 0.16rem;
  height: 44px;
  height: 0.16rem;
  background: url(../../images/bigscreen/operate_center/icon-msg-clearall.png) no-repeat center;
  background-size: 100% 100%;
  margin-top: 6px;
  margin-top: 0.02182rem;
  cursor: pointer;
}

.msgopera-tab {
  font-size: 30px;
  font-size: 0.10909rem;
  color: #3d5b82;
  margin: 0px 27px;
  margin: 0rem 0.09818rem;
  cursor: pointer;
}

.msgopera-tab.active {
  color: #eaffff;
  border-bottom: solid #67dbff;
  border-bottom-width: 3px;
  border-bottom-width: 0.01091rem;
}

.msgopera-tab.active .num {
  color: #67dbff;
}

.msg-content {
  height: 100%;
}

.msg-lists {
  padding: 0px 45px 0px 42px;
  padding: 0rem 0.16364rem 0rem 0.15273rem;
  height: calc(100% - .6rem);
  overflow: auto;
  box-sizing: border-box;
}

.msg-lists.no-data {
  background: url(../../images/bigscreen/operate_center/nodata.png) no-repeat center;
  background-size: 1.2rem 1.2rem;
}

.msg-time-item {
  margin-top: 23px;
  margin-top: 0.08364rem;
  text-align: center;
  line-height: 38px;
  line-height: 0.13818rem;
  color: #465a7d;
}

.msg-time-item span {
  display: inline-block;
  height: 100%;
  padding: 0px 20px;
  padding: 0rem 0.07273rem;
  font-size: 24px;
  font-size: 0.08727rem;
  color: #5f8bc3;
  border-radius: 5px;
  border-radius: 0.01818rem;
  background: #142e4d;
}

.msg-item {
  padding: 20px 26px;
  padding: 0.07273rem 0.09455rem;
  background-color: #244268;
  color: #eaffff;
  margin-top: 20px;
  margin-top: 0.07273rem;
  border-radius: 10px;
  border-radius: 0.03636rem;
}

.msg-item.isfeedback .feedback {
  display: block;
}

.msg-item.isfeedback .msg-item-operation {
  display: none;
}

.msg-item .warn {
  color: #f25252;
}

.msg-item-head {
  line-height: 32px;
  line-height: 0.11636rem;
  font-size: 30px;
  font-size: 0.10909rem;
}

.msg-item-head .name {
  color: #67dbff;
  margin-right: 20px;
  margin-right: 0.07273rem;
}

.msg-item-head .tips {
  color: #87a5ca;
}

.msg-item-head .date {
  font-size: 24px;
  font-size: 0.08727rem;
  color: #89a7cd;
}

.msg-item-head .tag {
  margin-top: 4px;
  margin-top: 0.01455rem;
}

.msg-item-head .tag-item {
  margin-right: .1rem;
  width: 28px;
  width: 0.10182rem;
  height: 28px;
  height: 0.10182rem;
  text-align: center;
  font-size: 18px;
  font-size: 0.06545rem;
  line-height: 28px;
  line-height: 0.10182rem;
  border-radius: 5px;
  border-radius: 0.01818rem;
}

.msg-item-head .tag-item.supervise {
  color: #97844c;
  background-color: #f3e798;
}

.msg-item-head .tag-item.priority {
  color: #a26932;
  background-color: #fabb7d;
}

.msg-item-content {
  overflow: hidden;
  margin: 9px 0px 18px;
  margin: 0.03273rem 0rem 0.06545rem;
  max-height: 38px;
  max-height: 0.13818rem;
  font-size: 28px;
  font-size: 0.10182rem;
  line-height: 38px;
  line-height: 0.13818rem;
  color: #fff;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.msg-item-operation .mini-button {
  width: 105px;
  width: 0.38182rem;
  height: 32px;
  height: 0.11636rem;
  margin-right: 10px;
  margin-right: 0.03636rem;
  text-align: center;
  line-height: 32px;
  line-height: 0.11636rem;
  font-size: 18px;
  font-size: 0.06545rem;
  color: #244268;
  background: #75b2d9;
  border-radius: 5px;
  border-radius: 0.01818rem;
  border: none;
}

.msg-item-operation .mini-button:hover {
  background: #67dbff;
  border: none;
}

.msg-item-operation .mini-button.mini-button-disabled {
  opacity: 1;
  color: #244268 !important;
  border: none !important;
  background: #4b6b94 !important;
}

.msg-item-operation .lgnore-btn {
  width: 28px;
  width: 0.10182rem;
  height: 17px;
  height: 0.06182rem;
  margin-top: 7px;
  margin-top: 0.02545rem;
  background: url(../../images/bigscreen/operate_center/icon-lgnore.png) no-repeat center;
  background-size: 100% 100%;
}

.msg-item-info {
  margin: 10px 0px 18px;
  margin: 0.03636rem 0rem 0.06545rem;
}

.msg-item-info > li {
  width: 50%;
  font-size: 24px;
  font-size: 0.08727rem;
  line-height: 38px;
  line-height: 0.13818rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.msg-item-info > li:first-child {
  width: 100%;
}

/* 反馈信息 */
.feedback {
  display: none;
  border-top: 1px solid #175a78;
}

.feedback-title {
  color: #87a5ca;
  font-size: 30px;
  font-size: 0.10909rem;
  line-height: 36px;
  line-height: 0.13091rem;
  margin: 15px 0px;
  margin: 0.05455rem 0rem;
}

.feedback .mini-textarea {
  width: 100%;
  height: 106px;
  height: 0.38545rem;
  margin-bottom: 18px;
  margin-bottom: 0.06545rem;
}

.feedback .mini-textarea .mini-textbox-border {
  height: 100%;
  border: none;
  background: #3d5b82;
  border-radius: 10px;
  border-radius: 0.03636rem;
}

.feedback .mini-textarea .mini-textbox-border .mini-textbox-input {
  font-size: 26px;
  font-size: 0.09455rem;
  line-height: 30px;
  line-height: 0.10909rem;
  padding: 8px 10px 8px 15px;
  padding: 0.02909rem 0.03636rem 0.02909rem 0.05455rem;
}

.feedback .mini-button {
  width: 105px;
  width: 0.38182rem;
  height: 32px;
  height: 0.11636rem;
  margin-right: 10px;
  margin-right: 0.03636rem;
  text-align: center;
  line-height: 32px;
  line-height: 0.11636rem;
  font-size: 18px;
  font-size: 0.06545rem;
  color: #244268;
  background: #75b2d9;
  border-radius: 5px;
  border-radius: 0.01818rem;
  border: none;
}

.feedback .mini-button:hover {
  background: #67dbff;
  border: none;
}

.feedback .mini-button.mini-btn-info {
  background: #4b6b94;
}

/* 已反馈列表 */
.feedback-list {
  color: #6ebdc6;
  border-top: 1px solid #3D5B82;
  margin-top: 24px;
  margin-top: 0.08727rem;
}

.feedback-item {
  padding-bottom: 18px;
  padding-bottom: 0.06545rem;
  font-size: 24px;
  font-size: 0.08727rem;
  color: #fff;
  border-bottom: 1px solid #3D5B82;
}

.feedback-item:nth-child(n+3) {
  display: none;
}

.feedback-item-head {
  line-height: 2.5;
}

.feedback-item-head > span {
  margin-right: 10px;
  margin-right: 0.03636rem;
}

.feedback-item-content {
  line-height: 42px;
  line-height: 0.15273rem;
  max-height: 84px;
  max-height: 0.30545rem;
  overflow: hidden;
}

.feedback-more {
  text-align: center;
  padding: 24px 0px 10px;
  padding: 0.08727rem 0rem 0.03636rem;
  line-height: 1;
  font-size: 24px;
  font-size: 0.08727rem;
}

.feedback-more-btn {
  color: #62d0f6;
}

.feedback-more-btn.fold {
  display: none;
}

.feedback-detail {
  display: none;
}

.feedback-detail.showall {
  height: auto !important;
}

.feedback-detail.showall .feedback-more-btn {
  display: none;
}

.feedback-detail.showall .feedback-more-btn.fold {
  display: inline-block;
  background: none;
}

.feedback-detail.showall .feedback-item {
  display: block;
}

/* 操作栏 */
.searchbox {
  width: 1rem !important;
  height: 36px;
  height: 0.13091rem;
  line-height: 36px;
  line-height: 0.13091rem;
}

.searchbox .mini-textbox-border,
.searchbox .mini-buttonedit-border {
  border: none;
  background: #0b2548;
  border-radius: 5px;
  border-radius: 0.01818rem;
}

.searchbox .mini-buttonedit-input {
  font-size: 24px;
  font-size: 0.08727rem;
  padding-left: .04rem !important;
  color: #fff;
}

.searchbox .mini-buttonedit-button {
  width: 32px;
  width: 0.11636rem;
}

.searchbox .mini-buttonedit-icon {
  width: 26px;
  width: 0.09455rem;
  height: 26px;
  height: 0.09455rem;
  line-height: 26px;
  line-height: 0.09455rem;
  margin: -13px 0px 0px -13px;
  margin: -0.04727rem 0rem 0rem -0.04727rem;
  font-size: 24px;
  font-size: 0.08727rem;
}

.searchbox .mini-buttonedit-icon::before {
  font-weight: normal !important;
  color: #fff;
}

.mini-popupedit {
  width: .6618182rem !important;
  height: 36px;
  height: 0.13091rem;
  line-height: 36px;
  line-height: 0.13091rem;
  background: url(../../images/bigscreen/operate_center/status-chosen.png) 0 center no-repeat;
  background-position-x: 9px;
  background-position-x: 0.03273rem;
  background-size: 21px 21px;
  background-size: 0.07636rem 0.07636rem;
}

.mini-popupedit .mini-textbox-border,
.mini-popupedit .mini-buttonedit-border {
  border: none;
  background: transparent;
  padding-right: 32px;
  padding-right: 0.11636rem;
}

.mini-popupedit .mini-buttonedit-input {
  padding-left: .145455rem !important;
  color: #6ae9ff;
  font-size: 28px;
  font-size: 0.10182rem;
}

.mini-popupedit .mini-buttonedit-button {
  width: 17px;
  width: 0.06182rem;
  background: transparent !important;
}

.mini-popupedit .mini-buttonedit-icon {
  width: 17px;
  width: 0.06182rem;
  height: 11px;
  height: 0.04rem;
  margin: -5.5px 0px 0px -8.5px;
  margin: -0.02rem 0rem 0rem -0.03091rem;
  line-height: 11px;
  line-height: 0.04rem;
  background: url(../../images/bigscreen/operate_center/chosen-down.png) 0 0/100% 100% no-repeat !important;
}

.mini-popupedit .mini-buttonedit-icon::before {
  display: none;
}

.mini-popup {
  border-color: #2663DC;
  background: transparent;
}

.mini-popup .mini-listbox-border {
  background: rgba(11, 37, 72, 0.9);
}

.mini-popup .mini-listbox .mini-listbox-item:hover {
  background: rgba(36, 66, 104, 0.6);
}

.mini-popup .mini-listbox .mini-listbox-item-selected {
  background: #244268;
}

.mini-popup .mini-listbox td {
  color: #fff;
  font-size: 24px;
  font-size: 0.08727rem;
  line-height: 30px;
  line-height: 0.10909rem;
  padding: 10px 0px 10px 40px;
  padding: 0.03636rem 0rem 0.03636rem 0.14545rem;
}

.condition .mini-popupedit {
  width: .8727273rem !important;
  background-image: url(../../images/bigscreen/operate_center/status-chosen2.png);
  background-size: 28px 23px;
  background-size: 0.10182rem 0.08364rem;
  background-position-x: 3px;
  background-position-x: 0.01091rem;
}

/* 关注指标信息 */
.normopera-container {
  padding: 20px 20px 0px 20px;
  padding: 0.07273rem 0.07273rem 0rem 0.07273rem;
  height: 100%;
  box-sizing: border-box;
}

.normopera-list {
  height: calc(100% - .218182rem);
  margin-top: 19px;
  margin-top: 0.06909rem;
  overflow: auto;
  padding-right: 10px;
  padding-right: 0.03636rem;
}

.normopera-item {
  width: calc(50% - .036363rem);
  height: 152px;
  height: 0.55273rem;
  border-radius: 10px;
  border-radius: 0.03636rem;
  box-sizing: border-box;
  border: 1px solid transparent;
  background-color: #244268;
  margin-bottom: 20px;
  margin-bottom: 0.07273rem;
  padding: 16px 27px 0px;
  padding: 0.05818rem 0.09818rem 0rem;
  transition: all .2s;
  cursor: pointer;
}

.normopera-item:nth-child(even) {
  margin-left: 20px;
  margin-left: 0.07273rem;
}

.normopera-item:hover, .normopera-item.active {
  border-color: #37b0ec;
}

.normopera-item .title {
  font-size: 30px;
  font-size: 0.10909rem;
  color: #67dbff;
  line-height: 1;
  margin-bottom: 10px;
  margin-bottom: 0.03636rem;
}

.normopera-item .info {
  color: #fff;
  font-size: 24px;
  font-size: 0.08727rem;
  line-height: 41px;
  line-height: 0.14909rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* 关注指标信息-小弹窗 */
.mini-menu-border {
  border: 1px solid #2663DC;
}

.mini-menu-border .mini-menu-inner {
  padding: 8px;
  padding: 0.02909rem;
  text-align: left;
  background: rgba(11, 31, 66, 0.93);
}

.mini-menu-border .mini-menuitem {
  margin-bottom: 4px;
  margin-bottom: 0.01455rem;
  line-height: 38px;
  line-height: 0.13818rem;
  background: #1e5378;
  border-radius: 5px;
  border-radius: 0.01818rem;
}

.mini-menu-border .mini-menuitem:last-child {
  margin-bottom: 0;
}

.mini-menu-border .mini-menuitem-hover {
  background-color: rgba(33, 202, 255, 0.43);
}

.mini-menu-border .mini-menuitem-hover .mini-menuitem-text {
  color: #fff;
}

.mini-menu-border .mini-menuitem-inner {
  padding: 0px 10px;
  padding: 0rem 0.03636rem;
  font-size: 24px;
  font-size: 0.08727rem;
}

.mini-menu-border .mini-menuitem-text {
  color: #67dbff;
}

::-webkit-input-placeholder {
  color: #3d5b82;
}

:-moz-placeholder {
  color: #3d5b82;
}

::-moz-placeholder {
  color: #3d5b82;
}

:-ms-input-placeholder {
  color: #3d5b82;
}

.placeholder {
  color: #3d5b82;
}
