@charset "UTF-8";
/**!
* 数字驾驶舱-操作中心
* date:2021-04-14
* author: qxy
*/
.fui-notice {
  margin: 0px 30px;
  margin: 0rem 0.10909rem;
  padding: 40px 40px 0px;
  padding: 0.14545rem 0.14545rem 0rem;
  line-height: 30px;
  line-height: 0.10909rem;
  color: #fff;
  font-size: 24px;
  font-size: 0.08727rem;
  background: rgba(36, 66, 104, 0.47);
  border-radius: 15px 15px 0px 0px;
  border-radius: 0.05455rem 0.05455rem 0rem 0rem;
}

.fui-notice .fui-form {
  padding: 17px 0px 20px 26px;
  padding: 0.06182rem 0rem 0.07273rem 0.09455rem;
  background: #244268;
  border-radius: 10px;
  border-radius: 0.03636rem;
}

.fui-notice .form-inner {
  max-width: 100%;
}

.fui-notice .form-row {
  padding: 0px;
  padding: 0rem;
}

.fui-notice .form-row:first-child {
  padding-bottom: 14px;
  padding-bottom: 0.05091rem;
  font-size: 30px;
  font-size: 0.10909rem;
  color: #6ae9ff;
}

.fui-content {
  margin: 0px 30px;
  margin: 0rem 0.10909rem;
  padding: 20px 40px 0px;
  padding: 0.07273rem 0.14545rem 0rem;
  background: rgba(36, 66, 104, 0.47);
  border-radius: 0px 0px 15px 15px;
  border-radius: 0rem 0rem 0.05455rem 0.05455rem;
}

.fui-content .fui-form {
  padding: 0;
}

.fui-content .form-inner {
  max-width: 100%;
}

.fui-content .form-row {
  padding: 15px 0px;
  padding: 0.05455rem 0rem;
}

.fui-content .form-label {
  width: 100%;
  margin-bottom: 12px;
  margin-bottom: 0.04364rem;
  text-align: left;
  line-height: 30px;
  line-height: 0.10909rem;
  color: #fff;
  font-size: 28px;
  font-size: 0.10182rem;
}

.fui-content .form-control.span5 {
  width: 100%;
  padding: 0;
}

.fui-content .mini-textbox,
.fui-content .mini-buttonedit {
  height: 60px;
  height: 0.21818rem;
  line-height: 60px;
  line-height: 0.21818rem;
}

.fui-content .mini-textbox-border,
.fui-content .mini-buttonedit-border {
  border: 0;
  background: #244268;
  border-radius: 10px;
  border-radius: 0.03636rem;
}

.fui-content .mini-textarea .mini-textbox-input,
.fui-content .mini-textbox-input,
.fui-content .mini-buttonedit-input {
  font-size: 28px;
  font-size: 0.10182rem;
  padding-left: .0945455rem !important;
}

.fui-toolbar-bottom {
  height: 146px;
  height: 0.53091rem;
  padding: 40px 0px 0px 0px;
  padding: 0.14545rem 0rem 0rem 0rem;
  background: transparent;
}

.fui-toolbar-bottom .mini-button {
  width: 173px;
  width: 0.62909rem;
  height: 63px;
  height: 0.22909rem;
  text-align: center;
  line-height: 63px;
  line-height: 0.22909rem;
  font-size: 30px;
  font-size: 0.10909rem;
  color: #244268;
  background: #6ae9ff;
  border-radius: 10px;
  border-radius: 0.03636rem;
  border: none;
}

.fui-toolbar-bottom .mini-button:hover {
  background: #67dbff;
  border: none;
}

.fui-toolbar-bottom .mini-button.mini-btn-info {
  color: #75b2d9;
  background: #244268;
}

::-webkit-input-placeholder {
  color: #3d5b82;
}

:-moz-placeholder {
  color: #3d5b82;
}

::-moz-placeholder {
  color: #3d5b82;
}

:-ms-input-placeholder {
  color: #3d5b82;
}

.placeholder {
  color: #3d5b82;
}
