// .mini-menu-border {
//     border-color: @input-border-color;
// }

.mini-menuitem-text,
.mini-menuitem-allow,
.mini-menu .mini-menuitem-icon {
    color: @text-color;
}

.mini-menu .mini-menu-popup,
.mini-menu .mini-menuitem-hover {
    border-color: @item-hover-bg;
    background: @item-hover-bg;
}

.mini-menu .mini-menuitem-selected {
    border-color: @item-selected-bg;

    background: @item-selected-bg;

}
