.mini-panel-border {
    border-color : @primary-color;
}
// .mini-panel-border,
// .mini-window .mini-panel-border {
//     border-color : @primary-color;
// }
.mini-panel-header,
.mini-window .mini-panel-header {
    color : @text-color;
    // background : #fff;
}

.mini-tools > span:hover {
    color: @primary-hover-color;
}