.mini-tooltip-inner {
    border-color: @primary-color;
}

.mini-tooltip-top .mini-tooltip-arrow {
    border-top-color: @primary-color;
}

.mini-tooltip-left .mini-tooltip-arrow {
    border-left-color: @primary-color;
}

.mini-tooltip-right .mini-tooltip-arrow {
    border-right-color: @primary-color;
}

.mini-tooltip-bottom .mini-tooltip-arrow {
    border-bottom-color: @primary-color;
}

.mini-tooltip-bottomleft .mini-tooltip-arrow {
    border-bottom-color: @primary-color;
}

.mini-tooltip-bottomright .mini-tooltip-arrow {
    border-bottom-color: @primary-color;
}

.mini-tooltip-topleft .mini-tooltip-arrow {
    border-top-color: @primary-color;
}

.mini-tooltip-topright .mini-tooltip-arrow {
    border-top-color: @primary-color;
}