.mini-tree .mini-tree-icon {
    color: @primary-color;
}
.mini-tree-checkbox-indeterminate,
.mini-tree-checkbox-checked {
    color: @primary-color;
}

.mini-tree-node-hover {
    background: @item-hover-bg;
}

.mini-tree-selectedNode {
    background: @item-selected-bg;
}