.cate-header:before {
    border-color: #192b76;
}
.asLabel .mini-textbox-border, .asLabel .mini-textbox-input, .asLabel .mini-buttonedit-border, .asLabel .mini-buttonedit-input, .asLabel .mini-textboxlist-border {
    color: #a8bdf3;
}

.flow-agency .add-btn {
    background-image: url(./images/flow-agency-add.png);
}
.flow-agency-item {
    background: #0e215d;
    color: #a8bdf3;
}
.flow-agency-item .name {
    color: #fff;
}
.flow-agency-item .edit {
    color: #8a9ed2;
}
.flow-agency-item .info:hover,
.flow-agency-item .edit:hover {
    color: #fff;
}
 