.main {
    position: absolute;
    top: 186px;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
    padding-top: 10px;
    background: #f5f8fa;
    .scroller-wrap {
        min-height: 100%;
    }
    .content-wrap {
        position: relative;
    }
    .content-block {
        &:after {
            display: block;
            clear: both;
            content: "";
        }
    }
    .left,
    .right {
        min-height: 400px;
        background: #fff;
    }
    .left {
        float: left;
        width: 250px;
    }
    .right {
        float: right;
        width: 740px;
    }
}

.notice-title {
    height: 130px;
    background: url(../images/notice-title.png) 0 0 no-repeat;
    margin-left: -36px;
}

.left-header {
    position: relative;
    height: 47px;
    padding-left: 14px;
    font-size: 18px;
    line-height: 47px;
    color: #4692f2;
    border-bottom: 1px solid #eee;
}

.type-item-self {
    position: relative;
    box-sizing: border-box;
    line-height: 40px;
    cursor: pointer;
    &.level-1 {
        padding-left: 14px;
    }
    &.level-2 {
        padding-left: 30px;
    }
    &.level-3 {
        padding-left: 45px;
    }
    &.level-4 {
        padding-left: 60px;
    }
    &.level-5 {
        padding-left: 75px;
    }
    &:hover {
        color: #4497f3;
        background: #e7f7ff;
    }
    &.active {
        width: 262px;
        color: #fff;
        background: url("../images/type-active.png") center no-repeat;
        >.type-item-text {
            // active 时宽度比正常的宽12px  需要加上
            // 放置宽文本省略在激活时跳动
            margin-right: 47px;
        }
    }
}

.type-item-text {
    display: block;
    overflow: hidden;
    margin-right: 35px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.type-item-trigger {
    position: absolute;
    top: 10px;
    right: 10px;
    display: block;
    width: 20px;
    height: 20px;
    background: url("../images/arrow-left.png") center no-repeat;
}

.type-item-sub {
    background: #f3f4f6;
}

.notice-container {
    .no-new-tips {
        display: none;
    }
    &.no-result {
        .no-new-tips {
            display: block;
            font-size: 15px;
            line-height: 40px;
            text-align: center;
            color: #bbb;
            .btn {
                cursor: pointer;
                color: #12adf6;
            }
        }
        .mini-pagination {
            display: none;
        }
        .notice-list:before {
            display: block;
            height: 100px;
            margin-top: 190px;
            content: "";
            background: url("../images/no-new.png") center center no-repeat;
        }
    }
}

// 问题列表
.notice-header {
    position: relative;
    overflow: hidden;
    height: 47px;
    padding-right: 55px;
    padding-left: 14px;
    font-size: 18px;
    line-height: 47px;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #4692f2;
    border-bottom: 1px solid #eee;
    .go-back {
        position: absolute;
        top: 0;
        right: 10px;
        padding-left: 25px;
        font-size: 14px;
        line-height: 47px;
        cursor: pointer;
        color: #999;
        background: url("../images/go-back.png") 4px center no-repeat;
        &:hover {
            color: #4692f2;
            background-image: url("../images/go-back-h.png");
        }
    }
}

.notice-list {
    font-size: 15px;
    .no-search-result {
        overflow: hidden;
        margin-top: 40px;
        line-height: 40px;
        text-align: center;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: #666;
        .kd {
            margin: 0 3px;
            font-weight: bold;
            color: #f96d41;
        }
    }
    @at-root {
        .notice-item {
            position: relative;
            overflow: hidden;
            height: 40px;
            padding-right: 120px;
            padding-left: 30px;
            line-height: 40px;
            cursor: pointer;
            white-space: nowrap;
            text-overflow: ellipsis;
            color: #666;
            .icon {
                position: absolute;
                top: 10px;
                left: 10px;
                display: block;
                width: 20px;
                height: 20px;
                font-size: 13px;
                line-height: 20px;
                text-align: center;
                color: #fff;
                border-radius: 3px;
                &.question {
                    background: #fd965d;
                }
            }
            .text {
                &:hover {
                    color: #4497f3;
                } // white-space: nowrap;
                // overflow: hidden;
                // text-overflow: ellipsis;
                .kd {
                    margin: 0 3px;
                    font-weight: bold;
                    color: #f96d41;
                }
            }
            .date {
                position: absolute;
                top: 0;
                right: 10px;
            }
            &.is-new {
                .text {
                    &:after {
                        content: "";
                        display: inline-block;
                        vertical-align: top;
                        width: 30px;
                        height: 12px;
                        margin-top: 8px;
                        margin-left: 4px;
                        background: url('../images/is-new.png') center no-repeat;
                    }
                }
            }
        }
    }
}

.notice-detail-content {
    padding: 20px; // overflow: auto;
    img {
        max-width: 100% !important;
    }
}