.container {
    width: 100%;
    height: 100%;
    overflow: auto;
}
.qm {
    // min-height: 300px;
    // min-width: 420px;
    position: relative;
    height: 100%;

    overflow: hidden;

    // -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, .25);
    //    -moz-box-shadow: 0 0 4px 0 rgba(0, 0, 0, .25);
    //         box-shadow: 0 0 4px 0 rgba(0, 0, 0, .25);

    &.in-showsub > .qm-cover {
        display: block;
    }
    &-cover {
        position: absolute;
        z-index: 5;
        top: 0;
        left: 0;

        display: none;
        overflow: hidden;

        width: 100%;
        height: 100%;

        background: rgba(0, 0, 0, .6);
         > .save-loading {
            position: absolute;
            top: 40%;
            left: 50%;

            width: 80px;
            height: 80px;
            margin: -40px 0 0 -40px;

            background: url("./images/save-loading.gif") center no-repeat;
        }
    }
}

/* 触发按钮 */

.logo-box {
    margin-left: 40px;
}

.qm-start-trigger {
    position: absolute;
    top: 4px;
    left: 10px;

    width: 40px;
    height: 40px;

    cursor: pointer;

    background: transparent url("./images/top/icon-win.png") center no-repeat; // &:hover {
    //     background-image: url("./images/win-blue2.png");
    // }
    // &.active {
    //     z-index: 5000;
    //     background-color: #8395a9;
    // }
}

.qm-header {
    position: relative;
    z-index: 1;

    height: 40px;
    padding: 0 20px;

    line-height: 40px;

    color: #fff;
    &-name {
        font-size: 18px;
    }
    &-icon {
        width: 20px;
        height: 100%;

        cursor: pointer;

        background: transparent url("./images/icon-settings.png") center no-repeat;
    }
}

.qm-body {
    position: absolute;
    // top: 20px;
    top: 0;
    right: 32px;
    bottom: 0;
    left: 32px;

    // -webkit-border-radius: 3px;
    //    -moz-border-radius: 3px;
    //         border-radius: 3px;
    // -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, .15);
    //    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, .15);
    //         box-shadow: 0 0 4px rgba(0, 0, 0, .15);
}

.qm-list {
    // position: relative;
    overflow: hidden;

    height: 100%;
}

.qm-pages-list {
    -webkit-transition: margin-left .3s ease-in-out;
       -moz-transition: margin-left .3s ease-in-out;
         -o-transition: margin-left .3s ease-in-out;
            transition: margin-left .3s ease-in-out;
     > .qm-page-content {
        width: 372px;
    }
}

.qm-item {
    float: left;

    width: 100px;
    height: 120px;
    padding: 8px 0 2px 0;
    margin-top: 10px;
    font-size: 14px;
    border-radius: 1px;
    box-sizing: border-box;
    transform: all .2s ease-out;
    cursor: pointer;
    &:hover {
        background-color: #e9f4fd;
    }
    &-inner {
        width: 80px;
        margin: 0 auto;
        position: relative;
        border-radius: 6px;
        text-align: center;
    }
    &-icon {
        color: #fff;
        display: block;
        width: 56px;
        height: 56px;
        border-radius: 50%;
        line-height: 56px;
        font-size: 30px;
        margin: 0 auto;
    }
    &-name {
        position: relative;

        display: block;

        // margin: 0 20px;

        line-height: 18px;
        font-size: 14px;
        font-weight: normal;

        text-align: center;

        color: #555;
        margin-top: 10px;
        &.long {
            // margin-top: -5px;
            line-height: 18px;
        }
    }
}

.qm-page-bar {
    // position: absolute;
    // bottom: 0;

    width: 100%;
    height: 10px;
    margin: 10px 0;
    line-height: 10px;

    text-align: center;
    @at-root {
        .qm-page-btn {
            -webkit-user-select: none;
               -moz-user-select: none;
                -ms-user-select: none;
                    user-select: none;
            display: inline-block;
            overflow: hidden;

            width: 10px;
            height: 10px;
            margin: 0 2.5px;

            font-size: 16px;
            line-height: 10px;

            cursor: pointer;

            color: #5c5c5c;
            // background: url("./images/other-page.png") center no-repeat;
            &.active {
                color: #2590eb;
                // background-image: url("./images/active-page.png");
            }
        }
        .qm-page-prev {
            position: absolute;
            top: 50%;
            left: -40px;
            display: block;
            font-weight: bold;
            font-size: 18px;
            // float: left;

            width: 30px;
            height: 30px;
            line-height: 30px;
            margin-left: 10px;
            margin-top: -15px;

            cursor: pointer;

            // background: url("./images/prev-btn.png") center no-repeat;
            &:hover {
                // background-image: url("./images/prev-btn-h.png");
            }
            &.disabled {
                cursor: not-allowed;

                // background-image: url("./images/prev-btn.png");
                &:hover {
                    // background-image: url("./images/prev-btn.png");
                }
            }
        }
        .qm-page-next {
            position: absolute;
            top: 50%;
            right: -40px;
            display: block;
            font-weight: bold;
            font-size: 18px;
            // float: right;

            width: 30px;
            height: 30px;
            line-height: 30px;
            margin-right: 10px;
            margin-top: -15px;

            cursor: pointer;

            // background: url("./images/next-btn.png") center no-repeat;
            &:hover {
                // background-image: url("./images/next-btn-h.png");
            }
            &.disabled {
                cursor: not-allowed;

                // background-image: url("./images/next-btn.png");
                &:hover {
                    // background-image: url("./images/next-btn.png");
                }
            }
        }
    }
}

.sub-qm {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;

    overflow: hidden;

    width: 360px;
    height: 300px; // transition: all .3s ease-in-out;   -webkit-transform: scale(.1);
      -moz-transform: scale(.1);
       -ms-transform: scale(.1);
        -o-transform: scale(.1);
           transform: scale(.1);
    -webkit-transform-origin: 0 0;
       -moz-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
         -o-transform-origin: 0 0;
            transform-origin: 0 0;

    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
    background: rgba(255, 255, 255, .3); // transition: transform .3s  ease-out;
    &.show {
        top: 30px;
        left: 30px;

        -webkit-transform: scale(1);
           -moz-transform: scale(1);
            -ms-transform: scale(1);
             -o-transform: scale(1);
                transform: scale(1);
    }
    &.trans {
        -webkit-transition: all .3s cubic-bezier(.18, .89, .32, 1.28);
           -moz-transition: all .3s cubic-bezier(.18, .89, .32, 1.28);
             -o-transition: all .3s cubic-bezier(.18, .89, .32, 1.28);
                transition: all .3s cubic-bezier(.18, .89, .32, 1.28);
    }
     > .sub-qm-name {
        height: 40px;

        font-size: 16px;
        line-height: 40px;

        text-align: center;

        color: #fff;
    }
     > .sub-qm-list {
        position: absolute;
        top: 40px;
        right: 5px;
        bottom: 0;
        left: 5px;

        padding: 0 10px;
        &:after {
            display: block;
            clear: both;

            content: "";
        }
    }
    .qm-item {
        width: 110px;
        height: 114px;
        &-name {
            font-size: 13px;
            color: #fff;
        }
        &:hover {
            .qm-item-name {
                font-size: 13px;
                color: #555;
            }
        }
    }
}
