/* 工具样式 */

.center-block {
    display: block;

    margin-right: auto;
    margin-left: auto;
}

.clearfix:before,
.clearfix:after {
    display: table;

    line-height: 0;

    content: '';
}

.clearfix:after {
    clear: both;
}

.l {
    float: left !important;
}

.r {
    float: right !important;
}

.hidden {
    display: none !important;
}

.hidden-accessible {
    position: absolute !important;
    top: 0;
    left: -999999em !important;
}

.invisible {
    visibility: hidden !important;
}

.trans {
    -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
    -webkit-transition-duration: .2s;
            transition-duration: .2s;
}


/* 用于IE8 强制:before/:after伪类元素重绘 */

.content-empty:after,
.content-empty:before {
    content: '' !important;
}


/* margin-right: 5n 5~20 */

.mr1 {
    margin-right: 1px !important;
}

.mr5 {
    margin-right: 5px !important;
}

.mr10 {
    margin-right: 10px !important;
}

.mr15 {
    margin-right: 15px !important;
}

.mr20 {
    margin-right: 20px !important;
}


/* margin-bottom: 5n 5~20 */

.mb5 {
    margin-bottom: 5px !important;
}

.mb10 {
    margin-bottom: 10px !important;
}

.mb15 {
    margin-bottom: 15px !important;
}

.mb20 {
    margin-bottom: 20px !important;
}


/* 文字排版 */

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-nowrap,
.nobr {
    overflow: hidden;

    white-space: nowrap;
}

.text-ellipsis {
    overflow: hidden;

    white-space: nowrap;
    text-overflow: ellipsis;
}


/* 文字大小写转换 */

.text-lowercase {
    text-transform: lowercase;
}

.text-uppercase {
    text-transform: uppercase;
}


/* 文字颜色 */

.text-normal {
    color: #333;
}

a.text-normal:hover {
    color: #145ccd;
}

.text-primary {
    color: #3280fc;
}

a.text-primary:hover {
    color: #0462f7;
}

.text-danger {
    color: #d2322d;
}

a.text-danger:hover {
    color: #a82824;
}

.text-warning {
    color: #e48600;
}

a.text-warning:hover {
    color: #b16800;
}

.text-success {
    color: #229f24;
}

a.text-success:hover {
    color: #19751a;
}

.text-info {
    color: #39b3d7;
}

a.text-info:hover {
    color: #2596b8;
}

.text-minor,
a.text-minor:hover {
    color: #666;
}

.text-assist,
a.text-assist:hover {
    color: #999;
}

.text-special,
a.text-special:hover {
    color: #6e612f;
}

.text-bold {
    font-weight: bold;
}
