/* toolbar工具栏 */

.fui-toolbar,
.fui-toolbar-bottom {
    height: 26px;
    padding: 5px;
/*line-height: 26px;*/

    background-color: #f9f9f9;
}
.fui-toolbar-bottom {
    background-color: #fff;
    border-top: 1px solid #eee; 
}
.fui-toolbar-bottom > * {
    float: right;
}
.fui-toolbar > *,
.fui-toolbar-bottom.left > *  {
    float: left;
}
.fui-toolbar:before,
.fui-toolbar:after,
.fui-toolbar-bottom:before,
.fui-toolbar-bottom:after,
.btn-group:before,
.btn-group:after{
    display: table;

    content: " ";
}

.fui-toolbar:after,
.fui-toolbar-bottom:after,
.btn-group:after {
    clear: both;
}
/* 
.btn-group > .mini-button,
.btn-group > .mini-webuploader {
    float: left;
}

.btn-group > .mini-button + .mini-button,
.btn-group > .mini-button + .mini-webuploader,
.btn-group > .mini-webuploader + .mini-button,
.btn-group > .mini-output > .mini-button + .mini-button,
.btn-group > .mini-output > .mini-button + .mini-webuploader,
.btn-group > .mini-output > .mini-webuploader + .mini-button {
    margin-left: 1px;
} */
.btn-group > [class^="mini-"] ,
.btn-group > [class*="mini-"] ,
.btn-group > .mini-output > [class*="mini-"] {
    float: left;

    margin-left: 1px;
}

.btn-group > [class^="mini-"]:first-child ,
.btn-group > [class*="mini-"]:first-child ,
.btn-group > .mini-output > [class*="mini-"]:first-child {
    margin-left: 0;
}


/* 帮助按钮 */

.fui-toolbar-helper {
    line-height: 26px;
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 26px;
    height: 26px;
    margin-left: 5px;
    padding: 0;
    cursor: pointer;
    transition: all .2s ease-out;
    font-family: ActionIcon!important;
    font-size: 18px;
    text-align: center;
}
.ie9 .fui-toolbar-helper,
.ie10 .fui-toolbar-helper,
.ie11 .fui-toolbar-helper {
    line-height: 27px;
}
.fui-toolbar-helper:before {
    content: "\e728";
}

.fui-toolbar-helper:hover {
    /* background-image: url("images/contentPage/help-h.png") ; */
    color:#f96d41;
}

.notice-close-btn {
    position: absolute;
    top: 5px;
    right: 14px;

    display: block;

    width: 20px;
    height: 26px;

    cursor: pointer;

    /* background: url("images/contentPage/close.png") center no-repeat; */
    font-family: ActionIcon!important;
    font-size: 16px;
    text-align: center;
}
.notice-close-btn:before {
    content: "\e6de";
}
.fui-toolbar-tooltip .notice-close-btn {
    right: 0;
}
.notice-close-btn:hover {
    /* background: url("images/contentPage/close-h.png") center no-repeat; */
    color:#f96d41;

}
.fui-toolbar-tooltip > .mini-tooltip-inner,
.fui-toolbar-tooltip > .mini-tooltip-arrow {
    line-height: 26px;
    /*-webkit-transition : opacity .4s cubic-bezier(.45, .05, 1, .31) 0s;
            transition : opacity .4s cubic-bezier(.45, .05, 1, .31) 0s;*/
    /*opacity : 0;*/
}
.fui-toolbar-tooltip > .mini-tooltip-inner {
    font-size: 13px;

    padding: 5px 10px;
}


/* 搜索条件区域 */

.fui-condition {
    position: relative;

    /* overflow : hidden; */
    /* 给予初始高度，以便content区域高度计算 */
    /* 不可给初始高度，若第一行是一个checkboxlist，多行，下面的行就会被遮住
    height : 48px; */

    background-color: #fff;
}


/* 为搜素按钮留一定空间 */

.fui-condition .fui-form {
    margin-right: 170px;
}


/* 查询条件 搜索按钮 */

.fui-condition .cond-srh-btn {
    position: absolute;
    top: 11px;
    right: 70px;
}

.cond-srh-btn {
    line-height: 26px;

    height: 26px;

    cursor: pointer;
}

.cond-srh-btn-text {
    font-size: 13px;

    display: block;

    height: 100%;
    padding-right: 10px;
    padding-left: 28px;

    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    color: #fff;
    /* background: url("images/contentPage/search.png") no-repeat 8px center; */
    background-color: #34a0d2;
    position: relative;
}
.cond-srh-btn-text:before {
    position: absolute;
    display: block;
    width: 28px;
    height: 26px;
    left: 0;
    top: 0;
    text-align: center;
    box-sizing: border-box;

    content: "\e6ec";
    font-family: ActionIcon!important;
    font-size: 14px;
}
.cond-srh-btn-text:hover {
    background-color: #32aee7;
}

.cond-srh-btn-toggle {
    width: 26px;
    height: 100%;

    text-align: center;

    /* background: url(images/contentPage/cond-opened.png) 
    no-repeat center center #34a0d2; */
    background:#34a0d2;
    font-family: ActionIcon!important;
    color: #fff;
    font-size: 16px;
}
.cond-srh-btn-toggle:before {
    content: "\e724";
}
.cond-srh-btn-toggle:hover {
    background-color: #32aee7;
}

.cond-srh-btn.opened .cond-srh-btn-toggle:before {
    content: "\e710";
}

.cond-srh-btn-text + .cond-srh-btn-toggle {
    margin-left: 4px;
}


/* 帮助信息区域 */

.fui-notice {
    position: relative;

    padding: 5px;
    padding-right: 35px;

    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    background-color: #fffbee;
}

.fui-notice-inner {
    max-width: 1000px;
    margin: 0 auto;
}


/* 内容区域 */

.fui-content {
    overflow: auto;

    background-color: #fff;
}
/* 高级搜索布局 */
.fui-search-trigger {
    display: block;

    width: 26px;
    height: 26px;
    margin-left: 5px;

    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    text-align: center;

    color: #fff;
    /* background: url("./images/advancedsearch/tirgger.png") center no-repeat; */
    background: #33a1d1;
    font-family: ActionIcon!important;
    font-size: 18px;
    text-align: center;
}
.fui-search-trigger:before {
    content: "\e6e4";
}
.fui-search-trigger:hover {
    /* background: url("./images/advancedsearch/trigger-hover.png") center no-repeat; */
    background: #31afe5;
}
.fui-search-trigger.close {
    position: relative;
    z-index: 999;

    height: 31px;

    /* background: #fff url("./images/advancedsearch/triggger-close.png") center 10px no-repeat; */
    background: #fff;
    color: #31afe5;
    box-shadow: 0 0 3px rgba(0,0,0,.3);
}
.fui-search-trigger.close:before {
    content: "\e6de";
}
.fui-toolbar.searchopen {
    box-shadow: 0 -1px 3px rgba(0,0,0,.3) inset;
}
/* 工具栏生成的搜索框按钮图标 */
.mini-buttonedit.fui-primary-search .mini-buttonedit-icon:before {
    /* background: url("./images/advancedsearch/icon-search.png") center no-repeat; */
    content: "\e6ec";
    color: #34a0d2;
}

.fui-search {
    z-index: 1000;

    display: none;
    overflow: hidden;

    background: #fff;
}

.fui-search.open {
    position: absolute;
    top: 36px;
    right: 0;
    left: 0;

    display: block;

    box-shadow: 0 3px 3px rgba(0,0,0,.3);
}

.fui-search.searcher {
    position: relative;

    display: block;
}

.fui-search.searcher .fui-form {
    display: none;
}

.fui-search.searcher .fui-search-footer {
    display: none;
}

.fui-search-footer {
    padding: 5px 14px;

    text-align: right;

    border-top: 1px solid #eee;
}
.fui-search-footer a {
    display: inline-block;

    margin-left: 1px;
}
.fui-search-reset-btn,
.fui-search-close-btn,
.fui-search-srh-btn {
    font-size: 13px;

    display: inline-block;

    min-width: 50px;
    height: 100%;
    padding: 0 10px;

    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    text-align: center;

    color: #fff;
    background: #34a0d2;
}


.fui-search-reset-btn:hover,
.fui-search-close-btn:hover {
    background-color: #32aee7;
}

.fui-search-result {
    padding: 5px;
}

.fui-search-desc,
.fui-search-result-btns {
    line-height: 26px;

    height: 26px;

    cursor: default;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
.fui-search-desc {
    padding-right: 5px;
}
.fui-search-list-wrap {
    overflow: hidden;
}

.fui-search-list {
    width: 1000em;
    /*margin: 0 -10px 0 10px;*/
}

.fui-search-item {
    line-height: 24px;

    height: 24px;
    margin-right: 10px;
    padding: 0 3px 0 8px;

    color: #3d4b62;
    border: 1px solid #bdbec1;
}

.fui-search-item:hover,
.fui-search-item.active {
    border-color: #34a0d2;
}

.fui-search-item-text,
.fui-search-item-remove {
    line-height: 24px;

    display: inline-block;
    overflow: hidden;

    max-width: 110px;

    cursor: default;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    vertical-align: top;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.fui-search-item-remove {
    line-height: 16px;

    display: block;
    visibility: hidden;

    width: 16px;
    height: 16px;
    margin: 4px 0 0 3px;

    cursor: pointer;
    text-align: center;

    /* background: url("./images/advancedsearch/remove.png") center no-repeat; */
    /*border-radius : 50%;*/
    transition: all .1s ease-out;
    font-family: ActionIcon!important;
    font-size: 14px;
    text-align: center;
}
.fui-search-item-remove:before {
    content: "\e6de";
}
.fui-search-item-remove:hover {
    color: #f96d41;
    /* background-image: url("./images/advancedsearch/remove-hover.png"); */
}

.fui-search-item:hover .fui-search-item-remove {
    visibility: visible;
}

.fui-search-item.active .fui-search-item-remove {
    visibility: visible;
}

.fui-search-result-btns span {
    width: 20px;
    height: 20px;
    margin-top: 3px;
    margin-left: 5px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center center;
    transition: all .1s ease-out;
    font-family: ActionIcon!important;
    font-size: 16px;
    text-align: center;
    line-height: 20px;
    border-radius: 50%;
}
.fui-search-result-btns span:hover{
    color: #f96d41;
    background: #f5f3f2;
}
.fui-search-l:before {
    /* background-image: url("./images/advancedsearch/left.png") ; */
    content: "\e70b";
}
/* .fui-search-l:hover {
    background-image: url("./images/advancedsearch/left-hover.png") ;
} */
.fui-search-r:before {
    /* background-image: url("./images/advancedsearch/right.png") ; */
    content: "\e712";
}
/* .fui-search-r:hover {
    background-image: url("./images/advancedsearch/right-hover.png") ;
} */

.fui-search-removeall:before {
    /* background-image: url("./images/advancedsearch/removeall.png"); */
    content: "\e6de";
}
/* .fui-search-removeall:hover {
    background-image: url("./images/advancedsearch/removeall-hover.png");
} */
.fui-search-cover {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: url("./images/advancedsearch/search-cover.png");
    background: rgba(0,0,0,.3);
}
/* 高级搜索布局 end */
