.diy-oauploader .mini-uploader-progressbar {
	display: none !important
}

.diy-oauploader .mini-uploader-error {
	color: red
}

.diy-oauploader .mini-uploader-list {
	margin-left: 0;
	margin-top: 10px
}

.diy-oauploader .file-item {
	display: block;
	float: none;
	width: 100%;
	color: #fff;
	background: rgba(104, 124, 143, .11);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-color: rgba(0, 0, 0, 0);
	margin-left: 0;
	padding-left: 60px;
	border-radius: 4px;
	line-height: 30px;
	padding-top: 18px;
	padding-bottom: 18px;
	height: 66px
}

.diy-oauploader .file-item:hover {
	border-color: rgba(0, 0, 0, 0);
	background: rgba(104, 124, 143, .2)
}

.diy-oauploader .file-item .file-type {
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	left: 16px
}

.diy-oauploader .file-item .file-info {
	float: left;
	position: static;
	line-height: 30px;
	height: auto;
	max-width: 75%
}

.diy-oauploader .file-item .file-info:after {
	content: "";
	display: block;
	clear: both
}

.diy-oauploader .file-item .file-name, .diy-oauploader .file-item .file-size
	{
	float: left;
	color: #dfe2e3;
	font-size: 15px;
	line-height: 30px;
	height: auto
}

.diy-oauploader .file-item .file-name {
	position: static;
	margin-right: 10px;
	font-size: 15px;
	max-width: 80%
}

.diy-oauploader .file-item .file-func {
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	right: 10px;
	left: auto
}

.diy-oauploader .file-item .file-func .download-file {
	display: none !important
}

.diy-oauploader .file-item .delete-file, .diy-oauploader .file-item .download-file,
	.diy-oauploader .file-item .mini-uploader-retry, .diy-oauploader .file-item .preview-file
	{
	float: left;
	margin-right: 12px;
	height: 30px;
	line-height: 30px;
	color: #fff;
	background: url(../images/toolbar-button-bg.png) 50%/100% 100% no-repeat;
	padding: 0 16px;
	cursor: pointer;
	opacity: .9;
	-webkit-transition: all .2s ease-out;
	-o-transition: all .2s ease-out;
	-moz-transition: all .2s ease-out;
	transition: all .2s ease-out;
	font-size: 15px
}

.diy-oauploader .file-item .delete-file:hover, .diy-oauploader .file-item .download-file:hover,
	.diy-oauploader .file-item .mini-uploader-retry:hover, .diy-oauploader .file-item .preview-file:hover
	{
	opacity: 1
}

.diy-oauploader .file-item .file-upload-speed {
	margin-left: 8px
}