$header_height: 36px;
$bottom_height: 42px;
$subTitle_height: 36px;

.qm {
    &-container {
        position: relative;
        height: 100%;
    }

    &-header {
        height: $header_height;
        line-height: $header_height;
        background: #f0f2f5;
        padding-left: 50px;
        position: relative;

        .mini-checkbox {
            position: absolute;
            left: 10px;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    &-body {
        position: absolute;
        z-index: 1;
        width: 100%;
        top: $header_height;
        bottom: $header_height;
    }

    &-block {
        box-sizing: border-box;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 50%;
        overflow: hidden;

        &+& {
            left: auto;
            right: 0;
        }
    }

    &-title {
        padding: 0 10px;
        height: $subTitle_height;
        line-height: $subTitle_height;
    }

    &-menu,
    &-selected {
        position: absolute;
        top: $subTitle_height;
        left: 10px;
        right: 10px;
        bottom: 10px;
    }

    &-filter {
        position: relative;

        &-input {
            box-sizing: border-box;
            width: 100%;
            height: 30px;
            line-height: 28px;
            border: 1px solid #ddd;
            border-radius: 4px;
            position: relative;
            z-index: 1;
            background: transparent;
            padding-left: 30px;
            transition: all .1s ease-out;

            &:focus {
                border-color: #2590eb;
                outline: none;
            }

            &.disabled,
            &[disabled] {
                cursor: not-allowed;

                &:focus {
                    border-color: #ddd;
                }
            }
        }

        &-input:focus+&-icon {
            transition: all .1s ease-out;
            color: #2590eb;
        }

        &-icon {
            position: absolute;
            height: 100%;
            width: 30px;
            text-align: center;
            left: 0;
            top: 0;
            z-index: 0;
            line-height: 30px;
        }
    }

    &-footer {
        box-sizing: border-box;
        position: absolute;
        z-index: 2;
        left: 0;
        right: 0;
        bottom: 0;
        height: $header_height;
        border-top: 1px solid #ddd;
        border-top: 0 rgba(#ddd, .3);
        box-shadow: 0 -1px 4px rgba(#000, .15);
        text-align: center;
        line-height: 0;
        padding-top: 5px;

        .ft-btn {
            display: inline-block;
        }

        .btn-cancel {
            border: 1px solid #ddd;
            padding: 0 14px;
            line-height: 24px;
            height: 24px;
            vertical-align: top;
            cursor: pointer;
        }
    }
}

.qm-menu {

    &-list,
    .qm-menu-search-list {
        padding-right: 4px;
        margin-top: 10px;
        position: absolute;
        top: 30px;
        bottom: 0;
        width: 100%;
        overflow-y: auto;
    }

    .qm-menu-search-list.empty:after {
        padding-top: 20px;
        display: block;
        text-align: center;
        content: "暂无搜索结果";
        opacity: .8;
    }

    &-sub-list {
        background: #efefef;
    }

    &-item {
        display: block;
    }

    &-link {
        display: block;
        position: relative;
        height: 30px;
        line-height: 30px;
        color: #333;
        overflow: hidden;
        cursor: default;
        border-left: 2px solid transparent;

        .qm-menu-icon,
        .qm-menu-name,
        .qm-menu-checkbox {
            cursor: pointer;
        }

        .qm-menu-checkbox {
            vertical-align: top;
            margin-top: 7px;
        }

        &.unable {
            cursor: not-allowed;
            color: #333 !important;

            &:hover {
                color: #333 !important;
            }

            // .qm-menu-icon,
            // .qm-menu-name,
            .qm-menu-checkbox {
                opacity: 0.3;
            }
        }
    }

    &-link.opened &-trigger {
        transform: rotate(90deg);
        transform-origin: 50% 50%;
    }

    &-icon {
        vertical-align: top;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        display: inline-block;
        margin-top: 5px;
        margin-right: 4px;
        color: #fff;
        line-height: 20px;
        text-align: center;
        font-size: 12px;
    }

    &-trigger {
        cursor: pointer;
        position: absolute;
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        top: 0;
        right: 0;
        transition: all .2s ease-out;
        background: url("./images/arrow-right.png") center no-repeat;
    }
}

.ie8 {
    .qm-header {
        .mini-checkbox {
            margin-top: -8px;
        }
    }
    .qm-menu-link.opened .qm-menu-trigger {
        background-image: url("./images/arrow-down.png")
    }
}

.qm-selected-count {
    display: inline-block;
}

.qm-selected {
    width: 200%;

    .qm-using-rate-tips,
    .qm-menu-selected-list {
        box-sizing: border-box;
        height: 100%;
        overflow: auto;
        width: 50%;
        float: left;
        transition: all .2s ease-out;
    }

    .qm-using-rate-tips {
        background: url("./images/using-rate-tips.png") center center no-repeat;
    }


    @at-root .qm-menu-selected {
        &-list {
            margin: 0 -10px 0;
        }

        &-item {
            float: left;
            width: 80px;
            height: 80px;
            margin: 0 10px 10px;
            text-align: center;
            overflow: hidden;
            position: relative;
            cursor: move;
            box-sizing: border-box;

            &:hover {
                background: #f8f8f8;
                box-shadow: 0 0 3px rgba(#000, .015);
            }

            &.ui-sortable-helper {
                opacity: .8;
            }
            &.ui-sortable-placeholder {
                visibility: visible !important;
                border: 1px dashed #ddd;

            }
        }

        &-item:hover &-remove {
            opacity: 1;
        }

        &-icon {
            display: block;
            margin: 12px auto 0;
            width: 32px;
            height: 32px;
            border-radius: 50%;
            color: #fff;
            line-height: 32px;
        }

        &-name {
            text-overflow: ellipsis;
            white-space: nowrap;
            display: block;
            margin: 0 6px;
            overflow: hidden;
        }

        &-remove {
            position: absolute;
            width: 14px;
            height: 14px;
            background: #f00;
            border-radius: 50%;
            top: 8px;
            right: 16px;
            opacity: 0;
            transition: all .2s ease-out;
            cursor: pointer;

            &:after {
                content: "";
                background: #fff;
                width: 8px;
                height: 2px;
                position: absolute;
                top: 50%;
                left: 50%;
                margin-left: -4px;
                margin-top: -1px;
            }
        }
    }
}

.using-rate {
    .qm-selected-count {
        display: none;
    }

    .qm-menu-selected-list {
        margin-left: -100%;
    }

    .qm-menu-item {
        cursor: not-allowed;
    }

    .qm-menu-icon,
    .qm-menu-name,
    .qm-menu-checkbox {
        cursor: not-allowed;
        opacity: 0.5;
    }

    .qm-menu-link {
        color: #333 !important;
        border-color: transparent !important;
    }
}