
/* epoint dialog */
.epdialog {
    position: absolute;

    box-sizing: border-box;

    border: 1px solid #bbb;
}
.epdialog.ui-resizable-resizing,
.epdialog.ui-draggable-dragging {
    opacity: .6;

    filter: alpha(opacity=60);
}
.epdialog.ui-resizable-resizing iframe,
.epdialog.ui-draggable-dragging iframe {
    display: none;
}
.epdialog-hd {
    height: 32px;
    /* 去除头部默认颜色，采用ep-bg-1 */
    /* background-color: #048FD2; */
}
.epdialog.ui-resizable-resizing .epdialog-hd {
    cursor: pointer;
}
.epdialog-title {
    padding-left: 11px;

    font-size: 18px;
    line-height: 32px;

    white-space: nowrap;
    text-overflow: ellipsis;

    color: #fff;
}
.epdialog-bd {
    position: absolute;
    top: 32px;
    right: 0;
    bottom: 0;
    left: 0;

    overflow: hidden;

    background-color: #fff;
}
.epdialog .ui-resizable-handle {
    position: absolute;

    display: block;

    font-size: .1px;
}
.epdialog .ui-resizable-s {
    bottom: 0;
    left: 0;

    width: 100%;
    height: 7px;

    cursor: s-resize;
}
.epdialog .ui-resizable-e {
    top: 0;
    right: 0;

    width: 7px;
    height: 100%;

    cursor: e-resize;
}
.epdialog .ui-resizable-se {
    right: 1px;
    bottom: 1px;

    width: 12px;
    height: 12px;

    cursor: se-resize;
}
.epdialog-hd-btn {
    display: block;

    width: 32px;
    height: 32px;

    cursor: pointer;

    border: none;
    background-color: transparent;
}
.epdialog-hd-btn:hover {
    background-color: #33a0d2;
}
/* 刷新 */
.epdialog-hd-btn.refresh {
    background-image: url('images/refresh.png');
}
/* 最大化 */
.epdialog-hd-btn.maxwin {
    background-image: url('images/max.png');
}
/* 恢复 */
.epdialog-hd-btn.restore {
    background-image: url('images/restore.png');
}
/* 关闭 */
.epdialog-hd-btn.close {
    background-image: url('images/close.png');
}
.epdialog-hd-btn.close:hover {
    background-color: #f96e40;
}
/* 最小化 */
.epdialog-hd-btn.min {
    background-image: url('images/min.png');
}
/* 配置 */
.epdialog-hd-btn.config {
    background-image: url('images/config.png');
}
/* 消息提醒列表框 */
.epdialog .msg-center-title {
    font-size: 14px;
    font-weight: bold;
}

/* dialog模板 */
.modal-dialog-cover {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: block;

    opacity: .3;
    background-color: #000;

    filter: alpha(opacity=30);
}
.modal-dialog-cover > iframe {
    opacity: 0;

    filter: alpha(opacity=0);
}

.ep-bg-1 {
    background-color: #2a3641;
}
