/**!
 * [鐠侯垱藟閸栧搫宕楅崥灞藉閸忣剙閽╅崣鐧�
 * date:2017-12-01
 * author: [chengang];
 */

html,
body {
    height: 100%;
    width: 100%
}

body {
    overflow: hidden;
    background: #f2faff;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.header {
    height: 90px;
    line-height: 90px;
}

.header img {
    vertical-align: middle;
}

.loginbg {
    position: relative;
    overflow: hidden;
    min-height: 453px;
}

.loginbg>img {
    left: 0;
    position: absolute;
    z-index: -1;
    top: 0;
}


/*#region 閻ц缍嶅锟� */

.login.container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -600px;
}

.loginbox {
    width: 370px;
    height: 426px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 36px 0px rgba(6, 19, 40, 0.12);
    position: absolute;
    right: 30px;
    top: 50%;
    margin-top: -230px;
    overflow: hidden;
}

.login-tab-hd {
    height: 72px;
    font-size: 0;
    position: relative;
    text-align: center;
}


/* .login-tab-hd:after {
    content: " ";
    position: absolute;
    height: 1px;
    background: #fff;
    right: 0;
    left: 0;
    bottom: -2px;
} */

.login-tab-hd>h2 {
    position: relative;
    display: inline-block;
    font-size: 20px;
    height: 26px;
    line-height: 26px;
    padding-top: 46px;
    z-index: 2;
}

.login-tab-hd>h2::before {
    content: "";
    position: absolute;
    bottom: 0;
    z-index: -1;
    left: 0;
    right: 0;
    height: 6px;
    background-color: #d8ebfb;
}

.login-form {
    width: 320px;
    margin: 10px auto 0 auto;
}

.login-form>.form-row {
    position: relative;
    *vertical-align: middle;
    margin-top: 30px;
}


/* 
.form-row > .icon {
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    width: 45px;
    height: 24px;
    border-right: 1px solid #d5d5d5;
    left: 0;
    top: 12px;
} */

.user-name {
    color: #999;
    padding-left: 25px;
    height: 14px;
    line-height: 14px;
}

.user-name.icon-user {
    background: url("../images/user-icon.png") no-repeat left center;
}

.user-name.icon-local {
    background: url("../images/local_icon.png") no-repeat left center;
}


/* .form-row > .icon.user {
    background-image: url("../images/user-icon.png");
}

.form-row > .icon.pwd {
    background-image: url("../images/pwd-icon.png");
} */

.form-row>.txt {
    border: none;
    border-bottom: 1px solid #eeeeee;
    margin-top: 10px;
    width: 100%;
    height: 43px;
    padding-left: 4px;
    box-sizing: border-box;
    line-height: 43px;
    font-size: 16px;
    outline: none;
}


/* 
.form-row > .txt:focus {
    border-color: #048ed0;
} */

.btnbar {
    padding-top: 40px;
}

.btnbar>.btnlogin {
    width: 100%;
    font-size: 16px;
    color: #fff;
    background: #2590eb;
    height: 50px;
    line-height: 50px;
    border: none;
    cursor: pointer;
    outline: none;
    border-radius: 5px;
}

.btnbar>.btnlogin:hover,
.btnbar>.btnlogin:active {
    background: #058be8;
}

.btn-wrap {
    margin-top: 14px;
}

.btn-wrap>a {
    height: 14px;
    line-height: 14px;
    color: #999999;
}

.rem-btn {
    padding-left: 20px;
    background: url("../images/checked-icon.png") no-repeat left center;
}

.rem-btn.checked {
    background: url("../images/check-icon.png") no-repeat left center;
}


/* 瀹革缚鏅堕弽鍥暯 */

.title-wrap {
    position: absolute;
    height: 566px;
    width: 500px;
    left: 0;
    top: 50%;
    margin-top: -283px;
}

.bg {
    position: absolute;
    width: 100%;
    height: 100%;
}

#background_video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
}

.dot-bg-wrap {
    position: absolute;
    width: 452px;
    height: 431px;
    background: url("../images/dot-bg.png") no-repeat;
    right: 0;
    top: 0;
}

.dot {
    position: absolute;
    width: 338px;
    height: 373px;
    background: url("../images/dot.png") no-repeat;
    right: 47px;
    bottom: 15px;
    transform-origin: 187px 134px;
    -ms-transform-origin: 187px 134px;
    -webkit-transform-origin: 187px 134px;
    -webkit-animation: rotate 15s linear infinite;
    animation: rotate 15s linear infinite;
}

@-webkit-keyframes rotate {
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
    }
    25% {
        transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
    }
    50% {
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
    }
    75% {
        transform: rotate(270deg);
        -webkit-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
    }
    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
    }
    25% {
        transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
    }
    50% {
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
    }
    75% {
        transform: rotate(270deg);
        -webkit-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
    }
    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
    }
}

.code {
    position: absolute;
    top: 7px;
    right: 3px;
    width: 28px;
    height: 28px;
    background: url(../images/code.png) 0 0 no-repeat;
    cursor: pointer;
}


/*  閻ц缍嶅鍡楀隘閸╋拷  */

.loginbox .inner {
    position: relative;
    border-radius: 4px;
    overflow: hidden;
}

.loginbox .code {
    position: absolute;
    top: 7px;
    right: 3px;
    width: 28px;
    height: 28px;
    background: url(../images/code.png) 0 0 no-repeat;
    cursor: pointer;
    z-index: 100;
}

.loginbox .brain {
    position: absolute;
    top: 7px;
    right: 3px;
    width: 26px;
    height: 21px;
    z-index: 100;
    background: url(../images/brain.jpg) 0 0 no-repeat;
    cursor: pointer;
}

.loginbox .keepOut {
    position: absolute;
    top: 18px;
    right: 5px;
    width: 40px;
    height: 20px;
    background-color: #fff;
    transform: rotate(45deg);
    z-index: 1000;
}

.loginbox .sweep {
    position: absolute;
    top: 7px;
    right: 28px;
    width: 87px;
    height: 24px;
    font-size: 12px;
    line-height: 24px;
    color: #2996f2;
    text-align: left;
    text-indent: 17px;
    background: url(../images/box.png) 0 0 no-repeat;
    transition: all .5s linear;
}

.loginbox .sweepcode {
    padding-top: 110px;
}

.loginbox .sweepcode p {
    padding-top: 25px;
    font-size: 14px;
    line-height: 1;
    color: #333;
    text-align: center;
}

.loginbox .sweepcode em {
    color: #2996f2;
}

.loginbox .renovate {
    position: relative;
    margin: 0 auto;
    width: 193px;
    height: 193px;
}

.loginbox .renovate img {
    display: block;
}

.loginbox .renovate .reinner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 14px;
    text-align: center;
    color: #333;
    background-color: rgba(255, 255, 255, 0.9);
}

.loginbox .renovate .reinner div {
    padding-top: 72px;
    line-height: 14px;
}

.loginbox .renovate .reinner span {
    display: block;
    margin: 18px auto;
    width: 100px;
    height: 36px;
    line-height: 36px;
    color: #fff;
    background-color: #2996f2;
    border-radius: 4px;
    cursor: pointer;
}

.login-title {
    font-size: 30px;
    font-weight: bold;
}

.title-tip {
    color: #999;
    font-size: 15px;
    line-height: 15px;
    margin-top: 18px;
}

.title-tip >span {
    position: relative;
    color: #2590eb;
}

.title-tip >span::before {
    content: '';
    position: absolute;
    width: 24px;
    height: 2px;
    background-color: #2590eb;
    left: 0;
    bottom: -15px;
}