/* toolbar */
.fui-toolbar {
    height: 0.26rem;
    padding: 0.05rem 14px;
}

.fui-toolbar-helper {
    font-size: 0.13rem;
    height: 0.26rem;
    line-height: 0.26rem;
}
.fui-toolbar-tooltip>.mini-tooltip-inner {
    font-size: 0.13rem;
}

.notice-close-btn {
    height: 0.26rem;
}
/* condition */
.fui-search-trigger {
    height: 0.26rem;
}
.fui-toolbar .fui-search-trigger.close {
    height: 0.31rem;
}
.cond-srh-btn {
    height: 0.26rem;
    line-height: 0.26rem;
}
.cond-srh-btn-text {
    font-size: 0.13rem;
}
.fui-search.open {
    top: 0.36rem;
}
.fui-search-close-btn, 
.fui-search-reset-btn,
.fui-search-srh-btn {
    font-size: 0.13rem;
}
/* left righr */
.fui-left-hd {
    height: 0.36rem;
    line-height: 0.36rem;
}
.fui-left-hd+.fui-left-bd {
    top: 0.37rem;
}

/* accordions */
.fui-acc-hd {
    font-size: 0.18rem;
    height: 0.24rem;
    line-height: 0.24rem;
}
.acc-menu-item {
    font-size: 0.13rem;
    line-height: 0.26rem;
}
/* leftaccnav */
.acc-nav-item {
    line-height: 0.34rem;
}
.acc-nav-link {
    height: 0.34rem;

}
.acc-nav-text {
    font-size: 0.13rem;
}

/* action icon */
.action-icon {
    font-size: 0.16rem;
}

/* tabnav */
.fui-tabnav-hd {
    height: 0.36rem;
}
.fui-tabnav-main {
    line-height: 0.36rem;
}
.fui-tabnav-main .fui-tabnav-link {
    height: 0.34rem;
    border-bottom-width: 0.024rem;
}
.fui-tabnav-content {
    top: 0.37rem;
}
.fui-tabnav-bd {
    line-height: 0.34rem;
    height: 0.34rem;
}
.fui-tabnav-sub .fui-tabnav-link {
    font-size: 0.12rem;
}
.fui-tabnav-content.shrinked {
    top: 0.72rem;
}

/* wizard */
.wizard-bar .wizard-item,
.wizard-item {
    font-size: 0.13rem;
}
.wizard-content .wizard-step,
.wizard-step {
    font-size: 0.12rem;
}