// 单元格对齐
.col {
  &.text-left {
    text-align: left;
  }
  &.text-center {
    text-align: center;
  }
  &.text-right {
    text-align: right;
  }

  &.vertical-top {
    vertical-align: top;
  }
  &.vertical-middle {
    vertical-align: middle;
  }
  &.vertical-bottom {
    vertical-align: bottom;
  }

  // &.vertical-top > .dropArea.controls > .design-control-wrap,
  // &.vertical-top > .dropArea.controls > .design-control {
  //   position: relative;
  //   top: 0;
  //   transform: translateY(0);
  // }
  // &.vertical-middle > .dropArea.controls > .design-control-wrap,
  // &.vertical-middle > .dropArea.controls > .design-control {
  //   position: relative;
  //   top: 50%;
  //   top: calc(50% - 2px);
  //   transform: translateY(-50%);
  // }
  // &.vertical-bottom > .dropArea.controls > .design-control-wrap,
  // &.vertical-bottom > .dropArea.controls > .design-control {
  //   position: relative;
  //   top: 100%;
  //   top: calc(100% - 4px);
  //   transform: translateY(-100%);
  // }
  & > .dropArea.controls {
    display: flex;
    flex-direction: column;
  }
  &.text-left > .dropArea.controls {
    align-items: flex-start;
  }
  &.text-center > .dropArea.controls {
    align-items: center;
  }
  &.text-right > .dropArea.controls {
    align-items: flex-end;
  }
  &.vertical-top > .dropArea.controls {
    justify-content: flex-start;
  }
  &.vertical-middle > .dropArea.controls {
    justify-content: center;
  }
  &.vertical-bottom > .dropArea.controls {
    justify-content: flex-end;
  }
}
