/**
* 卡片模板管理
* date: 2020-03-16
* author: guohanyu
**/
@import '../../scss/mixin.scss';

.fui-condition {


    .condition {
        box-sizing: border-box;
        padding: 8px 15px;
        min-width: 900px;
    }

    // 操作按钮样式
    .operate-btn {
        box-sizing: border-box;
        margin-right: 8px;
        padding: 0 16px;
        min-width: 90px;
        height: 30px;
        line-height: 30px;
        color: #333;
        border: 1px solid rgb(214, 214, 214);
        border-radius: 4px;
        transition: all 0.3s ease;

        &:hover {
            color: #fff;
            background-color: rgb(32, 190, 217);
            border: 1px solid rgb(32, 190, 217);
        }
    }

    .operate-btn-extend {
        display: none;
        transition: all 0.3s ease;
    }
}

// 搜索框
.search-box {
    position: relative;
    margin: 0 5px;
    width: 269px;
    height: 30px;
    z-index: 99;
}

.search-box .search-input {
    border-radius: 4px;
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 30px;
    padding: 0 15px 0 35px;
    border: .01rem solid #cfdbe8;
    outline: none;
    background: #fff;
}

.search-box .ico-search {
    position: absolute;
    top: 0;
    left: 5px;
    width: 25px;
    height: 100%;
    background: url("../images/ico-search.png") center no-repeat;
}

.fui-content {

    background-color: #edeff7;

    .main {
        box-sizing: border-box;
        padding: 15px;
        box-sizing: border-box;
        height: calc(100% - 70px);
        overflow: auto;
    }

    .card-items {
        box-sizing: border-box;
        margin-bottom: -16px;
        padding-bottom: 20px;
        min-width: 900px;

        .card-item {
            position: relative;
            margin: 0 0 16px 16px;
            height: 2.15rem;
            width: calc((100% - 49px)/4);
            border-radius: 3px;
            overflow: hidden;

            &:nth-child(4n+1) {
                margin-left: 0;
            }

            // 图片
            &-img {
                width: 100%;
                height: 100%;
            }

            // 启用按钮
            &-btn {
                position: absolute;
                top: 8px;
                left: 8px;
                box-sizing: border-box;
                padding: 0 6px;
                height: 20px;
                line-height: 20px;
                color: #fff;
                text-align: center;
                background-color: #20bed9;

                &.disable {
                    background-color: #ff3d3d;
                }
            }

            // 下部的卡片模板名称
            &-name {
                position: absolute;
                box-sizing: border-box;
                left: 0;
                bottom: 0;
                padding: 0 10px;
                width: 100%;
                height: 32px;
                line-height: 32px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                color: #fff;
                background-color: rgba(30, 32, 45, 0.961);
                border-radius: 0 0 3px 3px;
            }

            // 扩展的按钮区域
            &-extend {
                position: absolute;
                z-index: 10;
                bottom: -32px;
                left: 0;
                box-sizing: border-box;
                width: 100%;
                height: 32px;
                border: 1px solid #20bed9;
                border-top: none;
                opacity: 0;
                background: #fff;
                transition: all 0.3s ease;

                .extend-btn {
                    position: relative;
                    width: calc((100% - 1px)/3);
                    height: 32px;
                    line-height: 32px;
                    text-align: center;
                    color: #20bed9;

                    &.delete {
                        color: #ff3d3d;
                    }

                    &+.extend-btn::before {
                        position: absolute;
                        top: 10px;
                        bottom: 10px;
                        width: 1px;
                        left: 0;
                        content: '';
                        background: #e8e8ea;
                    }
                }


            }

            // 右上角的排序区域
            .order-area {
                display: none;
                position: absolute;
                box-sizing: border-box;
                top: 0;
                right: 0;
                width: 40px;
                height: 40px;
                background: url(../images/item-tip.png) no-repeat center;
                background-size: 100% 100%;
                cursor: pointer;

                .order-ipt {
                    margin-left: 15px;
                    width: 25px;
                    height: 20px;
                    text-align: center;
                    color: #fff;
                    background: none;
                    outline: none;
                    border: none;
                }
            }

            // 在这个状态下可以编辑排序

            &:hover {
                overflow: inherit;

                .card-item-extend {
                    opacity: 1;
                }
            }
        }


    }

    // 分页区域,固定在底部
    .pager-container {
        position: absolute;
        z-index: 15;
        box-sizing: border-box;
        bottom: 0;
        padding: 20px 15px;
        min-width: 900px;
        width: 100%;
        height: 70px;
        background: #edeff7;
    }
}

body.showorder {

    // 排序按钮区域
    #startorder {
        display: none;
    }

    .operate-btn-extend {
        display: inline-block;
    }

    .card-items {

        .card-item{

            .order-area {
                display: block;
            }
        }   
    }
}