/*pass流程处理 */
.process-container {
	width: 100%;
	max-height: 587px;
	height: 100%;
	height: calc(100% - 50px);
	margin: 0 auto;
	/* border: 1px solid #444851; */
	position: relative;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	overflow: auto;
}

.process-handle {
	padding: 0 10px;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 57px;
}

.process-handle>.step-panel {
	float: left;
	margin-right: 8px;
	height: 100%;
	position: relative;
	width: 235px;
}

.process-handle>.member-panel {
	position: absolute;
	height: 100%;
	right: 10px;
	left: 253px;
}

.head-title {
	height: 43px;
	font-size: 16px;
	font-size: .16rem;
	color: #3d4b62;
}

.head-title>span {
	display: inline-block;
	padding-left: 8px;
	margin-top: 12px;
	/* border-left: 2px solid #6a9ad1; */
	line-height: 18px;
}

.step-container {
	width: 233px;
	position: absolute;
	top: 32px;
	bottom: 0;
	border: 1px solid #e7e7e7;
	overflow-y: auto;
	box-sizing: border-box;
}

.step-list {
	line-height: 32px;
	padding: 8px;
	font-size: 12px;
	font-size: .12rem;
	color: #333;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

.step-list>.step-item {
	margin-bottom: 8px;
}

.step-item>.step-name {
	height: 32px;
	border-radius: 2px;
	cursor: pointer;
}

.step-item>.step-name>.step-chk {
	vertical-align: middle;
	margin: 0 10px;
}

.step-item>.step-name>span {
	vertical-align: middle;
}

.sub-step-list {
	padding-top: 6px;
	display: none;
}

.sub-step-list>.sub-step-item {
	padding-left: 33px;
	cursor: pointer;
	line-height: 23px;
	-moz-transition: color 0.3s;
	-o-transition: color 0.3s;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
}

.sub-step-list>.sub-step-item.check {
	background: #dfedfa;
}

.sub-step-list>.sub-step-item:hover {
	background: #fffed5;
	color: red;
}

.sub-step-item>.sub-step-chk {
	vertical-align: middle;
	margin-right: 6px;
}

.sub-step-item>span {
	vertical-align: middle;
}

.step-list>.step-item.has-sub.check {
	margin-bottom: 7px;
}

.step-list>.step-item.has-sub.check>.sub-step-list {
	display: block;
}

.member-container {
	width: 100%;
	border: 1px solid #e7e7e7;
	position: relative;
	background: url("../image/step-bg.png") no-repeat center 180px #f8f8f8;
	position: absolute;
	top: 32px;
	bottom: 0;
	box-sizing: border-box;
}

.member-container:after {
	content: "请选择步骤";
	position: absolute;
	display: inline-block;
	color: #999;
	line-height: 25px;
	font-size: 16px;
	font-size: .16rem;
	top: 240px;
	left: 50%;
	margin-left: -40px;
	z-index: 9;
}

.step-tab {
	height: 100%;
	background: #fff;
	z-index: 10;
	position: relative;
	display: none;
}

.step-tab>.step-tab-hd {
	height: 37px;
	line-height: 37px;
	border-bottom: 1px solid #e7e7e7;
	font-size: 14px;
	font-size: .14rem;
	padding-left: 13px;
	overflow: auto;
	-ms-overflow-style: none;
}

.step-tab-hd>span {
	height: 36px;
	display: inline-block;
	padding: 0 12px;
	margin-left: 6px;
	cursor: pointer;
}

.step-tab-hd>span.active,
.step-tab-hd>span:hover {
	border-bottom: 2px solid;
}

.step-tab-bd {
	/*height: 432px;*/
	/* padding: 10px; */
	position: absolute;
	top: 38px;
	bottom: 0;
	left: 0;
	right: 0;
}

.step-page {
	height: 100%;
}

/*sms */
.sms-container {
	height: 98px;
	font-size: 12px;
	font-size: .12rem;
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	width: 100%;
	padding: 0 8px;
	box-sizing: border-box;
}

/*button */
.status-bar {
	height: 32px;
	line-height: 32px;
	padding: 8px 10px;
	border-top: 1px solid #e7e7e7;
	font-size: 12px;
	font-size: .12rem;
	color: #999;
	/* position: absolute; */
	/* bottom: 0; */
	/* left: 0; */
	/* right: 0; */
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	background: #fff;
}

.status-bar b {
	color: #333;
	font-weight: normal;
	margin-right: 15px;
}

.btn-bar {
	float: right;
	/* margin-right: 23px; */
	line-height: normal;
	/* margin-top: 6px; */
}

.btnsubmit, .btncancel {
	cursor: pointer;
	display: inline-block;
}

.btnsubmit {
	margin-right: 10px;
}

/*选人树 */
.stepinfo-container {
	height: 100%;
	width: 100%;
	position: relative;
	margin: 0 auto;
}

.tabtree-container {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 98px;
}

.tabtree-container.nosms {
	bottom: 0;
}

.tabtree-container.noedit .mini-tabstreeselect-list {
	top: 5px;
}

.selectd-panel {
	height: 100%;
	position: relative;
}

.selected-panel-head {
	background: #6a9ad1;
	color: #fff;
	font-size: 15px;
	font-size: .15rem;
	height: 32px;
	line-height: 32px;
	padding-left: 20px;
}

.selected-content {
	background: #f8f8f8;
	padding: 5px;
	position: absolute;
	left: 0;
	right: 0;
	top: 32px;
	bottom: 0;
	overflow-y: auto;
}

.msg-org-folder {
	background: url("../image/icon-folder.png") center center no-repeat;
}

.mini-tree-expand .msg-org-folder {
	background: url(../image/icon-folder-open.png) center center no-repeat;
}

.msg-org-people {
	background: url(../image/icon-people.png) center center no-repeat;
}

/*back流程处理  opinion*/
.opinion-container {
	width: 100%;
	overflow: hidden;
	border: 1px solid #e7e7e7;
	/* margin-bottom: 16px; */
	box-sizing: border-box;
}

.datagrid-container.nosms {
	width: 100%;
	overflow: auto;
	border: 1px solid #e7e7e7;
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	top: 246px;
	box-sizing: border-box;
}

.datagrid-container {
	width: 100%;
	overflow: auto;
	border: 1px solid #e7e7e7;
	position: absolute;
	bottom: 98px;
	right: 0;
	left: 0;
	top: 246px;
}

.opinion-txt {
	width: 50%;
	float: left;
	position: relative;
	height: 180px;
}
.opinion-txt .mini-textbox-border {
	border-left-width: 0;
	border-top-width: 0;
	border-right-width: 0;
	border-color: #ebebeb;
}
.opinion-txt .mini-error .mini-textbox-border {
	border-left-width: 1px;
	border-top-width: 1px;
	border-right-width: 1px;
}
.add-myopinion {
	height: 30px;
	line-height: 30px;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding-left: 8px;
}
.add-myopinion-row {
	cursor: pointer;
}
.add-myopinion-row > .action-icon {
	margin-right: 8px;
}
.opinion-tmpl {
	width: 50%;
	height: 180px;
	float: right;
	border-left: 1px solid #e7e7e7;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
	padding: 2px;
}
.opinion-tmpl .mini-tabs-bodys {
	border-left: none;
	border-bottom: none;
	border-right: none;
}
.opinion-tmpl .mini-listbox-border {
	border: none;
}
.opinion-tmpl>.split {
	position: absolute;
	width: 14px;
	left: -14px;
	top: 40%;
	border-top-left-radius: 14px;
	border-bottom-left-radius: 14px;
}
.signmember-container.shrink .opinion-tmpl>.split {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
}

.opiniontmpl-tab {
	height: 180px;
}

.opiniontmpl-tab>.opiniontmpl-tab-hd {
	height: 37px;
	line-height: 37px;
	border-bottom: 1px solid #e7e7e7;
	font-size: 14px;
	font-size: .14rem;
	padding-left: 13px;
}

.opiniontmpl-tab-hd>span {
	height: 36px;
	display: inline-block;
	padding: 0 12px;
	margin-left: 6px;
	cursor: pointer;
}

.opiniontmpl-tab-hd>span.active {
	color: #ff6603;
	border-bottom: 2px solid #ff6603;
}

.opiniontmpl-tab-bd {
	overflow: auto;
	height: 143px;
}

.opinion-container.shrink>.opinion-txt {
	width: 100%;
}

.opinion-container.shrink>.opinion-tmpl {
	width: 0;
	border-left: 0 none;
	color: #fff;
	padding: 0;
}

.opinion-container.shrink>.opinion-tmpl>.split:after {
	content: "<";
}

.opinion-container.shrink .opiniontmpl-tab {
	display: none;
}

.opiniontmpl-list {
	line-height: 30px;
	font-size: 12px;
	font-size: .12rem;
	padding-left: 6px;
}

.opiniontmpl-list>.opiniontmpl-item {
}

.opiniontmpl-list>.opiniontmpl-item>span {
	vertical-align: middle;
}

.opiniontmpl-list>.opiniontmpl-item>input {
	vertical-align: middle;
	margin: 0 10px;
}

.opiniontmpl-list>.opiniontmpl-item:hover {
	background: #f5f5f5;
}

.backsms-container {
	height: 90px;
	padding: 8px 0 0 0;
	font-size: 12px;
	font-size: .12rem;
	line-height: 18px;
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	width: 100%;
}
.backsms-row {
	margin-bottom: 8px;
}
.smsjj {
	
	vertical-align: middle;
}

/*singlepass流程处理 */
.singleprocess-container {
    width: 100%;
    max-height: 587px;
    height: 100%;
    margin: 0 auto;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.singleprocess-handle {
    /* padding: 0 8px; */
    overflow: hidden;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 50px;
    box-sizing: border-box;
}

.singleprocess-handle > .singlemember-panel {
    float: left;
    position: relative;
    height: 100%;
    width: 100%;
}

.singlemember-container {
    width: 100%;
    position: absolute;
    top: 10px;
    bottom: 98px;
}

.singlemember-container.nosms {
    width: 100%;
    position: absolute;
    top: 10px;
    bottom: 0;
    /* border: 1px solid #e7e7e7; */
}

.singlesms-container {
	padding: 8px;
	font-size: 12px;
	font-size: .12rem;
	position: absolute;
	bottom: 0;
	width: 100%;
	box-sizing: border-box;
}

/*sign流程处理 */
.signmember-container {
    /* width: 840px; */
    overflow: hidden;
    border: 1px solid #e7e7e7;
}

.signopinion-container {
    /* width: 840px; */
    height: 250px;
    overflow: auto;
    /* border: 1px solid #e7e7e7; */
    /* position: absolute; */
    /* bottom: 0; */
    /* right: 0; */
    /* left: 18px; */
    /* top:267px; */
}

.signmember-container.shrink>.opinion-txt {
	width: 100%;
}

.signmember-container.shrink>.opinion-tmpl {
	width: 0;
	border-left: 0 none;
	color: #fff;
	padding: 0;
}
.signmember-container.shrink .opiniontmpl-tab {
	display: none;
}
