/*!
 * 重置处理人
 * author: xiaolong
 */

.container {
    padding: 0 5px;
}

.mini-col-6 {
    box-sizing: border-box;
    padding: 0 5px;
}

.semi-header {
    height: 30px;
    box-sizing: border-box;
}

.semi-header-border {
    border-bottom: 1px solid #6a9ad1;
}

.semi-header-bg {
    background-color: #6a9ad1;
    font-size: 14px;
    color: #fff;
}

.handler-title {
    padding-left: 20px;
    line-height: 30px;
}

.handler-back,
.handler-update {
    cursor: pointer;
    padding: 0 10px;
    margin-top: 6px;
    margin-right: 10px;
    border-radius: 9px;
    line-height: 18px;
    font-size: 12px;
    border: 1px solid #85abd7;
}

.handler-update {
    position: relative;
}

.handler-update.canupdate:before {
    position: absolute;
    content: "";
    width: 7px;
    top: -1px;
    right: -2px;
    height: 7px;
    border-radius: 50%;
    background-color: #ffb330;
}

.header-item {
    float: left;
    width: 104px;
    height: 29px;
    margin-right: 3px;
    font-size: 14px;
    text-align: center;
    line-height: 28px;
    color: #666;
    cursor: pointer;
    background-color: #efefef;
}

.header-item.active {
    background-color: #6a9ad1;
    color: #fff;
}

.semi-body {
    background-color: #f8f8f8;
    box-sizing: border-box;
}

.semi-body-ou {
    padding: 9px 15px 0;
}

.handler-list-head {
    height: 30px;
    padding-left: 20px;
    background-color: #efefef;
}

.handler-list-headtext {
    float: right;
    margin-right: 76px;
    line-height: 30px;
}

.handler-list-item {
    padding-left: 20px;
}

.handler-list-item .state {
    float: right;
    margin-right: 90px;
}

.handler-list-item.unhandle .state {
    color: #ff9625;
}

.handler-list-item.handled .state {
    color: #b3b3b3;
}

.handler-list-item.unsend .state {
    color: #ff1414;
}
