<!-- 控件列表项模板 -->
<script type="text/x-template" id="ctrl-templ">
<li class="td_{{enName}}" data-cmd="td_{{enName}}">
    <i></i>
    <span>{{zhName}}</span>
</li>
</script>

<!-- 可扩展控件列表项模板-->
<script type="text/x-template" id="ctrl-templ2">
<li data-cmd="td_{{enName}}">
    <i style="background-image: url({{imagePath}});"></i>
    <span>{{zhName}}</span>
</li>
</script>

<!-- 字段模板 -->
<script type="text/x-template" id="field-templ">
<div class="field-item">
    <div class="field-hd">
        <i class="epicon-plus"></i>
        <span>{{zhName}}</span>
        <a href="#" class="insert-text" data-field="{{enName}}" title="把字段名插入到光标所在位置">字</a>
        <a href="#" class="insert-ctrl" data-field="{{enName}}" title="打开指定控件配置面板">控</a>
    </div>
    <div class="field-content hidden">
        <span>{{enName}}</span>
        <span>{{dataType}}</span>
        <span>{{ctrlType}}</span>
    </div>
</div>
</script>

<!-- 表单控件模板 -->
<!-- checkboxlist控件模板 -->
<script type="text/x-template" id="checkboxlist-templ">
    <input type="text"
        class="checkboxlist"
        title="{{title}}"
        data-ctrl="checkboxlist"
        id="{{id}}"
        DataField="{{dataField}}"
        DataFieldCn="{{dataField}}"
        RepeatDirection="{{repeatDirection}}" 
        {{#repeatColumns}}
        RepeatColumns="{{repeatColumns}}"
        {{/repeatColumns}}
        dataoptions="{{dataoptions}}"
        />
</script>

<!-- 日期控件模板 -->
<script type="text/x-template" id="datetextbox-templ">
    <input class="datetextbox"
        data-ctrl="datetextbox"
        title="{{title}}"
        value="{{title}}"
        id="{{id}}" 
        data-ctrl="date"
        inputdatetype="{{inputDateType}}"
        datafield="{{dataField}}"
        datafieldcn="{{dataField}}"/>    
</script>

<!-- 日期时间控件模板 -->
<script type="text/x-template" id="datetimetextbox-templ">
    <input class="datetimetextbox" 
        data-ctrl="datetimetextbox"
        title="{{title}}"
        value="{{title}}"
        id="{{id}}" 
        data-ctrl="datetime"
        inputdatetype="{{inputDateType}}"
        datafield="{{dataField}}"
        datafieldcn="{{dataField}}"/>    
</script>

<!-- 下拉菜单控件模板 -->
<script type="text/x-template" id="dropdowntextbox-templ">
    <input type="text" class="dropdowntextbox"
        id="{{id}}" 
        data-ctrl="dropdowntextbox"
        title="{{title}}"
        value="{{title}}"
        {{#divHeight}}
        divheight="{{divHeight}}"
        {{/divHeight}}
        {{#width}}
        width="{{width}}"
        {{/width}}
        enablesearch="{{enableSearch}}"
        conceal="{{conceal}}"
        datafield="{{dataField}}"
        datafieldcn="{{dataField}}"
        style="{{style}}"
        dataoptions="{{dataoptions}}"/>
</script>

<!-- datagrid控件模板 -->
<script type="text/x-template" id="datagrid-templ">
    <input type="text" class="datagrid"
        id="{{id}}" 
        subfields="{{subfields}}"
        tableid="{{tableid}}"
        data-ctrl="datagrid"
        title="{{title}}"
        value="{{title}}"
        datafield="{{dataField}}"
        datafieldcn="{{dataField}}"
        readonly/>
</script>

<!-- datagridnew控件模板 -->
<script type="text/x-template" id="datagridnew-templ">
    <input type="text" class="datagridnew"
        id="{{id}}" 
        subfields="{{subfields}}"
        tableid="{{tableid}}"
        data-ctrl="datagrid"
        title="{{title}}"
        value="{{title}}"
        datafield="{{dataField}}"
        datafieldcn="{{dataField}}"
        readonly/>
</script>

<!-- 多文件上传控件模板 -->
<script type="text/x-template" id="fileupload-templ">
    <input type="text"
        data-ctrl="fileupload"
        title="{{title}}"
        id="{{id}}"
        datafield="{{dataField}}"
        datafieldcn="{{dataField}}"
        {{#maxAttachCount}}
        MaxAttachCount="{{maxAttachCount}}"
        {{/maxAttachCount}}
        {{#allowFileList}}
        AllowFileList="{{allowFileList}}"
        {{/allowFileList}}
        class="fileupload"
        readonly/>
</script>

<!-- 宏控件模板 -->
<script type="text/x-template" id="macro-templ">
    <input type="text"
        class="macro"
        data-ctrl="macro"
        title="{{title}}"
        id="{{id}}"
        isdate="{{isdate}}"
        datafield="{{dataField}}"
        datafieldcn="{{dataField}}"
        macrotype="{{macroType}}"
        flownumname="{{flowNumName}}"
        flownumflag="{{flowNumFlag}}"  
        flownumlength="{{flowNumLength}}"  
        caculatetime="{{caculatetime}}"
        conceal="{{conceal}}" 
        />
</script>

<!-- 组织架构选择控件模板 -->
<script type="text/x-template" id="orgsel-templ">
    <input type="text"
        class="orgsel"
        data-ctrl="orgsel"
        title="{{title}}"
        id="{{id}}"
        datafield="{{dataField}}"
        datafieldcn="{{dataField}}"
        Mode="{{Mode}}"
        Object="{{Object}}"
        TopOU="{{TopOU}}"
        />
</script>

<!-- radiobuttonlist控件模板 -->
<script type="text/x-template" id="radiobuttonlist-templ">
    <input type="text"
        class="radiobuttonlist"
        data-ctrl="radiobuttonlist"
        title="{{title}}"
        id="{{id}}"
        DataField="{{dataField}}"
        DataFieldCn="{{dataField}}"
        RepeatDirection="{{repeatDirection}}" 
        {{#repeatColumns}}
        RepeatColumns="{{repeatColumns}}"
        {{/repeatColumns}}
        dataoptions="{{dataoptions}}"
        />
</script>

<!-- editor编辑器控件模板 -->
<script type="text/x-template" id="richeditor-templ">
    <input type="text" 
        id="{{id}}"
        title="富文本-{{title}}"
        value="富文本-{{title}}"
        {{#width}}
        width="{{width}}"
        {{/width}}
        {{#height}}
        height="{{height}}"
        {{/height}}
        datafield="{{dataField}}"
        datafieldcn="{{dataField}}"
        style="{{style}}"
        data-ctrl="richeditor"
        class="richeditor"/>
</script>

<!-- 多行文本编辑器控件模板 -->
<script type="text/x-template" id="textarea-templ">
    <input id="{{id}}" 
        class="textarea"
        title="{{title}}"
        value="{{title}}"
        data-ctrl="textarea"
        DataField="{{dataField}}" 
        DataFieldCn="{{dataField}}" 
        TextAlign="{{textAlign}}" 
        {{#width}}
        Width="{{width}}"  
        {{/width}}
        {{#height}}
        Height="{{height}}"
        {{/height}}
        style="{{style}}"
        conceal="{{conceal}}"/>
</script>

<!-- word编辑控件html模板 -->
<script type="text/x-template" id="ntko-templ">
    <input id="{{id}}" 
        data-ctrl="ntko"
        title="{{title}}"
        DataField="{{dataField}}" 
        DataFieldCn="{{dataField}}"
        />
</script>

<!-- 控件html模板 -->
<script type="text/x-template" id="textbox-templ">
    <input id="{{id}}" 
        class="textbox" 
        data-ctrl="textbox"
        title="{{title}}"
        value="{{title}}"
        DataField="{{dataField}}" 
        DataFieldCn="{{dataField}}"
        FieldType="{{fieldType}}"
        TextAlign="{{textAlign}}" 
        {{#width}}
        Width="{{width}}"  
        {{/width}}
        {{#height}}
        Height="{{height}}"
        {{/height}}
        style="{{style}}"
        conceal="{{conceal}}"/>
</script>

<!-- 计算控件模板 -->
<script type="text/x-template" id="calculatecontrol-templ">
    <input type="text" 
        class="calculatecontrol"
        data-ctrl="calculatecontrol"
        id="{{id}}" 
        datafield="{{dataField}}"
        datafieldcn="{{dataField}}"
        title="{{title}}"
        itemvalue="{{ItemValue}}"
        itemprec="{{ItemPrec}}"
        conceal="{{conceal}}" 
        {{#width}} Width="{{width}}" {{/width}} 
		{{#height}} Height="{{height}}" {{/height}} 
        style="{{style}}"/>
</script>

<!-- 图片插入控件-->
<script type="text/x-template" id="epimage-templ">
    <input id="{{id}}" 
        data-ctrl="epimage"
        title="{{title}}"
        DataField="{{dataField}}" 
        DataFieldCn="{{dataField}}" 
        />
</script>

<!-- 自动布局模板 -->
<script type="text/x-template" id="layout-tb-templ">
    <table class="standard-layout" style="width:900px;margin:auto;">
        <caption style="font-size:30px;line-height:40px;font-weight:bold;text-align:center;">
            {{zhName}}
        </caption>
        <tbody>
            {{{rows}}}
        </tbody>
    </table>
</script>