/**
 * 作者： syy
 * 创建时间：2017/11/09
 * 版本： [1.0, 2017/11/09]
 * 版权： 江苏国泰新点软件有限公司
 * 描述： 设备安全验证码
**/

body {
    background: #F5F5F5;
}

.mui-content {
    background: #F5F5F5;
    position: relative;
}

.em-header-yzm {
    height: 95px;
    background: #fff;
    padding: 15px;
    position: relative;
    display: flex;
}

.em-header-left {
    /* float: left; */
    width: 62px;
    text-align: center;
}

.em-header-right {
    flex: 1;
    /* float: right; */
    /* margin-left: 20px; */
    position: relative;
}

.em-left-copy {
    /* border: 1px solid #266eea;
    border-radius: 5px;
    color: #266eea; */
    /* line-height: 1.1; */
    /* height: 22px; */
    /* font-size: 13px; */
    line-height: 22px;
    margin-top: 10px;
    padding: 0px 7px;
}

html body .em-header-jdt {
    margin-top: 10px;
    position: absolute;
    left: 50%;
    bottom: 15px;
    transform: translate(-50%, 0);
    width: calc(100% - 30px);
}

/* .flip.number-flip {
    display: inline-block;
    border: 1px solid #000
} */

.flip {
    height: 50px;
    text-align: center;
    background: #fff;
    z-index: 111;
}

.flip .ctnr+.ctnr {
    margin-left: 3vw;
}

.flip .ctnr {
    width: 9vw;
    text-align: center;
    /* border: 1px solid #999; */
    /* margin-top: -1px; */
}

.flip .digit {
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 42px;
    font-weight: 300;
}

.mui-progressbar span {
    -webkit-transition: 1.67s;
    transition: 1.67s;
}

/* 设备列表部分 */

html body .em-main-title {
    height: 38px;
    font-size: 13px;
    line-height: 26px;
    padding-top: 11px;
    padding-left: 14px;
}

html body .em-self {
    height: 21px;
    /* display: flex; */
    padding: 0 10px;
}

html body .em-userPhone {
    height: 23px;
    display: inline-block;
    line-height: 23px;
}

html body .em-shouquan {
    margin-top: 9px;
    font-size: 13px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

html body .em-sq-main-first {
    width: 100px;
    display: inline-block;
}

.em-sq-title {
    color: #999;
}

.em-lastTime {
    display: block;
    color: #007aff;
    font-size: 12px;
    line-height: 45px;
    height: 45px;
    padding-left: 16px;
    width: 50%;
}

#qrcode {
    display: none;
    position: absolute;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    top: 0;
    align-items: center;
    z-index: 999;
}

.mask {
    position: fixed;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
}

#blur {
    opacity: 0;
}

.mui-backdrop {
    background-color: rgba(255, 255, 255, 0.89);
    filter: blur(10px);
}

/* .mui-backdrop::before {
    position: absolute;
    background: url(../img/img_white.png);
    background-size: cover;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    filter: blur(20px);
} */

#qrcode img {
    z-index: 99;
    position: relative;
}

/* 最近登录记录 */

.em-loginList {
    position: absolute;
    top: 0;
    width: 100vw;
}

.mui-btn-outlined.mui-btn-primary,
.mui-btn-outlined.mui-btn-blue {
    color: #007aff;
    line-height: 22px;
    /* font-size: 14px; */
    /* height: 21px; */
    /* line-height: 21px; */
    padding: 0 6px;
}

#loginlist .em-sq-main-first {
    width: 80px;
    display: inline-block;
}

.em-fixed {
    text-align: center;
    top: 0;
    z-index: 1;
    position: absolute;
    overflow: hidden;
    height: 50px;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
}

.em-fixed .ctnr+.ctnr {
    margin-left: 2vw;
}