/** 
 * 作者： syy
 * 创建时间：2017/11/13
 * 版本： [1.0, 2017/11/13]
 * 版权： 江苏国泰新点软件有限公司
 * 描述： 事件上报记录详情
**/
.title{
	padding-left: 15px;
	height: 40px;
	line-height: 40px;
	font-weight: bold;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	border-bottom: 1px solid #f4f4f4;
}

.mui-input-row label{
	padding-top: 13px;
	font-size: 16px;
	height: 40px;
	width: 35%;
}

.mui-input-row input{
	padding-right: 50px;
	font-size: 16px;
	/*white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;*/
}

.pic-content{
	background: #F5F5F5;
	width: 100%;
}

.pic{
	margin-left: 25%;
	height: 40px;
	width: 50%;
}

.view{
	position: absolute;
	font-size: 16px;
	right: 20px;
	top: 9.5px;
	color: #6791e7;
}
.mui-input-group:before{
	display: none;
}
.em-show {
	overflow: inherit;
	height: auto
}
.em-clyj {
	height: 145px!important;;
	overflow: scroll;
	padding-bottom: 20px;
}
.em-clyj:after{
	content: '';
	display: none;
}
.clear{
	clear: both;
}
.em-flows {
	display: block;
	padding-left: 30px;
	padding-right: 30px;
	font-size: 12px;
	padding-bottom: 0px;
}
.em-flows-div {
	position: relative;
	margin-top: 10px;
	min-height: 60px;
}
.em-flows-div:after{
	content: '';
	clear: both;
	/*display: block;*/
}
.em-flows-left {
	/*position: absolute;*/
	width: 30%;
	float: left;
}
.em-flows-left span {
	display: block;
}
.em-flows-right {
	/*position: absolute;*/
	/*left: 50%;*/
	/*width: 50%;*/
	margin-left: 45%;
	background-color: #e9edf3;
	position: relative;
	padding: 5px 10px;
	border-radius:4px ;
	/*vertical-align: middle;*/
	
	/*float: left;*/
}
.em-right-info {
	/*position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%)*/
}
.em-flows-right span {
	display: block;
}
.em-right-name {
	color: #6791e7;
}
.em-dtime {
	color:#333 ;
}
.em-date {
	color:#666 ;
}
.em-flows-border {
	width: 1px;
	height: 100%;
	background-color: #e0e0e0;
	position: absolute;
	left: 32%;
}
.em-tip {
	width: 13px;
	height: 13px;
	background-color: #6791e7;
	border-radius: 4px;
	position: absolute;
	left: 30%;
	top: 16%;
	background: url(../img/img-tip.png);
	background-size: 13px;
}
[show] {
	opacity: 1 !important;
}
.em-show-map {
	opacity: 0;
}
#listdata3 {
	height: 200px;
	overflow: scroll;
	margin-top: -10px;
}
.pic-img {
	position: absolute;
	right: 20px;
	top: 10px;
	width: 20px;
	height: 20px;
}
html body .mui-input-group .test_box-div {
	height: auto;
}
#content {
	margin-top: 2px;
}
