/**
 * 作者： Gejie
 * 创建时间：2018/09/14
 * 版本： [1.0, 2018/09/14]
 * 版权： 江苏国泰新点软件有限公司
 * 描述： 设备验证操作指南
**/

body,
.mui-content {
    background-color: #fff;
}

p {
    margin: 0;
}

/*common css*/
.font14 {
    font-size: 14px;
}

.font15 {
    font-size: 15px;
}

.font16 {
    font-size: 16px;
}

.font17 {
    font-size: 17px;
}

.font18 {
    font-size: 18px;
}

.color000 {
    color: #000;
}

.colorfff {
    color: #fff;
}

.g-summary-title {

}

.pdlr {
    padding: 0 15px;
}

.g-summary-title {
    padding: 14px 2px;
}

.g-summary-title > p {
    line-height: 1.6;
}

.g-content-step {
    margin-bottom: 20px;
}

.g-content-step:last-child {
    margin-bottom: 0;
}

.g-step-top {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #eff5ff;
    border-radius: 50px;
    height: 40px;
}

.g-step-number {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    background-color: #367ae7;
    font-size: 20px;
}

.g-step-top-title {
    color: #236de4;
    margin-left: 16px;
}

.g-step-first {
    display: block;
    width: 270px;
    margin: 0 auto;
    padding: 34px 0 0;
}

.g-step-txtf {
    padding: 13px 2px 10px;
}
.g-step-framef{
    background-color: #eff5ff;
    border-radius: 2px;
    line-height: 1.6;
    padding: 10px 10px;
}
.g-step-txtl{
    padding: 10px 2px 14px;
    line-height: 1.7;
}

.g-step-txtl span{
    color: #367ae7;
}
.g-step-second{
    width: 96%;
    margin: 0 auto;
}

.g-step-second img {
    display: block;
}
.g-step-framel{
    line-height: 1.7;
    padding: 12px 0;
}