.fui-tabnav {
    /* border-bottom: 1px solid #e4e4e4; */
}
.fui-tabnav-hd {
    border-bottom: 1px solid #ddd;
}
.fui-tabnav-item {
    float: left;
}
.fui-tabnav-link {
    display: block;

    color: #333;
}
.fui-navlist-wrap {
    position: absolute;
    top: 0;
    right: 50px;
    bottom: 0;
    left: 16px;

    overflow: hidden;
}
.nav-scroll-btns {
    width: 50px;
    height: 100%;
}
.nav-scroll-btns > .btn {
    width: 20px;
    height: 36px;
    margin: 0;

    font-family: ActionIcon !important;
    font-size: 16px;
    font-style: normal;
    line-height: 36px;

    cursor: pointer;

    background-repeat: no-repeat;
    background-position: center center;
}
.nav-scroll-btns > .btn.disabled {
    cursor: not-allowed;
}
.nav-scroll-btns > .btn.scroll-left:before {
    /* background-image: url("./images/left.png"); */
    content: '\e70b';
}
.nav-scroll-btns > .btn.scroll-left:hover {
    color: #f96e41;
    /* background-image: url("./images/left-hover.png"); */
}
.nav-scroll-btns > .btn.scroll-right:before {
    content: '\e712';
    /* background-image: url("./images/right.png"); */
}
.nav-scroll-btns > .btn.scroll-right:hover {
    color: #f96e41;
    /* background-image: url("./images/right-hover.png"); */
}
/* 一级菜单部分 */
.fui-tabnav-hd {
    position: relative;

    overflow: hidden;

    height: 36px;

    background-color: #fff;
}

.fui-tabnav-main {
    width: 2000em;

    line-height: 36px;
    /* margin-left: 14px; */
}
.fui-tabnav-main .fui-tabnav-link {
    
    padding: 0 16px;

    color: #333;
}


.fui-tabnav-main .fui-tabnav-item {
    position: relative;
}
.fui-tabnav-main .fui-tabnav-item:after {
    content: '';
    position: absolute;
    left: 100%;
    bottom: 0;
    border-bottom: 2px solid #2285d9;
    width: 0;
    transform-origin: 50% 50%;
    transition: all 0.2s ease-out;
}
.fui-tabnav-main .fui-tabnav-item:hover:after,
.fui-tabnav-main .fui-tabnav-item.active:after {
    width: 100%;
    left: 0;
    /* background-color: #f5f5f5; */
}
.fui-tabnav-main .fui-tabnav-item:hover ~ .fui-tabnav-item:after {
    left: 0;
}
.fui-tabnav-main .fui-tabnav-item > .fui-tabnav-link:hover,
.fui-tabnav-main .fui-tabnav-item.active > .fui-tabnav-link {
    color: #f86e40;
}
.fui-tabnav-main .fui-tabnav-item + .fui-tabnav-item {
    /* margin-left: 16px; */
}

/* 二级菜单部分 */
.fui-tabnav-bd {
    position: relative;

    overflow: hidden;

    height: 36px;

    line-height: 36px;

    background-color: #e8ebed;
}
.fui-tabnav-bd > .fui-navlist-wrap {
    left: 30px;
}
.fui-tabnav-sub {
    display: none;

    width: 2000em;
    /* margin-left: 30px; */
}
.fui-tabnav-sub.active {
    display: block;
}
.fui-tabnav-sub .fui-tabnav-link {
    padding: 0 12px;

    font-size: 12px;

    color: #3d4b61;
}
.fui-tabnav-sub .fui-tabnav-item {
    position: relative;
}
.fui-tabnav-sub .fui-tabnav-item + .fui-tabnav-item:after {
    position: absolute;
    top: 50%;
    left: -0.5px;

    display: block;

    width: 1px;
    height: 14px;
    margin-top: -7px;

    content: ' ';

    background-color: #cacaca;
}
.fui-tabnav-sub .fui-tabnav-item.active > .fui-tabnav-link {
    color: #f86e40;
}
.fui-tabnav-sub .fui-tabnav-link:hover {
    /* background-color: #f5f5f5; */
}

/* 图标占位 */
.fui-tabnav-icon {
    display: inline-block;

    width: 16px;
    height: 16px;
    margin-top: -2px;
    margin-right: 8px;

    vertical-align: middle;
}

/* 内容区域 */
.fui-tabnav-content {
    position: absolute;
    top: 37px;
    bottom: 0;

    width: 100%;
}
.fui-tabnav-content.shrinked {
    top: 73px;
}
