@import '../../util.scss';
// 下拉列 hover 颜色和背景
$panelItemColor: #ec4a4a;
$panelItemBg: #fdeded;

.header-container {
    background: #d84347;
}


.top-portal-container {
    .top-portal-btn {
        background-image: url("./images/header/port.png");
        &:hover,
        &.active {
            background-image: url("./images/header/port-h.png");
        }
    }
    .top-portal {
        &-item {

            &:hover {
                background: #fdeded;
            }
        }
    }
    &.active {
        .top-portal-btn {
            background-image: url("./images/header/port-h.png");
        }
    }
}

.quick-menu-header {
    background: url("./images/header/quick-menu.png") center no-repeat;
}
.quick-menu-header:hover,
.quick-menu.active .quick-menu-header {
    background-image: url("./images/header/quick-menu-h.png") ;
}
.quick-menu-item:hover,
.top-portal-item:hover {
    background: $panelItemBg;
}

.user-action-item:hover {
    // color: $panelItemColor;
    background-color: $panelItemBg;
}

.top-menu-wrap {
    @at-root {
        &.hold-color {
            color: #fff;
            background: #c33d3e;
        }
        &.active {
            color: #fff;
            background: #c33d3e;
            .top-menu-trigger {
                background: #fff;
                &:after {
                    background: url(./images/header/menu-close.png) center no-repeat;
                }
            }
            .top-menu-item {
                &:hover,
                &.active {
                    color: #fff;
                    background: #ec4a4a;
                    @include box-shadow(0 0 1px rgba(0, 0, 0, 0.3));
                }
            }
        }
    }
}

// 头部按钮
.header-actions-area {
    @at-root {
        .header-search {
            .classify-search-input{
                background: #cf3c40;
            }
            .classify-search-history-item {
                > .classify-search-history-remove {
                    color: $panelItemColor;
                }
                &:hover,
                &.active {
                    // color: $panelItemColor;
                    background: $panelItemBg;
                }
            }
            .classify-search-classify-item {
                &:hover,
                &.active {
                    // color: desaturate($panelItemColor, 10%);
                    background: $panelItemBg;
                }
                .classify-search-classify-kw {
                    color: $panelItemColor;
                }
            }
        }
        .header-action-btn-tip {
            // color: $panelItemColor;
        }
        .new-remind-wrap {
            background: #ec4a4a;
            &:before {
                border-bottom-color: #ec4a4a;
            }
        }
    }
}

// 左侧菜单
.left-nav {
    @at-root {
        .main.left-narrow .left-menu-item.level-1.opened>.left-menu-link {
            background: #f5f5f5;
        }
        .left-menu-header {
            // background: #ec4a4a;
        }
        .left-menu-item {
            &.opened > .left-menu-link {
                color: #ec4a4a;
                > .left-menu-trigger {
                    color: #ec4a4a;
                }
            }
            &.level-1 {
                > .left-menu-link {
                    &:hover {
                        > .left-menu-trigger {
                            color: #ec4a4a;
                        }
                    }
                }
            }
        }

        .left-menu-link {
            &:hover,
            &.active {
                color: #ec4a4a;
            }
        }
        .left-menu-trigger {
            color: #333;
        }
        .main.left-narrow {
            .left-menu-sub-inner {
                background: #f5f5f5;
            }
            .left-menu-item.level-2 {
                .left-menu-link {
                    &:hover {
                        background: rgba(255, 255, 255, 0.1);
                    }
                }
            }
        }
        .ie8 {
            /* 不支持旋转 需要换图片 */
            .opened > .left-menu-link > .left-menu-trigger {
                background-image: url(./images/leftmenu/menu-down.png);
            }
        }
    }
    &.dark {
        background: #131e33;
        color: #9ca9c1;
        .left-menu-header,
        .left-menu-sub-header {
            border-bottom-color: #1b2944;
        }
        @at-root .main.left-narrow {
            .left-nav.dark {
                background: #1d222b;
                .left-nav-trigger {
                    border-bottom-color: #1b2944;
                }
                .left-menu-sub-inner {
                    background: #20262f;
                }
            }
        }
        .left-menu-link,
        .left-menu-trigger {
            color: #9ca9c1;
        }
        .left-menu-item {
            &.opened > .left-menu-link {
                color: #ec4a4a;
                > .left-menu-trigger {
                    color: #ec4a4a;
                }
            }
            &.level-1 {
                > .left-menu-link {
                    &:hover {
                        > .left-menu-trigger {
                            color: #ec4a4a;
                        }
                    }
                }
            }
        }

        .left-menu-link {
            &:hover {
                color: #ec4a4a;
            }
        }
    }
}

/* tabs nav 样式 */

.main-content-tab-wrap {

    .tabsnav-quicknav-trigger:hover {
        background: url('./images/tabsnav/trigger-btn.png') center no-repeat;
    }
    @at-root {
        .tabsnav-tabs-item {
            &.fixed {
                color: #555;
                background: #fad2d2;
            }
            &:hover,
            &.active {
                background-color: #ec4a4a;
                color: #fff;
            }
        }
        .tabsnav-contextmenu-item:hover,
        .tabsnav-quicknav-item:hover {
            color: inherit;
            background-color: $panelItemBg;
        }
    }
}

/* 右侧消息 */

.msg-panel {
    border-top-color: #c33d3e;
    /* remind */
    @at-root {
        .msg-panel-hide {
            background: url('images/right-msg/icon-toright.png');
        }
        .message-content-wrap {
            &.empty {
                background-image: url(./images/right-msg/no-msg.png);
            }
        }
        .msg-category-head,
        .msg-result-head,
        .msg-history-head {
            &:after {
                background: #c33d3e;
            }
        }
        .msg-category-num {
            color: $panelItemColor;
        }
        .msg-category-remove {
            &:hover {
                background: url('images/right-msg/icon-msgdel-hover.png');
            }
        }
        .msg-list-item {
            &:hover,
            &.newmsg:hover {
                color: $panelItemColor;
            }
        }
        .msg-item-ignore {
            &:hover {
                background: url('images/right-msg/icon-eye-hover.png');
            }
        }
    }
    /* emsg */
    @at-root {
        .emsg-recent-list.empty {
            background: url('images/right-msg/no-exun.png') no-repeat 50% 130px;
        }

        .emsg-ignore-icon {
            background: #ec4a4a;
            &:hover {
                background: #c33d3e;
            }
        }
        .emsg-recent-item:hover {
            background: $panelItemBg;
        }
        .msg-panel-head.tab > .panel-hd-tab.active,
        .msg-panel-head.tab > .panel-hd-tab:hover {
            color: $panelItemColor;
        }
    }
}

/* exun skin*/
// 色值复写
// 左侧背景
$emsg_left_bg: #ec4a4a;
// 发送按钮颜色
$emsg_send_btn_bg: #ec4a4a;
// 自己消息内容的背景色
$my_words_bg: #fdeded;
@import '../../../../../js/widgets/emsg/emsg-skin.scss';
