@charset "UTF-8";
/**!
* 数字驾驶舱
* date:2021-02-18
* author: qxy
*/
body .fui-content > div {
  height: 100%;
  background: url(../../images/bg.jpg) 0 0/100% 100% no-repeat;
  overflow: hidden;
}

.header {
  height: .92rem;
  font-size: .16rem;
  color: #fff;
  background: url(../../images/header.png) 0 0/100% 100% no-repeat;
}

.header .operate-ico {
  display: block;
  width: .47rem;
  height: .37rem;
  margin-top: .13rem;
  background-size: 100% 100%;
}

::-webkit-input-placeholder {
  color: #51C4CA;
}

:-moz-placeholder {
  color: #51C4CA;
}

::-moz-placeholder {
  color: #51C4CA;
}

:-ms-input-placeholder {
  color: #51C4CA;
}

.placeholder {
  color: #51C4CA;
}

/* logo */
.logo-con {
  width: 5.5rem;
  padding-left: .5rem;
  line-height: .78rem;
  font-size: .32rem;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 0 6px #20dbee;
  box-sizing: border-box;
}

/* 导航 */
.nav {
  margin: 0 4.76rem 0 5.5rem;
}

.nav-level .level-parent {
  display: block;
  width: 1.03rem;
  height: .42rem;
  margin: .1rem .22rem 0 0;
  padding-top: .17rem;
  text-align: center;
  font-size: .16rem;
  font-weight: bold;
  color: #30F7F5;
  background: url(../../images/nav-level.png) 0 0/100% 100% no-repeat;
  box-sizing: border-box;
}

.swiper-nav {
  position: relative;
  height: .66rem;
  padding-left: .32rem;
  box-sizing: border-box;
}

.swiper-nav.swiper-level-nav {
  width: 7.4rem;
}

.swiper-nav .swiper-btn {
  z-index: 2;
  position: absolute;
  top: .22rem;
  width: .1rem;
  height: .2rem;
  background-size: 100% 100%;
  cursor: pointer;
}

.swiper-nav .swiper-btn.swiper-prev {
  left: 0;
  background-image: url(../../images/arrow-prev.png);
}

.swiper-nav .swiper-btn.swiper-next {
  right: 0;
  background-image: url(../../images/arrow-next.png);
}

.nav-item {
  position: relative;
  display: inline-block;
  width: 1.05rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-top: .19rem;
  vertical-align: top;
  font-size: .24rem;
  font-weight: bold;
  color: #4A91A6;
}

.nav-item::after {
  display: none;
  position: absolute;
  bottom: -.17rem;
  left: 50%;
  margin-left: -.58rem;
  content: "";
  width: 1.16rem;
  height: .18rem;
  background: url(../../images/nav-active.png) 0 0/100% 100% no-repeat;
}

.nav-item.active {
  color: #fff;
  text-shadow: 0 0 6px #20dbee;
}

.nav-item.active::after {
  display: block;
}

/* 搜索 */
.search-con {
  position: relative;
}

.search-con .search-btn {
  background-image: url(../../images/search-ico.png);
}

.search-wrap {
  display: none;
  z-index: 2;
  position: absolute;
  top: .64rem;
  left: -1.4rem;
  width: 3.26rem;
}

.search-wrap::before {
  position: absolute;
  top: -.07rem;
  left: 50%;
  margin-left: -.1rem;
  content: "";
  width: .2rem;
  height: .13rem;
  background: url(../../images/search-triangle.png) 0 0/100% 100% no-repeat;
}

.search-wrap input {
  width: 100%;
  height: .44rem;
  padding: 0 .18rem;
  font-size: .16rem;
  color: #fff;
  border: 1px solid #30F7F5;
  background: #082A3B;
  outline: 0;
  box-sizing: border-box;
  box-shadow: 0 0 7px inset #80f4fe, 0px 2px 10px 0px rgba(6, 29, 55, 0.72);
}

.search-result {
  display: none;
  padding: .04rem;
  background: #082A3B;
  box-shadow: 0 0 7px inset #80f4fe, 0px 2px 10px 0px rgba(6, 29, 55, 0.72);
}

.search-result li {
  height: .42rem;
  padding-left: .5rem;
  line-height: .42rem;
  background-position: .2rem center;
  background-repeat: no-repeat;
  transition: all ease 200ms;
  cursor: pointer;
}

.search-result li[data-type="0"] {
  background-image: url(../../images/search-subject.png);
  background-size: .19rem .19rem;
}

.search-result li[data-type="1"] {
  background-image: url(../../images/search-target.png);
  background-size: .2rem .2rem;
}

.search-result li:hover {
  background-color: #124057;
}

/* 消息 */
.notice-con {
  position: relative;
  margin-left: 0.07rem;
}

.notice-con .notice-btn {
  background-image: url(../../images/notice-ico.png);
}

.notice-con .notice-num {
  position: absolute;
  top: .08rem;
  left: .28rem;
  height: .2rem;
  padding: 0 .06rem;
  line-height: .2rem;
  background: #F25252;
  border-radius: 10px;
}

/* 登录信息 */
.user-con {
  height: .41rem;
  margin: .11rem .18rem 0 .19rem;
  padding-left: .13rem;
  border-left: 1px solid #077676;
}

.user-con > div {
  margin-right: .58rem;
  text-align: right;
}

.user-con .welcome {
  margin: -.03rem 0 -.03rem;
}

.user-con .welcome .dep {
  display: inline-block;
  vertical-align: top;
  max-width: 1.42rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.user-con .datetime {
  color: #51C4CA;
}

.user-con .quit-btn {
  margin: .01rem 0 0 .08rem;
  background-image: url(../../images/quit-ico.png);
}

/* 当前位置 */
.loc {
  position: relative;
  text-align: right;
}

.loc .loc-now {
  display: inline-block;
  width: 2.45rem;
  height: .24rem;
  margin: .09rem 0 0 0;
  padding-left: .25rem;
  text-align: left;
  line-height: .24rem;
  color: #51C4CA;
  background: url(../../images/loc-bg.png) 0 0/100% 100% no-repeat;
  box-sizing: border-box;
  cursor: pointer;
}

.loc .loc-now span {
  display: block;
  padding-left: .18rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  background: url(../../images/loc-ico.png) 0 center/0.14rem no-repeat;
}

.loc .loc-whole {
  display: none;
  position: absolute;
  top: .36rem;
  right: .2rem;
  width: 4.11rem;
  height: 4.58rem;
  text-align: left;
  background: #082A3B;
  box-shadow: 0 0 7px inset #80f4fe, 0px 2px 10px 0px rgba(6, 29, 55, 0.72);
}

.loc .loc-clarify {
  height: .52rem;
  padding-left: .32rem;
  line-height: .52rem;
  border-bottom: 1px solid #09687B;
}

.loc .loc-clarify > li {
  position: relative;
  float: left;
  width: 33.33%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.loc .loc-clarify > li::after {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: .31rem;
  height: .03rem;
  background: #4B9AF6;
}

.loc .loc-clarify > li.chosen a {
  color: #EAFFFF;
}

.loc .loc-clarify > li.active::after {
  display: block;
}

.loc .loc-clarify > li.active a {
  color: #EAFFFF;
}

.loc .loc-clarify a {
  color: #909A9A;
}

.loc .area-list {
  height: 4.02rem;
  padding: .12rem .08rem 0 .16rem;
  box-sizing: border-box;
  overflow: auto;
}

.loc .area-list li {
  height: .48rem;
  padding-left: .17rem;
  line-height: .48rem;
  transition: all ease 200ms;
  cursor: pointer;
}

.loc .area-list li:hover {
  background: #124057;
}

/* iframe */
.iframe-con {
  height: calc(100% - .92rem);
}

.iframe-con iframe {
  width: 100%;
  height: 100%;
}
