/**!
* 大屏驾驶舱管理-新增主题
* date:2021-03-12
* author: xulei;
*/

.classify {
    &-item {
        position: relative;
        float: left;
        padding: 0 10px;
        height: 28px;
        line-height: 28px;
        background-color: #ebebeb;
        border-radius: 4px;
        margin: 8px 8px 0 0;
        // cursor: pointer;
        text-align: center;
        color: #5c5c5c;
        font-size: 12px;
        width: 98px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        box-sizing: border-box;

        &:hover {
            background-color: #d9f6fa;
        }

        .action-icon {
            position: absolute;
            right: 6px;
            top: 52%;
            transform: translateY(-50%);
            font-size: .12rem;
        }
    }
}

.special-textbox {
    width: calc(50% - 10px);
}