.scroll-container {
	max-width: 1080px;
	margin-left: auto;
	margin-right: auto; 
}
.cate-header {
    margin-top: 26px;
    margin-bottom: 20px;
    color: #2586d9;
    font-size: 16px;
    line-height: 30px;
    padding-left: 3px;
    height: 36px;
    position: relative;
}

.cate-header:before {
    content: "";
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 0;
    border-bottom: 1px solid #ebf2f8;
}
/* 代理 */
.flow-agency {
    .add-btn {
        display: block;
        width: 130px;
        height: 38px;
        background: url("../images/flow-agency-add.png") center no-repeat;
        cursor: pointer;
    }
    @at-root {
        .flow-agency-list {
            margin-top: 10px;
        }
        .flow-agency-item {
            background: #f4f4f4;
            font-size: 14px;
            color: #666;
            line-height: 36px;
            padding: 0 10px;
            height: 36px;
            position: relative;
            margin-bottom: 10px;
            .icon {
                height: 28px;
                width: 28px;
                border-radius: 50%;
                margin-top: 4px;
                vertical-align: top;
            }
            .name {
                margin: 0 20px;
                color: #333;
                font-weight: bold;
                width: 80px;
                display: inline-block;
            }
            .info-box {
                position: absolute;
                left: 160px;
                right: 100px;
                top: 0;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            .info {
                transition: all .1s ease-out;
                &:hover {
                    color: #333;
                }
            }
            .actions {
                position: absolute;
                right: 0;
                filter: alpha(opacity=0);
                opacity: 0;
                transition: all .2s ease-out;
                cursor: pointer;
            }
            &:hover .actions {
                filter: alpha(opacity=100);
                opacity: 1;
            }
            .edit {
                color: #999;
                line-height: 36px;
                height: 36px;
                float: left;
                transition: all .2s ease-out;
                &:hover {
                    color: #2590eb;
                }
            }
            .remove {
                display: block;
                float: left;
                width: 36px;
                height: 36px;
                background: url("../images/search-close.png") center no-repeat;
                transition: opacity .2s ease-out;
                &:hover {
                    background-image: url("../images/search-close-h.png");
                }
            }
        }
    }
}