.cate-header {
	margin-top: 26px;
	margin-bottom: 20px;
	color: #2586d9;
	font-size: 16px;
	font-size: 0.16rem;
	line-height: 30px;
	line-height: 0.3rem;
	padding-left: 3px;
	height: 36px;
	height: 0.36rem;
	position: relative
}

.cate-header:before {
	content: "";
	position: absolute;
	width: 100%;
	bottom: 0;
	height: 0;
	border-bottom: 1px solid #ebf2f8
}

.scroll-container {
	max-width: 1080px;
	margin-left: auto;
	margin-right: auto
}

.remind-setting-sumary,.remind-setting-detail {
	line-height: 30px;
	line-height: .3rem
}

.row.remind-item:hover {
	background: rgba(0,0,0,0.05)
}

.remind-setting-sumary {
	max-width: 600px
}

.sumary-title {
	color: #777
}

.remind-item-name {
	font-weight: bold
}

.sumary-left {
	width: 120px;
	float: left;
	text-align: left;
	padding-left: 14px;
	cursor: default
}

.sumary-right {
	float: right;
	width: 140px;
	text-align: right;
	padding-right: 14px
}

.sumary-advance {
	display: inline-block;
	height: 100%;
	cursor: pointer
}

.voices-setting {
	max-width: 600px;
	margin-bottom: 20px
}

.remind-setting-detail {
	margin-left: auto;
	margin-right: auto;
	min-height: 80px;
	padding-bottom: 20px;
}

.row-header {
	text-align: center;
	line-height: 40px;
	height: 40px;
	line-height: .4rem;
	height: .4rem;
	border-bottom: 1px solid #e8e9eb
}

.detail-span-name {
	float: left;
	width: 120px;
	text-align: left;
	background: #f8f9fb;
	padding-left: 20px
}

.detail-span-switch {
	float: left;
	width: 120px;
	text-align: center;
	background: #f8f9fb
}

.detail-span-sub {
	float: left;
    width: 100px;
    text-align: center;
    background: #f2f3f5;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.detail-span-sub .mini-checkbox {
	cursor: pointer
}

.detail-span-sub .mini-checkbox.mini-disabled {
	cursor: not-allowed
}

.detail-span-sub .text-not-support {
	cursor: not-allowed
}

.detail-container {
	padding: 15px 15px 0
}

.detail-footer {
	text-align: center;
	border-top: 1px solid #f0f2f5;
	padding: 4px 20px
}

.mini-checkbox-check,.mini-checkbox-icon {
	margin-right: 0
}

.mini-checkbox.mini-disabled {
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: gray
}

.msg-set-save {
	margin-right: 10px
}

.win-msg .mini-panel-header {
	border-bottom: 1px solid #f0f2f5
}

.detail-container .mini-checkbox.switch .mini-checkbox-icon {
	background: #c8cfd8
}

.detail-container .switch.mini-checkbox-checked .mini-checkbox-icon {
	background: #1890ff
}
