@charset "UTF-8";
/**
* 卡片模板管理
* date: 2020-03-16
* author: guohanyu
**/
/* 文字超出省略 */
.fui-condition .condition {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 8px 15px;
  min-width: 900px;
}

.fui-condition .operate-btn {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-right: 8px;
  padding: 0 16px;
  min-width: 90px;
  height: 30px;
  line-height: 30px;
  color: #333;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.fui-condition .operate-btn:hover {
  color: #fff;
  background-color: #20bed9;
  border: 1px solid #20bed9;
}

.fui-condition .operate-btn-extend {
  display: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.search-box {
  position: relative;
  margin: 0 5px;
  width: 269px;
  height: 30px;
  z-index: 99;
}

.search-box .search-input {
  border-radius: 4px;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 30px;
  padding: 0 15px 0 35px;
  border: .01rem solid #cfdbe8;
  outline: none;
  background: #fff;
}

.search-box .ico-search {
  position: absolute;
  top: 0;
  left: 5px;
  width: 25px;
  height: 100%;
  background: url("../images/ico-search.png") center no-repeat;
}

.fui-content {
  background-color: #edeff7;
}

.fui-content .main {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px;
  box-sizing: border-box;
  height: calc(100% - 70px);
  overflow: auto;
}

.fui-content .card-items {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: -16px;
  padding-bottom: 20px;
  min-width: 900px;
}

.fui-content .card-items .card-item {
  position: relative;
  margin: 0 0 16px 16px;
  height: 2.38rem;
  width: calc((100% - 49px)/4);
  border-radius: 3px;
  overflow: hidden;
}

.fui-content .card-items .card-item:nth-child(4n+1) {
  margin-left: 0;
}

.fui-content .card-items .card-item-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.fui-content .card-items .card-item-btn {
  position: absolute;
  top: 8px;
  left: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 6px;
  height: 20px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background-color: #20bed9;
}

.fui-content .card-items .card-item-btn.disable {
  background-color: #ff3d3d;
}

.fui-content .card-items .card-item-name {
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  left: 0;
  bottom: 0;
  padding: 0 10px;
  width: 100%;
  height: 32px;
  line-height: 32px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #fff;
  background-color: rgba(30, 32, 45, 0.961);
  border-radius: 0 0 3px 3px;
}

.fui-content .card-items .card-item-extend {
  position: absolute;
  z-index: 10;
  bottom: -32px;
  left: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 32px;
  border: 1px solid #20bed9;
  border-top: none;
  opacity: 0;
  background: #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.fui-content .card-items .card-item-extend .extend-btn {
  position: relative;
  width: calc((100% - 1px)/3);
  height: 32px;
  line-height: 32px;
  text-align: center;
  color: #20bed9;
}

.fui-content .card-items .card-item-extend .extend-btn.delete {
  color: #ff3d3d;
}

.fui-content .card-items .card-item-extend .extend-btn + .extend-btn::before {
  position: absolute;
  top: 10px;
  bottom: 10px;
  width: 1px;
  left: 0;
  content: '';
  background: #e8e8ea;
}

.fui-content .card-items .card-item .order-area {
  display: none;
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  background: url(../images/item-tip.png) no-repeat center;
  background-size: 100% 100%;
  cursor: pointer;
}

.fui-content .card-items .card-item .order-area .order-ipt {
  margin-left: 15px;
  width: 25px;
  height: 20px;
  text-align: center;
  color: #fff;
  background: none;
  outline: none;
  border: none;
}

.fui-content .card-items .card-item:hover {
  overflow: inherit;
}

.fui-content .card-items .card-item:hover .card-item-extend {
  opacity: 1;
}

.fui-content .pager-container {
  position: absolute;
  z-index: 15;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  bottom: 0;
  padding: 0px 15px;
  min-width: 900px;
  width: 100%;
  height: 40px;
  background: #edeff7;
}

body.showorder #startorder {
  display: none;
}

body.showorder .operate-btn-extend {
  display: inline-block;
}

body.showorder .card-items .card-item .order-area {
  display: block;
}
