[class*="workflow-icon-"] {
	background-color: #E8F2FE;
	background-repeat: no-repeat;
	background-position: center center;
	width: 28px;
}
.workflow-icon-relative {
	background-image: url("../image/Context.gif");
}
.workflow-icon-material {
	background-image: url("../image/Material.gif");
}
.workflow-icon-method {
	background-image: url("../image/Method.gif");
}
.workflow-icon-page {
	background-image: url("../image/PageUrl.gif");
}