.container {
    height: 100%;
    background: #fff;
}

.tabview-header {
    height: 44px;
    position: relative;
    padding: 0 15px;
    &:before {
        display: block;
        content:"";
        border-bottom: 1px solid #ddd;
        position: absolute;
        bottom: 0;
        left: 15px;
        right: 15px;
    }
    &:after {
        clear: both;
        content: "";
        display: block;
    }
    &-item {
        font-size: 16px;
        font-size: .16rem;
        color:#333;
        position: relative;
        z-index: 10;
        margin-top: -1px;
        float: left;
        min-width: 40px;
        line-height: 43px;
        padding: 0 10px;
        cursor: pointer;
        border-bottom: 2px solid transparent;
        // transition: all .1s ease-out;
        &:hover,
        &.active {
            font-size:18px;
            font-size:.18rem;
            border-bottom-color: #58c4f0;
        }
    }
}

.tabview-body {
    position: absolute;
    top: 44px;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    padding: 15px 0;
    &-item {
        box-sizing: border-box;
        height: 100%;
        width: 100%;
        position: relative;
    }
}

.text-item {
    position: relative;
    padding: 0 15px;
    // margin-left: 10px;
    line-height: 30px;
    // background: url("./images/dot33.gif") 0 center no-repeat;
    &:hover {
        background-color: #ebf5ff;
    }
    @at-root &-link {
        display: block;
        margin-right: 60px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        color: inherit;
    }
    @at-root &-date {
        position: absolute;
        top: 0;
        right: 15px;
        display: block;
        width: 50px;
        text-align: right;
        padding-right: 10px;
        color: #999;
    } // 图文的
    &.hasimg {
        max-height: 80px;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 26px;
        >.item-img {
            float: left;
            height: 80px;
            max-width: 120px;
            margin-right: 10px;;
        }
        >.text-item-link {
            white-space: normal;
            margin-right: 0;
        }
        >.text-item-date {
            top: auto;
            bottom: 2px;
            background: #fff;
            height: 26px;
            width: 40px;
            &:before {
                /* 形成一个从透明到不可见的过渡状态，标识还有更多 */
                position: absolute;
                content: "";
                display: block;
                width: 30px;
                left: -30px;
                height: 100%;
                background-image: linear-gradient(to right ,rgba(255,255,255,0),#fff);
            }
        }
        &:hover,
        &.active {
            .text-item-date {
                background: #ebf5ff;
                &:before {
                    background-image: linear-gradient(to right ,rgba(255,255,255,0),#ebf5ff);
                }
            }
        }
    }
}

.img-list-wrap {
    box-sizing: border-box;
    position: absolute;
    left: 15px;;
    right: 15px;
    height: 100%;
    overflow: hidden;
    .arrow-right {
        background: url(images/arrows.png) no-repeat left bottom;
        position: absolute;
        right: 15px;
        top: 50%;
        margin-top: -15px;
        width: 17px;
        height: 30px;
        z-index: 10;
        opacity: 0;
        transition: opacity .2s ease-out;
        cursor: pointer;
    }
    .arrow-left {
        background: url(images/arrows.png) no-repeat left top;
        position: absolute;
        left: 10px;
        top: 50%;
        margin-top: -15px;
        width: 17px;
        height: 30px;
        z-index: 10;
        opacity: 0;
        transition: opacity .2s ease-out;
        cursor: pointer;
    }
    &:hover {
        .arrow-left,
        .arrow-right {
            opacity: 1;
        }
    }
}

.swiper-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.swiper-slide {
    float: left;
    position: relative;
    .item-img {
        width: 100%;
        height: 100%;
    }
    .item-info-mask {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 32px;
        line-height: 32px;
        color: #eee;
        z-index: 10;
        background: rgba(0, 0, 0, .25);
        :hover {
            color: #fff;
            .img-item-link {
                color: #fff;
            }
        }
    }
    .img-item-link {
        padding-left: 15px;
        display: block;
        color: #eee;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    .img-item-date {
        display: none;
        position: absolute;
        right: 5px;
        bottom: 0;
        height: 30px;
    }
}

.pagination-wrap {
    position: absolute;
    bottom: 0;
    height: 32px;
    right: 0;
}

.pagination {
    display: block;
    text-align: center;
    .swiper-pagination-switch {
        display: inline-block;
        width: 8px;
        height: 8px;
        border-radius: 8px;
        background: #222;
        margin-right: 5px;
        margin-top: 10px;
        opacity: 0.8;
        border: 1px solid #fff;
        cursor: pointer;
    }
    .swiper-active-switch {
        background: #fff;
    }
}