// 固定不变的规则

// miniui 语义化按钮颜色 rgb 都 + 15
@primary-hover-color: rgb(red(@primary-color) + 15, green(@primary-color) + 15, blue(@primary-color) + 15);
@lesser-hover-color1: rgb(red(@lesser-color1) + 15, green(@lesser-color1) + 15, blue(@lesser-color1) + 15);
@lesser-hover-color2: rgb(red(@lesser-color2) + 15, green(@lesser-color2) + 15, blue(@lesser-color2) + 15);
