/*!
*“聚通用”智慧政府大数据管理平台新点数据平台 (比对源选择) 层叠样式表
*author:guli
*date:2020-11-12
*version:9.4.1
*/

body {
    background: url('../images/bg/bodybg.jpg') center center no-repeat;
    background-size: 100% 100%;
}

.choose-outer {
    height: 100%;
    padding: 14px;
    padding-top: 10px;
}

.choose {
    /* min-height: 100%; */
    background: url('../images/bg/bg.png') center center no-repeat;
    background-size: 100% 100%;
    color: #fff;
    font-size: 15px;
    padding: 0 12px;
    border-radius: 4px;
    font-family: "SourceHanSansCN-Light";
}

.steps {
    display: flex;
    padding: 24px 0;
    justify-content: center;
    align-items: center;
}

.step {
    display: flex;
    line-height: 42px;
    align-items: center;
    font-size: 18px;
    color: #b1b3b8;
}

.step-num {
    width: 25px;
    text-align: center;
    line-height: 25px;
    background: url('../images/bg/step-numbg.png') center center no-repeat;
    color: #1c2b46;
    font-size: 16px;
    margin-right: 10px;
}

.step-line {
    width: 75px;
    height: 2px;
    background-color: #4f5968;
    margin: 0 6px;
}

.step.active {
    padding: 0 20px;
    background: url('../images/bg/stepbg.png') center center no-repeat;
    background-size: 100% 100%;
    font-size: 20px;
    color: #fff;
    font-family: "SourceHanSansCN-Regular";
}

.step.active .step-num {
    background: url('../images/bg/step-num-activebg.png') center center no-repeat;
}

.kinds,
.options {
    padding: 0 12px;
    border-radius: 4px;
    background: url('../images/bg/secbg.png') center center no-repeat;
    background-size: 100% 100%;
}

.kinds-tt {
    border-bottom: 1px dashed #3e5578;
    padding: 16px 0;
    position: relative;
}

.kinds-tt-inner {
    display: flex;
    flex-wrap: wrap;
    padding-right: 80px;
    line-height: 30px;
    height: 30px;
    overflow: hidden;
}

.kinds-tt-inner.height {
    height: 60px;
}

.kind-tt {
    width: 8.3333%;
    text-align: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.kind-tt-inner {
    width: 130px;
    border-radius: 3px;
    padding: 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.kind-tt:hover .kind-tt-inner,
.kind-tt.active .kind-tt-inner {
    background: url('../images/bg/kind-ttbg.png') center 0px no-repeat;
}

.kinds-tt-arrow {
    position: absolute;
    width: 44px;
    height: 44px;
    background: url('../images/icon/down-arrow.png') center center no-repeat;
    top: 10px;
    right: 0;
    cursor: pointer;
}

.kinds-kind-arrow {
    position: absolute;
    width: 44px;
    line-height: 44px;
    top: 10px;
    right: 250px;
    cursor: pointer;
    margin:0 auto;
    text-align:center;
}

.kinds-tt-arrow.usable {
    background: url('../images/icon/down-usable.png') center center no-repeat;
}

.kinds-tt-arrow.up {
    background: url('../images/icon/up-arrow.png') center center no-repeat;
}

.kinds-ct {
    padding: 25px 16px;
    position: relative;
}

.kinds-ct.padding {
    padding: 10px 16px;
}

.kinds-arrow {
    position: absolute;
    width: 44px;
    height: 44px;
    top: 39px;
    cursor: pointer;
}

.kinds-left-arrow {
    background: url('../images/icon/left-arrow.png') center center no-repeat;
    left: -14px;
}

.kinds-left-arrow.usable {
    background: url('../images/icon/left-usable.png') center center no-repeat;
}

.kinds-right-arrow {
    background: url('../images/icon/right-arrow.png') center center no-repeat;
    right: -14px;
}

.kinds-right-arrow.usable {
    background: url('../images/icon/right-usable.png') center center no-repeat;
}

.kinds-ct-inner {
    position: relative;
    height: 72px;
    overflow: hidden;
}

.kinds-move {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.kinds-move.move {
    transition: left ease 2s;
}

.kinds-move-items {
    width: 100%;
}

.kinds-move-item {
    width: 8.33333%;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.kinds-move-item:hover .kinds-move-img,
.kinds-move-item.active .kinds-move-img {
    background: url('../images/bg/move-item-activebg.png') top center no-repeat;
}

.kinds-move-img {
    width: 60px;
    height: 57px;
    background: url('../images/bg/move-itembg.png') top center no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.kinds-move-tt {
    line-height: 15px;
    color: #dfe2e3;
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.options {
    height: calc(100% - 417px);
    margin-top: 14px;
    padding: 0;
}

.options-tt {
    display: flex;
    height: 48px;
    align-items: center;
    padding: 0 12px;
    padding-top: 5px;
}

.options-tt-txt {
    font-size: 18px;
    line-height: 16px;
    padding-left: 8px;
    border-left: 4px solid #fff;
    font-family: "SourceHanSansCN-Medium";
    margin-right: 15px;
}

.options-inner {
    /* height: calc(100% - 48px); */
    padding: 10px 12px;
}

.options-tt-tip {
    color: #b1b3b8;
}

.option {
    margin-bottom: 14px;
    position: relative;
}

.option-tt {
    line-height: 50px;
    padding-left: 17px;
    font-family: "SourceHanSansCN-Medium";
    font-size: 18px;
    background-color: #324d7d;
    position: relative;
}

.option-tt-tip {
    font-size: 15px;
    font-family: "SourceHanSansCN-Light";
    color: #dfe2e3;
}

.option-detail {
    position: absolute;
    line-height: 52px;
    font-size: 15px;
    font-family: "SourceHanSansCN-Light";
    color: #dfe2e3;
    top: 0;
    right: 32px;
    cursor: pointer;
    display: none;
}

.option-delete {
    position: absolute;
    width: 21px;
    height: 21px;
    background: url('../images/icon/option-delete.png') center center no-repeat;
    top: -10px;
    right: -5px;
    cursor: pointer;
    display: none;
}

.option-ct {
    border: 1px dashed #61789b;
    height: 115px;
    padding: 13px 5px;
    border-top: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.option-ct.active {
    justify-content: left;
}

.option-ct.height {
    height: auto;
}

.option-ct-init {
    display: flex;
    align-items: center;
}

.option-init-tip {
    font-size: 16px;
    font-family: "SourceHanSansCN-Light";
    color: #dfe2e3;
    line-height: 26px;
    margin-left: 11px;
}

.option-add {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 58px;
    background-color: #2c416b;
    cursor: pointer;
}

.option-add-icon {
    width: 17px;
    height: 17px;
    background: url('../images/icon/add-icon.png') center center no-repeat;
    margin-right: 4px;
}

.option-ct-txt {
    width: 10%;
    height: 44.5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.option-ct-txt-inner {
    width: 110px;
    text-align: center;
    line-height: 30px;
    border-radius: 4px;
    background-color: #294169;
    cursor: pointer;
    color: #dfe2e3;
}

.item-arrow {
    position: absolute;
    width: 30px;
    height: 15px;
    background: url('../images/icon/item-down.png') center center no-repeat;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    cursor: pointer;
    display: none;
}

.ui-state-active {
    border: 1px solid #077afc;
}

.crash {
    height: 57px;
    display: flex;
    align-items: center;
}

.crash-way {
    margin-right: 36px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.crash-way.active .crash-way-icon {
    background: url('../images/icon/ways-icon.png') center center no-repeat;
}

.crash-way-icon {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid #536786;
    margin-right: 7px;
}

.choose-btns {
    width: calc(100% + 24px);
    height: 70px;
    border: 1px solid #264c84;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom: none;
    background-color: #172842;
    margin-left: -12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.choose-btn {
    width: 88px;
    line-height: 35px;
    border-radius: 4px;
    background: url('../images/bg/btn-disablebg.png') center center no-repeat;
    background-size: 100% 100%;
    color: #7c828c;
    text-align: center;
    cursor: pointer;
}

.choose-save {
    background: url('../images/bg/kind-ttbg.png')center center no-repeat;
    background-size: 100% 100%;
    color: #fff;
    margin-right: 11px;
}

.choose-next.usable {
    background: url('../images/bg/kind-ttbg.png')center center no-repeat;
    background-size: 100% 100%;
    color: #fff;
}

@media screen and (min-width: 1800px)and (max-width: 2000px) {
    .option-ct-txt {
        width: 7.14%;
    }
}

@media screen and (min-width: 1500px)and (max-width: 1799px) {
    .option-ct-txt {
        width: 8.33%;
    }
}

/* question1 */

.step.active {
    position: relative;
    padding-right: 40px;
}

.tip {
    position: absolute;
    right: 12px;
    width: 16px;
    height: 16px;
    background: url('../images/icon/tip.png') center center no-repeat;
}


/* question1 */


/* question3 */

.kinds-tt-inner {
    width: calc(100% - 200px);
}

.kinds-tt-arrow {
    right: 200px;
}

.my-textbox {
    position: absolute;
    right: 0;
    top: 16px;
    line-height: 32px;
    height: 32px;
    width: 200px;
}

.my-textbox .mini-textbox-border {
    border: 1px solid #4a5e7e;
    background-color: transparent;
    border-radius: 4px;
}

.my-textbox .mini-textbox-input,
.mini-textboxlist .mini-textboxlist-input {
    color: #dfe2e3;
    padding-right: 28px;
}

.my-search {
    position: absolute;
    color: #4a5e7e;
    right: 6px;
    top: 24px;
}


/* question3 */


/* question6 */

.crash {
    height: 80px;
    align-items: inherit;
    position: relative;
}

.crash-tt {
    line-height: 80px;
    margin-right: 14px;
}

.crash-way {
    height: 30px;
    margin-top: 50px;
}

.crash-icon {
    position: absolute;
    width: 68px;
    height: 45px;
    top: 5px;
}

.inner-link {
    background: url('../images/icon/inner-link.png') center center no-repeat;
    background-size: 100% 100%;
    left: 119px;
}

.right-link {
    left: 223px;
    background: url('../images/icon/right-link.png') center center no-repeat;
    background-size: 100% 100%;
}


.item-arrow.active {
    background: url('../images/icon/item-up.png') center center no-repeat;
}

/* question6 */