.mini-button {
    color: #fff;
    border-color: #02b9b5;
    background: #02b9b5
}

body a:hover.mini-button {
    border-color: #54cfcc;
    background: #54cfcc
}

body a:hover.mini-button.mini-button-plain {
    color: #fff
}

body .mini-button-pressed,
body a:hover.mini-button-pressed,
body .mini-button-checked,
body a:hover.mini-button-checked,
body a.mini-button-popup,
body a:hover.mini-button-popup {
    color: #fff;
    border-color: #54cfcc;
    background: #54cfcc
}

.mini-button.mini-btn-primary {
    color: #fff;
    border-color: #f3a857;
    background: #f3a857
}

body a:hover.mini-btn-primary {
    color: #fff;
    border-color: #fbb76d;
    background: #fbb76d
}

.mini-button.mini-btn-info {
    color: #fff;
    border-color: #29c2e7;
    background: #29c2e7
}

body a:hover.mini-btn-info {
    color: #fff;
    border-color: #51d0ef;
    background: #51d0ef
}

.mini-btn-primary.mini-button-disabled,
.mini-btn-info.mini-button-disabled,
.mini-btn-success.mini-button-disabled,
.mini-btn-warning.mini-button-disabled,
.mini-btn-danger.mini-button-disabled {
    color: #fff;
    border-color: #bfbfbf;
    background: #bfbfbf
}

body a.mini-button-disabled,
body a:hover.mini-button-disabled {
    color: #fff;
    border-color: #bfbfbf;
    background: #bfbfbf
}

.mini-radiobuttonlist-item-selected .mini-list-icon {
    background: url(images/radio/radio-checked.png) center center no-repeat
}

.mini-grid-row-selected .mini-checkcolumn .mini-grid-checkbox,
.mini-checkboxlist-item-selected .mini-list-icon,
.mini-tree-checkbox-checked,
.mini-checkbox-checked .mini-checkbox-icon {
    background: url(images/checkbox/checkbox-checked.png) center center no-repeat
}

.mini-tree-checkbox-indeterminate {
    background: url(images/checkbox/checkbox-indeterminate.png) center center no-repeat
}

.switch.mini-checkbox-checked .mini-checkbox-icon,
.mini-grid-checkbox-checked.switch {
    background: #02b9b5 !important;
}

.mini-panel-border {
    border-color: #ddd;
}

.mini-panel-header {
    color: #333;
    background: #fff;
    border-bottom: 1px solid #ddd;
}

.mini-tools>span:hover {
    background-color: transparent
}

.mini-panel-footer,
.mini-panel-toolbar {
    color: #fff;
    background: #f5f5f5
}

.mini-tabs-scrollCt {
    background: #f8f8f8
}

.mini-tab {
    color: #555;
    border-top: 1px solid #d6d6d6;
    background: #f8f8f8
}

.mini-tab-active {
    color: #00b7cd;
    border-top-color: #00b7cd;
    background: #fff
}

.mini-tab-hover {
    color: #00b7cd
}

.mini-tab-active .mini-tab-icon {
    color: #00b7cd
}

.mini-tab-hover .mini-tab-icon {
    color: #00b7cd
}

.mini-tabs-bodys {
    border-color: #d6d6d6
}

body .mini-tabs-plain .mini-tabs-scrollCt {
    border-left: 1px solid #d6d6d6
}

.mini-tab-close {
    background: url(./images/tabs/close.png) center no-repeat
}

.mini-tab-close-hover {
    background: url(./images/tabs/close_hover.png) center no-repeat
}

.mini-menu-border {
    border: 1px solid #e3e3e3
}

.mini-menu-inner {
    color: #333;
    background: #fff
}

.mini-menuitem-text {
    color: #333
}

.mini-separator {
    border-top: solid 1px #e4e4e4
}

.mini-menu .mini-menu-popup,
.mini-menu .mini-menuitem-hover {
    border: 1px solid #fffed5;
    background: #fffed5
}

.mini-menu .mini-menuitem-icon,
.mini-menu .mini-tab-icon {
    color: #333
}

.mini-menu .mini-menuitem-selected {
    border: 1px solid #dfedfa;
    background: #dfedfa
}

.mini-splitbutton.mini-button-popup .mini-button-text {
    background: #02b9b5
}

body a:hover.mini-splitbutton {
    border-color: #02b9b5;
    background: #02b9b5
}

body a.mini-splitbutton .mini-button-split:hover,
body a.mini-splitbutton .mini-button-text:hover {
    background-color: #54cfcc
}

.mini-calendar-days td {
    color: #3d4b62
}

.mini-calendar .mini-calendar-weekend {
    color: #3d4b62
}

.mini-calendar .mini-calendar-othermonth {
    color: #c9c9c9
}

.mini-calendar .mini-calendar-selected {
    color: #3d4b62;
    border: 1px solid #02b9b5;
    background-color: #fff
}

.mini-calendar .mini-calendar-today {
    color: #fff;
    border: 1px solid #02b9b5;
    background: #02b9b5
}

.mini-calendar-footer {
    border-top: 1px solid #fff;
    background: #fff
}

.mini-calendar-cancelButton,
.mini-calendar-clearButton,
.mini-calendar-okButton,
.mini-calendar-tadayButton {
    color: #555;
    background: #fff
}

.mini-calendar-cancelButton:hover,
.mini-calendar-clearButton:hover,
.mini-calendar-okButton:hover {
    background: #fff;
    color: #02b9b5;
    border-color: #02b9b5
}

.mini-calendar-tadayButton,
.mini-calendar-menu .mini-calendar-okButton {
    background: #fff
}

.mini-calendar-tadayButton:hover,
.mini-calendar-menu .mini-calendar-okButton:hover {
    background: #fff;
    color: #02b9b5;
    border-color: #02b9b5
}

.mini-calendar-menu-years {
    background: #f5f5f5
}

.mini-calendar-menu-year {
    border-color: #f6f6f6
}

.mini-calendar-menu-selected,
a:hover.mini-calendar-menu-selected,
a:hover.mini-calendar-menu-month {
    color: #03a9a6;
    border: 1px solid #9fe2e4;
    background: #e5f8fa
}

.mini-calendar-menu-years .mini-calendar-menu-selected,
.mini-calendar-menu-years a:hover.mini-calendar-menu-selected,
a:hover.mini-calendar-menu-year {
    color: #fff;
    border: 1px solid #02b9b5;
    background: #02b9b5
}

.mini-listbox-item-hover {
    background: #e0edff
}

.mini-listbox-item-selected {
    background: #e1f9fb
}

.mini-tooltip-inner {
    border-color: #02b9b5
}

.mini-tooltip-top .mini-tooltip-arrow {
    border-top-color: #02b9b5
}

.mini-tooltip-left .mini-tooltip-arrow {
    border-left-color: #02b9b5
}

.mini-tooltip-right .mini-tooltip-arrow {
    border-right-color: #02b9b5
}

.mini-tooltip-bottom .mini-tooltip-arrow {
    border-bottom-color: #02b9b5
}

.mini-tooltip-bottomleft .mini-tooltip-arrow {
    border-bottom-color: #02b9b5
}

.mini-tooltip-bottomright .mini-tooltip-arrow {
    border-bottom-color: #02b9b5
}

.mini-tooltip-topleft .mini-tooltip-arrow {
    border-top-color: #02b9b5
}

.mini-tooltip-topright .mini-tooltip-arrow {
    border-top-color: #02b9b5
}

.mini-grid-headerCell {
    
    border-color: #fff;
    background: #e7e7e7
}
.mini-grid-headerCell-inner {
    color: #333;
}

.mini-grid-topRightCell {
    background: #e7e7e7
}

.mini-grid-row-alt {
    background: #f5f5f5
}

html body .mini-grid-row-selected {
    background: #e1f9fb
}

html body .mini-grid-row-hover {
    background: #e0edff
}

body .mini-grid .mini-grid-cell-error {
    background: #fee2f0
}

.mini-tree-node-hover {
    background: #e0edff
}

.mini-tree-selectedNode {
    background: #e1f9fb
}

.mini-tree-leaf {
    background-image: url(images/tree/leaf.png)
}

.mini-tree-folder {
    background-image: url(images/tree/folder.png)
}

.mini-tree-expand .mini-tree-folder {
    background-image: url(images/tree/folder-open.png)
}

.mini-pager .mini-button-plain:hover {
    border-color: #ccc;
    background: #eee
}

.mini-pager-first {
    background: url(images/pager/first.png) no-repeat
}

.mini-pager-prev {
    background-image: url(images/pager/prev.png)
}

.mini-pager-next {
    background-image: url(images/pager/next.png)
}

.mini-pager-last {
    background-image: url(images/pager/last.png)
}

.mini-pager-reload {
    background-image: url(images/pager/refresh.png)
}

.mini-textboxlist-popup {
    background: #fff
}

.mini-textboxlist-border {
    border-color: #bdbec1
}

.mini-textboxlist-focus .mini-textboxlist-border {
    border-color: #6b7381
}

.mini-textboxlist .mini-textboxlist-item {
    border: 1px solid #edeff0;
    background: #edeff0
}

.mini-textboxlist .mini-textboxlist-item-selected {
    border-color: #d8f4f7;
    background: #d8f4f7;
    color: #333
}

.mini-window .mini-panel-border {
    border-color: #ddd;
}

.mini-window .mini-panel-header {
    color: #333;
    background: #fff;
    border-bottom: 1px solid #f0f2f5;
}

.mini-window .mini-tools>span:hover {
    background-color: transparent
}

.mini-tools>span.mini-tools-close:hover {
    background-color: #f96e40
}

.mini-messagebox {
    background: #fff
}

.mini-messagebox .mini-panel-header {
    color: #333;
    border-bottom: 1px solid #eee;
    background: #fff
}

.mini-colorpicker>.mini-textbox.mini-textbox-focus>.mini-textbox-border {
    border-color: #bdbec1
}

.mini-dataexport>.mini-panel .mini-panel-border {
    border-color: #e4e4e4
}

.mini-export-listbtn {
    border: 1px solid #cfd4de
}

.mini-export-listbtn:hover {
    background-color: #e5f8fa
}

.mini-export-listbtn:active {
    border-color: #e5f8fa;
    background-color: #e5f8fa
}

.mini-tabstreeselect-header-main,
.mini-tabstreeselect-tabs>li:hover,
.mini-tabstreeselect-tabs>li.active {
    color: #02b8b5
}

.mini-tabstreeselect-action.removeall:hover {
    background-image: url(images/tabstreeselect/removeall-hover.png)
}

.mini-tabstreeselect-action.recover:hover {
    background-image: url(images/tabstreeselect/recover-hover.png)
}

.mini-tabstreeselect-action.remove:hover {
    background-image: url(images/tabstreeselect/remove-hover.png)
}

.mini-tabstreeselect-item:hover {
    background: #e0edff
}

.mini-tabstreeselect-item.selected {
    background: #e1f9fb
}

.mini-treelistselect-header {
    color: #fff;
    background-color: #6a9ad1
}

.mini-treelistselect-item:hover {
    background: #fffed5
}

.mini-treelistselect-item.selected {
    background: #dfedfa
}

.mini-uploader-btns .webuploader-pick {
    background: #02b9b5;
    border-color: #02b9b5
}

.mini-uploader-btns .webuploader-pick-hover {
    background: #54cfcc;
    border-color: #54cfcc
}

.mini-uploader-btns .webuploader-pick-disable {
    background: #b3b3b3;
    cursor: not-allowed
}

body .mini-textbox-focus .mini-textbox-border,
.mini-buttonedit-focus .mini-buttonedit-border,
.mini-buttonedit-popup .mini-buttonedit-border {
    border-color: #02b9b5;
}

/* 不显示按钮图标 */
.mini-button .mini-button-icon {
    display: none
}

.mini-button-text {
    padding: 0 10px !important
}

.mini-button .mini-button-icon-text {
    padding-left: 0
}

.mini-button-iconOnly .mini-button-icon {
    display: block
}


.mini-window .mini-tools>span:hover {
    background-color: transparent;
}

.mini-tools-close {
    background: url(images/tools_ext/close.png) no-repeat 50% 50%
}

.mini-tools>span.mini-tools-close:hover {
    background-color: transparent;
    background: url(images/tools_ext/close-h.png) no-repeat 50% 50%
}

.mini-tools .mini-tools-collapse {
    background: url(images/tools_ext/open.png) no-repeat 50% 50%
}
.mini-tools .mini-tools-collapse:hover {
    background: url(images/tools_ext/open-h.png) no-repeat 50% 50%
}

.mini-panel-collapse .mini-tools-collapse {
    background: url(images/tools_ext/shrinkage.png) no-repeat 50% 50%
}
.mini-panel-collapse .mini-tools-collapse:hover {
    background: url(images/tools_ext/shrinkage-h.png) no-repeat 50% 50%
}

.mini-tools-min {
    background: url(images/tools_ext/min.png) no-repeat 50% 50%
}
.mini-tools-min:hover {
    background: url(images/tools_ext/min-h.png) no-repeat 50% 50%
}

.mini-tools-max {
    background: url(images/tools_ext/max.png) no-repeat 50% 50%
}
.mini-tools-max:hover {
    background: url(images/tools_ext/max-h.png) no-repeat 50% 50%
}

.mini-tools-restore {
    background: url(images/tools_ext/restore.png) no-repeat 50% 50%
}
.mini-tools-restore:hover {
    background: url(images/tools_ext/restore-h.png) no-repeat 50% 50%
}

.mini-tools-refresh {
    background: url(images/tools_ext/refresh.png) no-repeat 50% 50%
}
.mini-tools-refresh:hover {
    background: url(images/tools_ext/refresh-h.png) no-repeat 50% 50%
}

.mini-grid-allowsort,.mini-grid-sortIcon {
    background-image: url(images/grid_ext/sort.png)
}

.mini-grid-asc .mini-grid-sortIcon {
    background-image: url(images/grid_ext/asc.png) 
}

.mini-grid-desc .mini-grid-sortIcon {
    background-image: url(images/grid_ext/desc.png) 
}

.mini-mask-loading {
    background: url(images/ajaxloading.gif) no-repeat 50% 50%;
}
.mini-treegrid .mini-tree-nodes-tr{background:#e0f8fa}
.mini-treegrid-expandRow{background:#cff3f2;}