/**!
 * 张家港市公安建模平台
 * author: lucw;
 * date:2019-10-17
 */

html,
body {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

body {
    position: relative;
    min-width: 980px;
    min-height: 620px;
}

.body-bg {
    position: absolute;
    z-index: -100;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.ewb-outwpr {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -490px;
    margin-top: -356px;
    width: 980px;
    z-index: 9999;
}

.banner-place {
    height: 100%;
}

.ewb-main {
    height: 100%;
}

.ewb-let {
    display: none;
}

/* do */
.ewb-do {
    width: 100%;
}

.do-l {
    float: left;
    width: 50%;
}

.do-r {
    float: left;
    width: 50%;
}

.ewb-work {
    position: relative;
    margin-left: -65px;
    width: 760px;
    height: 100%;
}

.work-mid {
    width: 104px;
    height: 104px;
    position: absolute;
    z-index: 100;
    left: 50%;
    top: 50%;
    margin-left: -52px;
    margin-top: -52px;
    /* opacity: 0; */
    transition: all 0.4s ease 0.3s;
}

.swiper-slide-active .work-mid {
    opacity: 1;
}

.work-mid>img {
    display: block;
    max-width: 100%;
    height: auto;
}

.work-box {
    width: 600px;
    height: 600px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -300px;
    margin-top: -300px;
    background-position: center center;
    background-repeat: no-repeat;
    /* opacity: 0; */
    transition: all 0.4s ease 0.3s;
}

.work-box.bg01 {
    background-image: url('../images/xbg01.png');
    animation: circle 200s infinite linear;
}

.work-box.bg02 {
    background-image: url('../images/xbg02.png');
    animation: circleF 200s infinite linear;
}

.work-box.bg03 {
    background-image: url('../images/xbg03.png');
    animation: circle 200s infinite linear;
}

.work-box.bg04 {
    background-image: url('../images/xbg04.png');
    animation: circleF 200s infinite linear;
}

.work-box.bg05 {
    background-image: url('../images/guanghuan.png');
    animation: circle 200s infinite linear;
}

.swiper-slide-active .work-box {
    opacity: 1;
}

.swiper-slide-active .work-box.bg01 {
    transition-delay: 0.3s;
}

.swiper-slide-active .work-box.bg02 {
    transition-delay: 0.7s;
}

.swiper-slide-active .work-box.bg03 {
    transition-delay: 1.1s;
}

.swiper-slide-active .work-box.bg04 {
    transition-delay: 1.5s;
}

/* 5组图标 */

/* 配套线 */
.ewb-ptline {
    top: 0;
    left: 0;
    width: 100%;
    height: 712px;
    background: url('../images/x_line.png') center no-repeat;
}

.fun-lk>p {
    text-align: center;
    line-height: 46px;
    font-size: 22px;
    color: #fff;
}

.fun-msg {
    position: relative;
    width: 99px;
    height: 99px;
}

.fun-msg>i {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url('../images/rd_bg.png') center center no-repeat;
    animation: circle 150s infinite linear;
}

.fun-img {
    display: block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.fun-item.bg01 .fun-img {
    background-image: url('../images/rd_img01.png');
}

.fun-item.bg02 .fun-img {
    background-image: url('../images/rd_img02.png');
}

.fun-item.bg03 .fun-img {
    background-image: url('../images/rd_img03.png');
}

.fun-item.bg04 .fun-img {
    background-image: url('../images/rd_img04.png');
}

.fun-item.bg05 .fun-img {
    background-image: url('../images/rd_img05.png');
}

.fun-lk:hover .fun-img {
    animation: pulse 0.3s linear 2;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
    }

    100% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
}

.pulse {
    -webkit-animation-name: pulse;
    animation-name: pulse;
}


.fun-item {
    position: absolute;
    z-index: 300;
}


.fun-item.bg01 {
    top: -26px;
    right: 20px;
}

.fun-item.bg02 {
    top: 135px;
    right: -54px;
}


.fun-item.bg03 {
    top: 304px;
    right: -82px;
}


.fun-item.bg04 {
    top: 474px;
    right: -54px;
}


.fun-item.bg05 {
    top: 643px;
    right: 20px;
}


.hack-fourico .fun-item.bg01 {
    top: -16px;
    right: 15px;
}

.hack-fourico .fun-item.bg02 {
    top: 186px;
    right: -73px;
}


.hack-fourico .fun-item.bg03 {
    top: 386px;
    right: -73px;
}


.hack-fourico .fun-item.bg04 {
    top: 588px;
    right: 15px;
}

.hack-fourico .ewb-ptline {
    background-image: url('../images/x_line2.png');
}

@keyframes circle {
    0% {
        transform: rotate(0);
    }

    50% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0);
    }
}

@keyframes circleF {
    0% {
        transform: rotate(360deg);
    }

    50% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* logo */
.logo-wpr {
    height: 712px;
}

.lead-logo {
    position: absolute;
    top: 50%;
    right: 150px;
    margin-top: -91px;
}

/* top */

.ewb-top {
    position: absolute;
    z-index: 1000;
    right: 0;
    top: 0;
}

.ewb-state {
    margin-top: 40px;
    margin-right: 33px;
}

.state-line {
    margin: 0 15px;
    margin-top: 4px;
    width: 1px;
    height: 20px;
    background-color: #69a4f8;
}

.end-btn {
    margin-top: 4px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background: url('../images/end_ico.png') center no-repeat;
}

.state-box>i {
    float: left;
    margin-right: 13px;
    width: 28px;
    height: 28px;
    background: url('../images/use_ico.png') center no-repeat;
}

.state-name {
    float: left;
    height: 28px;
    line-height: 28px;
    color: #fff;
    white-space: nowrap;
}

.ban1Bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 80%;
    z-index: 0;
    overflow: hidden;
}

.ban1Bg1 {
    transform: scale(0.9);
    background: url("../images/star_img.png") center center repeat;
    animation: star 2s infinite linear;
}

.ban1Bg2 {
    top: 50%;
    background: url("../images/star_img.png") left center repeat;
    animation: starMove 500s infinite linear;
}

.ban1Bg3 {
    bottom: 0;
    top: auto;
    transform: scale(0.7);
    background: url("../images/star_img.png") 200px bottom repeat;
    animation: star 3s infinite linear;
}

@keyframes star {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes starMove {
    0% {
        transform: rotate(0);
    }

    50% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

/* screen-hack */

@media (min-width: 1594px) {
    .ewb-outwpr {
        width: 1594px;
        margin-left: -797px;
        height: 712px;
        margin-top: -356px;
    }
}

@media (max-width: 1594px) {
    .ewb-outwpr {
        width: 1200px;
        margin-left: -600px;
    }

    .do-l {
        transform: scale(0.8);
    }

    .do-r {
        transform: scale(0.8);
    }

    .lead-logo {
        right: 60px;
        max-width: 420px;
    }

    .ewb-work {
        margin-left: -100px;
    }

}

@media (max-width: 1100px) {
    .ewb-outwpr {
        width: 980px;
        margin-left: -490px;
    }

    .do-l {
        transform: scale(0.7);
    }

    .do-r {
        transform: scale(0.7);
    }

    .ewb-work {
        margin-left: -160px;
    }

    .lead-logo {
        right: 0;
        max-width: 404px;
    }

    .ewb-work {
        margin-left: -150px;
    }
}

.hack-sm .do-l {
    transform: scale(0.7);
}

.hack-sm .do-r {
    transform: scale(0.7);
}