@charset "UTF-8";
/**!
 * 部门标签页
 * date:2021-03-15
 * author: guohanyu;
 */
html {
  font-size: 100px;
}

body {
  height: 100%;
  background: url("../images/bg.png") center no-repeat;
  background-size: 100% 100%;
}

.fui-left {
  width: 200px;
  -webkit-box-shadow: 0px 0px 18px 0px rgba(14, 28, 54, 0.25);
          box-shadow: 0px 0px 18px 0px rgba(14, 28, 54, 0.25);
}

.fui-left .fui-left-toggle {
  top: 48%;
}

.fui-left .fui-left-toggle:after {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 5px;
  height: 11px;
  content: '';
  background: url(../images/close-arrow.png) no-repeat center;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.fui-left.closed {
  margin-left: -200px;
}

.fui-left.closed .fui-left-toggle {
  top: 48%;
}

.fui-left.closed .fui-left-toggle:after {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 5px;
  height: 11px;
  content: '';
  background: url(../images/open-arrow.png) no-repeat center;
}

.fui-left .fui-left-bd {
  padding: 5px 0;
}

.fui-left .head {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 30px 0 5px;
}

.fui-left-bd {
  background: #fff;
}

.fui-right,
.fui-content,
.fui-toolbar {
  background: transparent;
}

.left-nav {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 16px;
  height: calc(100% - 90px);
  background: url("../images/nav-bg2.png") right repeat-y;
  background-position: 185px 0;
}

.left-nav .nav-item {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 200px;
  font-size: 15px;
  font-weight: bold;
  height: 43px;
  line-height: 43px;
  text-align: right;
  color: #333;
  padding: 0 34px 0 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.left-nav .nav-item .nav-item-name.mark {
  padding-left: 23px;
  background: url(../images/nav-item-icon.png) no-repeat left;
}

.left-nav .nav-item:hover {
  color: #00c1de;
}

.left-nav .nav-item::after {
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  background: #77a8d1;
  border-radius: 50%;
  right: 10px;
  top: 18px;
}

.left-nav .nav-item.active {
  color: #00c1de;
  background: url("../images/nav-active.png") right center no-repeat;
}

.left-nav .nav-item.active::after {
  display: none;
}

.nav-info {
  width: 315px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 16px;
  background: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.2);
  z-index: 99;
}

.nav-info .name {
  line-height: 36px;
  font-size: 16px;
}

.nav-info .item {
  line-height: 18px;
  color: #5c5c5c;
  margin: 6px 0;
  word-break: break-all;
}

.nav-info .item .des {
  color: #adadad;
}

.nav-info .item .value {
  display: block;
  margin-left: 40px;
}

.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: auto;
  width: 27px;
  height: 27px;
  margin: 0;
  outline: none;
  cursor: pointer;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  content: '';
}

.swiper-button-prev {
  top: 28px;
  right: 15px;
  left: auto;
  background: url("../images/swiper-prev.png") center no-repeat;
}

.swiper-button-next {
  bottom: 28px;
  right: 15px;
  background: url("../images/swiper-next.png") center no-repeat;
}

/* 头部 */
.fui-toolbar {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px;
  height: auto;
}

.fui-toolbar .toolbar-ext-area {
  height: auto;
}

.fui-toolbar .conditions {
  line-height: 30px;
}

.fui-toolbar .operate-btn {
  padding: 0 15px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  border-radius: 4px;
  color: #fff;
  background-color: #00c1de;
}

.fui-toolbar .search-box {
  width: 269px;
  height: 30px;
}

.fui-toolbar .search-box .search-input {
  padding: 0 15px 0 35px;
}

.fui-toolbar .search-box .ico-search {
  right: none;
  width: 25px;
  left: 5px;
}

/* 标签部分 */
.fui-content {
  position: relative;
  padding: 8px;
}

.label-content {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  height: calc(100% - 58px);
  overflow: auto;
}

.legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-left: 15px;
}

.legend .legend-item {
  margin: 0 15px;
  padding-left: 20px;
  color: #bbb;
  line-height: 30px;
  height: 30px;
  background-position: left center;
  background-repeat: no-repeat;
  background-image: url("../images/status-dis.png");
  cursor: pointer;
}

.legend .legend-item.active {
  color: #5c5c5c;
}

.legend .legend-item.active.status0 {
  background-image: url("../images/status-0.png");
}

.legend .legend-item.active.status1 {
  background-image: url("../images/status-1.png");
}

.legend .legend-item.active.status2 {
  background-image: url("../images/status-2.png");
}

.label-list {
  position: relative;
  text-align: center;
  font-size: 0;
  overflow: hidden;
  padding-top: 40px;
  min-height: 400px;
}

.label-list .left-top {
  float: left;
  width: 200px;
  height: 200px;
  background: transparent;
  shape-outside: polygon(0 0, 200px 0, 0 200px);
  -webkit-clip-path: polygon(0 0, 200px 0, 0 200px);
          clip-path: polygon(0 0, 200px 0, 0 200px);
}

.label-list .right-top {
  float: right;
  width: 200px;
  height: 200px;
  background: transparent;
  shape-outside: polygon(0 0, 200px 0, 200px 200px);
  -webkit-clip-path: polygon(0 0, 200px 0, 200px 200px);
          clip-path: polygon(0 0, 200px 0, 200px 200px);
}

.label-item {
  width: auto;
  height: 50px;
  position: relative;
  display: inline-block;
  -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 81, 150, 0.4);
          box-shadow: 0px 3px 10px 0px rgba(0, 81, 150, 0.4);
  border-radius: 25px;
  font-size: 15px;
  cursor: pointer;
  overflow: hidden;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.label-item.status0 .label {
  background: #6981a3;
}

.label-item.status1 .label {
  background: #54c295;
}

.label-item.status2 .label {
  background: #41a8ff;
}

.label-item.primary .label {
  padding-left: 40px;
}

.label-item.primary .label::before {
  position: absolute;
  top: 50%;
  left: 5px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  content: "";
  color: #333;
  width: 40px;
  height: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 30px;
  font-size: 15px;
  font-weight: bold;
  background: url(../images/dept-primary.png) no-repeat center;
}

.label-item .label {
  height: 100%;
  border-radius: 25px;
  line-height: 50px;
  font-size: 15px;
  text-align: center;
  color: #fff;
  padding: 0 25px;
}

.label-item:hover {
  -webkit-box-shadow: 0px 5px 14px 0px rgba(0, 81, 150, 0.4);
          box-shadow: 0px 5px 14px 0px rgba(0, 81, 150, 0.4);
}

/* 标签详情 */
.label-detail {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  width: 347px;
  padding: 8px 16px 0;
  text-align: left;
  font-size: 14px;
  background: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.2);
  z-index: 99;
}

.label-detail .head {
  padding-bottom: 6px;
}

.label-detail .name {
  line-height: 36px;
  font-size: 16px;
}

.label-detail .details {
  padding: 6px 0;
}

.label-detail .item {
  line-height: 18px;
  color: #5c5c5c;
  margin: 8px 0;
}

.label-detail .item .des {
  color: #adadad;
}

.label-detail.status0 .btns:nth-child(2),
.label-detail.status0 .btns:nth-child(3) {
  display: none;
}

.label-detail.status1 .btns:nth-child(1),
.label-detail.status1 .btns:nth-child(3) {
  display: none;
}

.label-detail.status2 .bottom-btns {
  display: none;
}

.label-detail .bottom-btns {
  margin: 0 -16px;
  padding: 0 16px;
  height: 48px;
  line-height: 48px;
  background: #f5f5f5;
}

.label-detail .bottom-btns a {
  color: #2590eb;
  margin-right: 30px;
}

.label-detail .levels .level {
  margin-right: 26px;
  color: #5c5c5c;
  padding-left: 25px;
}

.label-detail .levels .level.up {
  background: url("../images/ico-up.png") left center no-repeat;
}

.label-detail .levels .level.like {
  background: url("../images/ico-love.png") left center no-repeat;
}

.label-detail .levels .level.score {
  background: url("../images/ico-flower.png") left center no-repeat;
}

.label-detail .levels .level .stars {
  display: inline-block;
  margin-right: 8px;
}

.label-detail .status {
  display: none;
  position: absolute;
  right: -7px;
  top: 10px;
  width: 81px;
  height: 37px;
  line-height: 40px;
  color: #fff;
  font-size: 15px;
  text-align: center;
}

.label-detail .status.status0 {
  background: url("../images/ico-0.png") center no-repeat;
}

.label-detail .status.status1 {
  background: url("../images/ico-1.png") center no-repeat;
}

.label-detail .status.status2 {
  background: url("../images/ico-2.png") center no-repeat;
}

.label-detail.status0 .status.status0 {
  display: block;
}

.label-detail.status1 .status.status1 {
  display: block;
}

.label-detail.status2 .status.status2 {
  display: block;
}

.more {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  left: 50%;
  bottom: 30px;
  width: 87px;
  height: 32px;
  margin: 0 0 0 -53px;
  line-height: 32px;
  text-align: center;
  border-radius: 4px;
  border: 1px solid #00c1de;
  color: #00c1de;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.more:hover {
  background: #00c1de;
  color: #fff;
}

.basket {
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  right: 30px;
  bottom: 30px;
  width: 72px;
  height: 72px;
  padding-top: 34px;
  text-align: center;
  border-radius: 50%;
  background: #fff url("../images/ico-basket.png") 18px 14px no-repeat;
  -webkit-box-shadow: 0px 2px 14px 0px rgba(160, 169, 180, 0.4);
          box-shadow: 0px 2px 14px 0px rgba(160, 169, 180, 0.4);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.basket.add .num {
  -webkit-animation: zoomin 0.3s;
          animation: zoomin 0.3s;
}

.basket .num {
  position: absolute;
  right: 0;
  top: 0;
  background: #f5222d;
  height: 14px;
  line-height: 14px;
  font-size: 12px;
  border-radius: 7px;
  color: #fff;
  text-align: center;
  padding: 0 6px;
}

.basket:hover {
  color: #00c1de;
  background: #fff url("../images/icon-basket-h.png") 18px 14px no-repeat;
  -webkit-box-shadow: 0px 2px 18px 0px rgba(160, 169, 180, 0.8);
          box-shadow: 0px 2px 18px 0px rgba(160, 169, 180, 0.8);
}

.stars {
  width: 92px;
  height: 14px;
  background: url("../images/star-grey.png") center no-repeat;
  background-size: 100% 100%;
}

.stars.star5::after {
  width: 7px;
}

.stars.star10::after {
  width: 15px;
}

.stars.star15::after {
  width: 26px;
}

.stars.star20::after {
  width: 34px;
}

.stars.star25::after {
  width: 46px;
}

.stars.star30::after {
  width: 54px;
}

.stars.star35::after {
  width: 65px;
}

.stars.star40::after {
  width: 73px;
}

.stars.star45::after {
  width: 85px;
}

.stars.star50::after {
  width: 100%;
}

.stars::after {
  content: "";
  display: block;
  height: 14px;
  background: url("../images/star-full.png") left center no-repeat;
  background-size: 92px 14px;
}

@-webkit-keyframes zoomin {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes zoomin {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.head {
  font-size: 18px;
  font-weight: bold;
  line-height: 44px;
}

.search-box {
  position: relative;
  margin: 0 5px;
  height: 30px;
  z-index: 99;
}

.search-box .search-input {
  border-radius: 4px;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 30px;
  padding: 0 40px 0 15px;
  border: .01rem solid #cfdbe8;
  outline: none;
  background: #fff;
}

.search-box .ico-search {
  position: absolute;
  right: 8px;
  top: 0;
  width: 20px;
  height: 100%;
  background: url("../images/ico-search.png") center no-repeat;
}

.s-results {
  display: none;
  position: absolute;
  top: 33px;
  left: 0;
  right: 0;
  background: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 14px 0px rgba(45, 48, 51, 0.25);
          box-shadow: 0px 4px 14px 0px rgba(45, 48, 51, 0.25);
}

.s-results .result-item {
  height: 35px;
  line-height: 35px;
  padding: 0 10px 0 15px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.s-results .result-item i {
  color: #2590eb;
}

.s-results .result-item:hover {
  background: #eaf1fb;
}
