.tabsnav-wrapper {
    overflow: hidden;
}

.tabsnav-variable {
    overflow: hidden;
}

.tabsnav-tabs-list {
    margin-right: 5px;
}

.tabsnav-tabs-item {
    position: relative;
    float: left;
    width: 110px;
    height: 30px;
    height: .3rem;
    cursor: pointer;
    border-right: 2px solid #bbd5f1;
    color: #498cc5;
    background: #cce0f5;
}

.tabsnav-tabs-name {
    display: inline-block;
    overflow: hidden;
    width: 80px;
    height: 30px;
    height: .3rem;
    padding: 0 18px;
    font-size: 14px;
    font-size: .14rem;
    line-height: 30px;
    line-height: .3rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.tabsnav-tabs-refresh {
    position: absolute;
    right: 16px;
    width: 15px;
    height: 30px;
    height: .3rem;
    background: url(images/refresh.png) center no-repeat;
}
.tabsnav-tabs-close {
    position: absolute;
    right: 0;
    width: 18px;
    height: 30px;
    height: .3rem;
    text-align: center;
}

.tabsnav-tabs-item:hover>.tabsnav-tabs-close {
    background: url(images/close-btn.png) center no-repeat;
}

.tabsnav-quicknav-trigger {
    float: right;
    width: 40px;
    height: 30px;
    height: .3rem;
    background: url(images/trigger-btn.png) no-repeat center;
    cursor: pointer;
    opacity: .6;
    filter: alpha(opacity=60);
}
.tabsnav-quicknav-trigger:hover,
.tabsnav-quicknav-trigger.active {
    opacity: 1;
    filter: alpha(opacity=100);
}

.tabsnav-quicknav-trigger.disabled {
    cursor: not-allowed;
    opacity: .3;
    filter: alpha(opacity=30);
}

.tabsnav-quicknav-box {
    position: absolute;
    z-index: 8;
    right: 10px;
    bottom: -280px;
    overflow: auto;
    max-height: 280px;
    padding: 5px 0;
    background: #fff;
    border-radius: 4px;
    border: 1px solid #ddd;
    border: 0 solid rgba(0,0,0,0.15);
    -webkit-box-shadow: 0 0 3px 2px rgba(0, 0, 0, .15);
    box-shadow: 0 0 3px 2px rgba(0, 0, 0, .15);
}
.tabsnav-quicknav-item {
    height: 28px;
    height: .28rem;
    padding: 0 20px;
    line-height: 28px;
    line-height: .28rem;
    cursor: pointer;
    color: #777;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.tabsnav-quicknav-item:hover {
    background-color: #ebf5ff;
    color: #2285d9;
}

.tabsnav-scroll-btn {
    float: left;
    width: 20px;
    height: 30px;
    height: .3rem;
    background-color: #cce0f5;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}
.tabsnav-scroll-btn:hover{
    background-color: #ddeaf8;
}
.tabsnav-scroll-btn.left {
    margin-right: 5px;
    background-image: url(images/scroll_left.png);
}
.tabsnav-scroll-btn.right {
    margin-left: 3px;
    background-image: url(images/scroll_right.png);
}
.tabsnav-scroll-btn.disabled,
.tabsnav-scroll-btn.disabled:hover {
    cursor: not-allowed;
    background-color: #d1d8df;
}

.tabsnav-tabs-item.fixed {
    background: #7cbbf1;
    color: #fff;
}
.tabsnav-tabs-item.fixed .tabsnav-tabs-name {
    padding-right: 34px;
}
.tabsnav-tabs-item:hover,
.tabsnav-tabs-item.active {
    background-color: #2590eb;
    color: #fff;
}

/* 右键菜单 */
.tabsnav-contextmenu {
    position: absolute;
    z-index: 15;
    width: 112px;
    padding: 5px 0;
    border-radius: 4px;
    background: #fff;
    
    border: 1px solid #ddd;
    border: 0 solid rgba(0,0,0,0.15);
    -webkit-box-shadow: 0 0 3px 2px rgba(0,0,0,0.15);
    box-shadow: 0 0 3px 2px rgba(0,0,0,0.15);
    overflow: hidden;
}

.tabsnav-contextmenu-item {
    display: block;
    height: 30px;
    height: .3rem;
    padding: 0 13px;
    line-height: 30px;
    line-height: .3rem;
    text-align: left;
    text-decoration: none;
    color: #666;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tabsnav-contextmenu-item:hover {
    background-color: #ebf5ff;
    color: #2285d9;
}

.tabsnav-contextmenu-item.sep {
    height: 0;
    border-bottom: 1px solid #dfeaf3;
}

.tabsnav-tabs-refresh.rotate {
    -webkit-animation: icon-rotate 1s linear infinite;
    animation: icon-rotate 1s linear infinite;
}

@-webkit-keyframes icon-rotate {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
}

@keyframes icon-rotate {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
}
  
