/** 
 * 作者： 孙尊路
 * 创建时间：2017/06/16 14:47:28
 * 版本： [1.0, 2017/6/16]
 * 版权： 江苏国泰新点软件有限公司
 * 描述： 友情提示 
**/

.em-friend-wrapper {
	background: #ffffff;
	height: 125px;
	width: 100%;
	text-align: center;
	/*四边阴影显示*/
	border: 0px solid #E0DFDF;
	-webkit-box-shadow: 0 0 3px #cecdcd;
	-moz-box-shadow: 0 0 3px #cecdcd;
	box-shadow: 0 0 3px #cecdcd;
}

.em-friend-wrapper img {
	width: 53px;
	height: 53px;
	margin: 0 auto;
	margin-top: 25.5px;
}

.em-friend-tips {
	font-size: 16px;
	color: #000;
	/*font-weight: 800;*/
}


/*前往按钮*/

.em-friend-buttons {
	display: flex;
	justify-content: space-around;
	margin-top: 10px;
}

.em-friend-buttons button {
	width: 100%;
	height: 40px;
	font-size: 16px;
	text-align: center;
	color: #FFFFFF;
	border-radius: 5px;
	margin: 10px 15px 0 15px
}

.em-button-forword input[type='button'],
.em-button-forword.mui-btn {
	border: 1px solid #0c8ee9;
	background-color: #0c8ee9;
}

.em-button-forword input[type='button'],
.em-button-forword.mui-btn:enabled:active {
	background-color: gray;
	border: 1px solid gray;
}