.detail-contact {
	position: relative;
	line-height: 1.8;
	height: 188px;
}
.detail-contact .profile {
	position: absolute;
	top: 0;
	left: 20px;
	width: 120px;
}
.detail-contact .profile > img {
	display: block;
	width: 120px;
	height: 180px;
}
.detail-contact .user-name {
	position: absolute;
	bottom: 0;
	background-color: rgba(0,0,0, 0.6);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#99000000', endColorstr='#99000000',GradientType=0);
	color: #fff;
	width: 100%;
	text-align: center;
}
.detail-contact .mid-col-info {
	margin-right: 40%;
	width: 300px;
	float: right;
}
.detail-contact .right-col-info {
	position: absolute;
	top: 0;
	right: 5%;
	width: 300px;
}
.detail-contact .user-info-key {
	float: left;
	width: 120px;
	text-align: right;
}
.detail-contact .user-info-val {
	float: left;
	width: 180px;
}
.detail-contact .user-info-val > i {
	vertical-align: middle;
}