.search {
    padding: 10px;
}

.search-btn {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 6px;
    width: 28px;
    height: 28px;
    display: inline-block;
    cursor: pointer;
    background: url('images/search_white.png') center no-repeat;
    background-repeat: no-repeat;
}

.search-container {
    height: 28px;
    line-height: 28px;
    border-radius: 14px;
    background-color: $dark-blue;
    z-index: 20;

    &.active {}
}

.narrow {
    .search {
        padding: 10px 12px;

        &-btn {
            left: 4px;
        }
    }

    .search-container {
        width: 100%;
        transition: width .2s ease-out;

        &.active {
            width: 190px;

        }

        .search-btn {
            left: 0;
            width: 36px;
        }
    }
}


// 分类搜索样式重写
.classify-search {
    &-history-item &-history-remove {
        color: #eee;
        &:hover {
            color: #fff;
        }
    }
    &-input {
        background: transparent;
        color: #fff;
        border-color: transparent;
        line-height: 26px;
        line-height: .26rem;
        height: 28px;
        padding-left: 34px;
        padding-right: 10px;
        border-radius: 14px;
        
        &::-webkit-input-placeholder {
            color: #ddd;
            color: rgba(#fff, .6);
        }

        &:-moz-placeholder {
            color: #ddd;
            color: rgba(#fff, .6);
        }

        &::-moz-placeholder {
            color: #ddd;
            color: rgba(#fff, .6);
        }

        &:-ms-input-placeholder {
            color: #ddd;
            color: rgba(#fff, .6);
        }
    }

    &-popup {
        width: 210px;
    }

    &-history-panel,
    &-classify-panel {
        background: $lightblue;
        color: #fff;
        border-radius: 4px;
    }

    &-history-footer {
        border-top-color: #f0f2f5;
        // color: #666;
        // &:hover {
        //     color: #999;
        // }
    }

    &-history-panel.empty &-history-list {
        color: #ddd;
    }

    &-classify-item,
    &-history-item {
        padding-left: 8px;

        &:hover,
        &.active {
            background-color: $greywhite;
            color: $blue;
        }
    }

    @at-root {
        .narrow .search-container.active {
            .classify-search {
                &-classify-item,
                &-history-item {
                    padding-left: 8px;
                }
            }
            .top-search-user-item, .top-search-module-item {
                padding-left: 8px;
            }
        }
    }

    &-classify {


        @at-root {

            &-kw,
            .search-kw {
                // color: $dark-blue;
                margin: 0 3px;
            }
        }
    }



    &-btn {
        display: none;
    }

    @at-root .top-search {

        &-user-list,
        &-module-list {
            border-bottom: 1px solid #f0f2f5;

            &:last-child {
                border-bottom-color: transparent;
            }
        }

        &-user-item,
        &-module-item {
            overflow: hidden;
            padding-left: 8px;
            padding-right: 5px;
            cursor: pointer;
            @include text-ellipsis;

            &:hover {
                background: $greywhite;
            }
        }

        &-user-item-img,
        &-module-item-icon {
            margin-top: 5px;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            vertical-align: top;
            margin-right: 4px;
        }

        &-module-item-icon {
            display: inline-block;
            font-size: 15px;
            width: 16px;
            line-height: 20px;
        }
    }
}
.surface-menu.narrow .classify {
    &-search-input{
        padding-right: 0;
    }
    &.popup .classify-search-input {
        padding-right: 10px;
    }
}