// font-size
$fz12: 12px;
$fz14: 14px;
$fz15: 15px;

// font-colors
$white: #fff;
$dark: #333;
$grey: #666;
$blue: #247bcc;

// background-colors
$bg-white: #fff;
$bg-lightblue: #f3f9ff;
$bg-red: #f5222d;
$dark-blue: #3795e2;
$lightblue: #4ea7f0;
$iconblue: #4795df;
$iconInWhiteblue: #1890ff;
$greywhite: #ecf7fc;

$bg-grey: #edf3f8;

$tmp: #f60;
// margin
$mg-10: 10px;

// padding
$pd-10: 10px;

// width
$widthNormal: 210px;
$widthNarrow: 60px;

// 渐变色
@mixin light2blue {
  background: rgba(70,170,245,1);
  background: -moz-linear-gradient(top, rgba(70,170,245,1) 0%, rgba(9,93,189,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(70,170,245,1)), color-stop(100%, rgba(9,93,189,1)));
  background: -webkit-linear-gradient(top, rgba(70,170,245,1) 0%, rgba(9,93,189,1) 100%);
  background: -o-linear-gradient(top, rgba(70,170,245,1) 0%, rgba(9,93,189,1) 100%);
  background: -ms-linear-gradient(top, rgba(70,170,245,1) 0%, rgba(9,93,189,1) 100%);
  background: linear-gradient(to bottom, rgba(70,170,245,1) 0%, rgba(9,93,189,1) 100%);
}

@mixin bgwhite {
  background: rgba(243,249,255,1);
  background: -moz-linear-gradient(top, rgba(243,249,255,1) 0%, rgba(236,243,249,1) 27%, rgba(246,251,253,1) 50%, rgba(206,224,240,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(243,249,255,1)), color-stop(27%, rgba(236,243,249,1)), color-stop(50%, rgba(246,251,253,1)), color-stop(100%, rgba(206,224,240,1)));
  background: -webkit-linear-gradient(top, rgba(243,249,255,1) 0%, rgba(236,243,249,1) 27%, rgba(246,251,253,1) 50%, rgba(206,224,240,1) 100%);
  background: -o-linear-gradient(top, rgba(243,249,255,1) 0%, rgba(236,243,249,1) 27%, rgba(246,251,253,1) 50%, rgba(206,224,240,1) 100%);
  background: -ms-linear-gradient(top, rgba(243,249,255,1) 0%, rgba(236,243,249,1) 27%, rgba(246,251,253,1) 50%, rgba(206,224,240,1) 100%);
  background: linear-gradient(to bottom, rgba(243,249,255,1) 0%, rgba(236,243,249,1) 27%, rgba(246,251,253,1) 50%, rgba(206,224,240,1) 100%);
}

