$activeColor: #2590eb;
.el-radio-group,
.el-checkbox-group {
  display: inline-block;
  line-height: 1;
  vertical-align: middle;
  font-size: 0;
}
.el-select-dropdown {
  max-width: 200px;
}
.control-form-bind {
  display: inline-block;
}
// .direction-horizontal {
//   &.el-radio-group .el-radio,
//   &.el-checkbox-group .el-checkbox {
//   }
// }
.direction-vertical {
  &.el-radio-group,
  &.el-checkbox-group {
    line-height: inherit;
  }
  &.el-radio-group .el-radio,
  &.el-checkbox-group .el-checkbox {
    display: block;
    line-height: inherit;
  }
}
.el-input-number--small {
  // width: 100%;
}
.el-input-number .el-input__inner {
  text-align: left;
}
.el-popper[x-placement^='bottom'] {
  margin-top: 6px;
}
.el-tooltip__popper {
  word-break: keep-all;
  &.is-dark {
    background: rgba(#141414, 0.5);
    &[x-placement^='right'] .popper__arrow,
    &[x-placement^='right'] .popper__arrow:after {
      // border-right-color: red;
      border-right-color: #141414;
      opacity: 0.5;
    }
    &[x-placement^='bottom'] .popper__arrow,
    &[x-placement^='bottom'] .popper__arrow:after {
      // border-right-color: red;
      border-bottom-color: #141414;
      opacity: 0.5;
    }
    &[x-placement^='top'] .popper__arrow,
    &[x-placement^='top'] .popper__arrow:after {
      // border-right-color: red;
      border-top-color: #141414;
      opacity: 0.5;
    }
    &[x-placement^='left'] .popper__arrow,
    &[x-placement^='left'] .popper__arrow:after {
      // border-right-color: red;
      border-left-color: #141414;
      opacity: 0.5;
    }
  }
}

.config {
  &-block {
    margin-bottom: 20px;
  }
  &-category {
    font-size: 15px;
    font-weight: bold;
    line-height: 44px;
    color: #333;
    margin: 0;
  }
  &-control,
  &-form,
  &-row,
  &-cell {
    box-sizing: border-box;
    position: relative;
  }
  &-row,
  &-control {
    padding: 0;
    padding-top: 110px;
    background: #f8f9fb;
    box-sizing: border-box;
    height: 100%;
    .config-control-tabcontent {
      background: #fff;
      padding: 14px;
      box-sizing: border-box;
      height: 100%;
      overflow: auto;
      &.with-event {
        height: calc(100% - 60px);
      }
    }
  }
  &-control-tabs {
    background: #fff;
    margin-top: 0px;
    height: 30px;
    padding: 14px;
  }
  &-control-tab {
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    border-bottom: 1px solid transparent;
    &:first-child {
      margin-right: 10px;
    }
    &:hover,
    &.active {
      color: $activeColor;
      border-color: $activeColor;
    }
  }
}
.design-help {
  display: inline-block;
  vertical-align: top;
  margin-top: 14px;
  width: 16px;
  height: 16px;
  background: url('../assets/images/right/help.png') center no-repeat;
  margin-left: 6px;
  cursor: help;
}
.form {
  &-item {
    // padding: 4px 0;
    line-height: 32px;
    color: #555555;
    margin-bottom: 10px;
    .design-help {
      margin-top: (32px - 16px) / 2;
    }
  }
  &-label {
    display: inline-block;
    vertical-align: top;

    width: 104px;
    &:after {
      content: '：';
    }
  }
  &-control {
    display: inline-block;
    line-height: 32px;
    max-width: 270px;
    .el-input-number,
    .el-input {
      width: 200px;
    }
    &-suffix {
      margin-left: 4px;
      color: #666;
    }
    &-item ~ &-item.textbox,
    &-item ~ &-item.form-all-border {
      margin-top: 8px;
      display: block;
    }
    > * {
      &:first-child {
        margin-top: 0;
      }
    }
  }
}
.width-set {
  &-select {
    .el-input {
      width: 140px;
    }
    .el-input--small .el-input__inner {
      padding-left: 10px;
    }
  }
  .width-set-input {
    width: 50px;
    .el-input {
      width: 100%;
    }
    margin-left: 10px;
    .el-input--small .el-input__inner {
      padding-left: 5px;
      padding-right: 5px;
    }
  }
}
.font-set {
  &-select {
    width: 120px;
    margin-right: 10px;
  }
  &-input {
    width: 70px;
  }
}
.height-set {
  &-select {
    width: 120px;
    margin-right: 10px;
  }
  &-input {
    width: 70px;
  }
}
.border-width-select {
  position: relative;

  display: inline-block;
  &.normal .el-input__inner {
    color: transparent;
    background: transparent;
    &::selection {
      color: transparent;
      background: transparent;
    }
  }
  &-curr {
    position: absolute;
    z-index: -1;
    top: 50%;
    right: 30px;
    left: 16px;

    display: block;
  }
  &-option {
    position: absolute;
    top: 50%;
    right: 20px;
    left: 20px;

    display: block;

    box-sizing: border-box;

    transform: translateY(-50%);

    border-top-style: solid;
    &-none {
      display: block;

      text-align: center;
    }
  }
}

.border-style {
  &-option {
    position: absolute;
    top: 50%;
    right: 20px;
    left: 20px;

    display: block;

    box-sizing: border-box;

    transform: translateY(-50%);
  }

  &-select {
    position: relative;

    display: inline-block;
    .el-input__inner {
      color: transparent;
      background: transparent;
    }
    &-curr {
      position: absolute;
      z-index: -1;
      top: 50%;
      right: 30px;
      left: 16px;

      display: block;
    }
  }
}

.design-button-group {
  display: inline-block;
  margin-right: 10px;
}
.design-button {
  position: relative;

  display: inline-block;

  padding: 0 10px;

  line-height: 30px;

  cursor: pointer;

  border: 1px solid #ddd;
  & + .design-button {
    margin-left: -1px;
  }
  &:hover {
    background: #f7fbff;
  }
  &.active {
    border-color: #51a6ef;
    background: #f7fbff;
    z-index: 1;
  }
  &-icon {
    display: inline-block;

    width: 16px;
    height: 16px;
    margin-top: 7px;

    font-size: 12px;
    line-height: 16px;

    text-align: center;
    vertical-align: top;

    color: #fff;
    // background: red;
    background-repeat: no-repeat;
    background-position: center center;

    &.border-top:before {
      content: '上';
    }
    &.border-right:before {
      content: '右';
    }
    &.border-bottom:before {
      content: '下';
    }
    &.border-left:before {
      content: '左';
    }

    // 全部边框的图标
    @each $bIcon in all, inner, hline, vline, outer, left, top, right, bottom, none {
      &.all-border-#{$bIcon} {
        background: url('../assets/images/border/#{$bIcon}.png') center no-repeat;
        &:hover,
        &.active {
          background: url('../assets/images/border/#{$bIcon}-h.png') center no-repeat;
        }
      }
    }

    &.align-left {
      background: url('../assets/images/right/align-left.png') center no-repeat;
    }
    &.align-center {
      background: url('../assets/images/right/align-center.png') center no-repeat;
    }
    &.align-right {
      background: url('../assets/images/right/align-right.png') center no-repeat;
    }
    &.align-top {
      background: url('../assets/images/right/align-top.png') center top no-repeat;
    }
    &.align-middle {
      background: url('../assets/images/right/align-middle.png') center no-repeat;
    }
    &.align-bottom {
      background: url('../assets/images/right/align-bottom.png') center bottom no-repeat;
    }

    &.font-bold {
      // content: 'B';
      background: url('../assets/images/right/font-bold.png') center no-repeat;
    }
    &.font-italic {
      background: url('../assets/images/right/font-italic.png') center no-repeat;
    }
    &.font-underline {
      background: url('../assets/images/right/font-underline.png') center no-repeat;
    }
  }
}
.font-color-button {
  .current-color {
    display: none;
  }
  .design-button-icon {
    background-image: url('../assets/images/right/font-color.png');
  }
  .font-current-color {
    position: absolute;
    display: block;
    height: 2px;
    width: 16px;
    bottom: 4px;
  }
}

.extend-range-validate {
  .range-validate {
    &-operation {
      width: 80px;
      .el-input__inner {
        padding-left: 10px;
      }
    }
    &-value {
      width: 80px;
      .el-input__inner {
        padding-left: 10px;
      }
    }
    &-operation,
    &-value {
      margin-right: 4px;
      .el-input {
        width: 100%;
      }
    }
    &-input {
      margin-right: 4px;
      width: 60px;
      input {
        padding-left: 4px;
        padding-right: 4px;
      }
    }
  }
  .ext-btn {
    cursor: pointer;
  }
}

.form-control-item {
  display: inline-block;
}

.control-help-popper {
  font-size: 14px;
  line-height: 1.5;
  code {
    font-size: 14px;
    // color: #333;
    // background-color: #f9fafc;
    // padding: 0 4px;
    // border: 1px solid #eaeefb;
    // border-radius: 4px;
    color: #5e6d82;
    background-color: #e6effb;
    margin: 0 4px;
    display: inline-block;
    padding: 1px 5px;
    font-size: 12px;
    border-radius: 3px;
    height: 18px;
    line-height: 18px;
  }
  a {
    color: #fff;
  }
}

.extend-daterange-config {
  .form-control-item {
    display: block;
  }
}
// 去掉 el 的圆角
// .el-input__inner,
// .el-select-dropdown,
// .el-checkbox__inner {
//   border-radius: 0;
// }
