.left-panel {
  box-sizing: border-box;
  padding: 20px 14px;
}
.control-drag-area,
.layout-drag-area {
  display: flex;
  flex-wrap: wrap;

  align-items: flex-start;
  align-content: flex-start;
  & ~ & {
    margin-top: 20px;
  }
}
.common-control-catalog {
  // margin: 0 0 6px 0;
  margin: 0;
  font-size: 14px;
  font-weight: normal;
  color: #666;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  & + .control-drag-area {
    margin-top: 10px;
  }
}
.template-item {
  line-height: 32px;
  height: 32px;
  width: calc(50% - 5px);
  cursor: default;
  cursor: grab;
  margin-left: 10px;
  margin-bottom: 10px;
  background: #f2f4f8;
  border: 1px solid transparent;
  box-sizing: border-box;
  transition: background 0.2s ease-out, order-color 0.2s ease-out;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  &.sortable-chosen,
  &.sortable-drag {
    cursor: default;
    cursor: grabbing;
  }
  &:nth-child(2n + 1) {
    margin-left: 0;
  }
  &:hover {
    border-color: #51a6ef;
    background: #f7fbff;
  }
  &-icon {
    background-color: #fff;
    height: 24px;
    width: 24px;
    display: inline-block;
    vertical-align: top;
    margin-top: 3px;
    margin-left: 4px;
    border-radius: 50%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    &.layout {
      background-image: url('../assets/images/left/col-multi.png');
    }
    &.control {
      background-image: url('../assets/images/left/control.png');
    }
    &.col-2 {
      background-image: url('../assets/images/left/col-2.png');
    }
    &.col-4 {
      background-image: url('../assets/images/left/col-4.png');
    }
    &.col-6 {
      background-image: url('../assets/images/left/col-6.png');
    }
    &.col-multi {
      background-image: url('../assets/images/left/col-multi.png');
    }
    &.control {
      @each $icon in check, date, dates, month, drop, macro, person, radio, textarea, textbox, spinner, tree, upload, subtable {
        &.#{$icon} {
          background-image: url('../assets/images/control/#{$icon}.png');
        }
      }
    }
  }
  &-name {
    margin-left: 4px;
  }
}
