@media screen and (max-width: 1610px) {
  $leftWidth: 180px;
  $rightWidth: 400px;
  .design {
    &-container {
      min-width: 940px + $leftWidth + $rightWidth;
    }
    &-leftbar {
      width: $leftWidth;
      .template-item {
        width: 100%;
        margin-left: 0;
      }
    }
    &-rightbar {
      width: $rightWidth;
    }
  }
}
@media screen and (max-width: 1440px) {
  $leftWidth: 180px;
  $rightWidth: 200px;
  .tab-head {
    padding: 0 4px;
    font-size: 13px;
  }
  .el-input-number.is-without-controls .el-input__inner {
    padding-left: 6px;
    padding-right: 6px;
  }
  .tab-body > * {
    padding-left: 10px;
    padding-right: 10px;
  }
  .accordion-header,
  .left-panel {
    padding-left: 10px;
    padding-right: 10px;
  }
  .design {
    &-container {
      min-width: 940px + $leftWidth + $rightWidth;
    }
    &-leftbar {
      width: $leftWidth;
    }
    &-rightbar {
      width: $rightWidth;
      font-size: 12px;
      .tab-body > * {
        padding-left: 10px;
        padding-right: 10px;
      }
      .config-control,
      .config-row {
        padding: 0;
        padding-top: 100px;
      }
      .component-name-config {
        height: 100px;
        margin-bottom: 0;
      }
    }
  }
  .config-block {
    margin-bottom: 10px;
  }
  .config-category {
    line-height: 30px;
  }
  .design-help {
    margin-top: 7px;
  }

  .form-label {
    display: block;
    width: auto;
    margin-bottom: 6px;
  }
  .form-control {
    .el-input {
      width: 150px;
    }
    .el-radio {
      margin-right: 10px;
      margin-bottom: 6px;
    }
    .el-checkbox {
      margin-right: 10px;
      margin-bottom: 6px;
    }
    .el-checkbox__label,
    .el-radio__label {
      padding-left: 4px;
    }

    // .el-radio-group .el-radio {
    //   margin-right: 10px;
    //   margin-bottom: 6px;
    // }
    // .el-checkbox-group .el-checkbox {
    //   margin-right: 10px;
    //   margin-bottom: 6px;
    // }
    // .el-checkbox-group .el-checkbox__label,
    // .el-radio-group .el-radio__label {
    //   padding-left: 4px;
    // }
  }
  .design-button-group + .design-button-group {
    margin-top: 10px;
  }
  .el-input__inner {
    padding-left: 6px;
    font-size: 12px;
  }
  .border-width-select-curr,
  .border-style-select-curr {
    left: 8px;
  }
  .data-source {
    &-input {
      margin-bottom: 20px;
      &.value {
        width: 30px;
        margin-right: 4px;
      }

      &.text {
        width: 40px;
        margin-right: 4px;
      }
      .el-input__inner {
        padding-left: 4px;
        padding-right: 4px;
      }
      .el-form-item__error {
        white-space: nowrap;
      }
    }
    &-item-btn {
      padding-left: 6px;
      padding-right: 6px;
    }
  }
  .width-set {
    &-select {
      .el-input {
        width: 90px;
      }
    }
    &-input {
      width: 50px;
      .el-input {
        width: 100%;
      }
    }
  }
  .font-set {
    &-select {
      width: 90px;
    }
    &-input {
      width: 50px;
    }
  }
  .height-set {
    &-select {
      width: 90px;
    }
    &-input {
      width: 50px;
    }
  }
  .extend-range-validate {
    .range-validate {
      &-operation {
        width: 40px;
        .el-input__inner {
          padding-left: 4px;
          padding-right: 4px;
        }
        .el-input__suffix {
          opacity: 0;
        }
      }
      &-value {
        width: 60px;
        .el-input__inner {
          padding-left: 4px;
          padding-right: 4px;
        }
        .el-input__suffix {
          opacity: 0;
        }
      }
      &-input {
        width: 40px;
      }
    }
  }

  .add-event-drop .add-event-icon,
  .event-card-toggle,
  .event-card-setting {
    margin-right: 4px;
  }
  .event-card-config {
    padding-right: 4px;
  }
  .event-card-condition,
  .event-card-action,
  .event-card-init {
    padding-left: 24px;
  }

  .form-all-border {
    .design-button {
      padding: 0 6px;
      line-height: 26px;
    }
    .design-button-icon {
      margin-top: 5px;
    }
  }
}
@media screen and (max-width: 1366px) {
  $leftWidth: 130px;
  $rightWidth: 200px;
  #app {
    font-size: 13px;
  }
  .design {
    &-container {
      min-width: 940px + $leftWidth + $rightWidth;
    }
    &-leftbar {
      font-size: 12px;
      width: $leftWidth;
      .template-item {
        width: 100%;
        margin-left: 0;
      }
    }
    &-rightbar {
      width: $rightWidth;
    }
  }
}
