.design-body.view-pc.narrow {
  position: relative;
  overflow: hidden;
  .design-rightbar {
    display: block;
    position: absolute;
    z-index: 9;
    top: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    filter: drop-shadow(-3px 0 6px rgba(0, 0, 0, 0.15));
    transition: transform 0.2s ease-out;
    &.pickup {
      transform: translateX(100%);
      transform: translate3d(100%, 0, 0);

      .design-rightbar-toggle > i {
        transform: rotate(180deg);
        transform: rotate3d(0, 0, 1, 180deg);
      }
    }
    &-toggle {
      position: absolute;
      left: -40px;
      top: 36px;
      width: 40px;
      padding-left: 0;
      padding-right: 0;
      text-align: center;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-right: 0;
      &:hover,
      &:focus {
        border-color: #dcdfe6;
      }
      & > i {
        transition: transform 0.2s ease-out;
      }
    }
  }
}
