.row {
  display: flex;
  flex-flow: row nowrap;
  padding: 0;
  // font-size: 0;
  // line-height: 0;
  box-sizing: border-box;
  position: relative;

  &.sortable-chosen,
  &.sortable-drag {
    cursor: grabbing;
  }
  &-helper {
    position: absolute;
    bottom: -10px;
    right: 0;
    display: none;
    z-index: 101;
    line-height: 20px;
    > .row-helper-btn {
      font-size: 12px;
      margin-left: 10px;
      color: #fff;
      background: #2299ee;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      line-height: 20px;
      text-align: center;
      cursor: pointer;
    }
  }
  // &:hover {
  //   box-shadow: 0 0 0
  // }
  &:hover > &-helper {
    display: block;
  }
  &.selected {
    z-index: 10;
    box-shadow: 0 0 6px rgba(#51a6ef, 0.6);
  }
}

.col {
  min-height: 38px;
  line-height: 38px;
  position: relative;
  box-sizing: border-box;
  flex-grow: 0;
  flex-shrink: 0;
  box-sizing: border-box;
  &.selected {
    // background: rgba(#51a6ef, 0.6);
    z-index: 10;
    box-shadow: 0 0 6px rgba(#51a6ef, 0.6);
    // color: #fff;
  }
}

.col-helper-line {
  position: absolute;
  opacity: 0;
  z-index: 100;
  box-sizing: border-box;
  &:hover {
    opacity: 1;
  }
  &:before {
    content: '';
    display: block;
    background: #0971a0;
    width: 100%;
    height: 100%;
  }

  &.line-h {
    left: 0;
    right: 0;
    bottom: -5px;
    height: 10px;
    padding: 4px 0;
    cursor: row-resize;
  }
  &.line-v {
    top: 0;
    bottom: 0;
    right: -5px;
    width: 10px;
    padding: 0 4px;
    cursor: col-resize;
  }
}
//
@mixin bird-fly-common($width: 30%, $height: 2px, $color: #fff) {
  &:before,
  &:after {
    content: '';
    width: $width;
    height: $height;
    background: $color;
    position: absolute;
    top: 50%;
    left: calc(50% - (#{$width} / 2));
    transition: transform 0.2s ease-out, color 0.2s ease-out, background 0.2s ease-out;
    transform-origin: 50% 50%;
    display: inline-block;
  }
}
@mixin bird-fly-up() {
  &:before {
    transform: translateX(-50%) skewY(-45deg);
  }
  &:after {
    transform: translateX(50%) skewY(45deg);
  }
}
@mixin bird-fly-down() {
  &:before {
    transform: translateX(-50%) skewY(45deg);
  }
  &:after {
    transform: translateX(50%) skewY(-45deg);
  }
}

// 手风琴扩展
.row.acc-layout {
  display: block;
}
.col.acc-item {
  // 去掉边框
  &:after {
    border: none !important;
  }
  // 确保拖拽区域可见 并提供提示
  > .dropArea.layout {
    padding: 16px 0;
    &:empty {
      margin-top: 8px;
      border: 1px dashed #ddd;
      text-align: center;
      &:after {
        content: '在此放入行列布局';
        color: #999;
      }
    }
  }
}
.acc-item {
  &-header {
    margin: 0;
    padding: 0;
    position: relative;
    height: 32px;
    padding: 10px 0 6px;
    font-size: 15px;
    line-height: 32px;
    color: #2590eb;
    border-bottom: 1px solid #2590eb;
    text-align: left;
    font-weight: normal;
  }
  &-index {
    width: 24px;
    padding: 0 8px;
  }
  &-toggle {
    position: absolute;
    z-index: 2;
    top: 50%;
    right: 8px;
    margin-top: -10px;
    display: block;
    width: 20px;
    height: 20px;
    cursor: pointer;
    color: #2590eb;
    transform: scale(0.8);
    transform-origin: 50% 50%;
    transition: all 0.2s ease-out;
    @include bird-fly-common(6px, 2px, currentColor);
    @include bird-fly-down();
  }
  &-header.closed &-toggle {
    @include bird-fly-up();
  }
  &-header.closed + .dropArea.layout {
    display: none !important;
  }
}
