/*!
* 多表合一
* author:jiangqn
* date: 2020-02-11
* version: 1.0.0
*/

/* 公共样式 */
.font-0 {
    font-size: 0;
}
.relative {
    position: relative;
}
.ver-md {
    vertical-align: middle;
}
.ver-inner-md::after {
    content: '';
    width: 0;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}
.box-inline {
    display: inline-block;
}
.box-block {
    display: block;
}
.container {
    width: 100%;
    height: 100%;
}

/* 主体 */
.content {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: relative;
    padding: 20px 40px 70px;
}
/* 流程部分 */
.flow {
    width: 200px;
    height: 8px;
    margin: 0 auto;
    font-size: 0;
    margin-bottom: 70px;
}
.flow-circle {
    position: relative;
    display: inline-block;
    width: 12px;
    height: 12px;
    box-sizing: border-box;
    border: 2px solid #e6e6e6;
    vertical-align: middle;
    border-radius: 50%;
}
.flow-circle-txt {
    color: #5c5c5c;
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    top: 20px;
    left: 0;
    margin-left: 5px;
    transform: translate(-50%);
    white-space: nowrap;
}
.flow-circle.before {
    border-color: #51a6ef;
}
/* .flow-circle.before .flow-circle-txt {
    color: #51a6ef;
} */
.flow-circle.active {
    border-color: #51a6ef;
    background-color: #51a6ef;
}
.flow-circle.active .flow-circle-txt {
    color: #2590EB;
}
.flow-line {
    display: inline-block;
    width: 150px;
    height: 2px;
    background-color: #e6e6e6;
    vertical-align: middle;
    margin: 0 5px;
}
/* .flow-line.before {
    background-color: #2590EB;
} */

/* 底部 */
.bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    background-color: #f5f5f5;
}

/* 选择框 */
.chart {
    height: calc(100% - 80px);
}
.chart-l {
    width: calc((100% - 21px) / 2);
    height: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
}
.chart-l-hd {
    height: 40px;
    box-sizing: border-box;
    border-bottom: 1px solid #ccc;
}
.chart-input {
    border: none;
    outline: none;
    width: calc(100% - 35px);
    box-sizing: border-box;
    padding-left: 10px;
    font-size: 16px;
}
.icon-search {
    display: inline-block;
    width: 30px;
    height: 100%;
    line-height: 40px;
    text-align: center;
    font-weight: bold;
}
.chart-l-list {
    height: calc(100% - 41px);
    overflow: auto;
    box-sizing: border-box;
    padding: 10px 0;
}
.chart-l-item {
    height: 30px;
    padding-left: 10px;
    cursor: pointer;
}
.chart-l-item:hover {
    background: #f5f5f5;
}
.chart-l-item.checked {
    background: #e9f4fd;
}
.item-icon {
    font-family: ActionIcon!important;
}
.item-icon:before {
    content: '\e725';
}
.chart-l-item.checked .item-icon:before {
    content: '\e6f6';
    color: #3280FC;
}
.chart-r {
    width: calc((100% - 21px) / 2);
    height: 100%;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.chart-r-hd {
    height: 40px;
    box-sizing: border-box;
    border-bottom: 1px solid #ccc;
}
.chart-r-title {
    line-height: 40px;
    padding-left: 10px;
}
.delete-btn,
.back-btn {
    font-family: ActionIcon!important;
    width: 30px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
}
.delete-btn:hover,
.back-btn:hover {
    color: #2590EB;
}
.delete-btn:before {
    content: '\e723';
}
.back-btn:before {
    content: '\e709';
}

.chart-r-item {
    height: 30px;
    padding-left: 10px;
    cursor: pointer;
}
.chart-r-item:hover {
    background: #f5f5f5;
}
.chart-index {
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    background-color: #3280FC;
    color: #fff;
}
.chart-r-list {
    height: calc(100% - 41px);
    overflow: auto;
    box-sizing: border-box;
    padding: 10px 0;
}
.chart-r-txt {
    display: inline-block;
    width: calc(100% - 70px);
}
.chart-r-item:hover .chart-r-close {
    display: inline-block;
}
.chart-r-close {
    display: none;
    font-family: ActionIcon!important;
}
.chart-r-close:hover{
    color: #2590eb;
}
.chart-r-close:before {
    content: '\e6de';
}