/**!
* 公司数据集成
* date:2019-09-18
* author: huangweiping;
*/

.right-top {
    height: 258px;
    box-sizing: border-box;
    padding: 16px 14px;
}

.main-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 288px;
    bottom: 18px;
    background-color: #fff;
}

.work-info {
    float: left;
    width: 140px;
}

.work-num {
    background: url("../images/work-bg.png") no-repeat right 5px bottom 5px;
    background-color: #e7f5e8;
    text-align: center;
    height: 106px;
    padding-top: 25px;
    box-sizing: border-box;
    margin-bottom: 14px;
}

.work-num>p {
    line-height: 30px;
    font-size: 15px;
    color: #38b03f;
}

.work-num>p:nth-child(2){
    font-size: 20px;
}


.dispatch-num {
    background: url("../images/dispatch.png") no-repeat right 5px bottom 5px;
    background-color: #fdf4e4;
    text-align: center;
    height: 106px;
    padding-top: 25px;
    box-sizing: border-box;
}

.dispatch-num>p {
    line-height: 30px;
    font-size: 15px;
    color: #f1a325;
}

.dispatch-num>p:nth-child(2){
    font-size: 20px;
}

.chart-wrap {
    margin-left: 150px;
    height: 226px;
    background-color: #f9f9f9;
}

.dispatch-chart {
    float: left;
    height: 226px;
    width: 75%;
}

.pie-chart {
    float: left;
    height: 226px;
    width: 25%;
}

.main-top {
    height: 26px;
    line-height: 26px;
    padding-top: 14px;
}

.search-input {
    margin-top: 0;
}

.search-button {
    margin-top: 0;
}

.load-btn {
    float: left;
    width: 109px;
    height: 26px;
    background: url("../images/load-icon.png") no-repeat 14px center;
    background-color: #2590eb;
    box-sizing: border-box;
    padding-left: 35px;
    color: #fff;
    margin-left: 14px;
    border-radius: 4px;
    line-height: 26px;
}

.load-btn:hover {
    background-color: #51a6ef;
}


/* 交互补充 */

.search-button:hover {
    background-color: #51a6ef;
}

.left-top>a:hover {
    background-color: #51a6ef;
}

.library-btn:hover {
    background-color: #51a6ef;
}

.file-btn:hover {
    background-color: #51a6ef;
}