[class^="ep-mui-"] {
	float: right;
    width: 65%;
    color: #777;
}

.mui-input-row:after {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 15px;
	height: 1px;
	content: "";
	transform: scaleY(.5);
	background-color: #c8c7cc;
}