/*!
 * 分类搜索组件样式
 * author: xiaolong
 * date: 20170329
 */

 .classify-search {
     position: relative;
     z-index: 3;
 }

 .classify-search .button-search {
     position: absolute;
     top: 6px;
     right: 6px;
     border: 0;
     width: 14px;
     height: 14px;
     cursor: pointer;
     background: url(../images/icon-search.png) no-repeat #fff;
 }

 .classify-search .button-search:focus {
     outline: 0;
 }

 .classify-search-input {
     width: 198px;
     height: 24px;
     padding-right: 21px;
     padding-left: 8px;
     border: 1px solid #56a9d0;
     font-size: 13px;
     vertical-align: top;
     line-height: 24px;
 }

 /* 搜索分类 */

 .autocomplete-suggestions {
     position: absolute;
     top: 28px;
     left: 0;
     width: 227px;
     border: 1px solid #e3e3e3;
     background-color: #fff;
     padding: 8px 0 12px 0px;
     box-shadow: 0 0 1px #e3e3e3;
     font-size: 13px;
 }

 .autocomplete-suggestion {
     line-height: 26px;
     padding: 0 10px 0 8px;
     cursor: pointer;
 }

 .autocomplete-suggestion.autocomplete-selected,
 .autocomplete-suggestion:hover {
     /*background-color: #eff5f9;*/
     background-color: #e0f2ff;
 }

 .suggestion-icon {
     width: 13px;
     height: 13px;
     margin-right: 8px;
     vertical-align: -1px;
     display: inline-block;
 }
/* 邮件 */
 .suggestion-icon.icon-m {
     background: url(images/icon-m.png) center center no-repeat;
 }

 .suggestion-icon.icon-m2 {
     background: url(images/icon-m2.png) center center no-repeat;
 }

/* 发件人 */
 .suggestion-icon.icon-sender {
     background: url(images/icon-sender.png) left center no-repeat;
 }

/* 反馈 */
 .suggestion-icon.icon-fd {
     background: url(images/icon-fd.png) center center no-repeat;
 }


 .suggestion-key {
     display: inline-block;
     color: #f96d41;
 }
