/**
* 新增卡片
* date: 2020-06-16
* author: guohanyu
**/

.btn-area {
    width: 100%;
    text-align: center;
}

.preview {
    box-sizing: border-box;
    position: relative;
    padding: 10px 0;

    &-left {
        width: 43%;
        /*  height: 572px; */
        text-align: center;
    }

    &-right {
        position: absolute;
        top: 10px;
        bottom: 10px;
        left: 43%;
        box-sizing: border-box;
        padding: 14px 0;
        width: 57%;
    }

}

.phone {
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    padding-top: 85px;
    padding-bottom: 6.9%;
    padding-left: 7.5%;
    padding-right: 7.5%;
    /*   padding: 85px 21px 40px 21px; */
    /*   width: 278px;
    height: 572px;  */
    background: url(../images/phone.png) no-repeat center;
    background-size: 100% 100%;

    &-content {
        position: relative;

        .screen_click {
            position: absolute;
            z-index: 5;


            &:hover {
                z-index: 99;
                box-shadow: 1px 0px 10px 0px rgba(174, 210, 251, 0.6);
            }

            &.active {
                z-index: 99;
                box-shadow: 1px 0px 10px 0px rgba(174, 210, 251, 0.6);
            }
        }
    }
}

.block {
    box-sizing: border-box;
    padding: 7px 10px;
    height: 100px;
    cursor: pointer;

    &-content {
        box-sizing: border-box;
        padding: 10px 16px;
        height: 100%;
        line-height: 20px;
        border: 1px solid rgb(212, 213, 218);
        border-radius: 6px;
        background-color: #fff;
    }

    &:hover {
        background-color: #e9f8fd;

        .block-content {
            color: #43cae3;
            border: 1px solid #00c0df;
        }
    }

    &.active {
        background-color: #e9f8fd;
        cursor: auto;

        .block-content {
            color: #43cae3;
            border-color: #00c0df;
        }

    }

    &.third {
        height: 150px;
    }

}


.right-content {
    height: 100%;
}

.operate {
    /*   margin: 0 auto; */
    width: 90%;
    height: 100%;
    background-color: #fff;
    border: 1px solid rgb(212, 213, 218);
}

// 项目组要求的进度展示
.process {
    position: relative;
    box-sizing: border-box;
    padding-top: 20px;
    height: 100px;
    text-align: center;

    &-items {
        display: inline-block;
        
    }
}

.process-item {
    position: relative;
    box-sizing: border-box;
    padding-top: 20px;

    .process-icon {
        position: absolute;
        z-index: 5;
        top: 5px;
        left: 50%;
        transform: translateX(-50%);
        width: 10px;
        height: 10px;
        border: 1px solid  #d4d5da;
        background: #fff;
        border-radius: 50%;
    }

    &+.process-item {
        margin-left: 150px;

        &::before {
            position: absolute;
            z-index: 0;
            top: 10px;
            left: -170px;
            right: 50%;
            height: 2px;
            content: '';
            background: #d4d5da;
        }
    }

    &.finish,&.active {
      
        .process-icon {
            background: #51a6ef;
            border: 1px solid  #51a6ef;
        }

        &::before {
            background: #51a6ef;
        }
    }
}