/* 所有边框的定义 */

/* 左侧列表*/

.ep-weekcalendar.border .ep-weekcalendar-category-list {
    border-left-width: 2px;
}

.ep-weekcalendar.border .ep-weekcalendar-category {
    border-bottom-width: 2px;
}

/* 星期 */

.ep-weekcalendar.border .ep-weekcalendar-weeks {
    border-width: 2px;
    border-right: none;
    /* 总高度为36 加边框后 行高需要递减 */
    line-height: 32px;
}

.ep-weekcalendar.border .ep-weekcalendar-week {
    border-right-width: 2px;
}

/* 日历网格 */

.ep-weekcalendar.border .ep-weekcalendar-grid {
    border-right-width: 2px;
    border-bottom-width: 2px;
}

.ep-weekcalendar.border .ep-weekcalendar-grid-item {
    border-top-width: 2px;
    border-left-width: 2px;
}

/* 内容行也需要一个透明边框 防止被内容盖住边框*/

.ep-weekcalendar.border .ep-weekcalendar-content-row {
    border: 2px solid transparent;
    border-bottom: none;
}

.ep-weekcalendar-grid {
    margin-top: -2px;
}