// $checked-color: #fff;
// $checked-bg: #658db5;
// $unchecked-color: #cfcece;
// $unchecked-bg: #f9f9f9;
$checked-color: #658db5;
$checked-bg: #fff;
$unchecked-color: #cfcece;
$unchecked-bg: #f9f9f9;
$checkbox-height: 14px;
$duration: .2s;
.tree-container {
    position: absolute;
    top:40px;
    left:0;
    right:0;
    bottom: 0;
    overflow: auto;
    padding: 10px 20px;
}

.cb-container {
    position: relative;

    display: inline-block;
    line-height: 26px;

    margin-left: 10px; 
    &.asblock {
        display: block;

        margin-left: 0;
    }
    &.disabled {
        cursor: not-allowed;

        opacity: .6;

        filter: alpha(opacity=60);
    }
}

.cb-cb {
    width: $checkbox-height;
    height: $checkbox-height;
    margin-top: 6px;

    vertical-align: top;

    opacity: 0;

    filter: alpha(opacity=0);
}

.cb-show {
    position: absolute;
    z-index: -1;
    top: 6px;
    left: 0;

    display: block;
    display: inline-block;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    width: $checkbox-height;
    height: $checkbox-height;

    cursor: pointer;
    -webkit-transition: border-color ease $duration/2;
       -moz-transition: border-color ease $duration/2;
         -o-transition: border-color ease $duration/2;
            transition: border-color ease $duration/2;

    border: $checkbox-height * .1 solid $unchecked-color;
    background: $unchecked-bg;
    &:before,
    &:after {
        position: absolute;

        display: inline-block;

        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
        width: $checkbox-height * .2;
        height: 0;

        content: "";
        -webkit-transition: opacity ease .2s;
           -moz-transition: opacity ease .2s;
             -o-transition: opacity ease .2s;
                transition: opacity ease .2s;
        -webkit-transform-origin: left top;
           -moz-transform-origin: left top;
            -ms-transform-origin: left top;
             -o-transform-origin: left top;
                transform-origin: left top;

        background: $checked-color;
    }
    &:before {
        top: $checkbox-height * .76;
        left: $checkbox-height * .31;

        -webkit-transform: rotate(-135deg);
           -moz-transform: rotate(-135deg);
            -ms-transform: rotate(-135deg);
             -o-transform: rotate(-135deg);
                transform: rotate(-135deg);
    }
    &:after {
        top: $checkbox-height * .45;
        left: $checkbox-height * 0;

        -webkit-transform: rotate(-45deg);
           -moz-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
             -o-transform: rotate(-45deg);
                transform: rotate(-45deg);
    }
}

.cb-cb:checked + .cb-show {
    // border-color: $checked-bg;
    background: $checked-bg;
    &:after {
        height: $checkbox-height * .35;

        -webkit-animation: dothabottomcheck $duration/2 ease 0s forwards;
           -moz-animation: dothabottomcheck $duration/2 ease 0s forwards;
             -o-animation: dothabottomcheck $duration/2 ease 0s forwards;
                animation: dothabottomcheck $duration/2 ease 0s forwards;

        border-color: $checked-color;
    }
    &:before {
        height: $checkbox-height * 1;

        -webkit-animation: dothatopcheck $duration ease 0s forwards;
           -moz-animation: dothatopcheck $duration ease 0s forwards;
             -o-animation: dothatopcheck $duration ease 0s forwards;
                animation: dothatopcheck $duration ease 0s forwards;

        border-color: $checked-color;
    } // ie9 钩子太长了
    @at-root .ie9 &:before {
        height: $checkbox-height * .8;
    }
}

.cb-cb.half-checked + .cb-show {
    border-color: $checked-bg;
    background: $checked-bg;
}
.cb-label {
    line-height: 26px;
    vertical-align: top;
}
@-moz-keyframes dothabottomcheck {
    0% {
        height: 0;
    }
    100% {
        height: $checkbox-height *.35;
    }
}

@-webkit-keyframes dothabottomcheck {
    0% {
        height: 0;
    }
    100% {
        height: $checkbox-height *.35;
    }
}

@-o-keyframes dothabottomcheck {
    0% {
        height: 0;
    }
    100% {
        height: $checkbox-height *.35;
    }
}

@keyframes dothabottomcheck {
    0% {
        height: 0;
    }
    100% {
        height: $checkbox-height *.35;
    }
}

@-o-keyframes dothatopcheck {
    0% {
        height: 0;
    }
    50% {
        height: 0;
    }
    100% {
        height: $checkbox-height * .7;
    }
}

@keyframes dothatopcheck {
    0% {
        height: 0;
    }
    50% {
        height: 0;
    }
    100% {
        height: $checkbox-height * .7;
    }
}

@-webkit-keyframes dothatopcheck {
    0% {
        height: 0;
    }
    50% {
        height: 0;
    }
    100% {
        height: $checkbox-height * .7;
    }
}

@-moz-keyframes dothatopcheck {
    0% {
        height: 0;
    }
    50% {
        height: 0;
    }
    100% {
        height: $checkbox-height * .7;
    }
}

// 2级缩进
.cb-container.level-1 + .check-group {
    padding-left: 40px;
}

// 三级缩进
.cb-container.level-2 + .check-group {
    padding-left: 40px;
}

// 三级之后统一显示在一行内
.cb-container.level-3 + .check-group,
.cb-container.level-4 + .check-group,
.cb-container.level-5 + .check-group,
.cb-container.level-6 + .check-group,
.cb-container.level-7 + .check-group {
    display: inline;
}

// .check-group > .check-group {
//     padding-left: 30px;
// }
.ie8 {
    .cb-show {
        &:before,
        &:after {
            content: "";
        }
    }
    .cb-container.checked {
         > .cb-show {
            background: #000;
        }
         > .cb-show {
            background: #0f0;
        }
    }
}
