/* 思源宋体-heavy*/

@font-face {
    font-family: "SourceHanSerifCN-Heavy";
    src: url('../fonts/SourceHanSerifCN-Heavy.otf');
}


/* 思源宋体-bold*/

@font-face {
    font-family: "SourceHanSerifCN-Bold";
    src: url('../fonts/SourceHanSerifCN-Bold.otf');
}
