.font-0 {
	font-size: 0;
}

.relative {
	position: relative;
}

.ver-md {
	vertical-align: middle;
}

.ver-inner-md::after {
	content: '';
	width: 0;
	height: 100%;
	display: inline-block;
	vertical-align: middle;
}

.box-inline {
	display: inline-block;
}

.box-block {
	display: block;
}

.button {
	display: inline-block;
	padding: 0 15px;
	height: 40px;
	line-height: 40px;
	border-radius: 2px;
	background: #3472d7;
	color: #fff;
	font-size: 14px;
	text-align: center;
	cursor: pointer;
}

.grey-button {
	display: inline-block;
	padding: 0 15px;
	height: 40px;
	line-height: 40px;
	border-radius: 2px;
	background: lightgrey;
	color: #fff;
	font-size: 14px;
	text-align: center;
}

.button:hover {
	opacity: .8;
}

.hd {
	height: 51px;
	background: #fff;
	border-bottom: 1px solid #e8ebed;
	box-sizing: border-box;
	padding-left: 25px;
	padding-right: 20px;
	position: relative;
}

.title {
	height: 100%;
	line-height: 50px;
	font-size: 26px;
	letter-spacing: 5px;
}

.container {
	width: 100%;
	height: calc(100% - 51px);
	background: url(../images/bg.png) center no-repeat;
	background-size: 100% 100%;
	padding: 20px 115px;
	box-sizing: border-box;
	overflow: auto;
	color: #555555;
}

.content {
	width: 1000px;
	margin: 0 auto;
}

.findpwd {
	color: #4e5463;
	font-size: 20px;
	line-height: 54px;
	float: left;
}

.rempwd{
	margin-left: 16px;
    color: #8992a9;
    font-size: 14px;
    float: left;
    line-height: 58px;
}

.login-txtbtn{
	line-height: 58px;
}

.login-txtbtn {
	color: #4198ff;
	cursor: pointer;
}

.content-card {
	width: 100%;
	height: 590px;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 0 5px rgba(255, 255, 255, .2);
	overflow: hidden;
	padding: 60px 180px 0;
	box-sizing: border-box;
}

.field {
	width: 100%;
	/* height: 40px; */
	margin-top: 20px;
}

.field-lab {
	width: 100px;
	height: 40px;
	line-height: 40px;
}

.field-val {
	width: calc(100% - 101px);
	height: 40px;
}

.field-input-box {
	width: 420px;
	height: 40px;
	box-sizing: border-box;
}

.field-input {
	width: 100%;
	height: 100%;
	outline: none;
	border: none;
	padding-left: 20px;
	box-sizing: border-box;
}

.qrcode {
	width: 112px;
	height: 100%;
	margin-left: 5px;
}

.btn-bar {
	height: 40px;
	padding: 0 120px 0 100px;
	margin-top: 60px;
}

.next-btn {
	width: 100%;
	box-sizing: border-box;
}

.text-blue {
	color: #459aff;
	cursor: pointer;
}

.text-blue-nopointer {
	color: #459aff;
}

.find-block {
	height: 82px;
	padding-left: 50px;
	margin-top: 20px;
}

.find-block-inner {
	width: 100%;
	height: 100%;
	background: url(../images/block-bg1.png) center no-repeat;
	background-size: 100% 100%;
	padding: 20px 15px;
	box-sizing: border-box;
}

.find-block-title {
	font-size: 18px;
	line-height: 22px;
}

.find-block-txt {
	font-size: 14px;
}

.find-block-txt {
	color: #999999;
}

.find-block2 .find-block-inner {
	background: url(../images/block-bg2.png) center no-repeat;
	background-size: 100% 100%;
}

.getcode {
	width: 110px;
	height: 40px;
	box-sizing: border-box;
	text-align: center;
	padding: 0;
	margin-left: 5px;
}

.field-info {
	float: left;
	color: #b5b5b5;
	white-space: nowrap;
	padding-left: 100px;
}

.text-grey {
	color: #999999;
}

.phone-blocks {
	height: 180px;
	margin-top: 40px;
}

.phone-block {
	width: calc(( 100% - 61px)/3);
	border: 1px solid #dee0e2;
	height: 100%;
	box-sizing: border-box;
	cursor: pointer;
}

.phone-block+.phone-block {
	margin-left: 30px;
}

.phone-block-icon {
	width: 55px;
	height: 55px;
	display: block;
	margin: 20px auto 0;
}

.phone-block-icon.icon1 {
	background: url(../images/block-icon1.png) center no-repeat;
}

.phone-block-icon.icon2 {
	background: url(../images/block-icon2.png) center no-repeat;
}

.phone-block-icon.icon3 {
	background: url(../images/block-icon3.png) center no-repeat;
}

.phone-block-txt {
	font-size: 18px;
	line-height: 34px;
	margin-top: 20px;
}

.back-btn2 {
	display: block;
	width: 260px;
	box-sizing: border-box;
	margin: 60px auto 0;
}

.back-next-btn1 {
	float: left;
	display: block;
	width: 200px;
	box-sizing: border-box;
}

.back-next-btn2 {
	float: right;
	display: block;
	width: 200px;
	box-sizing: border-box;
}

.field-status {
	padding-left: 100px;
	margin-top: 10px;
}

.sta-block {
	width: 135px;
	height: 22px;
	background-color: #e4e8ef;
	text-align: center;
	line-height: 22px;
}

.sta-block+.sta-block {
	margin-left: 5px;
}

.field-status.weak .sta-block:nth-child(1) {
	background-color: #eed273;
	color: #fff;
}

.field-status.middle .sta-block:nth-child(2) {
	background-color: #e6a959;
	color: #fff;
}

.field-status.strong .sta-block:nth-child(3) {
	background-color: #e17a41;
	color: #fff;
}

.success-icon {
	display: block;
	margin: 0 auto;
	width: 73px;
	height: 73px;
	background: url(../images/step_success.png) center no-repeat;
	background-size: 100% 100%;
}

.success-txt {
	font-size: 20px;
	color: #0db5c9;
	font-weight: bold;
	margin-top: 20px;
}

.login-btn {
	width: 260px;
	text-align: center;
	box-sizing: border-box;
	display: block;
	margin: 0 auto;
	margin-top: 20px;
}

.step-box {
	height: 40px;
}

.step-item {
	width: 125px;
	height: 40px;
	display: inline-block;
	box-sizing: border-box;
	border: 1px solid #eaecf1;
	border-radius: 20px;
	position: relative;
}

.step-item+.step-item {
	margin-left: 40px;
}

.step-item+.step-item:after {
	content: '';
	width: 35px;
	height: 0;
	position: absolute;
	top: 18px;
	left: -38px;
	border-bottom: 3px dotted #dfe2e9;
}

.step-icon {
	width: 40px;
	height: 40px;
	display: inline-block;
	background: url(../images/step-icon.png) center no-repeat;
}

.step-item.finished {
	background-color: #f1f2f5;
	border-color: #f1f2f5;
}

.step-item.active {
	background-color: #459aff;
	border-color: #459aff;
	color: #fff;
}

.step-item.active .step-icon {
	background: url(../images/step-activeicon.png) center no-repeat;
}

.step-item.finished .step-icon {
	background: url(../images/step-right.png) center no-repeat;
}

.step-txt {
	display: inline-block;
}

.step-content {
	padding-top: 80px;
}

.mini-textbox-border, .mini-buttonedit-border {
	width: 420px;
	height: 40px;
	box-sizing: border-box;
}

.mini-textbox-input, .mini-buttonedit-input {
	margin-top: 5px;
}

.mini-outputtext {
	display: inline;
}