/*
 * 作者：guotq
 * 时间：2017-06-13 10:32:49
 * 描述：常见下拉刷新
 */

.title {
    font-size: .95rem;
}

.em-srhbar {
    position: relative;
    height: 44px;
    padding-top: 4px;
    margin-left: 10px;
    margin-right: 10px;
}

.em-srhbar::before {
    position: absolute;
    top: 50%;
    left: 39%;
    margin-top: -11px;
    font-family: Muiicons;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    content: '\e466';
    z-index: 10;
}

.em-srhbar .em-srhbar-input {
    position: absolute;
    left: 0;
    right: 0;
    height: 35px;
    margin: 0;
    padding: 0 0 0 47%;
    background-color: rgba(0, 0, 0, .1);
    border: none;
    font-size: .95rem;
    border-radius: 15px;
}

.em-srhbar-icon-clear {
    position: absolute;
    top: 50%;
    margin-top: -9px;
    right: 15px;
    color: #666;
    font-size: 1.3rem;
}

.em-srhbar.active::before {
    left: 4px;
    transition: left .3s ease;
}

.em-srhbar.blur::before {
    transition: left .3s ease;
}

.em-srhbar.active .em-srhbar-input {
    padding-left: 32px;
    transition: padding-left .3s ease;
}

.em-srhbar.blur .em-srhbar-input {
    transition: padding-left .3s ease;
}

.em-srhbar .em-srhbar-input::placeholder {
    color: #666;
}


/* 兼容ipad ipadpro */

@media only screen and (min-width: 768px) {
    .em-srhbar::before {
        left: 43%;
    }
}

@media only screen and (min-width: 1024px) {
    .em-srhbar::before {
        left: 44%;
    }
}