.mini-button {
    border-color: @primary-color;
    background: @primary-color;
}

.mini-button.mini-button-plain {
    color: @text-color;
}

body .mini-button-pressed,
body a:hover.mini-button-pressed,
body .mini-button-checked,
body a:hover.mini-button-checked,
body a.mini-button-popup,
body a:hover.mini-button-popup,
body a:hover.mini-button {
    border-color: @primary-hover-color;
    background: @primary-hover-color;
}

// 语义按钮 primary
.mini-button.mini-btn-primary {
    color: #fff;
    border-color: @lesser-color1;
    background: @lesser-color1;
}

body a:hover.mini-button.mini-btn-primary {
    color: #fff;
    border-color: @lesser-hover-color1;
    background: @lesser-hover-color1;
}

// 语义按钮 info
.mini-button.mini-btn-info {
    color: #fff;
    border-color: @lesser-color2;
    background: @lesser-color2;
}

body a:hover.mini-button.mini-btn-info {
    color: #fff;
    border-color: @lesser-hover-color2;
    background: @lesser-hover-color2;
}

// split btn

.mini-splitbutton.mini-button-popup .mini-button-text {
    background: @primary-color;
}

body a:hover.mini-splitbutton {
    border-color: @primary-color;
    background: @primary-color;
}
.mini-button.mini-splitbutton .mini-button-text {
    border-color: @primary-color;
}
.mini-button.mini-splitbutton .mini-button-text:hover{
    background-color: @primary-hover-color;
    border-color: @primary-hover-color;
}
.mini-splitbutton .mini-button-split {
    border-top-color: @primary-color;
    border-right-color: @primary-color;
    border-bottom-color: @primary-color;
    &:hover {
        border-top-color: @primary-hover-color;
        border-right-color: @primary-hover-color;
        border-bottom-color: @primary-hover-color;
        background-color: @primary-hover-color;
    }
}