@grid-header-background: #e7e7e7;
@grid-header-color: @text-color;
@grid-header-border-color: #fff;


.mini-grid-headerCell,
.mini-grid-topRightCell {
    border-color: @grid-header-border-color;
    background: @grid-header-background;
    color: @grid-header-color;
}
.mini-grid-headerCell-inner {
    color: @grid-header-color;
}

.mini-grid-row {
    // background : #f2f5f9;
}

.mini-grid-row-alt {
    background : @row-alt-bg;
}

html body .mini-grid-row-selected {
    background: @item-selected-bg;
}

body .mini-grid-row-hover {
    background: @item-hover-bg;
}
