.mini-pager .mini-button,
.mini-pager .mini-button-icon {
    color: @primary-color;
}

.pagination-current,
.pagination-button.pagination-current:hover {
    color: @primary-color;
    border-color: @primary-color;
}
body .mini-pager-num,
.pagination-pagerchange input {
    border-color: @input-border-color;

    &:focus {
        border-color: @input-focus-border-color;
    }
}