.mini-textbox-input,
.mini-textboxlist .mini-textboxlist-input {
    color: @text-color;
}

.mini-prompt-input,
.mini-textbox-border,
.mini-textboxlist-border {
    border-color: @input-border-color;
}

.mini-textboxlist-focus .mini-textboxlist-border,
.mini-textbox-focus .mini-textbox-border {
    border-color: @input-focus-border-color;
}

.mini-textbox-input:focus,
.mini-buttonedit-input:focus,
.mini-buttonedit-focus .mini-buttonedit-input,
.mini-textboxlist-focus .mini-textboxlist-border {
    box-shadow: inset 0 0 4px rgba(red(@input-focus-border-color), green(@input-focus-border-color), blue(@input-focus-border-color), 0.4);
}

.mini-textboxlist .mini-textboxlist-item {
    color: @text-color;
}
.mini-textboxlist-close:hover {
    color: @primary-color;
}
