$header_height: 36px;
$bottom_height: 42px;
$subTitle_height: 36px;
$filter_height: 30px;
$app_w: 90px;
$app_h: 90px;

.qa {
    &-container {
        position: relative;
        height: 100%;
    }

    &-header {
        height: $header_height;
        line-height: $header_height;
        background: #f0f2f5;
        padding-left: 50px;
        position: relative;

        .mini-checkbox {
            position: absolute;
            left: 10px;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    &-body {
        position: absolute;
        z-index: 1;
        width: 100%;
        top: $header_height;
        bottom: $header_height;
    }

    &-block {
        box-sizing: border-box;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 50%;
        overflow: hidden;

        &+& {
            left: auto;
            right: 0;
        }
    }

    &-title {
        padding: 0 10px;
        height: $subTitle_height;
        line-height: $subTitle_height;
    }

    &-app,
    &-selected {
        position: absolute;
        top: $subTitle_height;
        left: 10px;
        right: 10px;
        bottom: 10px;
    }

    &-filter {
        position: relative;

        &-input {
            box-sizing: border-box;
            width: 100%;
            height: $filter_height;
            line-height: $filter_height - 2px;
            border: 1px solid #ddd;
            border-radius: 4px;
            position: relative;
            z-index: 1;
            background: transparent;
            padding-left: 30px;
            transition: all .1s ease-out;

            &:focus {
                border-color: #2590eb;
                outline: none;
            }

            &.disabled,
            &[disabled] {
                cursor: not-allowed;

                &:focus {
                    border-color: #ddd;
                }
            }
        }

        &-input:focus+&-icon {
            transition: all .1s ease-out;
            color: #2590eb;
        }

        &-icon {
            position: absolute;
            height: 100%;
            width: 30px;
            text-align: center;
            left: 0;
            top: 0;
            z-index: 0;
            line-height: 30px;
        }
    }

    &-footer {
        box-sizing: border-box;
        position: absolute;
        z-index: 2;
        left: 0;
        right: 0;
        bottom: 0;
        height: $header_height;
        border-top: 1px solid #ddd;
        border-top: 0 rgba(#ddd, .3);
        box-shadow: 0 -1px 4px rgba(#000, .15);
        text-align: center;
        line-height: 0;
        padding-top: 5px;

        .ft-btn {
            display: inline-block;
        }

        .btn-cancel {
            border: 1px solid #ddd;
            padding: 0 14px;
            line-height: 24px;
            height: 24px;
            vertical-align: top;
            cursor: pointer;
        }
    }

    &-selected-count {
        display: inline-block;
    }
}

.using-rate {
    .qa-selected-count {
        display: none;
    }

    .qa-app-selected-list {
        margin-left: -100%;
    }

    .qa-item {
        cursor: not-allowed;
    }

    .qa-item-icon,
    .qa-item-name {
        cursor: not-allowed;
        opacity: 0.8;
    }

    .qa-menu-link {
        color: #333 !important;
        border-color: transparent !important;
    }
}

.qa-app {

    &-selected-list,
    &-search-list,
    &-sub-list {
        margin-left: -10px;
        margin-right: -10px;
    }

    &-sub-list {
        margin-left: 0;
    }

    &-category {
        user-select: none;

        h3 {
            height: 30px;
            line-height: 30px;
            padding: 0 24px;
            cursor: pointer;
            position: relative;
        }
    }

    &-category-toggle {
        position: absolute;
        display: block;
        width: 10px;
        height: 6px;
        top: 12px;
        transform-origin: 50% 50%;
        left: 10px;
        ;
        background: url("./images/arrow-down.png") center no-repeat;
        transition: all .2s ease-out;
    }

    &-category.collapse &-category-toggle {
        transform: rotate(-90deg);
    }

    &-list,
    &-search-list {
        position: absolute;
        top: $filter_height + 10px;
        bottom: 0;
        left: 0;
        right: 0;
        overflow: auto;
        overflow-x: hidden;
        overflow-y: auto;
    }


}

.qa-item {
    display: block;
    float: left;
    width: $app_w;
    height: $app_h;
    margin: 0 10px 10px;
    text-align: center;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    transition: all .2s ease-out;

    &-bg {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
    }

    &:hover {
        background: #f8f8f8;
        box-shadow: 0 0 3px rgba(#000, .015);
    }

    &.selected {
        background: transparent;

        &:before {
            z-index: 2;
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            // background: #fff;
            // opacity: .8;
            background: rgba(#fff, .8);
        }

        &:after {
            z-index: 3;
            content: "";
            position: absolute;
            width: 36px;
            height: 36px;
            top: 20px;
            left: 50%;
            margin-left: -18px;
            background: url("./images/checked.png") center no-repeat;
        }
    }

    &-icon {
        display: block;
        margin: 10px auto 0;
        width: 50px;
        height: 50px;
    }
    

    &-name {
        height: 24px;
        line-height: 24px;
        border-radius: 12px;
        display: block;
        text-align: center;
        margin-left: 4px;
        margin-right: 4px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        // background: #f8f8f8;
        // background: rgba(0, 0, 0, .4);
        // color: #fff;
        .kw {
            margin: 0 3px;
        }
    }

    &-remove {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        width: 20px;
        height: 18px;
        margin-top: 4px;
        margin-right: 4px;
        cursor: pointer;
        background: url("./images/remove-imac.png") center no-repeat;
    }

    &.is-metro {
        fill: #fff;
        &.is-metro:hover {
            background: transparent;

            .qa-item-bg {
                opacity: .8;
                filter: alpha(opacity=80);
            }
        }

        .qa-item-icon,
        .qa-item-name {
            position: relative;
            z-index: 2;
        }

        .qa-item-icon {
            width: 40px;
            height: 40px;
            margin-top: 14px;
        }

        .qa-item-name {
            color: #fff;
            line-height: 30px;
            height: 30px;
            font-size: 14px;
        }

        .qa-item-name {
            border-radius: 50%;

            &:after {
                content: "";
                display: block;
            }
        }

        .qa-item-remove {
            background: url("./images/remove-metro.png") center no-repeat;
        }

        &.selected:after {
            top: 50%;
            margin-top: -18px;
        }
    }

    &.ui-sortable-helper {
        opacity: .8;
        transition: none;
    }

    &.ui-sortable-placeholder {
        visibility: visible !important;
        border: 1px dashed #ddd;
    }
}

.qa-selected {
    width: 200%;

    .qa-using-rate-tips,
    .qa-app-selected-list {
        box-sizing: border-box;
        height: 100%;
        overflow: auto;
        width: 50%;
        float: left;
        transition: all .2s ease-out;
    }

    .qa-using-rate-tips {
        background: url("./images/using-rate-tips.png") center center no-repeat;
    }

    .qa-item {
        cursor: move;

        &-remove {
            display: block;
            opacity: 0;
            transition: all .2s ease-out;
            z-index: 10;
        }

        &:hover {
            background: #f7f7f9;

            .qa-item-remove {
                opacity: 1;
            }
        }


        &.selected {

            // background: transparent;
            &:before,
            &:after {
                display: none;
            }
        }

    }
}

.ie8 {
    .qa-item.selected {
        &:after {
            background: #fff;
            // opacity: .8;
            filter: alpha(opacity=80);
        }
    }

    .qa-app {
        &-category.collapse &-category-toggle {
            background-image: url("./images/arrow-right.png");
        }
    }
}