@primary-color: #258ce5;  // 主色
@lesser-color1: #f2733d;  // 辅助色1
@lesser-color2: #2db3ae;  // 辅助色2


@text-color: #444;  // 文本颜色

@input-border-color      : #bdbec1;         // 文本框边框颜色
// @input-focus-border-color: #6b7381;         // 文本框聚焦时边框颜色
@input-focus-border-color: @primary-color;  // 文本框聚焦时边框颜色
// @input-error-border-color: @primary-color; // 

@item-selected-bg: #dfedfa;  // 选中条目别背景色
@item-hover-bg   : #fffed5;  // hover 条目背景色

@row-alt-bg: #f5f5f5;  // 偶数行背景色
