$header_bg_css:linear-gradient(to right, #d84347, #ff6633);
$header_bg: #2681d8 url("../../images/header/bg.png");
$header_border: transparent;
$header_spliter:#fff;
$headerBtnHoverBg:rgba(0, 0, 0, .07);
// ================================
// color
$user_panel:#fff;
// oucolor
$user_ou_color:#cce2ff;
// user links
$user_link_hover:#185197;
$user_links_border:#3a7bd3;

// ================================
// content bg
$content_bg:#fcf4f3;
$border_left: #ef6366;
$link_color: #f17678;
$link_bg: #fef0f0;

// 下拉列 hover 颜色和背景
$panelItemColor: #ef6366;
$panelItemBg: #fef0f0;

body {
    background: $content_bg;
}

.header {
    background: $header_bg;
    background-size: 100% 100%;
    background-size: cover;
    background-image: $header_bg_css;

    &:before {
        border-bottom-color: transparent;
        // border-image: $header_bg_css;
    }

    @at-root {
        .top-menu-panel-inner {
            border-top-color: #e3353a;
        }

        .top-portal-container {
            .top-portal-wrap-inner {
                border-top-color: #e3353a;
            }

            .top-portal-item:hover {
                color: #ef6366;
            }
        }

        .header-left {
            .top-portal-container {
                &.active {
                    .top-portal-btn {
                        background-image: url("./images/header/icon-portal-h.png");
                    } 
                }
            }
            .top-portal-btn {
                background-image: url("./images/header/icon-portal.png");
            }

            .header-menu-btn {
                &:after {
                    background: url("./images/header/icon-menu.png") center no-repeat;
                }
            }

            .header-menu-btn,
            .header-search-btn,
            .top-portal-btn {

                &:hover,
                &.active {
                    background-color: $headerBtnHoverBg;
                }
            }
        }

        .header-action-btn:hover,
        .header-action-btn.active {
            background-color: $headerBtnHoverBg;
        }

        .user-action-item:hover {
            color: #ef6366
        }

        .header-action-btn-tip {
            background-color: #f5222d;
        }

        // @each $i in help,
        // theme,
        // remind,
        // chart {
        //     .header-action-btn.#{$i} {
        //         background-image: url("./images/header/#{$i}.png");
        //     }
        // }
    }
}

.left-menu-container {
    .left-menu-link {
        &:hover,
        &.active {
            border-left-color: $border_left;
            color: $link_color;
            &[data-hassub="false"] {
                background-color: $link_bg;
            }
        }
    }

    .left-menu-item.opened>.left-menu-link {
        border-left-color: $border_left;
        color: $link_color;
    }
}

.main {
    background: $content_bg;
}

.header-search {

    &-btn,
    .classify-search-btn {
        background-image: url("./images/header/icon-search.png");
    }

    .classify-search {
        @at-root {

            &-history-item,
            &-history-item {

                &:hover,
                &.active {
                    background-color: #fef0f0;
                    color: #ef6366;
                }
            }

            .classify-search-history-item .classify-search-history-remove {
                color: #ef6366;
            }

            &-classify-item {

                &:hover,
                &.active {
                    background-color: #fef0f0;
                }
            }

            &-classify-kw,
            .top-search-kw {
                color: #ef6366;
                margin: 0 3px;
            }
        }
    }

    .classify-search-input {
        border-color: transparent;
        border-bottom-color: #a5b1c2;
        background: transparent;
        color: #fff;

        @each $i in '::-webkit-input-placeholder',
        ':-moz-placeholder',
        '::-moz-placeholder',
        ':-ms-input-placeholder',
        '.placeholder' {
            &#{$i} {
                color: #ddd;
            }
        }
    }
}

.msg-panel {
    border-top-color: #e3353a;
}

.message-content-wrap {
    &.empty {
        background: url(./images/right-msg/no-msg.png) center 30% no-repeat;
    }

    @at-root {
        .msg-panel-hide {
            background-image: url("./images/right-msg/icon-toright.png")
        }

        .msg-category-remove:hover {
            background: url(images/right-msg/icon-msgdel-hover.png);
        }

        .msg-item-ignore:hover {
            background: url(images/right-msg/icon-eye-hover.png);
        }

        .msg-panel-head {
            color: #ef6366;
        }

        .msg-category-num {
            font-weight: normal;
            color: #ef6366
        }

        .msg-list-item:hover,
        .msg-list-item.newmsg:hover {
            color: #ef6366
        }

        .msg-category-head,
        .msg-result-head,
        .msg-history-head {
            // border-bottom-color:  #dcdcdc;

            &:after {
                background: #ef6366
            }
        }
    }
}

.msg-panel-content {
    @at-root {
        .emsg-recent-list {

            &.empty {
                background-image: url('images/right-msg/no-exun.png')
            }
        }
        .emsg-ignore-icon {
            background: #2590eb;
            &:hover {
                background: #2285d9;
            }
        }
        .emsg-recent-item:hover {
            background: $panelItemBg;
        }
        .msg-panel-head.tab>.panel-hd-tab.active,
        .msg-panel-head.tab>.panel-hd-tab:hover {
            color: $panelItemColor
        }
    }
}

.tabsnav-tabs-item.fixed.active,
.tabsnav-tabs-item.active,
.tabsnav-tabs-item:hover {
    background-color: #d84347;
}

.tabsnav-quicknav-trigger:hover,
.tabsnav-quicknav-trigger.active {
    background-image: url(./images/tabnav/tab-menu-h.png);
}

.tabsnav-quicknav-item:hover {
    background-color: #fef0f0;
    color: #ef6366;
}

/* exun skin*/
// 色值复写
// 左侧背景
$emsg_left_bg:#ef6366;
// 发送按钮颜色
$emsg_send_btn_bg:#ef6366;
// 自己消息内容的背景色
$my_words_bg:#fef0f0;
@import "../../../../../js/widgets/emsg/emsg-skin.scss";

/* 消息中心 */
.msg-tab.active:before {
    background-color: $border_left;
}

.emsg-cgroup-header {
    border-bottom: 1px solid $link_color;
    color: $link_color;
}