/**!
 * 首页
 * date:2019-10-15
 * author: lengyy;
 */
.fui-content {
    background: #e8e8e8;
    padding:0;
}

.mod {
    margin: 16px;
}
.mod::after {
    content: "";
    display: block;
    clear: both;
}
.mod.overview {
    height: 380px;
}
.mod.classify,
.mod.main {
    height: 132px;
}

@media screen and (min-height: 684px) {
    .chart-mods {
        position: absolute;
        top: 388px;
        bottom: 0;
        width: 100%;
    }
    .mod.classify {
        position: absolute;
        top: 0;
        bottom: 50%;
        margin-top: 0;
        left: 0;
        right: 0;
        height: auto;
    }
    .mod.main {
        position: absolute;
        top: 50%;
        bottom: 0;
        left: 0;
        right: 0;
        margin-top: 0;
        height: auto;
    }
}

.mod-head {
    float: left;
    display: table;
    width: 180px;
    height: 100%;
    color: #fff;
    text-align: center;
    line-height: 33px;
}
.mod-body {
    height: 100%;
    background: #fff;
    border-radius: 0 4px 4px 0;
}
.mod-head .value {
    font-size: 14px;
    margin-top: 20px;
}
.mod-head .value span {
    font-size: 30px;
    font-weight: bold;
    margin-right: 10px;
}
.mod-head .name {
    font-size: 14px;
}
.head-title {
    height: 32px;
    line-height: 32px;
    background: rgba(255,255,255,.12);
    font-size: 16px;
    font-family: "Microsoft YaQiHei";
}

.vtm {
    display: table-row;
    vertical-align: middle;
}
.mod.overview .mod-head {
    background: url("../images/head-overview.png");
}
.mod.classify .mod-head {
    background: url("../images/head-classify.png");
    background-size: cover;
    background-position: right bottom;
}
.mod.main .mod-head {
    background: url("../images/head-main.png");
    background-size: cover;
    background-position: right bottom;
}
.overview-total {
    margin-top: 40px;
    margin-bottom: 30px;
}

.overview-item {
    height: 56px;
    margin: 10px;
    padding: 0 10px;
    line-height: 56px;
    background: rgba(255, 255, 255, .08);
}
.item-name {
    float: left;
}
.item-value {
    float: right;
}
.item-value span {
    margin-right: 5px;
    font-size: 18px;
}


.overview-count {
    float: left;
    width: 33.33%;
    height: 100%;
    box-sizing: border-box;
}
.overview-count + .overview-count {
    border-left: 1px solid #e8e8e8;
}
.overview-title {
    position: relative;
    padding-left: 25px;
    font-size: 16px;
    font-family: "Microsoft YaQiHei";
    line-height: 40px;
}
.overview-title:before {
    content: "";
    position: absolute;
    left: 14px;
    top: 15px;
    width: 3px;
    height: 12px;
    background: #418eea;
    border-radius: 2px;
}
.overview-content {
    height: 308px;
}

.keycloud {
    position: relative;
    height: 100%;
}

.keycloud span {
    position: absolute;
    top: 0px;
    left: 0px;
    color: #fff;
    font-weight: bold;
    padding: 3px 6px;
    font-size: 14px;
    cursor:pointer;
}


.chart-container {
    height: 100%;
}

/* 标签引用统计 */
.title-tip {
    float: right;
    font-size: 12px;
    color: #adadad;
}

.quote-count {
    margin: 20px 16px;
}
.quote-count>li {
    margin-bottom: 30px;
    line-height: 18px;
}
.quote-count>li:after {
    content: "";
    display: block;
    clear: both;
}
.tip-order {
    float: left;
    width: 18px;
    height: 18px;
    text-align: center;
    color: #fff;
    background: #d6dbe1;
    font-size: 12px;
}
.tip-name {
    float: left;
    margin-left: 6px;
    width: 30%;
    overflow: auto;
    white-space: nowrap;
}
.tip-value {
    float: right;
    font-weight: bold;
    color: #999;
    font-size: 12px;
}
.tip-bar {
    margin-left: 110px;
    margin-right: 40px;
    padding-top: 6px;
}
.tip-bar>div {
    height: 6px;
    background: #4290eb;
    border-radius: 2px;
}

.quote-count>li:nth-child(1) .tip-order,
.quote-count>li:nth-child(1) .tip-bar>div,
.quote-count>li:nth-child(2) .tip-order,
.quote-count>li:nth-child(2) .tip-bar>div,
.quote-count>li:nth-child(3) .tip-order,
.quote-count>li:nth-child(3) .tip-bar>div {
    background: #ff764b;
}