/*
专题管理css
author:hkh
*/

.adddprow{
    background: #eeeeee;
}
.resolution{
    width: 50%;
}
.resolution .mini-textbox{
    width: 70%;
}
.operate-minus{
    margin-left:10px;
    border: 2px solid  #DDDDDD;
    font-size: 20px;
    cursor: pointer;
}
.operate-plus{
    cursor: pointer;
}
.operate.text-center{
    margin-top: 5px; 
    border: 1px dashed #DDDDDD;
}
