.sender-baseinfo {
	margin: 0 10px;
	padding: 16px 0;
	border-bottom: 1px dashed #e9edf5;
}

.sender-portrait {
	float: left;
	width: 80px;
	height: 80px;
	margin: 0 18px 0 6px;
	background-color: #fbdeed;
	border-radius: 5px;
}
.sender-baseinfo .name,
.sender-baseinfo .dept,
.sender-baseinfo .duty {
	margin: 0;
}
.sender-baseinfo .name {
	line-height: 18px;
	padding: 4px 0 10px 0;
	font-size: 16px;
	color: #333;
}

.sender-baseinfo .dept,
.sender-baseinfo .duty {
	line-height: 24px;
	font-size: 14px;
	color: #999;
}

.sender-baseinfo .text {
	color: #333;
}

.sender-contact {
	padding: 14px 0 14px 18px;
}

.contact-item {
	float: left;
	min-width: 172px;
}

.contact-item img {
	vertical-align: top;
	margin-right: 6px;
}

.contact-item .contact-phone {
	display: inline-block;
	line-height: 22px;
	vertical-align: top;
	font-size: 14px;
	font-family: Arial;
}