/**!
 * 新的统一认证平台-登录页
 * author: xiaolong;
 * date: 20170509
 */

.bg {
    overflow: hidden;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -5;
    zoom: 1;
    background-attachment: fixed;
    background: center 0px;
}

.bg img {
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    position: fixed;
}


/* 登录主体 */

.content {
    width: 402px;
    height: 411px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -205px;
    margin-left: -201px;
}

.login-tt {
    height: 84px;
}

.login-tt img {
    vertical-align: top;
}

.login-wrap {
    width: 402px;
    height: 327px;
    background: #fff;
    font-family: "microsoft yahei";
    background: url("../images/login-bg.png") left top no-repeat;
}

.login-authe-wrap {
    width: 402px;
    background: #fff;
    font-family: "microsoft yahei";
    background: url("../images/login-bg.png") left top no-repeat;
    padding-bottom: 20px;
}


.login-tab-head {
    height: 36px;
    padding-top: 16px;
    padding-left: 15px;
}

.login-tab-head-item {
    width: 86px;
    height: 36px;
    margin-left: 20px;
    line-height: 36px;
    padding-left: 22px;
    text-align: left;
    font-size: 16px;
    color: #cee4fd;
    cursor: pointer;
    background: url("../images/radio-uncheck.png") 0 11px no-repeat;
}

.login-tab-head-item.act {
    color: #fff;
    font-weight: bold;
    background-image: url("../images/radio-checked.png");
}

.login-tabcontent-item {
    /*padding-top: 22px;*/
}

.login-row {
    position: relative;
    padding-top: 16px;
    margin: 0 32px 0;
}

.icon-user, .icon-psd {
    position: absolute;
    width: 26px;
    height: 15px;
    top: 29px;
    left: 18px;
    border-right: 1px solid #666;
}

.icon-user, .icon-psd {
    background: url(../images/icon-user.png) left top no-repeat;
}

.icon-psd {
    background: url(../images/icon-psd.png) left top no-repeat;
}

.icon-erwm {
    position: absolute;
    display: block;
    width: 18px;
    height: 18px;
    top: 12px;
    right: 14px;
    cursor: pointer;
    background: url(../../images/icon-erwm.png);
}

.icon-keyboard {
    position: absolute;
    display: block;
    width: 24px;
    height: 15px;
    top: 14px;
    right: 11px;
    cursor: pointer;
    background: url(../../images/icon-keyboard.png);
}

.login-input {
    box-sizing: border-box;
    height: 42px;
    line-height: 42px;
    font-size: 14px;
    font-family: microsoft yahei;
    color: #333;
    border: 0;
    width: 100%;
    border: 0;
    border-radius: 3px;
    padding: 0 56px;
}

.login-verification-input {
	box-sizing: border-box;
	height: 32px;
	line-height: 32px;
	font-size: 14px;
	font-family: microsoft yahei;
	color: #333;
	border: 0;
	width: 60%;
	border: 0;
	border-radius: 3px;
	padding: 0 56px;
}

.btngetcode {
	height: 32px;
	width: 110px;
	cursor: pointer;
	margin-left: 4px;
	vertical-align: middle !important;
}

.login-input:focus {
    border-color: #015bbb;
    box-shadow: 0 0 3px #015bbb;
    outline: 0;
}

.login-input::-webkit-input-placeholder {
    color: #808080;
}

.login-input:-moz-placeholder {
    color: #808080;
}

.login-input::-moz-placeholder {
    color: #808080;
}

.login-input:-ms-input-placeholder {
    color: #808080;
}

.login-btn-row {
    padding: 32px 32px 0;
}

.placeholder {
    color: #808080;
}

.btn-login {
    width: 100%;
    height: 42px;
    border: 0;
    background-color: #015bbb;
    border-radius: 3px;
    font-size: 18px;
    font-family: "microsoft yahei";
    color: #fff;
    cursor: pointer;
}

.btn-login:hover {
    /*background-color: #fe6e1f;*/
}

.usb-note {
    height: 44px;
    line-height: 44px;
    padding-left: 45px;
    color: #f86d42;
    background: url(images/icon-sad.png) 15px 11px no-repeat;
}


/*
  * 先把没实现的功能隐藏掉
  */

.download-area {
    visibility: hidden;
}

.login-input {
    padding-right: 5px;
}

.login-row>i {
    display: none;
}

/* footer */

.footer {
    position: fixed;
    width: 100%;
    bottom: 20px;
    line-height: 26px;
    color: #fff;
    font-family: "Microsoft Yahei";
    font-size: 14px;
    text-align: center;
}

.footer a {
    margin-right: 22px;
    color: #fff;
}

/*认证页面*/

.authen-tt {
    padding: 26px 32px 0;
    line-height: 32px;
    font-size: 18px;
    color: #fff;
}

.authen-right-item {
    margin: 16px 32px 0;
    height: 42px;
    background-color: #fff;
    border-radius: 3px;
    cursor: pointer;
}

.authen-right-item-none {
	margin: 16px 32px 0;
    height: 42px;
    background-color: #fff;
    border-radius: 3px;
    cursor: pointer;
    display: none;
}

.authen-right-label {
    display: inline-block;
    height: 42px;
    line-height: 42px;
    font-size: 15px;
    padding-left: 44px;
    color: #666;
    cursor: pointer;
    background: url("../images/icon-checkbox.png") 15px center no-repeat;
}

.authen-right-item.checked .authen-right-label {
    background-image: url("../images/icon-checkbox-checked.png");
}
