
html ,
body {
    min-height : 100%;

    background : #fff;
    /*min-height : 100vh;*/
}
.elem-container {
    -webkit-box-sizing : border-box;
            box-sizing : border-box;
    height : auto;
    min-height : 100%;
    /*min-height : 100vh;*/
    padding : 10px 20px;
}
.elem-item {
    position : relative;
}
.elem-inner {
    position : absolute;

    -webkit-transition : all .4s linear ;
            transition : all .4s linear ;

    -webkit-box-shadow : 0 0 4px 0 rgba(0,0,0,.5);
            box-shadow : 0 0 4px 0 rgba(0,0,0,.5);
}

.elem-item-name {
    padding : 5px 10px;

    cursor : default;
}
.elem-item-btn {
    position : absolute;
    right : 10px;
    bottom : 10px;

    display : none;

    width : 20px;
    height : 20px;

    cursor : pointer;

    background : url(./images/disabled.png) center no-repeat;
}
.elem-item-btn:hover {
    background : url(./images/disabled-h.png) center no-repeat;
}
.elem-item:hover .elem-item-btn {
    display : block;
}
.elem-item.disabled {
    /*opacity : .8;*/
}
.elem-item.disabled .elem-inner {
    background : rgba(0,0,0,.2);
    -webkit-box-shadow : none;
            box-shadow : none;
}
.elem-item.disabled .elem-item-btn {
    background : url(./images/start.png) center no-repeat;
}
.elem-item.disabled .elem-item-btn:hover {
    background : url(./images/start-h.png) center no-repeat;
}
