@mixin text-ellipsis {
    overflow: hidden;

    white-space: nowrap;
       text-overflow: ellipsis;

    -o-text-overflow: ellipsis;
}

@mixin user-select($v: none) {
    -webkit-user-select: $v;
       -moz-user-select: $v;
        -ms-user-select: $v;
            user-select: $v;
}

@mixin box-sizing($boxsizing: border-box) {
    -webkit-box-sizing: $boxsizing;
       -moz-box-sizing: $boxsizing;
            box-sizing: $boxsizing;
}

@mixin center-block {
    margin-right: auto;
    margin-left: auto;
}

@mixin transition($trans...) {
    -webkit-transition: $trans;
       -moz-transition: $trans;
         -o-transition: $trans;
            transition: $trans;
}
@mixin animation($anim...) {
    -webkit-animation: $anim;
       -moz-animation: $anim;
            animation: $anim;
}
@mixin box-shadow($shadow...) {
    -webkit-box-shadow: $shadow;
       -moz-box-shadow: $shadow;
            box-shadow: $shadow;
}

@mixin opacity($opacity: .5) {
    opacity: $opacity; 
    filter: alpha(opacity=$opacity * 100);
    // @if $filter {  filter: alpha(opacity=$opacity * 100); // }
}

@mixin transition($trans...) {
    -webkit-transition: $trans;
       -moz-transition: $trans;
         -o-transition: $trans;
            transition: $trans;
}

@mixin min-height($height) {
    min-height: $height; 
    _height: $height;
    // @if $legacy-support-for-ie {  _height: $height; // }
}
