.left-menu-list::-webkit-scrollbar-thumb {
  background-color: #7a88a4;
}
.left-menu-list::-webkit-scrollbar-thumb {
  background-color: #313d56;
}

.classify-search-input {
  font-size: 14px;
}
.classify-search-input::-webkit-input-placeholder {
  color: #404e67;
}

.classify-search-input:-moz-placeholder {
  color: #404e67;
}

.classify-search-input::-moz-placeholder {
  color: #404e67;
}

.classify-search-input:-ms-input-placeholder {
  color: #404e67;
}

.classify-search-btn {
  right: none;
  left: 0;
}
.header-search .classify-search-input {
  padding-left: 24px;
}

.top-portal-cate-item {
  color: #2285d9
}

.portal.multi .top-portal-cate-item:hover {
  background: #ebf5ff
}

.portal.multi .portal-box-inner,
.portal.multi .top-portal-cate-item.active {
  background: #ebf5ff;
  color: #2285d9
}

.portal.multi .top-portal-item:hover {
  background: #7cbbf1;
  color: #fff
}

.quick-menu-item:hover,
.top-portal-item:hover {
  color: #2285d9;
  background: #ebf5ff
}

.user-action-item:hover {
  color: #2285d9
}

.top-menu-wrap.hold-color {
  color: #fff;
  background: #2285d9
}

.top-menu-wrap.active {
  color: #fff;
  background: #2285d9
}

.top-menu-wrap.active .top-menu-trigger {
  background: #fff
}

.top-menu-wrap.active .top-menu-trigger:after {
  background: url(./images/header/menu-close.png) center no-repeat
}

.top-menu-wrap.active .top-menu-item:hover,
.top-menu-wrap.active .top-menu-item.active {
  color: #fff;
  background: #2590eb;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3)
}

.header-search .classify-search-history-item>.classify-search-history-remove {
  color: #2285d9
}

.header-search .classify-search-history-item:hover,
.header-search .classify-search-history-item.active {
  color: #2285d9;
  background: #ebf5ff
}

.header-search .classify-search-classify-item:hover,
.header-search .classify-search-classify-item.active {
  background: #ebf5ff
}

.header-search .classify-search-classify-item .classify-search-classify-kw {
  color: #2285d9
}

.new-remind-wrap {
  background: #2590eb
}

.new-remind-wrap:before {
  border-bottom-color: #2590eb
}

.ie8 .header-search .classify-search-input {
  background: #1f4d8c
}

.left-menu-header {
  background: #142a49
}
.left-menu-sub-list {
  background-color: #0f2037;
}

.left-menu-item.level-1.opened>.left-menu-link {
  /* background-color: #142a49; */
  /* background-color: transparent; */
  /* background-color: #142948; */
}

/* .left-menu-item.level-1>.left-menu-link:hover {
background: #142a48;
} */

.left-menu-item.level-1>.left-menu-link:hover>.left-menu-trigger {
  /* background-image: url(./images/leftmenu/menu-right-w.png) */
}

.left-menu-item .opened>.left-menu-link {
  color: #2590eb;
}

.left-menu-item.level-1.opened>.left-menu-link {
  color: #2590eb;
}

.left-menu-item.level-1.opened>.left-menu-link>.left-menu-trigger {
  /* background-image: url(./images/leftmenu/menu-down-w.png) */
}

.left-menu-link {
  /* 修改 by jqn start*/
  color: #ffffff;
  /* 修改 by jqn end*/
}

.left-menu-link:hover,
.left-menu-link.active {
  background: #142a48;
  /* 修改 by jqn start*/
  color: #2590eb;
  /* 修改 by jqn end*/
}

.left-menu-link.active::before {
  content: '';
  position: absolute;
  /* 修改 by jqn start*/
  top: 5px;
  left: 0px;
  width: 17px;
  height: 34px;
  /* border-radius: 3px; */
  /* background-color: #5abfff; */
  background: url(./images/leftmenu/menu-activecircle.png) center no-repeat;
  background-size: 100% 100%;
  /* box-shadow: 0 0 16px #5abfff; */
  /* 修改 by jqn end*/
}
.main.left-narrow .left-menu-sub-inner {
  display: none;
}
/* .main.left-narrow .left-menu-sub-inner {
  background: #0e1c36
}

.main.left-narrow .left-menu-item.level-2 {
  margin-left: -30px
}

.main.left-narrow .left-menu-item.level-2 .left-menu-link {
  color: #fff
}

.main.left-narrow .left-menu-item.level-2 .left-menu-link:hover {
  background: rgba(255, 255, 255, 0.1)
} */

.main-content-tab-wrap {
  background: #d5d7da;
  height: 40px;
  box-sizing: border-box;
  padding-top: 5px;
  padding-left: 5px;
}
.tabsnav-wrapper {
  position: relative;
  height: 100%;
}
.tabsnav-fixed {
  position: absolute;
  top: 0;
  left: 0;
}
.tabsnav-variable {
  /* position: absolute;
  top: 0;
  left: 35px;
  height: 100%; */
  margin-left: 35px;
}
/* .tabsnav-variable-wrap {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding-left: 35px;
  overflow: hidden;
} */
.tabsnav-tabs-list {
  margin-right: 0;
}
.tabsnav-tabs-item {
  background: #cce0f5;
  background: rgba(255, 255, 255, 0.25);
  border-color: #bbd5f1;
  color: #498cc5;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  border-radius: 4px;
  background-color: #eaeaea;
  color:#6e7888;
  margin-right: 5px;
  width: 110px;
}

.tabsnav-tabs-item.fixed {
  width: 30px;
  height: 30px;
  background: #eaeaea url(./images/tabsnav/home.png) center no-repeat;
  border-right: 0;
  /* margin-right: 0; */
}
.tabsnav-tabs-item.fixed:hover,
.tabsnav-tabs-item.fixed.active {
  background: #2590eb url(./images/tabsnav/home-active.png) center no-repeat;
}

.tabsnav-tabs-item.fixed .tabsnav-tabs-name,
.tabsnav-tabs-item.fixed .tabsnav-tabs-refresh {
  display: none;
}

.tabsnav-tabs-item:hover,
.tabsnav-tabs-item.active {
  background-color: #2590eb;
  color: #fff
}

.tabsnav-contextmenu-item:hover,
.tabsnav-quicknav-item:hover {
  color: #2285d9;
  background-color: #ebf5ff
}

.tabsnav-quicknav-trigger {
  background: url(./images/tabsnav/trigger-btn.png) center no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  transform: rotate(180deg);
  height: 100%;
  background-color: #d5d7da;
  opacity: 1;
}

.msg-panel {
  border-top-color: #2285d9
}

.msg-panel-hide {
  background: url("images/right-msg/icon-toright.png")
}

.message-content-wrap.empty {
  background-image: url(./images/right-msg/no-msg.png)
}

.msg-category-head:after,
.msg-result-head:after,
.msg-history-head:after {
  background: #2285d9
}

.msg-category-num {
  color: #2285d9
}

.msg-category-remove:hover {
  background: url("images/right-msg/icon-msgdel-hover.png")
}

.msg-list-item:hover,
.msg-list-item.newmsg:hover {
  color: #2285d9
}

.msg-item-ignore:hover {
  background: url("images/right-msg/icon-eye-hover.png")
}

.emsg-recent-list.empty {
  background: url("images/right-msg/no-exun.png") no-repeat 50% 130px
}

.emsg-ignore-icon {
  background: #2590eb
}

.emsg-ignore-icon:hover {
  background: #2285d9
}

.emsg-recent-item:hover {
  background: #ebf5ff
}

.msg-panel-head.tab>.panel-hd-tab.active,
.msg-panel-head.tab>.panel-hd-tab:hover {
  color: #2285d9
}

.emsg-dialog-left {
  background: #2590eb
}

.emsg-btn-send {
  background: #2590eb
}

.emsg-btn-send:hover {
  background: #389aed
}

.emsg-session-list .emsg-session-item:hover,
.emsg-session-list .emsg-session-item.active {
  background: rgba(255, 255, 255, 0.6)
}

.emsg-message-item.send .emsg-message-content>div {
  background: #bfe2ff
}