.fui-accordions {}
.acc-menu-item {
    &:hover,
    &.active {
        color: @primary-color;
    }
    &.active:before {
        border-color: @primary-color;
    }
}

.fui-acc {
    &-hd {
        color: @primary-color;
        border-bottom-color: @primary-color;
    }

    &-toggle {
        color: @primary-color;

        &:hover {
            color: @primary-hover-color;
        }
    }
}
