/*!
* 多表合一
* author:jiangqn
* date: 2020-02-12
* version: 1.0.0
*/

/* 公共样式 */
.font-0 {
    font-size: 0;
}
.relative {
    position: relative;
}
.ver-md {
    vertical-align: middle;
}
.ver-inner-md::after {
    content: '';
    width: 0;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}
.box-inline {
    display: inline-block;
}
.box-block {
    display: block;
}
.container {
    width: 100%;
    height: 100%;
}
.hide-scroll {
    -ms-scroll-chaining: chained;
    -ms-overflow-style: none;
    -ms-content-zooming: zoom;
    -ms-scroll-rails: none;
    -ms-content-zoom-limit-min: 100%;
    -ms-content-zoom-limit-max: 500%;
    -ms-scroll-snap-type: proximity;
    -ms-scroll-snap-points-x: snapList(100%, 200%, 300%, 400%, 500%);
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.hide-scroll::-webkit-scrollbar {
    display: none;
}

/* 主体 */
.content {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: relative;
    padding: 20px 40px 70px;
}
/* 流程部分 */
.flow {
    width: 200px;
    height: 8px;
    margin: 0 auto;
    font-size: 0;
    margin-bottom: 70px;
}
.flow-circle {
    position: relative;
    display: inline-block;
    width: 12px;
    height: 12px;
    box-sizing: border-box;
    border: 2px solid #e6e6e6;
    vertical-align: middle;
    border-radius: 50%;
}
.flow-circle-txt {
    color: #5c5c5c;
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    top: 20px;
    left: 0;
    margin-left: 5px;
    transform: translate(-50%);
    white-space: nowrap;
}
.flow-circle.before {
    border-color: #51a6ef;
}
/* .flow-circle.before .flow-circle-txt {
    color: #51a6ef;
} */
.flow-circle.active {
    border-color: #51a6ef;
    background-color: #51a6ef;
}
.flow-circle.active .flow-circle-txt {
    color: #2590EB;
}
.flow-line {
    display: inline-block;
    width: 150px;
    height: 2px;
    background-color: #e6e6e6;
    vertical-align: middle;
    margin: 0 5px;
}
/* .flow-line.before {
    background-color: #2590EB;
} */
/* 底部 */
.bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    background-color: #f5f5f5;
}

/* 表部分 */
.main {
    width: 100%;
    height: calc(100% - 80px);
}

.chart {
    width: 200px;
    height: 100%;
    box-sizing: border-box;
    border: 1px solid #e6e6e6;
}
.chart-hd {
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #e6e6e6;
    box-sizing: border-box;
    padding-left: 10px;
    background-color: #fafafa;
}
.chart-list {
    height: calc(100% - 41px);
    overflow: auto;
    box-sizing: border-box;
}
.chart-item {
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    cursor: pointer;
}
.chart-item:hover {
    background: #f5f5f5;
}
.chart-item.active {
    background: #e8f4ff;
}
.chart-index {
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    background-color: #51a6ef;
    color: #fff;
    border-radius: 3px;
}


.field {
    width: 200px;
    height: 100%;
    box-sizing: border-box;
    border: 1px solid #e6e6e6;
    border-left: none;
}
.field-hd {
    height: 40px;
    line-height: 1;
    border-bottom: 1px solid #e6e6e6;
    box-sizing: border-box;
    font-size: 0;
    background-color: #fafafa;
}
.field-input {
    border: none;
    outline: none;
    font-size: 16px;
    width: calc(100% - 35px);
    padding-left: 10px;
    box-sizing: border-box;
    background-color: transparent;
    font-size: 14px;
}
.icon-search {
    width: 30px;
    height: 100%;
    line-height: 39px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    color: #808080;
}
.field-list {
    height: calc(100% - 41px);
    overflow: auto;
    box-sizing: border-box;
}
.field-item {
    position: relative;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    cursor: pointer;
}
.field-item:hover {
    background-color: #f7fbff;
}
.field-item:hover:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #4d9ee4;
    box-sizing: border-box;
}
.field-item.disabled {
    background-color: #f8f9fb;
    cursor: not-allowed;
    color: #c4c4c4;
}
.field-item.disabled:before{
    display: none;
}
.tools {
    position: relative;
    width: 50px;
    height: 100%;
    text-align: center;
}
.auto-merge {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -16px;
    margin-left: -16px;
    width: 32px;
    height: 32px;
    background: url(./image/merge.png) center no-repeat;
    cursor: pointer;
}
.merge {
    width: calc(100% - 451px);
    height: 100%;
    border: 1px solid #e6e6e6;
    box-sizing: border-box;
}
.merge-hd {
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #e6e6e6;
    box-sizing: border-box;
}
.merge-hd-txt {
    padding-left: 10px;
}
.delete-btn {
    font-family: ActionIcon!important;
    width: 30px;
    height: 100%;
    line-height: 39px;
    text-align: center;
    cursor: pointer;
    color: #808080;
    font-size: 16px;
}
.delete-btn:before {
    content: '\e723';
}
.delete-btn:hover {
    color: #2590EB;
}
.merge-list {
    height: calc(100% - 41px);
    overflow: auto;
    box-sizing: border-box;
    padding-bottom: 100px;
}
.merge-box {
    padding: 10px 0 0 10px;
    border-bottom: 1px solid #e6e6e6;
    overflow-x: auto;
    overflow-y: hidden;
    height: 48px;
    white-space: nowrap;
    font-size: 0;
    scrollbar-width: 2px;
}
.merge-item {
    position: relative;
    height: 30px;
    margin-right: 20px;
    margin-bottom: 10px;
    font-size: 0;
    cursor: pointer;
    line-height: 1;
    box-sizing: border-box;
    background-color: #F2F4F8;
    /* border-radius: 2px; */
    /* overflow: hidden; */
    font-size: 0px;
    white-space: nowrap;
}
.merge-item + .merge-item:before {
    content: '';
    position: absolute;
    top: 0;
    left: -18px;
    width: 15px;
    height: 30px;
    background: url(./image/link.png) center no-repeat;
}   

.bite {
    pointer-events: none;
}
.merge-item-index {
    display: inline-block;
    line-height: 30px;
    padding: 0 5px;
    background-color: #c2c5ca;
    font-size: 14px;
    color: #fff;
}
.merge-item-txt {
    display: inline-block;
    line-height: 30px;
    padding: 0 10px;
    background-color: #f2f4f8;
    font-size: 14px;
    white-space: nowrap;
}
.merge-item.checked:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 1px solid #67A1FC;
}
/* .merge-item.checked .merge-item-index,
.merge-item.checked .merge-item-txt {
    line-height: 28px;
} */
.merge-item:hover .merge-delete-btn{
    opacity: 1;
    
}
.merge-delete-btn {
    opacity: 0;
    display: inline-block;
    width: 20px;
    height: 100%;
    line-height: 30px;
    font-family: ActionIcon!important;
    text-align: left;
    cursor: pointer;
    font-size: 14px;
}
.merge-delete-btn:before {
    content: '\e723';
}
.placeholder {
    position: relative;
    width: 150px;
    height: 30px;
    /* border: 1px dashed #67A1FC; */
    border: 1px solid #67A1FC;
    box-sizing: border-box;
    margin-right: 10px;
    margin-bottom: 10px;
}
.placeholder:after {
    content: '';
    position: absolute;
    top: 0;
    left: -18px;
    width: 15px;
    height: 30px;
    background: url(./image/link-active.png) center no-repeat;
}
.placeholder.mar {
    margin-top: 10px;
    margin-left: 10px;
    border: 1px dashed #67A1FC;
}
.placeholder.mar:after {
    display: none;
}


/* 公共样式 */
.font-0 {
    font-size: 0;
}
.relative {
    position: relative;
}
.ver-md {
    vertical-align: middle;
}
.ver-inner-md::after {
    content: '';
    width: 0;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}
.box-inline {
    display: inline-block;
}
.box-block {
    display: block;
}
/* .hide-scroll {
    -ms-scroll-chaining: chained;
    -ms-overflow-style: none;
    -ms-content-zooming: zoom;
    -ms-scroll-rails: none;
    -ms-content-zoom-limit-min: 100%;
    -ms-content-zoom-limit-max: 500%;
    -ms-scroll-snap-type: proximity;
    -ms-scroll-snap-points-x: snapList(100%, 200%, 300%, 400%, 500%);
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.hide-scroll::-webkit-scrollbar {
    display: none;
} */