$dark-blue: #3795e2;
$lightblue: #4ea7f0;
$iconblue: #4795df;
$iconInWhiteblue: #1890ff;
$kwBlue:#00fcff;
.search-container {
    // background:$gray;
    background: transparent;
}

.classify-search {
    &-input {
        background: #3795e3;
        &:focus {
            background: #2e88d6;
        }
    }
    &-history-panel,
    &-classify-panel {
        background: $lightblue;
        color: #fff;
        // box-shadow: 0 2px 10px rgba($lightblue, .4);
        box-shadow: 0 2px 10px rgba(#000, .2);
    }

    &-history-footer {
        border-top-color: $dark-blue;
        color: darken(#d8ebfa, 5);
        &-icon {
            background-image: url("./images/left/icon-del.png");
        }

        &:hover {
            color: #d8ebfa;
        }
    }

    &-classify-item,
    &-history-item {

        &:hover,
        &.active {
            background-color: #60b3f6;
            color: #fff;
        }
    }

    &-classify {

        &-item:after {
            display: inline-block;
            background: url(./images/left/view-more-arrow.png) center no-repeat;
            width: 10px;
            height: 20px;
            content: " ";
            padding-left: 4px;
            vertical-align: top;
            margin-top: 5px;
        }
        &-item &-icon {
            width: 22px;
            height: 22px;
            line-height: 22px;
            border-radius: 50%;
            background: $iconblue;
            color: #fff;
            font-size: 14px;
            font-size: .14rem;
            vertical-align: top;
            margin-top: 4px;
        }

        @at-root {

            &-kw,
            .search-kw {
                color: $kwBlue;
            }
        }
    }

    @at-root .top-search {

        &-user-list,
        &-module-list {
            border-bottom-color: $dark-blue;
        }

        &-user-item,
        &-module-item {
            &-icon {
                width: 22px;
                height: 22px;
                line-height: 22px;
                border-radius: 50%;
                background: $iconblue;
                color: #fff;
                font-size: 14px;
                font-size: .14rem;
                vertical-align: top;
                margin-top: 4px;
                text-align: center;
            }

            &:hover {
                background-color: #60b3f6;
                color: #fff;
            }
        }
    }

}