/*
 * 作者：guotq
 * 时间：2017-06-13 10:32:49
 * 描述： 搜索框皮肤6
 */

.em-srhbar {
	position: relative;
	height: 35px;
	margin-left: 10px;
	margin-right: 10px;
}

.em-srhbar .em-srhbar-input {
	width: 15px;
	height: 35px;
	margin: 0;
	padding-left: 20px;
	color: #999;
	border: solid 1px #ccc;
	background: #ededed url(images/search-icon.png) no-repeat;
	background-position: 8px 7px;
	font-size: .83rem;
	border-radius: 10em;
	transition: all .5s;
}

.em-srhbar .em-srhbar-input::placeholder {
	color: #999;
}

.em-srhbar .em-srhbar-input:focus {
	width: 100%;
	padding-left: 35px;
	background-color: #fff;
	border-color: #6dcff6;
	box-shadow: 0 0 5px rgba(109, 207, 246, .5);
}
