/*
 * 作者：guotq
 * 时间：2017-06-13 10:32:49
 * 描述：搜索框皮肤5
 */

.em-srhbar {
	position: relative;
	height: 35px;
	margin-left: 10px;
	margin-right: 10px;
}

.em-srhbar .em-srhbar-icon {
	position: absolute;
	top: 6px;
	left: 7px;
	z-index: 1;
}

.em-srhbar .em-srhbar-input {
	position: absolute;
	width: 160px;
	height: 35px;
	margin: 0;
	padding-left: 32px;
	color: #999;
	border: solid 1px #ccc;
	background-color: #ededed;
	font-size: .83rem;
	border-radius: 10em;
	transition: all .5s;
}

.em-srhbar .em-srhbar-input::placeholder {
	color: #999;
}

.em-srhbar .em-srhbar-input:focus {
	width: 100%;
	background-color: #fff;
	border-color: #6dcff6;
	box-shadow: 0 0 5px rgba(109, 207, 246, .5);
}
