$black:#2a2a36;
$gray:#353544;
$lightBlack:#3c3c56;
$white:#fff;

$blue:#6894f5;


.breeze-body {
    ::-webkit-scrollbar-track-piece {
        width: 10px;
        background-color: $black;
    }

    ::-webkit-scrollbar {
        width: 3px;
        height: 6px;
    }

    ::-webkit-scrollbar-thumb {
        height: 50px;
        background: rgba(#fff, .15);
        cursor: pointer;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: rgba(#fff, .15);
        cursor: pointer;
    }
}

.surface-menu {
    background: $black;

    .sidebar-main {
        .leaf-item {
            a .font-icons {
                background: rgba(#fff, .15);
            }

            &.active,
            &:hover {
                background-color: $blue;

                .font-icons {
                    color: $white;
                }

                a {
                    color: $white;
                }

                .arrow-icon {
                    background-image: url('images/left/icon_more.png');
                }
            }
        }
    }

    .sidebar-popup {
        background-color: $black;
        box-shadow: 3px 3px 10px rgba($black, .2);

        .popup-name {
            background-color: $black;
        }

        .popup-title {
            border-bottom: 1px solid #363b3e;
        }

        .second-warp {

            // 一级
            &>ul>.leaf-item {

                // 二级
                .dep-1 {
                    background-color: $gray;
                }

                a {
                    &:hover {
                        background-color: $blue;
                        color: #fff;

                        .arrow-icon {
                            background-image: url('images/left/icon_more.png');
                        }
                    }

                    .font-icons {
                        background: rgba(#fff, .15);
                        font-size: 14px;
                        border-radius: 50%;
                    }

                    &.active {
                        .arrow-icon {
                            background-image: url('images/left/icon_more_down.png');
                        }

                        &:hover {
                            .arrow-icon {
                                background-image: url('images/left/icon_more_down.png');
                            }
                        }
                    }
                }
            }
        }
    }
}

.search-container {
    // background:$gray;
    background: transparent;
}

.classify-search {
    &-input {
        background: #1d1e25;
        &:focus {
            background: #15161d;
        }
    }
    &-history-panel,
    &-classify-panel {
        background: $gray;
        color: #fff;
        box-shadow: 0 2px 10px rgba(#000, .2);
    }

    &-history-footer {
        border-top-color: #2a2a36;
        color: #666;

        &:hover {
            color: #999;
        }
    }

    &-classify-item,
    &-history-item {

        &:hover,
        &.active {
            background-color: $lightBlack;
            color: #fff;
        }
    }

    &-classify {

        &-item:after {
            display: inline-block;
            background: url(./images/left/view-more-arrow.png) center no-repeat;
            width: 10px;
            height: 20px;
            content: " ";
            padding-left: 4px;
            vertical-align: top;
            margin-top: 5px;
        }
        &-item &-icon {
            width: 22px;
            height: 22px;
            line-height: 22px;
            border-radius: 50%;
            background: rgba(255, 255, 255, 0.15);
            color: #fff;
            font-size: 14px;
            font-size: .14rem;
            vertical-align: top;
            margin-top: 4px;
        }

        @at-root {

            &-kw,
            .search-kw {
                color: $blue;
            }
        }
    }

    @at-root .top-search {

        &-user-list,
        &-module-list {
            border-bottom-color: #2a2a36;
        }

        &-user-item,
        &-module-item {
            &-icon {
                width: 22px;
                height: 22px;
                line-height: 22px;
                border-radius: 50%;
                background: rgba(255, 255, 255, 0.15);
                color: #fff;
                font-size: 14px;
                font-size: .14rem;
                vertical-align: top;
                margin-top: 4px;
                text-align: center;
            }

            &:hover {
                background-color: $lightBlack;
                color: #fff;
            }
        }
    }

}

/* 主体 */
.surface-main {
    background: url("./images/main/bg.png") center no-repeat;
    background-size: cover;
}

.surface-header {
    background-color: transparent;
}