$header_bg_css:linear-gradient(to right, #095dbd, #47abf6);
$header_bg: #2681d8 url("../../images/header/bg.png");
$header_border: #fff;
$header_spliter:#fff;
// ================================
// user drop panel bg
$user_panel_bg:#364dba;
// color
$user_panel:#fff;
// oucolor
$user_ou_color:#cce2ff;
// user links
$user_link_hover:#185197;
$user_links_border:#3a7bd3;
// ================================
// content bg
$content_bg:#eaf3fc;

$link_color: #2884d9;

// 下拉列 hover 颜色和背景
$panelItemColor: #2285d9;
$panelItemBg: #ebf5ff;

body {
    background: $content_bg;
}
.header {
    background: $header_bg;
    background-size: 100% 100%;
    background-size: cover;
    background-image: $header_bg_css;

    &:before {
        border-bottom-color: transparent;
        // border-image: $header_bg_css;
    }

    .header-left {
        .top-portal-container {
            &.active {
                .top-portal-btn {
                    background-image: url("./images/header/icon-portal-h.png");
                } 
            }
        }
        .top-portal-btn {
            background-image: url("./images/header/icon-portal.png");
        }

        .header-menu-btn {
            &:after {
                background: url("./images/header/icon-menu.png") center no-repeat;
            }
        }
    }

    // @each $i in help,
    // theme,
    // remind,
    // chart {
    //     .header-action-btn.#{$i} {
    //         background-image: url("./images/header/#{$i}.png");
    //     }
    // }
}

.main {
    background: $content_bg;
}

.header-search {

    &-btn,
    .classify-search-btn {
        background-image: url("./images/header/icon-search.png");
    }

    .classify-search-input {
        border-color: transparent;
        border-bottom-color: #a5b1c2;
        background: transparent;
        color: #fff;

        @each $i in '::-webkit-input-placeholder',
        ':-moz-placeholder',
        '::-moz-placeholder',
        ':-ms-input-placeholder',
        '.placeholder' {
            &#{$i} {
                color: #ddd;
            }
        }
    }
}

.msg-panel {
    border-top-color: #2a92eb;
}

.message-content-wrap {
    @at-root {
        .msg-category-num {
            font-weight: normal;
            color: #2a92eb
        }
        .msg-list-item:hover,
        .msg-list-item.newmsg:hover {
            color: #2a92eb
        }
        .msg-category-head,
        .msg-result-head,
        .msg-history-head {
            // border-bottom-color:  #dcdcdc;

            &:after {
                background: #2a92eb
            }
        }
    }

     /* emsg */
     @at-root {
        .emsg-ignore-icon {
            background: #2590eb;
            &:hover {
                background: #2285d9;
            }
        }
        .emsg-recent-item:hover {
            background: $panelItemBg;
        }
        .msg-panel-head.tab>.panel-hd-tab.active,
        .msg-panel-head.tab>.panel-hd-tab:hover {
            color: $panelItemColor
        }
    }
}
/* exun skin*/
// 色值复写
// 左侧背景
$emsg_left_bg:#2590eb;
// 发送按钮颜色
$emsg_send_btn_bg:#2590eb;
// 自己消息内容的背景色
$my_words_bg:#bfe2ff;
@import "../../../../../js/widgets/emsg/emsg-skin.scss";

.emsg-cgroup-header {
    border-bottom: 1px solid $link_color;
    color: $link_color;
}