/**!
 * 数据建模概况
 * date:2020-10-15
 * author: xhz;
 */
* {
	box-sizing: border-box;
}
html {
	height: 100%;
	background: #e8e8e8;
	width: 100%;
	padding: 16px !important;
	body {
		.main {
			height: 100%;
		}
		height: 100%;
		.flow-content {
			height: 32%;
			.flow {
				position: absolute;
				left: 0;
				bottom: 0;
				right: 0;
				top: 45px;
				li {
					height: 100%;
					width: 25%;
					float: left;
					position: relative;
					text-align: center;
					> div {
						position: absolute;
						width: 215px;
						height: 180px;
						left: 50%;
						top: 50%;
						transform: translate3d(-50%, -50%, 0);
						padding-top: 102px;
						> img {
							position: absolute;
							left: 50%;
							top: 30%;
							transform: translate3d(-50%, -50%, 0);
						}
						h1 {
							font-size: 18px;
						}
						p {
							margin-top: 5px;
							color: #a3a3a3;
							line-height: 20px;
						}
					}
					&:last-child:after,
					&:first-child:before {
						display: none;
					}
					&:after {
						position: absolute;
						top: 50%;
						width: 54px;
						height: 6px;
						background: url(../images/dot.png) no-repeat center;
						right: 9px;
						margin-top: -28px;
						content: '';
					}
					&:before {
						position: absolute;
						top: 50%;
						width: 54px;
						height: 6px;
						background: url(../images/dot.png) no-repeat center;
						left: 9px;
						margin-top: -28px;
						content: '';
					}
				}
			}
		}
		.content-down {
			height: 68%;
			padding-top: 15px;
			.statistics {
				height: 100%;
				.platform {
					float: left;
					width: 50%;
					height: 100%;
					.platform-list {
						margin: 15px 13px 0 13px;
						height: 90px;
						background: #f9f9f9;
						li {
							float: left;
							height: 64px;
							line-height: 64px;
							width: 50%;
							margin-top: 13px;
							padding-left: 105px;
							// text-align: center;
							font-size: 15px;
							span {
								font-size: 26px;
								margin-left: 20px;
							}
							&:nth-child(1) {
								background: url(../images/icon1.png) no-repeat 22px center;
							}
							&:nth-child(2) {
								border-left: 1px solid #dddddd;
								background: url(../images/icon2.png) no-repeat 22px center;
							}
						}
					}
					.chart-title {
						height: 16px;
						line-height: 16px;
						padding-left: 5px;
						font-size: 16px;
						margin: 14px 0 0 13px;
						border-left: 3px solid #2590eb;
					}
					.modChart {
						position: absolute;
						bottom: 10px;
						left: 13px;
						top: 185px;
						right: 13px;
						width: auto !important;
						height: auto !important;
					}
				}
				.week {
					float: left;
					width: 50%;
					height: 100%;
					padding-left: 15px;
					> div {
						height: 100%;
						.weekChart {
							position: absolute;
							bottom: 10px;
							left: 13px;
							top: 55px;
							right: 13px;
							width: auto !important;
							height: auto !important;
						}
					}
				}
			}
		}
	}
}

.mod {
	background: #fff;
	position: relative;
	.mod-title {
		height: 45px;
		line-height: 43px;
		padding-left: 13px;
		border-bottom: 2px solid #eeeeee;
		font-size: 18px;
	}
}
