/* 个性化手风琴布局 */
.custom-accordions {
    max-width: 1800px;
    margin: 10px auto;
    /* opacity: 0; */
    /* padding: 0 10px; */
}

.custom-accordions .fui-accordion {
    position: relative;
    overflow: hidden;
}



.custom-accordions .fui-accordion:last-child:before,
.custom-accordions .fui-accordion:last-child:after {
    display: none;
}

.custom-accordions .fui-accordion+.fui-accordion {
    margin-top: 20px;
}

.fui-acc-hd:before,
.fui-acc-hd:after {
    display: table;

    content: ' ';
}

.fui-acc-hd:after {
    clear: both;
}

.custom-accordions .fui-acc-hd {
    position: absolute;
    top: 0;
    height: 36px;
    width: 100%;
    z-index: 2;
    border: none;
    padding: 0;
    background: #e9f0fa;

}

.custom-accordions .fui-acc-hd .ct-title {
    height: 100%;
    /* background: #eaf4fd; */
}

.custom-accordions .fui-acc-hd .ct-item {
    float: left;
    text-align: center;
    height: 36px;
    line-height: 36px;
    font-size: 16px;
    /* font-weight: bold; */
    color: #333;
    width: 0;
}

.custom-accordions .fui-acc-bd {
    margin: 36px 0 0 0;
}

.custom-accordions .fui-accordion.fixed .fui-acc-hd {
    position: fixed;

}

/* .custom-accordions .fui-accordion.opacity .fui-acc-toggle {
    opacity: 0;
} */



.custom-accordions .fui-acc-toggle {
    position: absolute;
    right: 10px;
    top: 0;
    display: block;
    height: 36px;
    width: 40px;
    line-height: 36px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: 0 0;
	margin-top:0 !important;
}

.custom-accordions .fui-acc-toggle:before {
    position: absolute;
    width: 40px;
    height: 36px;
    line-height: 36px;
    color: #999;
    top: 0;
    left: 0;
    margin-left:0!important;
    font-size: 14px;
    transform:rotate(0deg)!important;
    border:none!important;
}

.custom-accordions .fui-acc-toggle:after {
	border:none!important;
	margin-left:0!important;
}

.custom-accordions .opened .fui-acc-toggle:before {
    content: '收起';
}

.fui-accordion.closed .fui-acc-toggle:before{
	top:0 !important;
}

.custom-accordions .closed .fui-acc-toggle:before {
    content: '展开';
}

.custom-accordions .fui-acc-toggle:after {
    content: '' !important;
}

.custom-accordions .fui-acc-title {
    position: absolute;
    width: 160px;
    height: 36px;
    line-height: 36px;
    top: 0;
    left: 0;
    /* 未作皮肤处理 */
    background: url("../images/process-rect.png");
    color: #fff;
    overflow: hidden;
}

.custom-accordions .fui-acc-order {
    float: left;
    width: 24px;
    text-align: center;
    padding: 0;
    font-style: normal;
    /* 未作皮肤处理 */
    color: #748fbc;
    height: 24px;
    line-height: 24px;
    background: #eaf4fd;
    border-radius: 100%;
    margin: 6px 0 0 10px;
    font-size: 16px;
    font-weight: bold;

    /* font-weight: bold; */

}

.custom-accordions .fui-acc-innerTitle {
    margin: 0 5px 0 44px;
    display: block;
    height: 36px;
    line-height: 36px;
}

.custom-accordions .fui-acc-bd {
    background: #fff;
    min-height: 50px;
    padding: 0;
    /* padding: 15px 0; */
    /* min-height: 150px; */
}

.custom-accordions .fui-accordion.opened .fui-acc-bd {
    height: auto;
    overflow: visible;

}

.custom-accordions .fui-accordion.closed .fui-acc-bd {
    height: 0;
    overflow: hidden;
    display: block;
    min-height: 0;
    /* padding: 0 */
}

.custom-accordions .fui-acc-bd {
    position: relative;
    z-index: 1;
    border-radius: 0 0 5px 5px;
    background-color: #fff;
}

.custom-accordions .fui-acc-bd>.accordions-wrapper {
    width: 1200px;
    margin: 0 auto;
}

/* 范围选择 */
.range-list {
    margin-left: 3px;
}

.range-list>li {
    float: left;
    height: 26px;
    box-sizing: border-box;
    padding: 0 17px;
    border: 1px solid #ebebeb;
    color: #adadad;
    line-height: 24px;
    position: relative;
    z-index: 1;
    cursor: pointer;
}

.range-list>li:first-child {
    border-radius: 5px 0 0 5px;
}

.range-list>li:last-child {
    border-radius: 0 5px 5px 0;
}

.range-list>li+li {
    margin-left: -1px;
}

.range-list>li.active {
    border-color: #2590eb;
    color: #2590eb;
}

.range-list>li.active+li {
    z-index: 0;
}

.datePick {
    margin: 0 0 0 28px;
    height: 24px;
    line-height: 28px;
    border-radius: 5px;
    width: 170px;
    padding: 0 26px 0 10px;
    border: 1px solid #ddd;
    outline: none;
    background: url("../images/calendar.png") 180px center no-repeat;
}

/* 搜索 */
.work-name {
    color: #5c5c5c;
}

.search-input {
    float: left;
    width: 186px;
    height: 26px;
    box-sizing: border-box;
    border: 1px solid #dddddd;
    border-radius: 4px;
    padding-left: 10px;
    margin-top: 11px;
    line-height: 24px;
    outline: none;
}

.search-button {
    float: left;
    width: 70px;
    height: 26px;
    line-height: 26px;
    box-sizing: border-box;
    padding-left: 31px;
    margin: 11px 14px 0 6px;
    color: #fff;
    border-radius: 4px;
    background: url("../images/right-search.png") no-repeat 15px center;
    background-color: #2590eb;
}

.search-button:hover {
    background: #51a6ef url("../images/right-search.png") no-repeat 15px center;
}

.btn:hover {
    background-color: #51a6ef;
}

/* chosen */
.chosen-container {
    width: 185px !important;
    position: relative;
    top: -1px;
}

.chosen-container>a {
    height: 26px !important;
    line-height: 24px !important;
    border: 1px solid #ddd !important;
    border-radius: 3px;
    box-sizing: border-box;
    box-shadow: none !important;
}

.chosen-container .chosen-drop {
    border: 1px solid #ddd !important;
}

.chosen-container-single .chosen-single div b {
    background: url("../images/select-down.png") center center no-repeat;
}

.chosen-container-single.chosen-with-drop .chosen-single div b {
    background: url("../images/select-up.png") center center no-repeat;
}

.chosen-container .chosen-results li {
    padding: 2px 6px 2px 8px;
}