body {
    background-color: #fff;
    font-size: 14px !important;
}

/* *,:after,:before {
    box-sizing: border-box;
} */
/* 公共类 */
.font-0 {
    font-size: 0;
}

.relative {
    position: relative;
}

.ver-md {
    vertical-align: middle;
}

.ver-inner-md::after {
    content: '';
    width: 0;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.box-inline {
    display: inline-block;
}

.box-block {
    display: block;
}


.text-ellipsis2 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.hide {
    position: absolute;
    top: 0;
    left: -200%;
}

.ellicape {
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    overflow: hidden;
}

/* 左侧 */

.fui-content>div {
    position: relative;
    min-width: 1100px;
    height: 100%;
    background-color: #e8e8e8;
}

.left-container {
    float: left;
    height: 100%;
    width: 225px;
    background-color: #fff;
}

.left-top {
    height: 53px;
    border-bottom: 1px solid #e5e5e5;
    line-height: 53px;
}

.left-top>h3 {
    font-size: 16px;
    color: #5c5c5c;
    margin-left: 13px;
}

.left-top>a {
    float: right;
    width: 109px;
    height: 26px;
    box-sizing: border-box;
    background: url("../images/add_icon.png") no-repeat 16px center;
    line-height: 26px;
    color: #fff;
    border-radius: 4px;
    margin: 14px 15px 0 0;
    padding-left: 37px;
    background-color: #2590eb;
}

.left-top>a:hover {
    background-color: #51a6ef;
}

/* 搜索 */
.search-box {
    width: 199px;
    height: 26px;
    box-sizing: border-box;
    margin: 6px auto;
    border-radius: 4px;
    border: 1px solid #dddddd;
}

.search-box>input {
    box-sizing: border-box;
    height: 24px;
    outline: none;
    border: none;
    vertical-align: top;
    width: 170px;
    padding-left: 10px;
    line-height: 24px;
}

input::-webkit-input-placeholder {
    color: #b7b7b7;
 }
 
 input:-moz-placeholder {
    color: #b7b7b7;
 }
 
 input::-moz-placeholder {
    color: #b7b7b7;
 }
 
 input:-ms-input-placeholder {
    color: #b7b7b7;
 }
 
.search-box>a {
    float: right;
    height: 24px;
    width: 25px;
    background: url("../images/search-icon.png") no-repeat center;
}

/* 右侧 */
.right-container {
    position: relative;
    margin: 0 15px 0 240px;
    height: 100%;
    padding-top: 15px;
    box-sizing: border-box;
}

.right-top {
    height: 48px;
    background-color: #fff;
    line-height: 48px;
    padding-left: 8px;
}

.work-name {
    color: #5c5c5c;
}

.search-input {
    float: left;
    width: 186px;
    height: 26px;
    box-sizing: border-box;
    border: 1px solid #dddddd;
    border-radius: 4px;
    padding-left: 10px;
    margin-top: 11px;
    line-height: 24px;
    outline: none;
}

.search-button {
    float: left;
    width: 70px;
    height: 26px;
    line-height: 26px;
    box-sizing: border-box;
    padding-left: 31px;
    margin:11px 14px 0 6px;
    color: #fff;
    border-radius: 4px;
    background: url("../images/right-search.png") no-repeat 15px center;
    background-color: #2590eb;
}

.search-button:hover {
    background-color: #51a6ef;
}


