@charset "UTF-8";
/**!
 * 数据建模概况
 * date:2020-10-15
 * author: xhz;
 */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
  background: #e8e8e8;
  width: 100%;
  padding: 16px !important;
}

html body {
  height: 100%;
}

html body .main {
  height: 100%;
}

html body .flow-content {
  height: 32%;
}

html body .flow-content .flow {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 45px;
}

html body .flow-content .flow li {
  height: 100%;
  width: 25%;
  float: left;
  position: relative;
  text-align: center;
}

html body .flow-content .flow li > div {
  position: absolute;
  width: 215px;
  height: 180px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  padding-top: 102px;
}

html body .flow-content .flow li > div > img {
  position: absolute;
  left: 50%;
  top: 30%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
}

html body .flow-content .flow li > div h1 {
  font-size: 18px;
}

html body .flow-content .flow li > div p {
  margin-top: 5px;
  color: #a3a3a3;
  line-height: 20px;
}

html body .flow-content .flow li:last-child:after, html body .flow-content .flow li:first-child:before {
  display: none;
}

html body .flow-content .flow li:after {
  position: absolute;
  top: 50%;
  width: 54px;
  height: 6px;
  background: url(../images/dot.png) no-repeat center;
  right: 9px;
  margin-top: -28px;
  content: '';
}

html body .flow-content .flow li:before {
  position: absolute;
  top: 50%;
  width: 54px;
  height: 6px;
  background: url(../images/dot.png) no-repeat center;
  left: 9px;
  margin-top: -28px;
  content: '';
}

html body .content-down {
  height: 68%;
  padding-top: 15px;
}

html body .content-down .statistics {
  height: 100%;
}

html body .content-down .statistics .platform {
  float: left;
  width: 50%;
  height: 100%;
}

html body .content-down .statistics .platform .platform-list {
  margin: 15px 13px 0 13px;
  height: 90px;
  background: #f9f9f9;
}

html body .content-down .statistics .platform .platform-list li {
  float: left;
  height: 64px;
  line-height: 64px;
  width: 50%;
  margin-top: 13px;
  padding-left: 105px;
  font-size: 15px;
}

html body .content-down .statistics .platform .platform-list li span {
  font-size: 26px;
  margin-left: 20px;
}

html body .content-down .statistics .platform .platform-list li:nth-child(1) {
  background: url(../images/icon1.png) no-repeat 22px center;
}

html body .content-down .statistics .platform .platform-list li:nth-child(2) {
  border-left: 1px solid #dddddd;
  background: url(../images/icon2.png) no-repeat 22px center;
}

html body .content-down .statistics .platform .chart-title {
  height: 16px;
  line-height: 16px;
  padding-left: 5px;
  font-size: 16px;
  margin: 14px 0 0 13px;
  border-left: 3px solid #2590eb;
}

html body .content-down .statistics .platform .modChart {
  position: absolute;
  bottom: 10px;
  left: 13px;
  top: 185px;
  right: 13px;
  width: auto !important;
  height: auto !important;
}

html body .content-down .statistics .week {
  float: left;
  width: 50%;
  height: 100%;
  padding-left: 15px;
}

html body .content-down .statistics .week > div {
  height: 100%;
}

html body .content-down .statistics .week > div .weekChart {
  position: absolute;
  bottom: 10px;
  left: 13px;
  top: 55px;
  right: 13px;
  width: auto !important;
  height: auto !important;
}

.mod {
  background: #fff;
  position: relative;
}

.mod .mod-title {
  height: 45px;
  line-height: 43px;
  padding-left: 13px;
  border-bottom: 2px solid #eeeeee;
  font-size: 18px;
}
