/**!
* 数据开发概况
* date:2019-09-18
* author: huangweiping;
*/

.fui-content > div {
    position: relative;
    min-width: 1300px;
    background-color: #e8e8e8;
    padding: 16px 14px;
    height: 100%;
    box-sizing: border-box;
    min-height: 750px;
}

.step-wrap {
	min-width: 1250px;
    height: 318px;
    background-color: #fff;
    overflow: hidden;
}

.step-title {
    font-size: 22px;
    line-height: 22px;
    margin: 15px 0 0 15px;
}

.step-list {
    padding: 0 20px;
}

.step-list>li {
    position: relative;
    float: left;
    width: 25%;
    height: 285px;
    overflow: hidden;
}

.step-list>li::before {
    content: '';
    position: absolute;
    width: 54px;
    height: 6px;
    background: url("../images/dot.png") no-repeat;
    left: 9px;
    top: 100px;
}

.step-list>li:first-child::before {
    display: none;
}

.step-list>li::after {
    content: '';
    position: absolute;
    width: 54px;
    height: 6px;
    background: url("../images/dot.png") no-repeat;
    right: 9px;
    top: 100px;
}

.step-list>li:last-child::after {
    display: none;
}

.step-list>li>div {
    width: 210px;
    margin: 0 auto;
    padding-top: 150px;
    text-align: center;
}

.step-name {
    font-size: 18px;
    line-height: 40px;
}

.step-info {
    color: #5c5c5c;
    line-height: 28px;
    font-size: 14px;
}

.step1 {
    background: url("../images/step1.png") no-repeat center 50px;
}

.step2 {
    background: url("../images/step2.png") no-repeat center 45px;
}

.step3 {
    background: url("../images/step3.png") no-repeat center 43px;
}

.step4 {
    background: url("../images/step4.png") no-repeat center 40px;
}

.implement-wrap {
    position: absolute;
    top: 14px;
    width: 62%;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    padding-right: 14px;
}

.implement-wrap>div {
    height: 100%;
    background-color: #fff;
    overflow: hidden;
}

.survey-list {
    padding: 0 10px;
    margin-top: 24px;
}

.survey-list>li {
    box-sizing: border-box;
    float: left;
    width: 33.3%;
    padding: 0 5px;
}

.survey-content {
    height: 96px;
    box-sizing: border-box;
    border: 1px solid #dfe2e6;
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 7px;
}

.survey-img {
    width: 43px;
    height: 43px;
}

.survey-img>img {
    height: 100%;
    width: 100%;
}

.survey-info {
    margin-left: 54px;
    height: 55px;
}

.survey-name {
    color: #5c5c5c;
    height: 26px;
}

.survey-value {
    font-size: 20px;
    line-height: 22px;
}

.survey-list>li:nth-child(1) .survey-value {
    color: #2590eb;
}

.survey-list>li:nth-child(2) .survey-value {
    color: #f1a325;
}

.survey-list>li:nth-child(3) .survey-value {
    color: #ea644a;
}

.survey-bottom {
    margin: 0 4px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    border-top: 1px dashed #dfe2e6;
}

.font-waring {
    color: #ea644a;
}



.range-choose {
    margin: 33px 0 0 14px;
}

/* 日历 */
.layui-laydate-header i.laydate-prev-y:before,
.layui-laydate-header i.laydate-prev-m:before,
.layui-laydate-header i.laydate-next-m:before,
.layui-laydate-header i.laydate-next-y:before {
  content: "";
}

.datePick {
    color: #b7b7b7;
}

.layui-laydate-header i {
  margin-top: 0;
  line-height: 30px;
}

.survey-chart {
    position: absolute;
    top: 215px;
    left: 0;
    right: 14px;
    bottom: 0;
    /* height: 240px; */
}
  
.server-wrap {
    position: absolute;
    right: 0;
    top: 14px;
    bottom: 0;

    width: 38%;
    background-color: #fff;
    box-sizing: border-box;
}

.survey-chart>div {
    height: 100%;
}

.server-container {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 20px;
    overflow: hidden;
}

.server-list {
    padding: 0 10px;
    min-width: 37%;
}

.server-list>li {
    float: left;
    min-width: 230px;
    box-sizing: border-box;
    padding: 0 7px;
    margin-bottom: 10px;
}

.server-box {
    height: 115px;
    box-sizing: border-box;
    border: 1px solid #c3e7c5;
    background: url("../images/server-bg.png") no-repeat right bottom;
    background-color: #f3faf4;
    padding: 12px 0 0 10px;
}

.waring-box.server-box {
    border: 1px solid #f9d0c8;
    background: url("../images/warning-bg.png") no-repeat right bottom;
    background-color: #fef6f4;
}

.waring-box.server-box .server-info>span {
    color: #ea644a;
}

.server-box>p {
    line-height: 30px;
}

.server-ip {
    font-size: 14px;
}

.server-info {
    color: #5c5c5c;
}

.server-cpu {
    color: #5c5c5c;
}

.server-storage {
    color: #5c5c5c;
}

.server-info>span {
    display: inline-block;
    font-size: 14px;
    color: #3fb346;
}

.server-cpu>span {
    display: inline-block;
    font-size: 14px;
    color: #3fb346;
}

.server-storage>span {
    display: inline-block;
    font-size: 14px;
    color: #3fb346;
}

.cpu-ratio {
    margin-right: 20px;
}

@media screen and (max-width: 1300px) {
    .survey-name {
        font-size: 12px;
    }
    .server-info>span {
        font-size: 18px;
    }
}

/* 1024修改 */
.bottom-wrap {
	min-width: 1250px;
    position: absolute;
    top: 334px;
    left: 14px;
    right: 14px;
    bottom: 16px;
}