html #layui_layer_skinwebstylecss {
    display: none;
    position: absolute;
    width: 1989px;
}

body .layer-ext-iframe .layui-layer-title,
body .layui-layer .layui-layer-title {
    background: #e6e6e6;
    color: #1c5594;
    font-size: 36px;
    border-bottom: 0 none;
    height: 80px;
    padding: 0 0 0 38px;
    line-height: 80px;
}


body .layer-ext-iframe .layui-layer-setwin .layui-layer-close1,
body .layui-layer .layui-layer-setwin .layui-layer-close1 {
    background: url("close.png") no-repeat center center;
    width: 44px;
    height: 44px;
}

body .layer-ext-iframe .layui-layer-setwin,
body .layui-layer .layui-layer-setwin {
    right: 28px;
    top: 18px;
}

.layui-layer {
    border-radius: 7px;
}