/* 左侧流程 */
.wizard-bar {
    float: left;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
    background-color: #f9f9f9;
    width: 163px;
}

.wizard-bar .wizard-list {
    height: 100%;
    box-sizing: border-box;
    padding: 20px 0;
}

/* 流程项 */
.wizard-bar .wizard-item {
    position: relative;
    min-height: 70px;
    /* height: 36px; */
    line-height: 22px;
    padding-left: 66px;
    color: #333;
    font-size: 14px;
    
    cursor: default;
    display: block;
    border-radius: 4px;
    text-decoration: none;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.name-info {
    position: absolute;
    height: 22px;
    top: 50%;
    margin-top: -11px;
}

.wizard-bar .wizard-item .name-info::before {
    content: " ";
    position: absolute;
    width: 8px;
    height: 8px;
    border: 2px solid #e6e6e6;
    border-radius: 50%;
    left: -31px;
    top: 5px;
    background-color: #fff;
    z-index: 2;
}

.wizard-bar .wizard-item::after {
    content: " ";
    position: absolute;
    width: 2px;
    left: 40px;
    background-color: #e6e6e6;
    top:55%;
    bottom: 0;
}

.wizard-bar .wizard-item::before {
    content: " ";
    position: absolute;
    width: 2px;
    left: 40px;
    background-color: #e6e6e6;
    top:0;
    bottom: 55%;
}
/* 流程项: 已完成 */
.wizard-bar .wizard-item.done {
    color: #3d9df2;
    cursor: pointer;
}

.wizard-bar .wizard-item.done .name-info::before {
    
    border-color: #3d9df2;
    background-color: #fff;
}

.wizard-bar .wizard-item.done::after {
    background-color: #3d9df2;
}

.wizard-bar .wizard-item.done::before {
    background-color: #3d9df2;
}

.wizard-bar .wizard-item.not-done::after {
    background-color: #e6e6e6;
}

.wizard-bar .wizard-item.not-done::before {
    background-color: #3d9df2;
}

/* 流程项: 错误 */
.wizard-bar .wizard-item.error {
    color: #fa4e3c;
}

.wizard-bar .wizard-item.error  .name-info::before {
    content: " ";
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    left: -31px;
    top: 5px;
    z-index: 2;
    background-color: #fa4e3c;
    border: 2px solid #fa4e3c;
}

.wizard-bar .wizard-item.error::after {
    content: " ";
    position: absolute;
    width: 2px;
    left: 40px;
    background-color: #e6e6e6;
    top:55%;
    bottom: 0;
}

.wizard-bar .wizard-item.error::before {
    content: " ";
    position: absolute;
    width: 2px;
    left: 40px;
    background-color: #3d9df2;
    top:0;
    bottom: 55%;
}

/* 流程项: 失效 */
.wizard-bar .wizard-item.disabled {
    opacity: .4;
    cursor: no-drop !important;
}

/* 流程项: 激活 */
.wizard-bar .wizard-item.active {
    color: #3d9df2;
}

.wizard-bar .wizard-item.active  .name-info::before {
    content: " ";
    position: absolute;
    width: 8px;
    height: 8px;
    border: 2px solid #3d9df2;
    border-radius: 50%;
    left: -31px;
    top: 5px;
    background-color: #3d9df2;
    z-index: 2;
}

.wizard-bar .wizard-item.active::after {
    content: " ";
    position: absolute;
    width: 2px;
    left: 40px;
    background-color: #e6e6e6;
    top:55%;
    bottom: 0;
}

.wizard-bar .wizard-item.active::before {
    content: " ";
    position: absolute;
    width: 2px;
    left: 40px;
    background-color: #3d9df2;
    top:0;
    bottom: 55%;
}

.wizard-bar .wizard-item.has-active::after {
    background-color: #3d9df2;
}

.wizard-bar .wizard-item.has-active::before {
    background-color: #3d9df2;
}

.wizard-list .wizard-item:first-child::before {
    display: none !important;
}

.wizard-list .wizard-item:last-child::after {
    display: none !important;
}

/* 流程项: 默认 */
.wizard-bar .wizard-item.default {
    /* background-color: #3498DB; */
    color: #333;
}

.wizard-bar .wizard-item.default  .name-info::before {
    content: " ";
    position: absolute;
    width: 8px;
    height: 8px;
    border: 2px solid #cfcfcf;
    border-radius: 50%;
    left: -31px;
    top: 5px;
    background-color: #fff;
    z-index: 2;
}

.wizard-bar .wizard-item.default::after {
    content: " ";
    position: absolute;
    width: 2px;
    left: 40px;
    background-color: #e6e6e6;
    top:55%;
    bottom: 0;
}

.wizard-bar .wizard-item.default::before {
    content: " ";
    position: absolute;
    width: 2px;
    left: 40px;
    background-color: #e6e6e6;
    top:0;
    bottom:55%;
}

/* 流程向下箭头 */
.wizard-bar .next-arrow {
    width: 8px;
    height: 8px;
    display: block;
    background-color: #ccc;
    position: relative;
    margin-bottom: 22px;
}

.wizard-bar .next-arrow:after {
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-top: 12px solid #ccc;
    content: "";
    display: block;
    height: 0;
    left: -7px;
    position: absolute;
    top: 8px;
    width: 0;
}

/* 内容区 */
.wizard-content {
    position: relative;
    height: 100%;
    margin-left: 163px;
}

/* 内容页容器 */
.wizard-content .content-frame {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 49px;
}

/* 步骤导航容器 */
.wizard-content .wizard-nav {
    position: absolute;
    width: 100%;
    height: 32px;
    padding: 8px 0;
    bottom: 0;
    border-top: 1px solid #ebebeb;
}

.wizard-content .wizard-nav-wrap {
    text-align: center;
}

.master-content2 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}


.item-top {
    display: block;
}