/**
 * 作者： 王明哲
 * 创建时间：2018-04-11 14:54:31
 * 版本： [1.0, 2018/4/11]
 * 版权： 江苏国泰新点软件有限公司
 * 描述： 下载页样式
**/

body {
    background: #fff;
    /* height: 74vh; */
    position:fixed;
    height:100%;
    overflow-y:auto;
}

.em-mask {
    display: none;
    background-color: rgba(0, 0, 0, .15);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 888;
}

.mui-content {
    background: #fff;
    position: relative;
    /* height: 100vh; */
}

.em-top-bg {
    width: 100%;
    height: 195px;
    background: url(../img/img_nav.png) no-repeat;
    background-size: cover;
    background-position: center;
    /* margin-bottom: 20px; */
    /* position: fixed; */
}

.em-content {
    z-index: 2;
    position: relative;
    width: 90vw;
    height: 520px;
    background-color: #fff;
    margin: -70px auto 70px;
    border-radius: 9px;
    /* left: 50%; */
    /* transform: translate(-50%, 0%); */
    /* top: 19vh; */
    box-shadow: 0 0 11px 0px #4182a9;
    /* padding-bottom: 20px; */
    overflow: initial;
}

@keyframes rotate {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

.loading {
    display: none;
    background-color: transparent;
    width: 45px;
    height: 45px;
    border: 1px solid #1abc9c;
    border-radius: 50%;
    border-top-color: transparent;
    border-left-color: transparent;
    -webkit-transition: all .25s;
    transition: all .25s;
    -webkit-animation: rotate .6s linear infinite;
    animation: rotate .6s linear infinite;
    margin: 79px auto 29px;
}

#showtext {
    display: none;
    margin-top: 90px;
    font-size: 14px;
    text-align: center;
    color: #417fde;
    margin-bottom: 40px;
}

.download-animation {
    nimation: mymove 0.25s;
    -moz-animation: mymove 0.25;
    /* Firefox */
    -webkit-animation: mymove 0.25s;
    /* Safari and Chrome */
    -o-animation: mymove 0.25s;
    /* Opera */
}

.span12 {
    display: none;
    text-align: center;
    padding: 8px;
    font-size: 12px;
    position: absolute;
    width: 100%;
    bottom: 140px;
    z-index: 9;
}

.span12 a {
    text-decoration: underline;
}

@keyframes mymove {
    from {
        padding: 8px 60px;
        font-size: 18px;
        border-radius: 30px;
        opacity: 1;
    }
    to {
        padding: 12px;
        font-size: 0px;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        opacity: 0;
    }
}

@-moz-keyframes mymove
/* Firefox */

    {
    from {
        padding: 8px 60px;
        font-size: 18px;
        border-radius: 30px;
        opacity: 1;
    }
    to {
        padding: 12px;
        font-size: 0px;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        opacity: 0;
    }
}

@-webkit-keyframes mymove
/* Safari and Chrome */

    {
    from {
        padding: 8px 60px;
        font-size: 18px;
        border-radius: 30px;
        opacity: 1;
    }
    to {
        padding: 12px;
        font-size: 0px;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        opacity: 0;
    }
}

@-o-keyframes mymove
/* Opera */

    {
    from {
        padding: 8px 60px;
        font-size: 18px;
        border-radius: 30px;
        opacity: 1;
    }
    to {
        padding: 12px;
        font-size: 0px;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        opacity: 0;
    }
}

/*
.em-content::after {
    content: '';
    margin-bottom: 50px;
    clear: both;
    display: block;
} */

@media screen and (min-width:1200px) {
    .em-content {
        width: 500px;
    }
}

.em-content-div {
    margin-top: -50px;
    position: absolute;
    width: 100%;
}

.em-logo {
    width: 100px;
    height: 100px;
    margin: 0 auto 30px;
    /* background: url(../img/img_app_bg.png) no-repeat; */
    /* background-position: center center; */
    /* background-size: contain; */
    /* padding: 34px 30px 26px 30px; */
}

.em-logo img {
    border-radius: 28px;
    box-shadow: 0px 0px 5px 1px #d8d8d8;
}

.em-android {
    color: #333;
    text-align: center;
    margin-top: 8px;
}

.em-android h2 {
    font-size: 24px !important;
    font-weight: unset;
}

.em-android img {
    position: relative;
    top: 4px;
}

/*.fa {
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font: normal normal normal 14px/1 FontAwesome;
}

.fa-android:before {
    content: "\f17b";
}*/

.em-version,
.em-time {
    width: 100%;
    text-align: center;
    color: #969b9d;
    font-size: 14px;
    margin-top: 10px;
}

.em-time {
    margin-bottom: 28px;
}

.em-scan {
    width: 100%;
    text-align: center;
    color: #969b9d;
    font-size: 14px;
    margin-top: 22px;
}

.em-erweima {
    width: 123px;
    height: 123px;
    margin: 0 auto;
    /* padding: 0px; */
    border: 1px solid #c2c2c2;
    /* transform: scale(2,2); */
    transition: all 1s;
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    position: relative;
    z-index: 999;
}

.em-btn-content {
    width: 100%;
    margin-top: 86px;
    text-align: center;
}

.em-btn {
    width: 194px;
    height: 45px;
    border-radius: 22.5px;
    font-size: 18px;
    background: #28caad;
    border: 1px solid #28caad;
}

.row {
    width: 92%;
    margin-left: 4%;
    height: 74px;
    border-bottom: 1px solid #e7ebed;
    margin-bottom: 30px;
}

.row1 {
    border-bottom: 0px solid #e7ebed;
}

.em-version-content {
    padding: 20px;
    width: 92%;
    margin-left: 4%;
    min-height: 400px;
}

.em-version-content h2 {
    font-size: 20px;
    font-weight: unset;
    color: #333;
}

.em-desc {
    margin-bottom: 18px;
}

.em-table {
    width: 100%;
    text-align: center;
}

tr {
    border: 1px solid #e7ebed;
    border-left: none;
    border-right: none;
}

td {
    width: 50%;
    height: 40px;
    font-size: 14px;
    color: #969b9d;
}

tr:nth-child(odd) {
    background: #f2f6f8;
}

.em-more {
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: right;
    color: #969b9d;
    font-size: 14px;
}

.em-copyright {
    width: 100%;
    height: 50vh;
    padding: 44vh 0 10px;
    background: #fff;
    font-size: 14px;
    position: fixed;
    bottom: 0;
    /* z-index: -1; */
}

.em-copyright div {
    text-align: center;
}

.em-copyright>div>span {
    color: #1abc9c;
}

.em-copyright>div:nth-child(2) {
    margin-top: 18px;
}

/* 下载提示*/

.em-tip {
    overflow: auto;
    width: 100%;
    height: 0px;
    background: #000;
    color: #7f7e7e;
    font-size: 14px;
    /* position: fixed; */
    z-index: 999;
}

.em-tip-active {
    overflow: hidden;
    height: auto;
    transition: height 300ms linear;
    -webkit-transition-duration: height 300ms linear;
    -moz-transition: height 300ms linear;
    -o-transition-property: height 300ms linear;
}

.em-tip-left,
.em-tip-right {
    float: left;
}

.em-tip-left {
    width: calc(100% - 30px);
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 20px;
    padding-bottom: 30px;
    font-size: 15px;
    /* margin-bottom: 30px; */
}

.em-tip-right {
    width: 30px;
    padding-right: 15px;
    padding-top: 10px;
    text-align: right;
}

.em-tip img {
    float: right;
    width: 29px;
    height: 36.5px;
}

/* 安卓和ios图标显示*/

#iosIcon {
    display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #585f69;
    margin-top: 5px;
    text-shadow: none;
    font-weight: 400;
    font-family: NotoSansHans-Regular, AvenirNext-Regular, proxima-nova, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", "Open Sans", "Helvetica Neue", Arial, sans-serif;
}

.font-16 {
    font-size: 16px;
}

.modal.fade {
    z-index: -10;
    position: fixed;
    top: 10px;
    /* left: 50%; */
    width: 100vw;
    /* transform: translate(-50%, -50%); */
    /* display: none; */
    opacity: 0;
    -webkit-transition: all .25s;
    transition: all .25s;
}

.modal img {
    margin: 20px auto;
    display: block;
}

.modal.fade .modal-dialog {
    /* z-index: 999; */
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    transform: translate(0, -25%);
    -webkit-transition: -webkit-transform .3s ease-out;
    -moz-transition: -moz-transform .3s ease-out;
    -o-transition: -o-transform .3s ease-out;
    transition: transform .3s ease-out
}

.modal.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0)
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px
}

.modal-content {
    position: relative;
    background-color: #fff;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 15px;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    outline: 0
}

.modal-backdrop {
    position: fixed;
    z-index: 1040;
    background-color: #000
}

.modal-backdrop.fade {
    opacity: 0;
    filter: alpha(opacity=0)
}

.modal-backdrop.in {
    opacity: .5;
    filter: alpha(opacity=50)
}

.modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    min-height: 16.43px
}

.modal-header .close {
    margin-top: -3px;
    border: none;
    font-size: 20px;
    padding: 0px 10px 0 22px;
}

.modal-title {
    margin: 0;
    line-height: 1.428571429;
    font-size: 16px;
    color: #848484;
}

.modal-body {
    position: relative;
    padding: 20px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
        background: #f2f2f2;
        height: 600px;
        overflow-y: hidden;
}

.popover,
.tooltip,
.tooltip-arrow {
    position: absolute
}

.modal-footer {
    margin-top: 15px;
    padding: 19px 20px 20px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
    display: none;

}

.tooltip.top .tooltip-arrow,
.tooltip.top-left .tooltip-arrow,
.tooltip.top-right .tooltip-arrow {
    bottom: 0;
    border-width: 5px 5px 0;
    border-top-color: #000
}

.modal-footer .btn+.btn {
    margin-left: 5px;
    margin-bottom: 0
}

.modal-footer .btn-group .btn+.btn {
    margin-left: -1px
}

.modal-footer .btn-block+.btn-block {
    margin-left: 0
}

@media (min-width: 768px) {
    .modal-dialog {
        width: 600px;
        margin: 30px auto
    }
    .modal-content {
        -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
        box-shadow: 0 5px 15px rgba(0, 0, 0, .5)
    }
    .modal-sm {
        width: 300px
    }
    .modal-lg {
        width: 900px
    }
}

.progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #428bca;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
    -webkit-transition: width .6s ease;
    transition: width .6s ease
}

.close,
.list-group-item>.badge {
    float: right
}

#cancle {
    padding: 13px
}