/*!
*数据建模平台登录页样式集合
*author:guli
*date:2020-08-18
*version:1.1.0
*/

html,
body {
    height: 100%;
}

video {
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit: fill;
    z-index: -1;
}

header {
    height: 2.38rem;
    background: url('../gaimagenew/header.png') center 1.4rem no-repeat;
    background-size: 5.33rem .75rem;
}

.login {
    width: 34.53125%;
    height: 4.45rem;
    background: url('../gaimagenew/loginbg.png') center center no-repeat;
    background-size: 100% 100%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 6.6666%;
    padding-top: 1.08rem;
    color: #fff;
    /*  position: absolute;
    left: 50%;
    margin-left: -17%;
    top: 2rem; */
}

.formRow {
    height: .7rem;
    margin-bottom: .14rem;
}

.logUser {
    background: url('../gaimagenew/userbg.png') center center no-repeat;
    background-size: 100% 100%;
}

.logPwd {
    background: url('../gaimagenew/pwdbg.png') center center no-repeat;
    background-size: 100% 100%;
    margin-bottom: .32rem;
}

.form-input {
    display: inline-block;
    width: 100%;
    height: 100%;
    outline: none;
    background-color: transparent;
    box-sizing: border-box;
    padding-left: 35.55%;
    padding-top: .15rem;
    font-size: .2rem;
    color: #fff;
}

input::-webkit-input-placeholder {
    color: #ccc;
}

input:-moz-placeholder {
    color: #ccc;
}

input::-moz-placeholder {
    color: #ccc;
}

input:-ms-input-placeholder {
    color: #ccc;
}

.logBtn {
    height: .58rem;
    background: url('../gaimagenew/btnbg.png') right center no-repeat;
    background-size: 94.77% 100%;
    cursor: pointer;
}


/* 0524新增 */

.login-con {
    position: absolute;
    width: 6.63rem;
    height: 4.89rem;
    left: 50%;
    margin-left: -3.315rem;
    padding: .46rem 0 .6rem 0;
    /* padding: .7rem 0 .6rem 0; */
    background: url('../gaimagenew/loginbg.png') center center/100% 100% no-repeat;
    box-sizing: border-box;
}

.login-con>div {
    z-index: 600;
    position: relative;
    height: 100%;
    overflow: hidden;
}

.login-way {
    position: relative;
}

.login {
    width: 100%;
    height: 100%;
    /* padding: .49rem 1.5rem 0 .98rem; */
    padding: .78rem 1.5rem 0 .98rem;
    background: none;
}

.way-scan .way-icon {
    height: .33rem;
    background-image: url(../gaimagenew/ico2.png);
}

.way-icon {
    position: absolute;
    width: .34rem;
    height: .34rem;
    top: 0;
    left: 50%;
    margin-left: 2.59rem;
    background: url(../gaimagenew/ico1.png) 0 0/100% 100% no-repeat;
    transition: all ease 200ms;
    cursor: pointer;
}

.way-icon:hover {
    background-image: url(../gaimagenew/ico1-h.png);
}

.way-scan .way-icon:hover {
    background-image: url(../gaimagenew/ico2-h.png);
}

.login-title {
    z-index:2;
    position: absolute;
    top: -.18rem;
    left: 50%;
    margin-left: -1.925rem;
    content: "";
    width: 3.85rem;
    height: 1.18rem;
    background-size: 100% 100%;
}

.login-title.title-pwd {
    background-image: url(../gaimagenew/login-title1.png);
}

.login-title.title-scan {
    display: none;
    background-image: url(../gaimagenew/login-title2.png);
}

.login-title.opa {
    opacity: 0;
}

.way-scan {
    padding-top: .7rem;
    /* padding-top: .55rem; */
}

.scan-code {
    display: block;
    width: 2.48rem;
    height: 2.48rem;
    margin: 0 auto .22rem;
    padding: .34rem;
    background: url(../gaimagenew/scan-con.png) 0 0/100% 100% no-repeat;
    box-sizing: border-box;
}

.scan-code img {
    width: 100%;
    height: 100%;
}

.way-scan p {
    text-align: center;
    font-size: .16rem;
    color: #c6ceeb;
}
