/* 手风琴风格导航 */
.acc-nav {
    overflow: hidden;
}
.acc-item-hd {
    position: relative;

    height: 32px;
    height: calc(0.3rem + 2px);
    line-height: 32px;
    line-height: calc(0.3rem + 2px);
    padding: 8px;
    cursor: pointer;

    background-color: #fff;
}
.acc-item.opened .acc-item-bd {
    /* margin-top: -8px; */
}
/* 手风琴项 标题 */
.acc-title {
    padding-left: 8px;

    font-size: 14px;
    font-size: 0.14rem;
}
.acc-toggle {
    position: absolute;
    top: 50%;
    right: 15px;

    width: 16px;
    height: 16px;
    margin-top: -8px;

    font-family: ActionIcon !important;
    font-size: 14px;
    line-height: 16px;

    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;

    -webkit-font-smoothing: antialiased;
}
.acc-toggle:before {
    content: '\e712';
}
.acc-item.opened {
    font-weight: normal;

}
/* .acc-item.closed .acc-toggle:before {
    background-image: url("images/closed.png");
} */
.acc-item.opened .acc-toggle {
    /* background-image: url("images/opened.png"); */
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
.ie8 .acc-item.opened .acc-toggle:before {
    content: '\e724';
}
.acc-item-bd {
    margin-top: -8px;
    overflow: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 8px;
    background-color: #fff;
}
