.cate-header:before {
    border-color: #192b76;
}
.asLabel .mini-textbox-border, .asLabel .mini-textbox-input, .asLabel .mini-buttonedit-border, .asLabel .mini-buttonedit-input, .asLabel .mini-textboxlist-border {
    color: #a8bdf3;
}
.signature-box.empty {
    background-image: url(./images/icon-plus.png);
}
.my-opinion .add-btn {
    background-image: url(./images/my-opinion-add.png);
}
.my-opinion .add-box .sort-input, .my-opinion .add-box .text-input, .my-opinion .my-opinion-item .sort-input, .my-opinion .my-opinion-item .text-input {
    background: #0a1b50;
    color: #fff;
    border-color: #1f348e;
}
.my-opinion .add-box .sort-input:focus, .my-opinion .add-box .text-input:focus, .my-opinion .my-opinion-item .sort-input:focus, .my-opinion .my-opinion-item .text-input:focus {
    color: #fff;
}
.my-opinion .my-opinion-item {
    background: #051038;
}
.my-opinion .add-box .actions .edit, .my-opinion .add-box .actions .save, .my-opinion .my-opinion-item .actions .edit, .my-opinion .my-opinion-item .actions .save {
    color: #8a9ed2;
}
.my-opinion .add-box .actions .edit:hover, .my-opinion .add-box .actions .save:hover, .my-opinion .my-opinion-item .actions .edit:hover, .my-opinion .my-opinion-item .actions .save:hover {
    color: #ddd;
}