/* 左右2列布局 */

.fui-left {
    position: absolute;
    left: 0;

    width: 210px;
    height: 100%;
    padding-right: 0;

    -webkit-transition: all .2s ease-out;
         -o-transition: all .2s ease-out;
            transition: all .2s ease-out;

    border-right: 1px solid #eee;
    background-color: #f9f9f9;
}

.fui-left-toggle {
    position: absolute;
    z-index: 10;
    top: 30%;
    right: 0;

    display: block;
    overflow: hidden;

    width: 8px;
    height: 48px;
    margin-top: -4px;
/* background-image: url(images/leftRight/opened.png); */

    font-family: ActionIcon !important;

    cursor: pointer;
    -webkit-transition: color .2s ease-out;
         -o-transition: color .2s ease-out;
            transition: color .2s ease-out;
}
.fui-left-toggle:hover {
    color: #f96d41;
}
.fui-left-toggle:after {
    position: absolute;
    top: 1px;
    left: -20px;

    display: block;

    font-size: 48px;
    line-height: 44px;

    content: "\e6ed";
}

/* .fui-left-toggle:hover {
    background-image: url(images/leftRight/opened-h.png);
} */

.fui-left.closed {
    /*overflow: hidden;*/
    /* width: 0; */
    margin-left: -210px;
    padding-right: 0;

    background-color: #e4eff7;
}

.fui-left.closed .fui-left-toggle {
    right: -8px;

    /* background-image: url(images/leftRight/closed.png); */
}

.fui-left.closed .fui-left-toggle:after {
    content: "\e6f0";
}

/* .fui-left.closed .fui-left-toggle:hover {
    background-image: url(images/leftRight/closed-h.png);
} */

.fui-left-hd {
    overflow: hidden;

    height: 35px;

    line-height: 35px;

    border-bottom: 1px solid #f96d41;
}

.fui-left-title {
    float: left;

    margin-right: 20px;
    padding-left: 10px;

    font-weight: bold;

    color: #f96d41;
}

.fui-left-bd {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    overflow: auto;

    padding: 5px;

    background-color: #fff;
}

.fui-left.closed .fui-left-bd {
    right: 8px;
}

.fui-left-hd + .fui-left-bd {
    top: 36px;
}

.fui-right {
    position: relative;

    height: 100%;
    margin-left: 211px;

    -webkit-transition: all .2s ease-out;
         -o-transition: all .2s ease-out;
            transition: all .2s ease-out;
}

.fui-right.expanded ,
.fui-left.closed + .fui-right {
    /*margin-left: 9px;*/
    margin-left: 0;
}
