/* 表单布局 支持响应式 2列|4列|6列*/

.fui-form {
    padding: 5px;
    /*background: #fff;*/
}

.fui-form > [role='form'],
.form-inner {
    max-width: 1700px;
    margin: 0 auto;
}

.form-row:before,
.form-row:after {
    display: table;

    content: ' ';
}

.form-row:after {
    clear: both;
}

.form-row {
    /*line-height: 26px;*/
    padding: 6px 0;
}

.form-row > * {
    float: left;
}

.form-label {
    display: block;

    box-sizing: border-box !important;
    width: 16.6667%;
    min-height: 26px;
    padding-right: 5px;
    /*line-height: 26px;*/

    text-align: right;
}

.form-label.required {
    position: relative;
}

.form-label.required:after {
    position: absolute;
    top: 2px;

    display: inline-block;

    font-size: 16px;

    content: '*';

    color: #f00;
}

.form-control {
    position: relative;

    box-sizing: border-box !important;
    min-height: 26px;
    padding-left: 5px;
}

.form-control:before,
.form-control:after {
    display: table;

    content: ' ';
}

.form-control:after {
    clear: both;
}

.form-control > * {
    float: left;

    width: 100%;
}

.form-control.span1 {
    width: 16.6667%;
}

.form-control.span2 {
    width: 33.3333%;
}

.form-control.span3 {
    width: 50%;
}

.form-control.span4 {
    width: 66.6667%;
}

.form-control.span5 {
    width: 83.3333%;
}

/* 表单在移动端的布局 */
/* 由原先的窗口宽度改为设备宽度，解决ie9下打开窄窗口会影响父页面布局的问题 */
@media screen and (max-device-width: 425px) {
    .form-label {
        width: 100%;

        text-align: left;
    }
    .form-control {
        width: 100% !important;
        padding-left: 0;

        background: #ddd;
    }
}