.wizard-bar.top-wizard2 {
	height: 32px;
	line-height: 32px;
	padding: 2px 0;
	border-bottom: 1px solid #ddd;
}
/* 向导条目 */
.top-wizard2 .wizard-item {
	padding-left: 30px;
	padding-right: 18px;
	background-color: #ddd;
	position: relative;
	font-size: 12px;
	margin-left: 12px;
}
/* 后箭头 颜色与背景保持一致 */
.top-wizard2 .wizard-list .wizard-item:before {
	content: " ";
	display: block;
	width: 0;
	height: 0;
	border-left: 8px solid #fff;
	border-top: 16px solid transparent;
	border-bottom: 16px solid transparent;
	position: absolute;
	left: 0;
	top: 0;
}

/* 前箭头 颜色与主体保持一致 */
.top-wizard2 .wizard-item:after {
	content: " ";
	display: block;
	width: 0;
	height: 0;
	border-left: 8px solid #ddd;
	border-top: 16px solid transparent;
	border-bottom: 16px solid transparent;
	position: absolute;
	right: -8px;
	top: 0;
}
.top-wizard2 .wizard-list .wizard-item:before,
.top-wizard2 .wizard-list .wizard-item.active:before,
.top-wizard2 .wizard-list .wizard-item:after,
.top-wizard2 .wizard-list .wizard-item.active:after,
.top-wizard2 .wizard-list .wizard-item.done:after,
.top-wizard2 .wizard-list .wizard-item.done:before {
	background: transparent;
}
/* 默认状态 */
.top-wizard2 .wizard-item.default {
	opacity: 0.8;
	color: #fff;
	background-color: #3498DB
}

.top-wizard2 .wizard-list  .wizard-item.default:after {
	border-left-color: #3498DB;
}
/* 已完成状态 */
.top-wizard2 .wizard-list .wizard-item.done {
	color: #fff;
	background-color: #27AE60;
}

.top-wizard2 .wizard-list .wizard-item.done:after {
	border-left-color: #27AE60;
}
/* 激活状态 */
.top-wizard2 .wizard-list  .wizard-item.active {
	color: #fff;
	background-color: #F39C12;
}

.top-wizard2 .wizard-list .wizard-item.active:after {
	border-left-color: #F39C12;
}
/* 锁死状态 */
.top-wizard2 .wizard-list .wizard-item.disabled {
	background-color: #c8c8c8;
	color: #888;
	cursor: no-drop !important;
	text-shadow: 1px 1px 0 #fff;
}

.top-wizard2 .wizard-list .wizard-item.disabled:after {
	border-left-color: #c8c8c8;
}
/* 错误状态 */
.top-wizard2 .wizard-list .wizard-item.error {
	color: #fff;
	background-color: #FF3333;
}

.top-wizard2 .wizard-list .wizard-item.error:after {
	border-left-color: #FF3333;
}

/* 具体页面容器 */
.wizard-content {
	position: absolute;
	top: 37px;
	width: 100%;
	bottom: 60px;
}

/* 向导 按钮导航 */
.wizard-nav {
	width: 100%;
	height: 45px;
	padding-top: 14px;
	background-color: #f8f8f8;
	border-top: 1px solid #ddd;
	position: absolute;
	bottom: 0;
}

.wizard-nav-wrap {
	width: 500px;
}

.wizard-step {
	height: 30px;
	line-height: 30px;
	color: #fff;
	border-radius: 4px;
	text-decoration: none;
	font-size: 12px;
	position: relative;
	display: block;
	background-color: #43baeb;
}

.wizard-step:hover {
	color: #fff;
	background-color: #0390d2;
}

.wizard-step:active {
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
/* 导航按钮: 失效 */
.wizard-step.disabled {
	background-color: #c8c8c8;
	color: #888;
	cursor: no-drop;
	text-shadow: 1px 1px 0 #fff;
}
/* 导航按钮箭头 */
/* .wizard-step:after {
    position: absolute;
    content: " ";
    display: block;
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
    top: 10px;
} */

.ml5 {
	margin-left: 5%;
}

.ml30 {
	margin-left: 30%;
}

/* 知道了*/
.wizard-step.know {
	padding: 0 30px 0 30px;
}
/* 提交审核 */
.wizard-step.submit {
	padding: 0 30px 0 30px;
}
/* 暂存*/
.wizard-step.save {
	padding: 0 30px 0 30px;
}
/* 下一步 */
.wizard-step.next {
	padding: 0 30px 0 30px;
}
/* .wizard-step.next:after {
    border-left: 6px solid #fff;      
    right: 20px;
} */
/* 上一步 */
.wizard-step.prev {
	padding: 0 30px 0 30px;
}
/* .wizard-step.prev:after {
    border-right: 6px solid #fff;  
    left: 20px;
} */
/* 结束 */
.wizard-step.finish {
	padding: 0 30px;
	color: #fff;
	background-color: #FF6666;
}

.wizard-step.finish:hover {
	background-color: #FF3333;
}