/**!
 * 张家港市公安建模平台
 * author: lucw;
 * date:2019-10-18
 */

html,
body {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

body {
    position: relative;
    min-width: 980px;
    min-height: 620px;
}

.body-bg {
    position: absolute;
    z-index: -100;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.ewb-login-wpr {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -600px;
    margin-top: -300px;
    width: 1200px;
    height: 600px;
    z-index: 9999;
}

.login-logo {
    margin: 0 auto;
    display: block;
}

/* show */
.ewb-show {
    height: 530px;
}

.show-l {
    float: left;
    width: 50%;
    height: 100%;
}

.show-r {
    float: left;
    width: 50%;
    height: 100%;
}

.ewb-ftmsg {
    /* padding-left: 104px; */
    margin-top: 27px;
    line-height: 26px;
    text-align: center;
    color: #fff;
}

/* go */
.ewb-go {
    position: relative;
    height: 100%;
}

.go-bg01,
.go-bg02,
.go-bg03 {
    position: absolute;
}

.go-bg01 {
    top: 62px;
    left: 37px;
    z-index: 3;
}

.go-bg02 {
    bottom: 0;
    left: 0;
    z-index: 2;
}

.go-bg03 {
    top: 246px;
    left: -81px;
    z-index: 1;
}

.ewb-ent-wpr {
    padding-left: 6px;
    padding-top: 107px;
}

/* 错误提示 */
/* label.error {
	display: block !important;
	position: absolute;
	top: 52px;
	left: 0;
	font-size: 14px;
	height: 30px;
	line-height: 30px;
	padding-left: 20px;
	color: #fe0202;
	background: url('../images/wrong.png') left center no-repeat;
}

label.valid {
	background: url('../images/valid.png') left center no-repeat;
} */

.ewb-login {
    margin: 0 auto;
    width: 439px;
}

/* placeholder */
.ewb-search {
    position: relative;
    z-index: 1;
    height: 52px;
}

.input-placeholder {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 64px;
    height: 52px;
    line-height: 51px;
    font-size: 16px;
    color: #999;
    cursor: text;
}

.input-box {
    padding-left: 64px;
    width: 375px;
    height: 52px;
    line-height: 51px;
    font-size: 16px;
    color: #666;
    border-radius: 4px;
    background: none;
}

.login-tico {
    position: absolute;
    top: 0;
    left: 17px;
    z-index: 999;
    width: 25px;
    height: 52px;
    background-repeat: no-repeat;
    background-position: center;
}

.ewb-login-inp {
    margin-top: 37px;
    width: 439px;
    border-radius: 4px;
    background-color: #fff;
}

.login-tico.bg01 {
    background-image: url('../images/ent_ico01.png');
}

.login-tico.bg02 {
    background-image: url('../images/ent_ico02.png');
}

.login-btn {
    margin-top: 58px;
    display: block;
    width: 439px;
    height: 52px;
    line-height: 50px;
    text-align: center;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    border: 0;
    outline: 0;
    border-radius: 4px;
    background-color: #285ce1;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.login-btn:hover {
    background-color: #1345c5;
}

.ps-lk {
    line-height: 54px;
    color: #fff;
}

.banner-place {
    height: 100%;
}

.ban1Bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 80%;
    z-index: 0;
    overflow: hidden;
}

.ban1Bg1 {
    transform: scale(0.9);
    background: url("../images/star_img.png") center center repeat;
    animation: star 2s infinite linear;
}

.ban1Bg2 {
    top: 50%;
    background: url("../images/star_img.png") left center repeat;
    animation: starMove 500s infinite linear;
}

.ban1Bg3 {
    bottom: 0;
    top: auto;
    transform: scale(0.7);
    background: url("../images/star_img.png") 200px bottom repeat;
    animation: star 3s infinite linear;
}


@keyframes star {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes starMove {
    0% {
        transform: rotate(0);
    }

    50% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@media (max-width: 1250px) {
    .login-logo {
        width: 600px;
    }

    .ewb-login-wpr {
        width: 980px;
        margin-left: -490px;
    }

    .show-l {
        transform: scale(0.8);
    }

    .show-r {
        transform: scale(0.8);
    }
}

.hack-sm .show-l {
    transform: scale(0.8);
}

.hack-sm .show-r {
    transform: scale(0.8);
}

.hack-sm .ewb-login-wpr {
    height: 480px;
    margin-top: -240px;
}

.hack-sm .ewb-ftmsg {
    margin-top: 0;
    position: absolute;
    bottom: -40px;
    left: 0;
    right: 0;
    text-align: center;
}

.hack-sm .login-logo {
    position: absolute;
    top: -10px;
    width: 600px;
    left: 50%;
    margin-left: -300px;
}