@charset "UTF-8";
/**
* 新增卡片
* date: 2020-06-16
* author: guohanyu
**/
.btn-area {
  width: 100%;
  text-align: center;
}

.preview {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  padding: 10px 0;
}

.preview-left {
  width: 43%;
  /*  height: 572px; */
  text-align: center;
}

.preview-right {
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 43%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 14px 0;
  width: 57%;
}

.phone {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  padding-top: 85px;
  padding-bottom: 6.9%;
  padding-left: 7.5%;
  padding-right: 7.5%;
  /*   padding: 85px 21px 40px 21px; */
  /*   width: 278px;
    height: 572px;  */
  background: url(../images/phone.png) no-repeat center;
  background-size: 100% 100%;
}

.phone-content {
  position: relative;
}

.phone-content .screen_click {
  position: absolute;
  z-index: 5;
}

.phone-content .screen_click:hover {
  z-index: 99;
  -webkit-box-shadow: 1px 0px 10px 0px rgba(174, 210, 251, 0.6);
          box-shadow: 1px 0px 10px 0px rgba(174, 210, 251, 0.6);
}

.phone-content .screen_click.active {
  z-index: 99;
  -webkit-box-shadow: 1px 0px 10px 0px rgba(174, 210, 251, 0.6);
          box-shadow: 1px 0px 10px 0px rgba(174, 210, 251, 0.6);
}

.block {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 7px 10px;
  height: 100px;
  cursor: pointer;
}

.block-content {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 16px;
  height: 100%;
  line-height: 20px;
  border: 1px solid #d4d5da;
  border-radius: 6px;
  background-color: #fff;
}

.block:hover {
  background-color: #e9f8fd;
}

.block:hover .block-content {
  color: #43cae3;
  border: 1px solid #00c0df;
}

.block.active {
  background-color: #e9f8fd;
  cursor: auto;
}

.block.active .block-content {
  color: #43cae3;
  border-color: #00c0df;
}

.block.third {
  height: 150px;
}

.right-content {
  height: 100%;
}

.operate {
  /*   margin: 0 auto; */
  width: 90%;
  height: 100%;
  background-color: #fff;
  border: 1px solid #d4d5da;
}

.process {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 20px;
  height: 100px;
  text-align: center;
}

.process-items {
  display: inline-block;
}

.process-item {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 20px;
}

.process-item .process-icon {
  position: absolute;
  z-index: 5;
  top: 5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 10px;
  height: 10px;
  border: 1px solid  #d4d5da;
  background: #fff;
  border-radius: 50%;
}

.process-item + .process-item {
  margin-left: 150px;
}

.process-item + .process-item::before {
  position: absolute;
  z-index: 0;
  top: 10px;
  left: -170px;
  right: 50%;
  height: 2px;
  content: '';
  background: #d4d5da;
}

.process-item.finish .process-icon, .process-item.active .process-icon {
  background: #51a6ef;
  border: 1px solid  #51a6ef;
}

.process-item.finish::before, .process-item.active::before {
  background: #51a6ef;
}

.step-wrap {
    /* height: 526px; */
    height: calc(100% - 140px);
    overflow-y: auto;
    /* background-color: #f00; */
}
