.form-label {
  width: 10%;
}
form-control.span1 {
  width: 16.6667%;
}
.form-control.span2 {
  width: 40%;
}
.form-control.span3 {
  width: 50%;
}
.form-control.span4 {
  width: 66.6667%;
}
.form-control.span5 {
  width: 90%;
}
.form-control.span6 {
  width: 100%;
}
