@font-face {
	font-family: SourceHanSansCN-Regular;
	src: url(./font/SourceHanSansCN-Regular.woff) format("woff"),
		url(./font/SourceHanSansCN-Regular.ttf) format("truetype"),
		url(./font/SourceHanSansCN-Regular.eot) format("embedded-opentype")
}

button, input, select, textarea {
	font-family: SourceHanSansCN-Regular, Tahoma, Verdana;
	font-size: inherit;
	font-weight: inherit;
	*font-size: 100%
}

body, html {
	background: rgba(0, 0, 0, 0)
}

body {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	font-family: arial, SourceHanSansCN-Regular;
	color: #fff
}

.page-toolbar .toolbar-button {
	float: left;
	margin-right: 12px;
	height: 30px;
	color: #fff;
	background: url(./images/toolbar-button-bg.png) 50%/100% 100% no-repeat;
	padding: 0 16px;
	cursor: pointer;
	opacity: .9;
	-webkit-transition: all .2s ease-out;
	-o-transition: all .2s ease-out;
	-moz-transition: all .2s ease-out;
	transition: all .2s ease-out
}

.page-toolbar.clearfix {
    margin-left: 15px;
}


.page-toolbar .toolbar-button:hover {
	opacity: 1
}

.page-body {
	height: 100%
}

.page-body-wrap {
	height: -moz-calc(100% - 56px);
	height: calc(100% - 56px)
}

.grid-wrap {
	height: -moz-calc(100% - 32px);
	height: calc(100% - 32px);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 20px 0 0
}