@font-face {
	font-family: SourceHanSansCN-Regular;
	src: url(./font/SourceHanSansCN-Regular.woff) format("woff"),
		url(./font/SourceHanSansCN-Regular.ttf) format("truetype"),
		url(./font/SourceHanSansCN-Regular.eot) format("embedded-opentype")
}

button, input, select, textarea {
	font-family: SourceHanSansCN-Regular, Tahoma, Verdana;
	font-size: inherit;
	font-weight: inherit
}

body, html {
	background: rgba(0, 0, 0, 0)
}

body {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: arial, SourceHanSansCN-Regular;
	color: #fff
}

.fui-toolbar.my-model {
	height: 32px;
	line-height: 32px;
	padding: 17px 20px;
	border-bottom: 1px solid #295493;
	background: rgba(0, 0, 0, 0)
}

.fui-toolbar.my-model .diy-button-group {
	margin-right: 16px
}

.fui-toolbar.my-model .diy-button {
	float: left;
	height: 100%;
	cursor: pointer
}

.fui-toolbar.my-model .diy-button.btn-card {
	width: 40px;
	height: 32px;
	background: url(./images/btn-card.png) 0 0/100% 100% no-repeat
}

.fui-toolbar.my-model .diy-button.btn-card.active {
	background: url(./images/btn-card-h.png) 0 0/100% 100% no-repeat
}

.fui-toolbar.my-model .diy-button.btn-list {
	width: 40px;
	height: 32px;
	background: url(./images/btn-list.png) 0 0/100% 100% no-repeat
}

.fui-toolbar.my-model .diy-button.btn-list.active {
	background: url(./images/btn-list-h.png) 0 0/100% 100% no-repeat
}

.fui-content.my-model {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: -moz-calc(100% - 66px) !important;
	height: calc(100% - 66px) !important;
	padding: 40px 30px
}

.fui-content.my-model, .fui-content.my-model .mini-grid-viewport {
	background: rgba(0, 0, 0, 0)
}

.fui-content.my-model .mini-grid-pager {
	border-color: rgba(0, 0, 0, 0);
	background: rgba(0, 0, 0, 0)
}

.diy-grid-icon {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-right: 10px;
	margin-left: 10px;
	cursor: pointer;
	vertical-align: middle;
	background: 50% no-repeat
}

.diy-grid-icon:before {
	display: none
}

.diy-grid-icon.icon-search {
	background-image: url(./images/icon-search.png)
}

.diy-grid-icon.icon-search:hover {
	background-image: url(./images/icon-search-h.png)
}

.diy-grid-icon.icon-edit {
	background-image: url(./images/icon-edit.png)
}

.diy-grid-icon.icon-edit:hover {
	background-image: url(./images/icon-edit-h.png)
}

.diy-grid-icon.icon-config {
	background-image: url(./images/icon-config.png)
}

.diy-grid-icon.icon-config:hover {
	background-image: url(./images/icon-config-h.png)
}

.diy-grid-icon.icon-save {
	background-image: url(./images/icon-save.png)
}

.diy-grid-icon.icon-save:hover {
	background-image: url(./images/icon-save-h.png)
}

.diy-grid-icon.icon-view {
	background-image: url(./images/icon-view.png)
}

.diy-grid-icon.icon-view:hover {
	background-image: url(./images/icon-view-h.png)
}

.card-item {
	position: relative;
	overflow: hidden;
	height: 125px;
	padding: 20px 20px 60px;
	line-height: 26px;
	cursor: default;
	border: 1px solid #295493;
	border-radius: 3px;
	-webkit-transition: all .2s ease-out;
	-o-transition: all .2s ease-out;
	-moz-transition: all .2s ease-out;
	transition: all .2s ease-out
}

.card-item:hover {
	border-color: #d6c4af;
	-webkit-box-shadow: 0 0 8px rgba(214, 196, 175, .25), inset 0 0 6px
		rgba(214, 196, 175, .25);
	box-shadow: 0 0 8px rgba(214, 196, 175, .25), inset 0 0 6px
		rgba(214, 196, 175, .25)
}

.card-item-state {
	position: absolute;
	top: 6px;
	right: 0;
	padding-right: 80px;
	padding-left: 80px;
	font-size: 14px;
	line-height: 26px;
	font-weight: 100;
	color: #fff;
	-webkit-transform: translateX(40%) rotate(40deg);
	-moz-transform: translateX(40%) rotate(40deg);
	-ms-transform: translateX(40%) rotate(40deg);
	-o-transform: translateX(40%) rotate(40deg);
	transform: translateX(40%) rotate(40deg);
	-webkit-transform-origin: 50% 50%;
	-moz-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	-o-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	background-color: #897b6f
}

.card-item-state.blue {
	background-color: #31a0fa
}

.card-item-state.green {
	background-color: #1bb156
}

.card-item-user-name {
	position: relative;
	display: inline-block;
	overflow: hidden;
	width: 30%;
	white-space: nowrap;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis
}

.card-item-user-name:after {
	position: absolute;
	top: 50%;
	right: 0;
	display: block;
	width: 1px;
	height: 14px;
	content: "";
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	background-color: hsla(0, 0%, 100%, .28)
}

.card-item-time {
	display: inline-block;
	overflow: hidden;
	padding-left: 20px;
	vertical-align: top;
	white-space: nowrap;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis
}

.card-item-name {
	margin-bottom: 20px;
	font-size: 18px;
	color: #fff
}

.card-item-info {
	overflow: hidden;
	margin-bottom: 10px;
	font-size: 15px;
	white-space: nowrap;
	color: #abb2bf
}

.card-item-footer {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	height: 40px;
	font-size: 15px;
	line-height: 40px;
	text-align: center;
	border-top: 1px solid #295493
}

.card-item-button {
	float: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 60%;
	height: 100%;
	cursor: pointer;
	color: #dfe2e3
}

.card-item-button:hover {
	background: url(./images/button-bg.png) 0 0/100% 100% no-repeat
}

.card-item-button+.card-item-button {
	position: relative;
	width: 40%
}

.card-item-button+.card-item-button:before {
	position: absolute;
	top: 50%;
	left: 0;
	display: block;
	width: 1px;
	height: 14px;
	content: "";
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	background-color: hsla(0, 0%, 100%, .28)
}

.card-item-wrap {
	float: left;
	-webkit-box-sizing: border-box !important;
	-moz-box-sizing: border-box !important;
	box-sizing: border-box !important;
	width: 20%;
	margin-bottom: 15px;
	margin-top: 15px;
	padding: 0 12px
}

.mini-datagrid.card-grid .mini-grid-border {
	border-color: rgba(0, 0, 0, 0)
}

@media screen and (max-width:1440px) {
	.card-item-wrap {
		width: 25%
	}
}

@media screen and (max-width:1366px) {
	.card-item-wrap {
		width: 33.33%
	}
}