.icons-search {
  background-image: url("./images/search_bule.png");
}

.surface-menu {
  background: #fff;
}

.search-contain {
  background-color: #edf3f8;
}

.sidebar-main .leaf-item a {
  color: #666;
}

.sidebar-main .leaf-item a .font-icons {
  color: #fff;
  background-color: #1890ff;
}

.sidebar-main .leaf-item a .text-name-contain {
  width: 100%;
  padding: 0 22px 0 38px;
}

.sidebar-main .leaf-item a .arrow-icon {
  background-image: url("./images/icon_more_grey.png");
}

.sidebar-main .leaf-item.active, .sidebar-main .leaf-item:hover {
  background-color: #1890ff;
}

.sidebar-main .leaf-item.active .font-icons, .sidebar-main .leaf-item:hover .font-icons {
  color: #1890ff;
  background-color: #fff;
}

.sidebar-main .leaf-item.active a, .sidebar-main .leaf-item:hover a {
  color: #fff;
}

.sidebar-main .leaf-item.active .arrow-icon, .sidebar-main .leaf-item:hover .arrow-icon {
  background-image: url("./images/icon_more.png");
}

.menu-btns .text-name {
  color: #666;
}

.menu-btns .icons-trigger {
  background-image: url("./images/outside.png");
  background-repeat: no-repeat;
  margin-top: 7px;
  cursor: pointer;
}

.menu-btns .icons-trigger.active {
  background-image: url("./images/inside.png");
}
