body {
    background-color: #fff;
    font-size: 14px !important;
}

.search-button {
   
}
.search-input {
    float: left;
    width: 186px;
    height: 32px;
    box-sizing: border-box;
    border: 1px solid #dddddd;
    border-radius: 4px;
    padding-left: 10px;
   margin: 0 10px 0 15px;
     line-height: 32px;
    outline: none;
}

.search-button {
    float: left;
    width: 70px;
    height: 30px;
    line-height: 30px;
    box-sizing: border-box;
    padding-left: 31px;
    margin: 0px 14px 0 6px;
    color: #fff;
    border-radius: 4px;
    background: url("../../images/right-search.png") no-repeat 15px center;
    background-color: #2590eb;
}

.search-button:hover {
    background: #51a6ef url("../../images/right-search.png") no-repeat 15px center;
}

.btn:hover {
    background-color: #51a6ef;
    color: #fff;
}

.data-name {
    float: left;
    height: 32px;
    line-height: 32px;
    margin: 0 5px 0 15px;
}