/*!
 * 选择关联
 * author: xiaolong
 * date:2017-03-09
 */

 .condition-wrap {
     padding: 10px 10px 0;
 }

 .condition-left {
     float: left;
     width: 176px;
     height: 540px;
     margin-right: 2px;
     background-color: #eeeff1;
 }

 .condition-mid {
     float: left;
     width: 75%;
     margin-right: 5px;
 }

 .condition-right {
     overflow: hidden;
     height: 100%;
 }

 .condition-title {
     height: 38px;
     background-color: #6a7480;
     line-height: 38px;
     color: #fff;
     padding-left: 8px;
 }

 .condition-left-body {
     height: 502px;
 }

 .fui-bar {
     height: 32px;
 }

 .fui-bar .mini-button {
     vertical-align: top;
 }

 .condition-mid-body {
     height: 508px;
 }

 /*已选信息*/

 .selected-col {
     border: 1px solid #d9d9d9;
     height: 98%;
     margin-right: 5px;
 }

 .selected-col-head {
     height: 30px;
     margin: 0 6px;
     border-bottom: 1px solid #d9d9d9;
 }

 .selected-col-title {
     line-height: 30px;
     padding-left: 10px;
     color: #3d4b62;
 }

/*  .selected-col-body.select {
     height: 507px;
 } */

 .selected-empty {
     padding-top: 106px;
     text-align: center;
 }

 .selected-empty p {
     line-height: 20px;
     color: #999;
 }

 /* .selected-info {
     height: 507px;
 } */
