
.mod1 {
    padding: 20px 35px;
}
.count-list {
    float: none;
    margin: 0 -5px;
}
.count-item {
    width: 25%;
}
.count-content {
    height: 100px;
    padding: 0;
    text-align: left;
}
.count-item.count01 .count-content {
    background: #f3f6ff url("../images/detail-count01.png") no-repeat 90% center;
}
.count-item.count02 .count-content {
    background: #edf8ff url("../images/detail-count02.png") no-repeat 90% center;
}
.count-item.count03 .count-content {
    background: #f1f8f5 url("../images/detail-count03.png") no-repeat 90% center;
}
.count-item.count04 .count-content {
    background: #fef7ea url("../images/detail-count04.png") no-repeat 90% center;
}

.count-content:before {
    content: "";
    display: table;
}
.count-name {
    margin: 14px 0 0;
    padding-left: 5px;
    border-left: 3px solid #a4c0fd;
    text-align: left;
    line-height: 15px;
}
.count-value {
    margin: 35px 10px 0;
    width: auto;
    text-align: left;
}
.value-item {
    margin-right: 10px;
}
.value-num {
    margin: 0 5px;
    font-size: 20px;
}
.value-trend {
    padding-right: 17px;
    font-size: 14px;
    color: #6894f5;
    background-repeat: no-repeat;
    background-position: right center;
}
.value-trend.up {
    background-image: url("../images/icon-crease.png");
}
.value-trend.down {
    background-image: url("../images/icon-decrease.png");
}

.count01 .value-num {
    color: #6894f5;
}
.count02 .value-num {
    color: #59b7ff;
}
.count03 .value-num {
    color: #26c3cc;
}
.count04 .value-num {
    color: #f79b5e;
}