$navWidth: 190px;
.fui-toolbar {
    // box-shadow: 0 1px 0px #f1f1f1;
}
.fui-content {
    padding: 0;
}
.tabs-header {
    .tab-item {
        position: relative;
        padding: 0 10px;
        line-height: inherit;
        cursor: pointer;
        > [class*='modicon-'],
        > [class^='modicon-'] {
            // display: inline-block;
            display: inline;
            margin-right: 4px;
            vertical-align: baseline;
            line-height: inherit;
        }
        &.active {
            color: #51a6ef;
            color: var(--theme-color);
        }
    }
}
.tabs-wrap {
    height: 100%;
    overflow: hidden;
    .tab-body {
        height: 100%;
        overflow: hidden;
    }
}
.category-nav {
    float: left;
    width: $navWidth;
    background: #f2f2f2;
    height: 100%;
    overflow: auto;

    &-item {
        line-height: 40px;
        line-height: 0.4rem;
        padding-left: 14px;
        cursor: pointer;
        -webkit-transition: all 0.2s ease-out;
        -o-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
        &:hover,
        &.active {
            background: #fff;
        }
    }
}
.search-no-result,
.search-loading {
    text-align: center;
    margin-right: 20px;
    color: #bfbfbf;
    line-height: 26px;
    span {
        height: 50px;
        display: block;
        background: url('./images/search.png') center no-repeat;
    }
}
.search-loading {
    margin-left: 20px;
}

.config-content {
    margin-left: $navWidth;
    height: 100%;
    overflow: auto;
    scroll-behavior: auto;
    position: relative;
}
.fui-block {
    margin-left: 10px;
    margin-right: 10px;
}
.fui-block,
.form-row {
    &.highlight {
        -webkit-animation: hightLight 0.6s 3 linear forwards;
        animation: hightLight 0.6s 3 linear forwards;
        // box-shadow: 0 0 5px rgba(0, 0, 0, 0) inset;
    }
}

@-webkit-keyframes hightLight {
    0% {
        opacity: 1;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0) inset;
    }
    50% {
        opacity: 0.8;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.25) inset;
    }
    100% {
        opacity: 1;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0) inset;
    }
}

@keyframes hightLight {
    0% {
        opacity: 1;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0) inset;
    }
    50% {
        opacity: 0.8;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.25) inset;
    }
    100% {
        opacity: 1;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0) inset;
    }
}

// 表单样式 扩展及修改
.form-row.bottom-space {
    margin-bottom: 20px;
}
[class^='mini-'],
[class*='mini-'] {
    &.narrow {
        width: 80px;
        margin-right: 10px;
    }
}

#search-input .mini-buttonedit-icon:before {
    content: '\e6ec';
}
.mini-listbox-items:empty {
}
