.mini-messagebox-info,
.mini-messagebox-question {
    color: @primary-color;
}

.mini-messagebox-button {
    background-color: @lesser-color2;
}

.mini-messagebox-buttons .mini-messagebox-button:hover {
    background-color: @lesser-hover-color2;
}

.mini-messagebox-button.ok {
    background-color: @lesser-color1;
}

.mini-messagebox-buttons .mini-messagebox-button.ok:hover {
    background-color: @lesser-hover-color1;
}