// dataexport 
.mini-export-listbtn:hover {
    background-color: lighten(@primary-color, 40%);
}

.mini-export-listbtn:active {
    border-color: lighten(@primary-color, 10%);
    background-color: lighten(@primary-color, 40%);
}

.dataimport-export {
    background: @primary-color;
    border-color: @primary-color;

    &:hover {
        background: @primary-hover-color;
        border-color: @primary-hover-color;
    }
}


// DateRangePicker 
.layui-laydate-header i:hover,
.layui-laydate-header span:hover {
    color: @primary-color;
}

.layui-laydate .layui-this {
    background: @primary-color;

    &:hover {
        background: @primary-hover-color;
    }
}

.layui-laydate-content td.laydate-selected {
    background: lighten(@primary-color, 40%);
}

// largefileuploader

.mini-ntko-pick {
    background: @primary-color;

    &:hover {
        background: @primary-hover-color;
    }
}

// tabstreeselect
.mini-tabstreeselect-header {
    color: @text-color;
}
.mini-tabstreeselect-tabs>li:hover {
    color: @primary-color;
}

.mini-tabstreeselect-tabs>li.active {
    color: @primary-color;
}

.mini-tabstreeselect-header-main {
    color: @primary-color;
}

.mini-tabstreeselect-action {

    &.up,
    &.down {
        color: @primary-color;

        &:hover {
            color: @primary-hover-color;
        }
    }

    &.removeall,
    &.recover {
        color: @text-color;

        &:hover {
            color: @primary-hover-color;
        }
    }

    &.remove {
        color: @primary-color;

        &:hover {
            color: @lesser-hover-color1;
        }
    }
}

.mini-tabstreeselect-item {
    &:hover {
        background: @item-hover-bg;
    }

    &.selected {
        background: @item-selected-bg;
    }
}

// webuploader
.mini-uploader-btns .webuploader-pick {
    background: @primary-color;
    border-color: @primary-color;

    &:hover {
        background: @primary-hover-color;
        border-color: @primary-hover-color;
    }
}

.mini-filtertree .filter-search-btn {
    
    &:hover {
        color: @primary-color;
    }
}

.mini-slider-bar {
    background-color: @primary-color;
}
.mini-slider-pointer {
    border-color: @primary-color;
}