// $header_bg_css: #fff;
$header_bg: #fff;
$header_border: transparent;
$header_spliter:#fff;
// ================================
// user drop panel bg
$user_panel_bg:#364dba;
// color
$user_panel:#fff;
// oucolor
$user_ou_color:#cce2ff;
// user links
$user_link_hover:#185197;
$user_links_border:#3a7bd3;
// ================================
// content bg
$content_bg:#edeff2;

body {
    background: $content_bg;
}
.header {
    background: $header_bg;
    box-shadow: 0 3px 18px rgba(0,0,0,.08);
    // background-image: $header_bg_css;
    &:before {
        border-bottom-color: $header_border;
    }
}
.user-action-item { 
    &:hover {
        color: #2a92eb;
    }
}
// 分类搜索
.header-search {
    .classify-search-input {
        border-bottom-color: #a5b1c2;
    }
}


.msg-panel {
    border-top-color: #2a92eb;
}

.message-content-wrap {
    @at-root {
        .msg-category-num {
            font-weight: normal;
            color: #2a92eb
        }
        .msg-list-item:hover,
        .msg-list-item.newmsg:hover {
            color: #2a92eb
        }
        .msg-category-head,
        .msg-result-head,
        .msg-history-head {
            // border-bottom-color:  #dcdcdc;

            &:after {
                background: #2a92eb
            }
        }
    }
}

/* exun skin*/
// 色值复写
// 左侧背景
$emsg_left_bg:#2590eb;
// 发送按钮颜色
$emsg_send_btn_bg:#2590eb;
// 自己消息内容的背景色
$my_words_bg:#bfe2ff;
@import "../../../../../js/widgets/emsg/emsg-skin.scss";