/*
 * @Author: guotq
 * @Date: 2018-07-03 11:31:44
 * @Last Modified by: guotq
 * @Last Modified time: 2019-03-07 14:16:51
 * @Description: module1
 */

h1 {
    color: #f00;
}

h2 {
    color: teal;
}

h5 {
    color: black;
}

