html {
    font-size: 115.38px;
}
body{
    font-size: 15px;
    line-height: 30px;
}
.mini-widget,
.mini-button,
.mini-menuitem,
.mini-layout-region-header,
.mini-panel-header,
.mini-panel-header-inner,
.mini-grid-headerCell,
.mini-grid-cell,
.mini-grid-columnproxy,
.mini-grid-cell-inner,
.mini-grid-headerCell-inner,
.mini-listbox td,
.mini-calendar,
.mini-calendar-button,
.mini-calendar-title,
.mini-calendar-menu-month,
.mini-calendar-menu-year,
.mini-tabs,
.mini-tabs-table,
.mini-tab-text,
.mini-tree,
.mini-textbox-input,
.mini-buttonedit-input,
.mini-textboxlist-input,
.mini-textboxlist,
.mini-pager,
body .mini-pager-num,
.mini-checkbox,
.mini-checkboxlist table label,
.mini-radiobuttonlist table label,
.mini-checkbox,
.mini-checkboxlist,
.mini-radiobuttonlist,
.mini-radiobuttonlist label,
.mini-layout,
.mini-layout-proxy-text,
.mini-textboxlist .mini-textboxlist-item,
.mini-tips,
.mini-tooltip,
.mini-progressbar-text,
.mini-messagebox-msg,
.mini-export-list-header,
.mini-radiobuttonlist .mini-export-num,
.mini-tabstreeselect-header {
    font-size: 15px;
}

.mini-icon {
    font-size: 16px;
    line-height: 16px;
    min-height: 16px;
}

.mini-menuitem-allow,
.mini-menu-horizontal .mini-menuitem-allow,
.mini-button-allow,
.mini-buttonedit-icon,
.mini-iconfont {
    line-height: 16px;
}

/* button
==========================================*/

.mini-button {
    line-height: 28px;
}

.mini-button.mini-splitbutton {
    height: 30px;
    line-height: 30px;
}

/* .mini-button-inner
{   
    padding:5px 12px 7px 12px;
    padding:6px 12px 6px 12px\9;
    line-height:32px;
} */

.mini-button-icon {
    left: 8px;
    width: 16px;
    height: 16px;
    margin-top: -7px;
}

.mini-button .mini-button-icon {
    font-size: 16px;
}

/* .mini-button .mini-button-icon-text
{
    padding-left:28px;
} */

.mini-button-iconRight .mini-button-text {
    padding-right: 30px;
}

.mini-button-iconLeft .mini-button-text {
    padding-left: 30px;
}

.mini-button .mini-button-icon-only {
    padding-left: 18px;
}

.mini-button .mini-button-icon-only .mini-button-icon {
    left: 9px;
}

.mini-button-iconRight .mini-button-icon-text {
    padding-left: 12px;
    padding-right: 28px;
}

.mini-button-iconRight .mini-button-icon {
    left: auto;
    right: 8px;
}

.mini-button-iconTop .mini-button-icon-text {
    padding-left: 12px;
    padding-top: 28px;
}

.mini-button-iconTop .mini-button-icon {
    top: 6px;
}

.mini-button-allow {
    margin-top: 5px;
}

.mini-button-iconOnly {
    height: 28px;
}

.mini-button-iconOnly .mini-button-icon {
    left: 7px;
}

.mini-splitbutton .mini-button-split {
    height: 30px;
}

/* textbox
==========================================*/
.mini-textbox {
    overflow: visible;
    height: 30px;
}
.mini-textbox-input {
    height: 28px;
    line-height: 28px;
}

.mini-textbox-border {
    height: 28px;
}

/* 
.mini-textarea .mini-textbox-border {
    padding-left: 8px;
    padding-right: 0px;
} */

.mini-textarea .mini-textbox-input {
    line-height: 20px;
}

.mini-labelfield-label {
    line-height: 30px;
}
/* buttonedit
==========================================*/
.mini-buttonedit {
    overflow: visible;
    height: 30px;
}
.mini-buttonedit-input {
    height: 28px;
    line-height: 28px;
}
.mini-placeholder-label {
    line-height: 24px;
}
.mini-buttonedit-border {
    padding-right: 25px;
    height: 28px;
}


.mini-buttonedit-button {
    height: 28px;
    width: 22px;
    line-height: 28px;
}

.mini-buttonedit-close {
    height: 28px;
    line-height: 28px;
}

/*.mini-buttonedit-up span, .mini-buttonedit-down span
{
    background-position:50% 50%;
}*/

/* textboxlist
==========================================*/

.mini-textboxlist {
    height: 28px;
}

.mini-textboxlist ul {
    height: 23px;
    padding-top: 4px;
}

.mini-textboxlist .mini-textboxlist-item {
    line-height: 18px;
    height: 18px;
}

.mini-textboxlist .mini-errorIcon {
    margin-top: 4px;
}

.mini-textboxlist .mini-textboxlist-input {
    height: 18px;
    line-height: 18px;
}

/* checkbox
==========================================*/

.mini-checkbox {
    line-height: 30px;
}

.mini-checkbox-check,
.mini-checkbox-icon {
    margin-right: 10px;
}
.mini-checkbox.switch .mini-checkbox-icon,
.mini-grid-checkbox.switch {
    border-radius: 8px;
}
.mini-checkbox.switch .mini-checkbox-icon:before,
.mini-grid-checkbox.switch:before {
    width: 14px;
    height: 14px;
}

/* checkboxlist & radiobuttonlist
==========================================*/

.mini-checkboxlist table label,
.mini-radiobuttonlist table label {
    padding-left: 8px;
    line-height: 30px;
}
.mini-list-icon {
    margin-top: 5px;
}

/* listbox
==========================================*/
.mini-listbox td {
    line-height: 20px;
    padding: 4px 6px 4px 6px;
}

.mini-listbox .mini-listbox-checkbox {
    width: 26px;
}

/* grid
==========================================*/

.mini-grid-cell-inner,
.mini-grid-headerCell-inner {
    padding-top: 2px;
    padding-bottom: 2px;
}

/* .mini-grid-allowsort,
.mini-grid-sortIcon {
    margin-left: 4px;
} */

/* treegrid & tree
==========================================*/

.mini-tree-nodetitle,
.mini-tree-node-ecicon,
.mini-tree-indent {
    height: 28px;
}

.mini-tree .mini-tree-icon {
    top: -1px;
}

.mini-tree-nodeshow {
    padding: 3px 5px 2px 4px;
}

.mini-tree-node-hover .mini-tree-nodeshow,
.mini-tree-selectedNode .mini-tree-nodeshow {
    /*padding:2px;
    padding-left:3px;
    padding-right:4px; */
    padding: 3px 5px 2px 4px;
}

.mini-tree-nodetext {
    padding-left: 6px;
}
.mini-tree-nodetitle {
    font-size: 14px;
}
.mini-tree-checkbox {
    margin-left: 4px;
    margin-right: 2px;
}

/* pager
==========================================*/

.mini-pager,
.mini-pager-right,
.mini-pager-left {
    height: 36px;
    line-height: 36px;
}
.mini-pager-size {
    height: 30px;
}
.mini-pager-index {
    vertical-align: baseline;
}
body .mini-pager-num {
    height: 28px;
    line-height: 28px;
}

.mini-pager-size .mini-combobox {
    width: 60px;
}

/* toolbar
==========================================*/

.mini-toolbar {
    padding: 6px;
}

/* tools
==========================================*/

.mini-tools span {
    margin-left: 6px;
}

/* panel
==========================================*/
.mini-panel-header,
.mini-panel .mini-panel-title,
.mini-panel .mini-tools>span {
    height: 32px;
    line-height: 32px;
}
.mini-panel .mini-panel-title {
    font-size: 18px;
}
.mini-panel .mini-panel-icon {
    margin-right: 4px;
}

/* window
=========================================*/
.mini-window .mini-panel-header,
.mini-window .mini-panel-title,
.mini-window .mini-tools,
.mini-window .mini-tools>span {
    height: 38px;
    line-height: 38px;
}

/* messagebox
=========================================*/

/* .mini-messagebox .mini-panel-header {
    height: 45px;
    line-height: 45px;
}
.mini-messagebox .mini-tools,
.mini-messagebox .mini-tools>span {
    height: 45px;
} */

.mini-messagebox .mini-panel-title {
    font-size: 16px;
}

/* .mini-messagebox .mini-messagebox-buttons {
    height: 44px;
} */

/* layout
==========================================*/
.mini-layout-region-header,
.mini-layout-proxy {
    height: 38px;
    line-height: 38px;
}

.mini-layout-proxy {
    width: 40px;
}

.mini-layout-region-header .mini-tools,
.mini-layout-proxy .mini-tools {
    top: 12px;
    right: 16px;
}

.mini-layout-proxy-text {
    left: 8px;
}

/* outlookbar
==========================================*/
/* 
.mini-outlookbar {
    font-size: 16px;
}

.mini-outlookbar-groupHeader {
    line-height: 20px;
    padding: 10px 26px 10px 12px;
}

.mini-outlookbar-groupTitle {
    padding-left: 8px;
}

.mini-outlookbar-groupHeader .mini-tools {
    top: 12px;
    right: 12px;
} */

/* menu
==========================================*/

.mini-menu {
    font-size: 14px;
}

.mini-menuitem-inner {
    padding: 2px 24px 2px 30px;
}

.mini-menuitem-icon,
.mini-menuitem-allow {
    left: 10px;
    top: 6px;
    line-height: 16px;
    height: 16px;
    width: 16px;
}

.mini-menuitem-allow {
    left: auto;
    right: 6px;
}

.mini-menu-horizontal .mini-menu-inner {
    padding: 6px;
}

.mini-menu-horizontal .mini-menuitem-inner {
    padding: 4px 10px 4px 10px;
}

.mini-menu-horizontal .mini-menuitem-icon {
    margin-right: 4px;
}
.mini-menu-horizontal .mini-menuitem-allow {
    margin-top: 3px;
}
.mini-menu-horizontal .mini-separator {
    height: 22px;
}

/* tabs
==========================================*/

.mini-tab {
    padding-left: 12px;
    padding-right: 12px;
}

.mini-tab-text {
    line-height: 16px;
    padding: 5px;
}

.mini-tabs-plain {
    line-height: 18px;
}

.mini-tab-close {
    /*margin-top:8px;*/
}

.mini-tabs-tabmenu {
    top: 7px;
    right: 4px;
    width: 22px;
    height: 26px;
    line-height: 24px;
    margin-right: 6px;
}

.mini-tabs-nav,
.mini-tabs-leftnav {
    top: 7px;
    padding-left: 8px;
    padding-right: 4px;
}

.mini-tabs-leftButton,
.mini-tabs-rightButton {
    width: 22px;
    height: 26px;
    line-height: 24px;
    margin-right: 6px;
}

.mini-tabs-buttons {
    /*padding-top:6px;*/
}

/* calendar
==========================================*/

.mini-calendar-menu-years {
    height: 72px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.mini-calendar-header {
    height: 34px;
}

.mini-calendar-title {
    top: 2px;
}

.mini-calendar-prev,
.mini-calendar-next {
    top: 10px;
}

body .mini-calendar td.mini-calendar-date {
    line-height: 16px;
    padding: 5px 8px;
    font-size: 10pt;
}

body .mini-calendar .mini-calendar-daysheader td {
    line-height: 18px;
    padding: 4px;
    font-size: 13px;
}

.mini-calendar-tadayButton,
.mini-calendar-clearButton,
.mini-calendar-okButton,
.mini-calendar-cancelButton {
    line-height: 16px;
    padding: 4px;
    padding-left: 0px;
    padding-right: 0px;
}

.mini-calendar-menu-year {
    padding: 2px 2px;
}

body .mini-calendar-menu-month {
    width: 32px;
    height: 28px;
    line-height: 26px;
}

body .mini-calendar-menu-year {
    width: 36px;
    height: 28px;
    line-height: 26px;
}

.mini-calendar-timespinner {
    width: 86px;
    margin-right: 10px;
}

.mini-calendar-footer {
    height: 26px;
}

.mini-calendar-footer .mini-buttonedit {
    height: 26px;
}

.mini-calendar-footer .mini-buttonedit>.mini-buttonedit-border,
.mini-calendar-footer .mini-buttonedit>.mini-buttonedit-border>.mini-buttonedit-input {
    line-height: 24px;
    height: 24px;
    font-size: 14px;
}
.mini-calendar-footer .mini-buttonedit .mini-buttonedit-button {
    height: 24px;
    width: 18px;
}
.mini-calendar-menu-nextYear,
.mini-calendar-menu-prevYear {
    top: 48px;
}

/* progressbar
==========================================*/

.mini-progressbar {
    height: 30px;
}

.mini-progressbar-border {
    height: 28px;
    border-radius: 4px;
}

.mini-progressbar-text {
    line-height: 28px;
}

/* textboxlist
==========================================*/
.mini-textboxlist-close {
    top: 6px;
}

.mini-textboxlist .mini-textboxlist-input {
    height: 22px;
    line-height: 22px;
    font-size: 14px;
}

/* filtertree
==========================================*/
.mini-filtertree .filter-search-btn {
    height: 30px;
    line-height: 30px;
}

/* webuploader
==========================================*/
.mini-uploader-btns .webuploader-pick {
    line-height: 28px;
}

/* largefileuploader
===========================================*/
.mini-largefileuploader {
    line-height: 30px;
}
.mini-ntko-pick {
    line-height: 28px;
}
/* dataexport
============================================*/
.mini-dataexport>.mini-panel {
    top: 30px;
}
.mini-export-btn {
    line-height: 36px;
}

.mini-export-list-content .mini-listbox-item>td {
    font-size: 14px;
}
.mini-radiobuttonlist .mini-export-num {
    height: 16px;
    line-height: 16px;
}
.mini-export-list-header {
    height: 30px;
}

/* colorpicker
=============================================*/
.mini-colorpicker-indication i {
    height: 20px;
}

/* pagination
==============================================*/
.mini-pagination {
    height: 30px;
    padding: 6px 0;
}
.pagination-buttons {
    right: 250px;
}
.pagination-next, .pagination-prev {
    height: 30px;
}
.pagination-button {
    width: 26px;
    height: 28px;
    line-height: 28px;
    font-size: 14px;
}
.mini-pagination .mini-buttonedit {
    height: 30px;
    margin-top: 0;
}
.mini-pagination .mini-buttonedit-border {
    height: 28px;
    line-height: 28px;
}
.mini-pagination .mini-buttonedit.mini-combobox {
    right: 140px;
    width: 100px;
}
.mini-pagination .mini-buttonedit.mini-combobox .mini-buttonedit-border:before {
    font-size: 14px;
    line-height: 28px;
    left: 38px;
}
.pagination-pagerchange {
    font-size: 14px;
}

/* tabstreeselect
==============================================*/
.mini-tabstreeselect-header {
    height: 35px;
}

.mini-tabstreeselect-tabs>li,
.mini-tabstreeselect-header-main {
    height: 30px;
    line-height: 30px;
}
.mini-tabstreeselect-content {
    top: 36px;
}
.mini-tabstreeselect-item {
    font-size: 14px;
    line-height: 26px;
}
.mini-tabstreeselect-buttons {
    height: 26px;
}