/* 背景 */

html ,
body ,
.imac-skin-bg {
    width: 100%;
    min-width: 1280px;
    height: 100%;
}

.imac-skin-bg {
    /* background-image: url("./images/skinbg/bg.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-size: cover; */
}
.imac-skin-bg {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
}

/* 顶部分页栏 */

.imac-top-bar {
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;

    width: 100%;
    height: 50px;

    background: url(images/top_bg.png) repeat-x transparent;
}

.imac-top-bar .sys-logo {
    margin-top: 10px;
}

.imac-top-bar .sys-user {
    font-size: 13px;
    line-height: 50px;

    color: #fff;
}

.imac-top-bar a {
    color: #fff;
}


/* imac 分屏页码 */

.imac-page-list {
    position: absolute;
    top: 11px;
    left: 50%;
}

.page-item {
    font-family: Helvetica;
    font-size: 18px;
    font-weight: bold;
    line-height: 28px;

    width: 28px;
    height: 28px;

    text-align: center;

    background: url("./images/top/page-bg.png") center no-repeat;
}

.page-item.active ,
.page-item:hover {
    text-decoration: none;

    background-image: url("./images/top/page-bg-h.png");
}


/* 搜索 */

.top-search {
    position: relative;

    height: 28px;
    margin-top: 11px;
}

.t-search {
    line-height: 26px;

    display: block;

    border: none;
    background: transparent;
}

.t-search:focus ,
.t-search:active {
    outline: none;
}

.t-search.search-input {
    width: 60px;
    height: 26px;
    padding: 0 26px 0 15px;

    -webkit-transition: all .4s cubic-bezier(.175, .885, .32, 1);
            transition: all .4s cubic-bezier(.175, .885, .32, 1);

    color: #fff;
    border: 1px solid #97a5b4;
    border-radius: 16px;
}

.t-search.search-input:focus {
    width: 120px;

    border-color: #a7b5c4;
}

.t-search.search-input:focus::-webkit-input-placeholder {
    color: #eee;
}

.t-search.search-input:focus:-moz-placeholder {
    color: #eee;
}

.t-search.search-input:focus::-moz-placeholder {
    color: #eee;
}

.t-search.search-input:focus:-ms-input-placeholder {
    color: #eee;
}

.search-btn {
    position: absolute;
    top: 4px;
    right: 10px;

    width: 18px;
    height: 18px;

    cursor: pointer;

    background: url("./images/top/top-search.png") center no-repeat;
}


/*placeholder颜色*/

::-webkit-input-placeholder {
    -webkit-transition: color .2s cubic-bezier(.175, .885, .32, 1);
            transition: color .2s cubic-bezier(.175, .885, .32, 1);

    color: #ccc;
}

:-moz-placeholder {
    -webkit-transition: color .2s cubic-bezier(.175, .885, .32, 1);
            transition: color .2s cubic-bezier(.175, .885, .32, 1);

    color: #ccc;
}

::-moz-placeholder {
    -webkit-transition: color .2s cubic-bezier(.175, .885, .32, 1);
            transition: color .2s cubic-bezier(.175, .885, .32, 1);

    color: #ccc;
}

:-ms-input-placeholder {
    -webkit-transition: color .2s cubic-bezier(.175, .885, .32, 1);
            transition: color .2s cubic-bezier(.175, .885, .32, 1);

    color: #ccc;
}

.top-user {
    position: relative;

    height: 40px;
    margin-top: 5px;
    padding-left: 45px;

    color: #fff;
}

.user-img {
    position: absolute;
    left: 0;

    width: 40px;
    height: 40px;

    border-radius: 50%;
}

.user-name ,
.user-ou {
    font-size: 14px;
    line-height: 20px;

    display: block;

    min-width: 80px;

    cursor: default;

    color: #fff;
}

.user-ou {
    font-size: 12px;
}


/* 右侧工具栏 */

.imac-right-bar {
    font-size: 12px;

    position: absolute;
    z-index: 5;
    top: 50px;
    right: 0;
    bottom: 0;

    width: 60px;

    color: #fff;

/*background : url(images/right_bg.png) repeat-y transparent;*/
    background: #333;
}

.right-board-btns {
    position: relative;

    margin-bottom: 4px;
}

.right-search-btn ,
.right-board-btn {
    cursor: pointer;

    border-bottom: 1px solid #1f1f1f;
}

.right-search-btn {
    height: 40px;

    background: url("./images/right/right-search.png") center no-repeat;
}

.right-board-btn ,
.multi-board-trigger {
    line-height: 28px;

    display: block;

    height: 28px;

    cursor: pointer;
    text-align: center;
}

.right-search-btn:hover ,
.right-board-btn:hover ,
.multi-board-trigger:hover {
    color: #eed183;
    background-color: #1a1a1a;
}
.multi-board-icon {
    display: inline-block;

    width: 16px;
    height: 28px;

    vertical-align: top;

    background: url("./images/right/left.png") center no-repeat;
}
.multi-board-trigger > span {
    display: inline-block;

    height: 28px;
}
.multi-board-trigger:hover .multi-board-icon {
    background-image: url("./images/right/left-h.png");
}

.multi-board-list {
    position: absolute;
    top: 0;
    right: 60px;

    width: 80px;

    background: #333;
}



/* 右侧工具栏：快捷应用 */

.imac-right-bar .dock-app {
    position: relative;

    padding: 10px 0 4px;

    cursor: pointer;
}

.imac-right-bar .dock-app:hover {
    /*background : url(images/dock-app-hover.png);*/
    background: #1a1a1a;
}

.imac-right-bar .dock-app img {
    display: block;

    width: 26px;
    height: 26px;
    margin: 0 auto;
}

.imac-right-bar .dock-app .name {
    font-size: 12px;
    line-height: 20px;

    text-align: center;

    color: #fff;
}

.imac-right-bar .dock-app .unread {
    font-family: Helvetica;
    font-size: 12px;
    font-weight: bold;
    line-height: 19px;

    position: absolute;
    top: 0;
    right: 0;

    display: block;

    width: 19px;
    height: 19px;

    text-align: center;

    color: #fff;
    background-image: url(images/red-circle.png);
}


/* 右侧工具栏 快捷应用 */

.quick-apps {
    position: relative;
}

.quick-apps .list-wrap {
    position: relative;

    overflow: hidden;
}

.quick-apps .app-list {
    height: 9999em;
}


/* 右侧空提示 */

.r-empty-tpis-bg {
    position: absolute;
    top: -4px;
    right: 0;
    bottom: 0;
    left: 0;

    background-image: url("./images/right/tip-bg.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-size: cover;
}

.r-empty-tips {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 16px;
    height: 340px;
    margin-top: -170px;
    margin-left: -8px;
}


/* 右侧工具栏 快速按钮 */

.imac-right-bar .quick-btns {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;

/*padding-top : 5px;*/
    padding-bottom: 5px;
}

.q-btn {
    display: block;

    height: 36px;
    margin-bottom: 1px;

    background-color: #1a1a1a;
    background-repeat: no-repeat;
    background-position: center center;
}
.q-btn.appstore {
    background-image: url("./images/appstore.png");
}
.q-btn.message {
    background-image: url("./images/right/msg-remind.png");
}

.q-btn.message.hasnew {
    background-image: url("./images/right/msg-remind.png");
}

.q-btn.settings {
    background-image: url("./images/right/settings.png");
}

.q-btn.skin {
    background-image: url("./images/right/skin.png");
}
.q-btn.logout {
    background-image: url("./images/right/logout.png");
}

.q-btn:hover {
    background-color: #000;
}

.msg-num {
    font-size: 12px;
    line-height: 16px;

/* position: absolute; */

    display: inline-block;

    min-width: 16px;
    height: 16px;
    margin: 0 0 0 35px;
    padding: 0 3px;

    text-align: center;

    color: #fff;
    border-radius: 50%;
    background: #f00;
}


/* 门户切换 */

.portal-sel-panel {
    position: absolute;
    z-index: 10;
    right: 50px;
    bottom: 0;

    margin-bottom: -80px;
}

/* imac 分屏 */

.imac-screens-container {
    overflow: hidden;

    margin-top: 50px;

    background-color: transparent;
}

.imac-screens-container .screen-list {
    width: 99999em;
}

.imac-screens-container .imac-screen {
    position: relative;
}


/* 应用图标 */

.app-item {
    position: absolute;

    width: 105px;
    height: 105px;

    cursor: pointer;
}

.app-item.trans {
    -webkit-transition-property: top, left;
            transition-property: top, left;
}

.app-item:hover {
    background-image: url(images/app-hover.png);
}

.app-item .unread {
    font-family: Helvetica;
    font-size: 12px;
    font-weight: bold;
    line-height: 19px;

    position: absolute;
    top: 8px;
    right: 18px;

    display: block;

    width: 19px;
    height: 19px;

    text-align: center;

    color: #fff;
    background-image: url(images/red-circle.png);
}

.app-item .app-icon {
    display: block;

    width: 50px;
    height: 50px;
    margin: 15px auto 9px;
}

.app-item .app-name {
    font-size: 14px;
    line-height: 23px;

    overflow: hidden;

    width: 85px;
    height: 23px;
    margin: 0 auto;

    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;

    color: #fff;
    border-radius: 23px;
    background-color: rgba(0, 0, 0, .1);

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#1a000000", endColorstr="#1a000000", GradientType=0);
    /* IE6-8 */
}


/* imac底部任务栏 */

.imac-taskbar {
    position: absolute;
    z-index: 5;
    right: 110px;
    bottom: 0;
    left: 0;

    height: 44px;
}

.imac-taskbar.drop-zindex {
    z-index: 5000;
}

.tasks-wrap {
    position: relative;
    z-index: 1;

    overflow: hidden;
}

.task-list {
    width: 9999em;
}

.task-item {
    width: 94px;
    padding: 0 10px;

    background-color: transparent;
    background-image: url(images/task-normal.png);
    background-repeat: no-repeat;
    background-position: center bottom;
}

.task-item:hover ,
.task-item.active {
    background-image: url(images/task-hover.png);
}


/*.task-item.active {
    background-image : url(images/task-active.png);
}*/

.task-item .task-icon {
    display: none;

    width: 25px;
    height: 25px;
    margin: 12px 5px 0 10px;
}

.task-item .task-name {
    font-size: 13px;
    line-height: 44px;

    overflow: hidden;

    width: 94px;

    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;

    color: #fff;
}


/* 任务下拉 */

.task-drop {
    position: absolute;
    z-index: 2000;
    right: 60px;
    bottom: 0;

    width: 50px;
    height: 44px;
    /*background : rgba(139,167,201,.65);*/
}

.drop-btn ,
.drop-btn-icon {
    position: relative;
    z-index: 1;

    display: block;

    width: 50px;
    height: 44px;
}

.drop-btn {
    cursor: pointer;

    background: url("./images/drop-normal.png") center bottom no-repeat;
}

.drop-btn-icon {
    background: transparent url("./images/drap-btn.png") center no-repeat;
}

.drop-list {
    position: absolute;
    z-index: 0;
    right: 0;
    bottom: -280px;

    width: 112px;
    min-height: 28px;
    max-height: 280px;

    background: #4d5462;
    box-shadow: -1px -1px 3px rgba(0, 0, 0, .15);
}

.drop-item {
    font-size: 13px;
    line-height: 28px;

    overflow: hidden;

    width: 80px;
    height: 28px;
    padding: 0 16px;

    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;

    color: #fff;
}

.drop-item:hover {
    background: #3b4252;
}


/* 拖拽时应用临时z-index*/

.app-drag-zindex {
    z-index: 5000 !important;
}


/* 搜索面板 */

.search-box {
    position: absolute;
    z-index: 5;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background: url("./images/panel/bg.png");
    background: rgba(0, 0, 0, .6);
}

.search-panel {
    position: absolute;
    top: 10%;
    left: 50%;

/*top : 50px;
    right : 60px;
    bottom : 50px;
    left : 60px;*/

    width: 1270px;
    height: 80%;
    margin-left: -635px;
}

.panel-hd {
    position: relative;

    height: 150px;

    background: url("./images/panel/panel-t-bg.png") center center no-repeat;
}

.panel-hd > .close-btn {
    position: absolute;
    top: -13px;
    right: -13px;

    display: block;

    width: 26px;
    height: 26px;

    cursor: pointer;

    background: url("./images/panel/close-btn.png") center no-repeat;
}

.a-search-input {
    line-height: 24px;

    position: absolute;
    top: 50%;
    left: 50%;

    width: 500px;
    height: 24px;
    margin-top: -24px;
    margin-left: -300px;
    padding: 12px 50px;

    border: none;
    border-radius: 24px;
    background: #fff url("./images/panel/a-search.png") 20px center no-repeat;
}

.a-search-input:focus {
    outline: none;
}

.a-search-input:focus::-webkit-input-placeholder {
    color: #666;
}

.a-search-input:focus:-moz-placeholder {
    color: #666;
}

.a-search-input:focus::-moz-placeholder {
    color: #666;
}

.a-search-input:focus:-ms-input-placeholder {
    color: #666;
}

.panel-bd {
    position: absolute;
    top: 150px;
    bottom: 0;

    width: 100%;

    background: #fff;
}

.tabview-hd {
    height: 30px;
    padding: 10px 50px;

    background: #f8f8f8;
}

.tabview-hd > ul {
    margin-left: -20px;
}

.tab-item {
    line-height: 30px;

    width: 130px;
    height: 30px;
    margin-left: 20px;

    cursor: pointer;
    -webkit-transition: all .2s cubic-bezier(.175, .885, .32, 1);
            transition: all .2s cubic-bezier(.175, .885, .32, 1);
    text-align: center;

    border-radius: 15px;
    background: #eaeaea;
}

.tab-item.active ,
.tab-item:hover {
    color: #fff;
    background: #73a7e6;
}

.tabview-bd {
    position: absolute;
    top: 70px;
    right: 10px;
    bottom: 20px;
    left: 10px;

    overflow: hidden;

    padding: 0 40px;
    /*width : 100%;*/
}

.tab-panel {
    margin-left: -70px;
    /*padding : 0 50px;*/
}

.app-item.in-panel {
    position: relative;

    width: 100px;
    height: 100px;
    margin-bottom: 20px;
    margin-left: 65px;
    padding: 5px;

    cursor: pointer;
}

.app-item.in-panel:hover {
    background: rgba(22, 57, 94, .15);
}

.in-panel > .app-icon {
    width: 50px;
    height: 50px;
    margin-top: 10px;
    margin-left: 25px;
}

.in-panel > .app-name {
    line-height: 26px;

    height: 26px;

    cursor: default;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    text-align: center;

    color: #fff;
    border-radius: 13px;
    background: #bcbfc3;
}
.in-panel > .app-name > b {
    font-weight: bold;

    margin: 0 2px;

    color: #f96e40;
}
.no-result {
    font-size: 22px;

    margin-top: 15%;

    text-align: center;
}
.no-result > span {
    margin: 0 2px;

    color: #f96e40;
}

/* 我的看板 */

.board-panel {
    position: absolute;
    z-index: 5;
    top: 60px;
    right: 70px;
    bottom: 53px;
    left: 10px;

/* background: transparent; */

    background: #fff;
}

.board-close {
    position: absolute;
    z-index: 6;
    top: -13px;
    right: -13px;

    width: 26px;
    height: 26px;

    cursor: pointer;

    background: Url("./images/panel/close-btn.png") center no-repeat;
}


/* 重写右键菜单样式 */

.ep-context-menu .menu {
    border-color: #4d5462;
    background: #4d5462;
}

.ep-context-menu .sep {
    border-top: none;
    border-bottom: 1px solid #5a6375;
}

.ep-context-menu .cm-btn {
    color: #fff;
}

.ep-context-menu .cm-btn-default:hover {
    background: #3b4252;
}

.ep-context-menu .cm-btn[data-role="hide"] {
    color: #edc787;
}

.ep-context-menu .cm-btn-disabled {
    color: #909aac;
    background: #4d5462;
}

.ep-context-menu .has-menu > .cm-btn-default {
    background: url("./images/show-more.png") 96px center no-repeat;
}
