<!DOCTYPE html>
<html>

<head>
<title>布局模板列表</title>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<!-- 请修改相对路径 -->
<script src="../../../frame/fui/js/cssboot.js"></script>
</head>

<body>
	<!-- 必须有，加载时的loading效果 -->
	<div class="page-loading"></div>

	<!-- toolbar区域 -->
	<div class="fui-toolbar">
		<div class="btn-group mr10">
			<!-- 			<a class="mini-button" onclick="openAdd();" iconCls="icon-addcircle" id="btnAddRecord">新增布局模板 </a> -->
			<a class="mini-button" iconCls="icon-save" onclick="saveOrder()">保存</a>
			<a id="btnDel" class="mini-button mini-btn-danger"
				iconCls="icon-minuscircle"
				onclick="if(mini.get('datagrid').getSelecteds().length==0){epoint.alert('请选择要删除的记录!', '', null, 'warning');} else {epoint.confirm('确认要删除吗?','',deleteSelect);}">
				删除选定 </a>
		</div>
	</div>
	<!-- 	<!-- 条件区域 -->
	<!-- 	<div class="fui-condition"> -->
	<!-- 		<div class="fui-form" id="fui-form"> -->
	<!-- 			<div id="cform" role="form"> -->
	<!-- 				<div role="row"> -->
	<!-- 					<div role="control" label="元件名称"> -->
	<!-- 						<input class="mini-textbox" bind="componentname" /> -->
	<!-- 					</div> -->
	<!-- 				</div> -->
	<!-- 			</div> -->
	<!-- 		</div> -->
	<!-- 		<a role="searcher" callback="searchData"></a> -->
	<!-- 	</div> -->
	<!-- 内容区域 -->
	<div id="fuiContent" class="fui-content">
		<div id="datagrid" class="mini-datagrid" idField="rowguid"
			action="getDataGridData" sortOrder="desc" showPager="true"
			style="height: 100%;" allowResize="true" multiSelect="true"
			allowCellEdit="true" allowCellSelect="true" editNextOnEnterKey="true"
			editNextRowCell="true" holdSelectedStatus="true">
			<div property="columns">
				<div type="checkcolumn" width="40"></div>
				<div type="indexcolumn" width="40" headerAlign="center">序</div>
				<div field="templatename" headerAlign="center" align="left"
					width="100%">
					模板名称 <input property="editor" class="mini-textbox"
						style="width: 100%" maxlength="6" />
				</div>
				<div field="customwidth" width="500" align="left"
					headerAlign="center">列宽自定义</div>
				<div field="orderNumber" width="80" align="right"
					headerAlign="center" allowSort="true" sortOrder="desc">
					排序<input property="editor" class="mini-textbox"
						vtype="int;range:0,99999999" maxLength="8"
						inputStyle="text-align:right" style="width: 100%;" />
				</div>
				<!-- 				<div width="80" align="center" headerAlign="center" -->
				<!-- 					renderer="onEditRenderer">修改</div> -->
			</div>
		</div>
	</div>

	<!-- 请修改相对路径 -->
	<script src="../../../rest/resource/jsboot"></script>
	<script>
		// 初始化页面
		epoint.initPage('layouttemplatelistaction');

		// 弹出新增窗口
		function openAdd() {
			epoint.openDialog('新增记录',
					"framemanager/ui/template/layouttemplate", searchData, {
						'width' : 1000,
						'height' : 550
					});
		}
		// 绘制行编辑按钮
		var onEditRenderer = function(e) {
			return epoint.renderCell(e, "action-icon icon-edit", "edit",
					"rowguid");
		};
		// 弹出修改窗口
		function edit(guid) {
			var url = 'framemanager/ui/template/layouttemplate?guid=' + guid;
			epoint.openDialog("修改模板", url, searchData, {
				'width' : 1100,
				'height' : 500
			});
		}
		// 删除数据
		function deleteSelect() {
			epoint.execute("deleteSelect", '', callback);
		}

		function callback(data) {
			if (data.success) {
				epoint.alert(data.msg, '', searchData, 'success');
			} else if (data.msg) {
				epoint.alert(data.msg, '', searchData, 'error');
			}
		}

		// 表格的搜索
		function searchData() {
			epoint.refresh([ 'datagrid' ]);
		}
		function saveOrder() {
			epoint.execute('saveOrder', '', callback);
		}
	</script>
</body>
</html>