#fontBase {
    font-family: ActionIcon !important;
    font-size: 14px;
    font-size: 0.14rem;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.action-icon {
    display: inline-block;

    line-height: 1;
    cursor: pointer;
    #fontBase();
}

.mini-listbox-checkbox-icon,
.mini-button-icon,
.mini-menuitem-icon,
.mini-tab-icon,
.mini-icon,
.mini-iconfont,
.mini-grid-group-ecicon {
    #fontBase();
    height: 16px;
    width: 16px;
    line-height: 16px;
}

// 一些图标的兼容
.icon-add:before,
.icon-addcirclefilled:before {
    // content: '\e6eb';/*icon-addcircle*/
    // .icon-addcircle:before();
    &:extend(.icon-addcircle:before);
}

.icon-removecircle:before,
.icon-removecirclefilled:before {
    // content: '\e70a';/*icon-error*/
    &:extend(.icon-error:before);
}
.icon-leftcircle:before {
    content: "\e70b";/*.icon-left*/
    &:extend(.icon-left:before);
}
.icon-rightcircle:before {
    // content: "\e712";/*.icon-right*/
    &:extend(.icon-right:before);
}
.icon-removethin:before {
    content: "\e6de";/*icon-remove*/
    &:extend(.icon-remove:before);
}
.icon-checkthin:before {
    content: "\e6e7";/*icon-check*/
    &:extend(.icon-checkthin:before);
}