.header-container {
  background-image: url("./images/header/bg.jpg")
}

.top-portal-cate-item {
  color: #2285d9
}

.portal.multi .top-portal-cate-item:hover {
  background: #ebf5ff
}

.portal.multi .portal-box-inner,
.portal.multi .top-portal-cate-item.active {
  background: #ebf5ff;
  color: #2285d9
}

.portal.multi .top-portal-item:hover {
  background: #7cbbf1;
  color: #fff
}

.quick-menu-item:hover,
.top-portal-item:hover {
  color: #2285d9;
  background: #ebf5ff
}

.user-action-item:hover {
  color: #2285d9
}

.top-menu-wrap.hold-color {
  color: #fff;
  background: #2285d9
}

.top-menu-wrap.active {
  color: #fff;
  background: #2285d9
}

.top-menu-wrap.active .top-menu-trigger {
  background: #fff
}

.top-menu-wrap.active .top-menu-trigger:after {
  background: url(./images/header/menu-close.png) center no-repeat
}

.top-menu-wrap.active .top-menu-item:hover,
.top-menu-wrap.active .top-menu-item.active {
  color: #fff;
  background: #2590eb;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3)
}

.header-search .classify-search-history-item>.classify-search-history-remove {
  color: #2285d9
}

.header-search .classify-search-history-item:hover,
.header-search .classify-search-history-item.active {
  color: #2285d9;
  background: #ebf5ff
}

.header-search .classify-search-classify-item:hover,
.header-search .classify-search-classify-item.active {
  background: #ebf5ff
}

.header-search .classify-search-classify-item .classify-search-classify-kw {
  color: #2285d9
}

.new-remind-wrap {
  background: #2590eb
}

.new-remind-wrap:before {
  border-bottom-color: #2590eb
}

.ie8 .header-search .classify-search-input {
  background: #1f4d8c
}

.left-menu-header {
  background: #2590eb
}

.left-menu-item.level-1>.left-menu-link:hover {
  background: #2590eb;
  color: #fff
}

.left-menu-item.level-1>.left-menu-link:hover>.left-menu-trigger {
  background-image: url(./images/leftmenu/menu-right-w.png)
}

.left-menu-item.level-1>.left-menu-link {
  background: #044186;
  color: #fff;
  border-bottom: 2px solid #043266;
}

.left-menu-item.level-1.opened>.left-menu-link {
  background: #009cff;
  color: #fff
}

.left-menu-item.level-1.opened>.left-menu-link>.left-menu-trigger {
  background-image: url(./images/leftmenu/menu-down-w.png)
}

.left-menu-link {
  color: #fff
}

.left-menu-link:hover {
  background: #009cff;
}

.left-menu-trigger {
  background: url(./images/leftmenu/menu-right.png) center no-repeat
}

.main.left-narrow .left-menu-sub-inner {
  background: #2285d9
}

.main.left-narrow .left-nav-trigger {
  background-color: #2590eb
}

.main.left-narrow .left-menu-item.level-2 {
  margin-left: -30px
}

.main.left-narrow .left-menu-item.level-2 .left-menu-link {
  color: #fff
}

.main.left-narrow .left-menu-item.level-2 .left-menu-link:hover {
  background: rgba(255, 255, 255, 0.1)
}

.main.left-narrow .left-menu-item.level-2 .left-menu-link>.left-menu-trigger {
  background-image: url(./images/leftmenu/menu-right-w.png)
}

.ie8 .opened>.left-menu-link>.left-menu-trigger {
  background-image: url(./images/leftmenu/menu-down.png)
}

.main-content-tab-wrap {
  background: rgba(0,15,54,.6)
}

.tabsnav-tabs-item {
  background: #123050;
  background: rgb(18, 48, 80,.5);
  border-color: transparent;
  color: #fff;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out
}

.tabsnav-tabs-item.fixed {
  color: #fff;
  background: #123050
}

.tabsnav-tabs-item:hover,
.tabsnav-tabs-item.active {
  background-color: #1081bb;
  color: #fff
}

.tabsnav-contextmenu-item:hover,
.tabsnav-quicknav-item:hover {
  color: #2285d9;
  background-color: #ebf5ff
}

.tabsnav-quicknav-trigger {
  background: url(./images/tabsnav/trigger-btn.png) center no-repeat
}

.msg-panel {
  border-top-color: #2285d9
}

.msg-panel-hide {
  background: url("images/right-msg/icon-toright.png")
}

.message-content-wrap.empty {
  background-image: url(./images/right-msg/no-msg.png)
}

.msg-category-head:after,
.msg-result-head:after,
.msg-history-head:after {
  background: #2285d9
}

.msg-category-num {
  color: #2285d9
}

.msg-category-remove:hover {
  background: url("images/right-msg/icon-msgdel-hover.png")
}

.msg-list-item:hover,
.msg-list-item.newmsg:hover {
  color: #2285d9
}

.msg-item-ignore:hover {
  background: url("images/right-msg/icon-eye-hover.png")
}

.emsg-recent-list.empty {
  background: url("images/right-msg/no-exun.png") no-repeat 50% 130px
}

.emsg-ignore-icon {
  background: #2590eb
}

.emsg-ignore-icon:hover {
  background: #2285d9
}

.emsg-recent-item:hover {
  background: #ebf5ff
}

.msg-panel-head.tab>.panel-hd-tab.active,
.msg-panel-head.tab>.panel-hd-tab:hover {
  color: #2285d9
}

.emsg-dialog-left {
  background: #2590eb
}

.emsg-btn-send {
  background: #2590eb
}

.emsg-btn-send:hover {
  background: #389aed
}

.emsg-session-list .emsg-session-item:hover,
.emsg-session-list .emsg-session-item.active {
  background: rgba(255, 255, 255, 0.6)
}

.emsg-message-item.send .emsg-message-content>div {
  background: #bfe2ff
}

.left-menu-icon {
  text-align: left;
}