html, body {
    height: 100%;
    overflow: hidden;
    background-color: transparent;
}

form {
    height: 100%;
    overflow: auto;
    position: relative;
}

.portlet-wrapper {
    padding: 32px;
    overflow: hidden;
}
.portlet-wrapper a {
    color: #333;
    text-decoration: none;
}
.portlet-wrapper a:hover {
    text-decoration: none;
}
.portlet-cols {
}
.portlet-cols .portlet-column {
    min-height: 100px;
    margin-right: 20px;
}
/* portlet widget */
.oa-portlet {
    background-color: #fff;
    margin-bottom: 20px;
    white-space: nowrap;
    word-break: keep-all;
}
.oa-portlet .oa-portlet-hd {
    padding-top: 10px;
    padding-left: 15px;
    border-bottom: 1px solid #53AEE0;
    cursor: move;
    height: 37px;
    line-height: 37px;
    overflow: hidden;
}
.oa-portlet-hd .portlet-hd-lnks {
    margin-left: 15px;
}
.oa-portlet .portlet-hd-lnks a {
    font-size: 16px;
    display: inline-block;
    margin-right: 5px;
}
.oa-portlet .portlet-hd-lnks a:hover {
    color: #F16C11;
}
.oa-portlet .oa-portlet-title {
    color: #53AEE0;
    font-size: 18px;
}
.oa-portlet .oa-portlet-bd {
    padding: 10px 15px;
    overflow-y: auto;
    overflow-x: hidden;
    height: 150px;
}
.oa-portlet-placeholder {
    margin-bottom: 20px;
    border: 2px dashed #acacac;
}
/* portlet info table */
 .portlet-info-tb {
    width: 100%;
    font-size: 14px;
    table-layout: fixed;
}
.portlet-info-tb a:hover {
    color: #FF3333;
}
.portlet-info-tb .info-tb-row {
    height: 25px;
    line-height: 25px;
}
.info-tb-row .td-num {
    color: #333;
    width: 20px;
    text-align: right;
    padding-right: 15px;
}
.info-tb-row .td-info {
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
}
.info-tb-row .td-info .new-tag {
    margin-left: 5px;
}
.info-tb-row .td-gray {
    text-align: right;
    color: #808080;
    width: 8em;
}
/* portlet head icon buttons */
 .phd-btn {
    text-decoration: none;
    background:url('../image/home/icon-13x13.png') no-repeat 0 0;
    background-color: transparent;
    background-repeat: no-repeat;
    width: 21px;
    height: 21px;
    display: inline-block;
}
.phd-btn:hover {
    cursor: pointer;
}
.phd-btn-add {
    background-position:-16px -76px;
}
.phd-btn-add:hover {
    background-position:-16px -156px;
}
.phd-btn-query:hover {
    background-position:-106px -156px;
}
.phd-btn-query {
    background-position:-106px -76px;
}
.oa-portlet-hd .phd-btn-group {
    float: right;
    line-height: 21px;
    margin-top: 8px;
    margin-right: 10px;
}
.phd-btn-group .phd-btn {
    margin-right:5px;
}
