
.toolbox {
	margin: 14px;
	color: #666;
	font-size: 14px;
}
.mini-selectduration {
	float: left;
}

.mini-selectduration:after {
	content: "";
	display: block;
	clear: both;
}
.mini-selectduration-btns {
	float: left;
}
.mini-selectduration-btns:after {
	content: "";
	display: block;
	clear: both;
}
.mini-selectduration-btn {
	float: left;
	height: 30px;
	padding: 0 15px;
	line-height: 30px;
	background: #f8fafb;
	text-align: center;
	cursor: pointer;
}
.mini-selectduration-btn.active {
	background: #6894f5;
	color: #fff;
}
.mini-selectduration-custom {
	position: relative;
	float: left;
	width: 84px;
	height: 34px;
	margin-left: 10px;
}
.mini-selectduration-custom-btn {
	display: inline-block;
	padding: 0 10px 0 25px;
	height: 32px;
	border: 1px solid #ddd;
	border-radius: 2px;
	background: url("../images/mini-selectduration-custom.png") no-repeat 10px center;
	color: inherit;
}
.mini-selectduration-custom-btn.active:after {
	content: "自定义";
	margin-left: 5px;
	line-height: 32px;
}
.mini-selectduration-custom-container {
	position: absolute;
	top: 40px;
	left: 0;
	padding: 15px;
	width: 332px;
	height: 120px;
	background: #fff;
	box-shadow: 0 0 8px 0 rgba(0,0,0,.2);
	z-index: 1000;
}
.selectduration-item {
	margin-bottom: 8px;
}
.selectduration-tip {
	float: left;
	width: 218px;
	margin-top: 12px;
	color: #999;
	line-height: 18px;
	font-size: 12px;
}
.mini-button.confirm {
	float: right;
	margin-top: 12px;
}


.object-select {
	float: left;
	width: 90px;
	height: 34px;
	margin-left: 10px;
	background: #6894f5;
	color: #fff;
	line-height: 34px;
	text-align: center;
	border-radius: 2px;
}
.refresh-auto {
	float: left;
	margin-left: 68px;
	color: #666;
	line-height: 34px;
	padding-right: 50px;
	background: url("../images/refresh-off.png") no-repeat right center;
}
.refresh-auto.on {
	background-image: url("../images/refresh-on.png");
}

.toolbox > .mini-combobox {
	float: right;
}


.count-module {
	margin: 0 14px 14px;
	border: 1px solid #eee;
}
.module-title {
	margin-top: 20px;
	margin-left: 20px;
	font-size: 18px;
	color: #6894f5;
}
.chart-container {
	height: 270px;
}