
/* 页面背景为框架背景，需删除 */
body {
	background: #ECF3FA;
	color: #666;
	font-size: 14px;
}
.fui-content {
	background: transparent;
}

a {
	color: inherit;
}
.toolbox {
	margin: 14px;
	color: #666;
	font-size: 14px;
}
.combobox-label {
	float: left;
	margin-right: 5px;
	line-height: 26px;
}
.toolbox>.mini-combobox {
	float: none;
}

.mini-selectduration-custom {
	margin-left: 0;
	width: auto;
}
.mini-selectduration-custom-container {
	left: auto;
	right: 0;
}
.mini-selectduration-custom-input {
	display: inline-block;
	width: 290px;
	height: 28px;
	margin-left: 10px;
	padding-left: 10px;
	line-height: 28px;
	background: #f8fafb;
	cursor: pointer;
	border: 1px solid #ddd;
	background: url("../images/icon-calendar.png") no-repeat 97% center;
}
.mini-selectduration-custom-btn.active:after {
	content: unset;
}

.count-tip {
	float: right;
	color: #999;
	line-height: 30px;
}
.refresh-btn {
	display: inline-block;
	width: 12px;
	height: 30px;
	margin-left: 3px;
	vertical-align: top;
	background: url("../images/icon-refresh.png") no-repeat center;
}


.count-module {
	border: 0;
	background: #fff;
	border-radius: 4px;
	margin: 15px 0 0;
}
.count-module:before {
	content: "";
	display: table;
}
.count-module:after {
	content: "";
	display: table;
}
.module-title {
	margin: 0;
	padding: 0 10px;
	line-height: 50px;
	border-bottom: 1px solid #eee;
}
.count-list {
	margin: 0 5px;
}
.count-item {
	float: left;
	width: 33.3333%;
}
.count-content {
	margin: 0 5px;
	background: #f8fafb;
	background-repeat: no-repeat;
	background-position: -30% center;
	vertical-align: middle;
}
.count-item.count01 .count-content {
	background-image: url("../images/count01.png");
}
.count-item.count02 .count-content {
	background-image: url("../images/count02.png");
}
.count-item.count03 .count-content {
	background-image: url("../images/count03.png");
}
.count-item.count04 .count-content {
	background-image: url("../images/count04.png");
	background-color: #f4f7ff;
	background-position: -2% center;
}
.count-item.count05 .count-content {
	background-image: url("../images/count05.png");
	background-color: #edf9ff;
	background-position: -2% center;
}
.count-item.count06 .count-content {
	background-image: url("../images/count06.png");
	background-color: #fff8ed;
	background-position: -2% center;
}
.count-item.count04 .count-value > span {
	color: #6894f5;
}
.count-item.count05 .count-value > span {
	color: #26c3cc;
}
.count-item.count06 .count-value > span {
	color: #f79b5e;
}
.count-name {
	text-align:right;
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden;
	margin:0 20px;
	vertical-align:middle;
}
.count-value {
	display: inline-block;
	width: 60px;
	text-align: right;
}

.mod01 {
	padding: 20px 35px;
}
.page-title {
	float: left;
	font-size: 24px;
	color: #6894f5;
}
.mod01 .count-list {
	float: right;
}
.mod01 .count-item {
	width: 160px;
}
.mod01 .count-content {
	height: 73px;
	padding: 11px 23px;
	line-height: 36px;
	text-align: right;
}
.mod01 .count-name {
	margin: 0;
}
.mod01 .count-value {
	font-size: 26px;
	color: #f7cb00;
}

.selection-item {
	margin-bottom: 17px;
}
.selection-item:after {
	content: "";
	clear: both;
	display: block;
}
.monitor-item {
	float: left;
	height: 24px;
	margin-right: 10px;
	padding: 0 15px;
	line-height: 24px;
	border: 1px solid #ddd;
}
.monitor-item.all {
	color: #fff;
	background: #6894f5;
	border-color: #6894f5;
}
.selection-item.duration {
	padding-top: 13px;
}

.selected-objects {
	float: left;
}
.monitor-list {
	float: left;
}
.clear-btn {
	float: left;
	color: #6894f5;
}




.mod02 .count-list {
	padding-bottom: 10px;
}
.count-title {
	margin-left: 5px;
	line-height: 42px;
	padding-left: 10px;
	background: url("../images/count-title.png") no-repeat left center;
	color: #444;
}
.mod02 .count-content {
	padding: 10px 0;
	line-height: 32px;
}
.mod02 .count-value>span {
	margin-right: 5px;
}
.overview-count .count-name {
	display:inline-block;
	width:45%;
}

.detail-btn {
	float: right;
	width: 25px;
	height: 25px;
	margin-right: 15px;
	margin-top: 13px;
	background: url("../images/chart-detail.png");
}

.chart-mod {
	margin: 10px 0;
	border: 1px solid #eee;
}

.chart-overview {
	height: 93px;
	line-height: 93px;
	background: url("../images/split-line.png") no-repeat center;
	border-bottom: 1px solid #eee;
	margin-bottom: 20px;
}
.overview-item {
	float: left;
	width: 50%;
	text-align: center;
}
.overview-item .count-value {
	width: auto;
	margin-left: 20px;
}
.overview-item .count-value>span {
	font-size: 24px;
	margin-right: 5px;
}


.tabview {
	margin: 0 20px;
}
.tab-head {
	height: 50px;
	border-bottom: 1px solid #eee;
}
.tab-title {
	float: left;
	margin-right: 20px;
	color: #c0c9dd;
	line-height: 48px;
	font-size: 18px;
	cursor: pointer;
}
.tab-title.active {
	color: #6894f5;
	border-bottom: 3px solid #a4c0fd;
}
.tab-datetime {
	float: right;
	margin-top: 10px;
}
.tab-datetime .refresh-btn {
	margin-left: 10px;
}


/* 监控详情 */
.charts-toolbar {
	margin-top: 14px;
}
.charts-legend {
	float: left;
	margin-left: 17px;
}
.chart-legend {
	float: left;
	margin-right: 20px;
	cursor: pointer;
	color: #999;
}
.chart-legend:before {
	content: "";
	display: inline-block;
	width: 18px;
	height: 2px;
	margin-right: 10px;
	vertical-align: middle;
	background: #999;
}
.chart-legend.active {
	color: #666;
}
.chart-legend.active:nth-child(1):before {
	background: #1089ff;
}
.chart-legend.active:nth-child(2):before {
	background: #30c5d0;
}
.chart-legend.active:nth-child(3):before {
	background: #f7cb00;
}
.chart-legend.active:nth-child(4):before {
	background: #f8898b;
}
.chart-legend.active:nth-child(5):before {
	background: #b089f8;
}
.charts-view {
	float: right;
	margin-right: 17px;
	border-radius: 2px;
	overflow: hidden;
}
.charts-column {
	float: left;
	width: 36px;
	height: 28px;
	background: #f8fafb no-repeat center;
	cursor: pointer;
}
.charts-column.active {
	background-color: #6894f5;
}
.charts-column.plural {
	background-image: url("../images/view-plural.png");
}
.charts-column.plural.active {
	background-image: url("../images/activeview-plural.png");
}
.charts-column.signal {
	background-image: url("../images/view-signal.png");
}
.charts-column.signal.active {
	background-image: url("../images/activeview-signal.png");
}

.charts-list {
	padding-bottom: 10px;
}
.chart-item {
	float: left;
	width: 50%;
	margin-bottom: 20px;
}
.charts-list.signal .chart-item {
	width: 100%;
}
.chart-info {
	margin: 10px 18px;
	line-height: 30px;
}
.chart-name {
	margin-right: 15px;
	font-size: 18px;
}
.chart-name > span {
	font-size: 14px;
	color: #999;
}
.chart-duration {
	margin-right: 5px;
}
.result-container {
	height: 240px;
	margin: 0 18px;

}
.chart {
	height: 100%;;
}
.no-result {
	height: 238px;
	border: 1px solid #ececec;
}
.no-result > p {
	margin-top: 43px;
	padding-top: 130px;
	background: url("../images/no-result.png") no-repeat top center;
	text-align: center;
	color: #999;
}

/* 页面滚动后，tab头部固定 */
.tab-datetime {
	display: none;
}
.tabview.head-fixed .tab-head {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: 0 20px;
	background: #fff;
	z-index: 100;
}
.tabview.head-fixed .tab-datetime {
	display: block;
}
.tabview.head-fixed .tab-body {
	margin-top: 51px;
}