.uc-oauploader .mini-menubutton {
    /* 用于这种按钮的右边框 */
    margin: 0 0 0 -1px;

    border-left: none !important;
}

.uc-oauploader .mini-menubutton > .mini-button-text {
    display: none;
}

.uc-oauploader .mini-button-allow {
    background-position: center center;
}

.mini-uploader-list {
    overflow: hidden;

    padding: 8px 0 5px 0;
    margin-left: -20px;
}
.mini-uploader-list.min-size {
    margin-left: -10px;
}
.file-bd.small {
    padding: 7px 0 0;

    border: 0;
}

.file-item {
    position: relative;
    box-sizing: border-box;
    font-size: 12px;
    line-height: 18px;

    z-index: 2;

    float: left;
    overflow: hidden;

    width: 256px;
    height: 56px;
    margin-left: 20px;
    margin-bottom: 10px;
    padding: 9px 6px;

    cursor: pointer;
    text-align: left;

    color: #999;
    border: 1px solid #e6e6e6;
    background-color: #fafafa;
}

.file-item:hover ,
.file-item.active {
    border: 1px solid #a3bdd0;
    background: #fff;
}


/*新增文件类型图标start 20180317xiaol*/

.file-item .file-type {
    position: absolute;
    top:10px;
    left: 7px;
    width: 36px;
    height: 36px;

    background-repeat: no-repeat;
}

.file-type.common {
    background-image: url("./images/file/COMMON.png");
}

.file-type.doc ,
.file-type.docx {
    background-image: url("./images/file/DOC.png");
}

.file-type.xls ,
.file-type.xlsx {
    background-image: url("./images/file/XLS.png");
}

.file-type.ppt ,
.file-type.pptx {
    background-image: url("./images/file/PPT.png");
}

.file-type.zip ,
.file-type.rar {
    background-image: url("./images/file/ZIP.png");
}

.file-type.png {
    background-image: url("./images/file/PNG.png");
}

.file-type.jpg ,
.file-type.jpeg {
    background-image: url("./images/file/JPG.png");
}

.file-type.gif {
    background-image: url("./images/file/GIF.png");
}

.file-type.txt {
    background-image: url("./images/file/TXT.png");
}

.file-type.pdf {
    background-image: url("./images/file/PDF.png");
}

.file-type.psd {
    background-image: url("./images/file/PSD.png");
}

.file-type.css {
    background-image: url("./images/file/CSS.png");
}

.file-type.dll {
    background-image: url("./images/file/DLL.png");
}

.file-type.eps {
    background-image: url("./images/file/EPS.png");
}

.file-type.html {
    background-image: url("./images/file/HTML.png");
}

.file-type.ico {
    background-image: url("./images/file/ICO.png");
}

.file-type.mp3 {
    background-image: url("./images/file/MP3.png");
}

.file-type.svg {
    background-image: url("./images/file/SVG.png");
}

.file-type.swf {
    background-image: url("./images/file/SWF.png");
}

.file-type.tif {
    background-image: url("./images/file/TIF.png");
}

.file-type.ai {
    background-image: url("./images/file/AI.png");
}


/*新增文件类型图标end*/

.file-item a {
    color: #000;
}

.file-item > .file-info {
    overflow: hidden;
    position: absolute;
    top:10px;
    left:52px;
    right: 5px;
    height: 18px;
    line-height: 18px;
}

.file-item .file-name {
    position: absolute;
    left: 0;
    right:80px;
    font-size: 14px;

    display: block;
    
    overflow: hidden;

    padding-right: 0px;

    white-space: nowrap;
    text-overflow: ellipsis;

    color: #333;
}
.file-info > .file-size {
    float: right;
}
.file-func {
    line-height: 18px;
    height: 18px;
    position: absolute;
    bottom: 10px;
    left:52px;
    right: 5px;
}
.file-func > span {
    float: left;

    vertical-align: top;
}

.file-func .delete-file ,
.file-func .edit-file ,
.file-func .preview-file,
.file-func .download-file,
.file-func .re-save{
    padding-right: 10px;
}

.mini-uploader-progressbar {
    margin-top: 1px;
}

.file-func > span {
    color: #1168b2;
}

.file-func > span:hover {
    color: #33a1d1;
}


/* 列表小状态 */
.mini-uploader-list.min-size .file-item {
    position: relative;

    width: 156px;
    height: 32px;
    min-height: 32px;
    margin-left: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
}
.mini-uploader-list.min-size  .file-info {
    top: 7px;
    left: 30px;
}

.mini-uploader-list.min-size .file-name {
    right: 30px;
}
.mini-uploader-list.min-size .file-func {
    position: static;
    margin-top: 40px;
}

.mini-uploader-list.min-size .download-file {
    position: absolute;
    top: 6px;
    right: 5px;

    display: block;

    color: #333;
}

.mini-uploader-list.min-size .download-file:hover {
    color: #1168b2;
}

.mini-uploader-list.min-size .file-size {
    display: none;
}

.mini-uploader-list.min-size .file-type {
    top:7px;
    left: 7px;
    width: 18px;
    height: 18px;

    background-size: 18px 18px;
}

.mini-uploader-list.min-size .edit-file {
    display: none !important;
}

.mini-uploader-list.min-size .delete-file {
    display: none !important;
}

.mini-uploader-list.min-size .preview-file {
    position: absolute;
    top: 0;
    right: 30px;
    bottom: 0;
    left: 0;

    opacity: 0;

    -webkit-filter: opacity(0);
            filter: opacity(0);
}
.mini-uploader-list.min-size .mini-uploader-error,
.mini-uploader-list.min-size .mini-uploader-progressbar {
    display: none !important;
}

.mini-uploader-list.min-size .file-type.common {
    background-image: url("./images/file-small/COMMON.png");
}

.mini-uploader-list.min-size .file-type.doc ,
.mini-uploader-list.min-size .file-type.docx {
    background-image: url("./images/file-small/DOC.png");
}

.mini-uploader-list.min-size .file-type.xls ,
.mini-uploader-list.min-size .file-type.xlsx {
    background-image: url("./images/file-small/XLS.png");
}

.mini-uploader-list.min-size .file-type.ppt ,
.mini-uploader-list.min-size .file-type.pptx {
    background-image: url("./images/file-small/PPT.png");
}

.mini-uploader-list.min-size .file-type.zip ,
.mini-uploader-list.min-size .file-type.rar {
    background-image: url("./images/file-small/ZIP.png");
}

.mini-uploader-list.min-size .file-type.png {
    background-image: url("./images/file-small/PNG.png");
}

.mini-uploader-list.min-size .file-type.jpg ,
.mini-uploader-list.min-size .file-type.jpeg {
    background-image: url("./images/file-small/JPG.png");
}

.mini-uploader-list.min-size .file-type.gif {
    background-image: url("./images/file-small/GIF.png");
}

.mini-uploader-list.min-size .file-type.txt {
    background-image: url("./images/file-small/TXT.png");
}

.mini-uploader-list.min-size .file-type.pdf {
    background-image: url("./images/file-small/PDF.png");
}

.mini-uploader-list.min-size .file-type.psd {
    background-image: url("./images/file-small/PSD.png");
}

.mini-uploader-list.min-size .file-type.css {
    background-image: url("./images/file-small/CSS.png");
}

.mini-uploader-list.min-size .file-type.dll {
    background-image: url("./images/file-small/DLL.png");
}

.mini-uploader-list.min-size .file-type.eps {
    background-image: url("./images/file-small/EPS.png");
}

.mini-uploader-list.min-size .file-type.html {
    background-image: url("./images/file-small/html.png");
}

.mini-uploader-list.min-size .file-type.ico {
    background-image: url("./images/file-small/ICO.png");
}

.mini-uploader-list.min-size .file-type.mp3 {
    background-image: url("./images/file-small/MP3.png");
}

.mini-uploader-list.min-size .file-type.svg {
    background-image: url("./images/file-small/SVG.png");
}

.mini-uploader-list.min-size .file-type.swf {
    background-image: url("./images/file-small/SWF.png");
}

.mini-uploader-list.min-size .file-type.tif {
    background-image: url("./images/file-small/TIF.png");
}

.mini-uploader-list.min-size .file-type.ai {
    background-image: url("./images/file-small/AI.png");
}
/* 文件列表状态隐藏编辑和删除 */
.mini-uploader-list.readonly .delete-file {
    display: none !important;
}
.mini-uploader-list.readonly .edit-file {
    display: none !important;
}

/* 拖动排序 */
.uc-oauploader > .mini-webuploader {
    display: block;
}
/* .mini-uploader-list.in-sort {
    position: relative;
} */
.mini-uploader-list.in-sort >.file-item {
    position: relative;
    cursor: move;
}
.mini-uploader-list.in-sort >.file-item:before {
    content: "";
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
}

/* 保密级别 */
.file-func .secrecy-level {
    display: none;
}