/**!
 * [新点智能应用分析平台]
 * date:2018-09-29
 * author: [xlb];
 */

*,
:before,
:after {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

body {
	overflow: auto;
}

.box {
	min-width: 1140px;
	min-height: 590px;
	background: #324254;
	padding: 20px 10px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
}

/*头部*/
.head-list {
	margin-bottom: 15px;
}

.head-list>li {
	width: 33.3%;
	float: left;
}

.head-list>li>div {
	margin: 0 10px;
	height: 272px;
}

.platform>div {
	background: url("../images/rect01.png");
	background-size: 100% 100%;
}

.head-title {
	height: 45px;
	overflow: hidden;
	background: url("../images/gray-line.png") left bottom repeat-x;
}

.head-title>* {
	display: block;
}

.head-title>span {
	float: left;
	color: #fff;
	margin: 13px 0 0 12px;
	font-size: 15px;
	font-weight: bold;
}

.link-more {
	display: block;
	float: right;
	width: 18px;
	height: 18px;
	margin: 13px 13px 0 0;
	background: url("../images/icon.png");
}

.link-more:hover {
	background: url("../images/icon-hover.png");
}

/*平台作业概况*/
.left-ball,
.right-area {
	float: left;
	width: 41%;
	height: 226px;
}

.right-area {
	width: 59%;
	overflow: hidden;
	position: relative;
}

.left-ball>div {
	width: 178px;
	height: 178px;
	margin: 27px auto 0 auto;
	position: relative;
}

.circle-platform {
	background: url("../images/circle01.png") center center no-repeat;
	background-size: 100% 100%;
}

.circle-title {
	text-align: center;
	padding: 35px 0 15px 0;
	color: #fff;
	font-size: 15px;
	position: relative;
	z-index: 1;
}

.num {
	text-align: center;
	font-size: 30px;
	color: #fff;
	position: relative;
	z-index: 1;
}

.run-list {
	margin: 37px 15px 0 0;
}

.run-item {
	position: relative;
	height: 48px;
	margin-bottom: 30px;
	background: url("../images/tb-line.png") 3px 30px no-repeat;
	background-size: 100% 15px;
}

.db-circle {
	position: absolute;
	width: 12px;
	height: 12px;
	left: 0;
	top: 25px;
	background: url("../images/m-circle.png");
}

.y-point {
	position: absolute;
	width: 5px;
	height: 5px;
	right: 0;
	bottom: 1px;
	background: url("../images/s-point.png");
}

.run-item>span {
	float: left;
	width: 48%;
	padding-left: 12px;
	text-align: center;
	color: #fff;
	line-height: 30px;
}

.run-item>em {
	float: right;
	width: 45%;
	padding-right: 2px;
	text-align: center;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	margin-top: 13px;
}

/*作业执行情况*/
.execute>div {
	background: url("../images/rect02.png");
	background-size: 100% 100%;
}

.execute-platform {
	background: url("../images/circle02.png") center center no-repeat;
	background-size: 100% 100%;
}

.execute-platform {}

.execute .middle {
	height: 175px;
	margin: 18px 7px 0 0;
	background: url("../images/line.png") 3px center no-repeat;
	background-size: 100% 1px;
}

.execute .db-circle {
	top: 99px;
	left: 0;
}

.execute .y-point {
	right: 14px;
	top: 103px;
}

.middle>li {
	color: #fff;
	height: 45px;
	line-height: 45px;
	background: url("../images/dash-line.png") 3px bottom no-repeat;
	background-size: 100% 1px;
}

.left-name {
	padding-left: 8px;
	display: block;
	float: left;
	height: 45px;
	line-height: 45px;
}

.counts {
	float: right;
	display: block;
	height: 45px;
	line-height: 45px;
}

.counts>em {
	font-weight: bold;
	font-size: 18px;
	margin-right: 5px;
}

.middle>li.no-bac {
	background: none;
}

/*今天异常情况监控*/
.monitor>div {
	background: url("../images/rect03.png");
	background-size: 100% 100%;
}

.monitor-platform {
	background: url("../images/circle03.png") center center no-repeat;
	background-size: 100% 100%;
}

.monitor-platform>.num {
	color: #f2564e;
}

.monitor .right-area {
	height: 215px;
	margin: 5px 0;
	width: 53%;
	overflow: hidden;
}

.error-list {
	margin: 0 30px 0 0;
}

.error-list>li {
	background: url("../images/dash-line.png") left bottom no-repeat;
	background-size: 100% 1px;
	height: 60px;
}

.item-name {
	color: #fff;
	padding: 10px 0 7px 0;
}

.item-counts {
	font-size: 12px;
	color: #cdcdcd;
}

/*下部*/
.bottom-area {
	position: absolute;
	top: 320px;
	left: 10px;
	right: 10px;
	bottom: 20px;
	border-top: 1px solid #5f6b7a;
}

.api-box {
	float: left;
	height: 100%;
	width: 50%;
	position: relative;
	border-right: 1px solid #5f6b7a;
}

.choose-box {
	float: left;
	width: 100px;
	height: 25px;
	margin: 12px 0 0 14px;
}

.api-box>.head-title,
.node-monitor>.head-title {
	background: none;
}

.grid-line {
	width: 100%;
	position: absolute;
	top: 45px;
	left: 0;
	right: 0;
	bottom: 10px;
	height: calc(100% - 45px);
	/*height: 325px;*/
}

/*节点监控*/
.node-monitor {
	width: 50%;
	height: 100%;
	float: right;
	position: relative;
}

.tab {
	top: 45px;
	width: 100%;
	left: 0;
	right: 0;
	bottom: 0px;
	/*height:350px;*/
	position: absolute;
}

.tab-hd-box {
	overflow: hidden;
	height: 50%;
	outline: none;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding-top: 10px;
}

.tab>.tab-hd {
	position: absolute;
	bottom: 10px;
	width: 90%;
	left: 5%;
}

.tab-hd>li {
	border: 1px solid #4c535a;
	cursor: pointer;
	margin-bottom: 15px;
	height: 30px;
	border-radius: 13px;
}

.node-name {
	display: block;
	float: left;
	width: 115px;
	line-height: 30px;
	display: block;
	color: #fff;
	text-align: center;
}

.ip-code {
	display: block;
	float: right;
	width: 150px;
	text-align: center;
	line-height: 30px;
	color: #fff;
}

.tab-hd>li:hover,
.tab-hd>li.active {
	border: 1px solid #134771;
	background: #134771;
}

.tab-bd>div {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	height: 50%;
}

@media screen and (max-width: 1366px) {
	.left-ball>div {
		width: 140px;
		height: 140px;
		margin: 44px auto 0 auto;
		position: relative;
	}

	.circle-title {
		padding: 35px 0 15px 0;
	}

	.execute .middle {
		margin: 18px 7px 0 0;
	}

	.counts>em {
		/* max-width: 65px;
		display: inline-block; */
		white-space: nowrap;
		text-overflow: ellipsis;
		-o-text-overflow: ellipsis;
		overflow: hidden;
	}
}