.opinion {
	position: fixed;
	top:36px;
	bottom: 0;
	width: 320px;
	right: 0;
	overflow: hidden;
	z-index: 999;
}
.opinion.collapse {
	width: 27px;
}
.opinion-toggle {
	width: 26px;
	height: 100px;
	background: #33a1d1;
	border: 1px solid #33a1d1;
	border-right: 0;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	display: table;
	cursor: pointer;
	float: left;
	position: absolute;
	top: 50%;
	margin-top: -50px;
}
.opinion-toggle-text {
	font-size: 13px;
	color: #fff;
}
.opinion-toggle-icon {
	display: inline-block;
	width: 6px;
	height: 10px;
	margin-top: 6px;
	background: url(../image/toggle-right.png);
}

.opinion.collapse .opinion-toggle-icon {
	background: url(../image/toggle-left.png);
}
.opinion-toggle-vertical {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	line-height: 16px;
	padding: 0 5px;
}
.floatopinion-main {
	box-sizing: border-box;
	height: 100%;
	margin-left: 27px;
	border: 1px solid #dedede;
	background: #fff;
	position: relative;
}
.floatopinion-maincontainer{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	top:30px;
}
.floatopinion-container {
	box-sizing: border-box;
	height: 50%;
	padding: 20px 12px 10px;
}
.floatopinion-container + .floatopinion-container {
	padding: 10px 12px 20px;
}
.floatopinion-content {
	height: 100%;
	border: 1px solid #e5e5e5;
	position: relative;
}

.floatopiniontemplate-container {
	box-sizing: border-box;
	height: 50%;
	padding: 20px 12px 10px;
}

.floatopinion-maincontainer.shrink .opiniontextdiv {
	bottom: 2px;
}

.floatopinion-maincontainer.shrink>.floatopinion-container>.floatopinion-content>.add-myopinion {
	width: 0;
	height: 0;
	display: none;
}

.floatopinion-maincontainer.shrink .opiniontmpl-tab {
	display: none;
}

.floatopinion-maincontainer.shrink>.floatopiniontemplate-container {
	width: 0;
	border-left: 0 none;
	color: #fff;
	display:none;
}

.head-title {
	height: 30px;
	font-size: 16px;
	color: #3d4b62;
	padding: 0 12px 0;
}

.head-title>span {
	display: inline-block;
	padding-left: 8px;
	margin-top: 12px;
	border-left: 2px solid #6a9ad1;
	line-height: 18px;
}


.add-myopinion {
	height: 30px;
	line-height: 26px;
	background: #f3f3f3;
	position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.add-myopinion>input {
	vertical-align: middle;
	margin: 0 10px;
}

.add-myopinion>span {
	vertical-align: middle;
}

.opiniontextdiv{
	position: absolute;
    bottom: 32px;
    left: 0;
    right: 2px;
    top: 0;
}

.textareacontent{
	position: relative;
	height:100%;
	width:100%;
}

.step-chk {
	vertical-align: middle;
	margin: 0 10px;
}

.opiniontmpl-tab {
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.opiniontmpl-tab>.opiniontmpl-tab-hd {
	height: 37px;
	line-height: 37px;
	border-bottom: 1px solid #e7e7e7;
	font-size: 14px;
	padding-left: 13px;
}

.opiniontmpl-tab-hd>span {
	height: 36px;
	display: inline-block;
	padding: 0 12px;
	margin-left: 6px;
	cursor: pointer;
}

.opiniontmpl-tab-hd>span.active {
	color: #ff6603;
	border-bottom: 2px solid #ff6603;
}

.opiniontmpl-tab-bd {
	overflow: auto;
	position: absolute;
    top: 38px;
    bottom: 0;
    left: 0;
    right: 0;
}

.opiniontmpl-list {
	line-height: 30px;
	font-size: 12px;
	padding-left: 6px;
}

.opiniontmpl-list>.opiniontmpl-item {
}

.opiniontmpl-list>.opiniontmpl-item>span {
	vertical-align: middle;
}

.opiniontmpl-list>.opiniontmpl-item>input {
	vertical-align: middle;
	margin: 0 10px;
}

.opiniontmpl-list>.opiniontmpl-item:hover {
	background: #f5f5f5;
}

.opinion-main {
	box-sizing: border-box;
	height: 182px;
	margin-bottom: 10px;
	border: 1px solid #dedede;
	background: #fff;
	position: relative;
}
.opiniontemplate-container{
	float: right;
	position: relative;
	height: 180px;
	width:50%;
}
.opinion-container {
	float: left;
	position: relative;
	height: 180px;
	width:50%;
}

.opinion-main.shrink>.opinion-container {
	width: 100%;
}

.opinion-main.shrink>.opinion-container>.opiniontextdiv>.textareacontent {
	height: 180px;
}

.opinion-main.shrink>.opinion-container>.add-myopinion {
	width: 0;
	height: 0;
	display: none;
}

.opinion-main.shrink>.opiniontemplate-container {
	width: 0;
	border-left: 0 none;
	color: #fff;
}

.opinion-main.shrink .opiniontmpl-tab {
	display: none;
}