body {
    background: transparent;
    color: #fff;
}

.fui-left {
    border-right: 1px solid #3a55c7;
    background-color: #0c1c77;
    background-color: rgba(12, 28, 119, .8);
}

.fui-left.closed {
    background-color: #e4eff7;
}

.fui-left-hd {
    border-bottom: 1px solid #3a55c7;
    background-color: #2e48b3;
    background-color: rgba(46, 72, 179, .8);
}

.fui-left-title {
    color: #ede62c;
}

.fui-left-bd {
    background-color: transparent;
}

.fui-left-toggle {
    background-image: url(images/leftRight/opened.png);
}

.fui-left-toggle:hover {
    background-image: url(images/leftRight/opened-h.png);
}

.fui-left.closed .fui-left-toggle {
    background-image: url(images/leftRight/closed.png);
}

.fui-left.closed .fui-left-toggle:hover {
    background-image: url(images/leftRight/closed-h.png);
}


/* 手风琴布局 */

.fui-acc-hd {
    color: #ede62c;
    border-bottom: 1px solid #3a55c7;
}

.fui-acc-bd {
    background-color: #0D1B5C;
}

.fui-accordion.closed .fui-acc-toggle {
    background-image: url(images/accLayout/closed.png);
}

.fui-accordion.opened .fui-acc-toggle {
    background-image: url(images/accLayout/opened.png);
}

.fui-toolbar {
    background-color: #122d8b;
    background-color: rgba(18, 45, 139, .8);
}

.fui-notice {
    border-top: 1px solid #3a55c7;
    border-bottom: 1px solid #3a55c7;
    background-color: #14247e;
}

.fui-condition,
.fui-content {
    background-color: #14247e;
    background-color: rgba(20, 36, 126, .8);
}

.cond-srh-btn-text,
.cond-srh-btn-toggle,
.fui-search-close-btn, .fui-search-reset-btn, .fui-search-srh-btn {
    background-color: #4170e6;
}
.cond-srh-btn-text:hover,
.cond-srh-btn-toggle:hover,
.fui-search-close-btn:hover,
.fui-search-reset-btn:hover {
    background-color: #2e59c5;
}
/* 列表 hover 和 selected */

.fui-list-hover {
    background-color: #fffed5;
}

.fui-list-selected {
    background-color: #dfedfa;
}


/*acc*/

body .acc-nav-link.top {
    background-color: #14247e;
    border-bottom: 1px solid #3a55c7;
    border-top: 1px solid #3a55c7;
}

body .acc-nav-link {
    color: #fff;
}

body .acc-nav-link.active {
    color: #ede62c;
}


/*遮罩*/

.page-loading {
    background-color: #14227e;
}


/*icon*/

/* body .action-icon {
    color: #8995c5;
}

body .action-icon:hover {
    color: #fff;
} */


/*tabnav*/

body .fui-tabnav {
    border-bottom-color: #3a55c7;
}

body .fui-tabnav-hd {
    background: #14227e;
}

body .fui-tabnav-bd {
    background: #122d8b;
    border-color: #3a55c7;
}

body .fui-tabnav-main .fui-tabnav-link {
    color: #fff;
}

body .fui-tabnav-main .fui-tabnav-item.active>.fui-tabnav-link {
    color: #ede62c;
    border-color: #ede62c;
}

body .fui-tabnav-sub .fui-tabnav-link {
    color: #fff;
}

body .fui-tabnav-sub .fui-tabnav-item.active>.fui-tabnav-link {
    color: #ede62c;
}


/*placeholder颜色*/

::-webkit-input-placeholder {
    color: #ddd;
}

:-moz-placeholder {
    opacity: 1;
    color: #ddd;
}

::-moz-placeholder {
    opacity: 1;
    color: #ddd;
}

:-ms-input-placeholder {
    color: #ddd;
}


/* 滚动条 */

 ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

 ::-webkit-scrollbar-button {
    width: 0;
    height: 0;
}

 ::-webkit-scrollbar-button:start:decrement,
 ::-webkit-scrollbar-button:end:increment {
    display: block;
}

 ::-webkit-scrollbar-button:vertical:start:increment,
 ::-webkit-scrollbar-button:vertical:end:decrement {
    display: none;
}

 ::-webkit-scrollbar-track:vertical,
 ::-webkit-scrollbar-track:horizontal,
 ::-webkit-scrollbar-thumb:vertical,
 ::-webkit-scrollbar-thumb:horizontal,
 ::-webkit-scrollbar-track:vertical,
 ::-webkit-scrollbar-track:horizontal,
 ::-webkit-scrollbar-thumb:vertical,
 ::-webkit-scrollbar-thumb:horizontal {
    border-color: transparent;
    border-style: solid;
}

 ::-webkit-scrollbar-track:vertical::-webkit-scrollbar-track:horizontal {
    background-color: #14247e;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

 ::-webkit-scrollbar-thumb {
    min-height: 28px;
    padding-top: 100;
    /* background-color: rgba(255, 255, 255, .2); */
    background-color: #4d5eaf;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border-radius: 5px;
    -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1), inset 0 -1px 0 rgba(0, 0, 0, .07);
}

 ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, .4);
    -webkit-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, .25);
}

 ::-webkit-scrollbar-thumb:active {
    background-color: rgba(0, 0, 0, .2);
    /* background-color: #0f92c8; */
    -webkit-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, .35);
}

 ::-webkit-scrollbar-track:vertical,
 ::-webkit-scrollbar-track:horizontal,
 ::-webkit-scrollbar-thumb:vertical,
 ::-webkit-scrollbar-thumb:horizontal {
    border-width: 0;
}

 ::-webkit-scrollbar-track:hover {
    background-color: rgba(0, 0, 0, .05);
    -webkit-box-shadow: inset 1px 0 0 rgba(0, 0, 0, .1);
}

 ::-webkit-scrollbar-track:active {
    background-color: rgba(0, 0, 0, .05);
    -webkit-box-shadow: inset 1px 0 0 rgba(0, 0, 0, .14), inset -1px -1px 0 rgba(0, 0, 0, .07);
}

.scrollbar-hover::-webkit-scrollbar,
.scrollbar-hover::-webkit-scrollbar-button,
.scrollbar-hover::-webkit-scrollbar-track,
.scrollbar-hover::-webkit-scrollbar-thumb {
    visibility: hidden;
}

.scrollbar-hover:hover::-webkit-scrollbar,
.scrollbar-hover:hover::-webkit-scrollbar-button,
.scrollbar-hover:hover::-webkit-scrollbar-track,
.scrollbar-hover:hover::-webkit-scrollbar-thumb {
    visibility: visible;
}


/* IE 滚动条 */

html,
body,
ul,
li,
div {
    /*三角箭头的颜色*/
    scrollbar-arrow-color: #1e98d1;
    /*滚动条滑块按钮的颜色*/
    scrollbar-face-color: #4d5eaf;
    /*滚动条整体颜色*/
    scrollbar-highlight-color: #14247e;
    /*滚动条阴影*/
    scrollbar-shadow-color: #4d5eaf;
    /*滚动条轨道颜色*/
    scrollbar-track-color: #14247e;
}

/* content 和 fui-search 布局 */
.text-special, a.text-special:hover {
    color:#ddd;
}
.fui-search {
    background-color: #14247e;
}
.fui-search-footer {
    border-color:#3350c7;
}
.fui-toolbar-helper {
    background-image: url("./images/contentPage/help.png");
}
.fui-toolbar-helper:hover {
    background-image: url("./images/contentPage/help-h.png");
}
.notice-close-btn {
    background-image: url("./images/contentPage/close.png")
}
.notice-close-btn:hover {
    background-image: url("./images/contentPage/close-h.png")
}
.mini-buttonedit.fui-primary-search .mini-buttonedit-icon {
    background-image: url("./images/advancedsearch/icon-search.png")
}
.fui-search-item {
    color:#fff;
    border-color:#3350c7;
}
.fui-search-item-remove {
    background-image: url("./images/advancedsearch/remove.png")
}
.fui-search-item-remove:hover {
    background-image: url("./images/advancedsearch/remove-hover.png")
}
.fui-search-removeall {
    background-image: url("./images/advancedsearch/removeall.png")
}
.fui-search-removeall:hover {
    background-image: url("./images/advancedsearch/removeall-hover.png")
}
.fui-search-r {
    background-image: url("./images/advancedsearch/right.png")
}
.fui-search-r:hover {
    background-image: url("./images/advancedsearch/right-hover.png")
}
.fui-search-l {
    background-image: url("./images/advancedsearch/left.png")
}
.fui-search-l:hover {
    background-image: url("./images/advancedsearch/left-hover.png")
}
.fui-search-trigger {
    background-color: #4170e6;
}
.fui-toolbar .fui-search-trigger:hover {
    background-color: #2e59c5;
}
.fui-toolbar .fui-search-trigger.close {
    background-image: url("./images/advancedsearch/triggger-close-w.png");
    background-color: #4170e6;
    height: 26px;
    background-position-y: center;
}
.fui-toolbar .fui-search-trigger.close:hover {
    background-color: #2e59c5;
}

input, select, textarea {
    background-color: #111465;
    color: #fff;
}

a {
    color: #31a6d6;
}