@charset "UTF-8";
/*
 * 广西自治区数字一体化智能运维平台
 * date: 2019-04-15
 * author : 程姣姣
 */
* {
  font-size: 0.14rem;
}

.total-count > li {
  float: left;
  width: 2.61rem;
  height: 0.83rem;
  margin-left: 0.21rem;
  padding: 0.15rem 0.12rem 0 0.24rem;
  text-align: right;
  font-size: 0.18rem;
  background: url(../images/total-bg1.png) no-repeat 0;
  background-size: 100% 100%;
}

.total-count > li p {
  margin-bottom: -0.06rem;
  text-align: left;
  font-size: 0.2rem;
  color: #E8FD15;
}

.total-count > li p span {
  font-size: 0.36rem;
  font-family: 'AGENCYB';
  padding-right: 0.04rem;
}

.total-count > li:nth-child(2) {
  margin-left: 0.24rem;
  background: url(../images/total-bg2.png) no-repeat 0;
  background-size: 100% 100%;
}

.total-count > li:nth-child(2) p {
  color: #10BCF4;
}

.count-top {
  height: 2.12rem;
  overflow: hidden;
}

.count-top .count-left {
  float: left;
  width: 2.98rem;
}

.count-top .count-left .guage-count p {
  float: right;
  width: 0.64rem;
  height: 0.3rem;
  margin-right: 0.35rem;
  margin-top: -0.35rem;
  text-align: center;
  line-height: 0.28rem;
  font-size: 0.16rem;
  background: #080b3e;
  border: 1px solid #073250;
}

.count-top .count-left .guage-count p span {
  padding-right: 0.06rem;
  font-size: 0.21rem;
  color: #31FFF3;
  font-family: 'AGENCYB';
}

.count-top .count-left .guage-count .gauge-con {
  position: relative;
  width: 1.64rem;
  height: 0.75rem;
  margin: 0.68rem auto 0;
  background: url(../images/gauge-bg.png) no-repeat 0;
  background-size: 100% 100%;
}

.count-top .count-left .guage-count .gauge-con .gauge {
  position: absolute;
  left: 0.15rem;
  top: 0;
  width: 1.2rem;
  height: 0.6rem;
  overflow: hidden;
}

.count-top .count-left .guage-count .gauge-con .gauge div {
  display: block;
  width: 1.2rem;
  height: 0.6rem;
  background: url(../images/gauge.png) no-repeat 0;
  background-size: 100% 100%;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  -webkit-transition: all .5s;
  transition: all .5s;
}

.count-top .count-left .guage-count .gauge-con .pointer {
  position: absolute;
  left: 0.08rem;
  bottom: -0.04rem;
  width: 0.84rem;
  height: 0.3rem;
  background: url(../images/pointer.png) no-repeat 0;
  background-size: 100% 100%;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  -webkit-transform-origin: 0.66rem 0.1rem;
          transform-origin: 0.66rem 0.1rem;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  -webkit-transition: all .5s;
  transition: all .5s;
}

.count-top .count-left li {
  height: 0.26rem;
  padding-left: 0.15rem;
  line-height: 0.26rem;
  overflow: hidden;
}

.count-top .count-left li:nth-child(1) {
  margin-top: 0.08rem;
}

.count-top .count-left li p {
  float: right;
}

.count-top .count-left li p span {
  padding-right: 0.04rem;
  font-size: 0.2rem;
  color: #31FFF3;
  font-family: 'AGENCYB';
}

.count-top .trend-chart {
  float: left;
  width: 3.12rem;
  height: 100%;
}

.count-top .trend-chart .chart {
  height: 1.9rem;
}

.line-chart .chart {
  height: 2.1rem;
}

.max-count {
  width: 1.31rem;
  margin: 0.4rem 0.1rem 0;
  text-align: center;
}

.max-count .max-con {
  height: 1.05rem;
  padding-top: 0.25rem;
  margin-bottom: 0.1rem;
  background: url(../images/circle.png) no-repeat center;
  background-size: 100% 100%;
}

.max-count .max-con p {
  padding-top: 0.04rem;
  font-size: 0.12rem;
}

.max-count .max-con span {
  padding-right: 0.06rem;
  font-size: 0.22rem;
  color: #31FFF3;
  font-family: 'AGENCYB';
}

.max-count h5 {
  width: 0.78rem;
  height: 0.25rem;
  margin: 0 auto;
  line-height: 0.24rem;
  text-align: center;
  color: #31FFF3;
  font-size: 0.12rem;
  background: rgba(4, 31, 108, 0.49);
  border: 1px solid #1995ff;
  -webkit-box-shadow: 0 0 0.2rem #1995ff inset;
          box-shadow: 0 0 0.2rem #1995ff inset;
  border-radius: 0.12rem;
}

.response-count .count-left {
  padding-top: 0.48rem;
  text-align: center;
}

.response-count .count-left span {
  display: inline-block;
  width: 1.74rem;
  height: 1.54rem;
  background: url(../images/hourglass.png) no-repeat center center;
  background-size: 100% 100%;
}

.process-count {
  position: relative;
  height: 4.9rem;
  margin: -1.1rem 0 0.1rem;
}

.process-count.start .add {
  -webkit-animation: add 2s ease-in-out forwards;
          animation: add 2s ease-in-out forwards;
}

.process-count .process-items > li {
  position: absolute;
  width: 2.77rem;
  height: 1.9rem;
  padding-top: 0.2rem;
  text-align: center;
  font-size: 0.18rem;
  background: url(../images/process-item1.png) no-repeat center top;
  background-size: 100% 1.42rem;
}

.process-count .process-items > li:nth-child(1) {
  left: 0.35rem;
  top: 1.7rem;
}

.process-count .process-items > li:nth-child(1) p {
  background-image: url(../images/process-icon1.png);
  background-size: 0.6rem 0.7rem;
}

.process-count .process-items > li:nth-child(1) p.collect {
  -webkit-animation: add 2s ease-in-out forwards;
          animation: add 2s ease-in-out forwards;
}

.process-count .process-items > li:nth-child(2) {
  left: 4.35rem;
  top: 3.2rem;
}

.process-count .process-items > li:nth-child(2) p {
  background-image: url(../images/process-icon2.png);
  background-size: 0.67rem 0.57rem;
}

.process-count .process-items > li:nth-child(3) {
  left: 10.36rem;
  top: 0.28rem;
}

.process-count .process-items > li:nth-child(3) p {
  background-image: url(../images/process-icon3.png);
  background-size: 0.66rem 0.76rem;
}

.process-count .process-items > li:nth-child(4) {
  left: 16rem;
  top: 0.74rem;
}

.process-count .process-items > li:nth-child(4) p {
  background-image: url(../images/process-icon4.png);
  background-size: 0.67rem 0.57rem;
}

.process-count .process-items > li p {
  height: 0.7rem;
  margin-bottom: 0.55rem;
  line-height: 0.55rem;
  text-align: center;
  color: #31FFF3;
  font-size: 0.2rem;
  background-position: center center;
  background-repeat: no-repeat;
}

.process-count .process-items > li p span {
  font-size: 0.36rem;
  font-family: 'AGENCYB';
}

.process-count .process-items > li .add {
  position: absolute;
  left: 0;
  top: 0.9rem;
  width: 100%;
  text-align: center;
  font-size: 0.3rem;
  font-weight: bold;
  color: #E1FF16;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.process-count .process-items .warning-con {
  right: 2.6rem;
  bottom: 0.06rem;
  background: url(../images/process-warning.png) no-repeat center top;
  background-size: 100% 1.42rem;
}

.process-count .process-items .warning-con p {
  background-image: url(../images/warning-icon.png);
  background-size: 0.59rem 0.59rem;
  color: #FF4C15;
}

.process-count .process-items .warning-con .add {
  color: #FF4C15;
}

.process-count .process-items .model-analyse {
  left: 6.7rem;
  top: 0.3rem;
  width: 5.7rem;
  height: 5.75rem;
  padding-top: 3.9rem;
  font-size: 0.22rem;
  font-weight: bold;
  background: url(../images/process-item2.png) no-repeat 0;
  background-size: 100% 100%;
}

.process-count .process-items .model-analyse .analyse-lists li {
  position: absolute;
  width: 2rem;
  height: 0.55rem;
  line-height: 0.55rem;
  text-align: right;
  padding-right: 0.5rem;
  font-size: 0.16rem;
  color: #31FFF3;
  background: url(../images/sub-item1.png) no-repeat right top;
  background-size: 1.82rem 0.55rem;
}

.process-count .process-items .model-analyse .analyse-lists li:nth-child(1) {
  top: 1.66rem;
  left: 0.3rem;
  -webkit-animation: subMove 5s linear infinite;
          animation: subMove 5s linear infinite;
}

.process-count .process-items .model-analyse .analyse-lists li:nth-child(2) {
  top: 2.4rem;
  left: -0.16rem;
  -webkit-animation: subMove 4s linear infinite;
          animation: subMove 4s linear infinite;
}

.process-count .process-items .model-analyse .analyse-lists li:nth-child(3) {
  top: 1.84rem;
  right: 0.08rem;
  text-align: left;
  padding-right: 0;
  padding-left: 0.5rem;
  background: url(../images/sub-item2.png) no-repeat left top;
  background-size: 1.82rem 0.55rem;
  -webkit-animation: subMove 4.5s linear infinite;
          animation: subMove 4.5s linear infinite;
}

.process-count .process-lines li {
  position: absolute;
  width: 9rem;
  height: 0.01rem;
  border-top: 2px dashed #cec81d;
  -webkit-box-shadow: 0 0 0.2rem #cec81d;
          box-shadow: 0 0 0.2rem #cec81d;
}

.process-count .process-lines li p {
  margin-top: 0.08rem;
  font-size: 0.16rem;
  color: #E8FD15;
  text-align: center;
}

.process-count .process-lines li .arrow {
  position: absolute;
  left: 0;
  top: -0.16rem;
  width: 0.75rem;
  height: 0.28rem;
  background: url(../images/arrow.png) no-repeat 0 0;
  background-size: 100% 100%;
  opacity: 0;
}

.process-count .process-lines li .arrow:nth-child(1) {
  -webkit-animation: arrowMove 6s linear infinite;
          animation: arrowMove 6s linear infinite;
}

.process-count .process-lines li .arrow:nth-child(2) {
  -webkit-animation: arrowMove 6s 3s linear infinite;
          animation: arrowMove 6s 3s linear infinite;
}

.process-count .process-lines li:nth-child(1) {
  left: 2.16rem;
  top: 2.1rem;
  -webkit-transform: rotate(-9deg);
          transform: rotate(-9deg);
}

.process-count .process-lines li:nth-child(2) {
  left: 2.08rem;
  top: 3.5rem;
  width: 3.3rem;
  -webkit-transform: rotate(22deg);
          transform: rotate(22deg);
}

.process-count .process-lines li:nth-child(3) {
  right: 2.4rem;
  top: 1.6rem;
  width: 4.5rem;
  -webkit-transform: rotate(7deg);
          transform: rotate(7deg);
}

.process-count .process-lines li:nth-child(3) p {
  -webkit-transform: rotate(-7deg);
          transform: rotate(-7deg);
}

.process-count .process-lines li:nth-child(4) {
  right: 2.3rem;
  top: 2.7rem;
  width: 6.8rem;
  -webkit-transform: rotate(-194deg);
          transform: rotate(-194deg);
}

.process-count .process-lines li:nth-child(4) p {
  -webkit-transform: rotate(181deg);
          transform: rotate(181deg);
}

.process-count .process-lines li:nth-child(5) {
  left: 6rem;
  top: 4rem;
  width: 2.8rem;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
}

.process-count .process-lines li:nth-child(5) p {
  margin-top: -0.34rem;
}

.process-count .process-lines li.warning-line {
  right: 4.38rem;
  top: 3.8rem;
  width: 4.65rem;
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
  border-color: #ff4d18;
}

.process-count .process-lines li.warning-line .arrow {
  background: url(../images/warning-arrow.png) no-repeat 0;
  background-size: 100% 100%;
}

.process-count .warning {
  opacity: 0;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}

.process-count.isWarning .warning {
  opacity: 1;
}

.process-count .warning-box {
  position: absolute;
  left: 0.5rem;
  top: 2.15rem;
  width: 2.71rem;
  height: 2.79rem;
  background: url(../images/warning-box.png) no-repeat 0 0;
  background-size: 100% 100%;
}

.process-count .warning-box h6 {
  height: 0.54rem;
  line-height: 0.54rem;
  font-size: 0.24rem;
  font-weight: bold;
  color: #ff4c15;
  text-align: center;
}

.process-count .warning-box .warning-scroll {
  margin: 0 0.06rem;
  overflow: hidden;
}

.process-count .warning-box .warning-scroll li {
  float: left;
  width: 2.58rem;
}

.process-count .warning-box .warning-scroll .info-row {
  margin-top: 0.04rem;
  line-height: 0.25rem;
}

.process-count .warning-box .warning-scroll .info-row span {
  float: left;
  width: 0.9rem;
  text-align: right;
  font-weight: bold;
}

.process-count .warning-box .warning-scroll .info-row p {
  float: left;
  width: 1.65rem;
  color: #ff4c15;
}

.process-count .warning-box .warning-scroll .info-row:nth-child(2n) p {
  color: #00e4ff;
}

@-webkit-keyframes add {
  0% {
    top: 0.9rem;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    top: -0.18rem;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes add {
  0% {
    top: 0.9rem;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    top: -0.18rem;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes subMove {
  0%,
  100% {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
  50% {
    -webkit-transform: translateY(0.3rem);
            transform: translateY(0.3rem);
  }
}

@keyframes subMove {
  0%,
  100% {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
  50% {
    -webkit-transform: translateY(0.3rem);
            transform: translateY(0.3rem);
  }
}

@-webkit-keyframes arrowMove {
  0% {
    left: 0;
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    left: 100%;
    opacity: 0;
  }
}

@keyframes arrowMove {
  0% {
    left: 0;
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    left: 100%;
    opacity: 0;
  }
}
