/*!
 * 工作日界面
 * author: xiaol
 * 20170518
 */


/* toolbar 区域 */

.wd-toolbar,
.wd-content {
    /* min-width: 1280px; */
}

.wd-toolbar {
    position: relative;
    /* box-sizing: border-box; */
    /* height: 44px; */
    /* padding: 9px 20px 8px; */
    /* border-bottom: 1px solid #dedede; */
    /* background-color: #e0f2ff; */
    width: 100%;
    height: 32px;
    line-height: 32px;
    height: calc(.3rem + 2px);
    line-height: calc(.3rem + 2px);
    padding: 8px 16px;
    background: #fff;
    border-bottom: 1px solid #ebebeb;
}

.wd-legend {
    margin-right: 55px;
    margin-left: 10px;
}

.wd-center {
    position: absolute;
    width: 140px;
    left: 50%;
    margin-left: -70px;
    top: 9px;
    text-align: center;
    font-size: 18px;
    line-height: 26px;
    color: #333;
}

.wd-init {
    position: absolute;
    left: 172px;
    width: 80px;
    top: 0;
}

.wd-prev-button, .wd-next-button {
    float: left;
    display: inline-block;
    width: 0;
    height: 0;
    margin-top: 7px;
    cursor: pointer;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
}

.wd-prev-button {
    border-right-color: #1d96e8;
}

.wd-next-button {
    border-left-color: #1d96e8;
}

.wd-legend .icon {
    display: inline-block;
    width: 14px;
    height: 14px;
    border: 1px solid #a7a5a5;
    background-color: #fdfdfd;
    vertical-align: -3px;
    margin-right: 6px;
}

.wd-legend .icon.workday {
    border-color: #43abef;
    background-color: #c0e0f8;
}


/* 内容区域 */

.wd-content {
    position: absolute;
    top: 49px;
    top: calc(.3rem + 19px);
    width: 100%;
    bottom: 0;
    overflow: auto;
}

.content {
    padding: 0 10px 10px;
    background-color: #fff;
    min-width: 1280px;
}

.mini-col-4 {
    box-sizing: border-box;
    padding: 20px 10px 0;
}

.wd-widget {
    border-top: 2px solid #048fd2;
    border-left: 1px solid #f5f5f5;
    border-right: 1px solid #f5f5f5;
    border-bottom: 1px solid #e3e3e3;
    padding: 0 12px;
    /*box-shadow: 0 1px 1px #f5f5f5;*/
}

.wd-widget-title {
    line-height: 44px;
    padding: 0 0 4px 6px;
    font-size: 24px;
    color: #048fd2;
    font-weight: bold;
}

.wd-widget-header {
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
}

.wd-widget-hdtext {
    float: left;
    width: 14.28%;
    line-height: 32px;
    font-size: 15px;
    text-align: center;
    color: #048fd2;
}

.wd-day-items {
    padding: 8px 0 10px;
    height: 312px;
}

.wd-day-item {
    float: left;
    /*width: 50px;*/
    width: 14.28%;
    box-sizing: border-box;
    padding: 2px 1px 0;
    text-align: center;
}

.wd-day-block {
    position: relative;
    height: 50px;
    box-sizing: border-box;
}

.wd-day-item.workday .wd-day-block {
    background-color: #e0f2fe;
}

.wd-day-item.holiday .wd-day-block:before {
    position: absolute;
    width: 14px;
    height: 14px;
    content: "节";
    top: 0;
    left: 0;
    background-color: #f80932;
    font-family: "Simsun";
    color: #fff;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
}

.wd-day-item .date {
    display: block;
    padding-top: 4px;
    font-size: 18px;
    line-height: 20px;
    color: #666;
}

.wd-day-item .lunar {
    color: #999;
    display: block;
    font-family: "Simsun";
    font-size: 12px;
    line-height: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* 编辑状态 */

.edit .wd-day-block {
    cursor: pointer;
}

.edit .wd-day-item.workday .wd-day-block {
    background-color: #fff;
    border: 1px solid #a8ddff;
}

.edit .wd-day-item .wd-day-block {
    background-color: #fff;
    border: 1px solid #d8d8d8;
}

.edit .wd-day-item.holiday .wd-day-block:before {
    content: "休";
    background-color: #a7a7a7;
    color: #fff;
    right: 0;
    left: auto;
}

.edit .wd-day-item .wd-day-block:before {
    position: absolute;
    width: 14px;
    height: 14px;
    content: "休";
    top: 0;
    right: 0;
    background-color: #a7a7a7;
    font-family: "Simsun";
    color: #fff;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
}

.edit .wd-day-item.workday .wd-day-block:before {
    position: absolute;
    width: 14px;
    height: 14px;
    content: "班";
    top: 0;
    right: 0;
    background-color: #44abee;
    font-family: "Simsun";
    color: #fff;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
}

.edit .wd-day-item .wd-day-block.update:after {
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    content: "";
    left: 5px;
    top: 5px;
    background-color: red;
}
