/**!
* 数据集成-概况
* date:2019-09-18
* author: [xulb];
*/
/* laydate */
.layui-laydate-header i.laydate-prev-y:before,
.layui-laydate-header i.laydate-prev-m:before,
.layui-laydate-header i.laydate-next-m:before,
.layui-laydate-header i.laydate-next-y:before {
  content: "";
}

.layui-laydate-header i {
  margin-top: 0;
  line-height: 30px;
}

/* .main {
  min-width: 1150px;
} */
.main {
  overflow: auto;
  position: relative;
}


/* top */

.location-title {
  padding-left: 25px;
  background: url("../images/location.png") left center no-repeat;
}

.pro-to {
  color: #5c5c5c;
}

.arrow {
  width: 9px;
  height: 4px;
  float: left;
  margin: 25px 5px 0 5px;
  background: url("../images/process-to.png");
}

.general {
  color: #2590eb;
}

/* content */
.content {
  box-sizing: border-box;
  padding: 15px;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  left: 0;
  /* overflow: auto; */
  min-height: 850px;
  min-width: 1300px;
}

.error {
  position: relative;
  /* position: absolute; */
  min-height: 280px;
  /* min-height: 210px; */
  background: #fff;
  text-align: center;
  z-index: 100;
  /* top: 15px;
  left: 15px;
  right: 15px; */
}

.error.slide {
  box-shadow: 0 2px 10px 0 rgba(75, 75, 75, .14);
}

.error.slide .error-list {
  height: auto;
}


.error-list {
  margin: 10px 20px 0 20px;
  height: 180px;
  overflow: hidden;
}

.error-list>li {
  width: 20%;
  float: left;
  margin-bottom: 20px;
}

.error-list>li>.node {
  border: 1px solid #c3e7c5;
  /* background: #f3faf4; */
  text-align: left;
}

.error-list>li.wrong-item>.node {
  border: 1px solid #f9d0c8;
  /* background: #fef6f4; */
}

.error-list>li .right-icon {
  background: url("../images/icon02.png") no-repeat;
  background-size: 100% 100%;
}

.error-list>li.wrong-item .right-icon {
  background: url("../images/icon01.png") no-repeat;
  background-size: 100% 100%;
}

.node {
  box-sizing: border-box;
  height: 160px;
  margin: 0 9px;
  border-radius: 8px;
  padding: 20px 9px 9px 14px;
}

.node-title {
  font-size: 19px;
  width: 85%;
  line-height: 23px;
  margin-bottom: 18px;
}

.service>ul {
  color: #5c5c5c;
}

.service>ul>li {
  line-height: 38px;
  font-size: 16px;
}

.service>ul span {
  font-size: 21px;
}

.service>ul span.wrong {
  color: #ea644a;
}

.error-list>li .right-icon {
  width: 70px;
  height: 70px;
  margin: 5px 0 0 0;
}

.watch-more {
  display: inline-block;
  color: #2590eb;
  font-size: 17px;
  padding-right: 20px;
  margin: 0 0 15px 0;
  /* margin: 15px 0 0 0; */
  background: url("../images/slide-down.png") right center no-repeat;
}

.error.slide .watch-more {
  background: url("../images/slide-up.png") right center no-repeat;
}

/* bottom-content */
.bottom-content {
  position: absolute;
  right: 15px;
  left: 15px;
  bottom: 15px;
  top: 310px;
  /* margin-bottom: 15px; */
  min-height: 421px;
}

.left-part {
  width: 40%;
  position: relative;
  height: 100%;
}

.monitor {
  height: 275px;
  background: #fff;
  margin-right: 15px;
  overflow: hidden;
}

.monitor>.sub-title {
  margin-right: 23px;
}

.monitor-title,
.sub-title {
  margin-left: 23px;
  display: block;
}

.monitor-title {
  margin-top: 10px;
  line-height: 22px;
  font-size: 15px;
}

.sub-title {
  line-height: 45px;
  font-size: 16px;
}

.monitor-list {
  margin: 0 10px;
  border-bottom: 1px solid #eee;
}

.monitor-list>li {
  float: left;
  width: 25%;
  text-align: center;
}

.monitor-list>li>.num {
  color: #ea644a;
  font-size: 24px;
  height: 35px;
  line-height: 35px;
}

.monitor-list>li>span {
  font-size: 14px;
  color: #5c5c5c;
  display: block;
  text-align: center;
  height: 33px;
  line-height: 30px;
}

.sub-monitor {
  float: left;
  width: 50%;
  padding-bottom: 5px;
  box-sizing: border-box;
}

.sub-monitor+.sub-monitor {
  border-left: 1px solid #eee;
}

.sub-monitor>.monitor-list {
  border: none;
}

.sub-monitor>.monitor-list>li {
  float: left;
  width: 50%;
}

.mission {
  min-height: 263px;
  /* margin: 14px 14px 0 0; */
  background: #fff;
  position: absolute;
  top: 0px;
  right: 15px;
  left: 0;
}

.mission2 {
  min-height: 263px;
  /* margin: 14px 14px 0 0; */
  background: #fff;
  position: absolute;
  top: 263px;
  right: 15px;
  left: 0;
  bottom:0;
}

.storage,
.file {
  width: 50%;
  float: left;
  /* margin-top: 5px; */
}

.api,
.kafka {
  width: 50%;
  float: left;
  /* margin-top: 5px; */
}


/* .charts-area {
  height: 115px;
} */

.charts-area>div {
  float: left;
  width: 60%;
  height: 100%;
}

.percent {
  display: block;
  margin: -13px 0 0 60%;
  font-size: 18px;
  height: 26px;
  line-height: 26px;
  position: relative;
  top: 50%;
}

/* 右侧 */
.right-part {
  width: 60%;
  background: #fff;
  height: 100%;
  position: relative;
  /* min-height: 421px; */
}

.trend-detail {
  margin: 0 10px;
  height: 165px;
  border-bottom: 1px solid #eee;
}

.trend-detail>li {
  width: 25%;
  float: left;
  height: 100%;
  box-sizing: border-box;
}

.trend-detail>li+li {
  border-left: 1px solid #eee;
}

.trend-title {
  font-size: 14px;
  text-align: center;
}

.trend-content {
  margin-top: 0px;
}

.trend-content>div {
  width: 50%;
  float: left;
  text-align: center;
}

.trend-sub-title {
  display: block;
  font-size: 12px;
  color: #5c5c5c;
  margin-bottom: 7px;
}

.trend-count,
.trend-percent {
  font-size: 15px;
  margin: 14px 0 7px 0;
}

.trend-count>span,
.trend-percent>span {
  font-size: 12px;
}

.trend-count>span {
  color: #f1a325;
}

.trend-percent>span {
  color: #38b03f;
  padding-right: 30px;
  background: url("../images/charts.png") right center no-repeat;
}

.count-situation {
  display: inline-block;
  position: relative;
  padding-left: 28%;
  font-size: 14px;
  width:80%;
}

.count-situation:before {
  position: absolute;
  content: "";
  width: 3px;
  height: 3px;
  background: #878787;
  left: 0;
  top: 13px;
  margin-left:22%;
}

/* charts-tab */
.charts-tab {
  /* margin: 18px 10px 0 10px; */
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 0;
  top: 234px;
}


.tab {
  position: absolute;
  top: 38px;
  bottom: 0;
  left: 0;
  width: 100%;
  /* height: 190px; */
  /* margin-top: 12px; */
}

.tab-hd {
  position: absolute;
  right: 10px;
  top: -38px;
}

.tab-hd>li {
  float: left;
  margin-left: 10px;
  border: 1px solid #2590eb;
  height: 26px;
  border-radius: 5px;
  box-sizing: border-box;
  text-align: center;
  padding-left: 16px;
  color: #2590eb;
  width: 70px;
  line-height: 24px;
  cursor: pointer;
}

.tab-hd>li.active {
  color: #fff;
}

.stro-icon {
  background: url("../images/storage.png") 12px center no-repeat;
}

.stro-icon.active {
  background: #2590eb url("../images/storage-active.png") 12px center no-repeat;
}

.file-icon {
  background: url("../images/file.png") 14px center no-repeat;
}

.file-icon.active {
  background: #2590eb url("../images/file-active.png") 14px center no-repeat;
}

.tab-bd {
  height: 100%;
  overflow: hidden;
}

.tab-bd>div {
  height: 100%;
}

/* 调整 */
.node {
  position: relative;
}

.node .more-icon {
  position: absolute;
  margin: 13px 3px 0 0;
  top: 11px;
  right: 5px;
}

.node .more-nodeicon {
  position: absolute;
  margin: 13px 3px 0 0;
  top: 11px;
  right: 5px;
}

.charts-box {
  position: absolute;
  top: 50px;
  bottom: 0;
  width: 100%;
  left: 0;
}

.charts-box>div {
  height: 100%;
  position: relative;
}

.charts-area {
  position: absolute;
  left: 0;
  width: 100%;
  top: 45px;
  bottom: 0;
}

/* .file {
  left: 50%;
} */