/**!
* 数据集成-任务统计节点
* date:2019-09-20
* author: [xulb];
*/
.main {
    position: relative;
}

.back {
    box-sizing: border-box;
    padding-left: 27px;
    width: 80px;
    position: relative;
    line-height: 55px;
    color: #2590eb;
    background: url("../images/back.png") left center no-repeat;
}

.back:hover {
    color: #1c8ae8;
}

.back:after {
    position: absolute;
    right: 0;
    top: 22px;
    width: 1px;
    content: '';
    height: 12px;
    background: url("../images/small-last-line.png") center center no-repeat;
}

.work-name {
    font-size: 14px;
}

.search-button {
    font-size: 14px;
    margin: 14px 14px 0 6px;
}

.search-input {
    margin: 14px 0 0 0;
}

.content {
    position: absolute;
    margin: 0;
    top: 70px;
    right: 15px;
    left: 15px;
    bottom: 0;
    min-height: 700px;
    margin-bottom: 15px;
    background: #fff;
}