.header {
    background-image: url(./images/top-bg-new.png);
}
.name-status .name {
    color: #fff;
}
.person-text {
    color: #a8bdf3;
}
.tabview-header {
    background-color: #1a2964;
}
.tabview-header-item.active {
    color: #3d9df2;
}
.tabview-header-item:after {
    border-color: #3d9df2;
}
.head-sculpture-container .info {
    color: #a8bdf3;
}
.head-sculpture-container .right {
    background-color: #1a2964;
}
.head-sculpture-container .preview-text {
    color: #fff;
}
.head-sculpture-container .select-img:before {
    background-image: url(./images/select-img.png);
}
.head-sculpture-container .take-img {
    background-image: url(./images/take-online.png);
}