.header-container {
    background-image: url("images/top-bg.png");
}
.portal-box-inner,
.quick-menu-list,
.user-action-panel-inner,
.classify-search-history-panel,
.classify-search-classify-panel {
      background: #00154a;
      color: #cce2ff;
}
.top-portal-cate-item {
    color: #ed992c;
}
.quick-menu-item:hover, .top-portal-item:hover,.classify-search-classify-item:hover, .classify-search-classify-item.active,.classify-search-history-item:hover, .classify-search-history-item.active {
    background-color: #050c37;
    color: #cce2ff;
}
.classify-search-history-footer {
  border-top-color: #425586;
}
.classify-search-history-footer:hover {
  color: #aaa;
}
.top-menu-wrap.hold-color {
  color: #fff;
  background: #00154a
}

.top-menu-wrap.active {
  color: #cce2ff;
  background: #00154a
}
.top-menu-wrap.active .top-menu-item:hover, .top-menu-wrap.active .top-menu-item.active {
  background: #050c37;
  -webkit-box-shadow: 0 0 1px rgba(0,0,0,0.3);
  -moz-box-shadow: 0 0 1px rgba(0,0,0,0.3);
  box-shadow: 0 0 1px rgba(0,0,0,0.3)
}
.user-info-detail {
    border-bottom-color: #425586;
}
.user-info-detail>.user-name {
    color: #fff;
}
.user-action-item,
.user-info-detail>.user-dept {
    color: #cce2ff;
}

.main-content-tab-wrap {
    background-color: #115d8c;
    background-color: rgba(0,15,54,.6);
}
.tabsnav-tabs-item,
.tabsnav-tabs-item.fixed {
    background-color: #122d8b;
    color: #fff;
    border-right-color: transparent;
}
.tabsnav-tabs-item:hover, .tabsnav-tabs-item.active {
    background-color: #ed992c;
}
.tabsnav-quicknav-trigger{
    background-image: url(images/trigger-btn.png) 
}
.tabsnav-quicknav-box {
    background-color: #020829;
}
.tabsnav-quicknav-item {
    color: #c0caf8;
}
.tabsnav-quicknav-item:hover {
    background-color: #050c37;
    color: #f8e191;
}
.tabsnav-tabs-item:hover>.tabsnav-tabs-close {
    background: url(images/close-btn.png) center no-repeat;
}
.left-nav {
  background: url(./images/ie8/0_15_54_80.png);
  background: rgba(0,15,54,0.8);
}
.left-menu-header {
    background: #11298e;
    color: #cce2ff;
}

.left-menu-item.level-1>.left-menu-link:hover {
    background: #2e48b3;
    color: #fff;
}

.left-menu-item.level-1>.left-menu-link:hover>.left-menu-trigger {
    background-image: url(./images/leftmenu/menu-right-w.png)
}

.left-menu-item.level-1.opened>.left-menu-link {
    background: #2e48b3;
    color: #fff;
}

.left-menu-item.level-1.opened>.left-menu-link>.left-menu-trigger {
    background-image: url(./images/leftmenu/menu-down-w.png)
}

.left-menu-link {
    color: #51a6ef;
}

.left-menu-link:hover {
    background: #235b8a;
}

.left-menu-trigger {
    background: url(./images/leftmenu/menu-right.png) center no-repeat
}

.main.left-narrow .left-menu-sub-inner {
    background: #00154a;
}

.main.left-narrow .left-nav-trigger {
    background-color: #11298e;
}

.main.left-narrow .left-menu-item.level-2 {
    margin-left: -30px
}

.main.left-narrow .left-menu-item.level-2 .left-menu-link {
    color: #fff
}

.main.left-narrow .left-menu-item.level-2 .left-menu-link:hover {
    background: rgba(255,255,255,0.1)
}

.main.left-narrow .left-menu-item.level-2 .left-menu-link>.left-menu-trigger {
    background-image: url(./images/leftmenu/menu-right-w.png)
}

.ie8 .opened>.left-menu-link>.left-menu-trigger {
    background-image: url(./images/leftmenu/menu-down.png)
}

.msg-panel {
  background-color: #020829;
  border-color: #020829;
  border-top-color: #2e59c5;
}
.msg-panel-head {
  background-color: #111363;
  border-bottom-color: #161986;
  color: #ede62c;
}
.msg-panel-content {
  background-color: transparent;
}
.msg-panel-head.tab>.panel-hd-tab.active, .msg-panel-head.tab>.panel-hd-tab:hover {
  background-color: #2e59c5;
  color: #ede62c;
}

.emsg-recent-record>h2>.emsg-user-name {
  color: #888;
}
.msg-category-title, .msg-result-headertitle, .msg-history-headertitle {
  color: #2590eb;
}
.msg-list, .msg-srh-category {
  color: #c0caf8;
}
.msg-list-item:hover, .msg-list-item.newmsg:hover {
  color: #ede62c;
}
.new-remind-wrap {
    background: #2590eb
}

.new-remind-wrap:before {
    border-bottom-color: #2590eb
}
.emsg-recent-item {
  border-color: #111363;
}
.emsg-recent-item:hover {
  background-color: #2e59c9;
  
}
