$bgColor:#f0f2f5;

$leftWidth:190px;
$navHeight: 50px;

$appWidth:110px;
$appHeight: 120px;
$appBg:#fff;
$appBg_metro:#fff;

.app-center-container {
    .mini-panel-body {
        padding: 0;
        position: relative;
    }
}

.app-center-inner {
    position: relative;
    height: 100%;
    background: $bgColor;
}

.app-center {
    &-left {
        position: absolute;
        left: 0;
        width: $leftWidth;
        top: 0;
        bottom: 0;
        background: #fff;
        overflow: auto;
        overflow-x: hidden;
        overflow-y: auto;
        font-size: 15px;
    }

    &-nav-item {
        height: $navHeight;
        line-height: $navHeight;
        padding-left: 20px;
        border-left: 3px solid transparent;
        transition: all .2s ease-out;
        overflow: hidden;
        cursor: pointer;

        .js-installed-count {
            color: #146dd0;
        }
        &:hover {
            background: $bgColor;
        }
        &.active {
            border-color: #146dd0;
            background: $bgColor;
        }
        

        &.has-new {

            // &:after {
            //     content: "new";
            //     font-size: 12px;
            //     background: #e92b2b;
            //     color: #fff;
            //     height: 14px;
            //     line-height: 13px;
            //     border-radius: 3px;
            //     padding: 0 3px;
            //     display: inline-block;
            //     vertical-align: top;
            //     margin-top: ($navHeight - 14px) / 2;
            //     margin-left: 10px;
            //     font-family: monospace, serif, Tahoma;
            // }
            &:after {
                content: "";
                display: inline-block;
                width: 25px;
                height: 13px;
                margin-top: ($navHeight - 13px) / 2;
                margin-left: 10px;
                background: url("./images/has-new.png") center no-repeat;
            }
        }
    }

    &-main {
        position: relative;
        margin-left: $leftWidth;
        height: 100%;
        overflow: hidden;
        // scroll-behavior: smooth;
    }

    &-list-wrap {
        position: relative;
    }

    &-list {
        position: absolute;
        top: 20px;
        bottom: 10px;
        left: 0;
        right: 0;
        overflow-x: hidden;
        overflow-y: auto;
        margin-left: -10px;
        user-select: none;
    }

    &-item {
        width: $appWidth;
        height: $appHeight;
        margin-left: 40px;
        margin-top: 10px;
        margin-bottom: 20px;
        background: $appBg;
        box-shadow: -3px 2px 16px 0px rgba(0, 0, 0, 0.03);
        float: left;
        text-align: center;
        overflow: hidden;
        position: relative;
        font-size: 14px;

        &:hover {
            box-shadow: -3px 2px 16px 0px rgba(0, 0, 0, 0.12);
        }
        &.new {
            $arrowSize: 8px;

            &:after,
            &:before {
                position: absolute;
                transform: rotate(45deg);

                display: block;
            }

            &:before {
                content: "new";
                top: $arrowSize;
                right: -50%;
                width: 100%;
                height: 14px;
                line-height: 14px;
                font-size: 12px;
                text-align: center;
                background: #e92b2b;
                color: #fff;
                transform-origin: 50% -50%;
            }

            &:after {
                top: -$arrowSize;
                right: -$arrowSize;
                content: "";
                width: 0;
                height: 0;
                border: $arrowSize solid transparent;
                border-bottom-color: $appBg;
                transform-origin: 50%;
            }
            &.is-metro:after {
                border-bottom-color: $appBg_metro;
            }
        }

        &.is-metro {
            background: $appBg_metro;
        }

        @at-root .ie8 &.new {
            &:before {
                content: "";
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                width: 30px;
                height: 27px;
                background: url("./images/new.png") center no-repeat;
            }

            &:after {
                content: "";
                display: none;
            }
        }

        &-icon {
            display: block;
            margin-top: 20px;
            width: 40px;
            height: 40px;
            margin-left: auto;
            margin-right: auto;
        }

        &-name {
            position: absolute;
            bottom: 20px;
            height: 26px;
            line-height: 26px;
            left: 0;
            right: 0;
            display: block;
            margin-left: 10px;
            margin-right: 10px;
            overflow: hidden;
            text-align: center;
        }

        &:hover &-name {
            opacity: 0;
            filter: alpha(opacity=0);
            z-index: -1;
        }

        &:hover &-btn {
            opacity: 1;
            filter: alpha(opacity=100);
        }


        &-btn {
            display: block;
            position: absolute;
            bottom: 20px;
            left: 50%;
            margin-left: -35px;
            height: 26px;
            line-height: 26px;
            width: 70px;
            opacity: 0;
            filter: alpha(opacity=0);
            border-radius: 4px;
            transition: all .2s ease-out;
            border: 0;
            background: transparent;
            cursor: pointer;

            &:focus,
            &:active {
                border: 0;
                outline: none;
            }

            &.install {
                background: #e7f0fd;
                color: #4f86d1;

                &:hover {
                    background: lighten(#e7f0fd, .8);
                }
            }

            &.uninstall {
                background: #ffe3ea;
                color: #f07a7e;

                &:hover {
                    background: lighten(#ffe3ea, .8);
                }
            }
        }
    }

}