/**!
* 数字驾驶舱-common.css
* date:2021-02-23
* author: xulei;
*/

body {
    color: #eaffff;
    line-height: .26rem;
    font-size: .16rem !important;
}

.js-link {
    cursor: pointer;
}


/*谷歌个性化滚动条*/

::-webkit-scrollbar {
    width: 10px;
    height: 6px;
}

::-webkit-scrollbar-track {
    border-radius: 2px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: #2e5e80;
}


/*IE个性化滚动条*/

div,
ul {
    scrollbar-arrow-color: #0e3c69;
    scrollbar-face-color: #0e3c69;
    scrollbar-highlight-color: #333;
    scrollbar-shadow-color: #1A548D;
    scrollbar-track-color: #1A548D;
}

::-webkit-input-placeholder {
    color: #40677b;
}

:-moz-placeholder {
    color: #40677b;
}

::-moz-placeholder {
    color: #40677b;
}

:-ms-input-placeholder {
    color: #40677b;
}

.placeholder {
    color: #40677b;
}


/* 个性化框架皮肤，框架换肤后请删除 start */

.page-loading {
    background-color: rgb(5, 39, 51);
}

.fui-notice {
    background-color: rgba(18, 65, 86, .76);
    border: none;
    padding: .05rem .4rem;
    color: #eaffff;
    .form-row {
        padding: .03rem 0;
    }
    .form-label {
        width: auto;
        padding-left: 0;
    }
    .form-control {
        width: auto;
        padding-left: 0;
    }
}

.fui-content {
    background-color: rgba(5, 39, 51, .95);
}

.fui-form {
    color: #eaffff;
}

.fui-toolbar-bottom {
    background-color: rgba(5, 39, 51, .95);
    border-top: none;
    height: .36rem;
}

.mini-textbox,
.mini-buttonedit {
    height: .36rem;
    line-height: calc(0.36rem - 2px);
}

.mini-textbox-border,
.mini-buttonedit-border {
    border: 1px solid rgb(4, 109, 140);
    border-radius: 2px;
    background-color: rgb(11, 41, 56);
}

.mini-buttonedit-button-hover,
.mini-buttonedit-button-pressed,
.mini-buttonedit-hover .mini-buttonedit-trigger,
.mini-buttonedit-popup .mini-buttonedit-trigger {
    background-color: #124156;
}

.mini-buttonedit-icon:before {
    color: #519ab0;
}

.mini-buttonedit-input {
    color: #eaffff;
}

.mini-popup {
    border-color: rgb(4, 109, 140);
}

.mini-calendar-footer,
.mini-calendar-header,
.mini-calendar-daysheader,
.mini-popup,
.mini-listbox-border {
    background: #052531;
}

.mini-listbox-item-hover {
    background-color: rgba(18, 65, 86, .76);
}

.mini-button {
    background-image: linear-gradient( 45deg, rgb(67, 196, 240) 0%, rgb(11, 141, 185) 100%);
    border-radius: 2px;
    border: 1px solid rgb(65, 150, 194);
}

body a.mini-button-disabled,
body a:hover.mini-button-disabled {
    background-image: linear-gradient( 45deg, rgb(67, 196, 240) 0%, rgb(11, 141, 185) 100%)!important;
    border: 1px solid rgb(65, 150, 194)!important;
    opacity: .3;
}

.mini-button.mini-btn-info {
    border-color: rgb(48, 102, 126);
    background-image: linear-gradient( 45deg, rgb(98, 159, 180) 0%, rgb(76, 124, 146) 100%);
}

.mini-calendar-days td {
    border-color: rgb(48, 102, 126);
}

.mini-menu-inner {
    background-color: #064969;
    text-align: center;
}

.mini-menu-border {
    border: 2px solid #42c5ef;
    border-left: none;
    border-right: none;
}

.mini-menuitem-text,
.mini-menuitem-allow,
.mini-menu .mini-menuitem-icon {
    color: #eaffff;
}

.mini-menu .mini-menu-popup,
.mini-menu .mini-menuitem-hover {
    border-color: transparent;
    background: rgba(66, 196, 239, .5);
}

.mini-textbox-input,
.mini-textboxlist .mini-textboxlist-input {
    color: #eaffff;
}


/* 个性化框架皮肤，框架换肤后请删除 start */

.mini-buttonedit.searchbox .mini-buttonedit-icon:before {
    content: "\e6ec";
    font-weight: bold;
}

.bottom-btns {
    width: 100%;
    text-align: center;
}


/* 通用标题 */

.box {
    .box-hd {
        height: .38rem;
        background-repeat: no-repeat;
        h3 {
            position: relative;
            display: inline-block;
            padding: 0 0 .04rem .22rem;
            letter-spacing: .03rem;
            line-height: .32rem;
            font-size: .26rem;
            font-weight: bold;
            color: #fff;
            text-shadow: 0 0 6px rgba(32, 219, 238, 1);
            border-bottom: 2px solid #0B6D8A;
            &::after {
                position: absolute;
                top: 0;
                right: -.5rem;
                content: "";
                width: .75rem;
                height: .38rem;
                background: url(../images/comperhensiveSituation/title-r.png) 0 0/100% 100% no-repeat;
            }
        }
        .more {
            float: right;
            width: .25rem;
            height: .05rem;
            margin: .15rem .15rem 0 0;
            background: url(../images/comperhensiveSituation/dot.png) 0 0/100% 100% no-repeat;
        }
    }
    .box-bd {
        height: calc(100% - .38rem);
        padding: 0 .15rem 0 .1rem;
    }
}

.common-hd {
    text-align: center;
    span {
        position: relative;
        display: inline-block;
        padding-bottom: .09rem;
        letter-spacing: .03rem;
        font-size: .26rem;
        font-weight: bold;
        color: #fff;
        border-bottom: 2px solid #0B6D8A;
        text-shadow: 0 0 6px rgba(32, 219, 238, .5);
        &::before {
            position: absolute;
            top: 0;
            left: -.52rem;
            content: "";
            width: .76rem;
            height: .38rem;
            background: url(../images/comperhensiveSituation/title-l.png) 0 0/100% 100% no-repeat;
        }
        &::after {
            position: absolute;
            top: 0;
            right: -.5rem;
            content: "";
            width: .75rem;
            height: .38rem;
            background: url(../images/comperhensiveSituation/title-r.png) 0 0/100% 100% no-repeat;
        }
    }
}


/* 通用子标题 */

.urban-title {
    display: table;
    width: 100%;
    margin-top: .2rem;
    h4 {
        display: table-cell;
        width: 1px;
        font-weight: bold;
        color: #51C4CA;
        white-space: nowrap;
        font-size: .2rem;
    }
    .line {
        display: table-cell;
        padding: 0 .06rem 0 .1rem;
        vertical-align: middle;
        span {
            position: relative;
            display: block;
            width: 100%;
            height: .02rem;
            background: rgba(3, 87, 112, .47);
            &::after {
                position: absolute;
                top: 50%;
                right: -.06rem;
                margin-top: -.04rem;
                content: "";
                width: .07rem;
                height: .08rem;
                background: url(../images/comperhensiveSituation/urban-arrow.png) 0 0/100% 100% no-repeat;
            }
        }
    }
}


/* 特殊字体 */

@font-face {
    font-family: "YS";
    src: url("../fonts/YouSheBiaoTiHei.woff") format("woff"), url("../fonts/YouSheBiaoTiHei.ttf") format("truetype"), url("../fonts/YouSheBiaoTiHei.eot") format("embedded-opentype");
}