/**!
* 数字驾驶舱-操作中心
* date:2021-02-23
* author: xulei;
*/

body {
    background-color: #052531;
}

.fui-left-bd {
    background: transparent;
    padding: 0;
}

.fui-left {
    background-color: rgba(18, 65, 86, .76);
    border-right-color: transparent;
    width: 2.28rem;

    &.closed {
        background: transparent;
        margin-left: -2.28rem;
    }

}

.fui-left-toggle {
    display: none;
}

.fui-right {
    margin-left: calc(2.28rem + 1px);
    transition: none
}

/* 左侧 */
.operation {

    &-tab {
        position: relative;
        height: .65rem;
        line-height: .65rem;
        cursor: pointer;
        overflow: hidden;

        &.active {
            background: url("../images/operation-tab-active.png") no-repeat right center;
            background-size: 2.2rem .65rem;
        }

        &:not(.active):hover {
            background: url("../images/operation-tab-hover.png") no-repeat right center;
            background-size: 2.2rem .65rem;
        }

        &-icon {
            width: .64rem;
            height: .66rem;
            background: url("../images/bg-operation-tab-icon.png") no-repeat center;
            background-size: .64rem .66rem;
            margin-top: -.01rem;
            text-align: center;
            line-height: .74rem;

            img {
                width: .2rem;
            }
        }

        &-text {
            font-size: .18rem;
            font-weight: bold;
            width: 1.1rem;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .operation-num-tip {
            position: absolute;
            width: .2rem;
            height: .2rem;
            line-height: .2rem;
            text-align: center;
            font-size: .16rem;
            padding: 0 .04rem;
            background-color: #f25252;
            border-radius: .1rem;
            right: .13rem;
            top: .22rem;
        }
    }
}

/* 右侧 */
.msg-operation {
    padding: .12rem .2rem;

    &.hidden+.msg-lists {
        height: calc(100% - .6rem);
    }
}

.msgopera {
    &-tab-container {
        padding-right: .4rem;
        height: .6rem;
        line-height: .6rem;

        .msg-clearall {
            width: .38rem;
            height: .3rem;
            background: url("../images/icon-msg-clearall.png") no-repeat center;
            background-size: .38rem .3rem;
            margin-top: .16rem;
            cursor: pointer;
        }
    }

    &-tab {
        font-size: .18rem;
        font-weight: bold;
        color: #96c4d1;
        margin: 0 .2rem;
        cursor: pointer;

        &.active {
            color: #eaffff;
            background: url("../images/msgopera-tab-hover.png") no-repeat center .35rem;
            background-size: 1.16rem .18rem;
        }
    }
}

.msg {
    &-content {
        height: 100%;
    }

    &-lists {
        padding: 0 .08rem .2rem .2rem;
        margin-right: .2rem;
        height: calc(100% - .6rem - .6rem);
        overflow: auto;
        box-sizing: border-box;

        &.no-data {
            background: url("../images/nodata.png") no-repeat center;
            background-size: 1.2rem 1.2rem;
        }
    }

    &-time-item {
        text-align: center;
        height: .28rem;
        background: url("../images/bg-msg-time-item.png") no-repeat center;
        background-size: 1.47rem .28rem;
        color: #465a7d;
        margin: .2rem 0;
    }

    &-item {
        padding: .16rem;
        border-radius: .04rem;
        background-color: rgb(18, 65, 86);
        color: #eaffff;

        margin-top: .2rem;

        &.isfeedback {
            .feedback {
                display: block;
            }

            .msg-item-operation {
                display: none;
            }
        }

        .warn {
            color: #f25252;
        }

        &-head {
            line-height: .18rem;

            .name {
                font-size: .18rem;
                font-weight: bold;
                margin-right: .12rem;
                color: #fff;
            }

            .tips {
                color: #fa5f5f;
            }

            .date {
                color: #589aa2;
            }

            .tag {
                margin-top: -.03rem;

                &-item {
                    margin-right: .1rem;
                    width: .26rem;
                    height: .26rem;
                    text-align: center;
                    line-height: .24rem;
                    border: .01rem solid #000;
                    box-sizing: border-box;

                    &.supervise {
                        color: #f2b059;
                        border-color: #d67a02;
                        background-color: rgba(214, 122, 2, .46);
                    }

                    &.priority {
                        color: #a6d6a6;
                        border-color: #6bb96a;
                        background-color: rgba(107, 185, 106, .46);
                    }
                }
            }
        }

        &-content {
            line-height: .25rem;
            max-height: .5rem;
            overflow: hidden;
            margin: .18rem 0;
            color: #eaffff;
        }

        &-operation {
            .mini-button {
                margin-right: .1rem;
            }

            .lgnore-btn {
                width: .2rem;
                height: .26rem;
                background: url("../images/icon-lgnore.png") no-repeat center;
                background-size: .2rem .11rem;
            }
        }

        &-info {
            margin: .12rem 0;

            &>li {
                width: 50%;
                line-height: .3rem;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;

            }
        }
    }
}

/* 反馈信息 */
.feedback {
    display: none;
    border-top: 1px solid #175a78;

    &-title {
        color: #eaffff;
        line-height: .42rem;
        margin-top: .02rem;
    }

    .mini-textarea {
        width: 100%;
        height: .7rem;
        margin-bottom: .16rem;
    }

    .mini-button {
        margin-right: .1rem;
    }
}

/* 已反馈列表 */
.feedback {
    &-list {
        color: #6ebdc6;
        border-top: 1px solid #175a78;
        margin-top: .14rem;
    }

    &-item {
        padding: .05rem 0 .08rem;
        border-bottom: 1px solid #175a78;

        &:nth-child(n+3) {
            display: none;
        }

        &-head {
            line-height: 2.5;

            &>span {
                margin-right: .05rem;
            }
        }

        &-content {
            line-height: .26rem;
            max-height: .52rem;
            overflow: hidden;
        }
    }

    &-more {
        text-align: center;
        padding-top: .12rem;
        line-height: 1;

        &-btn {
            color: #62d0f6;
            background: url("../images/icon-feedback-more.png") no-repeat center right;
            background-size: .12rem .06rem;
            padding-right: .18rem;
            &.fold {
                color: #62d0f6;
                display: none;
            }
        }
    }

    &-detail {
        display: none;

        &.showall {
            height: auto !important;

            .feedback-more-btn {
                display: none;
                &.fold {
                    display: inline-block;
                    background: none;
                }
            }

            .feedback-item {
                display: block;
            }
        }
    }
}

/* 关注指标信息 */
.normopera {
    &-container {
        padding: .2rem .2rem 0;
        height: 100%;
        box-sizing: border-box;
    }

    &-list {
        height: calc(100% - .5rem);
        margin-top: .14rem;
        overflow: auto;
        padding-right: .1rem;
    }

    &-item {
        width: calc(50% - .1rem);
        height: 1.19rem;
        box-sizing: border-box;
        border: 1px solid transparent;
        border-radius: 4px;
        background-color: rgb(18, 65, 86);
        margin-bottom: .2rem;
        padding: .16rem;
        transition: all .2s;
        cursor: pointer;
        box-shadow: inset 0 0 .3rem rgba(55, 176, 236, .3);

        &:nth-child(even) {
            margin-left: .2rem;
        }

        &:hover,
        &.active {
            border-color: #37b0ec;
        }

        .title {
            font-size: .18rem;
            font-weight: bold;
            line-height: 1;
            margin-bottom: .1rem;
        }

        .info {
            color: #eaffff;
            line-height: .3rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}