/* EpContextMenu */
.ep-context-menu img {
    border: 0;
}
.ep-context-menu ul {
    list-style: none;
}
.ep-context-menu {
    position: absolute;
}
.ep-context-menu .cm-btn-icon {
    margin-right: 5px;
    width: 1.23em;
    height: 1.23em;
    vertical-align: text-top;
    border: none;
}
.ep-context-menu .cm-btn-text {
    display: inline-block;
}
.ep-context-menu .menu {
    border: 1px solid #b8cbcb;
    box-shadow: 2px 2px 5px #666;
    background-color: #fff;
    padding: 0.1em 0 0;
}
.ep-context-menu .sep {
    height: 0;
    border-top: 1px solid #acacac;
    border-bottom: 1px solid #f1f1f1;
}
.ep-context-menu .cm-item {
    margin-bottom:3px;
}
.ep-context-menu .has-menu {
    position: relative;
}
.ep-context-menu .has-menu > .cm-btn-default {
    background: url(data:image/gif;base64,R0lGODlhDwAJAJEAADMzM////////wAAACH5BAEHAAIALAAAAAAPAAkAAAISlI9poC3AHIJRPmpvlTAvDxoFADs=) no-repeat right center transparent;
}
.ep-context-menu .has-menu > .cm-btn-disabled {
    background: url(data:image/gif;base64,R0lGODlhDwAJAJEAAJmZmf///////wAAACH5BAEHAAIALAAAAAAPAAkAAAISlI9poC3AHIJRPmpvlTAvDxoFADs=) no-repeat right center transparent;
}
.ep-context-menu .has-menu .sub-menu {
    position: absolute;
    top: 0px;
    left: 93px;
}
.ep-context-menu .cm-btn {
    line-height: 1.5;
    text-decoration: none;
    color: #000;
    font-size: 12px;
    padding: 0.4em 1.8em 0.4em 0.5em;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    transition: all 0.1s ease-in;
}
.ep-context-menu .cm-btn-default:hover {
    background-color: #348CCC;
    color: #fff;
}
.ep-context-menu .cm-btn-disabled {
    background: #f8f8f8;
    color: #999;
    cursor: no-drop;
}
.ep-context-menu .cm-btn-active {
    background-color: #5E4BD8;
    color: #fff;
    box-shadow: 0 0 5px rgba(25, 7, 115, 0.7) inset;    
}